[2022-02-12 08:52] danagbemava commented on #1099
I would like to work on this

[2022-02-12 08:59] monsieurtanuki commented on #1099
Hi @danagbemava!
Usually I just assign myself before starting developing.

[2022-02-12 09:01] monsieurtanuki commented on #1099
...but if there are too many things that are unclear, I prefer to comment first with uneasy questions.
(which is not the case here)

[2022-02-12 09:02] danagbemava commented on #1099
The option to assign myself doesn't appear for me for some reason

[2022-02-12 09:10] M123-dev commented on #1099
One thing to keep in mind here @danagbemava is where to put the SafeArea, I think it would be good if we still have the CameraPreview filling the whole screen, but thats just a nice to have and it likely needs a bit more work

[2022-02-12 09:14] monsieurtanuki commented on #1099
@M123-dev @danagbemava Let's keep it simple, we're not Photoshop, the use case is scanning barcodes in a supermarket, not sunsets in the Alps: I'm sure the end users can tolerate not to be full screen.

[2022-02-12 09:42] sentry[bot] opened #1121 "PlatformException: PlatformException(Exception encountered, read, javax.crypto.BadPaddingException: error:1e000065:C..."
Sentry Issue: [SMOOTHIE-SZ](https://sentry.io/organizations/openfoodfacts/issues/2988823156/?referrer=github_integration)

[code]

[2022-02-12 09:44] M123-dev commented on #1121
So what happend is: I logged in on the playstore version and then installed a debug apk with flutter run which has overwritten the old one which probably causes the decryption to fail.
We should catch these kind of erros, delete the credentials and show a snackbar that you got logged out

[2022-02-12 09:50] monsieurtanuki commented on #1121
@M123-dev It's a developer's problem, not a real life one. I'm surprised flutter even allowed you to overwrite a version: Android would not mix a Play Store and a dev version and would not install.

[2022-02-12 10:42] M123-dev commented on #1121
No really overwriting, it is like a new install but it keeps the app data but removes all references to the playstore etc and since the decryption fails we can see that its still secure, but maybe this also happens in other cases for example when someone migrates all data to a new phone or something so a little check does no harm

[2022-02-12 11:08] danagbemava commented on #1099
I think I've come up with a simple enough fix. Let me know what you think of this

| after | before |
| -- | -- |
| ![photo_2022-02-12 11 06 22](https://user-images.githubusercontent.com/52815643/153708817-2cec9e04-b856-4ff0-9734-a1bbb46025ac.jpeg) |  ![photo_2022-02-12 11 06 18](https://user-images.githubusercontent.com/52815643/153708827-359803ab-8c82-48f5-8d7f-8a795abcd07c.jpeg) |

[2022-02-12 11:13] M123-dev commented on #1099
Looks good @danagbemava 👍🏼

[2022-02-12 12:00] M123-dev opened #1126 "More appealing empty history screen"
### What
- Just this small centered text doesn't look friendly for someone who opened the app for the first time
- From the mocks:

![Screenshot 2022-02-12 125737](https://user-images.githubusercontent.com/39344769/153710381-fc564c5c-bdda-4cc4-8799-4fbff1d80386.png)

[2022-02-12 12:02] M123-dev opened #1127 "Display hint messages if the preferences are the standard ones"
- [ ] There should definitely be a way to discard them

- ![Screenshot 2022-02-12 130050](https://user-images.githubusercontent.com/39344769/153710466-35f91460-3fec-4d1d-ba76-142f0f54a526.png)

[2022-02-12 12:10] monsieurtanuki commented on #1127
A "Got it!" button would do the job.

[2022-02-12 12:25] teolemon commented on #1127
Those mockups didn't reach consensus. The rationale for something like that was that people were not customizing, indeed

[2022-02-12 12:31] monsieurtanuki commented on #1060
Thank you @M123-dev, but I managed to PR this morning (another PR, though).
I guess something went wrong the other day with my Android Studio, which caused a flaw in the git for that precise PR. So far, I haven't experienced other problems on different PRs.

[2022-02-12 12:53] M123-dev opened #1128 "Wrong colored create account button"
### What

![Screenshot_20220212-135309.jpg](https://user-images.githubusercontent.com/39344769/153712189-0e1e493a-6eab-4f61-9c36-e815afb6430f.jpg)

[2022-02-12 12:57] M123-dev opened #1129 "Product page: images disappear too early when scrolling the screen"
### What
- Product page: images disappear too early when scrolling the screen

https://user-images.githubusercontent.com/39344769/153712299-5fca99fc-ea8d-47e0-a2a4-c244c14a80d8.mp4

[2022-02-12 13:16] monsieurtanuki commented on #1129
@M123-dev You mean something like a [`SliverAppBar`](https://www.youtube.com/watch?v=mSc7qFzxHDw)?

[2022-02-12 13:18] M123-dev commented on #1129
No, when you look closely at the images, they dissapear before they completely left the screen

[2022-02-12 13:20] monsieurtanuki commented on #1129
OK, I see. We can survive with that bug.

[2022-02-12 13:50] monsieurtanuki commented on #1117
@teolemon That's not that simple, UX-wise. I guess you expect "History" to be sorted anti-chronologically, which makes no sense in the "tabs" mode.
My suggestion: a FAB.

[2022-02-12 13:51] monsieurtanuki commented on #1116
Fixed by #1123.

[2022-02-12 13:53] #1013 closed, assigned to monsieurtanuki

[2022-02-12 13:56] monsieurtanuki commented on #1106
Fixed by #1107.

[2022-02-12 13:56] #1106 closed, assigned to stephanegigandet

[2022-02-12 14:14] monsieurtanuki commented on #812
Could also be tested on [3257983120325/test-4](https://world.openfoodfacts.org/product/3257983120325/test-4)

[2022-02-12 14:34] monsieurtanuki commented on #1060
@stephanegigandet Back to default being "important" ECOSCORE, NUTRISCORE and NOVA and that's it then?

[2022-02-12 14:52] monsieurtanuki commented on #1116
Fixed by #1123.

[2022-02-12 14:52] #1116 closed, assigned to monsieurtanuki

[2022-02-12 16:18] teolemon opened #1136 "Leverage sub-knowledge panels towards the road to Scores"
### What

- [ ] Leverage sub-knowledge panels towards the road to Scores
- [x] This probably requires server side hints for editing

### Mockup
<img width="784" alt="image" src="https://user-images.githubusercontent.com/1689815/153719154-5dd792cc-2e47-4b8e-b9a2-74fc49f186de.png">

### Why
- The user should never be in a dead end.

### How
The API should be available on the .net and .org server
- h

[2022-02-12 16:26] monsieurtanuki commented on #812
Done by #1135.

[2022-02-12 16:26] #812 closed, assigned to monsieurtanuki

[2022-02-12 16:54] monsieurtanuki opened #1137 "Serving size: don't display the dropdown if no serving size or serving size = 100g"
![Simulator Screen Shot - iPhone 8 Plus - 2022-02-12 at 17 52 57](https://user-images.githubusercontent.com/11576431/153720361-12d31246-baee-4072-9ce3-7f346eb41f49.png)

[2022-02-13 08:38] #1109 closed, assigned to M123-dev

[2022-02-13 09:03] #1115 closed, assigned to M123-dev

[2022-02-13 09:08] M123-dev opened #1139 "Product carousel improvements"
### What
- [x] Scanning a product should scroll to the scanned product
- [x] Strange spinning/reordering effect when opening a product page
- [x] The carousel should not reorder at all

[2022-02-13 09:11] M123-dev commented on #1093
Is fixed by now, was probably just a temporary error after the flutter upgrade

[2022-02-13 09:11] #1093 closed, assigned to nobody

[2022-02-13 10:36] M123-dev commented on #1099
Fixed by @danagbemava in #1130

[2022-02-13 10:36] #1099 closed, assigned to danagbemava

[2022-02-13 12:15] monsieurtanuki commented on #891
@danagbemava @M123-dev It's fixed now, isn't it?

[2022-02-13 12:27] danagbemava commented on #891
@monsieurtanuki, yes, this is fixed

[2022-02-13 12:28] monsieurtanuki commented on #891
Fixed by #1105.

[2022-02-13 12:28] #891 closed, assigned to danagbemava

[2022-02-13 15:07] teolemon commented on #1137
- [ ] We should probably have a "Road to serving size", if nutrition is inputed, but serving size is not

[2022-02-13 15:10] teolemon opened #1141 "Add a "Help complete serving size" button if nutrition is inputed but serving size is not"
### 🎨 Design
This needs to be mocked up. Please do not proceed until we reach a design agreement in this issue, and we have a mockup.

### Why
- #1137

### What

- [ ] Add a "Help complete serving size" button if nutrition is inputed but serving size is not
- [ ] We should open a bug server side for a new boolean "Serving size is not mentioned on the packaging"
- [ ] Blocked on #2522
### Why
- [ ]

[2022-02-14 12:43] monsieurtanuki commented on #1141
@teolemon You seem to be talking about the product page ("dropdown"), but in the nutrition page I guess we could also put an ElevatedButton (again!) for the serving size when it's not populated.

[2022-02-14 14:10] monsieurtanuki commented on #309
Now that we have an onboarding process we could add it there, but that would mean an extra page. Or in the "select country" page?
Regardless, we should put both booleans in the preferences. The only thing we would need is to implement the actual enable/disable switch.

[2022-02-14 14:39] M123-dev commented on #309
Yes @monsieurtanuki definitely, currently playing around with implementing the basic tracking, I only see a problem for Sentry because it is initialized in the main method and probably should be.

[2022-02-14 14:39] M123-dev commented on #309
Yes @monsieurtanuki definitely, currently playing around with implementing the basic tracking, I only see a problem for Sentry because it is initialized in the main method and probably should be.

[2022-02-14 15:30] monsieurtanuki commented on #309
I couldn't find a way to disable Sentry - have you?

[2022-02-14 16:04] M123-dev commented on #309
Me neither, but I just found something in the document which could help:

https://docs.sentry.io/platforms/flutter/configuration/options/#before-send

[2022-02-15 12:06] sentry[bot] opened #1143 "#1 issue in Production: _CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-SR](https://sentry.io/organizations/openfoodfacts/issues/2948552256/?referrer=github_integration)

[code]

[2022-02-16 15:09] teolemon opened #1145 "Add support for openfoodfacts.dev (and possibly totally custom like localhost/) in Dev Settings"
### What
- Add support for openfoodfacts.dev (and possibly totally custom like localhost/) in Dev Settings
- Unsure if the change needs to happen in openfoodfacts-dart or here

### Part of
- #833

[2022-02-17 20:38] teolemon opened #1149 "Allow accessing the knowledge base from the app"
### What

- [ ] Add support for the knowledge base as a new section in the settings called FAQ
- [ ] https://support.openfoodfacts.org/help/en-gb
- [ ] https://support.openfoodfacts.org/help/fr-fr

[2022-02-17 21:04] M123-dev commented on #1149
Is there an api, or should we just provide a link to the website

[2022-02-17 21:08] teolemon commented on #1149
it seems there might be an undocumented api, so at this point, a link seems enough.

[2022-02-18 16:01] #309 closed

[2022-02-18 16:21] #1092 closed, assigned to M123-dev

[2022-02-18 17:37] #1004 closed, assigned to M123-dev

[2022-02-18 18:08] M123-dev commented on #501
@teolemon @monsieurtanuki

Regarding asking for user consent:

- two checks (Bug reports / Analytics)
- or just one for both

[2022-02-18 18:52] #999 closed, assigned to M123-dev

[2022-02-18 18:55] monsieurtanuki commented on #501
I have no strong opinion about that. In that case I would check what they do on "standard" apps.
In France the official covid app ("Tous Anti Covid") there's just one switch for statistics:
![Screenshot_2022-02-18-19-52-34](https://user-images.githubusercontent.com/11576431/154744673-2ebcf52f-2002-4192-ae77-e60694b67876.png)
And now that I'm thinking, on every app that crashes, there's some kind o

[2022-02-18 19:26] teolemon commented on #501
- Frankly analytics and debugging are not the same, so 2 buttons if that's not more complex IMO.
- I'd rather not introduce a manual step for bug reports though.

[2022-02-18 20:10] teolemon opened #1152 "The app is stuck on launch screen"
### What
The app is stuck on launch screen (latest develop, android)

[2022-02-18 20:19] M123-dev commented on #1152
Can reproduce

[2022-02-18 20:42] M123-dev commented on #1152
But not in debug builds, lets try it with #1153

[2022-02-19 15:15] teolemon commented on #1152
Still here

[2022-02-19 23:23] teolemon commented on #1152
fixed @M123-dev 👍

[2022-02-19 23:23] #1152 closed, assigned to nobody

[2022-02-20 10:32] M123-dev commented on #1145
We already have support for changing in off-dart and we can switch between .org and .net in the dev settings, so just this is just a little enhancement

[2022-02-20 10:35] M123-dev commented on #817
Do we have any logs

[2022-02-20 10:37] M123-dev commented on #840
It is probably not difficult to add another qr_code_card which is just a bit more compfort for the user, everything is better then just showing nothing if we scan barcodes non the less

[2022-02-20 10:39] M123-dev commented on #840
Also we could call UrlLauncher.canLaunch and if true even allow to open the barcode link

[2022-02-20 12:56] sentry[bot] opened #1155 "MissingPluginException: MissingPluginException(No implementation found for method vision#startBarcodeScanner on channel g..."
Sentry Issue: [SMOOTHIE-T3](https://sentry.io/organizations/openfoodfacts/issues/3026535849/?referrer=github_integration)

[code]

[2022-02-20 12:57] teolemon commented on #817
Candidates:
- https://github.com/openfoodfacts/smooth-app/issues/837
- https://github.com/openfoodfacts/smooth-app/issues/1155

[2022-02-20 15:34] teolemon opened #1156 "Finish implementing the category picker to enable Nutri-Score and Eco-Score computation"
### What
- category >> Category
- Add a confirmation step before saving
  - Potentially, we'll have several categories, which checkbox carry slightly better.
- The division lines are helpful to convey hierarchy and the ability to deep dive (like in a File Explorer)
- The tags on top (with the already selected cats), and the ability to search within the full tree are useful for power users and peop

[2022-02-20 16:58] monsieurtanuki commented on #1156
For the record, my goal in #944 / #1148 was not to override @gspencergoog's #987.

[2022-02-20 19:09] teolemon commented on #1156
I am sorry about the conflicts caused. I've just tried rebase, but I'm too unsure about how to resolve the last conflict traversed.

[2022-02-21 07:22] monsieurtanuki commented on #1156
@teolemon This morning I've just pulled the latest version of `develop` and could see that #1148 was merged, with no conflict.
Not related: could you provide me with examples of products that have more than 1 category?

[2022-02-21 17:27] teolemon commented on #1156
eg: frozen foods + green peas
eg: New category we don't know about + More generic category we know about
It's not a problem going away anytime soon

[2022-02-21 17:28] teolemon commented on #1156
- I was referring to #987, which has merge conflicts

[2022-02-21 20:12] monsieurtanuki commented on #1156
The conflicts come from when we (re)moved smooth_ui_library to the smooth_app package.

[2022-02-22 07:28] monsieurtanuki commented on #1156
Got it.

By the way on the website the end-user just types in a category name: no tree, no refined "even better category" search.
How do you expect the smoothie end-user to do more things than on the website, with less space?

We should rather implement first the "type in / search" feature in order to match the website, shouldn't we?

[2022-02-22 07:41] teolemon commented on #1156
@monsieurtanuki https://dartpad.dev/?null_safety=true&id=cb5e409e20da3e221218e18361f16f4c

[2022-02-22 07:43] teolemon commented on #1156
I would probably add autocompletion in the topbar of that demo pad by @gspencergoog

[2022-02-22 07:57] monsieurtanuki commented on #1156
@teolemon I've already seen what @gspencergoog's category filter look like, I just don't think it is appropriate for categories:
1. I do not think we can be in the case of several siblings being checked at the same time, that's why I prefer radio buttons to check boxes
2. each line ends with a "children" button even when there's no child - that could at least be fixed
3. from what you wrote earlie

[2022-02-22 09:57] teolemon commented on #1156
1.  I do not think changing the form of the controls should be the prime system (beyond the fact that I do not like Radio buttons). The right way would probably to trigger a warning on double select at the same level. This point does not matter much to me at this point.
2. Yes, you are right.
3. Yes, delving in the hierarchy is something that will be done in some cases, and searching is the second

[2022-02-22 16:20] teolemon opened #1158 "Implement an analytics consent UI"
### What
- Implement an analytics consent UI
- [x] #1222
- [x] Checkbox in settings ?

### Screenshots
<img width="269" alt="image" src="https://user-images.githubusercontent.com/920265/89418188-0590d000-d730-11ea-8715-12d13909528b.jpg">

<img width="269" alt="image" src="https://user-images.githubusercontent.com/920265/88455741-37747d80-ce78-11ea-8527-2dda1c2cc9c2.png">
<img width="269" alt="imag

[2022-02-22 16:42] teolemon opened #1159 "bad rendering of the sub-knowledge panel on ingredient analysis"
### What
- bad rendering of the sub-knowledge panel on ingredient analysis

### Steps to reproduce the behavior
1. Use the development server from the development mode
2. Open a product with ingredient analysis
3. Open the knowledge panel
4. Compare web and app output

### Part of
- #499

### Screenshot/Mockup/Before-After
<img width="813" alt="image" src="https://user-images.githubusercontent.com

[2022-02-22 17:04] M123-dev commented on #1158
What do you prefer @teolemon, in or after

[2022-02-22 17:35] monsieurtanuki commented on #1156
My latest suggestion:
![Simulator Screen Shot - iPhone 8 Plus - 2022-02-22 at 18 33 39](https://user-images.githubusercontent.com/11576431/155186773-8f541b8f-da3e-4c2b-9773-3e1edf86670c.png)

[2022-02-22 17:38] teolemon commented on #1158
Mehh, possibly in the onboarding.
The tunnel effect is already there without it, I need to think thoroughly about it, and how we can dissolve it.

[2022-02-22 18:04] teolemon commented on #1156
So:
- Your UI is good, interesting and to the point for the specific use case of category refinement, and it mirrors some other UIs I have seen.
- The category picker (whose name should really be the tag picker, with a category config) was designed to be versatile, with #1075 in mind (using it for Stores, Labels, Packaging shapes, Packaging materials, Brands, Origins, countries of sales, since it'

[2022-02-22 18:31] monsieurtanuki commented on #1156
Thank you @teolemon for your comments.
I had understood the purpose of the tag picker, and my latest UI could also adapt to any taxonomy with name, parents and children. The fact that the "conflicted" version was not merged is probably not a good sign: good things were done but eventually the UX was unfortunately not there. Believe me, if I could implement all the taxonomies with the previous tag

[2022-02-23 07:41] monsieurtanuki commented on #1156
With an autocomplete text search:
![Simulator Screen Shot - iPhone 8 Plus - 2022-02-23 at 08 40 54](https://user-images.githubusercontent.com/11576431/155278346-6ee5164c-6fc1-422d-a44f-3c37a76493f8.png)

[2022-02-23 11:34] teolemon opened #1160 "Allow to initiate account deletion from the app"
### What

- [ ] Allow to initiate account deletion from the app
  - [x] Minimal version: Link in settings, pre-filling an email to contact@openfoodfacts.org
  - [ ] server side issue for the longer term fix: https://github.com/openfoodfacts/openfoodfacts-server/issues/6435

`
Account deletion within apps
App Store Review [Guideline 5.1.1](https://developer.apple.com/app-store/review/guidelines/#5.

[2022-02-23 14:48] teolemon opened #1161 "Add a full edit mode"
### Who for
- Power users
### What
- Add a full edit mode that combines all the editing components (that will also be accessible from more granular prompts)
- You could enter it from the bottom of the page.
- The save cancel buttons would be within the section, to keep the components identical to the already existing ones
### Mockup
[Link to Figma](https://www.figma.com/file/lhRhMulB4Ek9NYDWl3FxAo

[2022-02-23 18:08] monsieurtanuki commented on #1161
Not a big fan of this: the "^" icon on the right means a collapse/expand feature, which does not seem appropriate to me as each edit (e.g. categories) deserves a full screen. I cannot see how to collapse back when the expanded version has dozens of lines - for instance, it's already a bit messy in the preference page.

That said, if you replace each collapse/expand `ListTile` with an `ElevatedButt

[2022-02-24 08:34] monsieurtanuki commented on #1156
Regarding a unique generic tag picker, there are flaws:
1. some taxonomies have parents and children with deep levels (e.g. `TaxonomyCategory`), some don't at all (e.g. `TaxonomyAllergen`)
2. some taxonomies can obviously have co-checked siblings (e.g. `TaxonomyLabel`), for others it's rather the exception (e.g. `TaxonomyCategory`)

[2022-02-24 09:39] teolemon commented on #1156
- I have added mockups in #1075 for the various taxonomies
- You're right on both points, we probably need a configuration mode for which picker allow single/multiple values (I'm more thinking of the case of Packaging, where you build the packaging with pairs of 1 material and 1 shape.

[2022-02-24 14:36] monsieurtanuki commented on #1156
- I've just created issues https://github.com/openfoodfacts/openfoodfacts-dart/issues/394 and https://github.com/openfoodfacts/openfoodfacts-dart/issues/395.
Whoever is going to develop the tag picker will need at least one of those issues to be dealt with. Other probable needed features are getting the full hierarchy to the root from an item, or getting the full tree in one shot.

[2022-02-26 10:20] teolemon commented on #1161
Something like that @monsieurtanuki ?
<img width="375" alt="Edit mode - Delve" src="https://user-images.githubusercontent.com/1689815/155839503-fad72b16-0980-4859-91c5-f4471f8724d3.png">

[2022-02-26 10:22] teolemon commented on #1161
<img width="276" alt="image" src="https://user-images.githubusercontent.com/1689815/155839577-515957de-acc4-4340-a42d-aac2e675b4fc.png">

[2022-02-26 10:32] monsieurtanuki commented on #1161
@teolemon Exactly! Assuming that on that power user mode we open the same edit pages as we do in the normal product page.

[2022-02-26 10:50] teolemon commented on #1161
I've made one for packaging, and I'm redoing everything in the style
<img width="487" alt="image" src="https://user-images.githubusercontent.com/1689815/155840401-81315a85-50c3-47bf-809a-11c16140637a.png">

[2022-02-26 11:01] teolemon commented on #1161
<img width="594" alt="image" src="https://user-images.githubusercontent.com/1689815/155840724-9cb58ff7-386d-4f92-a476-ac15b69167d7.png">

[2022-02-26 11:16] monsieurtanuki commented on #1161
How each edit page should look like? That goes beyond the initial purpose of this issue.
But I agree with the concept of an additional power user page that gives access to all edit pages regarding a product.

[2022-02-26 11:21] teolemon commented on #1161
yes, indeed, the focus at this point is to have a way to access all sections of editing.

[2022-02-26 11:35] teolemon commented on #1161
- I've updated the issue accordingly, and I've pasted the full flows to #515 and #517

[2022-02-26 11:48] monsieurtanuki commented on #1161
@teolemon Then this issue is about:
* adding an "edit product" button at the bottom of the product page - assuming that a "power user" is just a user that feels the needs to edit a product (there's no official "hey I'm a power user!" tag, is there?)
* clicking on the button opens a page with the editable data as list view / list tile
* each click on a list tile will open a new page that is respons

[2022-02-26 12:59] teolemon commented on #1161
Everyone should have access to the edit mode, with a prompt to signup or login if you click on it without being logged in

[2022-02-27 17:13] monsieurtanuki commented on #1161
@teolemon I've just done it, but now I think that we miss the "edit" notion:
![Simulator Screen Shot - iPhone 8 Plus - 2022-02-27 at 18 07 39](https://user-images.githubusercontent.com/11576431/155892084-d56b789a-49b8-48e0-9dee-c6b47b43ee0d.png)

Perhaps it's better with a more explicit "edit" icon:
![Simulator Screen Shot - iPhone 8 Plus - 2022-02-27 at 18 09 07](https://user-images.githubusercon

[2022-02-27 17:16] teolemon commented on #1161
The last one might be the one (not too far from my left handed thumb)
Or rewording the first one "Edit labels" "Edit ingredients" …
Honestly, let's get the ball rolling + refine based on feedback

[2022-02-27 17:27] monsieurtanuki commented on #1161
OK, let's. For the record the button on the product page looks like this:
![Simulator Screen Shot - iPhone 8 Plus - 2022-02-27 at 18 26 52](https://user-images.githubusercontent.com/11576431/155892807-22ba50da-fcc8-470d-bfe5-05a3e5d4d881.png)

[2022-02-28 06:46] monsieurtanuki commented on #1161
Done in #1164.

[2022-02-28 06:46] #1161 closed, assigned to monsieurtanuki

[2022-02-28 11:34] teolemon opened #1165 "iPad Mini warning from Apple"
### What

ITMS-90901: Missing full-screen support for the latest iPad mini display. The “Runner.app” bundle includes UIRequiresFullScreen=YES in the Info.plist or supports only a subset of UISupportedInterfaceOrientations, and is built with the 14.5 SDK. To take advantage of the full screen size, recompile with Xcode 13 and the SDK for iPadOS 15 or later.

[2022-02-28 11:35] teolemon opened #1166 "Notification warning from Apple"
### What

ITMS-90078: Missing Push Notification Entitlement - Your app appears to register with the Apple Push Notification service, but the app signature's entitlements do not include the 'aps-environment' entitlement. If your app uses the Apple Push Notification service, make sure your App ID is enabled for Push Notification in the Provisioning Portal, and resubmit after signing your app with a

[2022-02-28 14:10] monsieurtanuki commented on #1166
@teolemon That's standard Apple vs flutter warning.
As we don't use push notification, we can ignore that. (I do)
cf. https://stackoverflow.com/questions/55167611/flutter-ios-app-submission-issue-warning-missing-push-notification-entitlement

[2022-02-28 14:58] monsieurtanuki commented on #954
Done in #1134.

[2022-02-28 14:58] #954 closed, assigned to monsieurtanuki

[2022-02-28 16:17] cli1005 commented on #1155
Issue has been reproduced on my mobile phone iOS (launched locally with current code, not via TestFlight), which might be caused by the package **_google_ml_barcode_scanner_**, since I manage to scan continuously by switching to **_google_ml_kit(0.7.3)_**, but configuration of Firebase in Podfile and AppDelegated.swift are necessary to make it work.

**_google_ml_barcode_scanner_** might be an old

[2022-03-01 12:04] M123-dev commented on #1155
Thanks for sharing @cli1005, yes **_google_ml_barcode_scanner_** is indeed a version of  **_google_ml_kit_** but it excluded all the other ML-Kit features in favour of the app size. Did you test  **_google_ml_barcode_scanner_** with Firebase set up, this would save a lot time

[2022-03-01 15:21] monsieurtanuki commented on #1155
@M123-dev I've lost the thread, but I believe that currently we support 2 different scanners. I assume that it was for good reasons, e.g. the first one not working properly or the second proposing interesting features.
Could we imagine to use scanner 1 for Android and scanner 2 for iOS, given the stack of issues, or is it never as simple as "scanner _x_ always works on platform _y_ but not always

[2022-03-01 15:37] monsieurtanuki commented on #515
@teolemon We cannot do that for the moment for several reasons:
1. the packaging data does not look like that in `Product` - basically it's just a `List` of tags or labels, without structure
=> we would need a new corresponding issue to be created on off-dart, or perhaps even on the server side
2. again, I'm not a big fan of those trees - if you get (just) the root packagings like in https://world

[2022-03-01 16:48] M123-dev commented on #1155
@monsieurtanuki when I remeber right then both had some flaws on iOS, the old one's github repo (of the native library used) is archived so no bug fixes there, the best thing would be to fix this one here. The problem is just that I have no way to debug/reproduce so it's mostly about guessing

[2022-03-01 17:20] monsieurtanuki commented on #1155
@M123-dev Understood. What about trying [`mobile_scanner`](https://pub.dev/packages/mobile_scanner) (39 likes, 130 pub points, 82% popularity), which is very active ("published 5 days ago") and seems to be focusing on barcodes using ml? It sounds better  than [`google_ml_barcode_scanner`](https://pub.dev/packages/google_ml_barcode_scanner) (1 like, 120 pub points, 71% popularity, published 4 month

[2022-03-01 18:48] M123-dev commented on #1155
@monsieurtanuki sadly it's not as easy as that since we need a lot of customization. I did a comparison in January which can be found [here](https://docs.google.com/document/d/1nxjyZD8NKM28w1J5LPhMybIRiw1t-31gB3mq39XtFxw/edit#heading=h.s3xv8c6qd2v0)

As for `mobile_scanner` it uses ML-Kit which is certainly good for performance but doesn't  support much customization out of the box, also it's just

[2022-03-01 20:16] monsieurtanuki commented on #1155
@M123-dev Thank you for your explanations.

I guess that if developers used it and found it remotely interesting, it would have more than 1 like after more than 4 months... There are only 2 releases in [`google_ml_barcode_scanner`](https://pub.dev/packages/google_ml_barcode_scanner/changelog):
* `0.0.1 Initial release`
* `0.0.2 Added missing exports` (4 months ago)

That's not what I call a very a

[2022-03-02 11:02] cli1005 commented on #1155
Yes, I modified the file **_ios/Podfile_**, **_ios/Runner/AppDelegate.swift_**, and added a plist file **_GoogleServices-Info.pist_** in **_ios/Runner_** folder as mentioned in this reply : [https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/172#issuecomment-1000058604](https://github.com/bharat-biradar/Google-Ml-Kit-plugin/issues/172#issuecomment-1000058604)
- ios/Podfile

target 'Runn

[2022-03-02 15:50] M123-dev commented on #1155
That's unfortunate @cli1005 but I am unsure what this is caused by.

The package doesn't include the old firebase scanner (Firebase/MLVision or Firebase/MLVisionBarcodeModel) but only the new mlkit barcode scanner (GoogleMLKit/BarcodeScanning) and on the official guide for it there is nothing about adding a firebase project. https://developers.google.com/ml-kit/vision/barcode-scanning/ios?hl=en

S

[2022-03-02 15:50] M123-dev commented on #1155
That's unfortunate @cli1005 but I am unsure what this is caused by. The package doesn't include the old firebase scanner (Firebase/MLVision or Firebase/MLVisionBarcodeModel) but only new mlkit barcode scanner (GoogleMLKit/BarcodeScanning) and on the official guide for it there is nothing about adding a firebase project. https://developers.google.com/ml-kit/vision/barcode-scanning/ios?hl=en

So its

[2022-03-03 10:39] teolemon commented on #1073
Here are more detailed mockups
<img width="569" alt="image" src="https://user-images.githubusercontent.com/1689815/156548271-5c281ff8-facb-4182-9146-e1a38c98ed2b.png">

[2022-03-03 17:14] M123-dev commented on #847
Is fixed since I removed the old native image editing plugin which restricted access to this

[2022-03-03 17:14] #847 closed, assigned to M123-dev

[2022-03-03 17:16] M123-dev opened #1171 "UI/UX fine tuning (tracker)"
### UI Components to be built:

### UI/UX issues to be solved:

### Solved
### Part of
- #525

[2022-03-03 17:17] M123-dev opened #1172 "History tab `AppBar` color does not fit theme color"
### What

- [ ] History tab `AppBar` color does not fit theme color

[2022-03-03 17:17] M123-dev opened #1173 "History tab compare: show deactivated "Compare 0 products" instead of nothing"
### What
- History tab compare: show deactivated "Compare 0 products" instead of nothing

[2022-03-03 17:18] M123-dev opened #1174 "Add `SmoothAnimatedColapseArrow` (local widget) to the sections in the settings"
### What
- [ ] Add `SmoothAnimatedColapseArrow` (local widget) to the sections in the settings
- [ ] we already have a prebuild widget `SmoothAnimatedColapseArrow`, but on the Profile/Settings page we currently don't use it, just normal Icons. the issue is about switching to the animated one
### Part of
- #960

[2022-03-03 17:22] M123-dev opened #1175 "Replace product page `AppBar` with floating back button"
![grafik](https://user-images.githubusercontent.com/39344769/156617961-9f6e2320-58c2-471f-8f3b-87cc519f6b14.png)

[2022-03-03 17:24] M123-dev opened #1176 "🧪 Add more tests (Tracker)"
### What

### Tasks
- [ ] https://github.com/openfoodfacts/smooth-app/issues/761
- [x] #1239
- [ ] Create tests for the scanner
- [ ] Create a test for product addition
- [ ] Create tests for product edition
- [ ] Expand screenshot (golden) tests to new pages
- [ ] Add [integration testing](https://docs.flutter.dev/cookbook/testing/integration/introduction)
- [ ] Create tests for product nutrition

[2022-03-03 17:30] M123-dev opened #1177 "Crop image programatically before scanning"
### What
- Resize the image in `mk_kit_scan_page,dart -> _processCameraImage()` , to only scan the upper part
- To not block the main thread it would be good to do this in a isolate
- There should be a way a easy way to deactivate the resizing to measure the performance difference
- [This package](https://github.com/brendan-duncan/image) could be worth checking out

### Part of
- https://github.co

[2022-03-03 17:48] monsieurtanuki commented on #1175
@M123-dev If I remember well there are useful menu items on the product page, like "product refresh" and "go to website".
Whoever is going to fix this issue will have to discard those features or move them somewhere else: in a bottom bar?
And for Android developers, remember that the back button icon is different on iOS ;)

[2022-03-04 08:44] monsieurtanuki commented on #1177
@M123-dev I've quickly had a look at ` _processCameraImage()`, and here are some suggestions (while I know nothing about scan and camera...):
* I haven't seen anything related to the the actual "little scan rectangle" - wouldn't we be better off just restricting the process to that area? (smaller than the full screen)
* I believe the critical part is the "image to buffer" part - to be confirmed by

[2022-03-04 11:28] M123-dev commented on #1177
Yes @monsieurtanuki this is right. I'd rather choose to only use the upper part of the  image, this is probably easier to do and doesn't restrict as much.
My idea was to crop the image with maybe this package: https://github.com/brendan-duncan/image, but only using the right bytes would be way better, the only problem is how to decide which bytes to take

[2022-03-04 11:30] M123-dev opened #1180 "Issue labeler workflow is broken knowledge panel"
https://github.com/openfoodfacts/smooth-app/runs/5421482475?check_suite_focus=true

@teolemon

[2022-03-04 12:24] M123-dev commented on #1155
I found another intersting fact, 85.96% of the occurrences happen on iOS simulator. But since we stopped sentry for debug builds a bit ago they stopped coming in. But there are still some reports coming in from real devices

[2022-03-04 12:31] monsieurtanuki commented on #1177
@M123-dev Let me have a look at that crop part.
Once you've understood the data structure, it's very easy to crop, it's like skipping bytes for each row:
[code]

[2022-03-04 18:09] monsieurtanuki commented on #1177
I confirm that cropping looks easy from what I read in [wikipedia](https://en.wikipedia.org/wiki/YUV#Y′UV420p_(and_Y′V12_or_YV12)_to_RGB888_conversion).
Working on it...

[2022-03-04 19:00] M123-dev commented on #1177
If you say so @monsieurtanuki , I've only skimmed the article, but I have to say for me with physics major it doesn't look exactly easy. I'm really look forward to the PR

[2022-03-05 11:27] teolemon commented on #1180
fixed

[2022-03-05 11:27] #1180 closed, assigned to nobody

[2022-03-06 10:22] monsieurtanuki commented on #1177
@M123-dev Actually we don't even know why exactly the phones heat up. Possible reasons:
1. the camera itself with its stream of data
2. when we receive an image, the pre-process part
3. when we pre-processed the image, the actual barcode scan

I'm about to improve my PR (#1184) in order to have clearer minds. And this is going to be a new parameter in the dev mode where we can decide:
1. we don't

[2022-03-06 10:31] M123-dev commented on #1177
Sounds like a good plan @monsieurtanuki, just ping me when you are done and I'll have a look

[2022-03-06 11:31] M123-dev commented on #709
Is this still a thing, it works for me

[2022-03-06 11:33] M123-dev commented on #709
And to the "More interesting photos" @jasmeet0817, when I understood it correctly this is a section of a product which isn't shown on product pages, only for power users to be able to make better edits or alike but not intended for nomal users, so the image shouldn't be shown there either way. Am I right @stephanegigandet ?

[2022-03-06 11:35] teolemon commented on #709
Yes, exactly, and also for the use of Robotoff, so that we can detect additional things.

[2022-03-06 17:39] monsieurtanuki opened #1185 "Smoother splash screen: skip the endless progress part"
**Is your feature request related to a problem? Please describe.**
When we start the app, there's a splash screen, then a circular progress indicator, then the app.
With the latest version of [`flutter_native_splash`](https://pub.dev/packages/flutter_native_splash#3-set-up-app-initialization-optional) we could go directly from the splash screen to the fully initialized app, skipping the "empty scr

[2022-03-06 18:36] M123-dev commented on #1185
Are you going to PR this or should someone else take this

[2022-03-06 19:33] monsieurtanuki commented on #1185
@M123-dev Not particularly for me: I've just updated a project of mine and discovered that new splash feature.
Feel free to PR. No rush anyway for that type of feature.

[2022-03-09 02:30] GowthamGoush commented on #1128
@M123-dev, may I go ahead with resolving this issue?

[2022-03-09 06:40] M123-dev commented on #1128
Yes, sure @GowthamGoush

[2022-03-09 08:48] teolemon commented on #633
@monsieurtanuki is that fixed ?

[2022-03-09 08:48] #573 closed, assigned to nobody

[2022-03-09 08:51] teolemon commented on #846
@M123-dev can you still reproduce ?

[2022-03-09 08:54] M123-dev commented on #633
Yes

[2022-03-09 08:54] #633 closed, assigned to nobody

[2022-03-09 08:55] teolemon commented on #217
Is this an issue we can split for GSOC, asking newcomers to write one script each ?

[2022-03-09 09:01] teolemon commented on #916
@monsieurtanuki @M123-dev this seems like a good first issue ?

[2022-03-09 09:30] monsieurtanuki commented on #916
@teolemon Good first issue indeed.

[2022-03-09 09:32] #435 closed, assigned to nobody

[2022-03-09 09:43] M123-dev commented on #217
What do you mean with one script for each, one for iOS one for android?

I still think it's better to somehow do it in flutter but when there is no other way we could do it like that.

Another idea which just came to my mind. Running the app in debug mode in the browser, there we can switch the device and language and automate this with puppeteer. This probably won't run on github actions though

[2022-03-09 09:50] monsieurtanuki commented on #217
@teolemon @M123-dev For my flutter/iOS app, months ago, I had to create a "test" that included screenshots (then I could use the same test for Android of course).
And I had to run it with unix scripts again and again, for different languages (env variable). Can't remember if I could restart automagically the iOS simulator or if I had to do it manually. Can check that.
Would that be compatible with

[2022-03-09 10:00] monsieurtanuki commented on #1023
@teolemon Could you please provide a barcode example with threatened species?

[2022-03-09 10:02] teolemon commented on #217
One script per scenario I meant @M123-dev . Same tech, but there are many screenshots to take
@monsieurtanuki We have already automated it for the classic apps, for both platforms (ios and android) using github actions, we should be able to scrap the .yml and the fastlane parts, the Flutter tests would need to be written

https://github.com/openfoodfacts/openfoodfacts-ios/blob/develop/.github/work

[2022-03-09 10:12] monsieurtanuki commented on #1185
* we currently use version `1.3.2` of [flutter_native_splash](https://pub.dev/packages/flutter_native_splash#3-set-up-app-initialization-optional).
* we would need at least version `2.0.0` of that package in order to solve this issue
* but that would mean upgrading the sdk to minimum   `sdk: ">=2.15.1 <3.0.0" flutter: ">=1.17.0"`
* and the current sdk of smoothie is `">=2.12.0 <3.0.0"`

The questi

[2022-03-09 10:26] monsieurtanuki commented on #217
I guess the first big step would be to create the first test w/ screenshot and check that we're able to use that test to generate screenshots in tons of languages. And that the test is easy to copy/paste.
Then, perhaps split that test in several one-screenshot tests, though I think we could do everything in the same test session (at least that's what I did in my own project).

[2022-03-09 10:42] M123-dev commented on #1185
Nothing much, since its the min. version I think it only really has an impact for packages, so we could upgrade it as far as available.

Edit: Of course just as fair as in stable release not the neeeewest

[2022-03-10 07:09] monsieurtanuki commented on #1185
Done in #1188.

[2022-03-10 07:09] #1185 closed, assigned to monsieurtanuki

[2022-03-10 07:16] GowthamGoush commented on #1128
Since the button theme has not been added to the theme data, may I use the primary color as the button outline color?

[2022-03-10 07:56] M123-dev commented on #1128
Why not @GowthamGoush, go ahead. It just has to fit

[2022-03-10 08:06] GowthamGoush commented on #1128
Alright, thank you!

[2022-03-10 11:52] monsieurtanuki commented on #1128
Fixed by #1191, thank you @GowthamGoush!

[2022-03-10 11:52] #1128 closed, assigned to GowthamGoush

[2022-03-10 11:54] monsieurtanuki commented on #1177
@M123-dev Had a chance to run 2-minute tests with each configuration to check when the smartphone is heating up?

[2022-03-10 12:28] GowthamGoush commented on #1172
I would like to work on this issue. Also, could you please help me with where I could find the mockups?

[2022-03-10 12:37] M123-dev commented on #1177
Not yet @monsieurtanuki , I'll try tomorrow. Do you have any experience on how to measure performance, besides "It felt okay". Does the profiler or logcat have any features for that

[2022-03-10 13:00] monsieurtanuki commented on #1177
I think we are fortunate enough to have a feature that heats up the smartphone rather quickly, therefore the "it feels okay" could be good enough in a first approach, for like 3-minute tests on each configuration.
Beyond that, when you run the flutter app you get logs like that, with useful links:
[code]
Again, the profiler suggests that you run flutter "in profile mode" (something like `--profile

[2022-03-10 14:05] M123-dev commented on #1177
Ok I'll have a look at it tomorrow

[2022-03-10 14:11] M123-dev commented on #1172
The mocks are all on Figma, but there is sadly no way to make them publicly available, but here they are.
But here they are @GowthamGoush

![Screenshot_20220310-150259_Chrome.jpg](https://user-images.githubusercontent.com/39344769/157678681-cfb87b37-a2b9-42f9-b9e6-8fb857717d4b.jpg)

From them it looks it's not a color problem but more a matter of removing it's elevation / making it flat.

[2022-03-10 14:23] GowthamGoush commented on #1172
Got it, thank you @M123-dev!

[2022-03-10 16:02] monsieurtanuki commented on #796
From #1192, just one click from history page updates the history products.

As @M123-dev pointed out, the coded solution will not be good if we have 1000s of products in the history, but neither will the whole app, as one of the 3 preloaded tabs displays the history page that first loads ALL the history products and then displays them in a more elegant way with `ListView.builder`.

Does it make se

[2022-03-10 16:02] #796 closed, assigned to monsieurtanuki

[2022-03-11 10:00] alexgarel opened #1194 "After taking a photo and cropping, image shown is the previous one"
### What
If I use the app to take a photo, and then use it again to take another photo, after taking the photo and validating, the image is not the new one taken but the old one.
Though the right photo as been sent to the app.

### Steps to reproduce the behavior
See [second-photo-bug.pdf](https://github.com/openfoodfacts/smooth-app/files/8230906/second-photo-bug.pdf)

### Expected behavior
The ph

[2022-03-11 10:37] monsieurtanuki commented on #1194
Hi @alexgarel!

Unfortunately I cannot test that, and I guess it's not easy to test either if each time you need to find a new product. We probably need to find a smart way to test it again and again.

What I can say is that on `image_crop_page.dart` (cf. your step 4) we always use the same `final String filePath = '$tempPath/upload_img_file.tmp';`, which is probably not a good idea. My hunch is t

[2022-03-11 10:40] teolemon commented on #1194
@monsieurtanuki : books :-)

[2022-03-11 10:41] sgayangi commented on #919
Hi, I have been working on this issue and currently it looks like this. I just wanted to get some feedback before I posted a PR. Are there any changes or improvements I should make? I thank you for your time

![Screenshot_20220311-160645](https://user-images.githubusercontent.com/57158013/157851758-31eb3081-8752-4eee-8ce9-7412aa779b3f.jpg)

[2022-03-11 11:50] M123-dev commented on #1194
Looks like both should be relatively easy to solve

[2022-03-11 12:21] GowthamGoush commented on #1172
I fixed the elevation of the app bar. Should I also consider changing the color of the status bar? (Currently white/transparent)

[2022-03-11 13:49] M123-dev commented on #1172
I think you can leave it white for the moment @GowthamGoush , some of the current AppBar's are probably going to change  to it or get anyways

[2022-03-11 13:52] M123-dev commented on #919
Heyyy looks good @sgayangi, just from looking at it I'd say that the "Darkmode" could probably be the same style as the "Main color of the app", otherwise feel free to open a PR

[2022-03-11 13:54] teolemon commented on #1026
@monsieurtanuki @M123-dev I'm assigning this issue to @g123k who's joining the core team to work on Flutter.
It seems that the field is not implemented in openfoodfacts-dart (https://github.com/openfoodfacts/openfoodfacts-dart/search?q=source), amirite ?
If not, @g123k you should file it there: https://github.com/openfoodfacts/openfoodfacts-dart

Also pointed in Smoothie's code: https://github.com

[2022-03-11 13:54] GowthamGoush commented on #1172
Alright, I will raise a pr for the elevation alone.

[2022-03-11 13:57] GowthamGoush commented on #1172
Also, I wished to convey that mocks are available publicly. May I contact you on slack regarding this since you mentioned that it is not available for the public?

[2022-03-11 14:05] teolemon commented on #1194
Thanks for the detailed filing @alexgarel

[2022-03-11 14:19] sgayangi commented on #919
Thank you! I updated the font style and opened a PR.

[2022-03-11 14:36] monsieurtanuki commented on #1026
I'm ready to code the [openfoodfacts-dart](https://github.com/openfoodfacts/openfoodfacts-dart) part if needed (adding `source_text`, `source_url`, ...) if @g123k is supposed to do _only_ the "flutter" part (@teolemon your comment was ambiguous on that aspect).

[2022-03-11 14:37] teolemon commented on #1023
I cannot reproduce. Closing
![image](https://user-images.githubusercontent.com/1689815/157887894-4ef7fa6c-da37-4af2-9fd4-0b8d22a235b8.png)

[2022-03-11 14:37] #1023 closed, assigned to nobody

[2022-03-11 14:39] teolemon opened #1196 "This UPC-A barcode doesn't load properly"
### What
- This UPC-A barcode doesn't load properly

### Steps to reproduce the behavior
1. Scan
![image](https://user-images.githubusercontent.com/1689815/157888338-3f749f8d-f0c4-4291-ba37-c95e3273e68f.png)

### Expected behavior
Loads

[2022-03-11 14:51] M123-dev commented on #1172
@GowthamGoush actually there is a way I didn't know about until now, thanks @teolemon. It can be visited here: https://www.figma.com/file/lhRhMulB4Ek9NYDWl3FxAo/Fellowship-Jam-file?node-id=155%3A1991

You can switch between the different pages by pressing on the figma logo on the top left

[2022-03-11 15:01] GowthamGoush commented on #1172
That's cool. Thanks for the quick response

[2022-03-11 16:03] M123-dev commented on #919
Fixed by @sgayangi in #1195

[2022-03-11 16:03] #919 closed, assigned to sgayangi

[2022-03-11 16:32] sgayangi commented on #1173
Hi, just wondering if this is an acceptable solution for this issue?

![Screenshot_20220311-215928](https://user-images.githubusercontent.com/57158013/157908431-b876252b-8300-479b-8971-f437b0103ac6.jpg)

[2022-03-11 19:28] GowthamGoush commented on #1120
What is the expected behavior when the user presses the table?

[2022-03-12 06:00] GowthamGoush commented on #916
May I work on this issue?

[2022-03-12 07:22] GowthamGoush commented on #1100
Hi, I could not find this screen in the mocks, could you please help me with that?

[2022-03-12 10:23] #1172 closed, assigned to nobody

[2022-03-12 10:25] M123-dev commented on #1173
Yes @sgayangi, I was thinking of exactly that. Now we can think about if it makes sense to let the button be deactivated for just one product but I don't have a strong opinion on that

[2022-03-12 10:27] M123-dev commented on #1120
Probably nothing @GowthamGoush, this splash effect wrongly indicates that this is clickable

[2022-03-12 10:27] M123-dev commented on #916
Sure @GowthamGoush

[2022-03-12 10:31] M123-dev commented on #1100
Here @GowthamGoush : https://github.com/openfoodfacts/smooth-app/blob/0d611343752ba45ba38bed95ab4172c19edc1e5c/packages/smooth_app/lib/cards/product_cards/question_card.dart#L319

Also just found it by searching the name of the string (thanks_for_contributing) and then searching for that in the code.

[2022-03-12 10:56] GowthamGoush commented on #1100
Oh, thanks, but I actually sought help to find the design in the mocks. I was able to figure out the concerned file in the code base but could not find the design in the mocks for that screen.

[2022-03-12 10:58] GowthamGoush commented on #1100
If it is not available in the mocks, could you please mention where the button should be positioned?

[2022-03-12 10:59] GowthamGoush commented on #1120
Got it, thank you! I will fix this.

[2022-03-12 11:19] M123-dev commented on #1100
Oh mocks, not the code. You can find the mocks for the questions, when pressing on the Figma logo on the top left and then under "Hackathon", but there isn't actually a mock for this page.

 But yeah just a simple button (we have some prebuild ones in `lib/generic_lib/`) below the text should do the job

[2022-03-12 11:41] GowthamGoush commented on #1100
Thanks a lot, @M123-dev!

[2022-03-12 13:20] sgayangi commented on #1173
It does make sense for the button to be deactivated for just a single product as well. Shall I do the necessary changes to do so?

[2022-03-12 15:01] M123-dev commented on #1173
If you like @sgayangi

[2022-03-12 15:28] bhattabhi013 opened #1200 "Addition of a filter while selecting countries"
### What
- User has to scroll down the list to select the desired country at first page after installation.
<img width="246" alt="image" src="https://user-images.githubusercontent.com/47862474/158023769-5518bc81-15d5-4a40-979b-45015f465300.png">

### Solution
A search bar should be implemented , so that user can easily select the country from the given list.
<img width="348" alt="image" src="https

[2022-03-12 22:53] M123-dev commented on #1200
I really like the idea @bhattabhi013 .

One thing to note is that when the app is installed on a real device in most cases the country should be picked automatically so it isn't as bad as on the emulator.

[2022-03-12 22:55] M123-dev commented on #1200
When we implement the search feature we probably have to switch the source of the countries, just found this:

"World countries available in multiple languages, in CSV, JSON, PHP, SQL and XML formats, with associated alpha-2, alpha-3, and numeric codes as defined by the ISO 3166 standard, and with national flags included" https://stefangabos.github.io/world_countries/

[2022-03-13 06:54] monsieurtanuki commented on #1160
The minimal version is dealt with by #1201.

[2022-03-13 07:10] monsieurtanuki commented on #1200
Hi @bhattabhi013!
As @M123-dev pointed out the country is automatically detected (something like `WidgetsBinding.instance?.window.locale.countryCode`), and the notion of "changing countries" after onboarding is probably limited to power users.
Feel free to code this, but I wouldn't mind if you could find or create an issue with a higher priority.

@M123-dev I don't think either we need the world c

[2022-03-13 09:56] teolemon commented on #1026
- I have opened https://github.com/openfoodfacts/openfoodfacts-dart/issues/408 and assigned @g123k

[2022-03-13 10:22] sentry[bot] opened #1202 "MissingPluginException: MissingPluginException(No implementation found for method vision#closeBarcodeScanner on channel g..."
Sentry Issue: [SMOOTHIE-TE](https://sentry.io/organizations/openfoodfacts/issues/3091429404/?referrer=github_integration)

[code]

[2022-03-13 10:23] monsieurtanuki commented on #1196
I've just tried with the test app I developed for #1177 and managed to scan `042563008123` (do we need an additional starting `0`?):
* full screen
* `camera: ^0.9.4+11`
* `google_ml_barcode_scanner: ^0.0.2`

[2022-03-13 10:25] monsieurtanuki commented on #1202
Probably related to #1155.

[2022-03-13 11:17] M123-dev commented on #1177
Sorry for the late response, I did some excessive testing on friday.
The tests looked like this:

- 3min stock camera and after that 3m testing for every option and a one minute break inbetween each test.
- Phone lying down on the table with no movement so that the circumstances remain the same and factors such as the autofocus and light adjustments are excluded

I first tried it on my own pretty

[2022-03-13 11:21] M123-dev commented on #1196
Can reproduce

When you directly type the barcode into search with or without the additional 0 at the start it works.

[2022-03-13 11:39] M123-dev opened #1206 "iOS release failing"
https://github.com/openfoodfacts/smooth-app/runs/5527204513?check_suite_focus=true#step:16:1121

-----------------

------------------

cc @teolemon

[2022-03-13 11:39] monsieurtanuki commented on #1145
Done in #1204.
Please create a new issue if you want the `http`/`https` to be a preference too.

[2022-03-13 11:39] #1145 closed, assigned to monsieurtanuki

[2022-03-13 11:41] teolemon commented on #1206
Going to fix that, I released 0.0.2 as a public refresh

[2022-03-13 11:43] monsieurtanuki commented on #1177
@M123-dev I guess you were not the right person to test it as you've never experienced the heating up of your smartphone, even with the current full screen scan.
Who had this problem in the first place?
I could test on my 2015 Samsung but I guess it's not the target device. (especially because I can no longer access OFF API from it for httpS reasons)

[2022-03-13 12:51] M123-dev commented on #1177
@jasmeet0817 initially raised the issue, can you maybe test again.

But as long as you are able to run the app why not, you don't need to scan any product, this isn't the target audience, but it would still be great if we have decent performance there aswell

[2022-03-13 13:35] monsieurtanuki commented on #1177
@M123-dev In addition to the fact that I cannot access OFF API, the USB connection to my old smartphone is a bit loose, therefore I often cannot test beyond an approximate 2-minute threshold. Then I get the "Lost connection to device" message. Then most of the time I have to switch off my smartphone (because it's not recognized anymore for some reason), switch it on again, in the meanwhile I lose

[2022-03-13 13:44] bhattabhi013 commented on #1126
I want to work on this but I'm confused about the text that should be displayed in place of the current text.

[2022-03-13 14:06] monsieurtanuki commented on #1126
@bhattabhi013 Don't worry: just put a large icon, a bold title and a subtitle similar to what is displayed in the mock.
Then we may fine-tune.

[2022-03-13 17:59] M123-dev commented on #1206
Fixed in release/0.0.3

[2022-03-13 17:59] #1206 closed, assigned to nobody

[2022-03-14 10:32] teolemon commented on #217
- @monsieurtanuki @M123-dev I've started the GitHub actions part in #1208

[2022-03-14 10:41] monsieurtanuki commented on #217
@teolemon What do you need now? A test that takes one screenshot, and optionally a unix script that runs it?

[2022-03-14 10:52] teolemon commented on #217
I'm not sure how the test should be written and how they should be run, but at the end of the day Github Actions can either run unix command, or run emulators (spawning an emulator is already part of my PR).
So no strong opinions.

[2022-03-14 14:35] GowthamGoush commented on #1040
Hello, I would like to fix this. But could you please help me with what I should change, the color of the text or the card's color? Also, I will be more than happy to know if there is any other better approach.

[2022-03-14 16:09] M123-dev opened #1211 "Ensure Analytics switches have a proper darkmode color (primary color)"
![Screenshot_20220314-170837.jpg](https://user-images.githubusercontent.com/39344769/158213532-05144c73-5fd9-45c6-a633-6f6b2b1376bb.jpg)

It should be the primary color instead

[2022-03-14 18:17] GowthamGoush commented on #1211
May I go ahead with this issue?

[2022-03-14 18:23] GowthamGoush commented on #1211
Also, while testing this, I figured out that the switches under the Dev Mode are not functioning. Though it programmatically works well, we could not see the toggle animation (only the snackbar pops up). So should I consider raising an issue for this?

[2022-03-14 19:30] M123-dev commented on #1211
Sure ;)

If you are planning to fix it in near time it's fine without since it's a very small thing, for bigger things issues would be good

[2022-03-15 02:57] AshAman999 commented on #1126
Can I work on this issue? :)

[2022-03-15 06:32] monsieurtanuki commented on #1126
@bhattabhi013 Have you already started something?

[2022-03-15 06:39] bhattabhi013 commented on #1126
Hi @monsieurtanuki
Yes, I've started working on it and will be submitting PR for the same.

[2022-03-15 08:09] sgayangi commented on #1005
Is this issue free to work on? I was thinking of adding all the colors as static variables to a file so they can be used from anywhere in the project.

[2022-03-15 15:51] bhattabhi013 commented on #915
Can I work on this?

[2022-03-15 18:08] M123-dev commented on #915
Sure @bhattabhi013

[2022-03-15 18:12] #1211 closed, assigned to GowthamGoush

[2022-03-15 18:14] M123-dev commented on #1202
- #1155

[2022-03-15 18:14] #1202 closed, assigned to nobody

[2022-03-15 18:58] bhattabhi013 commented on #1174
Hi @M123-dev ,
I want to work on it but I'm unable to understand the exact issue or requirement.

[2022-03-15 20:06] M123-dev commented on #817
Handled in #1155

[2022-03-15 20:06] #817 closed, assigned to nobody

[2022-03-15 21:26] M123-dev commented on #1174
Sure @bhattabhi013 we already have a prebuild widget `SmoothAnimatedColapseArrow`, but on the Profile/Settings page we currently don't use it, just normal Icons. the issue is about switching to the animated one

[2022-03-15 21:34] M123-dev commented on #1005
Heyyy @sgayangi, sure, globalizing the colors would be great, could be similar to #1179, but just a static const for each color could lead to problems regarding darkmode.

@monsieurtanuki sed different alpha values for darkmode when I remember right. any suggestions?

[2022-03-15 21:37] M123-dev commented on #1040
@GowthamGoush, there are probably some hardcoded color values which need to be changed. The card background color as well as the text color

[2022-03-15 22:27] monsieurtanuki commented on #1005
Actually @M123-dev the more I think about it the more I think dark-mode does not make that much sense for this specific app, where we display label icons with already set-up colors (e.g. light green "European organic AB") and product pictures with their own luminosity.
That said, in some cases I might have used alpha in dark mode, but it should have been rather for backgrounds. For foreground colo

[2022-03-16 05:22] GowthamGoush commented on #1040
Alright, got it!

[2022-03-16 05:30] GowthamGoush commented on #1040
I made the necessary change, but could you please verify if it is good enough for the dark mode? If not, I would love to hear your suggestions.

<div align="center">
<img src="https://user-images.githubusercontent.com/63305824/158522442-bf930522-4853-4662-970e-be213fe1f71c.png" width="200" height="400" />
</div>

[2022-03-16 07:13] GowthamGoush commented on #921
May I work on this exciting feature?

[2022-03-16 07:48] GowthamGoush commented on #1031
I want to suggest an add-on to the above possibilities. Since there isn't any dialog to confirm the removal of the item if the user swipes by mistake, I believe something like this below will help notify the user about it.

<div align="center">
<img src="https://user-images.githubusercontent.com/63305824/158539635-387bbe5b-9dcc-4699-9156-db41315ffb12.png" width="250" height="400" />
</div>

[2022-03-16 08:19] teolemon commented on #921
Assigning you @GowthamGoush

[2022-03-16 08:23] teolemon commented on #1166
ok, closing.

[2022-03-16 08:23] #1166 closed, assigned to nobody

[2022-03-16 09:34] teolemon commented on #1040
LGTM 👍

[2022-03-16 11:14] sgayangi commented on #1005
In that case, how shall I proceed? I have added the colors in the Figma file similar to https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/widgets/attribute_helper.dart.

Shall I start replacing the colors used throughout the project with those?

[2022-03-16 11:48] teolemon opened #1214 "Top bar in History does not honor dark mode"
### What
- Top bar in History does not honor dark mode

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/158583578-47b55059-8730-4293-a807-5a39c15c83c3.png)

### Part of
- #684

[2022-03-16 11:59] teolemon opened #1215 "Top bar in personalized ranking does not honor dark mode"
### What
- Top bar in personalized ranking does not honor dark mode
- Related to #1214

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/158584979-d9cc8232-e6e4-437f-86fb-cc8e1646d66e.png)

### Part of
- #684

[2022-03-16 12:05] teolemon opened #1216 "Move the username warning closer to the username field"
### What
- Move the username warning closer to the username field
- Optional: make an interactive check

### Part of
- #960

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/158586018-6524aed3-d397-454e-be70-4459faa0bb98.png)

[2022-03-16 12:07] teolemon opened #1217 "The EU organic label is unlegible in Dark Mode"
### What
- The EU organic label is unlegible in Dark Mode

### Part of
- #395

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/158586432-341660a6-317d-48ef-a18b-e3739fb7e32e.png)

[2022-03-16 12:10] teolemon opened #1218 "The onboarding title does not honor dark mode"
### What
- The onboarding title does not honor dark mode
- The Next Button is not contrasted enough

### Part of
- #684

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/158586768-03588dd4-1501-4fdb-9357-c04588af1367.png)

[2022-03-16 14:49] teolemon opened #1220 "Extract hardcoded strings from codebase"
### What

- [x] https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/pages/product/common/product_list_page.dart#L239
- [x] https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/pages/product/common/product_list_page.dart#L248
- [x] https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/pages/product/common/product_li

[2022-03-16 14:55] teolemon opened #1221 "Capture this Knowledge Panel exception in Sentry"
### What
- Capture this Knowledge Panel exception in Sentry
- https://github.com/openfoodfacts/smooth-app/blob/4dd0ab1360557c611fa80901c9843e49791659a9/packages/smooth_app/lib/database/knowledge_panels_query.dart#L29

[2022-03-16 16:01] teolemon commented on #1026
@monsieurtanuki can we release the dart package to move forward on this one ?

[2022-03-16 16:12] teolemon opened #1222 "Implement an analytics consent UI as a checkbox in the onboarding (or just after ?)"
### What

- [ ] Implement an analytics consent UI as a checkbox in the onboarding (or just after ?)

### V1 inspiration
<img width="269" alt="image" src="https://user-images.githubusercontent.com/920265/89418188-0590d000-d730-11ea-8715-12d13909528b.jpg">
<img width="269" alt="image" src="https://user-images.githubusercontent.com/1689815/155174560-2f095e96-ece7-455b-97c6-44924971def2.png">
<img wid

[2022-03-16 16:13] teolemon commented on #1158
Closing as mostly fixed, and reopening a new one

[2022-03-16 16:13] #1158 closed, assigned to nobody

[2022-03-16 16:15] teolemon commented on #558
Closing

[2022-03-16 16:15] #558 closed, assigned to nobody

[2022-03-16 16:16] teolemon commented on #528
All 3 tasks are now here @jasmeet0817 🎉
closing as a result

[2022-03-16 16:16] #528 closed, assigned to nobody

[2022-03-16 16:17] teolemon commented on #674
We could move it to the edit mode, and remove it once we have a fully native experience

[2022-03-16 16:19] teolemon commented on #541
@monsieurtanuki do you still have the issue @slava-sh was having ?
Otherwise I propose closing this.

[2022-03-16 16:20] teolemon commented on #644
i believe this one is fixed.

[2022-03-16 16:37] teolemon commented on #1160
Closing this one for now, as we have a server side issue

[2022-03-16 16:37] #1160 closed, assigned to nobody

[2022-03-16 16:41] teolemon commented on #1111
Can you perhaps draw a mockup ?

[2022-03-16 17:03] teolemon opened #1223 "Translation error messages are not very helpful"
### What
- Translation error messages are not very helpful
- I broke the build, and I'm currently looking which string broke it.
[code]

[2022-03-16 17:06] monsieurtanuki commented on #1026
@teolemon Yes we can :)

[2022-03-16 17:09] monsieurtanuki commented on #541
I don't think I experienced that. Besides, I only have an emulator, and I use xcode 12.4.
Feel free to close this one.

[2022-03-16 17:12] monsieurtanuki commented on #674
@teolemon That would be a good "first issue", wouldn't it?
That could be helpful for #1175 too.

[2022-03-16 17:19] monsieurtanuki commented on #1218
@teolemon As mentioned in another issue, I don't think dark mode can be activated before the onboarding (in smoothie at least). Therefore onboarding and dark mode are not supposed to happen IRW.

[2022-03-16 17:30] teolemon commented on #1223
Very likely the Albanian translations. Having the string and/or faulty language would be very helpful.
https://github.com/openfoodfacts/smooth-app/pull/1205/files#

[2022-03-16 17:36] teolemon opened #1225 "Cleanup faulty translations in Crowdin"
### What
- https://github.com/openfoodfacts/smooth-app/pull/1205
- Cleanup faulty translations in Crowdin

[2022-03-16 17:44] #541 closed, assigned to nobody

[2022-03-16 17:55] M123-dev commented on #1111
We don't need a mockup, this is just for testing purposes to add products to the scanner carousel, because it's hard to scan products on a emulator

[2022-03-16 18:06] M123-dev commented on #1026
Published @teolemon https://github.com/openfoodfacts/openfoodfacts-dart/pull/406

[2022-03-16 19:29] bhattabhi013 commented on #1214
Hi @teolemon ,
I've also noticed this issue while working on this [pr](https://github.com/openfoodfacts/smooth-app/pull/1212).
Can I work on this?

[2022-03-16 19:44] M123-dev commented on #1214
Sure @bhattabhi013

[2022-03-16 21:52] #1126 closed, assigned to bhattabhi013

[2022-03-17 03:14] PrabeshPP commented on #1215
hi @teolemon  can I work on this issue?

[2022-03-17 04:04] PrabeshPP commented on #1215
HI @teolemon  the app bar has been given White Color in personalized ranking AppBar, which I think overrides the dark mode color for the app bar.

[2022-03-17 04:58] PrabeshPP opened #1229 ""Contribute" modal is 28px overflowed"
### What
- Describe the issue clearly
RenderFlex in Overflowed by 28Pixels in OnePlus 7 when clicked on Software Development to open AlertDialog in Contribute Section.
### Steps to reproduce the behavior
1. Go to the Bottom of the Page.
2. CLick on the Contribute Section.
3. And then click on the Software Devopment Section.
4. See error

### Screenshot/Mockup/Before-After
<img src="https://user-im

[2022-03-17 05:19] GowthamGoush commented on #1229
Hi @PrabeshPP, thanks for raising this issue. I believe this will be fixed under #916.

[2022-03-17 06:39] M123-dev commented on #1215
Heyyy @PrabeshPP sure go ahead

[2022-03-17 06:47] binoyPeries commented on #1216
Hi, I've fixed this issue and here's the screenshot,

![WhatsApp Image 2022-03-17 at 12 08 51 PM](https://user-images.githubusercontent.com/61955589/158751808-b0a7943c-478b-45ab-bc69-e7180e5521e6.jpeg)

NOTE: **I have put the helper text under the username instead of putting it under the display name (as shown in the above comment), is that the correct change.** I just wanted to get a feedback bef

[2022-03-17 06:55] M123-dev commented on #1216
@binoyPeries yes this is good, but it would be even better if this would only appear if the username contains any of these symbols.
You can do it like the password validation

[2022-03-17 07:00] binoyPeries commented on #1216
@M123-dev  Sure, will work on that

[2022-03-17 07:14] binoyPeries commented on #1216
@M123-dev I've added the functionality. Here's the ss
![WhatsApp Image 2022-03-17 at 12 42 20 PM](https://user-images.githubusercontent.com/61955589/158756081-2156f18b-03a6-49f9-8ee0-c649611ff30d.jpeg)
If this is okay, I will post the PR

[2022-03-17 08:37] bhattabhi013 commented on #1214
Hi @teolemon  @M123-dev ,
This issue has been fixed by this [PR](https://github.com/openfoodfacts/smooth-app/pull/1230), so please close this issue.

[2022-03-17 08:41] #1214 closed, assigned to bhattabhi013

[2022-03-17 09:44] teolemon commented on #1214
- Fixed by #1230

[2022-03-17 09:59] teolemon commented on #1217
@monsieurtanuki this might be related:
### What
- unexpected case: asset not found assets/cache/eu-organic.135x90.svg (https://static.openfoodfacts.org/images/lang/en/labels/eu-organic.135x90.svg)
- https://github.com/openfoodfacts/smooth-app/issues/1202

[2022-03-17 10:00] teolemon commented on #1217
<img width="844" alt="image" src="https://user-images.githubusercontent.com/1689815/158784957-ee02c921-0acc-45f8-a59e-3983b74205a0.png">

[2022-03-17 10:03] sentry[bot] opened #1231 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-T9](https://sentry.io/organizations/openfoodfacts/issues/3070663754/?referrer=github_integration)

[code]

[2022-03-17 10:09] teolemon opened #1232 "Smoothie is crashing on startup (Android)"
### What
- Smoothie is crashing on startup (Android)
- Haven't been able to pinpoint it to a specific Sentry trace yet 🤔

[2022-03-17 10:36] M123-dev commented on #1232
Can reproduce

[2022-03-17 10:45] bhattabhi013 commented on #1232
I can't replicate this bug.

[2022-03-17 11:22] teolemon commented on #1111
Thanks, I clarified the wording accordingly

[2022-03-17 11:25] M123-dev commented on #1232
Probably cross platform since we had no native changes lately

[2022-03-17 11:40] teolemon commented on #863
I've updated this one

[2022-03-17 13:01] teolemon opened #1233 "Ensure that Smoothie can read and migrate the database of Open Food Facts v1 on iOS"
### What

- Instead of native code, include packages handling the database format for the classic version of the app for Android [sqflite](https://pub.dev/packages/sqflite) (Current implementation) and for iOS https://pub.dev/packages/realm (Current implementation)
- Some potential extra weight (Realm for Android not needed, sqflite for iOS not needed)
- Possibility to fork to remove Realm for And

[2022-03-17 13:01] teolemon opened #1234 "Ensure that Smoothie can read and migrate the database of Open Food Facts v1 on Android"
### What
- [ ] Ensure that Smoothie can read and migrate the database of Open Food Facts v1 on Android
  - [ ] Understand how the original database is structured:
    - [ ] Original database https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/OFFDatabaseHelper.kt
    - [ ] https://developer.android.com/studio/inspect/

[2022-03-17 13:09] teolemon opened #1235 "Add offline contribution (Tracker)"
### What

### Add offline contribution

### Part of
- #863

[2022-03-17 13:15] teolemon opened #1236 "Ensure image upload works offline"
### What

- [ ] Ensure image upload works offline
- [ ] All images should be routed to the local cache, and then attempted to be uploaded without blocking the UI

### Part of
- #1235

[2022-03-17 13:17] teolemon opened #1237 "Ensure the loading of the product example during onboarding does not block the UI"
### What
- Ensure the loading of the product example during onboarding does not block the UI
### Part of
- #561

[2022-03-17 13:31] teolemon opened #1239 "Create a test for registration and login"
### What
- Create a test for registration and login
### Part of
- #1176

[2022-03-17 13:34] teolemon opened #1240 "Insert nutrition input within the new product addition flow"
### What
- Insert nutrition input within the new product addition flow
- Merged nutrition PR #904

### Part of
- #881

[2022-03-17 13:37] teolemon opened #1241 "Insert ingredient input within the new product addition flow"
### What
  - [ ] Insert ingredient input within the new product addition flow

### Blocked on
- [x] #107
- [x] #707

### Part of
- #881

[2022-03-17 13:39] teolemon commented on #883
Closing this one as mostly fixed, and reopening a new one with a narrower scope for the leftovers.

[2022-03-17 13:39] #883 closed, assigned to nobody

[2022-03-17 13:40] teolemon opened #1242 "Implement the "Notify when complete" from mocks"
### What
  - [ ] Implement the warn me when this product is complete, based on the new is_ecoscore_ready, is_nutri_score_ready fields from openfoodfacts-dart
### Part of
- #881
### Mock
<img width="375" alt="Profile (3)" src="https://user-images.githubusercontent.com/1689815/148530462-9f3bd4d8-7d25-481a-8da1-38664c5b7e78.png">

[2022-03-17 13:45] M123-dev commented on #1239
Is it okay to create users on the dev server

[2022-03-17 13:55] teolemon commented on #832
Bumping to P0. This is annoying as hell.

[2022-03-17 14:24] monsieurtanuki commented on #832
So what do you have in mind @teolemon?
1. running in parallel first 25 products (possibly minified) and all products?
2. running first 25 products (full) and if wanted page 2, 3, ...

In both cases the first 25 products don't mean that much, as they have nothing to do with one's personal ranking parameters. I guess it's the same problem on the website.
We'd definitely be better off with the person

[2022-03-17 14:31] monsieurtanuki commented on #1237
@teolemon What are we supposed to display while the data is being downloaded and if it's taking too long? How long is "too long"?

[2022-03-17 14:44] monsieurtanuki commented on #1234
@teolemon We need help from the Android team here, to provide us with each needed table creation script:
* which tables do we need?
* I could not find `openfoodfacts.github.scrachx.openfood.models.DaoMaster` and more specifically its `DaoMaster.createAllTables(db, true)` method

[2022-03-17 15:05] GowthamGoush commented on #1218
If the user prefers to open the app under the forced dark mode, should we consider adding dark mode support here?

[2022-03-17 15:06] alexgarel opened #1243 "No indicator that photo is being processed after cropping"
### What
- When you add a photo, you get to the cropping screen. After adjusting the area, when I click on the validation button, it seems that nothing happens.
- In fact, something is happening but on my phone this is very slow and I have no indication that processing is in progress.

### Expected behavior
- We should display a spinner to indicate action was taken into account and that processing

[2022-03-17 15:15] alexgarel opened #1244 "When clicking add more button, there is no way of adding a specific photo (like ingredients)"
### Problem

- When I find a new product, I get to a page where smoothie proposes me to add different kind of photo : front photo, ingredients, nutritional data, packaging, ...
- But if I am on an existing product, I have no way to turn back to that screen.
- If I click the "add more interesting photos", I am directly taken to the camera, then to cropping and image is directly uploaded after that

[2022-03-17 15:34] M123-dev opened #1245 "Android crashes at startup and iOS build failing"
### What
- iOS build failing
- https://github.com/openfoodfacts/smooth-app/runs/5583677653?check_suite_focus=true
- Looks like it was caused by https://github.com/openfoodfacts/smooth-app/pull/1210

[2022-03-17 16:08] teolemon commented on #1244
- @alexgarel would #853 satisfy your use case ?

[2022-03-17 16:11] teolemon commented on #1237
- I think we should try loading silently, and succeed or fail silently.
- Notifying about success or failure here does not bring much to the table (and we have a few extra seconds thanks to the next screen)

[2022-03-17 16:13] GowthamGoush commented on #1119
Could you please list out what are those texts that should be available for copy/paste?

[2022-03-17 16:16] #1217 closed, assigned to nobody

[2022-03-17 16:19] AshAman999 commented on #1243
Can I work on this? Kinda new to open source but feels like i can handle this

[2022-03-17 16:53] monsieurtanuki commented on #1237
@teolemon That would mean that if there's no (or poor) internet connection we display the default value, i.e. en_US version?

[2022-03-17 17:06] #827 closed, assigned to M123-dev

[2022-03-17 17:14] M123-dev commented on #1243
Sure @AshAman999, and if you need any help, just ask

[2022-03-17 17:27] M123-dev commented on #1232
Just tested on a emulator without play services and the app started, while that found something interesting in the logs:

[2022-03-17 19:00] teolemon commented on #1243
@AshAman999 before starting working, can you outline your plan here ?
In my opinion, we should avoid notifying the user during the upload, but rather once it's finished "Upload successful". If it fails, it should retry on its own later, once network is available.
As a user "Ongoing upload" is not useful. The UI should update immediately, and I should receive an unobtrusive hint of success afterwis

[2022-03-18 10:17] teolemon opened #1250 "Define and Agree on a dedicated allergen experience"
### What
- Define and Agree on a dedicated allergen experience
### Why
- in Android v1, we had an explicit allergen manager, with a specific color (orange), with clear messages when we could or could not provide the info, with clear message on non-liability/+word of caution
- in Smoothie, the allergen alert is lost in the summary card, while it should be at the Top of the hierarchy (in the summary

[2022-03-18 10:40] teolemon opened #1251 "Reflect on where to re-introduce the tagline mass broadcast system"
### What
- After a discussion with Juliette, me & Stéphane:
- Re-introduce the [tagline mass broadcast system](https://docs.google.com/document/d/14Ds5U0p0tV5VsI7JzFZhjTK-Y44xGodEZZzE_BJUA7A/edit)
- https://world.openfoodfacts.org/files/tagline/tagline-off.json
- Before first scan: Keep the current text
- After first scan, show the tagline, in black, and anything between <b></b> to be shown as blu

[2022-03-18 10:48] cli1005 commented on #1245
@M123-dev, I have the same **warning** messages while building on my local xCode, it seems due to three packages **_google_ml_kit-0.6.0_** /  **_camera-0.9.4+16_** / **_image-picker_** which call deprecated method or contain unused items, have you met this kind of problem before ?  is there possible to modify the github action in order to ignore warnings?

[2022-03-18 12:15] PrabeshPP opened #1252 "Misplaced circular Progress Indicator in the onboarding"
### Problem
Circular Progress  Indicator  is showing at the left of the screen on the onboarding screen .Which I think would look nice if shown in the center of the screen

### Proposed solution
-Wrapping the Circular Progress Indicator with Center widget in both (--sample_eco_card_page.dart--) and (--knowledge_panel_page_template.dart--) would fix the problem.

### Additional context
<img src="ht

[2022-03-18 13:11] teolemon opened #1255 "Scanning experience (tracker)"
### What
Smoothie should have an excellent scanning experience on Android and iPhone

- [ ] Define a testing protocol to compare MLKit and QRCode
- [ ] Test the scanner in various conditions
  - [ ] iPhone: https://drive.google.com/drive/folders/1mAVgQa_G0UZ_gDEi7tjqklyxZAV_Cv08?usp=sharing
  - [ ] Android
- [ ] Implement whatever is needed
  - [ ] Camera change ?
  - [x] #2196
  - [ ] Switch to c

[2022-03-18 13:35] teolemon commented on #1100
closing this one. thanks @GowthamGoush @M123-dev

[2022-03-18 13:35] #1100 closed, assigned to nobody

[2022-03-18 13:37] teolemon opened #1257 "Automatically identify the system dark mode status"
### What
- Automatically identify the system dark mode status
- Propose to enable dark mode during onboarding

[2022-03-18 13:38] teolemon commented on #875
- opened #1257

[2022-03-18 13:39] teolemon commented on #1120
Fixed from the activity it seems. Thanks @GowthamGoush 👍

[2022-03-18 13:39] #1120 closed, assigned to nobody

[2022-03-18 13:45] stephanegigandet commented on #1029
Corresponding PR on the server: https://github.com/openfoodfacts/openfoodfacts-server/pull/6493

[2022-03-18 13:49] teolemon commented on #1173
fixed

[2022-03-18 13:49] #1173 closed, assigned to nobody

[2022-03-18 13:53] teolemon commented on #1252
@PrabeshPP at what stage of the onboarding is it shown ?

[2022-03-18 13:54] teolemon commented on #1244
Going to close in favor of #853
Feel free to reopen if your issue is different

[2022-03-18 13:56] teolemon commented on #509
Given the current progress, I'm closing this.

[2022-03-18 13:56] #509 closed, assigned to nobody

[2022-03-18 14:13] teolemon commented on #1102
This is fixed server side. Closing

[2022-03-18 14:13] #1102 closed, assigned to nobody

[2022-03-18 14:16] teolemon commented on #1245
And Android building but crashing right at startup is probably the same cause.

[2022-03-18 14:17] teolemon commented on #1239
@stephanegigandet ? .dev ?

[2022-03-18 14:43] cli1005 commented on #1245
So we have to revert the modification, google_ml_kit might not be the good one to solve the iOS scanner issue....

[2022-03-18 14:46] PrabeshPP commented on #1252
hi @teolemon
After this Screen:
<img src="https://user-images.githubusercontent.com/83439329/159024658-6c7b7e25-cc97-41c4-8a74-9211c232cf3e.jpg" width="250" height="400">

[2022-03-18 14:58] teolemon commented on #832
- I do not believe in getting the full products for ranking (just the minimum: https://fr.openfoodfacts.org/cgi/search.pl?search_terms=salmon&action=process&fields=brands,product_name,image_small_url,image_front_thumb_url,quantity,nutrition_grades_tags,ecoscore_tags&json=1&page_size=500)
- I do not believe in storing search results
- Frankly, I would offer even do sorting server side on the full k

[2022-03-18 15:06] PrabeshPP commented on #1252
Hi @teolemon ,
Just after this Screen,I found another issue. ( asset not found assets/cache/palm-oil.svg) . However, after restarting the app ,the image would load. Is this issue already created, do let me know as soon as possible.

[2022-03-18 15:31] cli1005 commented on #1245
I created a PR to revert the modification of #1155, I'm not sure whether it would work since those warnings persist on my local xcode ...

[2022-03-18 15:52] monsieurtanuki commented on #1252
@PrabeshPP Do you have the full log, that includes that `https://static...` path of `palm-oil.svg`?
The thing is that svg renderer has cache, which could explain why it works better after a restart.

[2022-03-18 15:59] GowthamGoush commented on #1257
So suppose if the user switches to light mode from dark mode, should we consider changing the app's theme as well (from dark to light)? Basically, should we have to change the app theme based on the system's theme status?

[2022-03-18 15:59] teolemon commented on #1112
Can you clarify ?

[2022-03-18 16:13] PrabeshPP commented on #1252
@monsieurtanuki
Here is the log for that error:
[code]

[2022-03-18 16:51] monsieurtanuki commented on #1252
Thank you @PrabeshPP!

[2022-03-18 18:15] #1245 closed, assigned to nobody

[2022-03-18 18:18] M123-dev commented on #1245
@cli1005 what warnings stayed on your machine, some are normal as we don't have full controll over the native code from packages

[2022-03-18 18:19] M123-dev commented on #1257
Right @GowthamGoush, this and we would have to change the darkmode switch in the preferences to allow for a third "automatic" variant

[2022-03-18 20:07] bhattabhi013 commented on #853
Hi @teolemon
I want to work on this. Can you please detail me about what needs to done?

As of now, I'm thinking about adding a reload/refresh button and on its click and I'll reload the images widget.

[2022-03-18 21:02] teolemon commented on #853
It's taking a new picture and uploading it to replace the existing one, not refreshing from server.

[2022-03-18 22:16] teolemon commented on #960
@monsieurtanuki @M123-dev @g123k I added the Share-IT audit above

[2022-03-18 22:21] teolemon opened #1260 "Proposal: Harmonize settings to the Knowledge Panel syntax"
### What
Proposal: Harmonize settings to the Knowledge Panel syntax
Mockup by Alekseï

<img width="141" alt="image" src="https://user-images.githubusercontent.com/1689815/159092054-fad5e19a-2768-4296-940b-01738607b1cd.png">

[2022-03-18 22:27] teolemon commented on #1260
<img width="427" alt="image" src="https://user-images.githubusercontent.com/1689815/159092631-13af7d10-3e82-43da-9f1f-229eccbc0d9f.png">

[2022-03-19 02:41] PrabeshPP commented on #1260
hi @teolemon  ,
Can I know more about this? I am interested to contribute.

[2022-03-19 03:10] PrabeshPP opened #1261 "Unhandled Exception: A CameraController was used after being disposed."
### What
Unhandled Exception: A CameraController was used after being disposed.

### Steps to reproduce the behavior
1. After the app opens ,click on the profile icon on the bottom bar.
2. And then click on the History Icon.
3.After that Click on the Search Icon again.
4. See error

Note: This error does not always show up.
I got his this error two times,but after restarting the app I did the same

[2022-03-19 04:51] PrabeshPP commented on #1175
Hi @M123-dev  is anyone working on this ?If  not I would like to contribute .However, as said by @monsieurtanuki replacing the AppBar of the Product Page would discard the Popup Menu Button.
Waiting for the reply!

[2022-03-19 05:06] AshAman999 commented on #1243
@teolemon  I was simply going to do the approach as @M123-dev  suggested, showing a loading spinner while the cropping is in process
Something like this

https://user-images.githubusercontent.com/57723319/159107708-aab09062-a811-4328-8fbf-50ef179cdbd7.mp4

 Should I go ahead with something like this?
 but as @teolemon  suggested, if we have to do something like background uploading, I will have to

[2022-03-19 05:51] bhattabhi013 commented on #824
Can I work on this?

[2022-03-19 06:58] monsieurtanuki commented on #1260
As this is labeled as "proposal", my suggestions:
* keep a general preference read-only page, but split in 3 distinct pages for write mode - the point being that it's a bit awkward to go to a page where so heterogenous data can be changed, especially when one kind of data can be changed often (food preferences) and other less often (login, dark mode)
* avoid to put 2 text buttons on the same row (

[2022-03-19 07:01] monsieurtanuki commented on #1175
@PrabeshPP I guess you can code this one, as long as you move the pop-up actions as "dev mode" temporary buttons.

[2022-03-19 08:53] M123-dev commented on #1243
@AshAman999 the way you showed in the video looks good for now. For me the issue is exactly about this. Offline upload is certainly great but we have more important tasks currently.

[2022-03-19 09:35] #1252 closed, assigned to nobody

[2022-03-19 10:08] M123-dev commented on #1250
Yeah more prominent warnings would be good

[2022-03-19 10:17] M123-dev commented on #1260
So @monsieurtanuki, you mean that there shouldn't be a mix between buttons and pages, so that also the darkmode switch as well as the preferences should be in it's own page?

[2022-03-19 10:20] M123-dev commented on #1112
package:camera has a setFocusPoint method, but just noticed it's just for manual focus

[2022-03-19 10:20] #1112 closed, assigned to nobody

[2022-03-19 10:22] M123-dev commented on #1031
Looks good @GowthamGoush

[2022-03-19 10:23] M123-dev commented on #1005
Yes sounds good @sgayangi

[2022-03-19 10:24] M123-dev commented on #1216
Closed by @binoyPeries in #1248

[2022-03-19 10:24] #1216 closed, assigned to nobody

[2022-03-19 10:25] M123-dev commented on #1255
The ML-Kit test could be misleading, as it could be that the scanner doesn't work at all

[2022-03-19 10:34] M123-dev opened #1264 "Overflow issue confirm_and_upload_picture.dart:58:24"
[code]

[2022-03-19 10:34] M123-dev commented on #846
No

[2022-03-19 10:34] #846 closed, assigned to nobody

[2022-03-19 11:33] teolemon opened #1265 "Product Page (Tracker)"
### What

[code]

### Issues
[code]

[code]

[code]

### Part of
- openfoodfacts/smooth-app#503

[2022-03-19 14:18] #824 closed, assigned to bhattabhi013

[2022-03-19 16:21] monsieurtanuki commented on #1260
@M123-dev I mean that I'd prefer "Your profile", "Food preferences" and "Misc" (can't remember the actual name) to have each a dedicated page for writing. That's what I would prefer as an end-user; I don't know if it's a best practice.

[2022-03-20 03:27] PrabeshPP commented on #1175
@M123-dev  should the colors of FloatingAction Button be static or it should change dynamically according to the theme of the app?
Waiting for the reply!!

[2022-03-20 04:47] PrabeshPP opened #1270 "Product Question Widget"
### Problem
SmoothCard text of Product Question Widget is not compatible with the dark mode.
<img src="https://user-images.githubusercontent.com/83439329/159148618-07394d16-54cf-44b9-90fc-11b38b0dd20f.jpg" width="250" height="450">

### Proposed solution
Since the SmoothCard color has been hardcoded, providing the black color to the text would work both in light and dark mode perfectly.

### Part

[2022-03-20 05:54] AshAman999 commented on #1257
I think I can solve this, if no one is working I can start working on fixing this,
using ThemeMode.system in theme mode in main. dart file uses system theme, so using an enum for the same to chose between three values provided by theme provider

Currently, I was thinking of a drop-down for selecting  between the theme
![image](https://user-images.githubusercontent.com/57723319/159149949-902677b8-7

[2022-03-20 07:50] M123-dev commented on #1175
@PrabeshPP these mocks aren't from me but it strongly looks like that it should be the primary color.

[2022-03-20 08:34] vik4114 commented on #903
Hello @teolemon, i have added ("basic details") logic but don't know what to add to the text of the button as ("Complete basic details") is not defined in .arb files

[2022-03-20 09:30] M123-dev commented on #1257
The plan looks good @AshAman999 but do you know if ThemeMode.system listens to the native theme or just checks it at the app start

[2022-03-20 09:31] #1174 closed, assigned to bhattabhi013

[2022-03-20 09:33] M123-dev commented on #1270
Thanks for filing but it looks like it's a duplicate of #1040

[2022-03-20 09:34] #1270 closed, assigned to nobody

[2022-03-20 09:42] PrabeshPP commented on #1175
@M123-dev  I have sent you a message on Slack . Can you check that?

[2022-03-20 10:53] teolemon opened #1273 "Show the barcode in the full edit mode"
### Problem
- [ ] Show the barcode in the full edit mode (not editable, just showing it), this will be useful for power users to check for potential barcode scanning errors.

### Part of
- #503

[2022-03-20 11:07] AshAman999 commented on #1257
It seems that it checks for theme even while the app is running (that's good ), I have created the changes,

https://user-images.githubusercontent.com/57723319/159159229-43fe95f2-ac6d-406b-860c-c03bddf1a24c.mp4

As evident this will solve the issue, meanwhile, if this I all good from a user perspective then I will refactor the code and create a pr, as the changes need to deal with name conventions

[2022-03-20 11:26] M123-dev commented on #1257
Looks good @AshAman999, looking foreward to the PR

[2022-03-20 12:49] #1043 closed, assigned to nobody

[2022-03-20 14:11] #1243 closed, assigned to AshAman999

[2022-03-20 14:58] AshAman999 commented on #1273
Is this about the barcode that shows up when a barcode is scanned and queed for search?
I would like to work on it,
 using a text input box with the current value as the barcode.

[2022-03-20 15:15] M123-dev commented on #1273
I don't think its when queried but on the full edit page which you can find on the bottom of the product page

[2022-03-20 15:33] abhay1821 opened #1277 "bug: Render issue in Contribute Cupertino Modal Bottom Sheet"
### What
- The Contribute Cupertino modal bottom sheet UI breaks on devices with screen height less than 847 pixels.

### Steps to reproduce the behavior
1. Go to the Profile tab
2. Click on Contribute list tile
3. Click on device preview
4. Change the model with any resolution with height in pixels lesser than 847 pixels.
5. See the UI breaks to render.

### Expected behavior
The UI of the model

[2022-03-20 15:34] abhay1821 commented on #1277
@teolemon @M123-dev I will work on this issue can you please assign this to me.

[2022-03-20 15:50] abhay1821 commented on #1119
Can you please this issue to me ? I am willing to work on it. Have got the fix.

[2022-03-20 16:03] teolemon commented on #1119
Ah sorry @GowthamGoush assigned it to @abhay1821 without realizing your earlier comment. Is that ok ?

[2022-03-20 16:11] GowthamGoush commented on #1119
That's alright, @teolemon, let @abhay1821 take this up

[2022-03-20 17:10] #1277 closed, assigned to abhay1821

[2022-03-20 17:17] M123-dev commented on #1175
We now have this back button thanks to @PrabeshPP, now we have to think about what we wan't to do with the open in web and refresh button which used to be in the PopUpMenu on the AppBar

current temporary implementation: https://user-images.githubusercontent.com/83439329/159172136-af7db167-509c-433e-afad-783b74801f1c.mp4

cc: @teolemon

[2022-03-20 19:06] abhay1821 commented on #1229
Is this Issue still Open / not assigned  to anybody then do assign me I will fix it .

[2022-03-20 19:37] AshAman999 commented on #1273
Okay then , i can start working on it once my other pr gets merged,
A bit of help where to reproduce the page would be helpful

[2022-03-20 20:00] abhay1821 opened #1279 "bug: Render issue in Contribute AlertBox with list of Contributors"
### What
- The Contribute Alert Box breaks on devices with screen height less than 555 pixels and can vary if the width changes.

### Steps to reproduce the behavior
1. Go to the Profile tab
2. Click on Contribute list tile
3. Click on device preview
4. Change the model with any resolution with height in pixels lesser than 555 pixels and can vary with width changes  .
5. See the UI breaks to rende

[2022-03-20 20:01] abhay1821 commented on #1279
@teolemon  @M123-dev  I will work on this issue can you please assign this to me. I will make it scrollable

[2022-03-20 20:47] M123-dev commented on #1229
Yes it's free to take @abhay1821

[2022-03-20 20:56] M123-dev commented on #1273
https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/pages/product/edit_product_page.dart
@AshAman999

[2022-03-21 01:40] binoyPeries commented on #1114
Hi @M123-dev , can i get more information regarding this? like what is the product summary card, and to what should we apply the hero animation ? Thank you

[2022-03-21 05:25] vik4114 commented on #1273
@AshAman999 I have fixed it

[2022-03-21 07:18] PrabeshPP commented on #1222
hi @teolemon .Is anyone working on this? I would like to contribute. Also, in my opinion asking the permission while on onboarding screen would look nice.
Waiting for the reply!

[2022-03-21 08:27] Sickaada commented on #916
Is anyone still working on this issue?

[2022-03-21 08:30] GowthamGoush commented on #916
Yes I'm working on it

[2022-03-21 08:31] Sickaada commented on #916
Great!

[2022-03-21 08:50] teolemon commented on #1220
hello @srinjoyghosh-bot, yes you may :-)  just assigned you

[2022-03-21 09:37] teolemon commented on #1222
Just assigned you @PrabeshPP
It's a legal requirement, but it makes the onboarding longer.
We'll probably have to rethink onboarding more deeply.

[2022-03-21 10:35] teolemon commented on #1029
It's on dev, so it should be possible to start using dev mode @jasmeet0817 @g123k :

https://world.openfoodfacts.dev/api/v2/product/4337185341373/k-take-it-veggie-vegan-nuggets?fields=knowledge_panels,attribute_groups

[2022-03-21 13:53] PrabeshPP commented on #1222
hi @teolemon  do I also need to write the logic for the Consent or just creating the UI for consent would be suffice for now.

[2022-03-21 14:20] vik4114 commented on #1127
@M123-dev Can you explain more

[2022-03-21 14:37] vik4114 opened #1283 "Dark mode issue on icons of labels"
### What
- Dark mode issue on icons of labels

### Part of
- #684

### Screenshots
![Screenshot_1647872945](https://user-images.githubusercontent.com/46121493/159284233-5eda9ef3-9178-4885-97ca-01d14c2b8a45.png)

**Dark mode**
![Screenshot_1647872977](https://user-images.githubusercontent.com/46121493/159284311-aba01c70-3bb8-4f5f-a05d-7e8d852f965d.png)

[2022-03-21 14:48] teolemon opened #1284 "Personal search (tracker)"
### What

[code]

### Why

### Part of
- #525

[2022-03-21 15:29] M123-dev commented on #1222
The logic is already implemented @PrabeshPP

https://github.com/openfoodfacts/smooth-app/blob/bc78fe298b659c8d2d41f3a80d22627f4a735dea/packages/smooth_app/lib/data_models/user_preferences.dart#L63

And the lines below

`setCrashReport` and `setAnalyticsReport`

[2022-03-21 16:04] CyberWake opened #1286 "Bug: Confirm password field doesn't come to focus on submission of Password field unlike other fields(Signup Page)"
### What
- On signup page the all fields come in focus on submission of the field above. But this does not happen in the case of confirm password field. When the password field is submitted the confirm password field doesn't come into focus.

### Steps to reproduce the behavior
1. Go to signup page
2. Fill in the form
3. On submission of password field the keyboard dismisses although it shouldn't

[2022-03-21 17:47] bhattabhi013 commented on #1264
Hi @M123-dev ,
Can I work on this issue?

[2022-03-21 17:59] bhattabhi013 commented on #413
Hi everyone,
I've used [CachedNetworkImage](https://pub.dev/packages/cached_network_image)  package for image caching purpose. Can that be used in this project too?

[2022-03-21 19:15] M123-dev commented on #1264
Sure @bhattabhi013

[2022-03-21 19:22] #1273 closed, assigned to nobody

[2022-03-21 19:23] #1283 closed, assigned to nobody

[2022-03-22 03:47] PrabeshPP commented on #1222
@teolemon  @M123-dev  I have done some prototype designing for the consent UI.
 <img src="https://user-images.githubusercontent.com/83439329/159403524-f309575c-f666-401b-8415-cd64fc69f8c4.jpg" width="250" height="450">
Have a look and give me some feedback as soon as possible.

[2022-03-22 04:14] PrabeshPP opened #1289 "The UI for the Your Profile section does not really change on 1st login attempt"
### What
- If try to login, the UI for the Your Profile section does not really change at first. However ,if attempt to login for the second time, the UI will change.

### Steps to reproduce the behavior
1. Go to Profile Page
2. Click on the Sign in button of the Your Profile Section.
3,Fill out your credential in the login field.
4. After redirecting to the profile page, there is really no change

[2022-03-22 05:49] vik4114 commented on #1260
I also think same, currently they all are in same page and they become overwhelming

[2022-03-22 06:51] M123-dev commented on #1289
Thanks for filing @PrabeshPP I'll take over this if that's fine for you

[2022-03-22 06:54] PrabeshPP commented on #1289
yeah,sure @M123-dev .

[2022-03-22 07:46] abhay1821 commented on #1119
hi @teolemon, @M123-dev I need a suggestion as currently we are using [flutter_widget_from_html_core] (https://pub.dev/packages/flutter_widget_from_html_core) for displaying some of the data which cannot be selected..
| [**DATA using Text widget**]()      | [**Using HTMl widget**]()     |
|------------|-------------|
|  <img src="https://user-images.githubusercontent.com/55257452/159430280-c203ac1

[2022-03-22 08:00] teolemon commented on #1119
We can live without selectable text. I'm going to close the issue. Thank you very much for the research 👍

[2022-03-22 08:28] M123-dev commented on #1119
@abhay1821 we should be able to fix this error by using dependency overrides, but this package only supports Android and iOS which isn't so great

[2022-03-22 08:31] M123-dev commented on #1119
But it looks like https://github.com/daohoangson/flutter_widget_from_html/issues/727 allows selection

https://github.com/daohoangson/flutter_widget_from_html/issues/727

`HtmlWidget( html,
                         enableCaching: false,
                        isSelectable: true,)`

[2022-03-22 09:14] abhay1821 commented on #1119
@M123-dev thank you for the suggestion issue is resolved and the HTML text is also selectable now... @teolemon please don't close the issue now its resolved.

[2022-03-22 09:38] cli1005 commented on #1155
I made a fix in method handler of [google_ml_barcode_scanner](https://github.com/danjodanjo/google_ml_barcode_scanner/pull/2), we might use the git repo forked  while waiting for my PR to be merged:

[2022-03-22 10:24] teolemon opened #1292 "(Search) The Return and Filter buttons are not longer visible after we started scrolling"
### What
- (Search) The Return and Filter buttons are not longer visible after we started scrolling
- In addition, they are partly hidden by the top bar

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/159459728-e356148e-2dc9-4d53-9db1-d9769debe7a3.png)

[2022-03-22 10:25] teolemon opened #1293 "Search screen : no « Return to the Top » button"
### What
- Search screen : no « Return to the Top » button

[2022-03-22 10:27] teolemon opened #1294 "the « Welcome to OFF » layer « sticks » to the menu at the bottom of the screen"
### What
- the « Welcome to OFF » layer « sticks » to the menu at the bottom of the screen

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/159461671-f5ccd021-b7bf-444b-ab4a-1d3b572574d3.png)
![image](https://user-images.githubusercontent.com/1689815/159461890-2dfb4009-ac4d-4405-b93f-b8ec38171dd3.png)

[2022-03-22 10:35] teolemon opened #1295 "The cross needed to remove one product from the product carousel is missing"
### What
- The cross needed to remove one product from the product carousel is missing
- We should add a one time warning that this will only remove from the comparison, and not from history
### Why
- Allows to finetune custom comparisons
### Part of
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/159462431-71723ddb-c0aa-4374-aa7f-1b34135b3e9f.png)

[2022-03-22 11:22] vik4114 commented on #1289
@M123-dev I have looked into it the problem is that the profile section is not getting refreshed (Rebuild) after the login but after signup, it is working (strange)

[2022-03-22 11:24] vik4114 commented on #1292
@teolemon Should we make them into appbar?

[2022-03-22 11:25] vik4114 commented on #1293
@g123k Could you assign this to me? I will work on this after clarification on #1292

[2022-03-22 11:27] PrabeshPP commented on #1289
Also, it will get rebuild ,if done hot-reload after the first attempt.

[2022-03-22 11:33] M123-dev commented on #1155
Heyy sounds great @cli1005 you know if this problem also exists in the main google_ml_kit package

[2022-03-22 11:42] M123-dev commented on #1289
Thanks for the info @vik4114  and @PrabeshPP I recently refactored this code for a similar problem. Maybe the page doesn't get rebuild because we notify the provider listeners before calling Navigator.pop

Cf the PR: https://github.com/openfoodfacts/smooth-app/pull/1228

If anyone spots the problem feel free to PR as I won't be able to test until this evening

[2022-03-22 12:02] teolemon commented on #1215
This issue seems fixed, right @PrabeshPP ? @M123-dev ?

[2022-03-22 12:06] teolemon opened #1297 "(Signup) no explication about the difference between username and display name"
### What
- Users have complained there's no explication about the difference between username and display name during signup
### Part of
- #561

[2022-03-22 12:09] teolemon opened #1298 "(Settings) spacing is often insufficient, sometimes spaces between sections are smaller than between éléments within the section"
### What
- (Settings) spacing is often insufficient, sometimes spaces between sections are smaller than between éléments within the section
### Related to
- #1260
### Screenshots
![image](https://user-images.githubusercontent.com/1689815/159478740-b3aace35-92a3-43b4-b2a0-ae6042621936.png)

### Part of
- #960

[2022-03-22 12:15] M123-dev commented on #1215
👍🏻

[2022-03-22 12:15] #1215 closed, assigned to PrabeshPP

[2022-03-22 12:47] teolemon opened #1299 "Ask logged-in users to rate the app"
### Why
- Collecting good grades/reviews (and some feedback)
### What
- [ ] Ask logged-in users to rate the app
- [ ] Only show it for logged in users (for now)
- [ ] Differentiate between Android and iOS (obviously not the same store mechanism)
- [ ] See if there are ready-made packages for this
- [ ] https://forms.gle/syatgUkAJhhg6qnn8
- This is a picture showing best practises. We should adapt

[2022-03-22 13:08] #1294 closed, assigned to nobody

[2022-03-22 13:11] g123k commented on #1299
On Android, should we assume it will only be deployed to Google Play (and thus use their pre-built dialog)?
Or should be think about a more generic solution?

[2022-03-22 13:14] teolemon commented on #1299
Nope, F-Droid, Chinese stores, Amazon App Stores… if possible

[2022-03-22 13:16] teolemon opened #1300 "The iOS release is currently broken"
### What
- The iOS release is currently broken
- https://github.com/openfoodfacts/smooth-app/runs/5633411557?check_suite_focus=true

[2022-03-22 13:20] teolemon commented on #1300
It seems to be Cocoapods and Sentry all over again. It would be nice to have a system to prevent this to happen at all deps updates.
    [!] CocoaPods could not find compatible versions for pod "Sentry":
      In snapshot (Podfile.lock):
        Sentry (= 7.9.0, ~> 7.9.0)

      In Podfile:
        sentry_flutter (from `.symlinks/plugins/sentry_flutter/ios`) was resolved to 0.0.1, which depends on

[2022-03-22 13:29] M123-dev commented on #1292
@vik4114 what about a SilverAppBar where they normally stay the same but move into a app Bar when scrolling down

[2022-03-22 13:41] monsieurtanuki commented on #1299
My suggestion for the first dialog: "Enjoying this app?"
* Yes!
* Not really
* Ask me later
* Don't ask again

@teolemon

Would that mean different versions for different stores?

[2022-03-22 13:46] teolemon commented on #1299
- hopefully there's a ready made package for this
- I believe it's just the target url to change in some cases (or possibly they all accept the package name)
- anyway we can start small

[2022-03-22 13:57] M123-dev commented on #1300
Any idea on how to do it, also does it work when recreating the podfile.lock

[2022-03-22 14:02] teolemon opened #1301 "(Pending UX) Add a way to show a little information about each setting"
### Why
- User tell us they are not quite sure about what each setting means
- This will partly be solved by solving #890
- We have extra information available

### What

- Add a way to show a little information about each setting (I don't have a proper UX yet given the lack of horizontal space)
- https://world.openfoodfacts.org/api/v2/attribute_groups
- "setting_note":"The Nutri-Score is computed

[2022-03-22 14:06] M123-dev commented on #1155
Opened a PR @cli1005

[2022-03-22 14:06] monsieurtanuki commented on #413
Hi @bhattabhi013!

Your package looks very expensive: just one of its dependencies ([flutter_cache_manager](https://pub.dev/packages/flutter_cache_manager)) needs [clock](https://pub.dev/packages/clock), [collection](https://pub.dev/packages/collection), [file](https://pub.dev/packages/file), [flutter](https://api.flutter.dev/), [http](https://pub.dev/packages/http), [path](https://pub.dev/package

[2022-03-22 14:11] M123-dev commented on #1222
I like it @PrabeshPP, but then this is the only page in the onboarding which has the buttons on a different position which isn't that nice. But putting the accept button where normally the next button is also too intrusive.

Any opinions @teolemon @monsieurtanuki @cli1005

[2022-03-22 14:13] teolemon commented on #1222
It looks reasonable, and having it in the same place would be a little too much dark pattern.

[2022-03-22 14:13] M123-dev commented on #1114
Sure @binoyPeries, the card in the carousel in the scanner and the summary card (the top part of the product page) have large similarities, a Hero animation there could look nice

![Screenshot_20220322-151258.jpg](https://user-images.githubusercontent.com/39344769/159501791-13077fd6-2127-4de6-b215-cf6cb1578982.jpg)

![Screenshot_20220322-151304.jpg](https://user-images.githubusercontent.com/393447

[2022-03-22 14:14] teolemon commented on #1222
We can iterate the UI if needed / feedback from users

[2022-03-22 14:17] M123-dev commented on #1127
I think we can actually close this issue for now as that is not so important

[2022-03-22 14:17] #1127 closed, assigned to nobody

[2022-03-22 14:20] monsieurtanuki commented on #1222
I would add
* "meaningful" colors (like green and red) (I suppose your prototype tool is in grey tones in order to avoid color choice endless talks)
* meaningful icons (like "v" and "x")

[2022-03-22 14:28] monsieurtanuki commented on #1300
@M123-dev My suggestion: put a comment on the "sentry_flutter: ^6.4.0" line, like the one I put there:
[code]

That would prevent helpful Android users from upgrading dangerous packages even when it looks harmless to do so.

[2022-03-22 14:54] monsieurtanuki commented on #1299
@teolemon I'm not optimistic, but maybe with `fastlane` it will be easy to generate slightly different apps.
https://pub.dev/packages/in_app_review may be helpful for Google Play Store and iOS App Store.

[2022-03-22 15:07] g123k commented on #1299
I think https://pub.dev/packages/in_app_review is also a good choice.
And we can combine it with the Referrer API from Android to detect the source.

I can work on this topic if you want

[2022-03-22 16:07] bhattabhi013 opened #1303 "Overflow issue on update nutrition facts page."
### What
Overflow issue on 'update nutrition facts' page.

### Steps to reproduce the behavior
1. Search a product, e.g: maggi
3. Click on 'update nutrition facts'
4. See error

### Expected behavior
Overflow shouldn't happen.

### Screenshot/Mockup/Before-After

### Smartphone model
 - Device: [e.g. Real me 5 pro]
 - OS: [e.g. Android 10]

[2022-03-22 16:26] alexgarel commented on #1244
No my issue is different, because you may not have the ingredients photo yet, but there is no way to add it.

I would advocate closing the carroussel update issue, for this one instead, because it address both, and it seems more easy to the user to me (and why have a different workflow for new product and edition ?).

[2022-03-22 16:27] alexgarel commented on #853
I advocate implementing https://github.com/openfoodfacts/smooth-app/issues/1244 instead (it's also less invasive in the interface).

[2022-03-22 16:34] teolemon commented on #853
I advocate for this one. This is the way to actually get the data we need.

[2022-03-22 16:36] teolemon commented on #1222
- It's actually grey in v1 🙃

[2022-03-22 16:40] stephanegigandet commented on #853
I'm not advocating anything, but the proposed mockup is very confusing for users: unless you know that the first photo is supposed to be the front photo, the second is supposed to be the ingredients etc. it's very difficult to understand why there's a different button on each photo.

When we don't have a photo at all, there's a "Add an ingredients photo" (or similar) text that makes it obvious.

T

[2022-03-22 16:42] M123-dev commented on #1300
Can anyone on MacOS run:

[code]

https://github.com/getsentry/sentry-dart/issues/746#issuecomment-1044951258

[2022-03-22 16:43] stephanegigandet commented on #1244
Maybe we could rename "Add more interesting photos" to "Add more or newer photos", the "more interesting photos" is quite unclear, and it could put users in doubt ("is my photo really interesting?").

For the record, I came up with the "add more interesting photos" I think, so I have no problems criticizing it. :)

[2022-03-22 16:45] stephanegigandet commented on #1297
We should just rename "Display name" to "Name" (as we have on the website), and it would clear the confusion.

[2022-03-22 17:14] teolemon commented on #853
- We need to do data refresh, and we need to do it hard and fast. Thus this solution which is easier to understand than scrolling left, including on a typically **very wide** photo of ingredients.
- A grand total of 0 users is sliding left on the carousel to the "Add more interesting photos" button.

[2022-03-22 17:42] monsieurtanuki commented on #1299
@g123k I didn't know about the Referrer API. Could work. From what I read I cannot really picture how an Amazon app would look. I'd be delighted to see it work :)
Maybe you should start indeed with only in_app_review. The question is: when do we consider the user hooked enough to give a pleasant review? 10 products in history?

[2022-03-22 17:50] teolemon commented on #1299
On v1, people who decided to signup for a contributor account (and were thus logged in). It was drastic but gave very good results.

[2022-03-22 18:00] bhattabhi013 commented on #1244
I think label name "Add more interesting photos" should be changed to "Add more photos". This is more direct and clear to the user.

[2022-03-22 18:11] teolemon commented on #1300
The CI uses macOS @monsieurtanuki, so we could insert it within, or even have a specific workflow triggered by anychange to pubspec.yaml, and that would open a branch with any changes generated by those 2 commands ?

[2022-03-22 18:14] alexgarel commented on #853
Ok, but maybe we can do both ? (as told this scenario is not covering the case where there is no "ingredients" photo yet).

[2022-03-22 18:16] monsieurtanuki commented on #853
My comments:
* how do you currently do that on the Android version?
* I understand the need (expressed in this issue) of a fast-track action for picture refresh
* I detect confusion around the purpose of each photo, because the fast-track mode doesn't do everything and is not verbose (that's because it's only a fast-track)

My suggestions:
* keep the carousel of pictures of the OP but perhaps chan

[2022-03-22 18:33] monsieurtanuki commented on #1300
@teolemon Honestly I don't know anything about those "new" compilation tools.

That said, if you're sure that the solution would be to call those 2 lines, you could integrate them to the process systematically: that would be a pointless step for Android but who cares?

I've just run those 2 commands:
[code]
That means that once the big update is done, running the commands again takes less than a m

[2022-03-22 19:31] abhay1821 commented on #1297
Hi, @teolemon can you please assign this issue to me. I will make the necessary changes required, I too agree with @stephanegigandet but I would like to hear it from You too.

[2022-03-22 21:17] M123-dev commented on #1300
Definitely no, all my knowledge on CocoaPods and iOS specific errors consist purely of other people's reports on the internet.

[2022-03-23 04:20] bhattabhi013 commented on #917
Hi @teolemon ,
I suggest adding a button named 'Tap to take picture of recycling photo' and on it's click opening "Add interesting photos" carousel .

[2022-03-23 07:50] vik4114 commented on #1303
@bhattabhi013 Can you also include screenshot

[2022-03-23 08:47] stephanegigandet commented on #853
Frankly there is no way users will understand that the Camera icon (with a + or not) means that their photo will replace the selected photo. So we will end up with any photo being selected as anything.

The best solution is to have 1 single photo camera icon (e.g. on the top right corner) that opens the dialog to add more photos of a specific type. (in fact I remember it was proposed before).

If

[2022-03-23 08:53] stephanegigandet commented on #853
When there is no ingredient photo, there is a prompt to upload the photos of ingredients, and the text makes it very clear we want the photo of ingredients.

![image](https://user-images.githubusercontent.com/8158668/159660381-f3efda60-b8c6-429d-bb45-f5f9e6449340.png)

[2022-03-23 09:10] cli1005 commented on #1255
Good to try 😉 , is it possible to add a merge check workflow detecting building error or warning which will block the release? a wokflow github action launching the command "flutter build" on PR creation

[2022-03-23 09:24] vik4114 commented on #1292
@M123-dev what do you think?

https://user-images.githubusercontent.com/46121493/159665872-54adf37f-31d8-4707-a66f-384ac751d49d.mp4

[2022-03-23 09:25] stephanegigandet commented on #1250
If the user has selected one (or more) allergens, with the "mandatory" setting, then we should just display that at the very top. That's the spirit of personal search.

[2022-03-23 09:47] teolemon opened #1307 "When switching between portion/100g, the table should change immediately"
### What
- The dropdown experience is not very intuitive
- When switching the quantity between portion/100g, the table should change immediately, not when I release my thumb
### Video

https://user-images.githubusercontent.com/1689815/159670765-7e5280c1-c6f6-47f1-b07e-b2cfc62ef348.mp4

### Part of
- #499

[2022-03-23 09:51] teolemon opened #1308 "The scores are not displayed anymore in the history while they are visible on the individual product page."
### What
- The scores are not displayed anymore in the history while they are visible on the individual product page.

### Part of
- #499

### Screenshot/Mockup/Before-After
https://user-images.githubusercontent.com/1689815/159671159-8f65eb36-906f-4f8b-b7a6-1aa8af762231.mp4
- Another video, that's even clearer
- https://user-images.githubusercontent.com/1689815/159678483-1b4db205-1ac9-4543-a23d-b9

[2022-03-23 09:55] teolemon opened #1309 "The last refresh snackbar is hiding the Personal Search button for a few seconds"
### What
- The last refresh snackbar is hiding the Personal Search button for a few seconds
- Can we make them aware of each other ?

### Part of
- #991

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/159672287-d11a5634-f482-4c39-ab8a-68892a8ac07b.png)

[2022-03-23 10:25] teolemon commented on #1308
Another video, that's even clearer
https://user-images.githubusercontent.com/1689815/159678483-1b4db205-1ac9-4543-a23d-b96035302d79.mp4

[2022-03-23 10:39] stephanegigandet commented on #1309
Why don't we automatically trigger the refresh (while still showing the cached results in the mean time) instead of showing a message?

[2022-03-23 11:02] alexgarel commented on #1244
Ok there was an information I missed as [stated by Stéphane](https://github.com/openfoodfacts/smooth-app/issues/853#issuecomment-1076106313), we can currently add the ingredients photo if there is none.

So we can close this.

[2022-03-23 11:02] #1244 closed, assigned to nobody

[2022-03-23 11:06] teolemon commented on #1244
It's interesting that you didn't manage to spot it…

[2022-03-23 11:09] g123k commented on #1299
I've started to investigate what kind of values we can receive on each platform.

### Installation source/Referrer

**iOS**
We can detect if the app was installed via TestFlight or the App Store.

**Android**
It's a bit complicated here…

We can detect if the app was installed through the Google Play/Amazon Appstore/Samsung AppShop.
In these three cases, all stores are pre-installed on phones (= _

[2022-03-23 12:55] #811 closed, assigned to nobody

[2022-03-23 13:13] bhattabhi013 commented on #1303
Hi @vik4114 ,
I've fixed this issue in [this](https://github.com/openfoodfacts/smooth-app/pull/1306) PR.

[2022-03-23 13:36] teolemon commented on #1232
fixed ?

[2022-03-23 13:57] g123k commented on #1303
@bhattabhi013 Is this a screenshot of your fix, or of the problem?

[2022-03-23 14:08] g123k commented on #1303
Here is a screenshot of the issue

![Screenshot_1648043895](https://user-images.githubusercontent.com/246838/159718457-69a62013-56bd-47d6-94bb-a1cf200a9f9d.png)

[2022-03-23 14:17] bhattabhi013 commented on #1308
Hi @teolemon ,
Is there any mockup available for the history screen? It will help us to identify the position of the scores in that screen.

[2022-03-23 14:42] M123-dev opened #1311 "Infinite account loading spinner because the app can't access the credentials anymore"
### What

- [ ]  happens when I reinstall the app from my pc as debug build with flutter run.
- [ ] Probably because the app then can't access the credentials anymore.

### Screenshot
![Screenshot_20220323-154118.jpg](https://user-images.githubusercontent.com/39344769/159725645-7747e1ce-eac0-4007-87a7-2a0ce3c851cb.jpg)

[2022-03-23 14:43] M123-dev commented on #1232
Yes

[2022-03-23 14:43] #1232 closed, assigned to nobody

[2022-03-23 14:46] M123-dev commented on #1308
The history card looks so empty, maybe a caching problem @monsieurtanuki

[2022-03-23 14:50] M123-dev commented on #1292
The color somehow destroys the feeling of the colored background. You should be able to make the app bar transparent though. And don't forget to set it's elevation to 0 to hide it's shadows

[2022-03-23 14:56] M123-dev commented on #1255
Yes we actually do something like this. Here the workflow for every merged PR: https://github.com/openfoodfacts/smooth-app/blob/develop/.github/workflows/postsubmit.yml

But it's just a android build

[2022-03-23 15:16] alexgarel commented on #1244
Yes, and personally, I would go simple : add a single add photo icon (always visible) over the carrousel, and that would lead to the page with preview of actual photo + buttons to add edit each type of photo. I think this really is more easy to understand for a casual user, and there is no need to patch too much thing in the product page.

[2022-03-23 15:55] bhattabhi013 commented on #1264
Hi @M123-dev ,
Can you please provide a screenshot of the error?

[2022-03-23 16:16] M123-dev commented on #1264
Actually can't reproduce

[2022-03-23 16:42] cli1005 commented on #890
I suppose that this issue only takes care of the text, since the button is too complicated to manage without UI/UX design ( according to issue #1301)...
We've made a final decision? We replace all names by settingNames? or we might display both if name and settingName does not have the same value as following?

![Simulator Screen Shot - iPhone 13 - 2022-03-23 at 17 29 40](https://user-images.githu

[2022-03-23 16:47] monsieurtanuki commented on #1309
@teolemon I guess that a floating action button is supposed to work correctly with a snackbar, so using a FAB would be the solution.

@stephanegigandet This is not my cup of tea to systematically refresh data as I live in the energy save mode (apps and IRW). But that's not the first time we talk (and disagree) about that, so let's go forward!
Assuming that your suggestion is coded, I cannot fully

[2022-03-23 17:00] bhattabhi013 commented on #1264
Actually, I tried to replicate it but I'm unable to do so. Is there any workaround for this? to fix this issue.

[2022-03-23 18:15] g123k commented on #920
You're right  @M123-dev, before handling deep links, we have to migrate the app named routes or Navigator 2.
I create a separate issue for migration.

[2022-03-23 18:17] g123k opened #1313 "Migration to Navigator 2.0"
### What
- As a requirement of #920, we need to use the good old Navigator 1.0 with named routes or switch to Navigator 2.0.
- I suggest the second solution and use GoRouter, as it seems to be the best solution on the market.

Feel free to comment if you have better ideas.

Before starting, here are the required steps:
- [ ] Identify a library
- [ ] List all internal routes

### Part of
- #2515
-

[2022-03-23 19:23] M123-dev commented on #1264
Don't think so @bhattabhi013 when even I the creator of the issue can't replicate we can close the issue. In addition this error won't crash the app

[2022-03-23 19:23] #1264 closed, assigned to bhattabhi013

[2022-03-23 19:35] monsieurtanuki commented on #1313
I don't have better ideas but I feel free to comment all the same :)

As far as I understand the way GoRouter works, that means that all our pages should be similar to a URL, for instance `/product/12345` for product page with barcode `12345`. That's fine by me.
Be careful with the awkward home page with 3 tabs; that's probably not going to be the easiest part.
Good luck!

[2022-03-23 19:54] #1119 closed, assigned to abhay1821

[2022-03-23 19:58] M123-dev commented on #1313
Yes I share the same opinion. It will certainly not be the easiest undertaking but is probably unavoidable for some things.
If you have any question about any design decisions feel free ask

[2022-03-23 20:05] g123k commented on #920
@teolemon Could you make the document publicly readable, please?

[2022-03-23 20:08] monsieurtanuki commented on #1300
In my case, as suggested by the iOS logs, I had to run `pod update Sentry` and then I could `flutter run`.

[2022-03-23 20:09] g123k commented on #1313
@monsieurtanuki That's exactly what you've described. I think I will list all the possible routes before starting anything.

I know, this will take some time to develop, but when it will be done, the app will be fully compatible with web (even if that's not a priority) and able to handle deep links.

[2022-03-23 20:11] monsieurtanuki commented on #1126
Just a remark: it's very tempting, when on the empty history page, to click on the big central icon to start scanning. But nothing happens.

[2022-03-23 20:12] g123k commented on #1307
On Android, we have a switch for this toggle, but we don't have enough space here.
A dialog would be perfect here, I guess. Any suggestion otherwise?

[2022-03-23 20:14] monsieurtanuki commented on #1307
Radio buttons on a column?

[2022-03-23 20:24] teolemon commented on #1313
It's also very important to acquire user at scale. We have 2 M monthly visitors on the mobile website, and web browsers can offer to install/open the app with associated URL schemes

[2022-03-23 20:25] teolemon commented on #920
Fixed @g123k

[2022-03-23 20:26] monsieurtanuki commented on #1313
@teolemon Probably that means that the website URLs must match the app route URLs. Is that possible?...

[2022-03-23 20:31] g123k commented on #1313
I am not fully sure that it would be a nice idea to have the same routes, as the navigation within the app will be different.

Basically, it's the same as using the same models between an API and the UI. The day we have an external change, we shouldn't be impacted.

[2022-03-23 20:34] g123k commented on #920
On Android, here are all the supported links:
- /product
- /additive
- /allergen
- /category
- /cgi/search.pl
- /contributor
- /country
- /label
- /manufacturing-place
- /origin
- /packaging
- /state
- /store

[2022-03-23 20:36] monsieurtanuki commented on #1313
@g123k I'm not saying it would be a nice idea: it's rather a fear that we will need that. Without that I don't know how you can expect a URL to be correct on the website and correct also on the app as deep link so that it will trigger the app download (if relevant) and the display on the app of the correct page. But I've never implemented deep link, I'm probably missing something :)

[2022-03-23 20:37] M123-dev opened #1314 "Switch to barcode scanner when clicking on empty history screen or empty lists"
https://github.com/openfoodfacts/smooth-app/issues/1126#issuecomment-1076774988 @monsieurtanuki

Maybe blocked on: https://github.com/openfoodfacts/smooth-app/issues/1313

[2022-03-23 20:37] monsieurtanuki commented on #1308
Very interesting experience:
1. I've run again smoothie after days not starting it on my emulator
2. it looks like it started from scratch: onboarding and empty history page
3. I type in a barcode, find the product, and go to the history page - I find one item, with the scores, deemed compatible
4. I click on the refresh history button: same item, but the scores are gone and the product is not com

[2022-03-23 20:45] teolemon commented on #1313
@monsieurtanuki we just grabbed the barcode in the native versions.
we then had something like app://whatever:barcode
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2862/files

[2022-03-23 20:58] teolemon commented on #1308
Possibly some API breakage related to #1029
@stephanegigandet ?

[2022-03-23 21:07] #1308 closed, assigned to monsieurtanuki

[2022-03-23 21:08] monsieurtanuki commented on #1313
@teolemon Now with the code I remember more or less: the first thing is to catch the intent from a root URL (e.g. `https://smoothie.org/`) and then to extract the parameters from the full URL in order to know which page we should display. Therefore no need for the website URLs and the app route URLs to be identical, as long as you code the transformation from the former to the latter.

[2022-03-24 07:58] g123k opened #1316 "Document how to translate the app"
If I'm not wrong, there is no dedicated documentation on how to translate the Flutter app.

A page in this GitHub wiki and / or OFF wiki would be a good place, isn't-it?

[2022-03-24 08:30] M123-dev commented on #1316
There is a section for that in the Readme https://github.com/openfoodfacts/smooth-app#internationalization

[2022-03-24 09:05] g123k commented on #1316
@M123-dev I didn't even noticed this section.
But it seems the second link is incorrect (404): https://translate.openfoodfacts.org/translate/openfoodfacts/1322

[2022-03-24 12:47] vik4114 commented on #1292
@M123-dev This is how it looks in transparent

https://user-images.githubusercontent.com/46121493/159919220-ea237a4c-b8df-4703-a345-41f615f571db.mp4

https://user-images.githubusercontent.com/46121493/159919234-19c8a8c6-fc1d-4022-9ad3-0443f41b5c45.mp4

[2022-03-24 12:53] alexgarel opened #1319 "Ask questions to non logged-in users"
### What

We should use the new anonymous voting feature of robotoff to asks questions to non login users.

We can now ask questions to non logged-in user.

- [ ] ask question even to non login users
- [ ] add device_id parameter based on ip address fingerprint (or a random stored value ?)
- [ ] add a confirmation/thank you message also encouraging users to create an account
  (Ideally this should

[2022-03-24 12:58] vik4114 opened #1320 "Default country is wrong"
### What
- Default country is coming wrong

### Steps to reproduce the behavior
1. Get the fresh install
2. See error

### Expected behavior
It should come up as the country of device

### Video

https://user-images.githubusercontent.com/46121493/159920996-393989c0-960e-4939-bf5f-f9c0627b7fbe.mp4

### Smartphone model
 - Device: Redmi note 8pro
 - OS: Android 11
 - App Version - Develop
 - Country

[2022-03-24 14:28] bhattabhi013 opened #1321 "Summary card and question card doesn't honor dark mode"
### What
Summary card in product page doesn't honor dark mode.

### Steps to reproduce the behavior
1. Enable dark mode
2. Search a product, e.g. Tata Premium tea
3. See error

### Expected behavior
Summary card should honor dark mode and text should be clearly visible.

### Part of
- Add the issue number preceded by # (that also allows searching by name for similar issues): eg #525

### Screensho

[2022-03-24 14:30] bhattabhi013 commented on #1321
I suggest using secondary color as a background to make the text more readable and effective.
E.g.
<img width="264" alt="image" src="https://user-images.githubusercontent.com/47862474/159939042-951dade9-37f9-4535-acb1-a978768a85c7.png">

[2022-03-24 14:32] teolemon commented on #1321
ooof, that is an eyesore, with low contrast.
Can you try E1D3C2, both in light and dark mode ?

[2022-03-24 14:49] bhattabhi013 commented on #1321
Yeah sure,
Light mode:
<img width="259" alt="image" src="https://user-images.githubusercontent.com/47862474/159943074-7e046314-b91f-4592-b9b9-5757fc0cf6f3.png">

Dark mode:
<img width="256" alt="image" src="https://user-images.githubusercontent.com/47862474/159942966-3efdc977-3ebb-4848-a156-32e0845be131.png">

[2022-03-24 14:55] M123-dev commented on #1321
We actually have a open PR with that already https://github.com/openfoodfacts/smooth-app/pull/1249

[2022-03-24 14:57] M123-dev commented on #1320
Correctly detects germany for me

[2022-03-24 14:57] M123-dev commented on #1319
I think we already ask non logged in users

[2022-03-24 15:23] teolemon commented on #1321
ah wrong code, I was expecting the global blue of the app

[2022-03-24 15:41] bhattabhi013 commented on #1321
Should I close this ?
I've also noticed something similar after clicking on the question card.
<img width="254" alt="image" src="https://user-images.githubusercontent.com/47862474/159954560-b5a1c905-2ace-4df4-a855-9e2b9d1dd730.png">

[2022-03-24 15:47] stephanegigandet commented on #1309
@monsieurtanuki All very good questions indeed. I can't think of very good answers for them, so let's keep the current behaviour.

[2022-03-24 15:49] bhattabhi013 commented on #1320
Hi @vik4114 ,
Can you check whether you have turned your location ON or not.

[2022-03-24 16:03] stephanegigandet commented on #1307
Maybe we can think more about the actual use of this.
Some users want to see data per 100g, because they are used to it, they can quickly see the % of sugars etc.
Others are more interested in the per serving, (also because they are used to it), because they count calories etc.

But it's very likely that this is a global user preference, it does not change on a product per product basis.

So maybe

[2022-03-24 16:19] #1298 closed, assigned to nobody

[2022-03-24 16:42] monsieurtanuki commented on #1320
I noticed the same bug yesterday: USA instead of France. It used to work. I never use location ON.

[2022-03-24 16:44] monsieurtanuki commented on #1321
Remember to use `onPrimary` on `primary` and `onSecondary` on `secondary`. At least the text will be readable.

[2022-03-24 16:45] bhattabhi013 commented on #1321
<img alt="image" width="254" src="https://user-images.githubusercontent.com/47862474/159954560-b5a1c905-2ace-4df4-a855-9e2b9d1dd730.png">

After making some changes in the question card , it looks like this:
<img width="267" alt="image" src="https://user-images.githubusercontent.com/47862474/159967308-1bde40c3-fd7a-4a1b-97f3-a754ff2e084e.png">

[2022-03-24 16:45] M123-dev commented on #1231
Any idea what causes this @monsieurtanuki

[2022-03-24 16:49] bhattabhi013 commented on #1321
Hi @monsieurtanuki ,
Question card page's background color is hard coded right now, therefore, it remains same during day and night mode. Should I change it too?

[2022-03-24 17:10] vik4114 commented on #1320
@bhattabhi013 Its ON

[2022-03-24 17:13] vik4114 commented on #1321
Yes Just remove hardcoded values and Mostly it will fix these issues

[2022-03-24 17:25] monsieurtanuki commented on #1307
In order to go a bit further on @stephanegigandet's path, that could mean
* displaying the current choice ("100g", "60g serving") and then the "edit" icon (to make it clear that it's editable) (even like an ElevatedButton?)
* when clicking on that serving button, open a dialog with at least two app-level choices ("100g" or "serving")
* how could we put in the same dialog a specific user-defined se

[2022-03-24 19:46] monsieurtanuki commented on #1231
Not really. But:
* I've never understood what the `rootNavigator: true` meant (and if it was relevant here) (my guess is: no it's not)
* in order to investigate, we could split that line in two (and see which line crashes):
[code]
* we could even play it safe and never crash while keeping an eye on the bug:
[code]
* assuming we pop the dialog too early inside the `showDialog`, we could try this:
[

[2022-03-24 20:13] M123-dev commented on #1231
When I understood it right than all Dialogs are pushed onto the MainRouter. Probably initated by the MaterialApp, but as we have different Navigators normal .pop would try to pop them which of course leads to problems.

The other suggestions make sense, looking at the sentry stats this error occured 441 times for 256 users, so it should hopefully be not to hard to find if we know where to look. I

[2022-03-24 22:03] monsieurtanuki commented on #1309
Let's focus on the OP: a floating action button that unfortunately doesn't move when there's a snackbar (in `ProductQueryPage`), but that should actually move according to the standard behavior.

Probable reasons:
* the floating action button is not a `FloatingActionButton` but an embedded `FloatingActionButton` - and maybe looses some of its superpowers
* the snackbar is displayed too early - or

[2022-03-25 08:27] PrabeshPP commented on #1320
Yeah ,it shows USA. Even though the location is on.

[2022-03-25 08:50] teolemon commented on #149
@monsieurtanuki this one is mostly fixed by the devmode, and actually kinds of works well

[2022-03-25 08:50] #149 closed

[2022-03-25 08:55] monsieurtanuki commented on #149
@teolemon Good news! I did not expect that the systems would be compatible enough (e.g. cholesterol for shampoo), but I guess the queries are resilient as there are few (or no) mandatory fields ("give me the nutrients if available, or null").

[2022-03-25 08:59] teolemon opened #1324 "Support data refresh on existing products (Tracker)"
### What

[2022-03-25 09:08] teolemon opened #1325 "Implement Road to Scores for existing products"
### What
- [x] #518
- [x] #519
- [x] #520
- [ ] #1925 (Essential, otherwise the road to scores does not seem to be working)

Good news: ProductImprovements landed in openfoodfacts-dart, which abstract a big chunk of the logic for this:
- https://github.com/openfoodfacts/openfoodfacts-dart/pull/191
- https://github.com/openfoodfacts/openfoodfacts-dart/pull/288

### Part of
- #379

[2022-03-25 09:17] cli1005 commented on #1022
I added a little "tooltip" in front of the page, but two points need to be confirmed concerning the behavior of showing/dismissing this little popup:

**The hint will popped up:**
- only one time on the page sample heath card if the user starts(or resumes) the onboarding process from this page or any page before(no hint any more even back to the page).
- only one time on the page sample eco card i

[2022-03-25 09:29] teolemon commented on #1022
Sounds reasonable @cli1005 👍

[2022-03-25 09:56] teolemon opened #1326 "Propose anonymous, standard, fast, minimized search results by default to users, with a path to slower, private results"
### What

- [x] #1333
- [ ] Add a path to Search settings
  - More search options >>
    - (Current option) You get fast, private but non-personalized results.
    - [ ] #1491
    - [ ] You can get fully private search results, but they will be limited to the first 500 popular products, and it will take around 5 seconds to get a result"

- Based on the discussion from #832

### Part of
- #991

[2022-03-25 11:57] Gagarod opened #1327 "Text "terms of use and contribution" stays blue in color on changing the app theme"
### What
- The text "terms of use and contribution" in the Create Account section does not change its color on changing the theme.

### Steps to reproduce the behavior
1. Change App theme
2. Go to Profile Tab
3. Click on SignIn
4. Click on Create Account button
5. The "terms of use and contribution" is still blue in color

### Part of
- #1171

### Screenshot/Mockup/Before-After
|Dark theme       |

[2022-03-25 11:58] vik4114 commented on #1327
@Gagarod I think that's okay

[2022-03-25 12:01] Gagarod commented on #1327
but that doesn't match with the UI. Should I change this?

[2022-03-25 12:06] bhattabhi013 commented on #1301
Hi , is someone working on this?

[2022-03-25 12:12] AshAman999 commented on #1327
let the maintainers have a look, they will suggest the best

[2022-03-25 12:24] M123-dev commented on #1327
All links in the app are blue and underlined, so that it's clear that they are links, but I don't have a strong opinion on whether they should change color or not

[2022-03-25 12:24] PrabeshPP commented on #1327
@Gagarod  I think the blue color looks good with both dark and light theme.

[2022-03-25 12:25] M123-dev commented on #1301
Currently not @bhattabhi013 but there is no plan yet on how to do it in a pretty and easy to understand way. But feel free to share your ideas

[2022-03-25 12:40] monsieurtanuki commented on #1309
I've run some tests, and what I've found is that the problem probably lies in the multi-tabs system, where there is one main `Scaffold` and 3 "parallel" nested `Scaffold`s. The SnackBar / FloatingActionButton interaction is lost with those multiple `Scaffold`s. With just a single `Scaffold`, that works ok.

From https://stackoverflow.com/questions/60561552/multiple-scaffolds-for-each-page-inside-a

[2022-03-25 15:08] bhattabhi013 commented on #1149
I think #915  includes this and this will be fixed by the single PR.

[2022-03-25 17:33] bhattabhi013 commented on #1301
I read the ongoing thread at #890  and I feel that we should add settingNames as sub-heading to existing setting names and then re-size the buttons accordingly by adjusting it's height.

[2022-03-25 17:42] monsieurtanuki commented on #1309
That said, I've just found a fix for the snackbar / FAB interaction. About to PR...
Assuming that this is the only side-effect we will experience, we can survive with nested `Scaffold`s.

[2022-03-25 17:50] monsieurtanuki opened #1333 "Show by default unranked search results (for 25 first results of the query, with more loading on scroll)"
From #1326 (I could not create an issue directly from it)

Show by default unranked search results (for 25 first results of the query, with more loading on scroll, with just : https://fr.openfoodfacts.org/cgi/search.pl?search_terms=salmon&action=process&fields=brands,product_name,image_small_url,image_front_thumb_url,quantity,nutrition_grades_tags,ecoscore_tags&json=1&page_size=25

What we do on A

[2022-03-25 18:55] bhattabhi013 commented on #903
I can create the UI/ UX for this screen and wire it to the button click.

[2022-03-25 19:50] M123-dev opened #1335 "Preferences tab top padding hides text below it"
### What

The "My profile" text is hidden when scrolling up

![Screenshot_20220325-204916.jpg](https://user-images.githubusercontent.com/39344769/160191488-0ad8e0a2-1e33-4c62-a013-dfb404c952e5.jpg)

[2022-03-25 19:59] #1309 closed, assigned to monsieurtanuki

[2022-03-26 06:37] AshAman999 commented on #1335
Just had a look at the issue, the pr #1262  which was to fix #824  is the reason it started in the first place.
The extra padding on the listview in the `user_preferences_page.dart` file is the reason
[code]
removing this padding is solving the issue of My profile text being hidden while scrolling,
or have the padding like this inside the listview itself
[code]
@M123-dev  views?
And should I raise

[2022-03-26 06:39] AshAman999 commented on #1320
Verifying the problem, faced the same issues as mentioned by @vik4114

[2022-03-26 07:11] bhattabhi013 commented on #1335
Hi @AshAman999,
The latter approach looks good to me.

[2022-03-26 07:53] bhattabhi013 commented on #1218
This issue is not present anymore, I think we should close this issue.
<img width="265" alt="image" src="https://user-images.githubusercontent.com/47862474/160230279-e53a60d5-a1f7-4db5-9cc4-a58fa87c15ab.png">

[2022-03-26 08:51] monsieurtanuki commented on #1333
### Currently
1. the user enters keywords
1. we try to find if a similar keyword search is already in the local database
  * primary key: "search/$keywords"
  * data: timestamp and barcode list
3. if found, we display the product list from the database, and the timestamp to say "data is that old", with a snackbar to refresh the data from the back-end
4. if not found, we call the back-end, and popu

[2022-03-26 09:00] alexgarel commented on #1319
@M123-dev can you verify you send a coherent device_id then ?

[2022-03-26 09:01] alexgarel commented on #1319
Also the message that they can login, can tell them that when logged-in, their answers are applied immediately.

[2022-03-26 09:19] bhattabhi013 commented on #1149
Hi,
Can I work on this?

[2022-03-26 09:22] M123-dev commented on #1292
Heyy looks good @vik4114 thanks for making it transparent. But now looking at it again it's not so good to read with the cards behind the title. What about making the AppBar background color the same as the Scaffold color. So that it doesn't stand out but it's readable.

[2022-03-26 09:28] bhattabhi013 commented on #1314
Hi @M123-dev,
Can I work on this?

[2022-03-26 09:30] M123-dev commented on #1314
Sure @bhattabhi013

[2022-03-26 09:34] M123-dev commented on #1218
The problem still occurs to me

[2022-03-26 09:34] M123-dev commented on #1218
But yes @GowthamGoush

[2022-03-26 09:56] teolemon opened #1337 "The refresh button in the history bar looks out of place"
### What
- The refresh button in the history bar looks out of place
- Replace it by a one time onboarding tooltip about pull to refresh
- See #1022 for inspiration

### Part of
- History

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/160234404-a80d1dfb-53b8-4e48-8cdd-db5dbe3afc5d.png)

[2022-03-26 09:58] teolemon opened #1338 "Text selection makes cards less tappable (at least on onboarding ?)"
### What
- Text selection makes cards less tappable (EDIT: at least on onboarding ? seems to work in regular product page)
- Is it possible to have both tappability, and text selection ?
- Otherwise, we should give up on text selection

[2022-03-26 11:29] vik4114 commented on #1292
@M123-dev Now it is transparent when expanded and scaffold color when collapsed

https://user-images.githubusercontent.com/46121493/160237286-4791df9a-e80f-4f72-8745-a33a58480612.mp4

[2022-03-26 11:30] M123-dev commented on #1292
Looks great @vik4114

[2022-03-26 12:29] teolemon opened #1340 "Inconsistencies in the close button in settings"
### What
- Inconsistant placement of close button
- Sometimes it does not look like a close button
- Sometimes it's absent

### Open questions
- Should those be modals ?
- Could they be converted to inline cards or bottom sheets ?

### Part of
- #960

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/160239435-a8295a64-cd4b-41bb-ad82-73455decf426.png)

[2022-03-26 12:33] teolemon opened #1341 "The personal ranking is sometimes hard to explain"
### What
- The personal ranking is sometimes hard to explain
- Default settings

### Screenshots
![image](https://user-images.githubusercontent.com/1689815/160239569-b5a66e80-d766-4f5f-a4ae-a32db6c0d8d1.png)

### Part of
- #1284

[2022-03-26 12:35] teolemon opened #1342 "Clarify what was the product removed from"
### What
- Clarify what was the product removed from. You could otherwise believe you have deleted the product from your local history or from the server
- "Product removed from comparison"

### Part of
- #1284

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/160239610-ad455459-3248-4cf5-af36-554b3d9637d4.png)

[2022-03-26 12:50] teolemon opened #1343 "Create a button to extend research to world"
### What
- Create a button on the search list to extend the research to the entire world.

### Part of
- #1284

### Video with audio commentary
https://user-images.githubusercontent.com/1689815/160240165-de5d9456-6d40-4055-b921-5bf337a6859b.mp4

[2022-03-26 12:54] teolemon opened #1344 "Offer to save Open Food Facts credentials in the native OS keychains"
### What
- Offer to save Open Food Facts credentials in the native OS keychains
- https://pub.dev/packages/flutter_secure_storage might be useful

### Part of
- #419

[2022-03-26 13:27] M123-dev commented on #1344
Already done 😉
 https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/database/dao_secured_string.dart

[2022-03-26 13:27] #1344 closed, assigned to nobody

[2022-03-26 13:31] #1335 closed, assigned to nobody

[2022-03-26 13:32] teolemon commented on #1344
@M123-dev for some reason it's not offering the saved credentials when I try to login again

[2022-03-26 13:32] #1114 closed, assigned to nobody

[2022-03-26 13:34] M123-dev commented on #1344
What do you mean @teolemon, autocomplete from your keyboard

[2022-03-26 13:58] teolemon commented on #1344
It might be an Android specific feature: https://pub.dev/packages/password_credential

[2022-03-26 14:46] bhattabhi013 commented on #1342
Hi @teolemon ,
All we have to do is update the snack bar?

[2022-03-26 14:56] bhattabhi013 commented on #1342
Hi @teolemon,
Please assign this issue to me.

[2022-03-26 15:42] M123-dev commented on #1344
Actually autocomplete should be already in the TextFields for login/register. Creating a new issue

[2022-03-26 15:43] M123-dev opened #1346 "Login/Register autofill broken"
Follow up from: https://github.com/openfoodfacts/smooth-app/issues/1344

Somehow the autocomplete feature in the login and register TextFields don't work anymore

[2022-03-26 15:49] monsieurtanuki commented on #1343
What is your country?

[2022-03-26 15:51] monsieurtanuki commented on #1343
What is your quest?
What is the capital of Assyria?
I don't know that, ahh!
![Capture d’écran 2022-03-26 à 16 51 05](https://user-images.githubusercontent.com/11576431/160247192-25592260-f5a0-4f81-889c-c79dcd7e65f4.png)

[2022-03-26 15:52] #1292 closed, assigned to nobody

[2022-03-26 16:01] bhattabhi013 commented on #1342
Please close this issue as this is fixed by #1345

[2022-03-26 16:26] teolemon commented on #1343
Oh, GitHub removed the sound ?

[2022-03-26 16:30] monsieurtanuki commented on #1343
@teolemon I managed to hear you. I've just run the "lasagne" test and got 500 products (as France). Then I've refreshed as USA, and got 53 products.

[2022-03-26 17:21] #1342 closed, assigned to nobody

[2022-03-26 18:02] #1321 closed, assigned to nobody

[2022-03-26 19:03] #1303 closed, assigned to nobody

[2022-03-26 19:16] teolemon commented on #1343
Ah. Ok, will be mocking up a button to extend to world

[2022-03-26 22:13] teolemon commented on #1040
fixed

[2022-03-26 22:13] #1040 closed, assigned to GowthamGoush

[2022-03-27 05:44] AshAman999 commented on #1337
so we have to add a pull to refresh indicator here as well cause I don't see one already here,
and also when it's implemented we should do a one-time hint tooltip to indicate the same?

Just came up with this UI, comments?

https://user-images.githubusercontent.com/57723319/160268452-80418b3b-0d6b-4b9e-9495-fca5422b782d.mp4

Should I start working on the proposed idea?

[2022-03-27 07:15] PrabeshPP opened #1347 "Transportation Component Icon and title color is not compatible with background color."
### What
- Icon of a truck and the title color in Transportation Component  does not look good with the present white background color.

### Screenshot/Mockup/Before-After
<img src="https://user-images.githubusercontent.com/83439329/160270876-45fdaba5-4dda-4904-97e4-f7ef640b6d2c.jpg" width="250" height="450">

[2022-03-27 07:15] PrabeshPP commented on #1347
If anyone is already working on this issue ,do let me know.

[2022-03-27 09:26] teolemon commented on #1337
- Pull to refresh is a sensible idea 👍
- We should probably have a one time tooltip when we reach 5 scans to explain pull to refresh.

[2022-03-27 09:32] teolemon commented on #1347
I believe this is something we set partly client and server side. I'd like to have @stephanegigandet 's input before changing anything there.

[2022-03-27 09:44] teolemon opened #1348 "Adding pull to refresh"
### What
- [ ] Adding pull to refresh to search
  - [ ] #1350
- [x] Adding pull to refresh to the product page
  - [x] #1359
- [x] #1337 (for History)
- [ ] Add pull to refresh in personalized search results

### Part of
- Refresh strategy

[2022-03-27 12:37] AshAman999 commented on #1337
I am done with implementing the pull to refresh indicator,
waiting for the one-time tooltip to be implemented in #1022 so that the same UI can be used here as well

[2022-03-27 14:54] teolemon opened #1349 "(Discussion) Reduce the number of important settings"
### What (Discussion)
- Reduce the number of important settings to the minimum to avoid impossible matches and redundant scoring (eg: organic / Eco-Score, Salt and Nutri-Score) for most people (the scores already take them into account)
- Use the default settings exposed by the API
- Open issues
  - Do we actually want the compare button to appear ?
  - Wouldn't we want an item next to "Ultra proc

[2022-03-27 15:04] vik4114 commented on #1348
@teolemon Here is for search page

https://user-images.githubusercontent.com/46121493/160287810-ece2b9fc-6011-461b-b432-6982a937176d.mp4

[2022-03-27 15:09] teolemon commented on #1349
Those should be "Not important"
![image](https://user-images.githubusercontent.com/1689815/160288013-5c913a7d-ab07-403d-a827-718112035bae.png)
![image](https://user-images.githubusercontent.com/1689815/160288017-b90608ad-b931-43ae-b834-4734d0c0d23c.png)

[2022-03-27 15:21] teolemon opened #1351 "Send unique ID with anonymous queries"
### What
- I was able to make an anonymous edit using the hidden category browser
  - March 27, 2022 at 5:15:13 PM CEST - [smoothie-app](https://world.openfoodfacts.org/editor/smoothie-app) - (app)Test user for project smoothie - [view](https://world.openfoodfacts.org/product/3245390134721/aligot-a-la-tome-fraiche-du-cantal-reflets-de-france?rev=41)
  - We shouldn't send "Test user for project smo

[2022-03-27 15:47] teolemon opened #1352 "Robotoff refresh bug brings me into a loop"
### What
- Robotoff refresh bug brings me into a loop
- I answer the question (No), and it offers the same question again and again…

### Video

https://user-images.githubusercontent.com/1689815/160289497-fd21c474-00b5-4107-a771-fadbd9635a30.mp4

[2022-03-27 16:33] vik4114 commented on #1348
@teolemon Here is for product page

https://user-images.githubusercontent.com/46121493/160291276-bb442c34-cebd-4ed9-982e-8ca59de07e85.mp4

[2022-03-27 18:26] teolemon commented on #1075
<img width="375" alt="Brands picker" src="https://user-images.githubusercontent.com/1689815/160303958-f08b5701-4d5e-4337-96b8-9ef18070b321.png">
<img width="375" alt="Category picker" src="https://user-images.githubusercontent.com/1689815/160303959-5f64855b-71ca-47a8-8eb0-2c4647d40ff9.png">
<img width="375" alt="Country of sale picker" src="https://user-images.githubusercontent.com/1689815/1603039

[2022-03-27 18:28] teolemon commented on #1075
@monsieurtanuki @stephanegigandet @g123k Derived from a mockup by @greentoff

[2022-03-27 18:29] teolemon commented on #1075
Note: there shouldn't be arrows on final leaf categories

[2022-03-27 18:38] monsieurtanuki commented on #1349
@teolemon Just to clarify, you mean that:
1. the _default values for user preferences_ are everything to "not important", except "important" for nutriscore, ecoscore and nova?
2. we would be better off with nova being displayed on product page with a similar round rect + logo instead of just a colored dot and comment?

What do you mean with "Use the default settings exposed by the API":
1. is ther

[2022-03-27 18:43] teolemon opened #1354 "Colored compatibility banner (tracker)"
### What
- [ ] #1526
- [x] #1060

### Code pointers
- https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/helpers/product_compatibility_helper.dart
- https://github.com/openfoodfacts/smooth-app/blob/a904c294f7a57d4d0dd103ec51e8b2cd576d5b35/packages/smooth_app/lib/pages/product/summary_card.dart#L303

### Part of
- #1265

[2022-03-27 18:45] monsieurtanuki commented on #1075
It does make more sense with the "search" field.
Maybe the title is not correct: "Categories" instead of "Add category" - I'm sure that the end user knows what a checkbox is.
Some of your screenshots are incorrect, when one item is selected on the check list but not visible on top, right?
Still, I don't picture myself the landing page if both "naturalia" and "carrefour bio" are selected.
Perhaps a

[2022-03-27 18:55] teolemon commented on #1349
1. yes
2. yes

https://fr.openfoodfacts.org/api/v0/preferences
https://fr.openfoodfacts.org/api/v0/attribute_groups
yes

[2022-03-27 20:53] teolemon commented on #890
Here's a temporary solution. It takes more vertical space, but it's text safe, allows for explanatory tooltips, and using long wordings (e.g. "Low salt") instead of name ("Salt")
<img width="375" alt="Infotips - wide" src="https://user-images.githubusercontent.com/1689815/160300501-aecc4e96-4bd2-47d2-b89b-0bad8bf2fb5b.png">

[2022-03-27 20:56] monsieurtanuki commented on #1349
So the recent improvement is the presence of "default" in "attribute_groups".
That said, I don't think we use "very_important" in smoothie anymore, therefore we'll have to downgrade it to "important".

[2022-03-27 22:13] #512 closed, assigned to justinmc

[2022-03-27 22:38] teolemon commented on #1075
@monsieurtanuki fixed all of them above based on your input.
- For false/multiple values, we don't have any control mechanism on the web so far. It varies from field to field (Several potential values for Stores, and Several values for brands (eg Milka, Mondelez, or Milka and Oreo (yes))

[2022-03-28 05:21] AshAman999 opened #1356 "Info card stays white on dark theme"
### What
- The card on the search screen shows a white-colored box even on a dark theme, thus making it look a bit weird.

### Steps to reproduce the behavior
1. Go to ScanPage
2. Scan a product
3. Go and see the info card and see the bottom of the info card
4. See the odd color

### Expected behavior
The card should honor the color scheme of dark mode so that it matches the theme

### Why
- To ma

[2022-03-28 05:41] AshAman999 commented on #1356
Can I be assigned to work on this ?

[2022-03-28 06:12] M123-dev commented on #890
Not really satisfyed with this solution altough it's just temporary

[2022-03-28 06:12] M123-dev commented on #1356
Sure @AshAman999

[2022-03-28 08:15] monsieurtanuki commented on #1349
@teolemon Just to clarify: you would like NOVA (which is a default according to API) to be displayed as Nutriscore and Ecosore on product page, regardless of the user's preferences, right?
And not explicitly Nova, but all the attributes that have an "important" default value (currently Nutriscore, Ecoscore and Nova), right?
![Simulator Screen Shot - iPhone 8 Plus - 2022-03-28 at 10 13 12](https://

[2022-03-28 08:17] monsieurtanuki commented on #1349
If so there  would potentially be an incoherence with the "card" display, which only has Nutriscore and Ecoscore.
Screenshot with Nova included in card display:
![Simulator Screen Shot - iPhone 8 Plus - 2022-03-28 at 10 16 25](https://user-images.githubusercontent.com/11576431/160355763-d7b21e19-cf49-492e-8d1f-8198e73affb7.png)

[2022-03-28 09:45] teolemon commented on #1349
- Yes, anything important directly on the scan card (that allows for potential product recalls or alerts should they be needed on specific products)
- As an aside, NOVA is also really interesting because the side effect is to know whether we have ingredients or not, directly from the scan card
- I think the NOVA score on list view is Incomprehensible. We should probably replace it by "Ultra-proces

[2022-03-28 10:05] monsieurtanuki commented on #1349
@teolemon I'm still a bit puzzled:
1. currently there are 3 attributes with a _default_ "important" meaning in the asset file: nutriscore, ecoscore and nova
2. with #1358, those attributes will be the only ones considered "important" at init time or after a reset/refresh (specific button), as opposed to a hard-coded list used for the moment
3. currently only 2 hard-coded attributes are displayed o

[2022-03-28 10:08] teolemon commented on #875
Partly the same as #1356 which has a PR

[2022-03-28 10:11] bhattabhi013 commented on #1340
Hi @teolemon ,
Can I work on this?

[2022-03-28 10:58] bhattabhi013 opened #1360 "Add padding to the search card"
### What
Add padding to the search card so that it doesn't touch the bottom navigation bar.

### Steps to reproduce the behavior
1. Install the app
4. See error

### Why
- Improves UI

### Part of
- Add the issue number preceded by # (that also allows searching by name for similar issues): eg #525

### Screenshot/Mockup/Before-After
<img width="270" alt="image" src="https://user-images.githubuserc

[2022-03-28 13:51] monsieurtanuki commented on #1333
@teolemon @M123-dev Something like this?
![Simulator Screen Shot - iPhone 8 Plus - 2022-03-28 at 15 50 32](https://user-images.githubusercontent.com/11576431/160412599-9f8de67f-3176-4b16-9177-ef2564b5946a.png)

[2022-03-28 13:56] teolemon commented on #1333
I would only make it manual in a potential power-saving mode, otherwise I would autoload like we did in V1.

[2022-03-28 14:11] monsieurtanuki commented on #1333
I understand.
Still, I'll code it "my" way in a first phase, for debug reasons, and because an autoload would prevent users from knowing how many "lasagne" they'll have to download (e.g. 1083 in France vs. 53 in the USA).
Then another developer can code the autoload on top of my code.
The principles are the same anyway: downloading data by batches of 25 while displaying the whole list, the only di

[2022-03-28 14:20] M123-dev commented on #1352
Same as #1101

[2022-03-28 14:20] #1101 closed, assigned to nobody

[2022-03-28 14:27] #915 closed, assigned to bhattabhi013

[2022-03-28 14:30] g123k commented on #1255
Before starting anything on the Flutter side, we will test some improvements on the Android app.
If they are successful, we will then implement here.

To follow our tests on Android: https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/4619

[2022-03-28 14:42] #1356 closed, assigned to AshAman999

[2022-03-28 14:51] #1338 closed, assigned to nobody

[2022-03-28 14:53] bhattabhi013 commented on #1360
Should I work on this?

[2022-03-28 14:53] #1297 closed, assigned to abhay1821

[2022-03-28 14:55] M123-dev commented on #1360
If you wan't to sure @bhattabhi013

[2022-03-28 15:53] #1349 closed, assigned to monsieurtanuki

[2022-03-28 16:40] #1337 closed, assigned to nobody

[2022-03-28 17:36] teolemon opened #1371 "Create a User Interface for advanced search filtering"
### What
### Backend readiness
- [ ] https://github.com/openfoodfacts/openfoodfacts-dart/pull/313
- [ ] Original form on the web for any remaining reverse engineering: https://world.openfoodfacts.org/cgi/search.pl?graph=1
- [ ] https://github.com/openfoodfacts/openfoodfacts-dart/issues/523
- [ ] https://github.com/openfoodfacts/openfoodfacts-dart/issues/530
- [x] https://github.com/openfoodfacts/o

[2022-03-28 17:38] teolemon commented on #1371
- @monsieurtanuki initial search to leverage https://github.com/openfoodfacts/openfoodfacts-dart/pull/313

[2022-03-28 17:39] #1149 closed, assigned to bhattabhi013

[2022-03-28 18:36] #1360 closed, assigned to nobody

[2022-03-28 19:01] bhattabhi013 commented on #1340
Hi  ,
We can close this issue as this is fixed by #1361.

[2022-03-28 19:07] bhattabhi013 commented on #903
Should I work on it?

[2022-03-28 19:08] #1340 closed, assigned to bhattabhi013

[2022-03-28 19:09] M123-dev commented on #903
Sure @bhattabhi013 but it would be even better if you could also make it functional. https://github.com/openfoodfacts/openfoodfacts-dart

[2022-03-28 19:12] bhattabhi013 commented on #916
Hi @GowthamGoush ,
Do you need any help with it?

[2022-03-28 19:20] abhay1821 opened #1372 "bug: Overflow in settings - Debug using chrome UI breaks"
### What
- When App debugs using chrome UI breaks due to Screen Dimensions

### Steps to reproduce the behavior
1. Debug Using Chrome
2. Go to the Profile tab

### Why
The UI should not break on Chrome debug device Preview too

### Part of
- #1171

### Screenshot/Mockup/Before-After
| [**Actual behaviour**]()      | [**Expected behaviour**]()     |
|------------|-------------|
|  <img src="https:/

[2022-03-28 19:23] bhattabhi013 commented on #903
Yeah sure, please assign this issue to me.

[2022-03-28 19:24] g123k opened #1373 "Bottom bar: same tooltip for the three icons"
### What
The three bottom icons (Profile / Search / History) share the same label
![Screenshot_20220328-211606](https://user-images.githubusercontent.com/246838/160471505-d76b624f-2756-42b9-afb9-0855faa244b2.png)

### Steps to reproduce the behavior
1. Long press on a bottom bar icon
2. Message "Profile"

### Expected behavior
Each icon should have its own label (Profile / Search / History)

[2022-03-28 19:30] abhay1821 commented on #1373
@g123k could you please assign this to me . I will fix it

[2022-03-28 20:30] teolemon opened #1376 "The ingredient photo should be fully visible in the ingredient extraction screen."
### What
- The ingredient photo should be fully visible in the ingredient extraction screen.

### Steps to reproduce the behavior
1. Go to Dev Mode
2. Enable ingredient extraction button
3. Tap on the ingredient extraction button and take a new photo
4. See very zoomed ingredient photo

### Expected behavior
Fully visible ingredient photo, potentially zoomable

### Why
- To ensure people can doubl

[2022-03-28 20:34] teolemon opened #1377 "It should be possible to extract ingredients without taking a new photo"
### What
- It should be possible to extract ingredients without taking a new photo

### Steps to reproduce the behavior
1. Go to Dev Mode
2. Enable ingredients extraction
3. Go to a product and open ingredient extraction
4. You can't extract ingredients again without taking a new photo
5. You don't see existing ingredients

### Expected behavior
- The existing ingredients are visible, there's a cl

[2022-03-29 04:20] #1289 closed, assigned to M123-dev

[2022-03-29 04:22] M123-dev commented on #1376
We could use the same widget as for the images on the product page

[2022-03-29 09:06] VaiTon commented on #1101
Superseeded by #1352

[2022-03-29 09:08] teolemon opened #1379 "Product addition (tracker)"
### Who for
- Contributors
### What

[code]
[code]
[code]

### Video
https://photos.app.goo.gl/V1cwkaVEM9ArwJBL7

### Part of
- #503

[2022-03-29 09:44] stephanegigandet commented on #1347
Here are the colors we currently use on the Open Food Facts website, based on colors selected by Tim:

$grade-a-color: #219653;
$grade-b-color: #60ac0e;
$grade-c-color: #c88f01;
$grade-d-color: #e07312;
$grade-e-color: #eb5757;
$grade-unknown-color: #4f4f4f;

$evaluation-good-color: #219653;
$evaluation-average-color: #f2994a;
$evaluation-bad-color: #eb5757;
$evaluation-unknown-color: #4f4f4f;

[2022-03-29 11:15] VaiTon commented on #1175
Related to:
- https://github.com/openfoodfacts/smooth-app/issues/1348

[2022-03-29 11:19] VaiTon commented on #840
I don't think that's good for user security. There are app to open QR codes and we're not one of them.

Maybe we could add just a snackbar "Not a valid product barcode".

[2022-03-29 11:25] VaiTon commented on #832
This has a huge impact IMHO. Let's do this before thinking about the others

[2022-03-29 11:42] cli1005 commented on #890
According to a discussion made with @teolemon, we will apply the solution proposed by @monsieurtanuki (https://github.com/openfoodfacts/smooth-app/issues/890#issuecomment-1007589240) as a temporary solution while waiting for the final UI/UX design:
- attribute value: name --> settingName
- text style :  headline4 --> bodyMedium
- kept mandatory mandatory

[2022-03-29 12:17] teolemon opened #1382 "👥 User management (tracker)"
### Who for
- Potential contributors & Contributors

### What

### Signup
  - [x] #1407
  - [x] #1408
  - [ ] #1410
  - [x] #1409

### Account deletion
- [x] #2476
- [ ] #1389
- [ ] #4162

### Login and Relogin
- [ ] There's no way to relog after being logged out
- [ ] There's no login prompt at signup (could we detect that the user is already a contributor ?)

### Part of
- #525

[2022-03-29 12:31] M123-dev commented on #832
Another minimization idea which just came to  my mind, we currently request all the fields we show on the product page but it's unlikely everyone needs all of them for ranking.

I for example don't have any big food allergies so for my ranking they can be left out completely.

This of course leads to more complexity but if there is no other way then to query around 500 products for personal search

[2022-03-29 12:35] teolemon opened #1384 "Is there a way to move the Autofocus focus up ?"
### What
- Is there a way to move the Autofocus focus up ? Can we set a focal point in the center of the visor ?
### Video
- https://photos.app.goo.gl/ye41AXCCfCRfSkyh9
### Part of
- #526

[2022-03-29 13:04] #1222 closed, assigned to PrabeshPP

[2022-03-29 13:05] #1348 closed, assigned to nobody

[2022-03-29 13:09] M123-dev commented on #875
Fixed by #1357

[2022-03-29 13:10] teolemon commented on #875
@M123-dev I believe we still have the top title legibility

[2022-03-29 13:11] M123-dev commented on #1384
That was actually what I meant in #1112 but yeah it would be good if we could change that

[2022-03-29 13:11] #890 closed, assigned to cli1005

[2022-03-29 13:12] M123-dev commented on #875
Yeah thats right @teolemon

[2022-03-29 13:12] M123-dev commented on #875
Also the next page button has too less opacity

[2022-03-29 13:13] bhattabhi013 commented on #1382
Please assign the following tasks to me

1) Login
The login terminology is not consistent with signup. We should mention username or email, especially in the Red warning text (currently: "Please enter some text").

2) Logout

[2022-03-29 13:16] teolemon commented on #875
Let's open a new issue, possibly

[2022-03-29 13:19] teolemon opened #1386 "Finetuning for onboarding darkmode"
### What
- [ ] The next page button has too less opacity
- [ ] The title is dark on dark on several pages
- Note: you can reset onboarding quickly from the dev mode (see README to enable it)

### Part of
- #684
- #561

### Screenshot/Mockup/Before-After
<img width="714" alt="image" src="https://user-images.githubusercontent.com/1689815/160620179-b46ba951-839d-40ac-9d1a-e68fcc06c563.png">

![image]

[2022-03-29 13:24] teolemon commented on #1382
Logout is not a task. This issue is just a tracker. You should be able to create new issues by clicking on the round circles that appear on hover
<img width="831" alt="image" src="https://user-images.githubusercontent.com/1689815/160621329-803c9ded-6747-4c24-acfc-839eaf9874fe.png">

[2022-03-29 13:29] bhattabhi013 commented on #1382
I suppose that it is an Author privilege as round circles do not appear when I hover over the points. Can I create separate issues for them?

[2022-03-29 13:33] VaiTon commented on #1382
Sure! Make sure to ping me or teolemon on slack with the issues so we can add them here!

[2022-03-29 13:33] teolemon opened #1387 "Fix the analytics consent dark mode issue"
### What

- [ ] Fix the analytics consent dark mode issue

### Part of
- #684
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/160623327-a2d1b7e9-ac34-4363-b537-abf330749694.png)

[2022-03-29 13:48] teolemon opened #1388 "It seems that onboarding is not detecting the country anymore"
### What
- It seems that onboarding is not detecting the country anymore

### Steps to reproduce the behavior
1. Go to Dev Mode
2. Click on 'Restart onboarding'
3. See US selected by default

### Expected behavior
The app uses the phones lang_country code or any kind of local wizardry to infer country

### Part of
- #561

### Screenshot/Mockup/Before-After
![image](https://user-images.githubuserco

[2022-03-29 13:50] VaiTon opened #1389 "Login and logout UX"
- [ ] Login
    _The login terminology is not consistent with signup. We should mention username or email, especially in the Red warning text (currently: "Please enter some text")._
- [ ] Logout

----
Part of #1382

[2022-03-29 14:01] VaiTon commented on #1388
Is your phone in English?

https://github.com/openfoodfacts/smooth-app/blob/4495613093dd32d21cc5e411ca0d7d512f36e78e/packages/smooth_app/lib/pages/onboarding/country_selector.dart#L36

If that's so it is right because the code is taking the `en` and showing countries with en as primary language.

[2022-03-29 14:12] PrabeshPP opened #1390 "(Search) Product Query Page Sliver App Bar does not look good with the two word title"
### What
- In the Product Query Page ,for example , if the title is like "Sweetened Beverages". The Sliver App bar looks messed Up.

### Steps to reproduce the behavior
1. Go to Scan Page.
2. For now, search for Fanta.
3. After clicking one of the products. Then click the Compare to Category button.
4. Then when you will scroll down. You will see the App bar clashing with Filter Icon.

### Why
- T

[2022-03-29 14:31] bhattabhi013 commented on #1389
Hi,
Please assign this issue to me.

[2022-03-29 14:32] teolemon commented on #1388
It seems there are better ways
https://stackoverflow.com/questions/50923906/how-to-get-timezone-language-and-county-id-in-flutter-by-the-location-of-device
https://stackoverflow.com/questions/59408567/how-to-get-current-country-code-in-flutter

[2022-03-29 14:34] bhattabhi013 commented on #1390
Hi @PrabeshPP ,
I suppose wrapping the text widget inside the sized box will fix this.

[2022-03-29 14:35] vik4114 commented on #1390
@PrabeshPP Can you fix it with fittedbox

[2022-03-29 14:53] abhay1821 commented on #1390
@PrabeshPP  I too think Fitted box would work

[2022-03-29 15:10] teolemon opened #1392 "(Proposal) "Go up" and "Select all/none" in personal search lists"
### What
- (Proposal) Improvements for selectable lists
- [x] 'Select all'/'Select none'
- [ ] 'Go up' button
### Mockups
<img width="375" alt="none" src="https://user-images.githubusercontent.com/1689815/160643803-192a58d5-62d7-4596-abff-373ab96bc20b.png">

### Part of
- Lists

[2022-03-29 15:12] monsieurtanuki commented on #1392
That used to be there. Perhaps with a "4 items selected" label too.

[2022-03-29 15:13] AshAman999 commented on #1386
I was looking the same bug and thought of raising an issue,I would be able to work on this
Assign me plz

[2022-03-29 15:31] teolemon commented on #1386
done @AshAman999 :-)

[2022-03-29 15:33] teolemon opened #1393 "(Product Addition) The "uploading image" dialog should not block the user from moving to the next photo"
### What

- [x] #1593
  - [ ] We should have an inline percentage of upload for each image on product addition
  - [ ] The sections should not move to the bottom and stay put
  - [x] The "uploading image" message should reworded to be specific "Uploading front photo to Open Food Facts (27%) #1591 "
### Part of
- #1379
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/160649

[2022-03-29 15:35] teolemon opened #1394 "(Product Addition) The front photo appears as a result of the crop for all images"
### What
- [ ] The front photo appears as a result of the crop for all images
### Part of
- #1379
### Screenshot

[2022-03-29 15:36] teolemon opened #1395 "(Product Addition) The newly added product should be immediately visible once you exit product addition"
### What
- [ ] The newly added product should be immediately visible once you exit product addition
### Part of
- #1379
### Screenshot

[2022-03-29 15:37] teolemon opened #1396 "(Product addition) We should be able to know that images and products were added with "Smoothie 0.0.3 (520)""
### What
- [ ] We should be able to know that images and products were added with "Smoothie 0.0.3 (520)

<details>
<summary>Image</summary>

![image](https://user-images.githubusercontent.com/1689815/160579233-a071436a-52e7-45d1-b684-fb36380f152d.png)

</details>

### Part of
- #1379
### Screenshot

[2022-03-29 15:38] teolemon opened #1397 "(Product Addition) Reword from "add to our database" to "add to Open Food Facts""
Fixed by #1385

[2022-03-29 15:39] #1397 closed, assigned to nobody

[2022-03-29 15:41] teolemon opened #1398 "(Product Addition) Buttons to extract/input data from images should appear after upload of the relevant photo"
### What
- [ ] Buttons to extract/input data from images should appear after upload of the relevant photo
  - [ ] #1624
  - [x] #1623
### Part of
- #1379

[2022-03-29 15:47] teolemon opened #1399 "(Product Addition) Each additional photo in product addition should have its own entry"
### What
- Each additional photo added in product addition should have its own entry
### Part of
- #1379

[2022-03-29 15:49] teolemon opened #1400 "Small improvements to the photo cropper in product addition"
### What
- [ ] Small improvements to the photo cropper in product addition
  - [ ] (Product Addition) There should be a rotate button in the photo cropper
  - [ ] (Product Addition) The name of the current crop should appear on top of the cropping window
### Part of
- #1379

[2022-03-29 16:12] stephanegigandet commented on #1393
Instead of having a "Uploading photo" dialog, we could just go back to the previous page with all the buttons to add pictures. And then we can have the progress bar there.

[2022-03-29 16:18] stephanegigandet commented on #1393
Can we also add some text on the buttons on the bottom of the crop screen? e.g. "Cancel", and "Crop and upload"?

That way we can get rid of the next screen "Retake" and "Confirm", I don't really see the need for it.

![image](https://user-images.githubusercontent.com/8158668/160658445-99499ef1-0a5a-48b9-8f36-ec0518e74f9f.png)

[2022-03-29 16:47] Gagarod commented on #900
How can I change app's language from English to Italian

[2022-03-29 17:18] teolemon opened #1403 "Add animation when deleting an item from a list"
### What
- Add animation when deleting an item from a list

### Why
- Avoid surprise from users

### Part of
- Lists

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/160668814-97419bdb-b396-4249-9592-14079d539e79.png)

[2022-03-29 17:32] IRFAN-GujjAR commented on #1403
Can i work on this issue?

[2022-03-29 17:34] monsieurtanuki commented on #900
@Gagarod You can't from the app. You have to change your phone's language.

[2022-03-29 17:35] teolemon commented on #1403
sure thing, just assigned you 👍

[2022-03-29 17:56] teolemon opened #1405 "Can we ensure Open Food Facts is never cut into 2 parts (carriage return before Open) ?"
### What
- Can we ensure Open Food Facts is never cut into 2 parts (carriage return before Open) ?

<img width="271" alt="image" src="https://user-images.githubusercontent.com/1689815/160674936-191c0a75-50fd-4de9-ad9e-bf0a6bf0a22c.png">

### Part of
- #526

[2022-03-29 17:57] monsieurtanuki commented on #1405
unbreakable spaces?

[2022-03-29 18:00] bhattabhi013 commented on #1405
If I understand it right, we need to display `welcome to` in one line and `open food facts` in another. If that's the case I suggest adding two different text widgets in a column.

[2022-03-29 18:25] abhay1821 commented on #1405
I too think "Welcome to" in the first line followed by "Open food facts"  in another line . But adding two different text widget in a column will create space between both the line as "mainAxisAlignment: MainAxisAlignment.spaceEvenly" and overall card. We can do it with a better approach Without changing overall spaces b/w widgets like this

![CArd](https://user-images.githubusercontent.com/552574

[2022-03-29 18:28] abhay1821 commented on #1405
So @bhattabhi013 If you don't mind may I fix it ? But want to hear from @teolemon  first.

[2022-03-29 18:33] monsieurtanuki commented on #1333
I should be able to PR on Thursday.

[2022-03-29 18:35] teolemon commented on #1405
@monsieurtanuki would this suffice ? We need to keep translations in mind, so if we could avoid splitting the string, that would be  💯

[2022-03-29 18:36] M123-dev opened #1406 "iOS release failing"
Interesting interesting

[Run](https://github.com/openfoodfacts/smooth-app/runs/5741161784?check_suite_focus=true)

[429 code](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429)

[2022-03-29 18:36] M123-dev commented on #1406
Just restarting the run probably fixes the issue @teolemon

[2022-03-29 18:46] teolemon commented on #1406
doing that

[2022-03-29 18:46] bhattabhi013 commented on #1405
Yeah sure, feels like you have a good solution.

[2022-03-29 18:49] monsieurtanuki commented on #1405
I guess it does work:

![Capture d’écran 2022-03-29 à 20 49 05](https://user-images.githubusercontent.com/11576431/160683628-d26e0c45-83b7-400f-aaed-db3c290cb864.png)

![Simulator Screen Shot - iPhone 8 Plus - 2022-03-29 at 20 48 32](https://user-images.githubusercontent.com/11576431/160683531-077bf4bb-da4f-42e7-84d9-8a52da31f42b.png)

[2022-03-29 18:51] bhattabhi013 commented on #1393
I agree with @stephanegigandet on adding the text at the bottom of the crop screen.

[2022-03-29 18:53] abhay1821 commented on #1405
Hi @teolemon  I thought of Your concern and thought of another approach but need a suggestion from you both that is good enough to be solve it ?

![image](https://user-images.githubusercontent.com/55257452/160684175-2d43dfed-925e-42c8-bd78-8ba0637365fa.png)

[2022-03-29 18:59] abhay1821 commented on #1405
HI @monsieurtanuki It looks like something new to learn thanks for adding it up

[2022-03-29 19:04] bhattabhi013 commented on #1382
Hi ,
What needs to be done for the following points:
1. Account deletion
2. Password reset

[2022-03-29 19:08] abhay1821 commented on #1405
@monsieurtanuki  But i do have a doubt that we aren't providing directly text then how would be able to non-breaking spaces between 3 words? Can u suggest solution for it

[2022-03-29 19:26] monsieurtanuki commented on #1405
@abhay1821 I'm not sure I understand your worries, but if I had to solve this issue I would:
1. create a translatable string with parameter like `"Welcome to {offName}"`
2. always put the hard-coded string `'Open\u{00A0}Food\u{00A0}Facts'` as a parameter (assuming that it's the same name in all languages, regardless of the "alphabet") - and the same idea could be reused for Open Beauty Facts ;)
3.

[2022-03-29 19:47] abhay1821 commented on #1405
Thank You @monsieurtanuki  for Your detailed solution. @teolemon  could you please assign this to me if it's free to take.

[2022-03-29 19:47] teolemon opened #1407 "Warn (inline) about invalid email immediately after unfocusing the Email field"

[2022-03-29 19:48] teolemon opened #1408 "Warn (inline) about invalid username immediately after unfocusing the username field"

[2022-03-29 19:48] teolemon opened #1409 "Mention that the Display Name will be publicly visible if you choose to contribute"
### What

- [ ] Mention that the Display Name will be publicly visible if you choose to contribute
### Part of
- #1382

[2022-03-29 19:48] teolemon opened #1410 "Disable (if possible) invalid character in email and username fields, directly on the keyboard"
### What

- [ ] Disable (if possible) invalid character in email and username fields, directly on the keyboard

### Part of
- #1382

[2022-03-29 19:50] teolemon commented on #1382
I've created 4 sub issues @bhattabhi013

[2022-03-29 19:51] teolemon commented on #1382
If no subpoints, nothing to do. Please understand that this one is a tracker (we will never close this issue)

[2022-03-29 19:57] IRFAN-GujjAR commented on #1403
I have resolved this issue

https://user-images.githubusercontent.com/46370525/160696467-69e76a3b-6f6b-4cd3-8d97-8abdf5a54444.mp4

Here is the pull request
https://github.com/openfoodfacts/smooth-app/pull/1411

[2022-03-29 20:19] AshAman999 commented on #1400
I was having a look for an easy  fix for this issue but didn't seem to find one,
instead of our current crop_your_image package was thinking if we could use this https://pub.dev/packages/image_cropper.
It would be more robust with more features(rotate_image), the only downside I could find was it just supports ios and android(no_web)
Suggestions?

[2022-03-29 20:42] #1387 closed, assigned to nobody

[2022-03-29 20:49] M123-dev commented on #1396
What needs to be done to be visible there, adding a user-agent ?

[2022-03-29 20:51] M123-dev commented on #1399
Could you add all possible photo categories here as well

[2022-03-29 21:08] M123-dev commented on #1406
https://github.com/openfoodfacts/smooth-app/runs/5744421807?check_suite_focus=true

[2022-03-29 21:13] M123-dev commented on #1410
Possible values
[code]

[2022-03-29 21:21] M123-dev commented on #1400
We actually used `image_cropper` until around two months ago, but had problems with it, see https://github.com/openfoodfacts/smooth-app/issues/1038 and it also restricted access to the StatusBar for the whole app. Therefore I switched to the current one here: https://github.com/openfoodfacts/smooth-app/pull/1063

[2022-03-29 21:23] M123-dev commented on #1406
Good old App Store:

We should probably check if there is a way to recieve the latest uploaded version code, not the latest published version code

[2022-03-29 21:25] M123-dev commented on #1400
But yes @AshAman999, the name shouldn't be a big problem but rotating isn't supportet. That said I have no problem if we switch the used package

[2022-03-29 21:28] M123-dev commented on #1394
Dublicate of #1194, updating the tracker

[2022-03-29 21:28] #1394 closed, assigned to nobody

[2022-03-29 21:33] M123-dev commented on #875
Tracked in #1386

[2022-03-29 21:33] #875 closed, assigned to nobody

[2022-03-30 05:59] alphaNewrex commented on #1400
Hey! I was looking through the packages that we are already using and noticed that we are already using the photo_view package and it has support to rotation controls.
So, what I had in my mind was that if we create a IconButton and provide a function which changes the rotation controller by 90 degrees?

DO we have any designs/ Icons which we would like to use and where to place the buttons ?

And

[2022-03-30 06:12] bhattabhi013 commented on #1382
Thanks for assigning the issue and clearing the doubt about the tracker issue. I deeply regret causing any inconvenience.

[2022-03-30 06:18] #1386 closed, assigned to AshAman999

[2022-03-30 06:23] AshAman999 commented on #1400
If you can do without using new packages that would be great, you go ahead with the work.
Let maintainers assign you the task

[2022-03-30 06:23] M123-dev commented on #1400
I think there are no finalized mocks on how to do it, but I fear your suggestion won't work. We need to save the rotated image because we upload it to the server and not just display it rotated.

[2022-03-30 06:42] abhay1821 commented on #1410
Hi @teolemon If I understood it correctly So you only want that user can only enter (a-z A-Z 0-9 with @ and . ) apart from this rest are invalid characters in email. So @M123-dev I do get an approach to solve it using Input Formatter where we can pass pattern with (a-z A-Z @ . ) Where If user taps on invalid characters but it will not reflect on Textformfield... So if looks good to you both then p

[2022-03-30 06:50] teolemon commented on #1410
No, that's very disturbing and error prone.
I've seen this:
TextField(
  keyboardType: TextInputType.emailAddress,
)
https://www.fluttercampus.com/guide/79/how-to-change-keyboard-type-on-textfile-input-flutter/

[2022-03-30 06:59] teolemon commented on #1400
@M123-dev we have the option to request a server side rotation, but that's last resort

[2022-03-30 07:08] monsieurtanuki commented on #1400
I haven't followed what you guys are up to with rotations, but rotation is easy to display on a `Canvas`/`CustomPainter`:
[code]

[2022-03-30 07:08] abhay1821 commented on #1410
Hi @teolemon  So sorry for the inconvenience & Thank you for your valuable input, So as if now we already use keyboard type->emailaddress but it doesn't prevent us from entering Invalid characters

[2022-03-30 07:55] AshAman999 commented on #1400
https://user-images.githubusercontent.com/57723319/160780793-b97d4d38-7621-4cb1-90eb-0b952dba7424.mp4

@M123-dev and @teolemon
Will this work, also the test cases passed normally
This is of the package that I suggested above,
If it's okay i could start the work,  and if possible assign me this issue

[2022-03-30 08:14] M123-dev commented on #1400
We can sure try to @AshAman999, but as said we had a problems with this package.
Could you try to build a apk with this package set up (`flutter build apk --debug`) and check if this works

[2022-03-30 08:25] AshAman999 commented on #1400
Just did, i guess i didn't found any problems as of now, done the changes for just the product add page to check
Should I send the apk ?

https://user-images.githubusercontent.com/57723319/160786072-d034686f-cf92-4c4f-bcee-cb36d1dfdd43.mp4

[2022-03-30 08:30] M123-dev commented on #1400
No problem, I believe you, just ouf of couriosity, did you add the

[code]

to the AndroidManifest

[2022-03-30 08:31] AshAman999 commented on #1400
Yeah I did ,
had to add i guess

[2022-03-30 08:47] teolemon opened #1414 "Make the name of the knowledge panel visible (per mocks)"
### What

- [ ] Make the name of the knowledge panel visible (per mocks) using the available field in the API

![image](https://user-images.githubusercontent.com/1689815/160790808-0002fb1e-539a-40ae-b5c4-1b146fd326d2.png)
![image](https://user-images.githubusercontent.com/1689815/160790883-38ea139f-0994-41ee-b362-25081a1f5fdb.png)

### Part of
- #499

[2022-03-30 08:59] teolemon opened #1415 "Add more structure to the summary card (per mocks)"
### What

- [ ] Add more structure to the summary card (per mocks)
  - [ ] We currently show the Allergen section (not sure if hardcoded or dynamic)
  - [ ] We should show the "Contains:" section per mock, or whatever is the Attributes section name, for more structure
  - [ ] There are also section separator lines

### Part of
- #499

### Screenshot/Mockup/Before-After
![image](https://user-images

[2022-03-30 09:07] AshAman999 commented on #1414
Will do that,
Plz assign me this issue

[2022-03-30 10:04] teolemon commented on #1414
Done @AshAman999
It's probably already mapped in openfoodfacts-dart, otherwise you may have to do a PR there.

[2022-03-30 11:28] bhattabhi013 commented on #1410
Hi @teolemon ,
We are already using keyboardType attribute on TextField.

[2022-03-30 11:28] PrabeshPP commented on #1390
@vik4114 @bhattabhi013 @abhay1821 I tried SizedBox and Fitted Box,but It shows the same.

[2022-03-30 12:07] bhattabhi013 commented on #1409
Hi @teolemon ,
Should I add it like this?
<img width="264" alt="image" src="https://user-images.githubusercontent.com/47862474/160830782-94ddced7-0761-4dc7-a28a-b720113f0eb7.png">

As an alternative, I was thinking to add the text as onTap on username field. What do you suggest?

[2022-03-30 12:35] #1373 closed, assigned to abhay1821

[2022-03-30 12:36] teolemon commented on #1376
The product page widget does not work well for ingredients (you have to scroll a lot).

[2022-03-30 12:42] PrabeshPP commented on #1347
@teolemon  currently the evaluation for the transportation is given neutral for the onboarding ,and the color for the neutral is GREY_COLOR in knowledge_panel_title_card.dart,which I think is the reason for the transportation icon not being compatible with current background.
[code]

[code]

[2022-03-30 12:49] PrabeshPP commented on #1415
@teolemon I would like to work on this.

[2022-03-30 12:50] teolemon commented on #1220
Unassigning you @srinjoyghosh-bot

[2022-03-30 12:50] PrabeshPP commented on #1415
Can you also explain more about the dotted line ?

[2022-03-30 12:52] teolemon opened #1416 "Summary card (tracker)"
[code]
[code]
### Part of
- #1265

[2022-03-30 13:28] cli1005 commented on #1155
I tested the newest version released on TestFlight, it works on my mobile(iOS15.3), does it work on yours?

[2022-03-30 13:48] #900 closed, assigned to nobody

[2022-03-30 14:52] Roto15 commented on #849
In my opinion it will be good to have the possibility to choose the language of the app from the settings because they are not so many languages that are fully translated.If someone want to add or edit a product its better that the information is correctly entered.

[2022-03-30 15:56] teolemon opened #1418 "Cropping images takes an unholy amount of time (30s+)"
### What
- Cropping images takes an unholy amount of time (30s+)

### Steps to reproduce the behavior
1. Go to product page
2. Take more photos from carousel
3. Take and crop photo
4. Wait
5. Wait
6. Wait again
7. Start screaming

### Expected behavior
- Not waiting

### Why
- Alex wants free time

### Part of
- #1379

### Video
- https://photos.app.goo.gl/tKoED9mBVgV6Dnnu6 (The video is in French

[2022-03-30 16:09] M123-dev commented on #1418
Thats a long time indeed. I just check it is actually pretty quick on my phone so it's a overall performance thing and no problem in our code. But good news, if we decide to switch back to a native scanner as the idea came up in https://github.com/openfoodfacts/smooth-app/issues/1400 the performance should get a little bit better

[2022-03-30 16:22] AshAman999 commented on #1400
so should I go ahead with these changes?

[2022-03-30 16:24] teolemon commented on #1418
The question is:
- would there be a way to optimize performance by reducing the size of the image ?
- how much can we reduce that size?

[2022-03-30 16:24] M123-dev commented on #1400
We can sure test it, but I think it's unlikely that anything has changed. Even if the build works again, it may be that the system status bar disappears again.

[2022-03-30 16:33] #1022 closed, assigned to cli1005

[2022-03-30 16:33] #1155 closed, assigned to nobody

[2022-03-30 16:52] #1257 closed, assigned to AshAman999

[2022-03-30 17:23] AshAman999 commented on #1400
okay, I will raise a pr for the same with the changes, will try it
 if it works then best else we will have to find some other alternative for the crop feature cuz the current one is real slow as well

[2022-03-30 20:22] monsieurtanuki commented on #1418
For my own app I coded my own cropping tools, with immediate results: please have a go with app "Camino Logo".
That said, the slow part is when you actually create a new JPEG (or PNG, can't remember) from your original picture and cropping parameters. That's maybe part of your problem @teolemon, with a smartphone with high definition: tons of pixels.

[2022-03-30 22:11] VaiTon commented on #1388
What behavior do we want for this?
- It gets the actual used language and try to guess which country it is from;
- It gets the actual locale from the device;
- It access the user's location to get the actual country?

[2022-03-30 22:15] VaiTon commented on #1396
From the android app:
- https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/4438

From the server:
- https://github.com/openfoodfacts/openfoodfacts-server/pull/6319

[2022-03-30 22:16] VaiTon commented on #1389
Closed by #1401

[2022-03-30 22:16] #1389 closed, assigned to bhattabhi013

[2022-03-31 04:18] PrabeshPP commented on #1390
@teolemon ,for now I have done the mockup for this issue. Here is the Mock-Up solution video:
Let me know what do you think about this solution.
@vik4114 @abhay1821 @bhattabhi013

https://user-images.githubusercontent.com/83439329/160975914-a6cff418-d2ee-4172-9d4f-5ec34a559da8.mp4

[2022-03-31 06:54] bhattabhi013 commented on #1390
Hi @PrabeshPP  ,
It's nice but I think we can find another approach to handle overflow text.

[2022-03-31 06:55] M123-dev commented on #1396
I'll take care of that later

[2022-03-31 07:10] #1405 closed, assigned to abhay1821

[2022-03-31 07:55] abhay1821 opened #1423 "bug: Welcome message splits into 3 parts."
### What
- Welcome message splits into 3 parts  **Open food Facts**

### Steps to reproduce the behavior
1. Go to the Search tab
2. Welcome Card
3. Switch Device Preview to Smaller device  Width(eg: One Plus 8 Pro, Samsung Galaxy S20)

### Expected behavior
Facts should not itself split into 2 parts

### Part of
- #1171

### Screenshot/Mockup/Before-After
| [**Small**]()      | [**Samsung Galaxay

[2022-03-31 07:59] abhay1821 commented on #1423
Hi @teolemon, Since now we have unbreakable Spaces b/w "Open Food Facts". Facts Itself Splits into 2 parts. Can You please assign this to me I am willing to work on this.

[2022-03-31 09:05] teolemon commented on #1234
@VaiTon would like to have your input on that one.

[2022-03-31 09:08] vik4114 commented on #1390
@PrabeshPP It looks nice. @M123-dev what are your thoughts?

[2022-03-31 09:38] monsieurtanuki commented on #1423
@abhay1821 If you don't mind, I guess it would make sense to talk about the solutions before the actual PR.
I mean, we constantly have that kind of font size related issues (at least I have, with my canary phone), and if we can think of a solution we can replicate it to other pages or make it a "smoothie standard".

[2022-03-31 09:42] monsieurtanuki commented on #1418
@teolemon Beyond your frustration of "it takes a looooooong time", I can detect other types of worries:
* "What's going on? I can't even remember what I clicked. Which step is being processed? Perhaps it crashed and I cannot see it? Is there a percentage?"
* "I would like to stop that NOW!"

Again, the use of `LoadingDialog` or something similar would be much better - UX-wise - than just a `Circul

[2022-03-31 09:54] abhay1821 commented on #1423
Sure @monsieurtanuki  would be great to have a better solution to it. Since I tried Fitted Box but didn't help much since it's a single string, Due to which it's wrapped up into a single line. Another solution to it can be making the font size 34 from 36...

[2022-03-31 09:58] teolemon commented on #1418
(It was actually reported by @alexgarel, I was merely the expert videographer 🙃 )
- It's very much the same kind of topic as in #1393
- Rather than asking people to wait, we should remove the underlying cause, or avoid talking about completion when it's possible (and only talk about good news once it's done)
- In that case, with crop, that's not possible, but I would almost put a "Still working" m