[2022-03-31 10:07] monsieurtanuki commented on #1418
Sure. There are also other cases when we do need a "cancel" button, e.g. while downloading with a very slow internet.

I understand how aggressive a pop-up may appear. You can still put a "cancel" button on your message.

Basically, what we need is a "smooth" snackbar. But still, we should be able to kind of freeze the rest of the screen, unless you're very comfortable with several parallel action

[2022-03-31 10:11] Pierre-Monier commented on #1384
I would like to work on that, but I can't assign myself to the issue :'(

[2022-03-31 10:18] M123-dev commented on #1384
Here you go @Pierre-Monier

[2022-03-31 10:50] abhay1821 opened #1424 "Bug: Unable to track active Tab in Dark Mode"
### What
- As we can track the active tab with white color it's difficult to track the same in Dark mode as both Active and Inactive tab Icons remains the same (White Color).

### Steps to reproduce the behavior
1. Switch to dark Mode / System Default Is DarkMode
2. Bottom Navigation Tab

### Why
- As a user it should be a differentiable, Tab that is currently active in Dark Mode too as we can kee

[2022-03-31 10:52] abhay1821 commented on #1424
Hi, @teolemon @M123-dev
Can have Your Suggestion on it before moving forward. As if now we do have a hardcoded Color for the active Tab i.e White

[2022-03-31 10:55] monsieurtanuki commented on #1423
Actually the `FittedBox` does work: the single line will be downsized to a smaller single line. Probably you expected 2 lines.

I guess it depends on what we really want. Or what we don't want.
We don't want this:
[code]

My suggestion for this specific case would be to use 2 lines, with an explicit CR. No CR and one line would work too:
[code]

Or we could use https://pub.dev/packages/auto_size_t

[2022-03-31 11:07] teolemon commented on #1025
Exhibit B:
![image](https://user-images.githubusercontent.com/1689815/161041556-281fe5c9-5b34-4d0c-8a73-ef73ac537c07.png)
When missing ingredients, the title is still here, and centered instead of being left aligned

[2022-03-31 11:15] M123-dev opened #1425 "Compare with category doesn't belong on the scan card"
![Screenshot_20220330-222855.jpg](https://user-images.githubusercontent.com/39344769/161042892-51f47c6e-0cee-499f-acaf-a00d32bbd440.jpg)

[2022-03-31 11:15] M123-dev opened #1426 "Text on the scanner should not be selectable"
![Screenshot_20220329-193543.jpg](https://user-images.githubusercontent.com/39344769/161043013-a477e0aa-8844-4005-b7ec-6a0745a4ac38.jpg)

[2022-03-31 11:16] teolemon opened #1427 "(Product addition) Trying to scan non standard barcodes has a disappointing experience"
### What
- Describe the issue clearly

### Steps to reproduce the behavior
1. Scan the Open Food Facts logo
2. Click on 'Add product'
3. See error

### Expected behavior
It should either
- let me add non standard barcodes
- prevent me from adding them

### Part of
- #526

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/161043156-0d974017-f70a-48eb-9693

[2022-03-31 11:21] teolemon commented on #1426
mmh, actually I asked it to be selectable. Did you trigger it involuntarily ?

[2022-03-31 11:42] bhattabhi013 commented on #1425
Hi @M123-dev ,
Do we have to remove it and place it somewhere else? or just remove it for now?

[2022-03-31 12:12] M123-dev commented on #1425
I'm sure it's correct there in the SummaryCard but not when the card is in the scanner the it shouldn'tbe displayed. I think there is already a bool inside the SummaryCard whether it is on the Scanner or not.

[2022-03-31 12:14] bhattabhi013 commented on #1425
If this is free to take, please assign this to me.

[2022-03-31 12:36] M123-dev commented on #1426
Yes a lot, I agree that it should be selectable but  just when on the product card not on the scanner

[2022-03-31 12:36] vik4114 commented on #1293
@M123-dev How does it look?

https://user-images.githubusercontent.com/46121493/161055425-a187aa46-4de3-41d9-87a1-a8bbd55cd276.mp4

[2022-03-31 13:43] PrabeshPP commented on #1415
@teolemon Is anyone working on this, I would like to work on this.

[2022-03-31 14:33] teolemon commented on #1424
probably deharcoding, and choosing a color for both light and dark mode, I guess ? @M123-dev ?

[2022-03-31 14:44] teolemon opened #1428 "On product with an unknown name and/or brand, I should be able to tap on unknown name brand to enter basic details edit mode."
### What

- [ ] On product with an unknown name and/or brand, I should be able to tap on unknown name brand to enter basic details edit mode.

![image](https://user-images.githubusercontent.com/1689815/161082274-deb5b546-8412-40d1-b6d2-e2e311af012f.png)

### Example
![image](https://user-images.githubusercontent.com/1689815/161083432-3fe50112-11d2-4e80-adfd-1cff13641f4a.png)
https://world.openfood

[2022-03-31 14:47] bhattabhi013 commented on #1424
Hi @abhay1821 ,
Try to use the primary color from the color scheme.

[2022-03-31 14:48] bhattabhi013 commented on #1428
Hi,
I would like to work on this.

[2022-03-31 14:49] teolemon commented on #1428
Just assigned you @bhattabhi013

[2022-03-31 14:58] abhay1821 commented on #1424
@teolemon could please assign this to me. I will work on it

[2022-03-31 15:51] M123-dev commented on #1293
Looks good @vik4114

[2022-03-31 16:01] abhay1821 commented on #1390
Hi @PrabeshPP, Your Solution looks good.  So tried working on it It would look something like this. So if u find something better among these 2 below then I will suggest you my approach. It would be nice to hear your thought on it @M123-dev @teolemon

https://user-images.githubusercontent.com/55257452/161096698-be0aed38-e74e-461a-9e93-4d681549e8e3.mov

https://user-images.githubusercontent.com/552

[2022-03-31 16:05] abhay1821 commented on #1390
@PrabeshPP for the 1st one u can just wrap the text into Sized box and (width:screenSize.width/1.6) as per ur choice

and for the second one you can have it like this:
![image](https://user-images.githubusercontent.com/55257452/161100021-0fd7490b-c40c-4fc1-92a4-bf7a8b37e4bb.png)

[2022-03-31 16:42] IRFAN-GujjAR commented on #1403
I have resolved this issue, you can now merge my PR @teolemon

[2022-03-31 16:46] #1403 closed, assigned to IRFAN-GujjAR

[2022-03-31 17:58] bhattabhi013 commented on #1426
Hi,
Can I work on this?

[2022-03-31 18:03] teolemon opened #1433 "Add screenshot generation to GitHub Actions pipeline"
### What

- [ ] Add screenshot generation to GitHub Actions pipeline

### Part of
- #217

[2022-03-31 19:01] teolemon commented on #1218
This one is fixed.

[2022-03-31 19:01] #1218 closed, assigned to nobody

[2022-03-31 19:13] #1231 closed, assigned to M123-dev

[2022-03-31 19:18] #1293 closed, assigned to vik4114

[2022-03-31 19:19] #1424 closed, assigned to abhay1821

[2022-03-31 19:30] teolemon commented on #1229
fixed by @abhay1821
closing 👍

[2022-03-31 19:30] #1229 closed, assigned to abhay1821

[2022-03-31 20:03] teolemon commented on #529
Thanks @Piinks for solving this one. Closing 👍

[2022-03-31 20:03] #529 closed, assigned to nobody

[2022-03-31 20:11] teolemon commented on #1320
Closing in favor of #1388

[2022-03-31 20:11] #1320 closed, assigned to nobody

[2022-03-31 22:07] VaiTon commented on #1428
I don't think that would be easely discoverable by the end user. What about adding a button near the field? @teolemon

[2022-03-31 22:12] teolemon commented on #1428
There's a dedicated user mode button already. This is just more opportunity to enter the edit mode when the product is completely empty

[2022-04-01 07:23] Pierre-Monier commented on #1384
This seems complicated. There is a `setFocusPoint` method on the `CameraController` but I don't think it's working, or maybe I just don't get how this works. The current `CameraValue` has the attribute `focusPointSupported` to true, But setting the point at the top of the screen doesn't change a thing. Digging in the source doesn't really help. I don't think we are able to do that

[2022-04-01 11:21] monsieurtanuki opened #1438 "Non-aligned button texts and icons on "send anonymous analytics" page"
### What
- On the "send anonymous analytics" onboarding page the texts and icons on the buttons are not aligned, which does not look professional

### Steps to reproduce the behavior
1. Restart the onboarding
2. One of the last pages is "send anonymous analytics"
3. There are 2 buttons: the texts and the icons are not aligned

### Expected behavior
I don't know that much about UI, but there a coup

[2022-04-01 11:37] bhattabhi013 commented on #1438
Hi,
Can I work on this?

[2022-04-01 11:45] monsieurtanuki commented on #1438
@bhattabhi013 If you too think that the code should be simpler and the texts and icons should be aligned, please!

[2022-04-01 11:53] bhattabhi013 commented on #1438
@monsieurtanuki, I too feel that code can be simpler.

[2022-04-01 12:44] M123-dev opened #1440 "Food preferences buttons have different size"
### What
Food preferences buttons have different sizes

![IMG-20220401-WA0001.jpg](https://user-images.githubusercontent.com/8158668/161103179-1d09523d-bc3b-4de2-bd02-43e5773c7728.png)

[2022-04-01 12:45] M123-dev commented on #1440
Assigned to @bhattabhi013

[2022-04-01 13:21] abhay1821 commented on #1440
Hi @M123-dev,
If you don't mind May I take this issue up? I had a discussion 2 days back with monsieurtanuki regarding font sizes overflow for over App. I mentioned the same  #1412 there to reopen it.

[2022-04-01 13:25] M123-dev commented on #1440
Oh yeah sure @abhay1821 pinged the wrong person

[2022-04-01 14:18] bhattabhi013 commented on #1425
Hi,
We can close this as this is fixed by #1439.

[2022-04-01 15:07] AshAman999 commented on #1414
I think that's not needed, got it working will raise a pr soon :)

[2022-04-01 15:25] #1425 closed, assigned to bhattabhi013

[2022-04-01 15:36] #1426 closed, assigned to nobody

[2022-04-01 15:37] AshAman999 commented on #1414
One question, how do I make this first alphabet capitalized? I guess there is no direct method so should I
 create a utility method for the same or one is already there? :confused:

![Screenshot_1648827277](https://user-images.githubusercontent.com/57723319/161295781-7f8d5abd-e057-49e6-a064-e4266b0eff38.png)

[2022-04-01 15:47] M123-dev commented on #1414
I don't know one, at least not in our codebase. Feel free to create one 👍🏼

[2022-04-01 16:15] #1418 closed, assigned to nobody

[2022-04-01 16:59] teolemon commented on #1026
cc @g123k

[2022-04-01 17:00] teolemon commented on #1026
https://github.com/openfoodfacts/openfoodfacts-dart/pull/409/files

[2022-04-01 19:42] teolemon opened #1446 "Write UI test to create a screenshot of history"
### What

- [ ] Write a UI test to create a screenshot of history

### Part of
- #217

[2022-04-01 19:42] teolemon opened #1447 "Write UI test to create a screenshot of scan mode"
### What

- [ ] Write UI test to create a screenshot of scan mode

### Part of
- #217

[2022-04-01 19:42] teolemon opened #1448 "Write UI test to create a screenshot of personal search settings"
### What

- [ ] Write UI test to create a screenshot of personal search settings

### Part of
- #217

[2022-04-01 19:43] teolemon opened #1449 "Write UI test to create a screenshot of the product page"
### What

- [ ] Write UI test to create a screenshot of the product page
  - [ ] Write UI test to create a screenshot of the product page with a Good match for product
  - [ ] Write UI test to create a screenshot of the product page with a Ok match for product
  - [ ] Write UI test to create a screenshot of the product page with a Bad match for product

### Part of
- #217

[2022-04-02 07:53] abhay1821 opened #1451 "bug: Trailing spaces causing Invalid e-mail"
### What
- On the Sign-UP page email Textfield has a bug related to trailing spaces which causes invalid email.

### Steps to reproduce the behavior
1. Go to profile
2. Click on Sign In
3. Go to Create account
4. Used saved field as shown in the video below/ accidentally space key is pressed
5. Submit by Sign Up button
6. See an error

### Expected behavior
Automatically remove trailing space in t

[2022-04-02 07:57] abhay1821 commented on #1451
Hi @monsieurtanuki,
Before moving forward it would be nice to have any suggestions from you or we can work around regex.
I do have an approach in my mind using trim() I tried it its working fine. By adding this commented part in our code
![image](https://user-images.githubusercontent.com/55257452/161373068-4dbde255-48d2-47e8-a14b-0f67be041854.png)

[2022-04-02 09:05] teolemon opened #1452 "Allow to search for a specific nutrient in the nutrition edit mode"
### What
Allow to search for a specific nutrient in the nutrition edit mode

### Why
- Save time when inputting complex products

### Part of
- #503

### Mockup
<img width="148" alt="image" src="https://user-images.githubusercontent.com/1689815/161376024-1bc6629a-95c0-4f8c-89cf-3bbf2c4b74f0.png">

[2022-04-02 09:57] #1414 closed, assigned to AshAman999

[2022-04-02 10:00] #1440 closed, assigned to abhay1821

[2022-04-02 10:28] g123k opened #1453 "Onboarding: no visual feedback"
### What
The "Next" button doesn't have any visual cue of being touched/pressed.

### Steps to reproduce the behavior
1. Install the app for the first time
2. Click on the Next button

### Expected behavior
A splash or any other visual feedback should be visible when the user pressed the button
<img width="215" alt="Screen Shot 2022-04-02 at 12 27 59" src="https://user-images.githubusercontent.com

[2022-04-02 10:31] g123k opened #1454 "Onboarding: Country selector doesn't have the same shape"
### What
Once a country is selected, the shape of the button is different (4 rounded borders -> 2)

### Steps to reproduce the behavior
1. Install the application
2. Click on "United States"

### Expected behavior
The country selector button should have the same shape before and after selecting of country

Before:
<img width="198" alt="Screen Shot 2022-04-02 at 12 29 09" src="https://user-images.g

[2022-04-02 10:35] g123k opened #1455 "Onboarding: Some texts are selectable and shouldn't be."
### What
Some texts are selectable and shouldn't be.

### Steps to reproduce the behavior
1. Open the onboarding to the Nutrition facts info:
<img width="272" alt="Screen Shot 2022-04-02 at 12 32 39" src="https://user-images.githubusercontent.com/246838/161379279-3d9ea267-5a79-4c8e-b69d-bfb1e857a195.png">

### Expected behavior
100g & compared to… shouldn't be selectable

[2022-04-02 10:39] monsieurtanuki commented on #1451
@abhay1821 Quick thought: just trim whatever the user is typing at check time.

[2022-04-02 10:41] g123k opened #1456 "Search results: different background colors"
### Steps to reproduce the behavior
1. Search something (eg: Twix)
2. Press any icon (back button, filter or My personalized ranking)

### Expected behavior
All three buttons should have the same "splash" background color.

![Screen Shot 2022-04-02 at 12 37 44](https://user-images.githubusercontent.com/246838/161379467-3d2d6e08-41c7-462e-8943-be6122224235.png)

<img width="85" alt="Screen Shot 202

[2022-04-02 10:50] g123k opened #1457 "Misaligned InkWells on clickable items"
### What
On a product detail, long pressing a clickable item shows an InkWell.
However, the greyed background is not centered:
<img width="346" alt="Screen Shot 2022-04-02 at 12 48 03" src="https://user-images.githubusercontent.com/246838/161379832-cf086000-d195-47fe-91d3-4beece318a2e.png">

### Steps to reproduce the behavior
1. Open a product
2. Long press on an additive

[2022-04-02 10:50] abhay1821 commented on #1455
Hi @g123k,
Could please assign this to me I will fix it.

[2022-04-02 10:56] abhay1821 commented on #1454
Hi @g123k,
I too found this UI bug yesterday itself had a thought to raise an issue. Could please assign this to me. I will improve it.
| [**Dark Mode before**]()      | [**Dark Mode after**]()     |
|------------|-------------|
|  <img src="https://user-images.githubusercontent.com/55257452/161380144-d1237ea3-577a-4a33-aac1-4a4e0a7a596e.jpeg" width="250">  |  <img src="https://user-images.githubu

[2022-04-02 10:59] bhattabhi013 commented on #1453
Hi,
I would like to work on this.

[2022-04-02 11:15] abhay1821 commented on #1457
Hi @g123k
Could you please assign this to me? I would like to work on it.

[2022-04-02 11:16] VaiTon commented on #1453
@bhattabhi013 i'm assigning you

[2022-04-02 11:16] VaiTon commented on #1457
Done!
@g123k

[2022-04-02 11:38] bhattabhi013 commented on #1455
Hi @abhay1821,
If you don't mind can I work on this? I already had a discussion with @M123-dev and solved the same type of issue in #1434 .

[2022-04-02 13:24] teolemon commented on #1438
Can reproduce in a more spectacular way:
![image](https://user-images.githubusercontent.com/1689815/161385360-7109a31d-3dc0-4c59-92c4-5c2db394503d.png)

[2022-04-02 13:45] teolemon opened #1461 "The slide up speed is not fast enough when clicking on "Back to Top""
### What
- The slide up speed is not fast enough when clicking on "Back to Top"

### Steps to reproduce the behavior
1. Go to Search
2. Scroll
3. Click on the back to top button
4. It's slow

### Part of
- #991

[2022-04-02 14:02] bhattabhi013 commented on #1456
Hi,
I would like to work on this.

[2022-04-02 14:14] teolemon opened #1462 "Server-side issues (tracker)"
### What
Issues that probably are server-side (please file an issue in openfoodfacts-server, and link it here)

### Tasks
- [ ] Disable the custom computation for Eco-Score card or hide it behind a specific Knowledge Panel flag
- [ ] Add more beef to the Rainforest label

<img src="https://user-images.githubusercontent.com/1689815/162618626-7c748278-5a07-47cd-8953-933c2cf1defb.png" height="400px">

[2022-04-02 15:51] abhay1821 commented on #1455
Ahh.. @bhattabhi013 saw your comment just now So I am almost done with the soln. Well no worries, You made the changes on the extension file which I had implemented earlier, for the selectable Text issue. and this Issue is somewhat different from that. The data which here we are fetching through an HTML widget So I have made changes for that. However If I face any issue then surely I will reach ou

[2022-04-02 15:56] AshAman999 opened #1465 "Personalized ranking screen dismiss color needs to be red"
### Problem
Personalized ranking screen dismiss color needs to be red

### Proposed solution
 Show an red container like a previous solution as #1411

### Additional context

https://user-images.githubusercontent.com/57723319/161390991-0d57c86e-e558-4972-bc15-b41884ef2897.mp4

[2022-04-02 15:59] AshAman999 commented on #1465
@g123k  seems like we are today on a UI improvement mission :rocket:
should I take the opportunity to eliminate this one :crossed_swords: ?

[2022-04-02 16:54] abhay1821 commented on #1451
Hi @teolemon @g123k ,
Could you please assign this to me.

[2022-04-02 17:01] vik4114 commented on #1461
@teolemon It's 3 sec. Do you want to reduce it?

[2022-04-02 18:35] #1026 closed, assigned to g123k

[2022-04-02 20:43] teolemon opened #1467 "Glitch in the Learn more button"
### What
Glitch in the Learn more button

### Screenshot
![Screenshot_20220402-212155.png](https://user-images.githubusercontent.com/1689815/161400499-c29469b8-fea8-48f0-af52-f3f0d91314e7.png)

[2022-04-03 03:58] bhattabhi013 commented on #1455
No issues @abhay1821, feel free to reach out in case an issue is faced.

[2022-04-03 04:04] bhattabhi013 commented on #1467
Hi @teolemon ,
Can you please tell us more about it? or a video might help.

[2022-04-03 07:36] g123k commented on #1467
Actually, this is just a translation issue.
I will fix that

[2022-04-03 08:14] g123k commented on #1467
Fixed with #1350

[2022-04-03 08:15] #1467 closed, assigned to g123k

[2022-04-03 09:37] g123k opened #1470 "Onboarding: Selected country should be highlighted"
### What
![Screenshot_1648978514](https://user-images.githubusercontent.com/246838/161421360-f4096019-c4c8-4e88-862f-0854f8fd8338.png)

### Steps to reproduce the behavior
1. Install the app
2. Click to select a country

### Expected behavior
The selected country should have a different style

[2022-04-03 09:54] g123k opened #1472 "Onboard: the first Next button can be spammed"
### What
https://user-images.githubusercontent.com/246838/161421966-b07bd3ce-ff08-443d-a7e2-35ae76c881e0.mp4

### Steps to reproduce the behavior
1. Click multiple times on the "Next" button

### Expected behavior
The next button should only be clickable 1 time

[2022-04-03 11:41] bhattabhi013 commented on #1472
Hi @g123k ,
I suggest using this approach to solve the issue. Please let me know whether I should proceed with it or for any better approach.
cf: https://stackoverflow.com/a/64221837/13595256

[2022-04-03 12:19] VaiTon commented on #1472
What if we just disable the button after the first click? The screen shouldn't be reachable anymore after it.

[2022-04-03 12:21] teolemon commented on #1472
Frankly do we need to block the user to wait for the download ? We do have a local copy of the product in English as a failsafe

[2022-04-03 12:50] alphaNewrex commented on #1472
From the point of view of UX, a little Load time is acceptable, but spamming a button feels just like a bug

[2022-04-03 13:57] #1457 closed, assigned to abhay1821

[2022-04-03 15:52] bhattabhi013 commented on #1438
Hi @teolemon,
I've fixed also centered aligned the title widget and updated the PR with a new commit.

[2022-04-03 16:20] #1470 closed, assigned to g123k

[2022-04-03 16:22] teolemon opened #1477 "Turn the cancelled by user into a snackbar, or better, don't show it at all"
### What
Turn the cancelled by user into a snackbar, or better, don't show it at all
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/161437656-82e8d527-9642-4301-a10e-ba8fc7204328.png)

[2022-04-03 16:24] teolemon opened #1478 "Error with the vegetarian icon in light mode"
### What
Error with the vegetarian icon in light mode

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/161437739-1a58cf10-8195-4ed6-ab32-2982d4e3a3d3.png)

[2022-04-03 16:25] teolemon commented on #1478
Can't reproduce when having a good connexion, potentially a missing local cache icon ?

[2022-04-03 16:26] M123-dev commented on #1472
https://api.flutter.dev/flutter/widgets/ModalRoute/barrierDismissible.html

[code]

[2022-04-03 16:28] teolemon opened #1479 "Overflow of the button when taking a front photo in French"
### What
- Overflow of the button when taking a front photo in French

### Part of
- Add the issue number preceded by # (that also allows searching by name for similar issues): eg #525

### Screenshot
![Screenshot_20220403-134908](https://user-images.githubusercontent.com/1689815/161437978-fac2f825-d937-4500-a13b-3926d76eee58.png)

[2022-04-03 16:39] #1453 closed, assigned to bhattabhi013

[2022-04-03 16:39] #1465 closed, assigned to AshAman999

[2022-04-03 16:41] M123-dev commented on #1478
We should check if there is a way to  maybe show a loading indicator when there is no cache

[2022-04-03 16:54] M123-dev opened #1481 "Not selected Tab color doesn't look good in green and brown theme"
![Screenshot_20220403-185312.jpg](https://user-images.githubusercontent.com/39344769/161438951-557f6990-87bd-45f7-9a83-d85374ead2be.jpg)

[2022-04-03 17:11] abhay1821 commented on #1481
Hi, Could assign this to me will improve it.

[2022-04-03 17:32] #1451 closed, assigned to abhay1821

[2022-04-03 17:51] teolemon opened #1482 "Fab button color on the product page"
### What
We should probably harmonize the color of the 3 dots while we figure out what we want to do with this button long term
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/161440765-cfa96982-977f-4b6d-846d-6b12a41c92c4.png)

[2022-04-03 18:04] M123-dev commented on #1482
Actually the refresh button can be removed as we now have the gesture, so it's just open in web and one button is definitely easier to build in then multiple buttons.

[2022-04-03 18:09] teolemon opened #1484 "Visual issues on the scan card"
### What
= The tagline is not legible anymore (grey on grey)
= the bottom prompt is not visible either
### Screenshots
![image](https://user-images.githubusercontent.com/1689815/161441874-7d76e550-9fe6-4e39-9a56-342cafbbbf2b.png)

[2022-04-03 19:16] abhay1821 commented on #1455
Hi @g123k,
Quick update if the HTMLwidget text you mentioned is to be not selectable then I fear we will not be able to select its details too. So if you are fine with then should I proceed?
<img src="https://user-images.githubusercontent.com/55257452/161444291-373642b7-9994-46b5-a32d-6c6a96a81a25.jpeg" width="250">

[2022-04-03 19:33] abhay1821 commented on #1461
I guess the duration between 200-300 microseconds should work fine.

[2022-04-03 19:50] abhay1821 commented on #1482
I agree with @M123-dev. How about something like this with on tap can go to URL @teolemon. Should I replace it with this?

![des](https://user-images.githubusercontent.com/55257452/161445526-c28d278e-7d42-4fca-9450-ba8617823b5b.jpeg)

[2022-04-03 19:57] teolemon commented on #1482
I'm with Marvin. Removing it is better, less clutter, and it will force us to be thoughtful on how to integrate future things.

[2022-04-03 19:59] teolemon commented on #1461
https://photos.app.goo.gl/WMgQrEPeeZn9Mp939
The kinetics feel different based on how many products you scrolled through

[2022-04-03 20:40] AshAman999 commented on #1484
probably happened on #1474
Just a one-line fix
though I was able to reproduce the bottom part not visible to me the upper screen just worked fine,
Rasing the pr for the same

[2022-04-03 20:50] g123k commented on #1299
The package is now ready: https://pub.dev/packages/install_referrer
Before implementing it in the app, I still want to find a better implementation for the Google Play SDK

[2022-04-03 20:52] AshAman999 commented on #1484
Also, I was thinking of this change, it looks good but not sure if the bottom necessarily needs to be of  blue color
Maybe something like this would look good, open to suggestions ..
![image](https://user-images.githubusercontent.com/57723319/161448104-dbddf1fe-33fd-471b-90c1-099d2ded983e.png)

[2022-04-03 21:06] #1438 closed, assigned to bhattabhi013

[2022-04-04 05:53] abhay1821 commented on #1461
So as if now we have a fixed value. No matter how many products are there to be scrolled but it will take a total of 3 sec to get back to the top. What should be ideally be done? I feel the reducing time to 300 or maybe 400 microseconds should be better

[2022-04-04 07:39] AshAman999 commented on #1472
that would block the user from interacting with the screen, seems like a good idea

[2022-04-04 09:00] cli1005 commented on #1139
I met the same issue when working on #1034 , apart of the reordering issue, the carousel switches to the last scanned product when returning from product page and ranking page.

[2022-04-04 09:07] teolemon commented on #107
- [ ] Bring the initial implementation of ingredients editing in line with the updated mockup
![Ingredients extraction](https://user-images.githubusercontent.com/1689815/161511316-1c3ba095-6620-48e4-9ea6-e36d2838ce10.png)

[2022-04-04 09:07] teolemon opened #1490 "Bring the initial implementation of ingredients editing in line with the updated mockup"
### What
- [ ] Bring the initial implementation of ingredients editing in line with the updated mockup

![image](https://user-images.githubusercontent.com/1689815/163595644-18b037e3-447e-446a-8695-fda7b5b82602.png)

### Part of
- #107

[2022-04-04 09:33] bhattabhi013 commented on #1347
Hi,
I tried working on this issue and found that the text and icon color depends on the evaluation label in `smooth_app\assets\onboarding\sample_knowledge_panels.json` file.

[2022-04-04 09:39] monsieurtanuki commented on #1347
@bhattabhi013 Not exactly: the asset file you're referring to is the fallback file, if you don't have internet
[code]

[2022-04-04 10:11] monsieurtanuki opened #1491 "Get faster and customized results, sending anonymized food preferences to the server"
### What
- From #1326 (I could not create directly an issue from it)
- That means we need that feature in off-dart first: https://github.com/openfoodfacts/openfoodfacts-dart/issues/430

### Part of
- #991

[2022-04-04 11:07] #784 closed, assigned to nobody

[2022-04-04 11:17] teolemon commented on #1060
We are now back to defaults.

[2022-04-04 11:24] bhattabhi013 commented on #1347
Thanks for clearing the doubt @monsieurtanuki, should I do it this way?
` case Evaluation.NEUTRAL:
        return DARK_ORANGE_COLOR;`

Here is the final outcome:
<img width="263" alt="image" src="https://user-images.githubusercontent.com/47862474/161533890-df2c9a58-a20c-42d8-b67b-e970f678d4c4.png">

[2022-04-04 11:30] teolemon opened #1492 "bind the ingredients edit mode to the full edit mode button"
### What
- bind the ingredients edit mode to the full edit mode button

### Why
- It will give ingredient edit more visibility, and force us to refine the feature :-)

### Part of
- #107

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/161534379-ada6b905-1b14-45be-9139-6d5f218b58ab.png)

[2022-04-04 12:25] monsieurtanuki commented on #1347
@bhattabhi013 I have no added value in color choice. What I can suggest is that:
* colors are supposed to be helpful to distinguish different levels - that's not good enough for accessibility but that's another story
* icons and texts are supposed to be visible in both mode, dark and light
* so far the "unknown" case is dealt with `null` (= default) color
* which can be good for text (which has a

[2022-04-04 12:37] vik4114 commented on #1461
Yes, it's 3 sec.If there are more products it feels fast and if there are few products it goes slow

[2022-04-04 12:38] vik4114 commented on #1492
@teolemon I will take it

[2022-04-04 12:41] monsieurtanuki commented on #1060
@teolemon Preference importance default values are now taken from the https://world.openfoodfacts.org/api/v2/preferences?lc=LANGUAGE_CODE
The scores are still computed with 2 distinct algorithms: @jasmeet0817's and mine, to be selected on dev mode.
Btw it looks a bit strange that the preferences depend on the language, but not on the country, doesn't it?

[2022-04-04 13:27] stephanegigandet commented on #1060
The only thing that changes is the translation of the importance levels.

[2022-04-04 13:32] g123k commented on #1384
Hi @Pierre-Monier,

As I also work on https://github.com/openfoodfacts/smooth-app/issues/1255, I think I can also fix this at the same time? Can I take it instead?

[2022-04-04 14:10] teolemon commented on #1060
Typically, for countries where Eco-Score isn't deployed, there's a point.

[2022-04-04 14:12] VaiTon commented on #1461
We could use this formula @teolemon:

[code]

Or maybe a more sophisticated one which adds less and less time every product scrolled:

[code]

[2022-04-04 14:22] VaiTon commented on #1234
The class `DaoMaster` is generated dinamically by the Gradle GreenDao plugin during build.

I'm not sure though how we'll be able to read from the native app DB since we're using another ID and android doesn't allows to read from a different app unless stated otherwise by the native app.

[2022-04-04 14:28] M123-dev commented on #1234
But changing the app id shouldn't be a big problem right

[2022-04-04 14:29] monsieurtanuki commented on #1234
@VaiTon Among the hypotheses was the perilous option to let "smoothie" pretend being a next version of the current android app (same `package`), in which case we would have been able to use the existing database. But that would be very dangerous, wouldn't it?

Anyway, the first question is: "is there a way to get the schema of the current android database, possibly with the meaning of each column?

[2022-04-04 14:30] teolemon commented on #1234
The idea is to swap the app, so the Flutter app would become source wise org.openfoodfacts.scanner, and the Classic Android app would become the current org.openfoodfacts.app

[2022-04-04 14:31] teolemon commented on #1234
It does have to be done carefully

[2022-04-04 14:35] monsieurtanuki commented on #1060
@teolemon Maybe we should [divide the world in two](https://www.youtube.com/watch?v=s2w9X_tHU7k): countries with EcoScore, and countries without it.
While keeping the translations as they are now according to the language, we could add a distinction EcoScore yes/no according to the country. Which/how many countries support the EcoScore now?

[2022-04-04 14:44] VaiTon commented on #1234
Every table is made of rows represented by GreenDao `@Entity`es.

You can find the Entities classes [here](https://github.com/openfoodfacts/openfoodfacts-androidapp/search?l=java) (except the [MapOfStringsToStringConverter.java](https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/6ca3cde74819c722708d1b1ae110417ab1b2a55d/app/src/main/java/openfoodfacts/github/scrachx/openfood/models/enti

[2022-04-04 15:21] Pierre-Monier commented on #1384
Yeah np ;)

[2022-04-04 16:05] bhattabhi013 commented on #1347
Hi @monsieurtanuki,
I've made the changes suggested by you and created `iconColorFromEvaluation` to handle icon color on a dark theme.

[2022-04-04 16:23] teolemon commented on #1462
@stephanegigandet this is an on-going tracker of issues that are probably server side. Feel free to invalidate them if they are client-side.

[2022-04-04 17:44] monsieurtanuki commented on #1234
@teolemon I like your understatement, so British :)

Thank you @VaiTon for those details.
From what I read in the code the problem is that I do know relational databases (like SQLite), but not at all GreenDao annotations.

And the main trouble with all that "swap" idea is that I cannot picture how to test the migration from one android version of the app to the flutter version of the same app.

I

[2022-04-04 18:20] bhattabhi013 commented on #1477
Hi @teolemon ,
Please assign this issue to me.

[2022-04-04 18:21] #1482 closed, assigned to nobody

[2022-04-04 21:39] VaiTon commented on #1234
IMHO the only thing worth moving (if any) are user lists. Offline products are not made to stay indefinetly in local storage and allergens can be set at the app first start.

[2022-04-04 21:43] teolemon commented on #1234
history being a userlist. agreed @VaiTon
as for storing user data on the server, not a big fan at this point.

[2022-04-04 21:47] VaiTon commented on #1234
If that's the case we can think of implementing a custom content provider into the native app and then query it from flutter (idk if that's possible) as stated in [this post](https://stackoverflow.com/questions/5714224/accessing-custom-content-provider-from-different-app) to get a csv/json/interoperable format that we can parse in flutter.

[2022-04-05 04:55] M123-dev commented on #1299
15 pub.dev likes in 8 days, congrats 🎉🥂

[2022-04-05 06:11] monsieurtanuki commented on #1234
Indeed it would make sense to be able to:
* _export_ a product list json from android/ios
* _import_ a product list json into flutter
* the json being a file or a clipboard, whatever is convenient for both android/ios/flutter
* we may even add the allergens settings

That mechanism
* is easy to code
* is not far-fetched UX-wise for the users
* is easy to test on all sides
* could be reused for a f

[2022-04-05 06:35] alphaNewrex commented on #1479
How do we plan on fixing this?
Changing the button height would make the UI look weird.
Would a change in the text in french change text in all languages?

[2022-04-05 06:56] alphaNewrex commented on #217
Has this package been tried and tested? Looks promising We can generate multiple Devices Screenshot along with Multiple parameterized screenshot for different languages

[2022-04-05 07:06] monsieurtanuki commented on #217
@alphaNewrex I ran some tests with golden_tookit but they were a bit disappointing - good enough for tests, but not for proper screenshots:
![my_widget-example](https://user-images.githubusercontent.com/11576431/161697601-afa0a8ec-e2f6-4939-850e-08e14a700149.png)

[2022-04-05 10:51] abhay1821 commented on #1461
@teolemon  we can use something like this. same as per @VaiTon suggested. May I create PR for the same with the same duration or Modify as per your any other Suggestion?

![image](https://user-images.githubusercontent.com/55257452/161738107-f235dd78-8bef-43ae-b833-c6b3fc85f8d5.png)

[2022-04-05 11:04] #1481 closed, assigned to abhay1821

[2022-04-05 11:06] #1477 closed, assigned to bhattabhi013

[2022-04-05 11:07] #1390 closed, assigned to nobody

[2022-04-05 11:08] #1454 closed, assigned to abhay1821

[2022-04-05 11:11] M123-dev commented on #1479
@alphaNewrex, @Gagarod is already working on it in #1497

[2022-04-05 17:52] monsieurtanuki commented on #1234
Would you guys want me to work on a module that imports a product lists json?

[Edit]: little detail - for the moment we only have "history" and "scan history" lists in smoothie, no user-defined lists.

[2022-04-05 18:57] teolemon opened #1500 "Super test"
### What
- test 1 2

[2022-04-05 18:57] #1500 closed, assigned to nobody

[2022-04-05 19:18] #1456 closed, assigned to bhattabhi013

[2022-04-06 10:30] teolemon commented on #1234
That would be awesome.
The history would be a very good first point, without any user visible distinction as to whether they were scanned or opened by other means (like I believe is already the case)
And very clearly being able to preserve user-defined lists is a must for app swap.

[2022-04-06 11:29] Raj2503 opened #1501 "Breaking down the Profile Section into Multiple Pages/Tabs"
### Problem
As mentioned in [Setting #960](https://github.com/openfoodfacts/smooth-app/issues/960), the profile section has become **over-clustered** as it contains the following options:
- Sign In
- Analytics Request
- Food Preference
- Allergies
- App Settings like (Themes, Light/Dark Mode)
- FAQ, Support, etc.

### Proposed solution
Separate the "User/App settings" and "User Food Preferences" i

[2022-04-06 11:51] monsieurtanuki commented on #1501
I do agree that the profile page is crowded.

My suggestion is perhaps simpler than yours:
1. keep a "main" profile page, with all the current "sections" _but_ in a read-only/collapsed mode (for instance 3 lines max for each "collapsed" button)
2. when clicking on a section button, open a new page with read/write mode for only the selected section

[2022-04-06 11:57] monsieurtanuki commented on #1234
@teolemon Ok then.
I'll work on a structure similar to this one:
[code]
Probably for "history" we won't have a "data" section, unless you keep timestamps (we currently don't in smoothie).

[2022-04-06 13:45] VaiTon commented on #1234
@monsieurtanuki what's the use of `data`? We only keep a list of barcodes and a timestamp for products in history

[2022-04-06 14:32] #1279 closed, assigned to abhay1821

[2022-04-06 15:59] Raj2503 commented on #1501
Indeed it is a very brilliant and minimalistic idea.

I will work on implementing it and get back to you ✌️

[2022-04-06 16:41] monsieurtanuki commented on #1234
@VaiTon The use of data is optional.

In previous smoothie versions there were data attached to products (for a shopping list a quantity, for a pantry a list of qty * "best before" dates, for history a "last seen" date).
And I think shopping lists are still in the pipes for flutter, therefore we need at least to think about product data. As opposed to a mere json-encoded string list which wouldn't

[2022-04-06 18:12] #1333 closed, assigned to monsieurtanuki

[2022-04-06 21:18] AshAman999 opened #1503 "too big font of the search text"
### What
- When some product is searched the screen show a weird font style, i am sure this huge font size isn't expected here

### Steps to reproduce the behavior
1. Go to scan page
2. search a product like `jam` here
3. see the page
4. See an error

### Expected behavior
The text should be appearing properly, can be made more appealing

### Why
- The current one looks too odd

### Part of
-

###

[2022-04-06 21:28] monsieurtanuki commented on #1503
@AshAman999 Actually I had to fix conflicts on `product_query_page.dart` three times in four days, and I may have skipped an important line or two in the process.

[2022-04-06 21:31] AshAman999 commented on #1503
@monsieurtanuki  Okay, still i think of leaving the issue open for good first issue or should I close it?

[2022-04-06 21:52] AshAman999 opened #1504 "Show simple message when no internet connection"
### Problem
If the internet connection is not available an error msg is there which makes little sense to the end-users, a simple output to be presented as an internet connection is not available like that.
Although we are moving to an offline mode this would make sense to have a simple msg there

### Proposed solution
Just show a simple message like internet connection  not available

### Additio

[2022-04-06 22:34] teolemon opened #1505 "Fatal Error: LatelnitializationError: Local 'totalSize' has already been initialized."
### What
Fatal Error: LatelnitializationError: Local 'totalSize' has already been initialized.
### Screenshot
![Screenshot_20220407-003300.png](https://user-images.githubusercontent.com/1689815/162083409-7b109a35-53f2-410d-b2b3-6959e986e730.png)

[2022-04-06 22:45] VaiTon commented on #1503
It is indeed an issue :). And thanks for the report!

[2022-04-07 05:21] M123-dev opened #1506 "Onboarding text is weirdly cropped"
### What

Onboarding text is weirdly cropped

![IMG-20220406-WA0011.jpg](https://user-images.githubusercontent.com/39344769/162125766-5932de6c-682e-4b78-9f35-5b3e3bb355f3.jpg)

[2022-04-07 05:25] monsieurtanuki commented on #1060
@teolemon What about adding a temporary "with Ecoscore yes/no" in dev mode?
That way we could play with an app where Ecoscore does not exist - which makes sense for most countries, doesn't it?

[2022-04-07 05:26] monsieurtanuki commented on #1503
@AshAman999 Oh I was just pointing out where the issue probably came from. That is definitely an issue.

[2022-04-07 05:37] bhattabhi013 commented on #1506
Hi @M123-dev ,
I would like to work on it.

[2022-04-07 05:46] monsieurtanuki commented on #1504
@AshAman999 Fair enough, but if there's a bug in production we may find that weird message very useful. Instead of just "DOES NOT WORK".

Perhaps we should
* display "DOES NOT WORK"
* log the real error message locally
* make it possible for the end-user to go to an advanced page and tell us "the latest error on the log is XXX"

I mean, the message is very useful for developers (for instance in #1

[2022-04-07 05:57] bhattabhi013 opened #1508 "Overflow at update nutrition facts page"
### What
Overflow at update nutrition facts page

### Steps to reproduce the behavior
1. Search any product.
2. Click on 'update nutrition facts'
3. See overflow error on the header.

### Expected behavior
The overflow should not happen.

### Screenshot/Mockup/Before-After
<img width="268" alt="image" src="https://user-images.githubusercontent.com/47862474/162130074-343f7f08-8452-4819-8cf6-73fcd27

[2022-04-07 05:57] abhay1821 commented on #1503
@monsieurtanuki this issue is an unwanted consequence #1489, So I used Fittedbox for the title has 2 words without releasing it will impact short words too. So @AshAman999  If you don't mind may I take this Up I will Improve it. A better approach for solving all the queries would be using Autosize. So Sorry for the inconvenience.

[2022-04-07 06:02] monsieurtanuki commented on #1508
Probably again an `AutoSize` related bug solving, like #1506 and #1503 cc @abhay1821

[2022-04-07 06:02] M123-dev commented on #1060
Like the idea

[2022-04-07 06:05] #1505 closed, assigned to monsieurtanuki

[2022-04-07 06:06] monsieurtanuki commented on #1505
@teolemon I hope this is fixed now.

[2022-04-07 06:06] AshAman999 commented on #1503
Sure @abhay1821  go ahead, i was indeed thinking of you to fix this, cuz i remember last time you were the one who were working on this overflow issue.
Good luck 🍀

[2022-04-07 06:06] abhay1821 commented on #1508
Indeed @monsieurtanuki, AutoSIze Widget can help to improve all the issues.

[2022-04-07 06:08] bhattabhi013 commented on #1508
Hi @monsieurtanuki  @abhay1821 ,
I feel that it is not due to the autosize widget as it is not used here and is caused by #1475. I used a sized box and it fixes this.
Here is a screenshot of it.
<img width="264" alt="image" src="https://user-images.githubusercontent.com/47862474/162131538-0b8d39e5-5c20-459c-86fe-20376f2e8d18.png">

[2022-04-07 06:14] abhay1821 commented on #1508
Yes, you are correct @bhattabhi013  it's not due to autosize text. What @monsieurtanuki And I meant is now we have AutoSizeText Widget in our App so we can play around with AutoSizeText for overflow-related Issues. So here we can use AutoSIzeText with maxlines=2.

[2022-04-07 06:16] bhattabhi013 commented on #1508
Thanks @abhay1821 ,
I got it now. If you don't mind can I work on this one?

[2022-04-07 06:17] abhay1821 commented on #1508
Yeah Sure, go ahead @bhattabhi013.

[2022-04-07 08:25] #1034 closed, assigned to cli1005

[2022-04-07 08:56] g123k commented on #1388
With the upcoming version of Android (13), users can opt for a different language per application.
The current implementation will reach its limits with that change.

Maybe we should use a combination of several data:
- Current timezone
- Location of the "external" IP
- User language

Let's imagine with all these inputs, we still have several choices, we could show them at the top of the list of c

[2022-04-07 09:37] monsieurtanuki commented on #1388
Perhaps it would be easier and more intuitive to implement a search field as already mentioned in #1200 by @bhattabhi013, or find another country picker (like https://pub.dev/packages/country_picker ?)
That would look a bit like the iOS settings:
![Simulator Screen Shot - iPhone 8 Plus - 2022-04-07 at 11 13 32](https://user-images.githubusercontent.com/11576431/162164875-5e661e9d-d5fa-483e-994d-58

[2022-04-07 11:19] Raj2503 commented on #1501
@monsieurtanuki I am running into an error. For some reason, I am not able to make changes to the app_localizations.dart.

Every time I add an element ' String get app_personalization; ' and run the app, my changes get reverted and it gives an error that **app_personalization isn't defined**.

Can you guide me through what do I need to do to add new elements in app_localizations.dart.

[2022-04-07 11:33] monsieurtanuki commented on #1501
@Raj2503 I'm not an expert on localizations, but I'm pretty sure you should NOT edit `app_localizations.dart`.
If you want to add translations, you need to go to `app_en.arb` and add an entry.
Then, when you `flutter run`, the field will be automagically added to `app_localizations.dart`.

If you want my opinion, don't bother with translations in a first approach: if ever we finally decide that yo

[2022-04-07 11:48] bhattabhi013 commented on #1506
Hi @M123-dev ,
I used `AutoSizeText` widget and fixed this issue .
<img width="267" alt="image" src="https://user-images.githubusercontent.com/47862474/162191549-2a80ba2b-69c5-4922-91c9-c2397966c6db.png">

While working on this issue I found that there lies a UI issue with small screen devices due to Positioned widget.
Here is the screenshot in iPhone SE :
<img width="268" alt="image" src="https:/

[2022-04-07 17:59] #1407 closed, assigned to nobody

[2022-04-07 17:59] #1408 closed, assigned to nobody

[2022-04-07 18:07] M123-dev commented on #1506
Heyy @bhattabhi013 looks good with `AutoSizeText` looking forward to the PR and for the positioned problem, feel free to either directly resolve it together with the `AutoSizeText` or to open a dedicated issue, but similiar to this one this isn't a major problem. I don't think there are that many people with a smaller phone then the iPhone SE where this would be a big problem

[2022-04-07 18:58] bhattabhi013 commented on #1506
I've generated a PR for solving the current issue.
For the positioned widget I will create a dedicated issue.

[2022-04-07 20:38] teolemon opened #1517 "String too long in nutrition edit"
### What
- Shorten the string

![Screenshot_20220407-125924.png](https://user-images.githubusercontent.com/1689815/162291734-8b96d28c-1c83-402a-b006-abdc3a2f8a4b.png)

[2022-04-07 20:40] teolemon opened #1518 ""Downloading data" window too big in product list page"
### What
- Window too wide (and should be inline)

![Screenshot_20220407-123801.png](https://user-images.githubusercontent.com/1689815/162292317-3a315739-1543-4124-97b6-0b9e9dfaf04f.png)

[2022-04-07 21:03] #1506 closed, assigned to bhattabhi013

[2022-04-07 21:06] monsieurtanuki commented on #1518
@teolemon Yes I was surprised when I saw how tall this dialog grew.
I'm glad you're enjoying the paged results.
Not convinced by your suggestion on "inline" rendering, because I think we need a "cancel" button.

[2022-04-07 21:21] VaiTon commented on #1518
@monsieurtanuki what about a snackbar with an action button "Cancel"?

I would even argue about the usage of that button. If we don't block the scrolling I don't think a lot of users will complain about not being able to abort the loading of a few products

[2022-04-07 21:22] #1503 closed, assigned to nobody

[2022-04-07 21:28] VaiTon commented on #1388
Using the second one would not be that privacy-friendly of us :(

[2022-04-07 21:30] monsieurtanuki commented on #1518
With the current system:
1. you block the access to the rest of the page - I don't know what is expected if I click on a product while loading 25 new products or if I click again and again on the load button
1. the dialog stays as long as needed - I don't know if there are "forever" snackbars
2. you display the total number of products and the current number of loaded products
3. you display an ex

[2022-04-07 21:36] VaiTon commented on #1518
I think the correct behavior here would be to open the product and cancel the download job. Also the "load more" button should be disabled while we load new products.

Maybe instead of the snackbar we could replace the load more button with a loading animation and when we finished loading we could re-put the "load more" and update the list. What do you think @monsieurtanuki ?

[2022-04-07 21:41] VaiTon commented on #1504
Maybe we could intercept just some of the most common exceptions and use custom error messages. "No internet. Check your connection!", "The server is not available at this moment. Try again later!", log the messages with logcat (i'm speaking for android idk what's the correspective on ios) and

All the other kind of exceptions get print out like this and we'll be encouraged to fix them!

[2022-04-08 02:50] bhattabhi013 commented on #1517
Hi,
I think I can fix this by using AutoSizeText widget.

[2022-04-08 03:37] bhattabhi013 commented on #1508
Please close this issue as fixed by #1509 .

[2022-04-08 03:39] bhattabhi013 commented on #1508
This issue is fixed by #1509

[2022-04-08 03:39] #1508 closed, assigned to bhattabhi013

[2022-04-08 06:19] monsieurtanuki commented on #1518
@VaiTon I'm old-fashioned and lazy: that's why I prefer the modal dialog.

The OP was complaining about the intrusive size of the dialog, and I do agree with that. If we make the dialog small again, it will be much less intrusive for the end-user, and that's a quick win.

The concept behind the "load more" button was to enable quick downloads of small 25 product batches:
* the user decides to clic

[2022-04-08 06:25] monsieurtanuki commented on #1517
@bhattabhi013 I agree with you and `AutoSizeText`, at least we could read the whole text.
In addition to that, the translations should be shortened: we don't have to read long texts like "nutrition values of product that is just below" as page titles.

[2022-04-08 08:05] monsieurtanuki commented on #1060
@teolemon Now that the app is able to deal with countries without ecoscore, how could we get the list of ecoscore-less countries?

[2022-04-08 09:44] monsieurtanuki commented on #217
I've finally managed to create again screenshots on both Android and iOS. Done. Wasn't easy because of bugs and evolutions, but in the end it's not that hard.

The first (tricky) part is a fix of an flutter/iOS bug (cf. https://github.com/flutter/flutter/issues/91668):
* go to `flutter/packages/integration_test/ios/Classes/IntegrationTestPlugin.m`
* edit method `registerWithRegistrar` this way
[co

[2022-04-08 09:45] monsieurtanuki commented on #217
As a test, I'm going to create screenshots of the first (onboarding) page. We'll build up from there.

[2022-04-08 10:06] cli1005 commented on #1395
This will be a long comment 😅

**Actual situation:**
- Product is added once the first photo is uploaded successfully by calling the API : `OpenFoodAPIClient.addProductImage`, which might be meaningful to gather more product as possible.
- Once the first photo has been uploaded, we can use both BACK button(<) and FINISH button back to scan page  ⚠️
- If the scanned code is not valid, uploading pho

[2022-04-08 13:59] AshAman999 commented on #1518
Agreed, a customer loading indicator would be great 🍀

[2022-04-08 14:02] AshAman999 commented on #1518
Also i was Just thinking, might not be a great or relevant idea but  can we use https://pub.dev/packages/workmanager to download the data in background instead of showing it in a modal bar?

[2022-04-08 14:23] monsieurtanuki commented on #1518
@AshAman999 I've just had a quick look at workmanager but couldn't see the added value.
In that particular case, we're not performing huge background tasks, we're performing an async 1-second data fetch.
I've already said the advantages of modal dialogs, despite their "Windows 98" UI.
I cannot see the main interest of hiding quick tasks that the user's asked for. Fortunately for you, I'm not in ch

[2022-04-08 14:56] cli1005 commented on #1376
What about the widget InteractiveViewer? I will prepare the PR if the following result is ok for you

https://user-images.githubusercontent.com/87010739/162464520-ec25f6d1-c673-499e-bcf9-b59b51c15ab3.mp4

[2022-04-08 15:52] abhay1821 opened #1521 "bug: A dismissed Dismissible widget is still part of the tree"
### What
- A dismissed Dismissible widget is still part of the tree.

### Steps to reproduce the behavior
1. Go to Search Tab
2. Click on Search TextField
3. See an error

### Part of
- #1171

### Screerecording

https://user-images.githubusercontent.com/55257452/162477929-1d930928-e246-4a7e-b55b-5bda219293fb.mov

### Smartphone model
 - Device: [Note 7 Pro]
 - OS: [e.g. Android 10]

[2022-04-08 15:53] #1518 closed, assigned to nobody

[2022-04-08 15:56] monsieurtanuki commented on #1518
Now the dialog is small. Issue solved.
I suggest that we open a new issue for each other topic mentioned here, e.g. fun animation as progress indicator.

[2022-04-08 15:57] M123-dev commented on #1376
Looks good @cli1005

[2022-04-08 16:01] abhay1821 commented on #1521
Hi @teolemon  @monsieurtanuki @M123-dev,
Got this debug error. Could you suggest what can be the reason behind it.
<img width="707" alt="cap" src="https://user-images.githubusercontent.com/55257452/162478294-1449c379-e3d8-4e5c-b601-acf392f6859d.PNG">

But I had worked on a similar error before so the just changed `key: Key(query)` to `key: UniqueKey()`  Error is resolved.

[2022-04-08 16:10] monsieurtanuki commented on #1521
@abhay1821 Quickly said: I guess that the `Widget` is dismissed too early (e.g. before the end of the swipe animation).
There's no obvious reason why we should use a `UniqueKey` instead of `Key(query)`. Except that `UniqueKey` is probably different and unique for each call, meaning that it's a random key instead of a real key. I guess you're hiding the bug doing so.

[2022-04-08 16:26] M123-dev commented on #1319
Just checked, yes we send the uuid cf: https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/cards/product_cards/question_card.dart#L345

[2022-04-08 17:50] monsieurtanuki commented on #217
That was painful, but I did it (iPhone 8 plus Simulator)!
![test-screenshot-2](https://user-images.githubusercontent.com/11576431/162487801-19512ad8-aa92-4b96-abd7-2de676d3dc51.png)

[2022-04-08 17:51] bhattabhi013 commented on #1521
Hi @monsieurtanuki,
I've also encountered this error in the past and as @abhay1821 pointed out, I also solved it using `UniqueKey()`.
Reference: https://stackoverflow.com/a/65859611/13595256

[2022-04-08 19:45] monsieurtanuki commented on #217
@teolemon I need your help: the cameras don't work on the emulator, and I have to replace them with`png`s. Would you provide one for the screenshots? We'll see later which actual sizes we need.

[2022-04-08 20:08] monsieurtanuki commented on #1521
@abhay1821 @bhattabhi013 I solved this in #1525, and I did not use `UniqueKey` (that would have been cheating).

[2022-04-08 20:37] teolemon commented on #217
[openfoodfacts-androidapp](https://github.com/openfoodfacts/openfoodfacts-androidapp) /
example_screenshot_scan.jpg
[  app/src/obf/res/mipmap/example_screenshot_scan.jpg](https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/obf/res/mipmap/example_screenshot_scan.jpg)
[  app/src/off/res/mipmap/example_screenshot_scan.jpg](https://github.com/openfoodfacts/openfoodfacts-andr

[2022-04-09 00:37] #1376 closed, assigned to cli1005

[2022-04-09 05:04] bhattabhi013 commented on #1517
Please close this as this is fixed by #1524 .

[2022-04-09 06:02] monsieurtanuki commented on #217
Thank you @teolemon!
That said, as in smoothie there are many controls on the bottom part, we'd be better off with interesting data like barcodes on top of the image. Localizations may be an issue too. But that's a start.

[2022-04-09 06:04] abhay1821 commented on #1521
@monsieurtanuki, Thank you for your better approach towards it.

[2022-04-09 06:05] #1517 closed, assigned to nobody

[2022-04-09 09:00] #1319 closed, assigned to nobody

[2022-04-09 11:40] #1521 closed, assigned to monsieurtanuki

[2022-04-09 17:40] teolemon opened #1526 "Colored compatibility banner explainability (Tracker)"
- [x] #1964
  - [ ] The Colored compatibility banner should offer access to a page that explains
    - [ ] why the product is incompatible when it's an allergen
    - [ ] why the product is incompatible when it's a dealbreaker
    - [ ] why the product is incompatible when it's a low score

### Proposed mockup
<img width="597" alt="image" src="https://user-images.githubusercontent.com/1689815/1625

[2022-04-09 18:22] #1347 closed, assigned to nobody

[2022-04-09 18:23] teolemon commented on #543
Little sister was startled by this today, just after onboarding.
![image](https://user-images.githubusercontent.com/1689815/162586894-a9e7c8e1-fac7-412a-a3e5-bbd6524a4912.png)

[2022-04-09 18:25] teolemon opened #1527 "It seems there are still layout issues w/ analytics consent"
### What
- It seems there are still layout issues w/ analytics consent
### Context
 Today, little sister test, latest build

### Part of
- #561

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/162586946-bc744a2b-d9ae-4efa-9b34-cde7c033391f.png)

[2022-04-09 19:27] abhay1821 commented on #1527
Hi @teolemon ,
Could you assign this to me I will improve it.
<img src="https://user-images.githubusercontent.com/55257452/162588801-ce34ed53-34ac-41f9-b6e5-9a36218cc1ff.jpeg" width="250">

[2022-04-09 23:54] VaiTon commented on #1527
@abhay1821 done

[2022-04-10 06:23] monsieurtanuki commented on #543
My remarks:
1. we don't need videos, do we? Perhaps removing videos from the list of requested permission will make the dialog less intrusive
2. this looks like a standard title, and I think we can put our own localized labels
3. how do other apps handle the camera permission dialog?
4. [Edit: added] During the onboarding we could add a comment "You can scan barcode with your camera; you'll see an

[2022-04-10 06:48] monsieurtanuki commented on #217
I could not test it before for Android, but here we are:
![test-screenshot-onboarding-home](https://user-images.githubusercontent.com/11576431/162605908-7f5534dc-ac08-4d5a-a9ee-e4af2248a2bc.png)

For the record, that confirms my low esteem for `Stack` and `Position` widgets.

[2022-04-10 08:04] teolemon commented on #217
auto 407 / 670, for the record

[2022-04-10 12:24] teolemon opened #1531 "In the profile page, show a personal user greeting and contribution points."

[2022-04-10 12:25] #1531 closed, assigned to nobody

[2022-04-10 12:43] teolemon opened #1532 "Color issues for compatibility unknown in light mode"
### What

- [ ] Color issues for compatibility unknown in light mode

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/162618696-5ac93b21-d4eb-470c-b5d9-26c9186de80c.png)

[2022-04-10 13:01] teolemon commented on #1504
<img width="498" alt="image" src="https://user-images.githubusercontent.com/1689815/162619457-b86b251e-e505-4738-b557-8a3e92c485d3.png">
How about something like this ?

[2022-04-10 13:20] AshAman999 commented on #1504
Seems good to go with

[2022-04-10 14:38] bhattabhi013 commented on #1532
I will like to work on this.

[2022-04-11 07:42] teolemon commented on #1031
This was not what this bug was about. It was about the scan cards.

[2022-04-11 07:44] teolemon commented on #1103
Is that still the case @M123-dev @monsieurtanuki ?

[2022-04-11 07:48] M123-dev commented on #1103
Yeah scrolling though search or compare isn't as smooth as through the settings for example

[2022-04-11 07:49] M123-dev commented on #1031
What about adding a third "delete" option to the multi select mode, then we have both common ways to delete something covered

[2022-04-11 07:50] monsieurtanuki commented on #1103
@teolemon I don't know as I can only test on an emulator where performances and scrolling are not really relevant. When I replied I was just listing possible causes and solutions.
I would say: if you did not say to yourself "hey this is slow!" then it's not :)

@M123-dev Please consider my initial remarks in order to find out what is making scrolling slow.

[2022-04-11 07:51] #1316 closed, assigned to nobody

[2022-04-11 07:52] M123-dev commented on #1103
Going to try that next week @monsieurtanuki

[2022-04-11 08:02] teolemon commented on #1103
I'm putting for 1.1, it's not a showstopper.
I'm trying to find showstoppers for v1

[2022-04-11 08:06] #1423 closed, assigned to abhay1821

[2022-04-11 08:35] teolemon commented on #795
Still here:
![image](https://user-images.githubusercontent.com/1689815/162697531-59bfca5d-255a-4400-b578-60baf3e8f209.png)

[2022-04-11 08:35] teolemon commented on #795
https://world.openfoodfacts.org/product/3467830750067/reuilly-domaine-henri-beurdin-et-fils#

[2022-04-11 08:38] teolemon commented on #1388
- 2016 issue: https://github.com/openfoodfacts/openfoodfacts-server/issues/507

[2022-04-11 08:43] monsieurtanuki commented on #1388
@teolemon I assumed that the languages and countries supported are the ones found in off-dart's `OpenFoodFactsLanguage`  and `OpenFoodFactsCountry`.

[2022-04-11 08:50] teolemon opened #1533 "Creating a product from barcode search is not working"
### What
- Creating a product from barcode search is not working

### Steps to reproduce the behavior
1. Try to scan a non-existing product
2. Fail (perhaps another bug, beyond scanning issues ?)
3. Search the non existing barcode
4. Be pleasantly surprised to see a prompt to create the product
5. The prompt does not work

### Part of
- #503

### Screenshot/Mockup/Before-After

https://user-images

[2022-04-11 08:59] teolemon opened #1534 "The localized title of cards is not picked up"
### What
- The API does return translated titles for cards ("Health", "Environment") as evidenced in : https://world-fr.openfoodfacts.org/api/v0/product/4027013050033.json?fields=knowledge_panels,attributes_tags
- For some reason, those are in English on a French phone, even after refresh

### Part of
- #499

### Screenshot/Mockup/Before-After
<img width="483" alt="image" src="https://user-images.

[2022-04-11 09:11] teolemon opened #1535 "Make this string translatable"
Story: Make this string translatable
https://github.com/openfoodfacts/smooth-app/blob/4fbaefa5dd2c32a71b597f7c7404541cb7b07249/packages/smooth_app/lib/pages/product/summary_card.dart#L273

[2022-04-11 09:29] teolemon opened #1536 "(Display) There's no ingredient list at all on multilingual products if you're in the wrong language"
### What
- On a product sold in Germany, I can see the allergens, but not the ingredient list they were inferred from
### Expected behavior
- I want an excuse ("The list is currently only available in German") and a prompt to photograph the list in French if present, and even the possibility to see the ingredient list in German
### Why
- People will travel
- Some products only have one language in

[2022-04-11 09:31] teolemon opened #1537 "Oversized modal, with White on White buttons"
### What
- Oversized modal, with White on White buttons

![image](https://user-images.githubusercontent.com/1689815/162709925-1e73ce6c-fd3b-4e10-84df-830268df19b0.png)

[2022-04-11 09:43] teolemon opened #1538 "Impossible to zoom out after rotating photo in the cropper"
### What
- Impossible to zoom out after rotating photo in the cropper

### Steps to reproduce the behavior
1. Go to Product Addition
2. Take a photo
3. Rotate it
4. Get a zoom in
5. Try and fail to zoom out

### Expected behavior
Just a rotation without zoom ?

### Part of
- #1379

### Screenshot/Mockup/Before-After

https://user-images.githubusercontent.com/1689815/162712094-5c28a2d7-0a97-400c-84

[2022-04-11 10:02] teolemon opened #1539 "Harmonize the shape of the button (the Edit product is the right shape)"
### What

- [ ] Harmonize the shape of the button (the "Edit product" button is the right shape)

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/162715498-b16e9c60-7794-4fe6-b1f7-0ea926526928.png)

[2022-04-11 10:06] teolemon opened #1540 "Duplicated Environnement title in the Knowledge panels (logic error ?)"
### What

- [ ] Duplicated Environnement title
- Currently unsure if client side or server side, or if it's only provoked by the custom eco-score card

### Screenshots
<img width="483" alt="image" src="https://user-images.githubusercontent.com/1689815/161387243-cce9afcd-c28e-4cc1-80a7-bcc9164042f4.png">

[2022-04-11 10:13] stephanegigandet commented on #1540
There's no "Environment" string in the knowledge panels: https://world.openfoodfacts.org/product/3017620422003/nutella-ferrero?fields=knowledge_panels

On the website this is what we show:

![image](https://user-images.githubusercontent.com/8158668/162718207-e86bfca6-51ca-4d35-bd27-47777ed45ad9.png)

Probably related to https://github.com/openfoodfacts/smooth-app/issues/1534

The app may be trying

[2022-04-11 10:15] teolemon opened #1541 "Quick fix: The app should warn if we attempt to switch to portion (and portion is not available)"
### What
- [ ] Quick fix: The app should warn if we attempt to switch to portion (and portion is not available)

### Part of
- #499

[2022-04-11 10:18] teolemon commented on #1534
"title_element":{"title":"Santé"},"topics":["health"],"type":"card"}
"title_element":{"title":""},"topics":["environment"],"type":"card"}

@stephanegigandet it seems there are uncoherent behaviours

[2022-04-11 10:19] teolemon commented on #1540
@stephanegigandet it seems there are uncoherent behaviours, see my comment in #1534

[2022-04-11 10:24] bhattabhi013 commented on #1535
Hi @teolemon,
I will do this.

[2022-04-11 10:35] bhattabhi013 commented on #1533
I tried the same barcode but I got a different response, here is a video of it

https://user-images.githubusercontent.com/47862474/162722600-eaabf05f-6a55-4969-b2e9-995b6fa6cf3e.mp4

.

[2022-04-11 10:41] bhattabhi013 commented on #1539
Hi @teolemon ,
Please assign this to me.

[2022-04-11 11:27] teolemon opened #1542 "During signup, The email address is shown backwards"
### What
During signup, The email address is shown backwards

### Video
https://user-images.githubusercontent.com/1689815/162730300-11c31e44-9513-440a-842d-372bfee266ee.mp4

[2022-04-11 11:40] cli1005 commented on #1352
I can not reproduce the loop, this issue might be fixed by https://github.com/openfoodfacts/smooth-app/pull/1365 ? is anyone still facing this problem ?

[2022-04-11 11:56] monsieurtanuki commented on #1537
Here the solution is to use the default smooth dialog (not the "advanced" one).

[2022-04-11 11:59] stephanegigandet commented on #1534
Thanks, I'll add the missing title for the environment card.

[2022-04-11 12:11] M123-dev commented on #1538
Don't think this is possible with our current implementation

[2022-04-11 12:15] M123-dev commented on #1352
Still occurring to me, @cli1005 maybe try without beeing logged in, otherwise your answer will be directly accepted

https://user-images.githubusercontent.com/39344769/162737308-a13a40c3-fd8d-42d1-a669-3b2c6eb95e12.mp4

[2022-04-11 12:23] monsieurtanuki commented on #1537
@teolemon Not fantastic, but at least we can have either:
- solution 1
![Simulator Screen Shot - iPhone 8 Plus - 2022-04-11 at 14 18 03](https://user-images.githubusercontent.com/11576431/162737665-341fe893-219b-424a-8dc9-3be8b92f4a59.png)

- solution 2
![Simulator Screen Shot - iPhone 8 Plus - 2022-04-11 at 14 22 39](https://user-images.githubusercontent.com/11576431/162738321-29b43bac-7fc1-478f-

[2022-04-11 12:26] M123-dev commented on #1537
We could also combine "Support" with "Connect with us"

[2022-04-11 12:27] monsieurtanuki commented on #1537
@M123-dev You mean "Contact us".

For the moment we have
* support => slack / contact us
* contact us

We would be better off with:
* contact us => slack / contact us

[2022-04-11 12:30] #1539 closed, assigned to nobody

[2022-04-11 12:33] monsieurtanuki commented on #1538
Again, if you need a simple implementation with just the full image, a 90-180-270 rotation and a crop tool, I can dig up what I coded in another project.

[2022-04-11 12:35] cli1005 commented on #1352
I thought the question page showed spontaneously again and again 😂, so the real problem is the "🥇  box" persists on the product page which is supposed to be hided? ok, i will try as a guest, thanks [M123-dev](https://github.com/M123-dev)

[2022-04-11 12:49] monsieurtanuki commented on #1537
Used to be:
![Capture d’écran 2022-04-11 à 14 35 56](https://user-images.githubusercontent.com/11576431/162740471-973e16e1-f5c7-4ff4-bd1e-e0852c1b75c2.png)

Would be:
![Capture d’écran 2022-04-11 à 14 48 56](https://user-images.githubusercontent.com/11576431/162742632-87e368e7-e5b3-4242-8c34-7157042c0c0e.png)

![Simulator Screen Shot - iPhone 8 Plus - 2022-04-11 at 14 49 11](https://user-images.gi

[2022-04-11 13:11] teolemon commented on #1225
Fixed.

[2022-04-11 13:11] #1225 closed, assigned to teolemon

[2022-04-11 13:15] #1537 closed, assigned to monsieurtanuki

[2022-04-11 13:19] #699 closed, assigned to nobody

[2022-04-11 13:22] monsieurtanuki commented on #782
We're OK now.
The only thing puzzling me is that on dark mode the welcome page is the same as the light one (therefore a bit too light).
Feel free to open a new issue about it if relevant.

[2022-04-11 13:22] #782 closed, assigned to nobody

[2022-04-11 13:27] teolemon commented on #1177
- Closing in favor of #1047

[2022-04-11 13:27] #1177 closed, assigned to nobody

[2022-04-11 13:29] teolemon commented on #1236
async upload not implemented (@g123k checked)

[2022-04-11 13:29] teolemon commented on #1236
- See #1393

[2022-04-11 13:29] #1236 closed, assigned to nobody

[2022-04-11 13:32] teolemon commented on #1311
@M123-dev can you still reproduce ?

[2022-04-11 13:35] g123k commented on #1344
We don't need to store this kind of information.
We have the [autofill](https://medium.com/flutter/announcing-flutter-1-20-2aaf68c89c75) feature for that

[2022-04-11 13:51] #1395 closed, assigned to cli1005

[2022-04-11 13:53] #832 closed, assigned to nobody

[2022-04-11 14:31] M123-dev commented on #1311
Yes, it happens when I reinstall the app from my pc as debug build with flutter run. Probably because the app then can't access the credentials anymore. Taking care of that

[2022-04-11 14:44] stephanegigandet opened #1549 "Black screen instead of camera feed when scanning"
### What

This bug is intermittent:
- very often, when accessing the scan screen, the camera preview part stays black for a few seconds before showing something
- sometimes it stays black undefinitely, until I go to another screen (e.g. setting) and come back

### Screenshot/Mockup/Before-After

![image](https://user-images.githubusercontent.com/8158668/162764880-bb11d5bd-156f-4b53-aea6-d84bf3702f

[2022-04-11 17:48] g123k opened #1552 "Country picker: overflow issue on iOS"
### What
A right overflow is visible on the country picker on iOS (iPhone SE 3rd gen)

### Screenshot
![Simulator Screen Shot - iPhone SE (3rd generation) - 2022-04-11 at 19 46 44](https://user-images.githubusercontent.com/246838/162799210-c6d7bf30-e126-4225-9e79-21596380c5f3.png)

[2022-04-11 17:53] g123k opened #1553 "iOS's camera permission prompt not translated"
### What
- The permission prompt for the camera on iOS is not translated.

### Screenshot
![Simulator Screen Shot - iPhone SE (3rd generation) - 2022-04-11 at 19 49 16](https://user-images.githubusercontent.com/246838/162799927-bc86a2cb-0512-4f7b-89ba-91fdadbdf3c7.png)

[2022-04-11 17:55] g123k commented on #1552
Also reproducible on the Settings tab
![Simulator Screen Shot - iPhone SE (3rd generation) - 2022-04-11 at 19 55 20](https://user-images.githubusercontent.com/246838/162800335-6957e325-64c9-42c3-8637-d999fa4bcc87.png)

[2022-04-11 18:52] g123k opened #1555 "We should define rules for user passwords"
While fixing https://github.com/openfoodfacts/smooth-app/issues/1542, @M123-dev raised an excellent question about passwords and spaces characters. Should we allow them? Before/After/Between…

Currently, the only rule we have is based on the length (>= 6 characters)

[2022-04-11 19:03] bhattabhi013 commented on #1555
Hi @g123k,
According to me, we can have 2 solutions here,
1) We shouldn't trim the password input text field and allow users to input space characters.
2) While validating the password text field, warn users about the space characters with a message like "blank space characters not allowed."
I will love to hear other approaches too.

[2022-04-11 19:41] AshAman999 commented on #1555
@bhattabhi013  2nd one seems to be a good approach to me here

[2022-04-11 19:44] AshAman999 commented on #1552
it seems like we are having some overflow issues here and there, can we use something like[ this](https://pub.dev/packages/sizer)

[2022-04-11 20:02] M123-dev commented on #1346
Can still reproduce somehow the autofill isn't picked up by my phone anymore

[2022-04-11 20:31] g123k commented on #1346
@M123-dev Could you check you really have a password in your account:
https://user-images.githubusercontent.com/246838/162826742-456e9de8-10cc-4eb8-be1c-5d479db05018.mp4

[2022-04-11 21:14] M123-dev commented on #1346
Just did some further testing but first I'm not using Google/Android autofill but Samsungs solution, (more explicitly Samsung keyboard) but I actually don't know if it's just another skin or if there are differences of who takes care of detecting the text fields, Samsung or Google

My remarks:

- It works for you so it's not completely broken

- It worked on my device (few months ago when I introd

[2022-04-11 21:17] M123-dev commented on #1346
Doing some further testing next week

[2022-04-12 06:23] abhay1821 commented on #1555
Hi @g123k,
So When I worked on the trim issue,
1. I Left the password field as It is since I checked google Facebook, and many other Sign Up pages. We can use space
without any warning since there can be users who want to use spaces in their passwords.

2. Moreover we too also have a show password option too where we can crosscheck if space is entered accidentally

So, In my opinion, it's not that

[2022-04-12 07:06] g123k commented on #1553
The app is ready to welcome iOS translations, but I don't know how to create the workflow between GitHub <-> Crowdin

[2022-04-12 07:29] g123k commented on #1220
A few more untranslated strings:

- [ ] https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/generic_lib/dialogs/smooth_category_picker.dart#L114
- [ ] https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/generic_lib/dialogs/smooth_category_picker.dart#L111
- [ ] (All hard-coded strings in this file) https://github.com/openfoodfacts/smooth-ap

[2022-04-12 07:47] g123k opened #1558 "The status bar should always be in light mode in the Search tab"
## What
The status bar stays dark when going back and forth between Search & History tabs.
It should always be in light mode in the Search (camera) tab

## Screenshot/Mockup/Before-After

### Video
https://user-images.githubusercontent.com/246838/162908200-d9637567-0e10-470b-8edd-1f9d288f90aa.mp4

### Screenshot
![capture](https://user-images.githubusercontent.com/246838/162908261-8efaf3b4-a3ed-48

[2022-04-12 08:47] M123-dev commented on #1558
Probably a side effektiv of https://github.com/openfoodfacts/smooth-app/pull/1422 as I said here https://github.com/openfoodfacts/smooth-app/issues/1400

[2022-04-12 09:08] #1542 closed, assigned to g123k

[2022-04-12 09:59] teolemon opened #1559 "A few more untranslated strings"
A few more untranslated strings:

- [ ] https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/generic_lib/dialogs/smooth_category_picker.dart#L114
- [ ] https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/generic_lib/dialogs/smooth_category_picker.dart#L111
- [ ] (All hard-coded strings in this file) https://github.com/openfoodfacts/smooth-ap

[2022-04-12 13:00] #1553 closed, assigned to g123k

[2022-04-12 13:32] cli1005 commented on #1352
There are two problems:
1.  Launching of postInsightAnnotation future can not be guarantied by LoadingDialog
2. We have to vote 3 times( postInsightAnnotation * 3 ) in order to update the annotation, which is defined in a new feature of Robotoff... more details here : https://github.com/openfoodfacts/robotoff/pull/485

I will fix the first problem, but for the second one... Do you have any idea?

[2022-04-12 13:46] teolemon commented on #1352
- The 3 times things happens only for guests, if it's been implemented per specs.
- Nethertheless, we shouldn't silently register the vote, Robotoff should probably send back a message explaining the system, I believe cc @alexgarel

[2022-04-12 13:51] teolemon opened #1561 "Making some of the plist file strings untranslatable ?"
### What
- Making some of the plist file strings untranslatable ? cc @g123k

<img width="355" alt="image" src="https://user-images.githubusercontent.com/1689815/162977651-293839ca-03ff-495e-ac2a-96a362cfa5e2.png">

[2022-04-12 13:56] cli1005 commented on #1352
Robotoff returns different status and messages, "vote_saved : the annotation vote was saved" for voting, and "updated : the annotation was saved and sent to OFF" for updating annotation.

I'm testing with my account logged, still need to vote 3 times...

[2022-04-12 15:10] g123k commented on #1561
@teolemon Could you test if https://github.com/openfoodfacts/smooth-app/pull/1563 is better, please?

[2022-04-12 15:15] g123k opened #1564 "What should we do if the camera permission is denied?"
Everything is in the title: what should we do if the camera permission is denied?
Right now, the view (with the visor) is just black.

[2022-04-12 15:19] monsieurtanuki commented on #1564
Suggestion:
* instead of the black background and the visor
* put a "authorize camera" button

[2022-04-12 15:25] g123k opened #1565 "Usefulness of the photo library permission on iOS?"
As mentioned by @monsieurtanuki in #1563, why do we use the photo library permission on iOS?
It was added back in February 2021: https://github.com/openfoodfacts/smooth-app/commit/ccfc0245ce83180b6b1c945248df401ca7982017

Any idea @teolemon?

[2022-04-12 15:26] teolemon commented on #1565
no idea.

[2022-04-12 15:27] teolemon commented on #1565
https://github.com/openfoodfacts/smooth-app/issues/187

[2022-04-12 15:47] g123k commented on #1565
It's used by the image picker library: https://pub.dev/packages/image_picker and more particularly in `image_crop_page.dart`

From what I understand, this library is only used to take a picture from the camera and never picks any image from the device. We should use another way to take a picture, as this one forces the unused permission.

[2022-04-12 15:49] monsieurtanuki commented on #1565
What if we use the package without the permission? If we don't use any feature that actually requires the permission, we should be ok, shouldn't we?

[2022-04-12 15:51] g123k commented on #1565
Unfortunately, no. That was the issue raised in #187:

One solution could be to let the app "as-is":

[2022-04-12 15:58] monsieurtanuki commented on #1565
I see: we _need_ to provide a purpose string for this permission because it's needed somewhere in the app, and that's detected by the Apple Play Store.
But perhaps, as this permission is actually never used, we don't need the permission to be checked through a dialog? That would mean not translating the permission in 180+ languages, and just keep the default English version that will never be used

[2022-04-12 16:11] g123k opened #1566 "Validity of a barcode"
On Android, a barcode is valid if:
- Its length is > 3
- Is an EAN 13
- Doesn't start with 977, 978 or 979

If I'm not wrong, we don't have these checks on Smoothie.
Should we implement them?

[2022-04-12 16:30] g123k opened #1567 "Scan card: "new product found" button overflow"
When a product is not found, a dedicated card is displayed with a button to start adding information.
However, the text on the label generates an overflow with the French translation.

![IMG_CBF9CBCAC086-1](https://user-images.githubusercontent.com/246838/163010297-cfdb1943-ef38-487b-9259-9e2927e8929a.jpeg)

[2022-04-12 16:36] g123k opened #1568 "Scan cards with different sizes"
It seems the "search" and the "product not found" cards don't have the same height, a valid result:
![IMG_4CF84B54BE2D-1](https://user-images.githubusercontent.com/246838/163011212-8a7f6dc3-c733-44cf-84cc-2151b7f34556.jpeg)

(That one is clearly not a priority)

[2022-04-12 16:41] stephanegigandet commented on #1567
I think the button would be better with "Add this product" instead of "Add the information about this product": it's shorter, and it's also less scary. :)

[2022-04-12 16:43] monsieurtanuki commented on #1567
An `AutoSizeText` with `maxlines: 2` won't hurt either.

[2022-04-12 16:43] stephanegigandet commented on #1566
is an EAN13? That sounds weird. Do you mean if it has 13 digits, we check the last digit key?

What's wrong with 977 etc. ? Is that to avoid books or something?

[2022-04-12 16:44] g123k commented on #1565
Ok, I've removed `NSPhotoLibraryUsageDescription` from the translations in #1563

[2022-04-12 16:51] g123k commented on #1566
@stephanegigandet According to the Android test, yes this check is to eliminate books: https://github.com/openfoodfacts/openfoodfacts-androidapp/commit/5025f55d72383d44be758a43f09c7eec1b2f0de1

[2022-04-12 16:54] monsieurtanuki commented on #1566
Somehow related: https://github.com/openfoodfacts/openfoodfacts-dart/pull/195 and https://github.com/openfoodfacts/openfoodfacts-dart/issues/188.
It looks like we should admit EAN8 too.

[2022-04-12 16:59] bhattabhi013 commented on #1567
Hi,
Can I work on this?

[2022-04-12 17:14] #1561 closed, assigned to g123k

[2022-04-12 17:14] #1565 closed, assigned to g123k

[2022-04-12 19:23] g123k commented on #1564
Something like that?
![Artboard](https://user-images.githubusercontent.com/246838/163038144-bfaa4199-e680-4270-8660-76e6a609a89a.png)

[2022-04-12 19:25] teolemon commented on #1564
I was thinking directly within the viewfinder, we don't know what the future holds for this card.

[2022-04-12 19:33] g123k commented on #1564
A bit better, but not really a fan of it
![Artboard](https://user-images.githubusercontent.com/246838/163039587-0d04bbd2-24be-466a-8351-69d13b7cadfd.png)

[2022-04-13 05:25] monsieurtanuki commented on #1564
Thank you @g123k - the latest is more what I had in mind, but:
* I would make it less intrusive (no blue "scan" icon)
* I did not imagine the "hide" button, why not. But how do you put back the permission if you clicked on "hide" but it wasn't a good idea? Would we need another button to show it back again?

I imagined a unique "change permissions" button. Your text is good, just make it a button

[2022-04-13 06:30] M123-dev commented on #1564
FYK there are these unfinalized mocks

![20220411_115104.jpg](https://user-images.githubusercontent.com/39344769/153710466-35f91460-3fec-4d1d-ba76-142f0f54a526.png)

[2022-04-13 06:40] #1535 closed, assigned to nobody

[2022-04-13 10:51] #1479 closed, assigned to nobody

[2022-04-13 12:13] stephanegigandet commented on #1250
Related proposal: https://forum.openfoodfacts.org/t/proposal-for-a-new-personalized-experience-in-the-open-food-facts-app-and-website/71

[2022-04-13 12:19] stephanegigandet commented on #1060
I wrote a proposal to adapt the algorithm to classify products: https://forum.openfoodfacts.org/t/proposal-for-a-new-personalized-experience-in-the-open-food-facts-app-and-website/71

In particular it clarifies how to compute the "match" and if some attributes are mandatory, the "compatibility".

- Very good match: 75% and above
- Good match: 50% and above
- Poor match: less than 50%
- Unknown mat

[2022-04-13 13:55] monsieurtanuki commented on #1060
Hi @stephanegigandet! For some reasons I cannot write to the forum - still waiting for a confirmation email that never came.

Very interesting suggestions! My remarks:
* no problem in smoothie to add the very_important level (that we temporarily removed)
* waiting for the algorithm to normalize the score to 100
* I'm not really obsessed with accessibility but adding a "performance" icon like smili

[2022-04-13 14:54] monsieurtanuki commented on #1060
With emoji and percentage/score:
![Simulator Screen Shot - iPhone 8 Plus - 2022-04-13 at 16 53 34](https://user-images.githubusercontent.com/11576431/163208661-8d01efcf-52a8-48d4-9b51-1d6c52b8ef2a.png)

[2022-04-13 14:54] cli1005 commented on #1352
To resolve the problem of voting 3 times, I created a hive box of type Map<barcode, List < insightId > > to cache all voted questions.

- If a user (guest or logged user) has voted one time for all the questions of the product on one device, the "🥇 box" will be hided on this device since the vote records are saved in hive box locally.
- Once the annotations is updated (3 votes collected from diffe

[2022-04-13 15:02] stephanegigandet commented on #1060
Hi @monsieurtanuki , thanks a lot for the feedback!

ah, not in the spam folder either?

Emojis are an interesting idea. :) I guess it all depends on how serious-looking or fun-looking we want to appear.

Today we show Nutri-Score on one line, then Eco-Score on another line, then after that we have the attribute selected by the users on half lines.

My suggestions is to go back to the personalized

[2022-04-13 15:04] M123-dev commented on #1352
Sounds great @cli1005 especially that the data gets removed when not needed anymore

[2022-04-13 17:39] monsieurtanuki commented on #1060
@stephanegigandet Not in the spam folder either.

Ok now I understand: no special treatment for Nutriscore and Ecoscore (except that they are still in the default preferences, that the user can change).

I've just suggested an icon for Ultraprocessed yes/no:
![Capture d’écran 2022-04-13 à 19 29 01](https://user-images.githubusercontent.com/11576431/163236983-fd9d2350-e5d8-4f7f-9f45-bf35ab5a8e19.pn

[2022-04-13 19:38] Laytoder commented on #1568
I have fixed this issue, Please checkout the pull request https://github.com/openfoodfacts/smooth-app/pull/1573

[2022-04-14 12:34] M123-dev opened #1575 "Do not alert about unintended exit in the nutrition edit page if nothing has been changed"
### What

- When I go on the page, do nothing and directly go back I get this dialog.
-  We don't need it when nothing on the page has changed
- Do not alert about unintended exit in the nutrition edit page if nothing has been changed

https://user-images.githubusercontent.com/39344769/163391280-5e03990d-9b1b-41b6-927a-3ba53dcf370f.mp4

[2022-04-14 13:20] cli1005 commented on #1194
I got the error "Aucun code-barres spécifié ou trouvé dans l'image ou le nom du fichier." returned by calling "OpenFoodAPIClient.addProductImage" while trying to reproduce the bug, are you facing the same issue?

[2022-04-14 13:44] cli1005 commented on #1194
Issue can not be reproduced:
| ![IMG_8078](https://user-images.githubusercontent.com/87010739/163403239-a9e437b9-9ff2-4f72-b135-adfb01493f7e.PNG)  | ![IMG_8079](https://user-images.githubusercontent.com/87010739/163403216-d920bdf3-1d40-41d9-a10b-643482b3953f.PNG)  |
| -------  | -------  |

[2022-04-14 13:45] teolemon commented on #1194
cc @alexgarel

[2022-04-15 06:23] g123k opened #1577 "If the device doesn't have a camera, the app shouldn't crash"
On devices without a camera (eg: the iOS simulator), the app is admitting at least one camera is always available.
That shouldn't be the case

[2022-04-15 06:37] g123k opened #1580 "Codecov tests always fail"
Since a few days, all tests fail, because of Codecov:

[code]

An exemple here: https://github.com/openfoodfacts/smooth-app/runs/6035051754?check_suite_focus=true#step:10:69

[2022-04-15 06:49] g123k opened #1581 "[Scan] Half-image decoding is crashing on iOS"
### What
Error `Thread 6: EXC_BAD_ACCESS (code=1, address=0x1548c0000)`

Trigerred by: [pixelBufferToVisionImage method in MLKVisingImage](https://github.com/danjodanjo/google_ml_barcode_scanner/blob/master/ios/Classes/MLKVisionImage%2BFlutterPlugin.m#L135)

### Part of
- #526

[2022-04-15 07:44] g123k commented on #1580
By relaunching manually the task, it seems to work.

[2022-04-15 07:52] g123k commented on #1564
Thanks @M123-dev, will implement this

[2022-04-15 08:08] M123-dev commented on #1564
As said AFAIK they are just ideas so the button doesn't have to look like that. I also like your more AlertDialog style although the hide button probably doesn't make that much sense but I think we can all agree on the position of the button

[2022-04-15 10:33] M123-dev commented on #1194
Fixed by the cropping library switch

[2022-04-15 10:33] #1194 closed, assigned to cli1005

[2022-04-15 12:04] #1568 closed, assigned to Laytoder

[2022-04-15 13:12] monsieurtanuki commented on #1581
My suggestion: just don't use it. It's experimental.
And we could not test if it improved performances anyway.
Putting the focus on `(.5,.25)` looks like a much better idea.

[2022-04-15 13:33] #1577 closed, assigned to g123k

[2022-04-15 13:56] g123k commented on #1564
An initial implementation is available in #1583
Feel free to add some comments

[2022-04-15 13:58] g123k commented on #1581
Honestly, on Android the results are far better.
I've just fixed the crash on iOS. This value is still "experimental"

[2022-04-15 14:06] monsieurtanuki commented on #1581
Wonderful!

Good!

[2022-04-15 14:51] #1552 closed, assigned to g123k

[2022-04-15 16:37] teolemon commented on #644
![image](https://user-images.githubusercontent.com/1689815/163596900-c40ba5bc-c0d6-47b1-a807-ad069efcafb6.png)
Can still reproduce with this barcode

[2022-04-15 16:47] M123-dev commented on #644
What does the server respond for this barcode

[2022-04-15 16:59] teolemon commented on #644
https://world.openfoodfacts.org/api/v0/product/ABC-abc-1234.json

[2022-04-15 16:59] teolemon commented on #644
assuming we send this request

[2022-04-15 17:04] teolemon commented on #1073
@monsieurtanuki @stephanegigandet @g123k @M123-dev after several UX iterations, here's the plan for lists.

[2022-04-15 17:47] teolemon commented on #1501
@Raj2503 @monsieurtanuki here's a mockup. Consent toggles go in app settings, food preferences in food preferences, all the app settings to … app settings ;-)
<img width="375" alt="Infotips" src="https://user-images.githubusercontent.com/1689815/163603700-cf95a3b4-2cd2-4437-b954-9496b065e2e1.png">

[2022-04-16 04:49] vik4114 commented on #1492
@teolemon can you tell which one is full edit mode?

[2022-04-16 06:09] monsieurtanuki commented on #832
@teolemon After several days playing with the new "next 25 products" button, how do you feel? I guess the results are much faster and the UX is acceptable, right?

[2022-04-16 06:37] monsieurtanuki commented on #1501
Thank you @teolemon!
@Raj2503 It's up to you to code that, now :)

[2022-04-16 07:11] monsieurtanuki commented on #1073
@teolemon My main concern is that one: where do you go to the "All the Lists" page from?

Other more minor comments:
1. Side-effect - I suggest an "Add to a list" button when the product does not belong to any user list
1. When you say "Shopping lists" or "Kitchen", we're talking about lists that the user created and named that way, right? Those are not list subtypes, right?
1. Your list buttons h

[2022-04-16 09:07] M123-dev commented on #1073
Just out of curiosity and not to start a big discussion about if, if so probably better in a own dedicated issue but what db are we going for, back to a SQLLite solution or are we sticking with hive for the lists?
@monsieurtanuki @teolemon

[2022-04-16 10:31] teolemon commented on #960
Here's a proposal:
<img width="687" alt="image" src="https://user-images.githubusercontent.com/1689815/163671627-3cfc29f4-4755-4bea-b1e0-effaa38f8edb.png">

[2022-04-16 10:40] teolemon commented on #960
cc @M123-dev @PrimaelQuemerais @monsieurtanuki @stephanegigandet
See also: https://forum.openfoodfacts.org/t/proposal-for-a-new-personalized-experience-in-the-open-food-facts-app-and-website/71/3

[2022-04-16 11:28] teolemon opened #1585 "Limit usernames to 20 chars"
### What
- Server side will limit usernames to 20 chars, we should probably prevent 20+ input in the signup form
- https://github.com/openfoodfacts/openfoodfacts-server/pull/6631

[2022-04-16 11:45] g123k commented on #1585
Should be first implemented in the SDK

- [x] https://github.com/openfoodfacts/openfoodfacts-dart/issues/441

[2022-04-16 12:03] teolemon commented on #1377
![Extract ingredients](https://user-images.githubusercontent.com/1689815/163674171-ab77bc0e-99cc-4c26-9b1e-b4d63128e456.png)

[2022-04-16 17:45] monsieurtanuki commented on #1073
@M123-dev There's no obvious reason to go back to SQFlite because of lists. Lists only contain barcodes. Products are bigger: if we had to move back to SQFlite it would probably be because of products. Unless users get very fond of lists. The reward for success! Let's stick to hive for the moment.

[2022-04-16 17:48] g123k commented on #1073
+1
Also if Hive is too limited, the creator of the library has created a new one with extended query features: https://github.com/isar/isar

[2022-04-16 18:52] monsieurtanuki commented on #960
That's not possible as is: the info icon for mandatory is too small and too close to the mandatory slider value.
A solution would be to automatically open the info pop-up when a value is selected.
I would also suggest radio buttons instead of sliders. Let me try...

[2022-04-16 19:44] monsieurtanuki commented on #960
Something like that:
![Simulator Screen Shot - iPhone 8 Plus - 2022-04-16 at 21 43 40](https://user-images.githubusercontent.com/11576431/163689271-207c26ad-be98-4d96-a355-b7926ff2686c.png)

[2022-04-17 09:32] teolemon commented on #1073
@M123-dev related to the Delete Button on History
https://user-images.githubusercontent.com/1689815/163598606-0c465dc6-e322-42f2-974c-34418b98c78c.png

[2022-04-17 10:49] Raj2503 commented on #1501
Thank you for the mockup @teolemon.

Sure @monsieurtanuki, I have already some progress. Now that I have a mockup, I will have a greater overview to refer to.

[2022-04-17 10:53] g123k opened #1591 "Specify what kind of image is being uploaded"
As mentioned in #1393, the Dialog should not have a generic text like "Uploading image to the server", but instead "Uploading front photo to Open Food Facts"

[2022-04-17 10:55] g123k commented on #1393
@teolemon Could you elaborate a bit more on "The sections should not move to the bottom and stay put", please?

[2022-04-17 10:56] g123k commented on #1393
For the uploading percentage, is-it really necessary?
If we implement a background task, where this progress should be displayed?

[2022-04-17 11:00] teolemon commented on #1393
Stay put: Currently the photos are put at the bottom of the list. It should be inline, in-between buttons
<img width="319" alt="image" src="https://user-images.githubusercontent.com/1689815/163711600-765830d1-0e35-4eab-8c71-adf2455efa0a.png">

[2022-04-17 11:01] teolemon commented on #1393
The uploading percentage is a plus, not a strong requirement, especially if we have a background task.

[2022-04-17 11:31] g123k opened #1593 "The "uploading image" dialog should not block the user from moving to the next photo"
### What

- Implement background tasks to upload images
- #1595 should be implemented before this one

### Part of
- #503

[2022-04-17 11:55] g123k opened #1595 "Cache mechanism for photos"
### What
If we migrate to a non-blocking uploading photo feature (#1593), we have to implement a local cache.
Indeed, if a photo is not yet sent to the server (offline mode for example), the user shouldn't be aware of that.

The change required here is basically to say:
- Is a photo available in the cache? -> If true, take it
- Otherwise, make a request

The idea is to use this folder: https://pub

[2022-04-17 12:12] monsieurtanuki commented on #1595
@g123k I don't think it's safe to use a temporary directory, as "Files in this directory may be cleared at any time." (it means: when other apps need space).
The files we're talking about are files that the user assume are to be uploaded; we don't want those files to be deleted from out of nowhere.
I suggest [getApplicationDocumentsDirectory](https://pub.dev/documentation/path_provider/latest/path

[2022-04-17 15:07] g123k commented on #1595
Yes and no.

On Android, it's only based on the user's decision.
However, you're right, on iOS, it may be erased by the OS.
Hence, my confusion on this.

Also, after reading how Hive is implemented, it also uses `getApplicationDocumentsDirectory`. So we should follow the same impl.

Thanks for your feedback.

This issue is indeed for #1593, as this cache is only temporary, whereas #413 is a long-l

[2022-04-17 16:10] monsieurtanuki commented on #1595
@g123k Thank you for your answer.

I still don't agree on several points:
* `getTemporaryDirectory` / `getCacheDir` files on Android [can be deleted directly by the OS on low memory](https://developer.android.com/reference/android/content/Context#getCacheDir()) (it's not "only" based on the user's decision), and that's not at all what we want in the case of the user having taken a picture for Smoo

[2022-04-17 16:10] teolemon opened #1596 "Add a step to Screenshot generation UI tests to clean the top bar"
### What (Very low priority)
  - [ ] Add a step to Screenshot generation UI tests to clean the top bar
    - [ ] `To clean the status bar (9:41, full battery and full signal), use SimulatorStatusMagic.`
### Part of
- #217

[2022-04-17 16:12] monsieurtanuki commented on #1596
The top bar is already clean, isn't it? Can you please provide a screenshot? Mine are clean.

[2022-04-17 16:15] teolemon commented on #1596
ok, perfect @monsieurtanuki closing.

[2022-04-17 16:15] #1596 closed, assigned to nobody

[2022-04-17 17:38] #1591 closed, assigned to g123k

[2022-04-17 19:21] #1564 closed, assigned to g123k

[2022-04-18 06:27] vik4114 commented on #1585
I will take this

[2022-04-18 07:11] g123k commented on #1585
@vik4114 Please wait before coding anything, as this issue depends on https://github.com/openfoodfacts/openfoodfacts-dart/issues/441

[2022-04-18 07:40] teolemon commented on #976
- @M123-dev : Related to https://github.com/openfoodfacts/smooth-app/issues/1295

[2022-04-18 09:34] g123k commented on #1595
A PR #1600 is available with both short and long living cache storage.

Hmmm I’m not sure to understand your last point.
For the cache mechanism implementation (what I’ve done in the PR) to which issue will it be linked?

[2022-04-18 12:56] vik4114 commented on #1585
@g123k Okay

[2022-04-18 13:53] M123-dev commented on #1585
SDK implementation merged, we probably don't need to release with the changes immediately, do we?

[2022-04-18 13:55] M123-dev commented on #976
Yeah same topic

[2022-04-18 13:55] #976 closed, assigned to nobody

[2022-04-18 13:58] g123k commented on #1585
Unfortunately yes, otherwise the constant `USER_NAME_MAX_LENGTH` won't be accessible
https://github.com/openfoodfacts/openfoodfacts-dart/pull/442/files#diff-12c713b3c900cad49c9548b90c7fc1610488231db67db7aa1bef21fcfee5c96dR773

[2022-04-18 14:18] M123-dev commented on #1585
Going to release this evening

[2022-04-18 14:44] RohitEdathil commented on #1025
Hey, can I work on this?

[2022-04-18 14:47] M123-dev commented on #1025
Sure @RohitEdathil

[2022-04-18 17:29] RohitEdathil commented on #1025
I think I fixed this.
![Screenshot_20220418-224727](https://user-images.githubusercontent.com/44530239/163847066-8cbbbc14-5cb0-4634-a351-1ae8883acfb4.jpg)

Adding `CrossAxisAlignment.start` to the Column in [this file](https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panels_builder.dart) at line 157 seems to have did th

[2022-04-18 18:01] #1567 closed, assigned to bhattabhi013

[2022-04-18 18:04] monsieurtanuki commented on #1595
@g123k Actually you fixed both cases (cache and to-be-uploaded) in just one PR, so you can ignore my last point.

[2022-04-19 06:15] bhattabhi013 commented on #1549
Hi @stephanegigandet,
I've also experienced this issue. I feel this is due to continuous scanning, I suggest we can add a button to start the scanning of the barcodes and add a timeout to it, so the scanning stops after a particular time.

[2022-04-19 06:18] g123k commented on #1549
@bhattabhi013 Do you have a way to reproduce the issue?
So, I can work on a fix because as of now, I haven't found an accurate way.

[2022-04-19 07:12] monsieurtanuki commented on #1549
That would make sense, because flutter/dart is more or less single-threaded: heavy process (like barcode scan: copying the whole image then actually scanning it) may have side-effects like this one, or battery draining.
That's why we introduced a small pause between scans. And perhaps we should change the UX to limit the whole scan time up to when the scan is successful (with a "scan again" button

[2022-04-19 07:13] bhattabhi013 commented on #1549
Hi @g123k,
I face this issue while I'm debugging the application on my mobile device. Whenever you restart the debug session, it gets stuck at the scan screen for a few seconds as suggested by @stephanegigandet.
Let me know if any further help is required.

[2022-04-19 07:18] bhattabhi013 commented on #1549
Sure @monsieurtanuki,
I'll run the following tests:
1) Increase the pause time in between scans and its effects.
2) Memory usage while scanning.
3) Processor usage while scanning.

[2022-04-19 18:00] M123-dev commented on #1585
The new off-dart version with the max length const should be release any second now

[2022-04-19 19:48] #1484 closed, assigned to nobody

[2022-04-19 19:54] #1025 closed, assigned to RohitEdathil

[2022-04-21 08:58] #1352 closed, assigned to cli1005

[2022-04-21 09:25] cli1005 commented on #1139
**BEFORE**
- Strange spinning / reordering effect when returning from product page or ranking page (turn to the last card every time)
- Nothing happens when scanning a product which is already listed in carousel

**AFTER**
- Show the last consulted carousel card when returning from product page or ranking page
- Switch to the product card when scanning a barcode which is already listed in carousel

[2022-04-21 19:06] teolemon opened #1609 "Activate performance and network tracing in Sentry"
### What
- Following a discussion with @jasmeet0817 today about sluggishness of Smoothie on his phone, we found out that Sentry has a profiler option.
- Activate performance and network tracing in Sentry
- Add automatic / custom performance instrumentation
  - https://docs.sentry.io/platforms/flutter/performance/instrumentation/automatic-instrumentation/

### Part of
- #2528

[2022-04-21 20:31] vik4114 opened #1610 "Score cards are overflowing from Product card"
### Problem
Score cards are overflowing from card

### Proposed solution
Adding some padding will solve the issue

### Screenshots
**Before**
![crop](https://user-images.githubusercontent.com/46121493/164547172-25fed97a-ad3c-48bd-9b05-e8b46f631adb.png)

**After**
![crop2](https://user-images.githubusercontent.com/46121493/164547227-30cc8c2e-bcaa-478f-af6f-cbb6bfd1dd8f.png)

### Are you working on

[2022-04-22 07:01] #1585 closed, assigned to vik4114

[2022-04-22 07:42] #1384 closed, assigned to g123k

[2022-04-22 09:20] teolemon commented on #1532
Are you still working this @bhattabhi013 ?

[2022-04-22 09:22] teolemon commented on #1527
@abhay1821 Are you still working this ?

[2022-04-22 09:27] teolemon commented on #1478
So a quick fix:

- [ ] Check that we have a local cache of the vegetariation icon
- [ ] We should check if there is a way to maybe show a loading indicator when there is no cache

[2022-04-22 09:35] teolemon commented on #1396
hey @M123-dev any update ?

[2022-04-22 09:44] #1220 closed, assigned to teolemon

[2022-04-22 10:06] monsieurtanuki commented on #1478
I'll do it.

[2022-04-22 11:08] monsieurtanuki commented on #1478
@teolemon Short answer:
* there's already a CircularProgressIndicator, that's not the problem
* the problem is that the cached version of vegetarian is taken from https://static.openfoodfacts.org/images/attributes/vegetarian.svg (the "vegetarian" attribute), where we should use instead https://static.openfoodfacts.org/images/icons/dist/vegetarian.svg (the "vegetarian" product attribute)
* the way

[2022-04-22 11:37] bhattabhi013 commented on #1428
I've added the required function for navigation, I'll create a PR for this issue once #1515  is merged which creates the page for editing basic information.

[2022-04-22 11:56] bhattabhi013 commented on #1532
Hi @teolemon,
I apologize as I wasn't able to update the status for this issue as I was working on some other issues.
I'm still working on this and I'll create a PR for it soon.

[2022-04-22 14:36] M123-dev commented on #1396
Just opened a PR @teolemon https://github.com/openfoodfacts/smooth-app/pull/1613/files#r856296470

[2022-04-22 16:44] AshAman999 commented on #1452
I'm working on this one, I hope it's not taken already

[2022-04-22 17:20] #1472 closed, assigned to nobody

[2022-04-22 17:58] teolemon opened #1618 "Add automatic / custom performance instrumentation"
### What
- https://docs.sentry.io/platforms/flutter/performance/instrumentation/automatic-instrumentation/

[2022-04-22 18:09] teolemon opened #1619 "We should check the latest uploaded (not latest published) version code when uploading builds to the Apple App Store"
### What

- [ ] We should check the latest uploaded (not latest published) version code when uploading builds to the Apple App Store

### Original comment by @M123-dev

[2022-04-22 18:10] #1406 closed, assigned to nobody

[2022-04-22 19:09] teolemon opened #1621 "I can't switch Smoothie to Chinese from my phone's settings"
### What
- I can't switch Smoothie to Chinese from my phone's settings to test behavior
- #849  would be useful to see what's going on there

[2022-04-22 20:33] teolemon commented on #533
A first implementation is here, server search by default. closing

[2022-04-22 20:33] #533 closed, assigned to nobody

[2022-04-22 20:39] #1618 closed, assigned to nobody

[2022-04-22 20:43] teolemon opened #1622 "info • 'canLaunch' is deprecated and shouldn't be used. Use canLaunchUrl instead • packages/smooth_app/lib/helpers/launch_url_helper.dart:20:15 • deprecated_member_use"
info • 'canLaunch' is deprecated and shouldn't be used. Use canLaunchUrl instead • packages/smooth_app/lib/helpers/launch_url_helper.dart:20:15 • deprecated_member_use
   info • 'launch' is deprecated and shouldn't be used. Use launchUrl instead • packages/smooth_app/lib/helpers/launch_url_helper.dart:21:13 • deprecated_member_use
   info • 'canLaunch' is deprecated and shouldn't be used. Use canL

[2022-04-22 20:55] #1175 closed, assigned to PrabeshPP

[2022-04-22 21:22] teolemon commented on #1079
We have automated dependancy updates, thanks to Dependabot. closing

[2022-04-22 21:27] teolemon commented on #709
closing as a result

[2022-04-22 21:27] #709 closed, assigned to nobody

[2022-04-22 21:28] teolemon commented on #1501
Marking as in progress as a result

[2022-04-22 21:41] teolemon commented on #1156
Those 2 issues have been fixed. At this point, I'm open to any solution that provides a viable road to scores when Robotoff can't do the job.

[2022-04-22 21:49] teolemon opened #1623 "(Product Addition) A button to open nutrition extraction should appear after upload of the nutrition photo"
### What

- [ ] A button to open nutrition extraction should appear after upload of the nutrition photo

### Part of
- #1379

[2022-04-22 21:49] teolemon opened #1624 "(Product Addition) A button to open ingredient extraction should appear after upload of the ingredients photo"
### What

- [ ] A button to open ingredient extraction should appear after upload of the ingredients photo

### Part of
- #1379

[2022-04-22 21:52] teolemon commented on #1549
I manage to reproduce with the production APK, with an untethered phone. It happened while switching from product page to scan, possibly with a mixture of suspend/resume (can't remember to be honest)

[2022-04-22 21:57] teolemon commented on #1029
@M123-dev could you have a look at this one ?

[2022-04-22 22:04] teolemon opened #1625 "Create an infrastructure to send notifications to the users when something is updated for one of their previously viewed product"

[2022-04-22 22:15] teolemon commented on #1492
You can access the full edit mode from the Product page, and in the case of the ingredients, that's Ingredients & Origins @vik4114

[2022-04-22 22:18] teolemon commented on #1240
@PrimaelQuemerais could I interest you in this small one ?

[2022-04-22 22:20] teolemon commented on #1240
- It's a button to bind in the Addition mode, to the already existing Nutrition Edit view (accessible from edit mode)
- Alternatively, you could bind the Edit mode view from Addition mode (with a button)

[2022-04-22 22:20] PrimaelQuemerais commented on #1240
Sure! Let me fork it, I haven't dived in the code in a long time

[2022-04-23 02:42] AshAman999 commented on #1200
@bhattabhi013  are you working on this, just did something similar like this,
mind if I work on this one ?

[2022-04-23 06:09] bhattabhi013 commented on #1622
Hi @teolemon,
Can I work on this?

[2022-04-23 06:11] bhattabhi013 commented on #1200
Hi @AshAman999,
I'm working on some other issues and this issue is free to take.
Before working on anything, I will suggest confirming with mentors for country codes and their corresponding countries.

[2022-04-23 06:16] vik4114 commented on #1622
@bhattabhi013 I will raise pr now, I done the changes.

[2022-04-23 06:24] bhattabhi013 commented on #1622
Sure @vik4114,
Before you begin working on the issue, make sure you are assigned to it.

[2022-04-23 06:37] bhattabhi013 commented on #1410
Hi @teolemon,
I tried finding a solution for this issue and up till now [this](https://stackoverflow.com/a/50123743/13595256) is the best solution I came up with. This solution uses regex expression which is somewhat similar to the other approaches mentioned above in the comments.

[2022-04-23 07:01] vik4114 commented on #1622
@bhattabhi013 It was not a big issue to resolve, so i resolved it 😅.

[2022-04-23 09:21] M123-dev commented on #1029
I'll have a look at it tomorrow

[2022-04-23 09:30] M123-dev commented on #1029
When I understood your request right @teolemon we now expose a panel_id on the summary card and when clicked on it we should open the expanded knowledge panel for it right?

[2022-04-23 09:38] vik4114 opened #1630 "Scanning abnormal behavior when multiple barcodes in view"
### What
- If there are multiple barcodes in view then they all get scanned sometimes and sometimes none get scanned

### Steps to reproduce the behavior
1. Go to Scanning
2. Scan multiple barcodes in view
3. See error

### Expected behavior
Only barcode in the focused area should get scanned.

### Why
Otherwise mis-scan will happen of undesired product ( one example could be scanning in grocery s

[2022-04-23 10:05] teolemon commented on #1029
Yes, exactly

[2022-04-23 10:25] teolemon opened #1632 "Ensure that Smoothie has a higher build number than the classic app, on both platforms"
### What
- [ ] Ensure that Smoothie has a higher build number than the classic app, on both platforms

[2022-04-23 10:25] teolemon opened #1633 "Ensure that Matomo event names for V1 and V2 are the same, whenever possible"
### What
- [ ] Ensure that Matomo event names for V1 and V2 are the same, whenever possible
- [ ] That will ensure continuity of key metrics for analysis
### Part of
- #2855

[2022-04-23 10:44] #1622 closed, assigned to nobody

[2022-04-23 12:40] #1409 closed, assigned to bhattabhi013

[2022-04-23 18:20] bhattabhi013 opened #1637 "Restrict max number of product scans."
### Problem
The user can scan as many products as he wants.

### Proposed solution
Cap max number of scan cards on the scan page to 25.

### Part of
- #655

[2022-04-23 19:04] monsieurtanuki commented on #1637
As an end-user I do not support this issue. When I read "The user can scan as many products as he wants.", I said "Of course!". Then I said that it was considered as a problem...

Regardless, whatever is done here, you guys must be clever about the UX:
* 25 is only half of the number of breakfast cereals in my shop. If I want to do a "breakfast cereals" session, would that be possible?
* OK you wa

[2022-04-24 05:22] AshAman999 commented on #1621
So should we create a settings button next to County selection , that would let the users set the app language ?

[2022-04-24 07:42] teolemon commented on #1621
- There's an ongoing discussion in #849 about this
- This button could be in the dev mode first, so that we can test what's going wrong

[2022-04-24 09:54] teolemon opened #1638 "Languages with variants are not supported"
### What

- [ ] Languages with variants are not supported (like Portuguese Brazilian, and Portugal Portuguese, Traditional and Simplified Chinese)
- [ ] We use two-letter language codes in the Crowdin recipe, can we move to full language codes, would Flutter support that ? https://github.com/openfoodfacts/smooth-app/blob/develop/crowdin.yml
- [ ] We need server side support https://github.com/open

[2022-04-24 16:58] #1452 closed, assigned to nobody

[2022-04-24 20:32] #1478 closed, assigned to monsieurtanuki

[2022-04-25 03:47] bhattabhi013 commented on #1637
Hi @monsieurtanuki,
- As of now, I was thinking to display a message to the user when he tries to scan the 26th product and he can remove some individual products from the earlier scanned list.
- I thought of starting the capping with the carousel and then proceeding with the user experience.

After reading your comments and suggestions above, I think you are right, if we say that the user can sca

[2022-04-25 03:52] bhattabhi013 commented on #1549
Hi
I tried increasing the pause time between the scans by changing the `_SKIPPED_FRAMES` on `MLKitScannerPage` and I noticed no change in performance.

[2022-04-25 05:14] monsieurtanuki commented on #1549
@bhattabhi013 What if you just comment the actual scan? Do you still have sometimes a black screen?
It's probably more a problem of camera pause/resume than actually scan problem.

Could you add a `Text` on the scan page `Stack` and display there some kind of camera status (like "pause", "resume", maybe "scanning", etc)? Plus some other logs.

[2022-04-25 05:16] monsieurtanuki commented on #1637
What makes sense is saying that the carousel is not well designed for 25 items. And the user should be able to clear the carousel or remove chosen items. How can the user do that today?

[2022-04-25 05:28] sentry[bot] opened #1641 "CameraException: CameraException(Disposed CameraController, startImageStream() was called on a disposed CameraCont..."
Sentry Issue: [SMOOTHIE-SS](https://sentry.io/organizations/openfoodfacts/issues/2953300011/?referrer=github_integration)

[code]

[2022-04-25 05:28] M123-dev commented on #1549
I would guess it has something todo with https://github.com/openfoodfacts/smooth-app/issues/1641

Or maybe https://github.com/openfoodfacts/smooth-app/issues/1642

[2022-04-25 05:29] sentry[bot] opened #1642 "CameraException: CameraException(error, Attempt to invoke virtual method 'void android.hardware.camera2.CaptureReq..."
Sentry Issue: [SMOOTHIE-SE](https://sentry.io/organizations/openfoodfacts/issues/2927934241/?referrer=github_integration)

[code]

[2022-04-25 05:30] sentry[bot] opened #1643 "CameraException: CameraException(CameraAccess, CAMERA_ERROR (3): waitUntilIdle:1326: Camera 0: Error waiting to dr..."
Sentry Issue: [SMOOTHIE-S8](https://sentry.io/organizations/openfoodfacts/issues/2926869713/?referrer=github_integration)

[code]

[2022-04-25 05:41] M123-dev commented on #1637
Current status:
- The clear all button on top
- https://github.com/openfoodfacts/smooth-app/issues/1295

[2022-04-25 06:41] monsieurtanuki commented on #1637
Thank you @M123-dev. Soon the user will be able to display the scan list a bit like the history, and to dismiss items from it.
What shall we do then for the current issue? Maybe open a pop-up after 25 items "hey it's a bit too much, do you want to remove some items?" and open the scan history page?

[2022-04-25 07:08] teolemon commented on #1637
- I think the 25 limit is something that was discussed at some point, but I don't believe it's a priority right now to ship in time for May 23rd.
- https://github.com/openfoodfacts/smooth-app/issues/1295 would be a more valuable use of time on that topic

[2022-04-25 07:11] monsieurtanuki commented on #1637
@teolemon I'm currently working on lists. But I cannot work on #1295 (I cannot scan on my emulator). @bhattabhi013 Do you feel like working on #1295 instead of this current issue?

[2022-04-25 08:35] cli1005 commented on #1377
BEFORE:
- Button "REFRESH" : Retake a new photo + extract text from this photo + update ingredients of the products.
- Button "CONFIRM" : Update ingredients of the products.

AFTER:
- Button "EXTRACT" :  Re-Extract text from the photo
- Button "REFRESH" : Retake a new photo + extract text from this photo
- Button "CONFIRM" : Update ingredients of the products.

Snapshot:
| BEFORE | AFTER  |
| -- |

[2022-04-25 10:40] cli1005 commented on #1377
BEFORE:
- Button "REFRESH" :
   1. Retake a new photo and **upload it as new ingredients photo**
   2. Extract text from this photo
   3. Update ingredients text of the products.
- Button "CONFIRM" : Update ingredients text of the products.

AFTER:
- Button "Refresh photo" :
   1. Retake a new photo and **upload it as new ingredients photo**
   2. Extract text from the photo(no saving)
- Button "E

[2022-04-25 11:19] teolemon commented on #1377
@cli1005 Very clean, and better than the mockup 👌

[2022-04-25 12:01] teolemon commented on #1638
https://docs.flutter.dev/development/accessibility-and-localization/internationalization#advanced-locale-definition

[2022-04-25 15:11] #1139 closed, assigned to cli1005

[2022-04-25 15:32] M123-dev commented on #1396
Fixed by #1613

[2022-04-25 15:32] #1396 closed, assigned to M123-dev

[2022-04-25 15:41] M123-dev opened #1645 "Question card should only be visible on the product page"
![Screenshot_20220425-071659.jpg](https://user-images.githubusercontent.com/39344769/165124176-7579b512-840c-4147-8435-718e2e13736a.jpg)

[2022-04-25 16:11] M123-dev opened #1647 "Project Structure revision"
### Problem
Somehow Smoothie's project structure has become very confusing lately.
- `CategoryCache` and `OrderedNutrientsCache` are under `pages/product/`
- Some cards are in `pages/product` some in `card/.../` (also some product related ones there)
- We have `lib/widgets` and `lib/generic_lib` for widgets and a lot of widgets are just spread across other folders

### Proposed solution

Looking a

[2022-04-25 18:31] AshAman999 commented on #1647
I agree with the suggestions, though not sure if we would separate widgets by features or just keep them separate in the widgets folder. To me keeping widgets separately makes more appealing and easy then making them separate by functionality
- Instead of `lib/widgets` and `lib/generic_lib`, would be better to club them all in one `widgets` folder and maybe make further subdirectories thereon.
- S

[2022-04-25 18:31] #1645 closed, assigned to M123-dev

[2022-04-25 18:41] bhattabhi013 commented on #1637
Sure, I'll work on #1295 . Should I close this one?

[2022-04-25 18:49] M123-dev commented on #1295
Assigned to @bhattabhi013

[2022-04-25 18:56] monsieurtanuki commented on #1637
@bhattabhi013 Yes please close it. You'll reopen it or open a new issue if needed.

[2022-04-25 19:00] #1637 closed, assigned to nobody

[2022-04-25 19:00] monsieurtanuki commented on #1647
I don't say that the files are always in the good folders (I don't even have an opinion on that), but I read somewhere about a deadline on May 23rd and now I have limited time to devote to Smoothie. In short: to me, that's not a priority at all.

[2022-04-26 08:37] #1575 closed, assigned to nobody

[2022-04-26 10:53] cli1005 commented on #1540
BEFORE
According to the actuel code, the **_panel.topics_** will show when the next panel has **_title_element.type = grade_**

AFTER
**_title_element.title_** will show once when building each panel inside the root panel

| BEFORE | AFTER |
| -- | -- |
| ![Simulator Screen Shot - iPhone 13 - 2022-04-26 at 12 48 18](https://user-images.githubusercontent.com/87010739/165284245-562d97e4-db4f-4f88-b7

[2022-04-26 13:18] #1610 closed, assigned to nobody

[2022-04-26 14:04] teolemon opened #1651 "The app should offer to reload all products on language change"
### What
- If I change my system locale, the products remain in the language they were first opened
- Smoothie should offer to reload all products on language change (with an option to say no to avoid issues on metered/slow connexions)
### Why
- That would be useful for marketing (to take screenshots, and do demo to people in real life)
### Blocking
- #2503

[2022-04-26 14:05] teolemon opened #1652 "I can't switch the app to Spanish even if it's the primary system language"
### What

- I can't switch the app to Spanish even if it's the primary system language
- I have to delete French as a system language for the app to honor my language choice

[2022-04-26 14:19] monsieurtanuki commented on #1652
@teolemon Could you be more specific:
* on which OS? (android, iOS)
* did you restart your app after your language change?

[2022-04-26 14:22] monsieurtanuki commented on #1651
@teolemon Regardless of the specific language-change use case, we could imagine an advanced parameter (but not dev mode) called "refresh all products". That would do the job.

[2022-04-26 15:55] teolemon opened #1653 "iospod: command not found"
Run cd ./packages/smooth_app/ios && iospod update Sentry
/Users/runner/work/_temp/dfe67940-ecd6-4448-b536-e6ffd3c74145.sh: line 1: iospod: command not found
Error: Process completed with exit code 127.

[2022-04-26 15:57] monsieurtanuki commented on #1653
It's just `pod`, not `iospod` (but in the `ios` folder, that's correct).

[2022-04-26 16:36] #1653 closed, assigned to M123-dev

[2022-04-26 16:42] teolemon commented on #1653
thank you @monsieurtanuki @M123-dev 👍

[2022-04-26 16:43] teolemon commented on #1652
- Android,
- I did restart the app, but not the OS

[2022-04-26 16:54] teolemon opened #1656 "The size of that modal no esta bien"
### What
The size of that modal no esta bien
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/165352693-5fdae794-2c38-4392-b791-98678d94beef.png)

[2022-04-26 16:58] teolemon opened #1657 "Look'n feel tweaks for lists"
### Who for

### What

- Harmonize the size of the text with other cards
- The list icon does not look like very clickable, but it could look nice as an image on the top left of the card
- We probably need something else that looks more clickable for adding/removing from lists

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/165353364-97adb067-ed92-48c6-95fd-993a7a37082e.

[2022-04-26 17:04] monsieurtanuki commented on #1656
¡Lo siento, señor Teolemón!

Actually it's already tagged as `TODO`: the problem being that for some reason, I cannot display a `ListView` in a dialog because flutter doesn't know the widget sizes (as far as I've understood). My quick fix was to set a fixed size for the dialog: it never crashes, but it looks ugly, especially on an empty list.
It's in `product_list_user_dialog_helper.dart`(same in

[2022-04-26 17:47] monsieurtanuki commented on #1652
I've just tried on both my "iphone8+" emulator, my android "Nexus7" emulator and my "canary" android smartphone ([Edit] on my canary smartphone there's only one language at a time, no language list):
* moved English on top, French second
* when I restart the app, everything is in English (except the product data of course)

[2022-04-26 17:53] monsieurtanuki opened #1661 "Stuck on onboarding because of un-scrollable screen"
### What
- During the onboarding process, the last page is not scrollable
- That's a problem because the buttons are on the bottom of the page, and I cannot see or reach them

### Steps to reproduce the behavior
1. Get an emulator/device with the smallest screen
2. Go back to the onboarding process
3. The last page (authorize/refuse) cannot be scrolled

### Expected behavior
The buttons should be

[2022-04-26 17:55] teolemon commented on #1652
Ok, I just retried: it does that for specific languages:
My OS is in Spanish, and the switch to French and Spanish works, but not German.

[2022-04-26 18:44] M123-dev commented on #1652
I can just say German in theory works in smoothie :)

[2022-04-26 19:27] bhattabhi013 commented on #1656
Sure @monsieurtanuki,
I can work on this. Please assign this to me.

[2022-04-26 20:51] mse-moises commented on #1490
Can i take this one?

[2022-04-26 21:01] teolemon commented on #1490
@cli1005 has mostly fixed it. Could I suggest another one ?

[2022-04-26 21:04] Pualoo commented on #1526
Hi @teolemon, Can i get this one?

[2022-04-26 21:06] mse-moises commented on #1490
Sure!

[2022-04-27 05:40] monsieurtanuki commented on #1661
Fixed by #1664.

[2022-04-27 05:40] #1661 closed, assigned to nobody

[2022-04-27 05:44] monsieurtanuki commented on #1657
Fixed by #1660.

[2022-04-27 05:44] #1657 closed, assigned to monsieurtanuki

[2022-04-27 05:58] monsieurtanuki commented on #1630
Would probably be fixed by #1582 and top-half mode: scanning only the top half of the screen (and no crash on iOS).

[2022-04-27 06:12] monsieurtanuki commented on #1073
@teolemon Still this question: from where should we get to the "list of existing lists" page?
In the meanwhile, working on the "export/import" feature.

[2022-04-27 11:48] M123-dev opened #1667 "Show something in the photo carousel when no internet connection"
### What
- Currently the images just dissapear on the product page
- The first box is the nutrition add card which is shown because the product has no image of that, but the fron photo is missing completely

https://user-images.githubusercontent.com/39344769/165511662-e7ca29b2-a918-40ad-8280-b4d54ffcdc69.mp4

[2022-04-27 11:50] M123-dev opened #1668 "Opening knowledge panels + attributes is very hard"
### What
https://user-images.githubusercontent.com/39344769/165511913-53535770-8f27-453b-9ef3-efd9e44e1a04.mp4

@teolemon we should think about if it's a good idea to make every text selectable

[2022-04-27 11:51] M123-dev opened #1669 "Nutrition input with a comma isn't possible"
### What
My number keyboard doesn't include a comma but a dot. But the dot isn't appearing in the textfield. We should probably turn a dot into a comma there

https://user-images.githubusercontent.com/39344769/165512192-a97c7a41-8f29-4ab5-8e50-710a726d793b.mp4

[2022-04-27 11:52] M123-dev opened #1670 "Cache isn't updated after product edit"
### What

- I added product informations which made it a good fit, but it stayed bad in the local cache. At least I guess so

### Video
https://user-images.githubusercontent.com/39344769/165512342-639bac68-6661-4731-838f-e68acb6b54cc.mp4

[2022-04-27 11:53] M123-dev opened #1671 "Nutrition table quantity isn't applied directly"
### What

Is just updates the table after scrolling

https://user-images.githubusercontent.com/39344769/165512551-926b3856-e0b2-4291-bbbe-4a7f24c898ff.mp4

[2022-04-27 11:54] M123-dev opened #1672 "Product cropping crashes the app"
### What

https://user-images.githubusercontent.com/39344769/165512677-cc8bdb2c-39e4-4798-9c19-3093a3145d25.mp4

### Additional context
Can't reproduce regularly

[2022-04-27 11:55] M123-dev commented on #1667
![Screenshot_20220311-104602](https://user-images.githubusercontent.com/39344769/165512808-834af0f9-e235-4124-9208-25b5770d0643.jpg)

[2022-04-27 12:19] teolemon commented on #1668
That's something we can drop

[2022-04-27 12:30] #1377 closed, assigned to cli1005

[2022-04-27 14:56] mse-moises commented on #1504
Can i get this one?

[2022-04-27 14:59] AshAman999 commented on #1504
sure @mse-moises , you can start the work
Just go through the above mentioned comments

[2022-04-27 15:40] teolemon opened #1673 "Mixed languages in settings"
### What

- [ ] Mixed languages in settings

![image](https://user-images.githubusercontent.com/1689815/165557222-9d2c0b88-04f2-4111-983d-837c31ca0443.png)

[2022-04-27 17:03] vik4114 commented on #1667
I will take this up

[2022-04-27 17:09] teolemon commented on #1624
- Related to #107

[2022-04-27 17:09] M123-dev commented on #1609
- @teolemon fixed by #1616 ?

[2022-04-27 17:17] teolemon commented on #1609
Nope, some more tooling necessary

[2022-04-27 18:48] monsieurtanuki commented on #1673
@teolemon That's not very fair to say "Mixed languages in settings", or to call it a bug.
More generally, you want to be able to switch languages on your smartphone and that everything on the app changes to the new language: new localizations and refreshed metadata (including products).
It's not like smoothie has bugs and is designed to display random language localizations; in a normal use-case (

[2022-04-27 20:21] teolemon opened #1677 "Issue that badly needs a mockup"
### What
- I, as an Issue, badly need a mockup

[2022-04-28 07:24] #1669 closed, assigned to monsieurtanuki

[2022-04-28 07:25] teolemon opened #1680 "How about running Post-Submit tests whenever Podfile.lock is edited in a PR ?"
### What

- How about running Post-Submit tests whenever Podfile.lock is edited in a PR ?
- packages/smooth_app/ios/Podfile.lock

[2022-04-28 08:52] teolemon opened #1681 "Rename "Smoothie" to "Open Food Facts""
We need to rename "Smoothie" to "OpenFoodFacts" (icon, app name in settings…)

- [ ] https://github.com/openfoodfacts/smooth-app/blob/b5a9b4881099f664bad77bc27962b7dce2fc7185/packages/smooth_app/ios/Runner/Info.plist
- [ ] https://github.com/openfoodfacts/smooth-app/blob/e51691d5fa2196d0bd2cf4b93437c1c0005cda07/packages/smooth_app/lib/views/bottom_sheet_views/social_handle_view.dart
- [ ] https://

[2022-04-28 08:54] teolemon commented on #840
I'm ok with that solution. Renaming the bug accordingly

[2022-04-28 08:59] #1295 closed, assigned to nobody

[2022-04-28 09:12] teolemon commented on #1233
- Blocked on #1234

[2022-04-28 09:14] teolemon commented on #1234
any update on this ?

[2022-04-28 09:18] teolemon opened #1682 "Write a migration script for lists (Android)"

[2022-04-28 09:51] teolemon commented on #1492
@vik4114 Are you still working this ?

[2022-04-28 09:53] teolemon commented on #1624
- Related to https://github.com/openfoodfacts/smooth-app/issues/1492

[2022-04-28 10:01] vik4114 commented on #1492
@teolemon No.

[2022-04-28 10:05] teolemon commented on #1492
thanks, I'm removing your assignment 👍

[2022-04-28 11:04] monsieurtanuki commented on #1234
@teolemon I'm starting an export/import feature on Smoothie, that can be used "internally" from list to list, perhaps through the clipboard.

[2022-04-28 12:01] teolemon opened #1683 "Move the experimental 'category edition' button into the Edit mode"
### What

- [ ] Move the experimental 'category edition' button currently in the product page into the Edit mode

### Mockup
![image](https://user-images.githubusercontent.com/1689815/165955161-78fe388b-3bb4-44b2-8cc7-300cf9bcd290.png)

### Part of
- #1161

[2022-04-28 13:07] monsieurtanuki commented on #1672
Just noticed that there's a new breaking change for image_cropper: ^2.0.0 (instead of ^1.5.1)
Could be worth a look.

[2022-04-28 13:56] sentry[bot] opened #1684 "ProviderNotFoundException: Error: Could not find the correct Provider<ContinuousScanModel> above this ProductTitleCard Widget"
Sentry Issue: [SMOOTHIE-V7](https://sentry.io/organizations/openfoodfacts/issues/3231961843/?referrer=github_integration)

[code]
  Widget build(BuildContext context) {
    return Provider<Example>(
      create: (_) => Example(),
      // Will throw a ProviderNotFoundError, because `context` is associated
      // to the widget that is the parent of `Provider<Example>`
      child: Text(context.w

[2022-04-28 15:36] #1677 closed, assigned to nobody

[2022-04-28 15:38] teolemon commented on #1667
@vik4114 What do you have in mind ?

[2022-04-28 15:39] #1492 closed, assigned to monsieurtanuki

[2022-04-28 15:41] teolemon commented on #840
@mse-moises What about this one ?

[2022-04-28 15:50] teolemon commented on #1501
hey @Raj2503 , are you still working on this one ?

[2022-04-28 15:57] vik4114 commented on #1667
@teolemon I was thinking to show an image from assets when there is no connection. What do you think?

[2022-04-28 18:33] #1671 closed, assigned to nobody

[2022-04-28 19:15] mse-moises commented on #840
Sure, assign me and I'll start working on it after I finish the one that i doing right now.

[2022-04-28 20:01] Raj2503 commented on #1501
@teolemon yeah I am implementing the idea you and @monsieurtanuki provided.

I ran into the following error:
<img src="https://media.giphy.com/media/oGw09tbNpMdXLjt89l/giphy.gif"/>

The background of the new page section for App themes is not dynamically changing.
Apart from that, all other sections have been covered.

I have not been able to work at my full pace due to my University exams. But I

[2022-04-28 21:05] monsieurtanuki commented on #1501
Hi @Raj2503!
Perhaps there's a little misunderstanding: the point is not to have single items in full screen mode when in modification. The point is to have _paragraphs_ (with several items) in full screen when in modification mode, instead of all paragraphs being editable at the same time on the same page.

And it's not what you display in your animated GIF:
* we don't want the dark mode edit to

[2022-04-28 21:48] Pualoo commented on #1624
Can i get this issue?

[2022-04-29 01:57] AshAman999 commented on #1668
So should I do the changes and make the text not selectable anymore?

[2022-04-29 01:58] AshAman999 commented on #1667
@vik4114  something with fadeInImage?

[2022-04-29 03:32] AshAman999 commented on #1672
I wasn't able to reproduce the bug,
Still tried the changes suggested by @monsieurtanuki,
should i raise a pr for the same?

[2022-04-29 05:21] M123-dev opened #1693 "Product remove cross is too small"
### What

It's very likely to miss the cross. The icon cam stay the size but the tappable area should be bigger

![Screenshot_20220429-071953.jpg](https://user-images.githubusercontent.com/39344769/165888938-d5c1ad20-2799-4c85-8d05-afd0c704d20d.jpg)

[2022-04-29 05:22] M123-dev opened #1694 "Don't rotate to search card on single card removal"
### What

The carousel should stay on the same spot

https://user-images.githubusercontent.com/39344769/165889042-d818d5bb-c8b9-43d3-adbb-e7dd9e953b41.mp4

[2022-04-29 05:23] monsieurtanuki commented on #1672
@AshAman999 Anyway we can assume that the latest version of image_cropper is safer, and that if it's not their developers would say in case of error: "upgrade to the latest version and try again".
So yes, a PR with an upgrade to 2.0.0 would make sense, thanks!

[2022-04-29 05:35] monsieurtanuki commented on #1693
I think the minimal touch target size is 48x48, as read in Material Design and alerted by Golden screenshot generation.
We could make it a "design constant".

[2022-04-29 11:02] AshAman999 opened #1696 "Uneven size of about app section"
### What
- The about app section looks oddly shaped,
Same with some area in contribute section

### Steps to reproduce the behavior
1. Go to profile
2. Click on App Settings
3. Click on about this app
4. See error

### Expected behavior
- Proper size card would be there.

### Why
- Makes the app looks even

### Part of

### Screenshot/Mockup/Before-After
![Screenshot_2022-04-29-16-22-19-68_cc729db

[2022-04-29 11:05] teolemon opened #1697 "The load product from internet loops infinitely, on good networks, during onboarding"
### What
- [ ] The load product from internet loops infinitely, on good networks, during onboarding
### Part of
- #561

[2022-04-29 11:14] vik4114 commented on #1667
@AshAman999 Yes, we can use that.

[2022-04-29 11:16] teolemon opened #1698 "The analytics screen still has a bad layout, a different font, and the illustration looks out of place, compared with the Knowledge panels the users has just seen before"
### What
- The analytics screen still has a bad layout
- The analytics screen has a different font
- The analytics screen has an illustration that looks out of place, compared with the Knowledge panels the users has just seen before (filled, vs outline)

### Screenshot
![Screenshot_20220429-230001.png](https://user-images.githubusercontent.com/1689815/166072041-6a5ad11d-53ba-4f9c-8a1e-b31ccfdf8a1d

[2022-04-29 11:16] teolemon opened #1699 "The product page should scroll to the list card just after adding a product to a list."
### What
- The product page should scroll to the list card just after adding a product to a list.
### Why
- The product list is appended at the end of the page, where the user was before, and thus has no way to know a card has been appended.
### Part of
- #1649

[2022-04-29 11:17] teolemon opened #1700 "The Nutrition edit validation screen works erratically (when no input, or when there's an input to be cancelled)"
### What
- The Nutrition edit validation screen works erratically (when no input, or when there's an input to be cancelled)
### Part of
- #511

[2022-04-29 11:17] teolemon opened #1701 "Add a "no nutrition information" toggle on the product addition screen"
### What
- [ ] Add a "no nutrition information" toggle on the product addition screen
  - It would probably hide the take nutrition photo section
- Needs mockup
### Part of
- #881
- #1379

[2022-04-29 11:17] teolemon opened #1702 "The miniature of the front photo is not displayed in product addition"
### What
- The miniature of the front photo is not displayed in product addition

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/165961518-424ac0f3-ab2e-42d9-8e51-e298f34516ef.png)

### Part of
- #881

[2022-04-29 12:00] teolemon commented on #1490
closing

[2022-04-29 12:00] #1490 closed, assigned to nobody

[2022-04-29 12:01] #107 closed

[2022-04-29 12:18] teolemon opened #1703 "Add a search option to the category edition screen."
### What

- [ ] Add a search option to the category edition screen.

### Mockup
![image](https://user-images.githubusercontent.com/1689815/168442430-f3d105d9-7269-4971-815e-5508614aea48.png)

### Part of

- #516

[2022-04-29 13:02] #1696 closed, assigned to monsieurtanuki

[2022-04-29 13:38] teolemon commented on #944
It's already implemented, but the button is disabled, we should link it to the current experimental view
![image](https://user-images.githubusercontent.com/1689815/165955427-45cc35aa-74fa-4f69-a7a8-77583d68f351.png)

[2022-04-29 13:47] #1697 closed, assigned to monsieurtanuki

[2022-04-29 13:51] #1681 closed, assigned to M123-dev

[2022-04-29 14:11] #1029 closed, assigned to M123-dev

[2022-04-29 14:20] teolemon opened #1706 "The photo sections should not move after photo upload. The brain loves stability."
### What
- The photo sections should not move after photo upload. The brain loves stability.
### Part of
- #1379
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/165962810-9afe53b7-fc3f-4149-90cd-57153e21bea4.png)

[2022-04-29 14:25] monsieurtanuki commented on #1651
@teolemon If it's just for demo or marketing, there's still an option: refreshing the product list with a pull gesture.

[2022-04-29 14:34] teolemon opened #1707 "Create a view to edit Stores where the product is sold"
### What
  - Important: This issue is blocked on having a server-side taxonomy for Stores
  - Create a view to edit Stores where the product is sold

### Mockup
<img width="375" alt="Stores picker" src="https://user-images.githubusercontent.com/1689815/160303967-09cf0847-811d-4e4b-8427-43413600d5f4.png">

### Part of
- #503

[2022-04-29 14:49] M123-dev opened #1708 "Scan area isn't properly centered in the visible viewfinder"
### What
![Screenshot_20220429-164740.jpg](https://user-images.githubusercontent.com/39344769/165968631-143ee6c3-8298-4c81-ad8a-653d5fc0e410.jpg)

[2022-04-29 15:04] teolemon opened #1709 "Handle exceptions for linked panels"
### What
- Handle exceptions for linked panels
- it seems that the additives panel is not working @stephanegigandet
- Original PR located for linked panels located at #1029

### Part of
- #1265

### Video

https://user-images.githubusercontent.com/1689815/165971235-7c6dccaa-3ffb-4272-8e59-22f08840811d.mp4

[2022-04-29 15:06] teolemon opened #1711 "Increase tapability of attributes"
### What
- Probably related to the fact that we made text selectable
- Currently, the only way to open small attributes is to tap on the color dot, the text won't work
- Increase tapability of attributes

### Part of
- #1654

[2022-04-29 15:29] monsieurtanuki opened #1712 "Refactoring: smaller dart files"
Just a suggestion: once in a while, if we find "too big" dart files, we should split them in several dart files.
Could be helpful for focus and maintenance reasons.

Counting the lines in shell:
[code]

First results:
[code]

### Subtasks:
- [ ] https://github.com/openfoodfacts/smooth-app/issues/2621

[2022-04-29 15:36] #1534 closed, assigned to nobody

[2022-04-29 15:36] #1540 closed, assigned to cli1005

[2022-04-29 15:42] M123-dev commented on #1327
I think we can close, if not feel free to reopen or open another one

[2022-04-29 15:42] #1327 closed, assigned to nobody

[2022-04-29 16:01] teolemon opened #1713 "Given specific conditions, The Scan card Carousel freezes"
### What
- During a product demo this morning, @g123k managed to freeze completely the scan card carousel in front of 5-6 persons, including me
- I'm not completely sure about the reproduction steps at this point

[2022-04-29 16:03] teolemon commented on #1549
A little bird told me @g123k has managed to reproduce. I have @stephanegigandet as an eye-witness.

[2022-04-29 16:04] #1672 closed, assigned to nobody

[2022-04-29 16:35] g123k opened #1714 "Initial screen is not scrollable"
On really small devices (here a Wiko Sunny), the homepage is cropped and the content isn't scrollable.
![init](https://user-images.githubusercontent.com/246838/165986438-faafa497-b850-476d-bd95-fdfac2c7e227.png)

[2022-04-29 16:37] g123k opened #1715 "The camera background doesn't take the full width"
On really small devices (here a Wiko Sunny), there are some black bars on each side of the screen.
A centered image would be better here.

![cam](https://user-images.githubusercontent.com/246838/165986823-b0b8faa4-3938-4822-ae23-6ae74bd0d047.png)

[2022-04-29 20:07] bhattabhi013 commented on #1693
Hi,
Can I work on this?

[2022-04-29 21:32] teolemon opened #1720 "Broken preview of the summary card in onboarding"
### What
Broken preview of the summary card in onboarding

### Screenshot
![Screenshot_20220429-225932.png](https://user-images.githubusercontent.com/1689815/166071806-fb9beed4-c2a2-45e0-8478-6b611374618a.png)

### Part of

[2022-04-30 06:51] AshAman999 commented on #1200
@teolemon and @bhattabhi013
Is this good to go with??

The font and the icon I will try to keep as the old one was trying to implement here,
And if could be assigned to the issue so that no one else wastes their efforts on the same task

https://user-images.githubusercontent.com/57723319/166095139-988ee283-cd76-4e60-bfa9-5c83bfe2a2a9.mp4

[2022-04-30 09:11] samitkapoor commented on #1714
@g123k May I try?

[2022-04-30 09:38] M123-dev commented on #1714
Heyy @samitkapoor it looks like @g123k already has a fix for it open here #1717, but feel free to take another one

[2022-04-30 09:43] M123-dev commented on #1558
#1676

[2022-04-30 09:43] #1558 closed, assigned to nobody

[2022-04-30 09:57] teolemon opened #1722 "Robotoff does not behave as expected during the transition from logged out to logged in"
### What
- We attempt to reload the product as the user attempts to sign-in
- Does it mean my answers have already been sent without credit ?
- This will mean no instant score as we will need 2 other matching votes to validate the answer
- We should probably explain the vote system to anonymous users.

### Video
https://user-images.githubusercontent.com/1689815/166100806-cc93ffde-b4bc-4f5c-a5a2-86

[2022-04-30 12:32] #1720 closed, assigned to monsieurtanuki

[2022-04-30 14:36] teolemon opened #1723 "Grey screen while expanding "Add more interesting photos""
### What
- Grey screen on expanding a photo (More interesting photos) that was recently taken
- The "Add more interesting photos" button should not disappear after taking the first extra interesting photo (the user might want to take some more)
### Video

https://user-images.githubusercontent.com/1689815/166109844-f272f566-d0ff-4d41-a654-574208a96408.mp4

[2022-04-30 14:46] teolemon opened #1724 "Taking photos from the carousel shouldn't block the view"
### What

- [ ] Taking photos from the carousel shouldn't block the view
- [ ] It should probably show a snackbar after successful upload

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/166110212-8b6a6f53-c961-4e0d-a5cc-2b92e7d1aadc.png)

[2022-04-30 16:47] #1714 closed, assigned to g123k

[2022-04-30 16:47] bhattabhi013 commented on #1693
This issue can be closed now as it was fixed by #1718 .

[2022-04-30 16:59] #1693 closed, assigned to bhattabhi013

[2022-04-30 17:11] teolemon commented on #1708
- @monsieurtanuki @g123k @M123-dev loosely related to #1581 which seems to be at a stalemate currently. I'm not currently clear as if of now, the focal point is defined by default at the middle of that vizor. It should be, because that's where users are going to put the barcode.

[2022-04-30 17:33] monsieurtanuki commented on #1708
@teolemon I don't plan to approve #1582 as long as it uses copied/pasted code, when an elegant (and suggested) inheritance is possible.
I don't think the displayed viewfinder and the focus point are programmatically connected - though obviously the end-user would expect some consistency. I think we can even scan invisible barcodes, for instance a barcode hidden by the carousel.

[2022-04-30 17:47] bhattabhi013 opened #1725 "Unable to view details of product after scanning."
### What
Error: Could not find the correct Provider<ContinuousScanModel> above this ProductTitleCard Widget

### Steps to reproduce the behavior
1. Scan a product or search for a product.
2. Click on the product to see the details of the product.
3. See an error.

### Expected behavior
The error shouldn't be visible instead, details should be visible.

### Part of
- Add the issue number preceded b

[2022-04-30 17:51] bhattabhi013 commented on #1725
Can I work on this?

[2022-04-30 18:33] bhattabhi013 commented on #1200
This looks good @AshAman999, I had something like this in my mind. Let's wait for other's opinions/ suggestions on it.

[2022-04-30 18:48] monsieurtanuki commented on #1725
@bhattabhi013 For the record today I fixed something similar in #1721.
Perhaps we should move up the provider for `ContinuousScanModel`, at the same level as the other providers in `main.dart`.

[2022-04-30 18:59] bhattabhi013 commented on #1725
Hi @monsieurtanuki,
I've 2 approaches to solve this one.
1) Adding `provide<ContinuousScanModel>(_continuousScanModel),` in  `main.dart`.
2) Changing `if (isRemovable) ` to `if (isRemovable && !isSelectable)` in `product_title_card.dart`.
What is more suitable according to you?

[2022-04-30 19:25] monsieurtanuki commented on #1725
Hi @bhattabhi013!
I haven't double-checked, but I hope nothing prevents us from adding the provider in `main.dart`, like "we'll definitely need it sometime anyway, so stop playing hide-and-seek"
Regarding option 2, I don't know if it makes sense, UX-wise. Does it make sense to remove the product from the carousel in the specific issue case - I don't know. Would it make sense to remove it from the

[2022-05-01 08:13] M123-dev commented on #1200
Heyy @AshAman999 looks great 💯

[2022-05-01 10:10] AshAman999 commented on #1200
Great, will raise a pr soon 🍀

On Sun, 1 May 2022, 13:44 Marvin M, ***@***.***> wrote:

[2022-05-01 11:09] vik4114 commented on #1667
@teolemon @M123-dev How it looks? for now I have used smoothie icon

https://user-images.githubusercontent.com/46121493/166143273-a7f98f1e-77b7-459f-9944-10670fb73e42.mp4

[2022-05-01 13:49] UgoKo-Rubeast commented on #849
I'm now working on this issue to confirm whether the app language is able to be changed, but I failed and this is my implementation.
https://github.com/openfoodfacts/smooth-app/pull/1729
Is there any way to change the language? I found this following post about how to change the language manually. Should we do like that and add `shared_preferences` dependence?
https://medium.com/flutter-community/

[2022-05-01 14:55] M123-dev commented on #1667
Heyy @vik4114 looks great, of course the image has to be replaced with a clear no internet image. But looking at the images directly changing after turning off the internet without reloading I'm guessing, that you are doing some kind of connection state checking, am I right? Here it probably makes more sense not to listen to it, (photos should remain visible when they are already loaded) and, the

[2022-05-01 15:04] AshAman999 commented on #1667
[code]
I guess something like this will make more sense, @vik4114

[2022-05-01 15:30] M123-dev commented on #849
Heyy @UgoKo-Rubeast, we are already using shared_preferences, when I remember right it is not in the dependencies since it's build-in into flutter or something like that,

I've just had a look at your #1729, and you are right, what you are doing there is updating the product preferences and not the main app. The article you send looks promising but as the language selection should probably be hidd

[2022-05-01 15:36] vik4114 commented on #1667
@M123-dev I thought the same to implement, but for the online one, it was not good so I did this.

[2022-05-01 15:55] vik4114 commented on #1667
Its just for moment of loading.

[2022-05-01 18:32] bhattabhi013 commented on #1647
Hi @M123-dev,
I also think that there is a need to re-structure the project.
I also have some suggestions regarding the structure e.g.
- Separation on the basis of functionality and in case of exception, the widget should be placed on the nearest/parent page.
- A single widget folder for widgets.
- Create a separate folder for every page.

I'll share a detailed structure soon.
I think @AshAman999

[2022-05-02 04:38] AshAman999 commented on #1200
@M123-dev , did the changes as requested, looks like this for now
- ![image](https://user-images.githubusercontent.com/57723319/166184860-4abc1fbb-0c80-491c-aab3-ef9e9e3b8a36.png)

-
![image](https://user-images.githubusercontent.com/57723319/166184909-478b3baf-9c5f-4a4c-8112-1c2a1f51b867.png)

[2022-05-02 06:06] #1200 closed, assigned to nobody

[2022-05-03 05:54] vik4114 commented on #1723
I will take this up

[2022-05-03 15:27] #1624 closed, assigned to nobody

[2022-05-03 15:37] #1725 closed, assigned to bhattabhi013

[2022-05-04 08:11] g123k commented on #1713
I de-assign myself, as I am unable to reproduce it :/

[2022-05-04 09:50] teolemon commented on #1619
### What

- [ ] We should check the latest uploaded (not latest published) version code when uploading builds to the Apple App Store

### Original comment by @M123-dev

[2022-05-04 13:38] #1121 closed, assigned to M123-dev

[2022-05-04 13:38] #1311 closed, assigned to M123-dev

[2022-05-04 15:53] stephanegigandet commented on #1239
It's ok to create users on .dev and .net

[2022-05-04 16:02] #1549 closed, assigned to g123k

[2022-05-04 16:36] teolemon opened #1736 "The app must be built with the iOS 15 SDK or later, included in Xcode 13 or later"
### What
 [Transporter Error Output]: ERROR ITMS-90725: SDK Version Issue. This app was built with the iOS 14.5 SDK. All iOS apps submitted to the App Store must be built with the iOS 15 SDK or later, included in Xcode 13 or later.

https://developer.apple.com/news/?id=2t1chhp3

### Why
- Because Apple

[2022-05-04 16:37] teolemon commented on #1736
Also, we need to bump the version number:
[Transporter Error Output]: ERROR ITMS-90186: Invalid Pre-Release Train. The train version '0.0.3' is closed for new build submissions

[2022-05-04 16:46] #1715 closed, assigned to g123k

[2022-05-04 17:06] monsieurtanuki commented on #1736
They must have good reasons: https://www.youtube.com/watch?v=-XSC_UG5_kU

[2022-05-04 17:27] g123k opened #1738 "Document the dev mode?"
We have many requests on how to enable the dev mode.
Every time, I have to redirect to the appropriate part of the code.

Shouldn't we better document the access to the feature? (in the wiki? In the README?)

[2022-05-04 18:21] M123-dev commented on #1738
https://github.com/openfoodfacts/smooth-app#dev-mode

[2022-05-04 18:22] g123k commented on #1738
OMG I need to buy some glasses

[2022-05-04 18:22] #1738 closed, assigned to nobody

[2022-05-04 20:15] g123k commented on #1047
Here are my proposals on how we could improve battery usage.

### 1) Improve the frequency and how barcodes are detected
Currently, in the app, we scan for a barcode every 10 frames.

I think this approach can be improved:
- If the decoding takes more than 10 frames, we will stack computations (-> may cause an out of memory)
- 10 frames is not a good unit, as it changes from one device to another

[2022-05-04 20:28] g123k commented on #1668
@AshAman999 The problem is not whether the text is selectable or not, but more an UI/UX issue.
Basically, I always forget that these items are selectable.

We should find a way to let our users know they can click on it.

[2022-05-04 20:35] M123-dev commented on #1047
Heyyy @g123k good proposals, I especially like the idea of calculating some delta time for the frequency.

Already in place

https://github.com/openfoodfacts/smooth-app/blob/5e00af877c55c8178f3cddcdb314b7bcdb77b490/packages/smooth_app/lib/pages/scan/ml_kit_scan_page.dart#L248

The real detection is running native, so this is already on a different threat, but definitely makes sense for cropping.

[2022-05-04 20:44] M123-dev commented on #1668
It seems to be a mixture of both, but yes sure @AshAman999 feel free to do so

[2022-05-04 20:47] M123-dev opened #1740 "Knowledge panels appear after refresh"
### What

- They should be visible directly

https://user-images.githubusercontent.com/39344769/166823198-ab4e8ba8-bfa2-4ccd-bfc6-e79fa3fade37.mp4

[2022-05-04 20:48] #1740 closed, assigned to nobody

[2022-05-04 20:48] M123-dev commented on #1740
Probably a thing of missing caches since the query just merged recently

[2022-05-04 20:50] M123-dev opened #1741 "Add a "Do you really want to clear" alert dialog before list clear"
### What

A dialog should reassure if the user really wants to clear the list/history

![Screenshot_20220504-224906.jpg](https://user-images.githubusercontent.com/39344769/166823604-6619f1ad-5ca8-4146-a8df-87803b19da32.jpg)

[2022-05-04 20:52] M123-dev opened #1742 "App name should automatically size itself"
### What

The "OpenFoodFacts" shouldn't split into two lines

![Screenshot_20220504-225059.jpg](https://user-images.githubusercontent.com/39344769/166823822-e7693e50-c516-4fa2-8271-387bd6e6d92e.jpg)

[2022-05-04 20:53] teolemon commented on #1668
We could have deep dive arrows >

[2022-05-04 20:57] M123-dev opened #1743 "Onbording darkmode color"
### What

- [ ] The surface where the Next button is on somewhat looks of and is to present in darkmode
- [ ] Add some padding below the "Some features are environmental..." / "Einge Umweltfaktoren sind standortspezifisch"

### Screenshot
![Screenshot_20220504-225405.jpg](https://user-images.githubusercontent.com/39344769/166824411-91161951-4bdb-4b92-8923-9603ee1e4c7b.jpg)

[2022-05-05 05:26] g123k commented on #1736
Isn't this issue a "V1"?
Because it will block the deployment

[2022-05-05 05:37] #1742 closed, assigned to nobody

[2022-05-05 05:59] UgoKo-Rubeast commented on #849
I've updated my PR. https://github.com/openfoodfacts/smooth-app/pull/1729
I've struggled to update the UI after selecting another language, but `notifyListeners()` didn't work. Could anyone help me if you have time?
When I use hot reload in Android Studio, the language of the entire UI changed, which means the value of `locale` variable in my implementation does changed.

[2022-05-05 06:05] monsieurtanuki commented on #1047
@g123k @M123-dev I remember working on the "half-cropping" for optimization, then said to @M123-dev now you can test/profile and got as a reply: "Actually I don't have a heat/drain problem". The key is: we need someone that actually experience that problem, for the test part, not just theory.

Is that a fact? If the device is constantly working and has no time to `gc()` or something like that, or

[2022-05-05 06:07] monsieurtanuki commented on #1740
@M123-dev That's correct: before, we did not include "knowledge panels" in the product fields. Now we do.

[2022-05-05 07:28] teolemon commented on #1684
I reckon this one is fixed ? That was the empty product page issue?

[2022-05-05 08:19] #1736 closed, assigned to g123k

[2022-05-05 08:25] teolemon opened #1747 "Make app_name untranslatable"
### What

- [ ] Make app_name untranslatable

[2022-05-05 08:32] teolemon commented on #1743
- Point 2 is clear (and might be problematic on some devices ?)
- I'm not sure I understand point 1 (and it doesn't seem very prioritary)

[2022-05-05 08:42] teolemon opened #1749 "[08:34:27]: Cannot find an installed Xcode satisfying '~> 13.3'"
### What

- Follow up to https://github.com/openfoodfacts/smooth-app/pull/1744
- [08:34:27]: Cannot find an installed Xcode satisfying '~> 13.3'

[2022-05-05 11:34] teolemon commented on #1234
I've updated and clarified the issue, based on the discussion here and on #1735
cc @VaiTon

[2022-05-05 12:27] teolemon commented on #1527
Unassigning you @abhay1821

[2022-05-05 12:36] teolemon commented on #1711
@M123-dev would you have time to tackle that one ?

[2022-05-05 12:37] teolemon commented on #1709
@PrimaelQuemerais would you have time to tackle that one ?

[2022-05-05 12:38] teolemon commented on #1709
or @M123-dev (that might be easier for you)

[2022-05-05 13:26] M123-dev commented on #1684
@monsieurtanuki ?

[2022-05-05 13:27] M123-dev commented on #1747
Should it be moved out of translations completely or what is the plan

[2022-05-05 13:29] M123-dev commented on #1743
Not priotrity but at least for my eye the color looks a bit odd in contrast to the main background color. Don't know if thats just my opinion but the onboarding should look pretty when we ship

![166824411-91161951-4bdb-4b92-8923-9603ee1e4c7b](https://user-images.githubusercontent.com/39344769/166933432-e51d87fc-7f64-4629-b6c7-ac34ff255eb5.jpg)
r

[2022-05-05 13:33] M123-dev commented on #1527
@teolemon can you clarify a bit more what exactly should be changed

[2022-05-05 13:36] M123-dev commented on #1711
Lets merge this issue with #1668

[2022-05-05 13:36] #1711 closed, assigned to nobody

[2022-05-05 14:03] teolemon commented on #1747
I've made manual corrections in Crowdin for the time being, but to avoid future mistakes, I would like it to be moved out of translations, yes, or marked untranslatable if the *.arb syntax/flutter intl mechanism allows to do so

[2022-05-05 14:04] teolemon commented on #1747
It's not a blocker, since being careful on translation merges should prevent this potential problem from happening

[2022-05-05 14:05] teolemon commented on #1743
Right now, I'm more concerned about db migrations, scan and settings page

[2022-05-05 15:51] M123-dev commented on #1346
Somehow fixed itself

[2022-05-05 15:51] #1346 closed, assigned to M123-dev

[2022-05-05 16:14] #1741 closed, assigned to nobody

[2022-05-05 16:25] M123-dev opened #1753 "Black bar on top of scanner"
### What
- Device: Samsung Galaxy S21

[2022-05-05 16:25] M123-dev commented on #1753
![Screenshot_20220505-182523.jpg](https://user-images.githubusercontent.com/39344769/166968912-911076a4-2887-45bf-a941-cb3c035d5a57.jpg)

[2022-05-05 16:31] sentry[bot] opened #1754 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-T2](https://sentry.io/organizations/openfoodfacts/issues/3010890044/?referrer=github_integration)

[code]

### Part of
- #526

[2022-05-05 17:27] monsieurtanuki commented on #1684
I guess it's fixed: `ContinuousScanModel` is now always available (as initialized in `main.dart`).

[2022-05-05 17:27] #1684 closed, assigned to nobody

[2022-05-05 17:33] monsieurtanuki commented on #1747
Or just putting `'OpenFoodFacts`' in a `static const` and not using localizations like `.app_name`.

[2022-05-05 18:07] AshAman999 opened #1757 "Abnormal state in country selector"
### What
- Describe the issue clearly

### Steps to reproduce the behavior
1. Go to profile
2. Try changing country
3. …
4. See sometimes the state doesn't get updated

### Expected behavior
State should update

### Why
-  let user select country properly

### Screenshot/Mockup/Before-After
https://user-images.githubusercontent.com/57723319/166985623-9d38c6c1-9ffb-4da4-8171-a471e5fccb22.mp4

### S

[2022-05-05 18:16] AshAman999 commented on #1753
[code]
Don't know if it Will helps if we include something like this in the main function in main.dart file,
(I am assuming the trouble is cuz of image cropper, as i knew from earlier on issues)

[2022-05-05 18:16] monsieurtanuki commented on #1673
My bad: there was actually an "advanced" bug.
If you go from language A to language B to language C, no problem.
But then, if you go back to language A or B that doesn't work, we are stuck with language C. Quickly said: the reason why that we had already dowloaded _and stored locally_ the preferences, and that the values didn't change between what was stored and what we've just downloaded: no chan

[2022-05-05 18:30] #1757 closed, assigned to nobody

[2022-05-05 19:01] bhattabhi013 commented on #1698
Hi @teolemon,
Do we have a mockup for this screen?

[2022-05-05 19:44] bhattabhi013 commented on #1527
Hi @M123-dev,
I think this is similar to #1698. We can merge this issue into #1698.

[2022-05-05 19:57] M123-dev commented on #1527
Good catch @bhattabhi013

[2022-05-05 19:57] #1527 closed, assigned to nobody

[2022-05-06 04:14] AshAman999 commented on #1668
#### What about this, keeping an arrow down icon next to it?

![Untitled design](https://user-images.githubusercontent.com/57723319/167065682-9a81e9a3-8b85-40c1-a472-430dea6055b7.png)

[2022-05-06 05:38] M123-dev commented on #1668
I like the idea of some kind of indicator but for this to be consistent we'd have to also add them to the attributes which would make a big impact in terms of looks.

[2022-05-06 08:29] stephanegigandet opened #1763 "Text of settings "Not important", "Very important" in new food preferences settings not shown in full on some phones"
### What

On my phone, I have only "Pas" instead of "Pas important", and "Très" instead of "Très important" in the new settings.

### Screenshot/Mockup/Before-After

![image](https://user-images.githubusercontent.com/8158668/167095833-fd18a0bd-0de8-4086-8002-b633c28ea5c8.png)

### Smartphone model

Galaxy S8.

[2022-05-06 08:42] stephanegigandet commented on #1763
Additional suggestions:

- Make the setting names (e.g. "Bonne qualité nutritionnelle (Nutri-Score)") less bold.
- Put the (i) icon at the right of the setting name, so that the text of all settings is aligned, even if they don't have that icon.
- Make the color of the (i) icon less prominent (e.g. same as text)

[2022-05-06 08:50] monsieurtanuki commented on #1763
Fixed by #1760; should be merged in 20 minutes.

[2022-05-06 09:15] g123k opened #1764 "Dev Mode: setting to change the post frame callback duration"
Following the PR #1732, a timeout is set to detect if we have to relaunch the camera.
In some cases, it seems that this duration is not enough.

To find a correct value, a setting in the dev mode would be nice

[2022-05-06 09:16] monsieurtanuki commented on #1763
@stephanegigandet I don't say it's fabulous but at least that matches your requirements:
![Simulator Screen Shot - iPhone 8 Plus - 2022-05-06 at 11 15 12](https://user-images.githubusercontent.com/11576431/167103472-e13f06d8-fbe8-4ff7-998c-eb7969041bf3.png)

[2022-05-06 09:21] monsieurtanuki commented on #1764
@g123k Beyond setting a decent minimum duration, are you sure there are no other ways to detect "the right moment"? Like somme callback, some event?

Not 100% related: would that be possible to limit the camera to the top half of the screen? I mean, not just processing rather the top part, but using a camera viewer Widget whose height is only half of the screen height? That would be less to proces

[2022-05-06 09:37] g123k commented on #1764
@monsieurtanuki I don't think we can do it otherwise, unfortunately.
I have tried many ways to detect the event and that's the most accurate I've found.

For the camera, it won't change anything (or at least, only be marginal), as the stream sent from the camera is exactly the same.

[2022-05-06 09:40] monsieurtanuki commented on #1764
Maybe all these problems come from the fact that we're virtually displaying 3 pages while hiding 2 of them. Things would perhaps be easier if the scan page was a normal page users go to and go back to. Thinking out loud.

[2022-05-06 09:55] teolemon commented on #1763
fixed

[2022-05-06 09:55] #1763 closed, assigned to monsieurtanuki

[2022-05-06 10:31] #1673 closed, assigned to nobody

[2022-05-06 10:41] g123k commented on #1764
Actually we have "one real" visible Widget and two hidden (via an Offstage).
We can fully remove them, but will mean we will have to manage the state.

I will experiment this, as part of #1047

[2022-05-06 11:12] g123k opened #1768 "MLKitScanPage: if the Widget is disposed, setState shouldn't be called"
Basically the setState() in the stopImageStream should only be called in an onPause event.

[code]

[2022-05-06 11:15] AshAman999 commented on #1747
Since app has been renamed to smoothie is it okay to reference it with smoothie in the readme ?
(Just asking)

[2022-05-06 12:12] teolemon opened #1770 "info • The import of 'package:image_cropper_platform_interface/image_cropper_platform_interface.dart' is unnecessary because all of the used elements are also provided by the import of 'package:image_cropper/image_cropper.dart' • packages/smooth_app/lib/pages/image_crop_page.dart:6:8 • unnecessary_import"
However my IDE throws an error when removing the import.

Maybe because there was a recent change in the crop package version. Try to use the latest version.

_Originally posted by @monsieurtanuki in https://github.com/openfoodfacts/smooth-app/issues/1765#issuecomment-1119478221_

[2022-05-06 12:13] teolemon commented on #1770
Note, this is happening in develop

[2022-05-06 12:39] teolemon opened #1771 "Test what will happen with current shortcuts and quick settings on Android."
Test what will happen with current shortcuts and quick settings on Android.
I think they will all be removed, but I'm not 100% sure (never tested this scenario before)

_Originally posted by @g123k in https://github.com/openfoodfacts/smooth-app/issues/1594#issuecomment-1117621580_

[2022-05-06 14:49] stephanegigandet commented on #1763
Thank you very much @monsieurtanuki !

[2022-05-06 16:01] M123-dev commented on #1771
Even if they wouldn't be removed they wouldn't work anyways

[2022-05-06 16:02] M123-dev commented on #1771
I think we had a issue for adding them to smoothie but I don't seem to find it

[2022-05-06 16:22] M123-dev commented on #1747
@teolemon ?

I'd say it's good to keep it as codename for the devs but not in interactions with users

[2022-05-06 16:24] ShimronAlakkal commented on #1754
Could you provide more details about the section where this happened.

This usually happens when there is some nullable variable that has been used in another part of the codebase while it was still null. Or this could also happen as a result of an unknown bug in any flutter channels that is not stable.

`Case 1: example`
[code]

If you think it is the other case, then try the following commands.

[2022-05-06 16:51] Pualoo commented on #1699
I will take this issue

[2022-05-06 16:59] stephanegigandet commented on #1709
Well it's working on the website: https://fr.openfoodfacts.org/produit/42114321/mullermilch-schoko-muller#panel_additives

[2022-05-06 17:04] M123-dev commented on #1754
Hello @ShimronAlakkal this is a automatic error logging system, as it isn't directly produced by a dev there aren't any more infos then that it seems to be in `ml_kit_scan_page.dart` somewhere in line 150 or 143

[2022-05-06 18:49] #1770 closed, assigned to g123k

[2022-05-06 19:58] bhattabhi013 commented on #1670
Hi,
Is someone working on this?

[2022-05-06 20:04] teolemon commented on #1670
nope, should I assign you @bhattabhi013 ?

[2022-05-06 20:07] bhattabhi013 commented on #1670
Sure @teolemon, this looks interesting.

[2022-05-06 20:37] #1768 closed, assigned to g123k

[2022-05-06 22:24] #903 closed, assigned to bhattabhi013

[2022-05-07 12:22] #1428 closed, assigned to bhattabhi013

[2022-05-07 16:09] teolemon commented on #1632
Fixed on iOS

[2022-05-07 16:28] bhattabhi013 opened #1782 "Alert text after changing preference is not logical."
### What
Alert text after changing preference in food preference is not logical.

### Steps to reproduce the behavior
1. Go to `Food Preferences.`
2. Try to change any preference e.g. Vegetarian.
3. See an error

### Expected behavior
A clear and logical alert message.

### Why
- Better user experience

### Part of
- Add the issue number preceded by # (that also allows searching by name for simila

[2022-05-07 16:30] bhattabhi013 commented on #1782
Please assign this issue to me.

[2022-05-07 19:54] bhattabhi013 commented on #1260
I suggest making 3 sections(Profile, Food preferences, and App settings). Since we expect fewer changes in Profile and app settings sections we can make them expandable cards(similar to their current form) and for food preference sections, we can navigate the user to a new page.

[2022-05-07 22:53] M123-dev commented on #1501
Any updates @Raj2503

[2022-05-08 09:09] teolemon commented on #1251
https://xkcd.com/2615/

[2022-05-08 10:15] #1753 closed, assigned to g123k

[2022-05-08 10:15] #1764 closed, assigned to g123k

[2022-05-08 10:16] #1240 closed, assigned to PrimaelQuemerais

[2022-05-08 10:17] #1532 closed, assigned to bhattabhi013

[2022-05-08 10:33] ShimronAlakkal commented on #1754
could we close this issue then?

[2022-05-08 10:52] M123-dev commented on #1754
I mean it's a issue in our code. Something what we don't want is happening so I'd keep it open

[2022-05-08 11:01] #1559 closed, assigned to g123k

[2022-05-08 11:40] teolemon opened #1785 "We should be more flexible for Quantity input"
### What

- We should be more flexible for Quantity input
- Currently we ask for "Weight in gram" and force a numeric value without unit.
- The simple fix is to:
- [ ] Disable the numeric keyboard
- [ ] Rename to "Quantity and weight"
- [ ] Allow the user to type anything ( 75 cL, 4x75cL…)

[2022-05-08 15:53] bhattabhi013 commented on #1785
Hi @teolemon,

I think this can lead to user entering any random value instead I suggest adding a textbox for the numerical value and a dropdown besides it for the unit e.g. gram,oz.
What do you think of this change?

[2022-05-08 16:28] teolemon commented on #1785
- Do trust me on this one, the dropdown/constraint approach is not the right approach on this one.
- We have a built-in server side mechanism to cope with that
@bhattabhi013

[2022-05-08 16:54] M123-dev commented on #1143
This issue started appearing again in 0.0.3 (270) but as we are already in 0.0.3 (315) this should be fine

[2022-05-08 16:54] #1143 closed, assigned to nobody

[2022-05-08 16:59] sentry[bot] opened #1786 "ConcurrentModificationError: Concurrent modification during iteration: Instance(length:22) of '_GrowableList'."
Sentry Issue: [SMOOTHIE-V2](https://sentry.io/organizations/openfoodfacts/issues/3183809600/?referrer=github_integration)

[code]

[2022-05-08 16:59] sentry[bot] opened #1787 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-V9](https://sentry.io/organizations/openfoodfacts/issues/3235878873/?referrer=github_integration)

[code]

[2022-05-08 17:37] bhattabhi013 commented on #1785
Ok @teolemon,
Please assign this issue to me.

[2022-05-08 19:26] #1785 closed, assigned to bhattabhi013

[2022-05-09 05:14] g123k commented on #1047
For the battery drain, on the OFF team, we have some iOS users complaining about this.
We will check if this somehow improves things.

One optimization I have also in mind -> switch to a JPEG format (instead of YUV), as it will require less memory and should also quick the cropping process. But in that case, I think some changes are needed in image's _croppers_.

[2022-05-09 06:14] monsieurtanuki commented on #1047
@g123k We would need iOS _developers_ with battery drain, for tests during development. If the scan process causes the battery drain, an `Isolate` would just run the battery draining process in parallel, while adding code complexity: that would not solve the problem at all.

JPEG format could be a good idea - is that available on all platforms? Of course that would probably mean changes in the cro

[2022-05-09 08:24] ShimronAlakkal commented on #1754
My bad. I thought `ml_kit_scan_page.dart` was a page from a package in pub.dev and not from the smooth_app code. So you know.

[2022-05-09 09:04] #1787 closed, assigned to monsieurtanuki

[2022-05-09 09:16] cli1005 commented on #1709
The additives panel does not have titleElement.title, is that normal?
https://world.openfoodfacts.org/product/42114321?fields=knowledge_panels
![Capture d’écran 2022-05-09 à 11 06 39](https://user-images.githubusercontent.com/87010739/167377817-ee9ce32f-a464-4c0b-a48d-d074661ca1d4.png)

I might replace it with an empty string in case of missing title to avoid meeting such kind of problem again ,

[2022-05-09 09:54] monsieurtanuki commented on #1709
Probably related to #1791.

[2022-05-09 10:56] cli1005 commented on #1709
Yes, this issue can be fixed by #1791, @teolemon, do we need to add missing titleElement.title in the additive panel on the "server side" (I mean JSON returned) ?

[2022-05-09 11:52] teolemon commented on #1709
It would be interesting to understand which panel is at fault cc @stephanegigandet

[2022-05-09 11:53] teolemon commented on #1709
ah too bad, I spoke too quickly, there's a JSON above

[2022-05-09 12:09] cli1005 commented on #1694
**BEFORE:**
Rotate to search card on removing a card

**AFTER:**
Rotate to N+1 card on removing the Nth card
Rotate to next to last card on removing the last card

**TEST PROOF:**

https://user-images.githubusercontent.com/87010739/167406110-2ace62a6-4bfc-42ee-bc67-46976970d299.mp4

[2022-05-09 12:30] monsieurtanuki commented on #1501
@Raj2503 If you don't mind I'll do it now. Don't worry: it was not the most interesting issue to code, and I'm sure that after you finish your exams there will be other issues to fix.

[2022-05-09 13:02] stephanegigandet commented on #1709
Hi @cli1005 , the additives panel is an inline panel, which means we want to display its content. It does not have a title.

It is inside a panel group for additives, and the panel group has a title.

[2022-05-09 13:13] #1747 closed, assigned to M123-dev

[2022-05-09 13:27] cli1005 commented on #1709
@teolemon, we could close this issue, since the PR #1791 has been merged

[2022-05-09 13:35] #1709 closed, assigned to nobody

[2022-05-09 13:50] stephanegigandet opened #1794 "Scan area is now too high and on top of Compare button"
I used to have the scan area in the good position, but with recent updates, it's now on top of the screen.

### Screenshot/Mockup/Before-After

![image](https://user-images.githubusercontent.com/8158668/167424702-4e3f8d0d-86be-410e-8dcf-a53ad28290ff.png)

### Smartphone model

 - Device: Galaxy S8

[2022-05-09 13:53] g123k commented on #1708
This ticket is actually just a UI issue.
=> nothing related to the scan performance

I really love your draw @M123-dev, but I'm not sure where you want the visor to be.
Could you elaborate a bit more, please?

[2022-05-09 13:55] g123k commented on #1794
Maybe a duplicate of #1708?

[2022-05-09 14:49] AshAman999 commented on #1668
https://user-images.githubusercontent.com/57723319/167435956-7b1d3fef-fb83-407e-bacb-fab31f728331.mp4

@M123-dev  though i tried to add the indicator, i don't think that it does look that good,
Suggestions?

[2022-05-09 14:50] M123-dev commented on #1668
@AshAman999 the video seems broken...

[2022-05-09 14:56] AshAman999 commented on #1668
@M123-dev
don't know why markdown sometimes don't register the video format
https://youtube.com/shorts/EEvApRneJOY?feature=share

[2022-05-09 15:14] #849 closed, assigned to UgoKo-Rubeast

[2022-05-09 15:34] #1786 closed, assigned to monsieurtanuki

[2022-05-09 15:35] M123-dev commented on #1708
Sure @g123k the upper line is way shorter then the lower one. The ViewFinder should be centered in between the top and the carousel not directly below the "Clear" and "Compare" buttons

[2022-05-09 15:38] #1694 closed, assigned to cli1005

[2022-05-09 15:41] M123-dev commented on #1794
Yes same as #1708 just in more extreme

[2022-05-09 15:41] #1794 closed, assigned to nobody

[2022-05-09 15:42] M123-dev commented on #1708
Comment by @stephanegigandet in #1794

[2022-05-09 16:07] M123-dev commented on #1668
No problem @AshAman999

It looks better then expected. Any opinion @teolemon

[2022-05-09 16:16] g123k commented on #1234
Here is the plan that we've discussed the other day during the community event:

- Since the deadline is approaching, we won't develop any native code
We will instead really on Flutter packages: `sqflite` for Android and `realm` for iOS.
Since importing those two packages will bring Realm for Android and SQLite for iOS, we will fork both packages to remove their unnecessary Android and iOS impleme

[2022-05-09 16:30] M123-dev commented on #1234
I'd say a dedicated folder would be enough but feel free to create a new package, I mean we already have the folder structure for that

[2022-05-09 17:14] teolemon commented on #1668
LGTM, we'll see what the users think of it

[2022-05-09 17:59] vik4114 opened #1799 "Toolbar widget has fixed color"
### What
- Toolbar widget has fixed color

### Steps to reproduce the behavior
1. Go to 'Any product page'
2. Click on 'add new image'
3. Go on cropping page
4. See error

### Expected behavior
It should not have fixed color

### Screenshot/Mockup/Before-After
**Before**
![Screenshot_1652118735](https://user-images.githubusercontent.com/46121493/167469116-eb15699b-7a94-4198-ad4f-b879d10fab90.png)

[2022-05-10 08:06] teolemon commented on #1698
@cli1005 is now assigned.
Here's what v1 looked like:
![image](https://user-images.githubusercontent.com/1689815/167580037-427587f6-f6fb-4263-94b2-a7f68536d467.png)
We’re using the standards analytics icon in v1 https://materialui.co/icon/analytics

[2022-05-10 10:05] cli1005 commented on #1698
Here is a snapshot of result, please let me know if it is ok:

![Simulator Screen Shot - iPhone 13 - 2022-05-10 at 12 08 17](https://user-images.githubusercontent.com/87010739/167604995-1ba85e6c-3fd0-41f9-a9dd-7984186f2e5b.png)

[2022-05-10 13:01] cli1005 commented on #1683
The button "Edit" which works exactly the same way as the "Additional Button" is added to the page Product edition as following:

The "Edit" button is deactivated if the product has no category tag since the "Additional Button" has no action in the same case
| category tag exists | category tag missiong |
|-- | -- |
| ![Simulator Screen Shot - iPhone 13 - 2022-05-10 at 14 58 48](https://user-image

[2022-05-10 13:24] teolemon commented on #1683
Does the category edit mode work ok if we have no category at all ?

[2022-05-10 13:25] teolemon opened #1803 "Add a confirmation step to the Category Editor before saving (or a save button)"
### What

- [ ] Add a confirmation step to the Category Editor before saving (or a save button)
- [ ] Confirm what we currently do on save (do we actually write to the server ?)

### Related to
- #877
- #944

[2022-05-10 13:26] bhattabhi013 opened #1804 "Navigate to add basic details page from the full edit mode and in product addition screen"
What:
Add a link to add basic details page in the full edit mode and in the product addition screen as suggested [here](https://github.com/openfoodfacts/smooth-app/pull/1778#issuecomment-1120200026).

Part of: #1778

[2022-05-10 13:27] bhattabhi013 commented on #1804
Hi,
Please assign this issue to me.

[2022-05-10 13:27] teolemon commented on #1804
hop

[2022-05-10 13:38] teolemon opened #1805 "Add a temporary way to access the list of lists"
### Why
- Absolutely no way to access lists
### What
- [ ] Add a temporary way to access the list of lists
  - This could be a Link in the revamped settings
  - We have mocked up implementations, but they would require more intrusive work

[2022-05-10 13:43] cli1005 commented on #1683
No, the button "Edit" is deactivated, since nothing happens when the "Additional Button" is clicked in this case.

If we have no category as all, the button "Add missing product category" is shown, but no action has been applied yet.

[2022-05-10 14:22] sentry[bot] opened #1806 "PlatformException: PlatformException(error, Attempt to invoke virtual method 'void android.media.ImageReader.setOnIm..."
Sentry Issue: [SMOOTHIE-S7](https://sentry.io/organizations/openfoodfacts/issues/2926869641/?referrer=github_integration)

[code]

[2022-05-10 14:52] vik4114 commented on #1723
@M123-dev Can you take this up. I am not available due to my end sem exams.

_**My understanding until now why it is happening**_

We are saving FileImage from cache to _imageProvider, _imageFullProvider. (On 39th line of image_upload_card)
` _imageProvider = FileImage(croppedImageFile);
_imageFullProvider = _imageProvider;`

But deleting the cache. (50th line of image_upload_card)
`croppedImageFi

[2022-05-10 17:15] g123k commented on #1251
Two questions about this:
- Should we consider the tagline API to be implemented in the Dart SDK? or is-it a "Smoothie"-only feature?
- If the text is too long, what should happen?

[2022-05-10 17:27] teolemon commented on #1251
- smoothie only
- carriage return ? (we'll keep it reasonably short)

[2022-05-10 17:41] #1799 closed, assigned to nobody

[2022-05-10 17:43] M123-dev commented on #1668
Not yet fixed, the clicking still is hard, we should remove the selection

[2022-05-10 17:47] #1699 closed, assigned to Pualoo

[2022-05-10 17:50] #1667 closed, assigned to vik4114

[2022-05-10 18:24] teolemon opened #1807 "Can't spot the Eco-Score in settings ?"
### What
- Can't spot the Eco-Score in settings ?
- https://world.openfoodfacts.dev/api/v2/product/4337185341373/k-take-it-veggie-vegan-nuggets?fields=knowledge_panels,attribute_groups
![image](https://user-images.githubusercontent.com/1689815/167696681-09fd97e0-5e55-4c70-b254-0ee5c93fbe6d.png)

[2022-05-10 18:24] teolemon opened #1808 "French pluralization/singular"
### What

- [ ] French pluralization/singular bug: it's plural even with only 1 product

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/167696816-5bcbd30d-b421-4d36-b1b0-66528743286e.png)
### Part of
- #525

[2022-05-10 18:28] teolemon opened #1809 "Blue on blue toggle for "No nutrition info on this product""
### What
![image](https://user-images.githubusercontent.com/1689815/167697390-a9902e8b-096f-4a3b-aa33-7222d60eca0e.png)
### Part of
- #1171
- #511

[2022-05-10 18:29] teolemon opened #1810 "A missing weight should not be blocking"
### What
![image](https://user-images.githubusercontent.com/1689815/167697522-07ec869c-6c00-40b7-b48c-37eb242b609a.png)

[2022-05-10 18:48] monsieurtanuki commented on #1807
"Exclude ecoscore" in dev mode?

[2022-05-10 18:53] #1501 closed, assigned to monsieurtanuki, Raj2503

[2022-05-10 19:04] teolemon commented on #1807
Phew, I don't even remember the rationale for this one
"Bringing Pierre in panic attack" ?

[2022-05-10 19:49] g123k commented on #1251
For the long text, I mean if the text is too long to be displayed on the screen.
Should we scroll? Append dots…?

[2022-05-10 19:55] bhattabhi013 commented on #1810
Hi @teolemon,
Should I remove its validators?

[2022-05-11 05:19] monsieurtanuki commented on #1807
Definitely. We all agreed it could be fun and just wondered how long it would take you to notice it :)

If I remember well, the idea was that some countries don't have eco-score and that eco-score "pollutes" the app for those countries (e.g. always "unknown compatibility").

[edit]: cf. https://github.com/openfoodfacts/smooth-app/issues/1060

[2022-05-11 06:23] monsieurtanuki commented on #1805
Done in #1797.

[2022-05-11 06:23] #1805 closed, assigned to monsieurtanuki

[2022-05-11 07:31] M123-dev commented on #1810
I guess so @bhattabhi013, should I assign you

[2022-05-11 07:37] #1804 closed, assigned to bhattabhi013

[2022-05-11 07:46] bhattabhi013 commented on #1810
Yeah sure.

[2022-05-11 08:35] monsieurtanuki commented on #1683
@teolemon @cli1005 Actually the current implementation is more or less OK when you want to slightly fix an existing category.

It does not work when you're starting from scratch, the reason being that we don't really have access to root categories:
* the "root" categories (https://world.openfoodfacts.org/api/v2/taxonomy?tagtype=categories&include_root_entries=1&include_children=0&lc=en%2Cfr&cc=fr)

[2022-05-11 08:50] monsieurtanuki commented on #1234
@g123k Understood.
I hope you guys already have your Android and ios versions on your devices, with populated lists, and that the flutter version switch will not delete somehow the databases.
Regardless of the way barcode lists are going to be extracted from the legacy databases, we need an async method that takes the barcode list, downloads all the related products and stores both the list and th

[2022-05-11 12:31] cli1005 commented on #1683
We just add a button in the Product Edition page which works the same way as the "Additional Button", no change has been made to the Category Edition :)

[2022-05-11 14:00] teolemon commented on #1683
<img width="250" alt="Capture d’écran 2022-05-11 à 15 58 45" src="https://user-images.githubusercontent.com/1689815/167868028-9d5bde8a-ba70-44d9-bd37-f2a8a615a3d3.png">
<img width="250" alt="Capture d’écran 2022-05-11 à 15 58 52" src="https://user-images.githubusercontent.com/1689815/167868037-3379ca3d-bae7-48ba-acf3-62ae228f2d64.png">
<img width="815" alt="Capture d’écran 2022-05-11 à 15 59

[2022-05-11 14:15] monsieurtanuki commented on #1683
@teolemon Not sure I follow you: are we supposed to show this to an end-user that clicks on the "No category so far: please select one" button?

[2022-05-11 14:17] monsieurtanuki commented on #1683
@cli1005 It's just that in Category Edition there were cases that were not handled (cf. the `TODO`s).

[2022-05-11 15:50] cli1005 commented on #1723
@teolemon so you want all "more interesting photos" uploaded by the user (or all users) listed in the image carousel with the card "Add more interesting photos" in the end?

I do not quite understand how it works this card, the current situation is that OpenFoodFacts Client returns only url of images "Front" "Ingredients", "Nutrition", "Packaging", none of those "more interesting photos" will be l

[2022-05-11 15:57] cli1005 commented on #1683
Yes, we might need or have already another issue concerning TODOs of Category Edition? the objective of this issue is just to move the button, in my opinion

[2022-05-11 18:00] teolemon commented on #1683
- [ ] i was hopping moving the button edit mode forces us to finish the category addition/edition feature, but that might be too blunt an approach
- [ ] We need to clean the root server side (https://github.com/openfoodfacts/openfoodfacts-server/issues/6763)
- [ ] we have an issue to add search to mitigate this, and make @monsieurtanuki 's use case faster (https://github.com/openfoodfacts/smooth-a

[2022-05-11 18:05] teolemon commented on #1723
Additional photos are unselected, so it would be transient anyway since we don't currently show unselected pictures. The real problem here is the button disappearing, not that much displaying all images.
Another option is to make it clear that they have been stored on the server, and will be used, and just keep the button at all time, bit don't show added pictures

[2022-05-11 19:12] #1782 closed, assigned to bhattabhi013

[2022-05-11 20:19] #1810 closed, assigned to bhattabhi013

[2022-05-11 21:19] M123-dev opened #1815 "Fix: use_build_context_synchronously"
### What
- Find better fixes for [use_build_context_synchronously](https://dart-lang.github.io/linter/lints/use_build_context_synchronously.html) which were just temporary fixed in #1814

[2022-05-12 06:19] teolemon opened #1816 "Duplicate link in settings"
![image](https://user-images.githubusercontent.com/1689815/168004618-798b5d84-397e-440d-8d36-d81ae9cb9b71.png)

[2022-05-12 06:20] teolemon opened #1817 "Don't show the arrow it there's no subpanel"
- [ ] Don't show the arrow it there's no subpanel

![image](https://user-images.githubusercontent.com/1689815/168004695-b992408f-e8ff-47ea-bf00-6a44165feb8a.png)

[2022-05-12 06:52] monsieurtanuki commented on #1816
@teolemon https://support.openfoodfacts.org/ requires a login, which is maybe not the most helpful step when you're looking for help.

[2022-05-12 06:56] teolemon commented on #1816
ah, thanks for the report

[2022-05-12 06:56] teolemon commented on #1816
@monsieurtanuki how about: https://support.openfoodfacts.org/help/fr-fr

[2022-05-12 06:57] monsieurtanuki commented on #1683
@teolemon Could also be fixed if `'en:plant-based-foods-and-beverages'` had `parents` (probably the root).

[2022-05-12 06:59] monsieurtanuki commented on #1816
If you're French it's OK.
Not if you're Italian: https://support.openfoodfacts.org/help/it-it

[2022-05-12 07:49] cli1005 commented on #1683
So... I create a PR juste for the new button or we wait for all the points to reach?

[2022-05-12 08:32] teolemon commented on #1683
I've updated my comment with [links to the blocking issues](https://github.com/openfoodfacts/smooth-app/issues/1683#issuecomment-1124099264). Let's put this one on hold, at least until we clean up server side ?

[2022-05-12 08:58] #1698 closed, assigned to cli1005

[2022-05-12 09:16] cli1005 commented on #1723
This modification is implemented only on the process of adding more interesting photos (ImageField.OTHER), @teolemon, please tell me if it is not OK for you.

**BEFORE**
| sending photo | uploaded + refreshing product | photo displayed in carousel(no button any more) | Click the photo uploaded |
| -- | -- | -- | -- |
| ![Capture d’écran 2022-05-12 à 10 55 34](https://user-images.githubuserconten

[2022-05-12 09:29] teolemon commented on #1723
@cli1005 smart solution, I especially like the link in the snackbar to avoid thumb fatigue 👍

[2022-05-12 10:09] teolemon opened #1819 "No way to know what the portion is"
### What
No way to know what the portion is
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/168047071-5a6ee17e-4d48-4112-9d37-f842acb73887.png)

[2022-05-12 10:10] teolemon opened #1820 "Incoherence between ingredients and ingredients button"
### What

- Incoherence with the ingredients button
- [x] Hide ingredients button if ingredients are completed
- [x] Hide nutrition button if nutrition is completed

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/168047298-ce0700b1-857d-4d61-b684-e192d42cab91.png)

[2022-05-12 12:35] #1816 closed, assigned to monsieurtanuki

[2022-05-12 12:39] teolemon commented on #1819
@stephanegigandet is that something we should try to fix server side ?

[2022-05-12 12:40] cli1005 commented on #1621
This issue has been resolved by #849 ? We might close it?

[2022-05-12 12:41] teolemon commented on #1807
ok, closing and opening a task to check behavior in unsupported countries

[2022-05-12 12:41] teolemon opened #1822 "Check that the app behaves correctly for Green-Score in unsupported countries"
### What

- [ ] Check that the app behaves correctly for Eco-Score in unsupported countries

### Part of
- #525

[2022-05-12 12:41] #1807 closed, assigned to nobody

[2022-05-12 12:42] teolemon commented on #1621
yes, very much 👍

[2022-05-12 12:42] #1621 closed, assigned to nobody

[2022-05-12 13:39] stephanegigandet commented on #1819
we can add the portion size in the panel, below the nutrition facts table

[2022-05-12 14:31] teolemon commented on #1683
Started the clean-up server side @cli1005 @monsieurtanuki @stephanegigandet
- https://github.com/openfoodfacts/openfoodfacts-server/pull/6765

[2022-05-12 14:36] M123-dev opened #1823 "Switch the used font"
### What
In the mocks there are many references to the font used "Helvetica"
![grafik](https://user-images.githubusercontent.com/39344769/168099646-faaeb393-1d2e-41a5-8878-ce9c8b64fd99.png)

We should update the in smoothie used font, the problem is Helvetica is not a free font so we should probably switch to a similar font, likely from google fonts.
[Here](https://fontsplugin.com/google-fonts-hel

[2022-05-12 14:37] M123-dev opened #1824 "Tidy up /caches dir"
### What
- We have a lot of leftovers of older versions of smoothie in the assets folder, we should remove all not used assets

### Part of
- #525

[2022-05-12 14:41] M123-dev opened #1825 "Use Theme Extensions"
### Problem
With Flutter 3.0 Google announced a new Feature called "Theme extensions" which allows `ThemeData` to be extended with custom values. As we have a lot of custom functions for handling our various stlyes we whould make use of this feature and should unify all this.

https://docs.google.com/document/d/1LbD4JqBgAfHex02oR3r2jyu9lTBBNBmyec2ovT59Kr8/edit#heading=h.pub7jnop54q0

Non blocking,

[2022-05-12 15:19] M123-dev opened #1826 "Button to finish picture cropping isn't visible (dark mode issue)"
### What

- Button to finish picture cropping isn't visible (dark mode issue)

### Part of
- #513
- #684
### Screenshot
![Screenshot_20220512-171800.jpg](https://user-images.githubusercontent.com/39344769/168109821-7f3384d2-4e9d-4c0b-9741-34ea507b994d.jpg)

[2022-05-12 15:36] M123-dev commented on #1823
We decided to use the standard font since they are pretty similar

[2022-05-12 15:36] #1823 closed, assigned to nobody

[2022-05-12 15:59] teolemon commented on #1251
dots

[2022-05-12 16:30] AshAman999 commented on #1826
It probably needs some changes here #1800

Have you checked the changes for that pr on an actual device or emulator, sometimes emulator does give different results @vik4114,
Mind if possible you could have a look into this :smile:

[2022-05-12 16:34] vik4114 commented on #1826
Okay I will look into it.

[2022-05-12 19:32] teolemon opened #1829 "This app was built with the iOS 14.5 SDK. All iOS apps submitted to the App Store must be built with the iOS 15 SDK or later, included in Xcode 13 or later."
We identified one or more issues with a recent submission for TestFlight review for your app, "Smooth App" 0.0.3 (301). Please correct the following issues, then upload again.

ITMS-90725: SDK Version Issue - This app was built with the iOS 14.5 SDK. All iOS apps submitted to the App Store must be built with the iOS 15 SDK or later, included in Xcode 13 or later.

Best regards,

[2022-05-13 06:19] monsieurtanuki commented on #1829
That means at least "Big Sur" as OS.

[2022-05-13 06:21] monsieurtanuki commented on #1683
@teolemon I can start working on the "No category: we start from root" feature, can't I?
Or would we better off (haha) with a "type in/search category" feature?

[2022-05-13 07:48] teolemon commented on #1829
- We do run on mac os 11 already. Latest available release is 13.3.1. 13.2 installs ok. 13.3 or 13.3.1 seem problematic.
- Our build says: "[19:49:03]: Cannot find an installed Xcode satisfying '~> 13.3.1'"
- https://github.com/openfoodfacts/smooth-app/runs/6412494013?check_suite_focus=true
- https://xcodereleases.com/
- https://github.com/actions/virtual-environments/issues/3763

[2022-05-13 11:10] teolemon commented on #1683
Two are equally valid and complementary options.
Search might be slightly more useful in the short term given the wealth of categories

[2022-05-13 13:06] #1595 closed, assigned to g123k

[2022-05-13 13:24] monsieurtanuki commented on #1683
@teolemon Have you got some starting point suggestions for the "type in/search category" feature?

[2022-05-13 15:06] teolemon commented on #1683
We have the autosuggest API in the Dart package already, and then on click, you could load the partial taxo API matching the selected tag (thus no UI change needed for final validation)

[2022-05-13 15:28] monsieurtanuki commented on #1829
@teolemon I presume it's not 100% related to iOS (spoiler alert: it's never 0% related to iOS), as I've just managed to build and upload an app with Xcode 13.2.1 on Big Sur, with iOS 15.2 emulators.
I suspect it's "only" a library or a build parameter that needs 13.3.1.