[2022-05-13 15:39] teolemon opened #1831 "develop broken (/path_provider_mock.dart:5:8 • depend_on_referenced_packages)"
info • Depend on referenced packages • packages/smooth_app/lib/cache/files/file_cache_manager.dart:3:8 • depend_on_referenced_packages
   info • Depend on referenced packages • packages/smooth_app/lib/cache/files/file_cache_manager_impl.dart:5:8 • depend_on_referenced_packages
   info • Depend on referenced packages • packages/smooth_app/test/cache/cache_test.dart:4:8 • depend_on_referenced_packag

[2022-05-13 15:40] g123k commented on #1234
Hi,

A quick world after this morning's presentation, where the migration on Android is mostly OK.
**We can export credentials, history, and user lists from V1.**

- Lists (including history) are stored in an SQLite Database -> A fork of `sqflite` is used
- Credentials are based on `preferences`, but no Flutter Plugin allows the usage of a custom file -> Native code is used here

Regarding the arc

[2022-05-13 15:43] monsieurtanuki commented on #1831
During the flutter 3.0 migration I noticed that we needed to add explicit references in `pubspec.yaml`.
For instance, some packages were implicitly embedded in other packages, making optional an explicit reference to them.

[2022-05-13 16:41] teolemon opened #1832 "Irrelevant wording in settings"
### What
Irrelevant wording in settings. We should have something around: "Manage your Open Food Facts contributor account"

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/168328983-3470680a-2ae6-45e3-9b5c-483847590793.png)

[2022-05-13 16:46] teolemon opened #1833 "I should be able to see my username when logged in "Hello Teolemon""
### What

- I should be able to see my username when logged in "Hello Teolemon"
- Ideally, this should be visible at top level in settings and in this screen

### Why
- Have a more human app
- Know which account you're logged into
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/168329614-b631ae9d-87d5-4721-9e1e-44b9eb7ebc0f.png)

[2022-05-13 16:56] teolemon opened #1834 "Disable color accent in Dark mode"
### What

- [ ] Disable color accent in Dark mode, since it does nothing, or add a warning it's not compatible with dark mode

### Screenshot

![Image](https://user-images.githubusercontent.com/1689815/168331984-f4f7b376-247f-458a-be4b-92502fdea39b.png)

### Part of
- #960

[2022-05-13 18:43] teolemon opened #1835 "The Add or Refresh photo in Edit mode should open the full screen photo carousel (that will have edit buttons)"
### What
- Thanks to https://github.com/openfoodfacts/smooth-app/pull/1765, we now have refresh buttons
- The `Add or Refresh photo` in Edit mode should open the full screen photo carousel to enable people to refresh photos
### Part of
- #766

### Screenshot

[2022-05-13 18:45] teolemon opened #1836 "The full screen expansion of the carousel should have placeholders when we don't have a photo available"
### What

- The full screen expansion of the carousel should have placeholders when we don't have a photo available

### Part of
- #766

[2022-05-13 18:50] teolemon commented on #1632
Fixed on Android

[2022-05-13 18:50] #1632 closed, assigned to teolemon

[2022-05-13 19:10] g123k commented on #1233
On iOS, the username is available in the `UserDefault`.
The password is saved in `Keychain`, where the key is the username.
For history & lists, everything is on a Realm database.

[2022-05-13 20:03] teolemon opened #1837 "The camera stream is not released in some conditions"
### What

- The camera stream is not released in some conditions
- Note it's not possible to record the indicator
- It's properly released after going back to the scan screen
- It starts at the beginning of the video, no clear idea of the trigger yet

### Screenshot and video
https://photos.app.goo.gl/xsdCLKdYKvA6ALPWA
![Image](https://user-images.githubusercontent.com/1689815/168381104-b411f9b2-4

[2022-05-14 08:51] M123-dev opened #1839 "Camera starting after app refocus"
### What
https://user-images.githubusercontent.com/39344769/168418558-3afd3369-32c3-4971-9862-709dc2380e31.mp4

cc @g123k

[2022-05-14 08:56] g123k opened #1840 "Limit the length of history"
It seems there is no limit on how many products are saved in history.
We should implement a limit on this?

TODO: Discuss how many items (1000?)

[2022-05-14 08:57] g123k commented on #1839
I think it's related to #1837

[2022-05-14 10:02] teolemon commented on #1840
- What would be the WHYs on that ?
  - Performance in Flutter ?
  - The volume of queries during migration ?

[2022-05-14 10:09] M123-dev commented on #1840
What should we do if our fixed limit is reached?

Don't allow further items? - Probably best solution for normal lists.

But what if someone wants a bigger list

Implement some kind of LRU algorithm to remove unused items? - Probably best for history.

But how to inform the user that we removed a item, just because

-------

We had the same suggestion for limiting items in the scan carousel and I

[2022-05-14 10:09] g123k commented on #1840
This issue is only for Smoothie, nothing related to the migration itself.
But as the app grows, it's not a good behavior to keep many items in a history (only the recent items are necessary)

[2022-05-14 10:14] teolemon commented on #1749
- Closing in favor of https://github.com/openfoodfacts/smooth-app/issues/1829

[2022-05-14 10:14] #1749 closed, assigned to nobody

[2022-05-14 11:30] monsieurtanuki commented on #1840
I see those potential issues:
* for the moment, if we have a barcode in a list that means that we have the corresponding product in database too. Each time it's about 25Kb, for data that can be stalled. Potentially a lot a wasted space, that the user cannot currently remove (unless the whole app data is cleared)
* as we currently use `hive` for lists, we load all list contents (but not products, t

[2022-05-14 11:44] #1831 closed, assigned to M123-dev

[2022-05-14 11:58] bhattabhi013 commented on #1832
Hi @teolemon,
Please assign this issue to me.

[2022-05-14 14:46] #1832 closed, assigned to bhattabhi013

[2022-05-14 14:59] M123-dev commented on #1833
@teolemon we have no way to retrieve the username. Is there a endpoint for that

[2022-05-14 15:00] M123-dev commented on #1833
Or shall we just show the email if the user logged in via email

[2022-05-14 15:23] teolemon commented on #1833
probably fallback on email if no username is available
if email show:
Open Food Facts login: p@a.com
if username show:
Welcome teolemon,

We'll do smg better later

[2022-05-14 15:44] monsieurtanuki commented on #1683
@teolemon I know that's not what the mocks said but my brain does not understand the concept of multiple categories on the same tree, UI/UX-wise.

I suggest something similar to the website: the list of the current product categories, and the possibility to add a category with autocomplete.

Something like that:
![Capture d’écran 2022-05-14 à 17 43 26](https://user-images.githubusercontent.com/1

[2022-05-14 16:08] #1723 closed, assigned to cli1005

[2022-05-14 17:21] teolemon commented on #1826
![image](https://user-images.githubusercontent.com/1689815/168442131-c8e1eb52-5d7f-412f-87eb-e7ab9d2182de.png)

[2022-05-14 17:29] teolemon commented on #1683
I'm not sure I understand how I'm supposed to interact with this new mockup.
Here's for reference my last version, along with search:
![image](https://user-images.githubusercontent.com/1689815/168442420-fa182898-7de9-499c-9025-5a56e0f8db9e.png)

At this point of complexity, the solution we have in V1 (field with existing categories as chips, plus the ability to add more thanks to autocomplete) loo

[2022-05-14 17:31] teolemon commented on #1156
![image](https://user-images.githubusercontent.com/1689815/168442488-31bcc9c2-c22e-456a-ad2b-0835d45e1006.png)

[2022-05-14 20:08] #1826 closed, assigned to nobody

[2022-05-15 08:54] g123k commented on #1839
I've tried to simulate this behavior several times and I'm totally unable to reproduce it.
@M123-dev Could you confirm that it also affects debug builds?

[2022-05-15 08:59] g123k opened #1847 "Android: Activate autoBackup"
The current Android app (or V1) implements [autoBackup](https://developer.android.com/guide/topics/data/autobackup).
We should also provide the same kind of implementation for Smoothie.

[2022-05-15 09:42] g123k commented on #1833
We have the `user id` in the secure storage (cf `UserManagementProvider`)

[2022-05-15 10:06] teolemon commented on #1683
@monsieurtanuki I've made variants with Radio buttons, but I do believe multiple category selection should remain possible. The second one is in line with the idea that you'd have to pick just one category (removing the list of currently existing categories on a product).
<img width="357" alt="image" src="https://user-images.githubusercontent.com/1689815/168467442-29087580-5c9c-4451-8a98-c71f3cf5b

[2022-05-15 10:09] teolemon commented on #1683
Also, in the case of single category selection, I'm not sure how we're supposed to handle the thousands of products who do have multiple categories.

[2022-05-15 10:36] teolemon commented on #1819
Looks like a good option @stephanegigandet

[2022-05-15 11:40] teolemon commented on #1815
How important/urgent is this ?

[2022-05-15 11:56] M123-dev commented on #1833
User id can be both Email and username

[2022-05-15 11:57] M123-dev commented on #1815
As long as there aren't any problems not important

[2022-05-15 13:01] M123-dev commented on #1815
It's probably connected with some refactoring so let's postphone after the release

[2022-05-15 13:36] g123k opened #1850 "Overflow on the walkthrough"
With the new UI for the food preferences, we now have a small overflow for the last choice:
![Screenshot_1652620659](https://user-images.githubusercontent.com/246838/168475698-f843c0f8-93a4-40cc-be52-27a8d7472bb6.png)

[2022-05-15 13:51] g123k opened #1851 "User lists: FAB with an incorrect color"
In profile -> Lists, the FloatingActionButton is green whereas this color isn't in the design system
<img width="394" alt="Screen Shot 2022-05-15 at 15 50 24" src="https://user-images.githubusercontent.com/246838/168476362-a49e0c7c-cf89-4083-ac01-e1acd388a181.png">

[2022-05-15 13:54] g123k opened #1852 "Create a new list: autofocus required"
When we want to create a new list, the keyboard should automatically be visible.
Here is the current behavior:

https://user-images.githubusercontent.com/246838/168476485-e2d58f1b-d0bf-4aa1-ba23-aae0fa3ede74.mp4

[2022-05-15 14:09] g123k commented on #1837
That one is annoying me, as I'm unable to reproduce it 🤨
In debug mode, is the issue reproducible?

[2022-05-15 14:17] g123k commented on #1682
I think we can close this issue, isn't-it?

[2022-05-15 14:20] g123k commented on #1427
With #1781, these formats are only accepted now:

[code]

Is-it still an issue?

[2022-05-15 14:22] g123k opened #1855 "Regression: the selected country is not highlighted"
With the new country selector, the selected item is not in bold.

![Screenshot_1652624464](https://user-images.githubusercontent.com/246838/168477634-48adef79-5be8-4a25-8d10-051d0d6ae654.png)

[2022-05-15 15:07] g123k commented on #1833
For the main page, is this design OK or do you want something different?
![Screenshot_1652627204](https://user-images.githubusercontent.com/246838/168479777-4f4e0b11-8260-45cc-b550-662f0fe033f9.png)

[2022-05-15 15:38] M123-dev commented on #1833
I have to say I find it somewhat confusing to see this Header in the same Font, Size, Color as the clickable tiles below. It should either really stand out or what I would prefer be merged with the Profile list tile

[2022-05-15 19:03] g123k opened #1856 "Translation without argument"
The sentence "You've downloaded all the $totalSize products" seems to have an issue with the variable.

![Screenshot_1652640742](https://user-images.githubusercontent.com/246838/168489548-337a506b-4784-4052-937d-597d17990b63.png)

To reproduce: use the US country and search for "Cristaline"

[2022-05-16 07:22] monsieurtanuki commented on #1683
@teolemon Would you prefer something like this?
![Simulator Screen Shot - iPhone 8 Plus - 2022-05-16 at 09 22 15](https://user-images.githubusercontent.com/11576431/168539923-82175b1e-6270-47d7-8dc5-b93f8c27522f.png)

[2022-05-16 12:43] g123k opened #1861 "Camera: prefer pause/resumePreview over recreating a Controller every time"
After digging a little bit in the Camera API, it seems we can improve our code.

Right now, every time the screen is hidden, the camera is completely dismissed (hence the black screen when reopening-it).
But, there is a pause/resume feature (`pausePreview` / `resumePreview`).
I am uncertain if it changes drastically how the app behaves, but may reduce the time to relaunch the camera.

[2022-05-16 12:55] g123k opened #1862 "setState() or markNeedsBuild() called during build."
When opening a product from the history, I have the following error:

[code]

### How to reproduce
1. Open the history list
2. Click on a product

[2022-05-16 13:16] monsieurtanuki commented on #1862
Managed to reproduce it. Working on it.

[2022-05-16 13:29] teolemon commented on #1526
Let's do the simple version, with just a link to Food Preferences

[2022-05-16 13:38] g123k opened #1863 "Text overflowing while searching for products in the same category"
The title of the loading view (with similar products) is:
- Below the status bar
- Over the Back button

### Steps to reproduce the behavior
1. Open the Nutella product
2. Click on 'Compare to Category'

![vlcsnap-2022-05-16-15h35m10s378](https://user-images.githubusercontent.com/246838/168605314-d2c3ab50-21c4-43c0-b759-bf30506cffe7.png)

[2022-05-16 13:41] g123k opened #1864 "Misaligned AppBar Widgets"
### What
The similar products screen has an AppBar with:
- Misaligned back arrow
- Misaligned Filters button

### Steps to reproduce the behavior
1. Open a product
2. Click on 'Compare to category'
3.
![Screenshot_1652708361](https://user-images.githubusercontent.com/246838/168606075-bcda875f-bf1c-4a0e-9f2a-c1e4d08b6e0d.png)

[2022-05-16 14:00] g123k commented on #1839
Finally found the issue -> resuming for app lifecycle and visibility are two different things
The error is that the camera is restarted when app lifecycle = resume.
I will change that behavior

[2022-05-16 14:23] g123k opened #1867 "Black screen camera after Onboarding"
### What
- After the onboarding, the camera goes on for a few seconds, then is black and will never restart

[2022-05-16 14:56] cli1005 commented on #1196
The problem is that the scanner(google_ml_barcode_scanner) detects the real barcode type of this EAN13 is UPC-A since it begins with 0, so even we scan a EAN13, it returns a Barcode of type UPC-A without the first zero.

It seems that products added with an UPC-A code would be stored on server with a code on EAN13 format(returned by OFF client with EAN13 code), is that true? if it is true, we migh

[2022-05-16 15:01] M123-dev commented on #1526
Shouldn't this be assigned to @Pualoo or is @cli1005 already working on it

[2022-05-16 15:15] cli1005 commented on #1455
One little, silly maybe 😄  question,  Why we should make these texts no selectable?

[2022-05-16 15:20] g123k commented on #1867
It seems that the way to fix this is to have a singleton for the `CameraController`

[2022-05-16 16:14] bhattabhi013 commented on #1851
Hi @teolemon,
Please assign this issue to me.

[2022-05-16 16:59] teolemon commented on #1455
We noticed regression in tapability when we made them selectable.

[2022-05-16 19:25] #1856 closed, assigned to g123k

[2022-05-16 19:26] #1855 closed, assigned to g123k

[2022-05-16 19:41] M123-dev commented on #1817
Here not visible as they cannot be directly clicked from the carousel

![Screenshot_20220516-213832.jpg](https://user-images.githubusercontent.com/39344769/168669382-e03dde42-9881-4e73-b687-1662517b3ec2.jpg)

Here visible as they can be clicked

![Screenshot_20220516-213837.jpg](https://user-images.githubusercontent.com/39344769/168669465-0320df3e-267a-4484-953e-8c700ab0a4f6.jpg)

Here visible as

[2022-05-16 19:46] #1847 closed, assigned to g123k

[2022-05-16 20:12] sentry[bot] opened #1869 "_Exception: Exception: Isolate stopped"
Sentry Issue: [SMOOTHIE-VE](https://sentry.io/organizations/openfoodfacts/issues/3268441139/?referrer=github_integration)

[code]

[2022-05-16 20:13] sentry[bot] opened #1870 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-VD](https://sentry.io/organizations/openfoodfacts/issues/3268441133/?referrer=github_integration)

[code]

[2022-05-16 20:15] M123-dev commented on #1806
Doesn't happy very often, but we have this error regularely since 4 months. Maybe it's not on us to fix it, but even if not we should catch it

[2022-05-16 20:16] sentry[bot] opened #1871 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-TV](https://sentry.io/organizations/openfoodfacts/issues/3137397957/?referrer=github_integration)

[code]

[2022-05-17 07:53] cli1005 commented on #1196
I created a PR which will fix this issue, I have tested as well adding new products with UPC-a code to make sure that the product will be added correctly with this fix.

[2022-05-17 08:14] g123k commented on #1833
Indeed, any suggestion for the UI?

[2022-05-17 08:22] g123k commented on #1869
Is-it me or there is no stacktrace on this issue?

[2022-05-17 09:35] teolemon opened #1875 "App not responding + Black screen on a smartphone with microG"
### What
- App not responding + Black screen on a smartphone with microG (Aurora)
- Not sure if correlated, but got request from Edouard to file
- https://photos.app.goo.gl/UvGWBhUnX3MMv7r3A

[2022-05-17 14:01] g123k commented on #1875
Ok thanks for the video @teolemon.
So it seems that #1867 is the root issue

[2022-05-17 14:03] M123-dev commented on #1869
No stacktrace indeed but it seems to happen directly after

`screen: MainActivity,
state: paused`

[2022-05-17 17:27] teolemon commented on #1875
What happens if we don't have GMS at all ?

[2022-05-17 17:37] teolemon commented on #1875
I tried  https://appetize.io/  and it keeps crashing at startup

[2022-05-17 17:55] #1867 closed, assigned to g123k

[2022-05-17 18:17] #1808 closed, assigned to M123-dev

[2022-05-17 18:25] g123k commented on #1875
We use another library called QRCodeScanner

[2022-05-17 18:34] g123k opened #1880 "Outdated play-services-mlkit-barcode-scanning dependency"
### What
We use a forked version of [google_ml_barcode_scanner](https://github.com/cli1005/google_ml_barcode_scanner) because the maintainer never answered @cli1005's PR.

In addition, the dependency used is outdated. Eg on Android: `com.google.android.gms:play-services-mlkit-barcode-scanning:16.2.1`, whereas the latest version is 18.0.0 and [brings](https://developers.google.com/ml-kit/release-no

[2022-05-17 18:52] M123-dev commented on #1880
I wouldn't add it to smoothie as it's not a smoothie own feature and would probably add 1k+ lines, but having a maintance fork would be good

[2022-05-17 19:16] mse-moises commented on #1864
Can i take this one?

[2022-05-17 19:24] #1839 closed, assigned to g123k

[2022-05-17 19:24] #1837 closed, assigned to g123k

[2022-05-17 19:24] #1861 closed, assigned to g123k

[2022-05-17 19:37] M123-dev commented on #1864
Sure @mse-moises

[2022-05-17 21:01] g123k opened #1882 "Create a ZXing (MLKit-free) build for F-Droid"
### What

- [ ] Create a blob free version of the app that we can deploy to F-Droid
  - [ ] Remove MLKit
  - [ ] Ensure whether we need to tweak Sentry or not

### Part of
- #2515

### Initial message by @g123k
Hi everyone,

Smoothie has two dependencies to manage barcode decoding: `google_ml_barcode_scanner` (MLKit) and `qr_code_scanner` (ZXing). For both cases, the engine is embedded in our app.

[2022-05-17 21:27] #1504 closed, assigned to mse-moises

[2022-05-18 05:49] #1862 closed, assigned to monsieurtanuki

[2022-05-18 06:45] M123-dev commented on #1882
When switching back to ML Kit we left in ZXing for two reasons: 1. Comparing them, I'd say that's done and 2. To allow publishing in stores like fDroid

But first most stores like these from Amazon or Samsung don't really care if we include ML Kit or not. The only one I know of is FDroid.
V1 is on there so the initial plan was to also release it there but that's not a priority.

If there is a way

[2022-05-18 08:17] stephanegigandet commented on #1196
The OFF API returns the product data for both:

https://world.openfoodfacts.org/api/v2/product/0042563008123.json
https://world.openfoodfacts.org/api/v2/product/042563008123.json

So even if mlkit removes the first 0, it should work.

It's probably best to not do normalization on the client (as it may change on the server).

[2022-05-18 08:28] #1455 closed, assigned to cli1005

[2022-05-18 08:47] cli1005 commented on #1880
It seems that issues of code 128B 128C are not the same as UPC-A, but it is great if we could update the dependency, I just have a little question, will it work on ios as well 😄 ?

[2022-05-18 08:49] g123k commented on #1880
Yes it will.
Ok then I fork the project as an OFF one

[2022-05-18 09:09] g123k commented on #1833
Any suggestions for the UI @teolemon or @M123-dev?

[2022-05-18 09:14] g123k commented on #1581
This issue should be solved directly in https://github.com/openfoodfacts/google_ml_barcode_scanner

[2022-05-18 10:11] teolemon commented on #1833
![image](https://user-images.githubusercontent.com/1689815/169015660-5d7bf5fc-7f81-4176-95a7-1746d972339f.png)

[2022-05-18 10:12] teolemon commented on #1833
We can obviously drop the openfoodfacts-events part

[2022-05-18 10:17] M123-dev commented on #1880
@g123k I just rememberd we  are actually not using the real plugin, but a fork of it, which we used to keep the bundle size small as the main package included all ml-kit features not just barcode scanning.

Looking at the main package [google_ml_kit](https://pub.dev/packages/google_ml_kit) it looks like he now split them up himself, so we can go back to using it. Also it well maintained (last upda

[2022-05-18 10:23] g123k commented on #1882
What’s our déploiement goal for B1 and upcoming releases?
Only Google Play? Fdroid?

[2022-05-18 10:23] g123k commented on #1882
@teolemon What’s our déploiement target for V1 and upcoming releases?
Only Google Play? Fdroid?

[2022-05-18 10:26] g123k commented on #1880
Ok let me test with this plugin instead
I put my PR on hold

[2022-05-18 10:53] teolemon commented on #1882
Only Google Play, but it'd be cool to figure out fdroid after that

[2022-05-18 11:09] g123k commented on #1882
Ok, so here is the plan:

- For 1.0.0:
  - Embedded MLKit for Android
  - Embedded MLKit for iOS

- For the upcoming release (let's say 1.1.x):
  - Embedded MLKit for Android - Google Play
  - Zxing for Android - Non GMS compliant stores (eg: FDroid)
  - Embedded MLKit for iOS

Is-it OK for everyone?

[2022-05-18 11:15] teolemon opened #1885 "Change the Smoothie icon to the final icon"
- [ ] Change the Smoothie icon to the final icon
- [ ] https://github.com/openfoodfacts/smooth-app/tree/a123a6d061bf6be78a9b8894038176823e5080af/packages/smooth_app/assets/app

[2022-05-18 11:15] monsieurtanuki commented on #1882
Understood, though I'm not convinced the energy spent there will be worth the trouble. For the Android app, how many downloads from Google Play and from FDroid?

[2022-05-18 11:17] M123-dev commented on #1885
Is there a final icon

[2022-05-18 11:48] g123k commented on #1885
Also don't forget to split the background & foreground for Android.

I'm pretty sure Android 13, won't be ready when the app will launch, but we will also need a [monochrome version](https://developer.android.com/about/versions/13/features#themed-app-icons) in the future.

[2022-05-18 11:54] teolemon commented on #1882
We want a fully free version to be available for F-Droid and FOSS (Open Food Facts is about Open Source).
In V1, we actually allow users to opt-in into ML Kit, since there are terms and conditions.
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/3836

    <string name="preference_choose_scanner_dialog_title"><b>New: Enhanced “MLKit” scanner</b></string>
    <string name="preference_

[2022-05-18 12:10] g123k commented on #1880
Everything works like a charm with the new dependency. Excellent idea @M123-dev!

I will create a new PR to make the switch.
It also already uses the latest version (18.x is for the non-embedded version)

Note: the cropped image algorithm is still crashing on iOS

[2022-05-18 12:34] monsieurtanuki commented on #1882
Regarding app size in general as in OP, maybe we could get rid of external packages that we don't use often.
For the record, those are all the external packages we use:
[code]

[2022-05-18 12:51] g123k opened #1888 "Remove unused dependencies"
Quoted from @monsieurtanuki in #1882

_Originally posted by @monsieurtanuki in https://github.com/openfoodfacts/smooth-app/issues/1882#issuecomment-1129950841_

[2022-05-18 12:53] g123k commented on #1882
Excellent idea @monsieurtanuki.
I have created a [dedicated issue](https://github.com/openfoodfacts/smooth-app/issues/1888).

- Should also be followed by #1824

[2022-05-18 13:20] teolemon commented on #1885
https://user-images.githubusercontent.com/1689815/169048435-64685ca0-ff21-41e0-a873-80afa2e6d5ae.svg

[2022-05-18 16:21] #1880 closed, assigned to nobody

[2022-05-18 19:05] g123k opened #1892 "Camera never restarts"
If for some reason, another app claims the Camera on Android, Smoothie will never be able to launch it again.
The reason is simple: when the `resumePreview` is generating an error, no information is sent back to the Dart code.

I have created a [PR on the official Flutter repository](https://github.com/flutter/plugins/pull/5785).
Before waiting the approval/release of the dependency, I will use th

[2022-05-18 20:19] teolemon opened #1893 "> Can we update the font to Plus Jakarta Sans ? @M123-dev"
That shouldn't be a problem @teolemon but let's do it in another PR

_Originally posted by @M123-dev in https://github.com/openfoodfacts/smooth-app/issues/1889#issuecomment-1130242741_

[2022-05-19 08:21] stephanegigandet opened #1894 "Implement new algorithm to compute how products match users food preferences -- being tested on OFF website"
### Problem

Determining if a product matches (and how well it matches) users food preferences is a complex topic (especially as some preferences can be "hard" requirements (e.g. absolutely no gluten or strict vegan diet) or just preferences (e.g. I prefer to eat vegetarian and organic products), and we often have incomplete product information (e.g. if we didn't recognize all ingredients, we can'

[2022-05-19 10:10] stephanegigandet opened #1895 "Remove down arrow in the title of opened knowledge panels (or put an up arrow that closes it)"
When a panel is opened, we still show the down arrow, and nothing happens when we click on it.

![image](https://user-images.githubusercontent.com/8158668/169269432-8063822e-45b6-42ff-a285-10ed8dcc3552.png)

[2022-05-19 10:21] stephanegigandet opened #1896 "Make attribute + knowledge panels title cards less round (as designed in Figma)"
Attribute and knowledge panels title cards have a very round background, whereas the design in Figma is much less rounded.
The large rounding for the health etc. cards should be kept.

Current version of Smoothie:

![image](https://user-images.githubusercontent.com/8158668/169270673-d27c2479-0c38-4198-a606-eb8c1c5fdd17.png)

Design in Figma (corner radius: 8)

![image](https://user-images.githubus

[2022-05-19 10:29] M123-dev commented on #1895
https://github.com/openfoodfacts/smooth-app/issues/1817

[2022-05-19 11:20] teolemon commented on #1895
- Closing as duplicate of #1817

[2022-05-19 11:20] #1895 closed, assigned to nobody

[2022-05-19 11:38] teolemon commented on #1829
Fixed https://github.com/openfoodfacts/smooth-app/blob/071c567482ef54c9d704a48dd0de5b06ebc47c54/packages/smooth_app/ios/fastlane/Fastfile#L5

[2022-05-19 11:38] #1829 closed, assigned to nobody

[2022-05-19 11:48] teolemon commented on #1301
I believe this is fixed ?

[2022-05-19 12:56] g123k commented on #1875
#1897 fixes a deadlock, which may (also) solve this issue

[2022-05-19 13:29] monsieurtanuki commented on #1894
@stephanegigandet My remarks:
* for the moment we have only 3 statuses (yes, no, unknown) and here we'll switch to 5 (new colors, new labels)
* the display will be (in light mode)
  * Foreground: white
  * "Very good match 88/100": #009458
  * "Good match 70/100": #5da92d
  * "Poor match 48/100": #ce8c26
  * "Unknown match 45/100": #4f4f4f
  * "May not match 43/100": #e77128
* if needed, we can al

[2022-05-19 14:04] monsieurtanuki commented on #1894
Btw there's a value missing in the screenshot: "Does not match"
* would that include a percentage like the other titles?
* what is the corresponding color?

[2022-05-19 14:39] monsieurtanuki commented on #1894
@stephanegigandet I think there's a flaw in the algorithm: you loop on the product attributes, and then see if they match with the preferences. That should be the other way around, shouldn't it?

Like, some product contains meat but doesn't say anything about that, and I'm a strict "mandatory" vegetarian. As a vegetarian I should be warned that some of my mandatory choices are potentially not fulf

[2022-05-19 15:14] stephanegigandet commented on #1817
It could make sense to differentiate the 2 cases:

1. The title card is not clickable because it's already showing all its content inline or it does not have associated content (e.g. some attributes don't have an associated panel).

2. We have an opened knowledge panel and we display the title card at the top, followed by its content. (the case of bug #1895). --> In this case, it could be logical

[2022-05-19 15:40] stephanegigandet commented on #1894
Hi @monsieurtanuki

The colors are a bit off, did you take them from the screenshot? I think GitHub or my browser changed them slightly.

I used the same colors as the A to E grades:

$grade-a-color: #219653;  = Very good match
$grade-b-color: #60ac0e; = Good match
$grade-c-color: #c88f01; = Poor match
$grade-d-color: #e07312; = May not match
$grade-e-color: #eb5757; = Does not match  --> Score is

[2022-05-19 15:59] M123-dev opened #1898 "Focus point is still in center"
### What
https://user-images.githubusercontent.com/39344769/169345163-bff8f0cb-2df7-44ad-ad34-9717b66df642.mp4

[2022-05-19 16:01] stephanegigandet commented on #1894
All products have all attributes computed (with the exception of the Eco-Score and forest footprint that are not available in all countries), so we can loop on all attributes and check their setting.

I think it's easier to do it like this because the API returns attributes in attribute groups.

For the Dart implementation, I think it's best to mimick exactly the Javascript implementation, it will

[2022-05-19 16:02] M123-dev opened #1899 "Language selection breaks app"
### What
https://user-images.githubusercontent.com/39344769/169345706-7cc23ccb-53d0-474e-be5c-9304c730354a.mp4

[2022-05-19 16:02] M123-dev commented on #1899
In debug mode

![Screenshot_20220519-165142.jpg](https://user-images.githubusercontent.com/39344769/169345847-d06a76d7-31ec-42cb-8eea-f5c3fd3e82f5.jpg)

[2022-05-19 16:03] M123-dev commented on #1899
Any idea @UgoKo-Rubeast

[2022-05-19 16:21] monsieurtanuki commented on #1894
Thank you @stephanegigandet for your comments.

It's easier but not safe: _you_ know "All products have all attributes computed" but I'm rather skeptical (not about the current state of the devs but about future bad luck events or additional optional attributes).
If you don't mind I'll keep the logic coded in `js` but I'll add some checks in the end, which will probably focus only on "mandatory" p

[2022-05-19 16:33] M123-dev opened #1900 "Round the load more products in search button"
It should be round as the other buttons, probably one of our own pre-made ones.

![Screenshot_20220519-183113.jpg](https://user-images.githubusercontent.com/39344769/169351581-8cdd6974-4ef1-49f6-90ff-8a26abe09024.jpg)

[2022-05-19 16:34] M123-dev commented on #1900
Or the pagination should be automatic

[2022-05-19 16:44] #1234 closed, assigned to g123k

[2022-05-19 17:04] #1892 closed, assigned to g123k

[2022-05-19 17:06] #1850 closed, assigned to g123k

[2022-05-19 17:32] g123k opened #1901 "iPad : The camera doesn't take the full size"
There is an issue with the camera preview on iPad (here a 10")
![IMG_0076](https://user-images.githubusercontent.com/246838/169359801-b1a0df31-4683-4a3b-b458-03f17e903ad6.PNG)

[2022-05-19 17:58] monsieurtanuki commented on #1894
@stephanegigandet Is https://github.com/openfoodfacts/openfoodfacts-server/blob/main/html/js/product-search.js the code that is actually running on the website?

I'm a bit puzzled because I don't see how you can get a non-zero score with only a mandatory attribute.

Correct me if (when) I'm wrong:
* the score is 95% computed with that single line - `score += attribute.match * attribute_factor;`
*

[2022-05-19 19:25] M123-dev commented on #1840
@monsieurtanuki

I don't have a problem with that, I think the idea of ​​web support has been forgotten for now. In terms of performance, it almost only has advantages. The only question is how long that would take, and how hard the switch is. Since the release is just around the corner, around 1 to 2 weeks at most.

It's probably smart to switch beforehand, but not if it causes any bugs after shi

[2022-05-19 19:42] #1834 closed, assigned to M123-dev

[2022-05-19 19:51] teolemon opened #1902 "iOS history update not working (Still logged in)"
### What
iOS history update not working (Still logged in)
### Video

https://user-images.githubusercontent.com/1689815/169391818-4345a493-609e-4201-b947-272cfb76235d.MP4

[2022-05-20 01:53] UgoKo-Rubeast commented on #1899
@M123-dev
Thank you for your reporting. Please check it if you have time.

# Cause

It seems 52 languages below defined in the `AppLocalizations.supportedLocales` are not supported in flutter. I think this causes the error.

[code]

[supported languages in flutter](https://api.flutter.dev/flutter/flutter_localizations/GlobalMaterialLocalizations-class.html)

# Solutions

## Only show supported lan

[2022-05-20 06:02] monsieurtanuki commented on #1894
@stephanegigandet Aha! I've just compared the ["github" code](https://github.com/openfoodfacts/openfoodfacts-server/blob/main/html/js/product-search.js) with the [current web code](https://openfoodfacts.org/js/product-search.js), and the only code difference is that on the website the `preferences_factors` is `2` (and not `0`) for `mandatory`, which fixes the bug I mentioned in my previous post.

[2022-05-20 07:29] stephanegigandet commented on #1894
Hi @monsieurtanuki , you are right, I made changes yesterday following some feedback on Slack, as indeed it was incorrect to have 0 weight for the mandatory items.

Yes, this is all correct. With the addition that if the setting is "does not match", we set the final score to 0.

[2022-05-20 07:37] monsieurtanuki commented on #1894
Thank you @stephanegigandet for your answer. I'm about to PR on off-dart.

Some additional potential bug: in your code, when the attribute is mandatory and the status is unknown, you set a variable to "status=unknown" but you don't reuse it later. For the record you do similar tests with "very bad score => does not match" and "bad score => may not match", and use the result later with `product.att

[2022-05-20 07:38] stephanegigandet commented on #1894
For reference, yesterday's change for setting mandatory to 2 (unmerged yet, but deployed on the website) : https://github.com/openfoodfacts/openfoodfacts-server/pull/6797

[2022-05-20 07:43] stephanegigandet commented on #1894
Where is that exactly?

In this code?

`{

					var attribute_factor = preferences_factors[attribute_preference];
					sum_of_factors += attribute_factor;

					if (attribute.status === "unknown") {

						sum_of_factors_for_unknown_attributes += attribute_factor;

						// If the attribute is mandatory and the attribute status is unknown
						// then mark the product status unknown

						if (at

[2022-05-20 07:47] monsieurtanuki commented on #1894
@stephanegigandet Indeed:
[code]
You don't reuse it later like you do there:
[code]
I expected something like that:
[code]

[2022-05-20 08:25] g123k opened #1903 "iOS: Back button not centered"
On the product page, and only on iOS, the back icon is not centered in the blue/purple button.

![IMG_0077](https://user-images.githubusercontent.com/246838/169486824-d2f0e348-2f91-454a-8bfc-03d6aa6584e7.PNG)

[2022-05-20 08:32] stephanegigandet commented on #1894
Thank you very much @monsieurtanuki , it is a bug indeed, I'm fixing it.

[2022-05-20 08:37] monsieurtanuki commented on #1903
@g123k That's correct: we've recently switched to the official back button icon, that is used in `AppBar` for instance:
[code]

As it's actually not centered and therefore not 100% satisfactory for a FAB, I'm about to switch back to the previous version (`CupertinoIcons.back` instead of `Icons.arrow_back_ios`) in a PR.

[2022-05-20 09:48] #1903 closed, assigned to monsieurtanuki

[2022-05-20 11:28] M123-dev commented on #1899
Heyy, thanks for the quick answer @UgoKo-Rubeast interesting, I thought that's its a bug in our logic as it happend twice to me. One debug build and one production build and on both I just randomly tapped on one language.

Yeah we don't need support for the other languages, at least now. We should only show the supported ones.

[2022-05-20 11:38] teolemon opened #1906 "the retake button should be immediately accessible on the Refresh photos feature"
### What

- [ ] the retake button should be immediately accessible (and not hidden behind the crop button and then the checkbox)

### Quick mockup
(Icon on the left, text on the right, material icons of course, not emojis 🙃 )
![image](https://user-images.githubusercontent.com/1689815/170831972-7547ccba-6184-4508-b052-e38cf096eb41.png)

### Video
- https://photos.app.goo.gl/yzzjKyQ9iP1N67RQA

[2022-05-20 11:55] M123-dev opened #1907 "Knowledge Panel clickable in scanner"
### What
- KnowledgePanel is clickable but is not
- It should not be clickable

https://user-images.githubusercontent.com/39344769/169523057-012dcf87-0552-400c-8bde-4a3d1f6194c8.mp4

[2022-05-20 14:09] g123k commented on #1898
Just to be sure, @M123-dev could you run the example project from the camera library?
https://github.com/flutter/plugins/tree/master/packages/camera/camera

And are the results better than in Smoothie? The code seems to be the same, but we never know

[2022-05-20 16:54] teolemon opened #1911 ""Lists" doesn't seem properly translatable"
### What
- https://crowdin.com/translate/openfoodfacts/1672/en-fr?filter=basic&value=0#q=lists
- ![image](https://user-images.githubusercontent.com/1689815/169576054-cfa1297b-2466-47be-a29d-7832c123e32d.png)

[2022-05-20 16:55] teolemon opened #1912 "Overflow in settings"
### What
Seen this morning on Gala's phone. Not sure if it was up to date
### Screenshots
![image](https://user-images.githubusercontent.com/1689815/169576326-c8e4b09b-377f-4884-af21-5c714e8c8363.png)

[2022-05-20 19:50] #1820 closed, assigned to cli1005

[2022-05-20 19:51] #1901 closed, assigned to g123k

[2022-05-20 20:39] #537 closed, assigned to teolemon

[2022-05-20 20:41] teolemon commented on #495
We completed many of the goals listed for the fellowship :-)

[2022-05-20 20:41] #495 closed, assigned to nobody

[2022-05-20 20:42] teolemon commented on #674
Closing, as we now have some native editing

[2022-05-20 20:42] #674 closed, assigned to nobody

[2022-05-20 20:45] teolemon commented on #655
Going to close, as we fixed everything there, with some rare individual issues remaining open 👍

[2022-05-20 20:45] #655 closed, assigned to nobody

[2022-05-20 20:45] #539 closed, assigned to nobody

[2022-05-20 20:46] teolemon commented on #1073
Fixed 👍

[2022-05-20 20:46] #1073 closed, assigned to monsieurtanuki

[2022-05-20 20:48] #1301 closed, assigned to nobody

[2022-05-20 20:54] teolemon commented on #1833
@g123k your initial mockup was already good, btw

[2022-05-20 21:12] monsieurtanuki commented on #1912
@teolemon Not fixed.

[2022-05-20 21:14] #1851 closed, assigned to bhattabhi013

[2022-05-20 21:24] monsieurtanuki commented on #1894
If someone feels like coding that tomorrow Saturday 21st, be my guest:
* `openfoodfacts: ^1.17.0`
* use new classes `MatchedProductV2` and `MatchedProductStatusV2`
* we should get rid the lenient match / strong match tap dancing, and just keep one version, the one coded in off-dart (V2)
* deep impact (simplification actually) on `smooth_matched_product.dart`
* 6 new labels (cf. the current thread)

[2022-05-21 08:11] teolemon commented on #1251
I have added the reference implementation from v1

[2022-05-21 09:49] teolemon opened #1916 "Add a message about the benefits of the Open Food Facts account"
### Problem
- It's not clear what are the advantages of having an account are

### Solution
- Add a message about the benefits:
  - Being a part of food transparency, and being able to contribute
  - Getting credits for your Open Food Facts contributions

### Mockups
![image](https://user-images.githubusercontent.com/1689815/169645939-aaf10b24-7902-434e-b36f-f6eba925fc9a.png)

### Part of
- #561

[2022-05-21 09:51] teolemon opened #1917 "Add a message about the impact of your food preferences"
### What

- Add a message about the impact of your food preferences
  - The scan card will show the criteria you care about
  - A compatibility summary is shown on top of the card, with your preferences

### Current state screenshot
![image](https://user-images.githubusercontent.com/1689815/169646034-35d29c99-76b3-4b88-b2dc-359e79337a01.png)

[2022-05-21 09:52] teolemon opened #1918 "Make preferences less intimidating by only opening one section at a time"
### What
- Make preferences less intimidating
- One section should be open at a time

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/169646098-65933961-f930-415f-9fa7-3edde8126aa8.png)

[2022-05-21 10:05] #1899 closed, assigned to nobody

[2022-05-21 19:35] #1911 closed, assigned to monsieurtanuki

[2022-05-22 07:01] monsieurtanuki commented on #1894
Working on it today.

[2022-05-22 12:19] #1912 closed, assigned to monsieurtanuki

[2022-05-22 13:57] #1902 closed, assigned to g123k

[2022-05-22 14:12] teolemon opened #1925 "Product page refresh bugs (tracker)"
### What
- Tracking all bugs related to the Product page not being refreshed after editing
- #2439
- #2595
#### Done
- [x] #1926
- [ ] #1722
- [x] #1927
- [x] #1928
- [x] #1929
- [x] #1670

### Why
- People feel their edit hasn't been taken into account
### Part of
- #379
- #1325

[2022-05-22 15:51] g123k commented on #1251
A few questions regarding the implementation:
- At which frequency, a request should be sent? Once per app lifecycle?
- What's the TTL of the message (underneath question being: should we cache it)
- Should we open the browser directly? or an in-app webview?

[2022-05-22 16:37] g123k commented on #1875
I think we can close this issue now, isn't-it @teolemon?

[2022-05-22 16:48] teolemon commented on #1251
@alexgarel

[2022-05-22 16:53] teolemon opened #1926 "The carrousel isn't refreshed after recropping and sending photo (video incoming)"
### What
### Part of
- #1925

[2022-05-22 16:53] teolemon opened #1927 "The product page isn't updated after adding basic details"
### What
- The product page isn't updated after adding basic details (video incoming)
### Part of
- #1925

[2022-05-22 16:53] teolemon opened #1928 "The product page isn't updated after adding ingredients"
### What
- The product page isn't updated after adding ingredients (video incoming)
### Part of
- #1925

[2022-05-22 16:53] teolemon opened #1929 "The product page isn't updated after adding nutrition"
### What

- The product page isn't updated after adding nutrition (video incoming)

### Part of
- #1925

[2022-05-22 17:02] teolemon commented on #1251
@g123k : I'd want messages are typically updated monthly, especially since we now have the means to communicate more.
It's also a way to get a volumetry of app openings that's more accurate than matomo

[2022-05-22 17:05] g123k commented on #1251
@teolemon So no cache, and a refresh on every app startup?

--

And I don't know if that's possible, but sending the language as a parameter would be far better, than parsing the whole file :)

[2022-05-22 17:10] g123k commented on #1682
@teolemon I think we can close this issue for Android

[2022-05-22 17:15] g123k opened #1930 "Improvements for the camera"
Well… it seems the camera and the scanner work better now 🥳
But a few features could still be implemented to improve the app experience:

- [x] Allow playing a "beep" sound on new scans (disabled by default) #2197
- [ ] Ignore barcodes detected under the carousel
- [x] ~~Offer a "touch-to-refocus" feature~~

[2022-05-22 17:33] #1917 closed, assigned to monsieurtanuki

[2022-05-22 18:31] M123-dev commented on #1682
Is this feature tested

[2022-05-22 18:38] #1708 closed, assigned to g123k

[2022-05-22 18:38] #1885 closed, assigned to M123-dev

[2022-05-22 18:44] teolemon commented on #1875
Probably, closing for now, and will reopen if impacted user tells me otherwise.

[2022-05-22 18:44] #1875 closed, assigned to nobody

[2022-05-22 19:07] teolemon opened #1931 "Issue with the new icon"
### What
- Issue with the new icon

### Part of
- #1171

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/169711735-da4fb17f-60f4-4119-8971-85f868a03d48.png)

[2022-05-22 19:09] teolemon opened #1932 "Pluralization issue in French"
### What
- Pluralization issue in French
- https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/l10n/app_fr.arb#L1099
### Part of
- #525

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/169711776-8c9fc5cb-2405-434b-b387-a1d1f1542285.png)

[2022-05-22 19:13] teolemon opened #1934 "Duplicated text in onboarding"
### What
- Duplicated text in onboarding, this is due to the fact that we added a permanent text in the Food Preferences

### Part of
- #561

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/169711956-1df32983-3ef0-4c44-a755-61f1367a31c7.png)

[2022-05-22 19:44] teolemon opened #1935 "Not sure what's going on with the text colors since the switch to the custom color picker"
### What
- Not sure what's going on with the text colors since the switch to the custom color picker (they all turned black)

### Part of
- #1171

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/169713053-736c7418-0091-48e1-9493-4a7abbe9eadd.png)

[2022-05-22 20:52] teolemon opened #1937 "Consider a themed app icon for Android 13"
### What
Consider a themed app icon for Android 13
https://developer.android.com/about/versions/13/features

[2022-05-22 20:52] teolemon commented on #1937
I belived this one has been fixed by your previous PR

[2022-05-22 20:52] #1937 closed, assigned to g123k

[2022-05-23 06:44] monsieurtanuki commented on #1934
@teolemon We need to get rid of one of the messages _for the onboarding_, right?
What do you prefer?
1. keep only the first one, specific to onboarding
2. keep only the second one, which is part of the normal preferences
3. regardless, I would also suggest to get rid of the "reset food preferences" button during the onboarding - a bit too much to swallow at the same time

[2022-05-23 07:16] teolemon commented on #1934
2. The second one is more explicit (in its new rewording that was merged yesterday)
3. Probably
Bonus: enforcing only one section open at a time would be cool.

[2022-05-23 07:18] monsieurtanuki commented on #1934
@teolemon OK then! (and the "only one section" is already in #1918) (as you know)

[2022-05-23 09:10] g123k commented on #1931
FYI: The issue reproducible in night mode and Android <= 12

[2022-05-23 09:11] g123k commented on #1916
@teolemon Do you have a text for this?

[2022-05-23 09:13] g123k commented on #1882
Good news: the app is working well on Huawei devices (without GMS).
The only use case where we will have to use ZXing is for FDroid.

[2022-05-23 09:19] g123k opened #1939 "Onboarding: purple ripple (dark mode)"
Hi everyone,

In node mode, the ripple is purple on the Onboarding, whereas on other screens it's blue
![screen](https://user-images.githubusercontent.com/246838/169787085-45dafc73-9fce-42b3-9504-74bfb377ea09.png)

[2022-05-23 09:29] g123k commented on #1935
Seems to be a regression after https://github.com/openfoodfacts/smooth-app/pull/1881

[2022-05-23 09:29] #1939 closed, assigned to g123k

[2022-05-23 12:29] teolemon opened #1942 "The attributes text (next to the dots) are not clickable"
### What
The attributes dots are clickable
The attributes texts (next to the dot) are not clickable
### Focus
- Try with ultra-processed foods.
- Other attributes are not clickable for server side reason (outside of the scope of this issue)

[2022-05-23 12:34] g123k commented on #1896
A radius of 8px is expected here

[2022-05-23 13:27] g123k commented on #1864
My fix for #1863 will also fix this issue

[2022-05-23 13:42] g123k commented on #1251
@teolemon Just to be sure what exactly a first scan is.

- Is-it the first scan for the whole app?
- Or the first scan since the app is launched (= reset every time)

[2022-05-23 14:04] mse-moises commented on #1864
@g123k Sorry, I was working on this the last friday, but i actually was without my computer in this weekend so i could'nt unassign myself from this. Did you fixed the issue?

[2022-05-23 14:08] teolemon commented on #1251
first scan for the whole app.

[2022-05-23 14:28] g123k commented on #1864
No pb, my PR should fix it.
The repo doesn’t miss issues 😝

[2022-05-23 14:53] teolemon opened #1946 "Clarify wording that you're about to delete the whole history"
### What
Clarify wording that you're about to delete the whole history

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/169847130-5aeb2786-a63d-4728-81ea-9f6eeb48569a.png)

[2022-05-23 14:54] teolemon opened #1947 "Incoherent colors when trying custom colors"
### What
- Incoherent colors when trying custom colors

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/169847397-964bd3d6-bb2e-4cb2-97f5-b29cc3bab51f.png)

[2022-05-23 14:57] teolemon opened #1948 "Return of the black screen - Episode 2 - La suite"
### What
- Return of the black screen

### Video with strong production quality (turn on sound for snarky smartass comments)

https://user-images.githubusercontent.com/1689815/169847875-084bcfd6-e4fc-4c4c-9a2b-c10ebac29100.mp4

### Part of
- #526

### Additional context
- Several people, including me, verified this very issue had been fixed by a previous PR. Collective hallucination ?

[2022-05-23 15:03] M123-dev commented on #1948
Probably also a unwanted side effect of the color picker. But interesting as it was hardcoded black before and I don't know of any changes to this

[2022-05-23 15:04] M123-dev commented on #1947
Is the final plan to remove all color selection in favor of one primary color. Then I'd say we can make it a P5 or a won't fix

[2022-05-23 15:14] #1931 closed, assigned to g123k

[2022-05-23 15:14] #1852 closed, assigned to g123k

[2022-05-23 15:15] M123-dev commented on #1251
Just noticed what about the branding, should there be the "old" barcode scanner logo on the search card, or the new Text Logo or just plain text

[2022-05-23 15:16] #1196 closed, assigned to cli1005

[2022-05-23 15:19] M123-dev opened #1949 "[Discussion] Scores background"
### What
Just noticed in #1896 that we have a White background behind the score (eco & nutri) which aren't there in the mocks. Should they be removed.

![Screenshot_20220523-171724_GitHub.jpg](https://user-images.githubusercontent.com/39344769/169852383-a6e09e2d-35bf-4711-b8f6-fc15560bdcf0.jpg)

[2022-05-23 16:45] #1894 closed, assigned to monsieurtanuki

[2022-05-23 17:18] #1896 closed, assigned to g123k

[2022-05-23 17:19] #1935 closed, assigned to g123k

[2022-05-23 17:19] #1863 closed, assigned to g123k

[2022-05-23 17:19] #1864 closed, assigned to g123k

[2022-05-23 17:22] M123-dev opened #1951 "Bring back compatibility percentage"
### What
- Now that we have a new algorithm I'd say we should bring back the compatibility percentage

It looked somewhat like that

![Screenshot_20220523-192058.jpg](https://user-images.githubusercontent.com/39344769/169873880-529e7873-48c5-44ab-bcb9-342ced723fb4.jpg)

Any opinion @stephanegigandet

[2022-05-23 17:29] stephanegigandet commented on #1951
Either way is fine with me. I'm sure some people would like to see the %.

[2022-05-23 17:31] M123-dev commented on #1951
@stephanegigandet in #1922

I have to say I'm in favor of showing them, when I have multiple similar products. For example nuts they all are good but I still would like to buy the best one.

And even I who is familar with the code for the app don't know if they are currently sorted by how good they are in each category.
Match; no match; unknown;

[2022-05-23 18:21] teolemon opened #1953 "The Nutri-Score is looking ugly in the Intro slide"
### What

- [ ] The Nutri-Score is looking ugly in the Intro slide

![image](https://user-images.githubusercontent.com/1689815/169882586-0a40a527-48bd-47ad-8a01-e07e86cccc14.png)

[2022-05-23 18:30] monsieurtanuki commented on #1951
@M123-dev I tend to agree with @stephanegigandet because:
* I don't believe in 1/100th of difference between products, especially in nutrition, especially with numerous parameters combined. Perhaps scaling down to 10 would be more relevant?
* the label will take additional space, and I'm afraid that in some configurations (screen width x language) we'll have problems with the display
* Personally

[2022-05-23 18:33] monsieurtanuki commented on #1953
@teolemon Not sure I share your criteria about ugliness.
In that particular page (onboarding) we can put anything you like; please give a link to the image you'd like to see.

[2022-05-23 18:35] g123k commented on #1948
Ok, simple to reproduce:
- Change tab
- Open the Camera
- Go back to the app

I am not fully sure if the error is in the native code.
Unfortunately, I can't work on this until Wednesday.

[2022-05-23 18:47] g123k commented on #1953
Here is the displayed SVG: https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/assets/onboarding/nutriscore-a-no-bg.svg

It seems indeed that the file should be replaced

[2022-05-23 18:50] g123k opened #1955 "Dialogs: harmonize buttons order"
In Android and iOS, guidelines state that the positive action is always on the right (in LTR languages).
It's not always the case (e.g. in #1946):

![image](https://user-images.githubusercontent.com/1689815/169847130-5aeb2786-a63d-4728-81ea-9f6eeb48569a.png)

We should maybe enforce a positive / neutral / negative actions on `SmoothAlertDialog`

[2022-05-23 18:56] g123k opened #1956 "Onboarding: Food preferences' screen totally invisible"
It seems a recent PR may have changed the food preferences' screen, since it's now totally blank

![Screenshot_1653332050](https://user-images.githubusercontent.com/246838/169887508-bda7cb5d-8646-4e56-abbe-2ed61f0934c7.png)

[2022-05-23 20:08] teolemon opened #1958 "Broken icon on iPhone"
### What

- [ ] Broken icon on iPhone

### Screenshot

![Screenshot_20220523-220719.png](https://user-images.githubusercontent.com/1689815/169897785-0866cce7-2f9f-48c7-b8f2-22c2665680e7.png)

[2022-05-23 20:25] teolemon commented on #1953
Sorry filed that in a hurry, the graphic charter of nutri-score is against the white circle around the letter on a transparent background
We either need to use the safe version, or a different version I have somewhere on firma. Will update this soon

[2022-05-23 20:27] monsieurtanuki commented on #1956
@g123k That's correct - it was probably due to a recent PR about preferences (maybe #1923).
Fixed in #1950.

[2022-05-24 05:37] monsieurtanuki commented on #1953
You prefer that one?
![Capture d’écran 2022-05-24 à 07 36 00](https://user-images.githubusercontent.com/11576431/169956637-e9fd54a2-3cf1-41dd-91ae-d60eb687a881.png)

[2022-05-24 05:57] monsieurtanuki commented on #1060
I think we can close this issue now as
* we changed the matching algorithm
* the only potential issue is with ecoscore - which is dealt with in #1822.

[2022-05-24 05:57] #1060 closed, assigned to stephanegigandet

[2022-05-24 06:01] monsieurtanuki commented on #1822
@teolemon
1. What is a correct behavior? Not displaying ecoscore in preferences and not taking it into account in the match algorithm?
2. Which are the countries were ecoscore is supported / not supported? In case this list is not available from the server we can manage a hard-coded list in smoothie, that we update with new releases.

[2022-05-24 06:41] teolemon commented on #1953
Yes, they need to be visually protected
![Screenshot_20220524-084019.png](https://user-images.githubusercontent.com/1689815/169965288-0cb57665-cba4-4bb7-b40b-076ddb86415d.png)

[2022-05-24 07:02] monsieurtanuki commented on #1953
@teolemon Ok then. The same goes for ecoscore I guess?
I don't know if we can automatically add the black border on a light background, but at least the icon background will always be white.

[2022-05-24 07:30] monsieurtanuki commented on #1840
@M123-dev @g123k The key issue is that local lists need locally stored products.
Which may not be a problem with "decent" users that do not keep thousands of products (30kb each), so let's keep it that way for the moment.

We can
* add settings like "delete old history items" / "delete old queries"
* systematically remove a product if it's not in a list anymore ("history" being a list)

[2022-05-24 07:42] cli1005 commented on #1907
2 modification have been implemented, please let me know if it is not ok for you:

- If Summary card is not a full version(in carousel), those Score Card are not clickable any more, icon Arrow_down will be hidden as well
- Click on the label : "Tap to see more info..." to open the product page, not all card

|not clickable|clickable|
|--|--|
| ![Image](https://user-images.githubusercontent.com/870

[2022-05-24 08:02] #1953 closed, assigned to monsieurtanuki

[2022-05-24 08:48] teolemon commented on #1932
@VaiTon could you have a look at this one ?

[2022-05-24 08:56] teolemon opened #1962 "ConfirmAndUploadPicture() does not seem to work in the Refresh photos feature."
### What
ConfirmAndUploadPicture() does not work in the Refresh photos feature. Here's the PR for the feature: https://github.com/openfoodfacts/smooth-app/pull/1765

- Click on a photo in the carrousel
- Click on the crop button
- Click on the white check button
- Retake a photo
- Validate it
- Loop

###Video
https://photos.app.goo.gl/yzzjKyQ9iP1N67RQA

[2022-05-24 08:57] teolemon commented on #1962
- [ ] when you take a new photo, you arrive on a black screen and the upload loops endlessly
- The part that doesn't work is not from the PR (https://github.com/openfoodfacts/smooth-app/pull/1765). After the crop I pass the new image to ConfirmAndUploadPicture() and this page does the rest. I haven't looked at how this works. It's worth correcting this part regardless of the edition since it must

[2022-05-24 09:04] teolemon opened #1963 "Ensure that the perfect product is up-to-date (Automation using GitHub actions)"
### What

- [ ] Ensure that the perfect product used during onboarding is up-to-date in the application cache with the server

[2022-05-24 09:08] teolemon commented on #1670
Should be fixed by #1961

[2022-05-24 09:10] teolemon commented on #1682
We haven't written a test, but empirical testing shows it works (on Android, the only platform to have lists)

[2022-05-24 09:10] #1682 closed, assigned to g123k

[2022-05-24 09:11] teolemon commented on #1670
Thus closing as duplicate of the other linked bugs

[2022-05-24 09:11] #1670 closed, assigned to nobody

[2022-05-24 09:12] teolemon opened #1964 "The Colored compatibility banner should offer access to the food preferences page"
Fixed by @cli1005

[2022-05-24 09:13] #1964 closed, assigned to nobody

[2022-05-24 09:15] teolemon commented on #1652
Ok, closing

[2022-05-24 09:15] #1652 closed, assigned to nobody

[2022-05-24 09:17] teolemon commented on #644
I can still reproduce

[2022-05-24 09:18] teolemon commented on #1250
Going to close this, as overly vague, and possibly fixed by the new proposal. Time will tell.

[2022-05-24 09:18] #1250 closed, assigned to stephanegigandet

[2022-05-24 09:20] teolemon commented on #1713
Let's close this, until we manage to reproduce

[2022-05-24 09:20] #1713 closed, assigned to nobody

[2022-05-24 09:21] teolemon commented on #1643
I'll be closing this @g123k, ok ?

[2022-05-24 09:21] teolemon commented on #1642
I'll be closing this @g123k, ok ?

[2022-05-24 09:21] teolemon commented on #1641
I'll be closing this @g123k, ok ?

[2022-05-24 09:22] g123k commented on #1641
Ok

[2022-05-24 09:22] g123k commented on #1642
Ok

[2022-05-24 09:23] teolemon commented on #1255
I'm clarifying that this is a tracker.

[2022-05-24 09:24] teolemon commented on #1233
@g123k this is fixed, and someone told me yesterday history migration was working

[2022-05-24 09:24] #1233 closed, assigned to g123k

[2022-05-24 09:25] monsieurtanuki commented on #1963
@teolemon It looks like a recurring task:
* every n days/weeks/months
* download the perfect product (en_US) - https://world.openfoodfacts.org/api/v2/product/example/?fields=product_name%2Cbrands%2Ccode%2Cnutrition_grade_fr%2Cimage_small_url%2Cimage_front_small_url%2Cimage_front_url%2Cimage_ingredients_url%2Cimage_nutrition_url%2Cimage_packaging_url%2Cselected_images%2Cquantity%2Cserving_size%2Cpr

[2022-05-24 09:26] teolemon commented on #1817
@M123-dev After a discussion yesterday, I'm not sure what you have in mind technically for the PR. Can you clarify, and potentially take over ? cc @g123k

[2022-05-24 09:29] monsieurtanuki commented on #1963
And btw we're only talking about the fallback version, which happens to be en_US.
With a normal access to internet the latest version would be downloaded.

[2022-05-24 09:29] M123-dev commented on #1817
I haven't had a look at the code yet, doing that today

Edit: Tomorrow

[2022-05-24 09:40] g123k commented on #1643
Yes, ok 👍

[2022-05-24 09:40] #1643 closed, assigned to nobody

[2022-05-24 09:57] teolemon opened #1966 "Product I add are not credited to me"
### What
- Product I add are not credited to me

### Steps to reproduce the behavior
1. Connect yourself to Smoothie (you can restart the app if you want as well)
2. Add a new product
3. Look for the owner on web

### Expected behavior
- my account should have been credited

### Part of
- #503

### Screenshot/Mockup/Before-After
<img width="1013" alt="image" src="https://user-images.githubusercont

[2022-05-24 10:17] teolemon opened #1967 "Product addition (Interface & bug review)"
### What
- I added a product using the app

### Video (with voice)
- https://photos.app.goo.gl/QenGBg3RXonwByoU6
### Issues spotted

- [ ] #1972
- [x] #1966
- [ ] #1973
  - #1520
- #1706
- [x] #1974

[2022-05-24 11:52] #1927 closed, assigned to cli1005

[2022-05-24 11:52] #1928 closed, assigned to cli1005

[2022-05-24 11:52] #1929 closed, assigned to cli1005

[2022-05-24 12:08] #1642 closed, assigned to nobody

[2022-05-24 12:08] #1641 closed, assigned to nobody

[2022-05-24 12:54] teolemon opened #1968 "Crash at app startup on the internal Play Store (org.openfoodfacts.scanner)"
### What
- Crash at app startup on the internal Play Store (org.openfoodfacts.scanner)
- No trace available at this point (probably too early)
- Clearing DB and cache does not help

[2022-05-24 13:16] M123-dev commented on #1968
~~Can't reproduce~~

[2022-05-24 15:57] #1958 closed, assigned to g123k

[2022-05-24 18:09] teolemon commented on #1907
great @cli1005 👍
Not sure about the rationale behind this change: "Click on the label : "Tap to see more info..." to open the product page, not all card"

[2022-05-24 20:08] #1251 closed, assigned to g123k

[2022-05-24 20:17] teolemon commented on #1962
@PrimaelQuemerais @g123k  it works when accessing the carousel from "Edit basic detalls" but not when entering the carousel from the product page itself.

[2022-05-24 20:29] teolemon opened #1971 "Encoding issue on the tagline system"
### What
- Encoding issue on the tagline system
### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/170126275-884e7321-b2a1-476a-9105-aa24274e0bf6.png)

[2022-05-24 20:49] teolemon commented on #1971
It doesn't seem to pickup translations either
https://world.openfoodfacts.org/files/tagline/tagline-off.json

  {
        "language" : "es",
        "data" : {
            "url" : "https://es.openfoodfacts.org/nutriscore",
            "message" : "Descubre el Nutri-Score"
        }

![image](https://user-images.githubusercontent.com/1689815/170129534-41603182-7f4f-4235-a6a2-1fc8f4363161.png)

[2022-05-24 20:50] teolemon commented on #1971
Or perhaps my phone sent es_FR ?

[2022-05-24 20:59] #1956 closed, assigned to nobody

[2022-05-24 21:18] teolemon commented on #1968
It might be related to a rebase of the branch to release on the classic app (I solved a merge conflict)

https://user-images.githubusercontent.com/1689815/170134056-38c1b93b-be1c-4a27-8ae8-5b2121941731.mp4

[2022-05-24 21:24] #1221 closed, assigned to nobody

[2022-05-24 21:29] teolemon opened #1972 "Overflow in confirmation buttons (simplify them to Confirm, or even remove the confirmation step)"
### What

- [ ] Overflow in confirmation buttons (simplify them to Confirm, or even remove the confirmation step)

![image](https://user-images.githubusercontent.com/1689815/170006390-79876458-43fc-4ff7-b4c2-b3a0819329cf.png)
![image](https://user-images.githubusercontent.com/1689815/170006423-62135717-4643-4e9e-b937-db378d3debab.png)

[2022-05-24 21:30] teolemon opened #1973 "The newly added product is not added to the carousel (We spotted and fixed this before)"
The newly added product is not added to the carousel (We spotted and fixed this before)
https://github.com/openfoodfacts/smooth-app/pull/1520

### Part of
- #1967

[2022-05-24 21:33] teolemon opened #1974 "Wrong or missing miniature in product addition"
### What
- [ ] Wrong or missing miniatures in product additionv (Related to #1706)
  - [ ] At some point some are switched
  - [ ] At some point also go missing

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/170006466-699303ae-864d-49a7-a22b-987f9764de2a.png)
![image](https://user-images.githubusercontent.com/1689815/170006547-2124c07d-777d-44d6-8996-577f39d5aa21.png)

[2022-05-24 21:34] M123-dev commented on #1968
Ohh I checked the wrong app, can reproduce

[2022-05-24 21:50] teolemon opened #1976 "We should have a way to customize the Twitter and Instagram links"
In the future, We should have a way to customize the Twitter and Instagram links according to the language

[2022-05-24 22:14] teolemon commented on #1968
@M123-dev I think I got it: https://github.com/openfoodfacts/smooth-app/pull/1780/commits/f13802350f00a143cb20b1aa61d86474094cfcb9

[2022-05-25 03:13] AshAman999 commented on #1972
Should we just use a ✔ and a ❌ icon buttons there instead of the text buttons and maybe add these terms as tool-tips to them?
Something like we have on the analytics page

[2022-05-25 05:18] monsieurtanuki commented on #1976
Like putting the Twitter and Instagram links in `app_en.arb`?

[2022-05-25 06:30] teolemon commented on #1976
yes. This is not a blocking issue, nor a top priority though.

[2022-05-25 06:40] monsieurtanuki commented on #1822
@teolemon I can start that today if you answer my previous questions.

[2022-05-25 06:53] teolemon commented on #1822
@monsieurtanuki I might be misguided on this one, and it's not really blocking (I updated the status accordingly), let me do some exploration and documentation first.

[2022-05-25 06:56] teolemon commented on #1972
`Confirm` and `Cancel` should be enough (and in line with what we use the most currently) (the onboarding is an exception, an interesting one, but currently an exception)

[2022-05-25 07:01] #1415 closed, assigned to PrabeshPP

[2022-05-25 07:07] monsieurtanuki commented on #1822
@teolemon [Ok then](https://www.youtube.com/watch?v=wahLIbwZTLQ). But please note that it's more than a nice-to-have, as even us developers had to struggle with systematic "unknown compatibility" due to ecoscore being set to important by default while not being computed on some countries. Has it changed since the latest algorithm? I don't know.
Btw there's also an ecoscore icon on the second onboa

[2022-05-25 07:49] cli1005 commented on #1835
I can open the full screen photo carousel for refreshing existing photos, but for adding... do you have any idea? a button "Add" same as the photo carousel of product page? Or a Floating button as following :

https://user-images.githubusercontent.com/87010739/170297584-08c3a429-8deb-43cc-91f6-47979d802b85.mp4

[2022-05-25 09:36] g123k commented on #1968
Could you enroll me in this "internal beta", please?
I will extract the stacktrace

[2022-05-25 10:43] #1955 closed, assigned to g123k

[2022-05-25 11:27] AshAman999 opened #1983 "Barcode doesn't follow theme color"
- What
<img src="https://user-images.githubusercontent.com/57723319/170278883-10c2c9e8-5322-40ab-806e-2700bc5b5411.jpg" height="400px">

The barcode number appearing here seems bit odd here, maybe it could be improved

[2022-05-25 12:26] teolemon opened #1984 "Unlegible tagline in dark mode"
Unlegible tagline in dark mode
![image](https://user-images.githubusercontent.com/1689815/170261456-12d00d5c-1a34-4dfb-8e2d-fc39685c654f.png)

[2022-05-25 12:45] g123k commented on #1984
I use the primary color in dark mode, which is this dark color.
Which color do you want here? A blue one?

[2022-05-25 12:51] #1972 closed, assigned to nobody

[2022-05-25 12:56] teolemon commented on #1984
very light blue ?

[2022-05-25 13:51] g123k commented on #1869
I'm able to reproduce the issue.
Will be fixed with #1948

[2022-05-25 13:58] #1984 closed, assigned to g123k

[2022-05-25 15:05] g123k opened #1987 "Matomo error when launching the app"
When we launch the app, we now have this error:

[code]

[2022-05-25 17:05] #1976 closed, assigned to nobody

[2022-05-25 17:39] #1833 closed, assigned to g123k

[2022-05-25 17:43] M123-dev opened #1991 "Next not darkmode honoring text"
### What

- The "good match"; "not so good match"; ...
- The AppBar

![Screenshot_20220525-194200.jpg](https://user-images.githubusercontent.com/39344769/170329071-14a1ca18-c728-4bb1-adc3-bf1e9517df2a.jpg)

![Screenshot_20220525-194204.jpg](https://user-images.githubusercontent.com/39344769/170329078-4f9a14ff-8b70-499e-9e7b-eb1398e93784.jpg)

[2022-05-25 17:44] teolemon opened #1992 "Dark mode issue in Personal Search"
- [ ] Dark mode issue in Personal Search

![image](https://user-images.githubusercontent.com/1689815/170329098-1af9255b-0dea-4616-b7ac-b74bcbb19827.png)

[2022-05-25 17:45] teolemon opened #1993 "Padding issue in permission denied"
### What
- [ ] Padding issue in permission denied

<img src="https://user-images.githubusercontent.com/1689815/170329258-0dc8c426-1183-46e5-82cc-a7b6a8319647.png" height="400px">

[2022-05-25 17:45] teolemon opened #1994 "Overflow issue in permission refused dialog"
### What

- [ ] Overflow issue in permission refused dialog

<img src="https://user-images.githubusercontent.com/1689815/170329358-c2415ce9-009b-4809-99f0-d0eb34d0ba8e.png" height="400px">

[2022-05-25 17:46] teolemon opened #1995 "Dark on Dark in compatibility cards"
### What

- [ ] Dark on Dark in compatibility cards
<img src="https://user-images.githubusercontent.com/1689815/170329457-45eaa2e4-13e2-4a47-92db-cc91ece814df.png" height="400px">

[2022-05-25 17:51] M123-dev commented on #1991
#1195

[2022-05-25 17:51] #1991 closed, assigned to nobody

[2022-05-25 17:54] M123-dev commented on #1994
Looks like a problem in all dialogs
<img src="https://user-images.githubusercontent.com/39344769/170330758-ace7e408-f75c-4969-ac14-626a4740b4c1.jpg" height="400px">

[2022-05-25 17:54] #1987 closed, assigned to g123k

[2022-05-25 19:30] M123-dev opened #1996 "More darkmode problems"
### What

### Screenshots
<img src="https://user-images.githubusercontent.com/39344769/170352417-1fa01473-d059-44cc-bce3-fb0af044a6d8.jpg" height="400px">

<img src="https://user-images.githubusercontent.com/39344769/170352427-87ef5e94-547a-4f6e-82a0-462a7c058cab.jpg" height="400px">

<img src="https://user-images.githubusercontent.com/39344769/170352436-14399156-b15c-4e60-959f-7e14ced1dfb8.jpg" h

[2022-05-25 19:34] M123-dev opened #1997 "There is no way to change the country if you are not logged in"
### What
- There is no way to change the country if you are not logged in

[2022-05-25 19:35] M123-dev opened #1998 "Missing background color of text fields"
### What

- [ ] Missing background color of text fields

### Screenshot
<img src="https://user-images.githubusercontent.com/39344769/170353228-acf12d71-7174-4a24-87b5-9a583aeb1c1d.jpg" height="400px">

[2022-05-26 01:29] AshAman999 commented on #1994
Goes on with this page too
<img src="https://user-images.githubusercontent.com/57723319/170396356-4545e648-066d-4cdb-aaaf-d3b9f580fb50.jpg" height="400px">

[2022-05-26 08:15] teolemon commented on #1994
- https://github.com/openfoodfacts/smooth-app/pull/1981: The PR has been merged and then reverted, it seems

[2022-05-26 08:15] g123k commented on #1997
@M123-dev Your issue seems to be incomplete ;)

[2022-05-26 08:18] M123-dev commented on #1997
Yes was a bit in a hurry there @g123k but there isn't much to explain, when you are not logged in you can't change your country. If you press the login button you login in, but if you press the tile behind it you also get redirected to the login page

[2022-05-26 08:19] teolemon commented on #1971
Closing this one, thanks @g123k

[2022-05-26 08:19] #1971 closed, assigned to g123k

[2022-05-26 08:49] teolemon opened #2000 "Use the new Smoothie-specific, platform specific tagline files"
### What

- [ ] Use the new Smoothie-specific, platform specific tagline files
  - [ ]  https://github.com/openfoodfacts/openfoodfacts-server/pull/6823
  - [ ] Not deployed yet

[2022-05-26 08:55] teolemon opened #2001 "Listing what we can easily implement from Quentin's branding file for the app"
### What

Listing what we can easily implement from Quentin's branding file for the app, derived from our new visual identity
- [Figma file](https://www.figma.com/file/nFMjewFAOa8c4ahtob7CAB/Fellowship-Jam-file-(Quentin)?node-id=155%3A1991)
- Striking a balance between what we can do reasonably, and what would bring us into uncharted territory (colors, dark mode ?)
- I kindly remind everyone that

[2022-05-26 09:02] M123-dev commented on #2001
@teolemon are the colors in there set? This would make the whole progress way simpler

[2022-05-26 09:08] teolemon commented on #2001
Yes, and Quentin told me that he used the material plugin on Figma to choose them. He tweaked transparency on the top part of the knowledge panels, and also the Nutri-Score logos are not the right ones (the one we currently use are the right ones).
It's more guidelines than a strict rulebook.
One easy fruits is possibly the illustrations ?

[2022-05-26 09:40] g123k commented on #1998
I guess this one is also fixed by #2002

[2022-05-26 10:07] teolemon commented on #1968
This is fixed @g123k , it was a bad rebased where package names were swapped

[2022-05-26 10:07] #1968 closed, assigned to nobody

[2022-05-26 10:08] #1947 closed, assigned to nobody

[2022-05-26 10:08] teolemon commented on #1947
Closing

[2022-05-26 11:36] teolemon commented on #2000
Deployed at
https://world.openfoodfacts.org/files/tagline-off-android-v2.json
https://world.openfoodfacts.org/files/tagline-off-ios-v2.json
cc @g123k

[2022-05-26 12:10] #1983 closed, assigned to g123k

[2022-05-26 12:10] #1992 closed, assigned to nobody

[2022-05-26 12:10] #1993 closed, assigned to g123k

[2022-05-26 12:10] #1994 closed, assigned to g123k

[2022-05-26 12:10] #1995 closed, assigned to g123k

[2022-05-26 12:10] #1996 closed, assigned to g123k

[2022-05-26 12:10] #1997 closed, assigned to g123k

[2022-05-26 12:10] #1998 closed, assigned to g123k

[2022-05-26 12:11] M123-dev commented on #2001
So we can remove the color picker

[2022-05-26 12:23] monsieurtanuki commented on #2001
I guess I can work today on the onboarding pages, while watching Roland Garros.

[2022-05-26 13:31] #2000 closed, assigned to nobody

[2022-05-26 13:35] g123k opened #2005 "Shouldn't we use a tool to manage resources?"
Hi everyone,

The other day, I discovered that a deleted resource/asset was still used in the app.

On my other Flutter projects, I often use [`spider`](https://pub.dev/packages/spider) which crawls folders and generates classes with links to matching files.

I wonder if it wouldn't be great to include it also in Smoothie.

### Part of
- #2528

[2022-05-26 14:56] monsieurtanuki commented on #2001
![Capture d’écran 2022-05-26 à 16 56 15](https://user-images.githubusercontent.com/11576431/170514778-9646ff7e-98ba-4556-b292-628c8ae4d022.png)

[2022-05-26 16:03] #1948 closed, assigned to g123k

[2022-05-26 16:03] #1869 closed, assigned to g123k

[2022-05-26 17:04] #1893 closed, assigned to M123-dev

[2022-05-26 17:08] teolemon opened #2009 "Impossible to pull down to refresh if the content is not larger than the screen"
### What
- Impossible to pull down to refresh if the content is not larger than the screen (in that case, we had a failure on knowledge panels, when we still did 2 queries)
- This might not happen at all now, or very seldomly. It could happen on project variants where we haven't deployed knowledge panels yet (like OBF, OPFF, OPF)
- <img src="https://user-images.githubusercontent.com/1689815/170538

[2022-05-26 17:17] #1817 closed, assigned to M123-dev

[2022-05-26 17:23] M123-dev opened #2011 "Very strange/funny robotoff login behavior"
### What
Very strange robotoff login

https://user-images.githubusercontent.com/39344769/170541663-35924fd2-7a32-4cc2-b0aa-aff6f526b772.mp4

[2022-05-26 17:33] M123-dev commented on #1966
@teolemon needs to be tested again after next release

[2022-05-26 17:35] sentry[bot] opened #2012 "AssertionError: The cameraBoundaries should be set (using `FocusPointFeature.setCameraBoundaries(Size)`) before u..."
### What
Sentry Issue: [SMOOTHIE-VX](https://sentry.io/organizations/openfoodfacts/issues/3303980686/?referrer=github_integration)

[code]

### Part of
- #526

[2022-05-26 17:36] #1870 closed, assigned to g123k

[2022-05-26 17:37] sentry[bot] opened #2013 "CameraException: CameraException(error, Attempt to invoke virtual method 'void android.hardware.camera2.CameraCapt..."
Sentry Issue: [SMOOTHIE-VK](https://sentry.io/organizations/openfoodfacts/issues/3286019958/?referrer=github_integration)

[code]

[2022-05-26 17:37] #2013 closed, assigned to nobody

[2022-05-26 17:41] M123-dev opened #2014 "About this app wrong primary button"
### What
- about this app wrong main button

![Screenshot_20220526-194044.jpg](https://user-images.githubusercontent.com/39344769/170544804-741d3995-96fa-433c-aca5-98bd702a6307.jpg)

[2022-05-26 18:02] teolemon opened #2015 "Oversized modals"
### What
- Oversized modals
### Screenshot/Mockup/Before-After
<img width="929" alt="image" src="https://user-images.githubusercontent.com/1689815/170548245-bf95798d-35a9-44e9-ae0b-b644d82e3d05.png">

[2022-05-26 18:06] teolemon opened #2016 "Dark on dark topbar name"
### What
- Dark on dark topbar name
### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/170548650-32f53dfd-a7dc-4bb2-90c1-6df887cf4cc9.png)

[2022-05-26 18:26] teolemon commented on #2011
@M123-dev is it this one ?
- https://github.com/openfoodfacts/smooth-app/issues/1722

[2022-05-26 18:29] g123k commented on #2015
Also: no ripple on each clickable avatar

[2022-05-26 18:32] M123-dev commented on #2011
Yes but combined with some other things, nothing Happening when logging in via Email + whith User it doesn't work either

[2022-05-26 20:21] #2014 closed, assigned to g123k

[2022-05-26 20:21] #2015 closed, assigned to g123k

[2022-05-26 20:21] #2016 closed, assigned to nobody

[2022-05-27 09:03] teolemon opened #2020 "Misplaced buttons in photo refresh flow"
### What
Misplaced buttons in photo refresh flow

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/170668088-a44a95bf-55cd-47fc-b64c-dfa331d86b0c.png)

[2022-05-27 09:08] #1918 closed, assigned to monsieurtanuki

[2022-05-27 09:08] #1934 closed, assigned to monsieurtanuki

[2022-05-27 09:17] M123-dev opened #2021 "Preferences animated icon + no scroll jumps"
### What
- Add back [smooth_animated_collapse_arrow.dart](https://github.com/openfoodfacts/smooth-app/pull/1950/files#diff-f75b1ef7c15f11f95d6571a874b9296fbc252ecf70fb3fe7571cd25e1307aebb) (deleted) to preferences page
- Avoid jumps in the scroll position

[2022-05-27 10:08] teolemon opened #2022 "Corrections on the revamped onboarding"
### What
- Visual corrected by Quentin to be updated (the equilibrium visual, with the weighting scale, because Nutri-Score was wrong)
![image](https://user-images.githubusercontent.com/1689815/170689921-82629951-3ea5-4223-913f-751fd3dc888a.png)
- Issues in dark mode
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/170679265-533d8538-ba95-4d95-ae37-21de7dcfd778.png)

[2022-05-27 10:24] teolemon commented on #2001
@monsieurtanuki @M123-dev @g123k Quentin has added illustration for even more screens. We could probably divide the assignment ?
@monsieurtanuki the new onboarding is really transformational in terms of perception 👍

[2022-05-27 10:30] monsieurtanuki commented on #2022
@teolemon Please be more precise because I acknowledge the fact that it's not good in dark mode, but I don't know what to fix:
1. in Quentin's mocks, there's no dark mode for onboarding
2. in that specific page, one obvious wrong part is the white text on light background. What would be the fix?
    1. text in black?
    2. dark background => same colorful logo? which background color? same button

[2022-05-27 10:31] monsieurtanuki opened #2023 "Add the illustration to the Empty History screen"

[2022-05-27 10:31] monsieurtanuki opened #2024 "Add the illustration to the Empty list screen"

[2022-05-27 10:34] M123-dev opened #2025 "Change colors of the app according to guidelines"

[2022-05-27 10:54] teolemon opened #2027 "Slight visual issue in Signup for French"
### What
- Slight visual issue in Signup for French
- Can we enforce a space in all languages perhaps ?

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/170686232-e130038d-ce26-419a-af05-2641ff106cb4.png)

[2022-05-27 11:00] teolemon commented on #2022
I've asked Quentin the ? on Figma, but I assume the fix is Text in Black, just like light mode, and pending any opposite answer, we keep everything the same as in light mode

[2022-05-27 11:08] teolemon commented on #2022
just confirmed my assumption with Quentin 👍
we indeed keep everything the same as in light mode

[2022-05-27 11:20] monsieurtanuki commented on #2022
I cannot guarantee it's going to be 100% the same (e.g. system status color) but as much as possible the onboarding is going to look the same in dark as in light (here I don't care about the splash screen).

[2022-05-27 14:13] monsieurtanuki commented on #2024
Duplicate with #2023

[2022-05-27 14:13] #2024 closed, assigned to monsieurtanuki

[2022-05-27 14:22] monsieurtanuki opened #2030 "Add the illustration to the Profile screen"

[2022-05-27 14:24] monsieurtanuki opened #2031 "Add the illustration to the FAQ screen"
### What
- [x] Add the illustration to the FAQ screen
### Part of
- https://github.com/openfoodfacts/smooth-app/issues/2001

[2022-05-27 14:26] monsieurtanuki opened #2032 "Add the illustration to the Contribute screen"

[2022-05-27 14:27] monsieurtanuki opened #2033 "Add the illustration to the Contact screen"

[2022-05-27 14:49] monsieurtanuki opened #2034 "Add the illustration to the Login screen"

[2022-05-27 14:52] AshAman999 opened #2035 "Onboarding text color readability not good"
### What
- Issue with text color visibility on onboarding screen in dark mode

### Steps to reproduce the behavior
1. keep the phone in the **dark mode**,and start the app for the onboarding pages

### Expected behavior
It seems the color is perhaps changing according to the theme, a default fixed black color for the text would fix the problem

### Why

### Part of

### Screenshot/Mockup/Before-Af

[2022-05-27 14:55] AshAman999 commented on #2035
Same problem with the rest of the onboarding pages

[2022-05-27 14:59] teolemon commented on #2035
- dupe of #2022

[2022-05-27 15:32] AshAman999 commented on #2022
Should I fix this, I am thinking of keeping the text in `Colors.black` on the onboardings,
Can I be assigned?

[2022-05-27 15:34] monsieurtanuki commented on #2022
@AshAman999 I'm currently working on it. It goes beyond writing in black; it also means displaying product data in light mode even when in dark mode.

[2022-05-27 15:39] #2035 closed, assigned to nobody

[2022-05-27 16:32] teolemon commented on #2022
@AshAman999
candidates issues where help would be welcome

- https://github.com/openfoodfacts/smooth-app/issues/2001
- https://github.com/openfoodfacts/smooth-app/labels/p0

[2022-05-27 16:48] teolemon commented on #2001
I have added the material iconset icon refs for the sections in settings

[2022-05-28 06:14] monsieurtanuki opened #2039 "Add icons next to the settings (contribute) items"
data_saver_on
 app_shortcut
 translate
 volunteer_activism
 emoji_people

[2022-05-28 06:14] monsieurtanuki opened #2040 "Add icons next to the settings (faq) items"
### What
- [x] Add icons next to the settings (faq) items
  - [x] question_mark
  - [x] travel_explore
  - [x] volunteer_activism
  - [x] info

### Part of
- #2001

[2022-05-28 06:14] monsieurtanuki opened #2041 "Add icons next to the settings (contact) items"
### What

- [x] Add icons next to the settings (contact) items
- [x] #2041
  - [x] Instagram and Twitter: no material icons >> need to export/find them
  - [x] help
  - [x] drafts

### Part of
- #2001

[2022-05-28 06:14] monsieurtanuki opened #2042 "Add icons next to the settings items"
- [ ] #2042
  - [ ] playlist_add_check
  - [ ] face
  - [ ] ramen_dining
  - [ ] handyman
  - [ ] emoji_people
  - [ ] question_mark
  - [ ] alternate_email

[2022-05-28 07:35] AshAman999 commented on #2020
Working on it 👍

[2022-05-28 10:44] #2020 closed, assigned to AshAman999

[2022-05-28 11:14] #2023 closed, assigned to monsieurtanuki

[2022-05-28 11:17] #2030 closed, assigned to monsieurtanuki

[2022-05-28 11:17] #2031 closed, assigned to monsieurtanuki

[2022-05-28 11:17] #2032 closed, assigned to monsieurtanuki

[2022-05-28 11:17] #2033 closed, assigned to monsieurtanuki

[2022-05-28 11:17] #2034 closed, assigned to monsieurtanuki

[2022-05-28 12:56] teolemon opened #2046 "Spacing issue in the settings"
### What
- Spacing issue in the settings
- Potential solution: remove top hyphenated line
- Other potential solution: add vertical space
![image](https://user-images.githubusercontent.com/1689815/170826433-097aa50d-e563-4d84-9860-f6e941705e1c.png)

[2022-05-28 12:59] teolemon opened #2047 "Center the text in the empty history"
### What
- Center the bottom text in the empty history so that it looks cleaner

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/170826603-3481db56-e726-400e-97ca-9f4b39ebf053.png)

[2022-05-28 13:13] #1962 closed, assigned to nobody

[2022-05-28 14:53] #2022 closed, assigned to monsieurtanuki

[2022-05-28 14:57] AshAman999 commented on #2047
Working on it

[2022-05-28 15:13] #2039 closed, assigned to monsieurtanuki

[2022-05-28 15:13] #2040 closed, assigned to monsieurtanuki

[2022-05-28 15:13] #2041 closed, assigned to monsieurtanuki

[2022-05-28 15:13] #2042 closed, assigned to monsieurtanuki

[2022-05-28 15:29] teolemon commented on #1906
@AshAman999 could you have a look at this one ?

[2022-05-28 15:33] monsieurtanuki opened #2049 "Add the illustration to the Error card screen"
Potential additional candidates:
* https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/cards/product_cards/smooth_product_card_error.dart
* https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/generic_lib/widgets/smooth_error_card.dart

[2022-05-28 15:54] teolemon opened #2051 "Dark mode issue for settings icons"
### What
- Dark mode issue for settings icons
### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/170832985-4169eaad-8e56-4d9f-9778-876bc775b837.png)

[2022-05-28 16:01] monsieurtanuki commented on #2051
@teolemon Very strange. Working on it.

[2022-05-28 16:17] AshAman999 commented on #1906
Sure, Looking into it

[2022-05-28 16:19] teolemon opened #2054 "Dark mode issues in the signup screen"
### What
- Dark mode issues in the signup screen

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/170833821-7a863cec-0ce6-408d-ba69-d9722b6d7342.png)
![image](https://user-images.githubusercontent.com/1689815/170833837-c6134a65-e441-4419-ab80-ccf4b0c83034.png)

[2022-05-28 16:22] #2047 closed, assigned to AshAman999

[2022-05-28 16:34] #2051 closed, assigned to monsieurtanuki

[2022-05-28 16:54] monsieurtanuki commented on #1743
Not relevant anymore as the onboarding is always in light mode.
Closing.

[2022-05-28 16:54] #1743 closed, assigned to nobody

[2022-05-28 16:59] #2027 closed, assigned to nobody

[2022-05-28 16:59] #2054 closed, assigned to monsieurtanuki

[2022-05-28 18:09] monsieurtanuki opened #2056 "Add the coloring behind illustrations in settings"

[2022-05-28 18:11] monsieurtanuki commented on #2056
@teolemon For the moment we don't have the corresponding colors for dark mode in figma, do we?

[2022-05-28 18:15] monsieurtanuki commented on #2056
Or is that just the plain colorless dark background?

[2022-05-28 18:16] monsieurtanuki opened #2057 "Add the Food Preferences illustration to the Food preferences section of the settings"

[2022-05-28 18:17] monsieurtanuki commented on #2057
@teolemon Cannot find the illustration you're referring to: no food preferences in figma AFAIK.

[2022-05-28 18:17] monsieurtanuki opened #2058 "Use the list specific illustration both in empty list and in empty list of lists"

[2022-05-28 18:18] teolemon commented on #2057
It's the slider illustration

[2022-05-28 19:29] M123-dev opened #2059 "Login button not in whole width center"
### What

- Login button not in whole width center
- It should be in the complete center and not have padding from the leading icon

### Part of
- #1171

### Screenshot
![Screenshot_20220528-212805.jpg](https://user-images.githubusercontent.com/39344769/170840196-f679d61d-5b01-41c8-b743-646e529e7edf.jpg)

[2022-05-29 03:57] AshAman999 commented on #1906
@teolemon Just added an optional edit method maybe the user just wants to edit the cropped image again after taking the photo,
What about something like this, maybe the UI could be improved, suggestions welcomed 🙃

https://user-images.githubusercontent.com/57723319/170851397-50f89e95-a5cb-4f4a-974f-6fbcb4144544.mp4

[2022-05-29 08:39] teolemon opened #2061 "Recording on iOS (migration + tests)"
### What
- https://photos.app.goo.gl/WnV6TZ1AAzZgD6Sm8
- goes slow on my old device (which was also updating apps in the background)
- it seems stuck at the splash screen, eg too early to ask the user to wait (unless we modify the splash screen to that end), and thus also probably unrelated to the migration ?
 - it stays a little slow after that, but eventually recovers
- also of note, impossible

[2022-05-29 17:08] g123k commented on #2061
When restarting the app (= second launch), the performances are still bad?
What kind of iPhone is-it? On which iOS version?

[2022-05-29 17:26] teolemon commented on #2061
iPhone 6S on iOS 15.4. The performances are good after relaunch, and in normal operating conditions

[2022-05-29 17:29] g123k commented on #2061
Could you test with any empty history in V1. What is the performance in this case?

[2022-05-29 17:34] teolemon opened #2062 "mangled splashscreen on iPhone 6S"
### What
- mangled splashscreen on iPhone 6S
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/170883768-33c93935-c1cf-4452-b2b1-86c9e5a270a2.png)

[2022-05-29 18:04] teolemon commented on #2061
instant. I did a recording (and I noticed the download of the offline database by v1, by the way, are we deleting it ?)

[2022-05-29 18:09] teolemon commented on #2061
https://photos.app.goo.gl/zcWnvKBh48zcEFZE9

[2022-05-29 18:14] teolemon commented on #1906
Here's a more refined mockup @AshAman999 I really think we shouldn't hide the Retake photo behind the edit button. The less steps, the better.
<img width="256" alt="image" src="https://user-images.githubusercontent.com/1689815/170885311-6b360c12-d06c-4645-9fdc-4330b247b887.png">

[2022-05-29 18:18] teolemon opened #2063 "Tablet (tracker)"
### What
- Thankfully, I didn't get the heart attack @monsieurtanuki predicted, but here's a visual tracker for tablets. It's not a v1 priority though.

### 🎨 Design
- This needs to be mocked up. Please do not proceed until we reach a design agreement in this issue, and we have a mockup.
- Initial explorations are available in the design file (Tab: Tablet)

### Tasks
- [ ] Add a draft title or iss

[2022-05-30 04:58] monsieurtanuki commented on #2062
Same on emulators (like iphone 13). I believe I read something about SVG splash screen - maybe we should stick to PNG splash screen, much safer.

[2022-05-30 05:55] teolemon commented on #2062
Same on physical Kindle fire

[2022-05-30 05:59] teolemon opened #2065 "No connexion on old Kindle Fire (SSL cypher?)"
### What
No connexion on old Kindle Fire (SSL cypher?)
It works with V1
![PXL_20220530_055907207.jpg](https://user-images.githubusercontent.com/1689815/170926549-e30e0536-772d-400a-8ea3-399e8ebe7656.jpg)
![PXL_20220530_054636237.jpg](https://user-images.githubusercontent.com/1689815/170926237-346efaf7-7e8e-48e8-8a3c-730a92eeb61f.jpg)

[2022-05-30 06:01] teolemon commented on #2065
![Screenshot_20220530-080137.png](https://user-images.githubusercontent.com/1689815/170926919-b4149226-a81a-43ff-afe4-13d02729b01f.png)

[2022-05-30 06:55] teolemon commented on #2065
- Dupe of #628

[2022-05-30 07:39] AshAman999 commented on #1906
Was wondering where to keep the confirm button, regarding the same came out with some mockups of mine similar to yours
Would any of this work fine? @teolemon  @M123-dev
1.
![Screenshot_1653896046](https://user-images.githubusercontent.com/57723319/170941514-677d524b-64bc-4d21-8f8d-1a2f9a630679.png)

2.
![Screenshot_1653896101](https://user-images.githubusercontent.com/57723319/170941589-40eba455-7

[2022-05-30 07:50] teolemon commented on #1906
Confirm = Close ? Does it perform anything ?

[2022-05-30 08:54] g123k commented on #2005
Support is in progress.
However Spider has a limitation: it doesn't support files starting with a number.

We have to wait until this feature is implemented.

[2022-05-30 09:30] AshAman999 commented on #1906
- Retake will start the camera and let user take a new photo and crop it

- Edit , will just open the crop page where the user can crop or rotate the image
- Confirm will upload the photo , ie the cropped one or the edited one to the server

[2022-05-30 09:40] g123k commented on #2065
I have the same device and I am able to reproduce the issue.
A way to fix, it is basically to ignore expired certificates.

It's not a good behavior to hack things like that.
Or maybe I can add a `if Kindle…`, as it seems Android 5 by itself is OK

[2022-05-30 09:47] g123k commented on #2065
It seems that this issue is bigger than I initially thought.
All devices running Android 7 or below will have this error: https://blog.desdelinux.net/en/millions-of-android-devices-will-not-support-lets-encrypt-certificates-in-2021/

[2022-05-30 11:15] monsieurtanuki commented on #2005
I don't know how relevant that would be, because we have asset files whose names come from the server, for instance something like `nutriscore-a.svg`. `spider` would not detect that the server file becomes now `nutri-score-A.svg` for some reason.

[2022-05-30 13:15] teolemon commented on #1724
- https://github.com/openfoodfacts/smooth-app/pull/1600

[2022-05-30 13:26] teolemon opened #2067 "New Personal ranking layout"
<img width="755" alt="Capture d’écran 2022-05-30 à 15 28 39" src="https://user-images.githubusercontent.com/87010739/171002405-0fcbec85-5598-4eca-af68-68f20c6d9d56.png">

[2022-05-30 14:02] teolemon commented on #2067
@stephanegigandet proposes to get rid of the tab system alltogether, like he did on the website

[2022-05-30 14:21] monsieurtanuki commented on #2067
@teolemon That would mean just one `ListView` with products sorted by score, right?

[2022-05-30 14:41] #2056 closed, assigned to monsieurtanuki

[2022-05-30 15:23] monsieurtanuki commented on #2067
Not very dramatic. Maybe we should add some colors, like a colored pipe before each product.

| not sorted | sorted |
| --- | --- |
| ![Capture d’écran 2022-05-30 à 17 18 53](https://user-images.githubusercontent.com/11576431/171021889-0195a8d1-5a3a-4fac-8202-2e63624dc127.png) | ![Capture d’écran 2022-05-30 à 17 19 22](https://user-images.githubusercontent.com/11576431/171021973-b9d0f6e5-7551-

[2022-05-30 15:31] g123k commented on #2009
Do you have some other barcodes to test with this issue?
I think it can be easily solved

[2022-05-30 15:58] monsieurtanuki opened #2071 "Replace the old eco-score horizontal assets by the new eco-score horizontal assets"

[2022-05-30 16:01] #2058 closed, assigned to monsieurtanuki

[2022-05-30 16:03] monsieurtanuki commented on #2071
Not sure I understand the idea:
* what we store in assets are fallback versions of the icons, when we have no or low connectivity, for immediate display
* as soon as we download the corresponding icon from the server, we display the server one instead
* therefore if https://static.openfoodfacts.org/images/attributes/ecoscore-a.svg hasn't changed, there's no point in storing a different icon in the

[2022-05-30 16:30] teolemon commented on #2071
I've opened a server-side issue (and a PR) for this. We'll wait until deployment.

- https://github.com/openfoodfacts/openfoodfacts-server/issues/6825

[2022-05-30 16:34] #2065 closed, assigned to g123k

[2022-05-30 16:37] teolemon commented on #2009
use world.openbeautyfacts.org where knowledge panels are not deployed yet, and scan any cosmetic

[2022-05-30 16:45] teolemon opened #2072 "Turn the confirmation modal on setting change into something less intruding"
### What
- Turn the confirmation modal on setting change into something less intruding ( or nothing at all)
- Note: we might have to indicate the change was taken into account (Snackbar?)
- Note: the modal implementation is also broken, with normalized id being shown)

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/171033782-2404ee47-f60b-422b-8047-cdbe69fe6c53.png)

[2022-05-30 16:48] M123-dev commented on #2072
I'd say we can remove it  completely

[2022-05-30 16:49] monsieurtanuki commented on #2072
@teolemon I agree, the modal is intruding. Maybe a once in a lifetime "got it" modal? A short snackbar (1s) could do the trick too.
Or as suggests @M123-dev, let's get rid of the modal altogether.

[2022-05-30 16:57] teolemon commented on #2072
let's get rid of it, I'm unsure (whether people will be unsure (whether their setting has been saved)). 🙃

[2022-05-30 17:01] monsieurtanuki commented on #2057
@teolemon Please attach a screenshot, I still don't see what you mean.

[2022-05-30 17:11] teolemon commented on #2057
There's no mockup available, but basically this one:
<img width="256" alt="image" src="https://user-images.githubusercontent.com/1689815/171036637-2425b8ce-f835-4edf-90d4-f30c91f375a8.png">

[2022-05-30 19:37] #2072 closed, assigned to monsieurtanuki

[2022-05-30 20:05] #2057 closed, assigned to monsieurtanuki

[2022-05-30 21:20] g123k opened #2076 "AppBar: product detail view should have the category name"
Hi everyone

While testing the app tonight, I wondered if we shouldn't show the "category" name in the details view of a product.

![Screenshot_20220530-231712.png](https://user-images.githubusercontent.com/246838/171060171-626b602b-f8e5-4897-8e92-2b0c8812cc78.png)

![Screenshot_20220530-231717.png](https://user-images.githubusercontent.com/246838/171060192-a773aad3-ed43-499d-bd18-5d6d320da824.png

[2022-05-30 21:27] g123k opened #2077 "Camera restarted whereas it shouldn't"
Annnnd another issue for me!

1. Use the search feature
2. Leave the app
3. Restart it

-> The camera is reopened whereas the visible screen is the search

[2022-05-31 04:57] g123k commented on #2001
I will implement the new UI for the scanner if that’s OK

[2022-05-31 07:42] cli1005 commented on #1722
**- We attempt to reload the product as the user attempts to sign-in**

_The product refreshing is just used to hide the question card  from the product page once all questions are answered_

**- Does it mean my answers have already been sent without credit ?**

_Yes, answer is already sent by pressing the button Yes or NO on the question page_
_If you want to send answers with credit, we might ei

[2022-05-31 08:00] teolemon commented on #1722
We might want to resend the same answers again for the current product, if the user decides to log in, so that they are counted as definitive answers, and thus the product gets the Nutri-Score/Eco-Score immediately.
@alexgarel that shouldn't pose any issue, and provoke the immediate Nutri-Scorisation, right ?

[2022-05-31 08:36] teolemon commented on #1966
It's fixed on the openfoodfacts-dart side: https://github.com/openfoodfacts/openfoodfacts-dart/pull/472

[2022-05-31 08:41] teolemon commented on #1722
- The system is now designed for answering multiple times the same question (the voting system for anonymous answers)
- We can't assume anonymous users will answer all questions (and thus deferring them is probably complicated)

[2022-05-31 08:42] teolemon opened #2081 "Create the reinvention onboarding screen, to be shown at the start of the onboarding"
![Intro](https://user-images.githubusercontent.com/1689815/171133031-d3fdf259-8d43-4ae0-861f-0a606f45f3dc.png)

[2022-05-31 08:42] teolemon opened #2082 "Add the new logo to the Scan carousel"
### What

- Add the new logo to the Scan carousel
### Part of
- #2001

[2022-05-31 08:43] teolemon opened #2083 "Signup warm-up screen and illustration"
### What
- Signup warm-up screen and illustration

### Part of
- #561

[2022-05-31 08:43] teolemon opened #2084 "Use the search illustration"
### What

- [ ] Use the search illustration from Quentin

### Part of
- #991

[2022-05-31 09:06] #2077 closed, assigned to g123k

[2022-05-31 09:06] #2062 closed, assigned to nobody

[2022-05-31 09:09] #1942 closed, assigned to cli1005

[2022-05-31 10:08] g123k commented on #2063
I think we have to migrate to Flutter 3.0 to have dedicated Widgets for handling the responsiveness of the design

[2022-05-31 11:36] monsieurtanuki commented on #2067
@teolemon Perhaps we could add subheaders with bright colors like a green "very good"?

[2022-05-31 11:47] teolemon commented on #2067
@stephanegigandet

[2022-05-31 11:48] teolemon opened #2088 "Getting rid of the RECORD_AUDIO permission ?"
### What
- Users that have APKs with version codes [271, 580] may need to accept the android.permission.RECORD_AUDIO permission, which may result in them not upgrading to this version of the app.
- I got this when preparing the beta release. Any way we can get rid of that permission ?

[2022-05-31 11:49] stephanegigandet commented on #2067
A colored pipe at the left would be great.

[2022-05-31 11:53] monsieurtanuki commented on #2067
I can do that, but that's probably not good enough for 2 reasons:
* accessibility / color blind
* dark mode

I'm going to implement colored pipes and sub-headers, and add some preferences in dev mode in order to play with those options.

[2022-05-31 11:55] stephanegigandet commented on #2067
I think we could have both the colored pipes + the text "Very good match".
e.g.
![image](https://user-images.githubusercontent.com/8158668/171167342-52a6d6d5-c4d1-4465-919d-1343b0c993d1.png)

[2022-05-31 12:02] stephanegigandet opened #2089 "Remove rounded gradient background around product images?"
The rounded gradient background around product images makes the photos harder to read and recognize. Could we just remove them?

![image](https://user-images.githubusercontent.com/8158668/171168433-40185f1a-73cd-4e73-a397-0109ab2fedc5.png)

[2022-05-31 12:03] stephanegigandet commented on #2067
While we are at it, I would be very much in favor of removing the rounded gradient background: https://github.com/openfoodfacts/smooth-app/issues/2089

[2022-05-31 12:08] teolemon commented on #2089
What are those lines on the left of the card ?

[2022-05-31 12:19] monsieurtanuki commented on #2088
@teolemon Interesting question.
`RECORD_AUDIO` comes from the `camera` plugin.
A solution would be to fork `camera` and remove that specific permission. A bit hairy.
Maybe removing the permission line (`<uses-permission android:name="android.permission.RECORD_AUDIO"/>`) from the generated `AndroidManifest.xml`, at some point of the build?

[2022-05-31 13:10] stephanegigandet commented on #2089
It's to make the match rating more visible, as suggested by @monsieurtanuki in https://github.com/openfoodfacts/smooth-app/issues/2067

[2022-05-31 14:01] monsieurtanuki commented on #2067
@stephanegigandet @teolemon I've just played with 2 concepts:
* list sub-headers
* colored background (faster to implement than just the pipe)

Following are the results:

| x | with subheader | no subheader |
| -- | -- | -- |
| with colors | ![Capture d’écran 2022-05-31 à 15 52 29](https://user-images.githubusercontent.com/11576431/171190067-3d93fb80-04a3-4e87-80bb-027a9c9bf65e.png) | ![Capture d

[2022-05-31 14:35] #1966 closed, assigned to nobody

[2022-05-31 14:43] M123-dev commented on #2067
I really like the second one, but I have to say the first one with the colored background seems a bit overwhelming

[2022-05-31 14:43] M123-dev opened #2091 "XCode update broken"
### What
- https://github.com/openfoodfacts/smooth-app/runs/6666595227?check_suite_focus=true

[2022-05-31 14:45] M123-dev opened #2092 "Login broken"
### Steps to reproduce the behavior
1. Try to log in

[2022-05-31 15:02] M123-dev opened #2093 "Pictures won't load"
### What
- For some strange reasons no pictures are loading anymore on my device does anyone else have this problem
@teolemon

[2022-05-31 15:09] g123k commented on #2093
Same issue here

[2022-05-31 15:12] M123-dev commented on #2093
Any Idea why @g123k I can't find any exception

[2022-05-31 15:14] g123k commented on #2093
`SocketException: Connection refused (OS Error: Connection refused, errno = 111), address = images.openfoodfacts.org, port = 40486`

Any problem with the server @stephanegigandet?

[2022-05-31 15:17] g123k commented on #2093
Seems to be on the server side @M123-dev

[2022-05-31 15:18] g123k commented on #2088
As I have forked the repo, I can indeed remove this permission.

[2022-05-31 15:21] g123k commented on #2088
Applied on the fork: https://github.com/g123k/plugins/commit/e38826f0ca92ff55cdb55f00f957787f1c537629
Nothing to do here, except a `pub upgrade`

[2022-05-31 15:21] #2088 closed, assigned to nobody

[2022-05-31 15:48] #2089 closed, assigned to monsieurtanuki

[2022-05-31 15:56] g123k commented on #2093
Now fixed 🥳

[2022-05-31 15:56] #2093 closed, assigned to nobody

[2022-05-31 15:56] g123k commented on #2092
Same as #2093 -> server side issue

[2022-05-31 16:04] M123-dev commented on #2092
Doesn't seem like a server problem to me

https://user-images.githubusercontent.com/39344769/171218850-a6c353db-0aa0-42c7-ad32-3592b0f04cd5.mp4

[2022-05-31 16:08] monsieurtanuki commented on #2067
[code]

You mean, `B`?

I agree: that's my favorite :)
What I like is 1. a subtitle (accessibility) 2. a visible distinction between blocks with colors.
Perhaps with light colors it will be less flashy:
![Capture d’écran 2022-05-31 à 18 08 23](https://user-images.githubusercontent.com/11576431/171219650-9cc0fc28-ce77-49fa-b6e2-2c736c5bfa24.png)

[2022-05-31 16:17] g123k commented on #2092
Ooops you're right ;)

[2022-05-31 17:08] monsieurtanuki commented on #2081
There's no next button:
* should I add one?
* should I apply a delay then move to `welcome`?

[2022-05-31 17:09] teolemon opened #2096 "Black screen on latest develop"
### What
- Black screen on latest develop

[2022-05-31 19:33] #1835 closed, assigned to cli1005

[2022-05-31 19:46] teolemon opened #2097 "Finish button in the wrong place (Product Addition)"
### What
- ![image](https://user-images.githubusercontent.com/1689815/171271944-1c90a31f-ff8a-4623-bd08-83e5b08f443f.png)

[2022-05-31 19:48] teolemon opened #2098 "Misaligned text and visuals in empty lists"
### What
-Misaligned text and visuals
![image](https://user-images.githubusercontent.com/1689815/171272554-b7082bc5-fe65-4315-9e34-1da95b4a1e0e.png)

[2022-05-31 19:52] teolemon opened #2099 "Clarify List addition button"
### What
<img width="525" alt="image" src="https://user-images.githubusercontent.com/1689815/171273241-8ddbe3ca-e1aa-43ef-bad7-eb060fde4618.png">

[2022-05-31 19:53] g123k commented on #2096
Is it the black camera issue we discussed together?

[2022-05-31 19:54] g123k opened #2101 "Product: selected text... unselectable"
### What
If you select some text in a product, this same text isn't unselected when you click outside the view boundings.

![Screenshot_20220531-215238.png](https://user-images.githubusercontent.com/246838/171273682-c5189d65-8a14-44d1-bfda-d3d8c3e4caa3.png)

[2022-05-31 19:57] g123k opened #2102 "Product compatibility settings: issues with InkWell"
![Screenshot_20220531-215541.png](https://user-images.githubusercontent.com/246838/171273986-fdc31a54-3c6e-478e-994b-935fa3312b5e.png)

When clicking on the settings icon, the InkWell is drawn below the card

+ A long press should show a Toolip (a11y)

[2022-05-31 20:01] g123k opened #2103 "Profile: wrong status bar color on Android"
My Android device is in light mode.
On Scan/History tabs, the status bar content is white.

However on the Profile, it's black.
![Screenshot_20220531-220001.png](https://user-images.githubusercontent.com/246838/171274728-8a917834-226f-4396-b51a-2c645bfc6b4d.png)

[2022-05-31 20:05] g123k opened #2104 "Country picker inaccessible if not logged in"
This was discussed on a previous PR, but if the user isn't logged in, he can't change his country.

Moving this preference to the App Settings would be a simple fix.

![Screenshot_20220531-220220.png](https://user-images.githubusercontent.com/246838/171275188-8f5d19c4-8ced-49b7-aebd-5b1bd5cff862.png)

[2022-05-31 20:09] g123k opened #2105 "Android: external links open a browser in fullscreen"
On Android and with external links (Blog, FAQ...), they are all opened in a browser which seems to be in fullscreen mode = no status bar.

![Screenshot_20220531-220712.png](https://user-images.githubusercontent.com/246838/171275887-a76516d3-586e-4979-b031-82391d9ac474.png)

[2022-05-31 20:20] M123-dev commented on #2101
The current plan is to make everything unselectable and only make some parts selectable when we have some more time to check what is suitable for that

[2022-05-31 20:24] teolemon commented on #2096
Yes
Steps: search, open camera, go back to app, click on scan, boom

[2022-05-31 21:03] M123-dev commented on #2097
WIll also get fixed by #2028

[2022-05-31 21:34] M123-dev opened #2107 "Bad matches sorted to good matches in ranking"
### What
- Bad matches sorted to good matches in ranking
Cc @monsieurtanuki

https://user-images.githubusercontent.com/39344769/171288125-727ed54c-7c28-4897-a071-e3292b317d49.mp4

[2022-06-01 03:30] AshAman999 opened #2115 "App bar not visible in light mode in My personalized screen"
### What
- Visibility issues in light mode

### Screenshot/Mockup/Before-After
- Light Mode
![Screenshot_2022-06-01-08-56-43-82_cc729dbb1ea2c751a543590b5da9708c](https://user-images.githubusercontent.com/57723319/171322008-d1c2710a-5fad-42b1-9db0-99edc26a0999.jpg)

- Dark Mode
![Screenshot_2022-06-01-08-56-26-87_cc729dbb1ea2c751a543590b5da9708c](https://user-images.githubusercontent.com/57723319/1

[2022-06-01 06:03] monsieurtanuki commented on #2107
Hi @M123-dev!
Several points here:
* we've recently switched from a 3 value match status to a 6 value match status (aka V2)...
* ...while keeping only 3+1 tabs on that page - as 7+1 tabs would be a bit hard to read
* therefore I had to squeeze 6 status into 3 tabs
* and in that algorithm I put [very good, good, poor] into the [Yes] tab - there's no way I should put "poor" in "Unknown" or "No"
* ma

[2022-06-01 06:07] monsieurtanuki commented on #2115
Hi @AshAman999!
Technically, the app bar is visible, but its content is not.
Should be fixed by #2028.

[2022-06-01 06:17] AshAman999 commented on #2115
yeah tried the build sent by Marvin , seems good there

[2022-06-01 07:16] #2096 closed, assigned to g123k

[2022-06-01 08:16] #2102 closed, assigned to g123k

[2022-06-01 08:17] #2104 closed, assigned to g123k

[2022-06-01 08:42] #2098 closed, assigned to nobody

[2022-06-01 08:44] #2105 closed, assigned to g123k

[2022-06-01 09:20] cli1005 commented on #1722
If the user decides to log in, resend the same answers again with credit for the current product, no product refreshing before login any more:

https://user-images.githubusercontent.com/87010739/171295139-2826816c-d09b-478b-bd4a-8d42cbe9f69f.mp4

[2022-06-01 11:27] #2081 closed, assigned to monsieurtanuki

[2022-06-01 11:27] g123k opened #2118 "Search bar: weird to use"
### What
Hi everyone,

![Screenshot_1654082538](https://user-images.githubusercontent.com/246838/171393493-246184b2-1777-43f5-a600-5de86b6af162.png)

When searching for an item using the search feature of the app, I find the general behavior of this screen really strange.
On top of the screen, we have a search field and below is our history.

When I type something in the search bar, nothing happen

[2022-06-01 12:16] #2103 closed, assigned to g123k

[2022-06-01 13:13] monsieurtanuki commented on #1392
@teolemon Something like that? I know it's not a priority but using this screen is definitely painful without the "select all/none" feature.
![Capture d’écran 2022-06-01 à 15 12 04](https://user-images.githubusercontent.com/11576431/171412536-423f6bc6-eb83-4a39-96a4-100a865b23b7.png)

[2022-06-01 13:33] #1906 closed, assigned to nobody

[2022-06-01 15:03] cli1005 commented on #1724
According to #1593, we have to build the background tasks mechanism for all uploading process? it might need to modify serval configuration files for both android and ios... @g123k, I have never done that before, could you please tell me if it is feasible and reliable since we have to make this version stable for this moment? if the answer is yes, do you have some suggested background tasks framew

[2022-06-01 15:23] teolemon opened #2121 "Small (potentially fixed) issues from my Google Photos"
### What
- Small (potentially fixed) issues from my Google Photos

### Steps to reproduce the behavior
<img height="250px" src="https://user-images.githubusercontent.com/1689815/171439667-d2b92158-dfb3-4f5d-9c7c-02815212a2a6.png">
<img height="250px" src="https://user-images.githubusercontent.com/1689815/171439768-b16f210f-45fe-4365-b064-723342f03146.png">
<img height="250px" src="https://user-ima

[2022-06-01 15:29] monsieurtanuki commented on #1683
According to https://openfoodfacts.github.io/api-documentation/#7Metadata

@teolemon That would tend to plead for "type in keywords/search" rather than "tree search", wouldn't it?

[2022-06-01 15:37] M123-dev commented on #2121
Looks like the upper 3 are with the color change PR right

[2022-06-01 17:22] g123k opened #2123 "OnBoarding: two issues on food preferences"
Some text is cropped + the settings icon shouldn't be clickable

![Screenshot_20220601-191923.png](https://user-images.githubusercontent.com/246838/171465017-0ba67997-bf48-480f-b933-434e632ad585.png)

[2022-06-01 17:27] g123k opened #2124 "First launch: OnBoarding still accessible via the back button"
### Steps to reproduce the behavior
1. Reset the app
2. Go through all onboarding pages
3. The scanner is visible
4. Press back
5. The Analytics agreement screen is visible again

[2022-06-01 18:40] #2099 closed, assigned to nobody

[2022-06-01 18:46] #2046 closed, assigned to nobody

[2022-06-01 18:52] M123-dev opened #2125 "Product name clickable in scanner"
### What
- name clickable in scanner

https://user-images.githubusercontent.com/39344769/171480610-d699fa26-5c4a-4a5f-b945-b4c85697ec34.mp4

[2022-06-01 19:13] teolemon opened #2126 "2 different users credited when uploading a product anonymously"
### What
- https://world.openfoodfacts.org/product/6973163400052
- 2 different users credited when uploading a product anonymously

[2022-06-01 19:24] teolemon commented on #1683
Probably.

[2022-06-01 19:30] M123-dev opened #2128 "Add new product card dissapears after going back (and doesn't appear anymore)"
### What
https://user-images.githubusercontent.com/39344769/171486488-f3ee2cf6-e098-4342-b535-eaf417a8c21f.mp4

[2022-06-01 19:32] M123-dev opened #2129 "Drawings shouldn't clip into system info bar"
### What
![Screenshot_20220601-213142.jpg](https://user-images.githubusercontent.com/39344769/171486848-687a2847-2285-4acc-80e1-9ab7f6356adb.jpg)
![Screenshot_20220601-213146.jpg](https://user-images.githubusercontent.com/39344769/171486859-6ba38d5a-f23e-4258-a7ea-dfa9fb6b6a18.jpg)

[2022-06-01 19:32] teolemon opened #2130 "Volume of Matomo reports dropped abruptly"
### What
Volume of Matomo reports dropped abruptly
<img width="390" alt="image" src="https://user-images.githubusercontent.com/1689815/171486824-3900e25e-0904-4e8b-9b2b-94dbf2c9c622.png">

[2022-06-01 21:17] #2130 closed, assigned to M123-dev

[2022-06-02 04:48] monsieurtanuki commented on #2129
@M123-dev You're right. It's only a matter of `SafeArea`. Working on it.
Btw the same problem is likely to happen every time we don't have an `AppBar`.

[2022-06-02 05:11] M123-dev commented on #2129
We can probably wrap two of the tree widgets in TabManager in a SafeArea, thinking that the Camera looks good filling the whole screen

[2022-06-02 05:46] #2129 closed, assigned to monsieurtanuki

[2022-06-02 08:27] g123k commented on #2121
For screen n°3, what's the version name used?
(Because GitHub Actions rewrites what's within the app)

[2022-06-02 08:27] g123k commented on #2121
@teolemon For screen n°3, what's the version name used?
(Because GitHub Actions rewrites what's within the app)

[2022-06-02 08:31] g123k commented on #2083
I think this one was implemented by @monsieurtanuki, isn't it?

[2022-06-02 13:16] stephanegigandet opened #2136 "Grey screen at startup"
When I launch the app, I get the Splash screen, then a brief flash of black screen, and then I'm stuck on a grey background.

![image](https://user-images.githubusercontent.com/8158668/171637432-ba0812ae-c8bf-4e35-bbb0-d7432ba323da.png)

This is on 0.0.5+366

Navigating with the bottom bar buttons then shows a flash of black screen and finally the camera feed.

[2022-06-02 13:33] cli1005 opened #2137 "Huge button on the page of adding new product"
### What
Huge button

![IMG_9583](https://user-images.githubusercontent.com/87010739/171640284-986400ec-3ab5-4b7e-8751-b1e8cb076134.PNG)

### Steps to reproduce the behavior
Add new product

### Smartphone model
 - Device: iphone
 - OS: ios15

[2022-06-02 13:34] teolemon commented on #2137
Fixed in #2028

[2022-06-02 13:51] g123k commented on #2136
A few questions @stephanegigandet:
- Is-it from a brand new install (after onboarding)?
- On every launch of the app?
- If you stay on the screen, there is never a camera feed… or maybe after a delay?
- If you minimize (not close)/reopen the app, do you also have the issue?

[2022-06-02 13:53] #2137 closed, assigned to nobody

[2022-06-02 14:00] CharlesNepote opened #2138 "I can't use commas nor dots to enter numbers"
When I'm entering a new product, when I want to modify nutrition facts:
* if I enter numbers with dots, when validating it says I can't (fields become red with "Numéro incorrect")
* if I try to use commas, selecting comma on the keyboard does nothing

To ease the use, it should accept either commas either dots (the numbers are normalized on the server side).

[2022-06-02 14:06] CharlesNepote opened #2139 "Resizing photos is less efficient than in the native Android app"
1. The bar with ratios is nearly always useless and redundant with the ability to resize manually: I would delete it.
2. It's more difficult to resize with the "angles" because those are moving both vertically and horizontally. In the native app, it was possible to resize only vertically or horizontally, which was more precise and fast.

3. At the end (not the same issue), sending photos is not as

[2022-06-02 14:07] g123k opened #2140 "Wrong status bar color"
A few screens still have the dark status bar
![Screenshot_20220602-160544](https://user-images.githubusercontent.com/246838/171647974-e9af3479-f7a8-40df-8eae-4f94e89f5ee9.png)
![Screenshot_20220602-160549](https://user-images.githubusercontent.com/246838/171647982-64cb9962-92f3-4e23-9267-18f69fcc2719.png)
![Screenshot_20220602-160555](https://user-images.githubusercontent.com/246838/171647994-6478

[2022-06-02 14:18] M123-dev commented on #2138
We should allow both comma and dots as some phone number-keyboards just allow one of them

[2022-06-02 14:20] M123-dev commented on #2136
I have the same problem here a video @g123k

https://user-images.githubusercontent.com/39344769/171650803-3aff5aed-62f3-4544-b3c9-bc60b6a408f0.mp4

[2022-06-02 15:32] cli1005 commented on #2126
Seems no problem any more, newly added: https://world.openfoodfacts.org/product/6755300813600
![Capture d’écran 2022-06-02 à 17 30 52](https://user-images.githubusercontent.com/87010739/171665754-e066999e-d86d-4375-a59b-070cfe8e4719.png)

[2022-06-02 15:49] M123-dev commented on #2091
We need a key in the secrets which as the rights to publish to the dev branch

[2022-06-02 15:52] teolemon opened #2141 "Feature A"

[2022-06-02 15:58] #2141 closed, assigned to nobody

[2022-06-02 16:08] g123k commented on #2138
Will it be better like so?
(Only one separator allowed + if typed multiple times, it will move accordingly)

https://user-images.githubusercontent.com/246838/171675013-e9000219-fbda-4432-86cb-6d477348336a.mp4

[2022-06-02 16:10] cli1005 commented on #2125
No click effect more, open Basic Details Edition page by clicking the name of an unknown product, open Product page by clicking a normal product.

https://user-images.githubusercontent.com/87010739/171675575-5ee303f5-550a-494e-a364-7b653f70ecde.mp4

[2022-06-02 16:10] monsieurtanuki commented on #2140
As they say, "it's not a bug, it's a feature":
https://material.io/design/color/the-color-system.html#color-theme-creation
![Capture d’écran 2022-06-02 à 18 09 57](https://user-images.githubusercontent.com/11576431/171675419-445c7577-4e9d-42c5-85a6-795aef3b396b.png)

[2022-06-02 16:14] M123-dev commented on #2138
Looks great @g123k

[2022-06-02 16:14] M123-dev commented on #2125
@cli1005 it shouldn't be clickable at all from the scan carousel

[2022-06-02 16:17] cli1005 commented on #2125
But in the code, we should open Basic Details Edition page by clicking the name of an unknown product 🤔 , you might check the small modification done in the PR https://github.com/openfoodfacts/smooth-app/pull/2142, I have just disabled the onTap handler of product name, the carousel card has an onTap handler itself for opening the product page.

[2022-06-02 16:20] M123-dev commented on #2125
Just checked it out is a great solution, but my concern in these "clickable in scanner" is confusion. When I click the scan card I expect the product page not some details and not some addition screen

[2022-06-02 16:22] monsieurtanuki commented on #2138
My remarks:
* it looks like again another external package, which I'm not very fan of.
* the instant correction is cool.
* 2 keys for the comma is problematic (especially when in some countries you can use both ',' and '.', e.g. `1 ,200.45`)
* keys '-' and '_' mean nothing in our case.
* the keyboard input is not enough: we must check that the value is correctly understood downhill.

[2022-06-02 16:25] g123k commented on #2138
@monsieurtanuki It's in PR #2143 and it's only my code (not relying on any external package)
But you're right about , and . in some countries. I will think about a generic solution

[2022-06-02 16:27] monsieurtanuki commented on #2083
@g123k I don't think I did. Actually I have a veeeeery old computer (2011) and using at the same time figma, Android Studio and the iOS Emulator is problematic, CPU-wise. Which explains why I cannot double check that quickly.

[2022-06-02 16:29] g123k commented on #2136
@M123-dev Thanks, but it seems it's not the issue mentioned by @stephanegigandet, as its camera never starts

[2022-06-02 17:02] #2025 closed, assigned to M123-dev

[2022-06-02 17:02] #2097 closed, assigned to M123-dev

[2022-06-02 17:02] #2115 closed, assigned to nobody

[2022-06-02 17:23] #2092 closed, assigned to M123-dev

[2022-06-02 20:27] M123-dev commented on #2136
Oh yes @g123k was on the wrong build, but here a right Video.

The problem also solves itself when scrolling through the carousel

https://user-images.githubusercontent.com/39344769/171732012-a3073981-5762-4054-9ed3-93709c8ab399.mp4

[2022-06-03 07:34] stephanegigandet commented on #2136
Answers to @g123k 's questions:

No, it was after an update.

Yes.

There is never a camera feed.

If I minimize and reopen the app, the problem goes away: I see a black screen briefly, and then the camera feed.

[2022-06-03 08:16] UgoKo-Rubeast commented on #1137
Could I take this issue?

[2022-06-03 08:20] g123k commented on #2136
Ok thanks for your 2 feedbacks, I will work on it (maybe today or tomorrow at worst)

[2022-06-03 08:50] teolemon opened #2145 "You have to retype everything when refining a search query"
### What
- You have to retype everything when refining a search query, a pencil on the historical queries to enable refining them would be nice
- Reported by one of the people who will demo the app at Vivatech

[2022-06-03 09:15] cli1005 opened #2146 "Refresh the edit page after every edit"
### What
Re-modify can not have the last modification, updating product happens only if we go back to the product page

### Steps to reproduce the behavior
1. Go to Full version Product Page
2. Click on 'Modify the product'
3. Click on Modify Basic Information -> make some changes -> save
4. Click on Modify Basic Information again

### Expected behavior
Keeping all saved modification by refreshing

[2022-06-03 09:56] teolemon opened #2147 "Comparison to wrong category"
### What
- Unsure at this point if it's server or client, but on some products with a "Vegan" erroneous category, we take "Vegan" as a comparison, which create a useless XP

### Steps to reproduce the behavior
1. Scan barcode-3760324840351 - https://world.openfoodfacts.org/product/3760324840351/pate-a-tartiner-chocolat-noisettes-sans-lait-bio-la-fourche
2. Click on 'Compare to Category'
4. See err

[2022-06-03 10:58] monsieurtanuki commented on #2147
@teolemon If you have a look at the server data in https://world.openfoodfacts.org/api/v2/product/3760324840351?fields=categories&lc=fr&cc=fr, this is what you get for `categories` (similar results for `categories_tags` and https://world.openfoodfacts.org/api/v2/product/3760324840351?fields=categories_tags&lc=fr&cc=f):
* Spreads
* Breakfasts
* Sweet spreads
* fr:Pâtes à tartiner
* Hazelnut spreads

[2022-06-03 11:15] teolemon commented on #2147
that's not a simple question, and not as simple as taking the last English category (eg wines)
@stephanegigandet @alexgarel any ideas ? we'd basically need a boolean indicating whether the category is taxonomized or not

[2022-06-03 13:45] stephanegigandet commented on #2147
As suggested by @teolemon we should pick only a taxonomized category, I will change the code on the server side so that we compare only to taxonomized categories (it's not only the compare button, but also the nutrition facts table knowledge panel).

@monsieurtanuki Can you change the app code so that we don't pick the last one, but the one referenced in the compared_to_category field?
https://wor

[2022-06-03 13:49] stephanegigandet commented on #2147
Server side part: https://github.com/openfoodfacts/openfoodfacts-server/issues/6853

[2022-06-03 13:59] stephanegigandet commented on #2147
The very short term fix is to remove the category "vegan" from those 25 products. This bug might affect a few more bogus categories, but probably not many products.

[2022-06-03 14:51] teolemon opened #2149 "iPhone 5 screenshots"
### iPhone 5 screenshots

![IMG-20220603-WA0009](https://user-images.githubusercontent.com/1689815/171878366-dfb99466-5224-4832-96fe-a1048a9b63c0.jpg)
![IMG-20220603-WA0014](https://user-images.githubusercontent.com/1689815/171878375-21cd878f-b581-4188-83a5-6d406cafe5c0.jpg)
![IMG-20220603-WA0016](https://user-images.githubusercontent.com/1689815/171878377-ae4a923c-2ddf-41bb-a316-c211f5866298.jpg)

[2022-06-03 15:03] #2124 closed, assigned to g123k

[2022-06-03 15:59] AshAman999 opened #2150 "visual issues on the card in dark mode"
### What
- Color issues in Dark Mode

### Steps to reproduce the behavior
1. Search for a product
2. See the product card
3. …
4. See an error

### Screenshot

![Screenshot_1654271719](https://user-images.githubusercontent.com/57723319/171901922-49e35982-78f3-4bb6-a6f7-94e1cc4a696c.png)

[2022-06-04 01:55] UgoKo-Rubeast commented on #1137
Should we change our backend API?
According to the following pic, the dropdown widget seems to be built based on backend data. I think a thorough solution is to let our backend API not to send per serving data when serving size = 100g.

https://github.com/openfoodfacts/smooth-app/blob/2c9cd30b33315443a99fc1523774972629e4eab6/packages/smooth_app/lib/data_models/query_product_list_supplier.dart#L19

[2022-06-04 07:49] teolemon opened #2153 "bad translation on nutrition input validation"
### What
- bad translation on nutrition input validation

### Screenshot/Mockup/Before-After
![Screenshot_20220604-094622.png](https://user-images.githubusercontent.com/1689815/171990081-b8e3e544-491a-48cc-8114-b787223416cc.png)

[2022-06-04 07:51] teolemon commented on #2146
Yes indeed,. Just experienced this with nutrition

[2022-06-04 11:31] #2147 closed, assigned to monsieurtanuki

[2022-06-04 13:31] teolemon opened #2155 "No back button on photo update"
### What
- No back button on photo update

![PXL_20220604_131908913.jpg](https://user-images.githubusercontent.com/1689815/172001591-0bbd6062-76d8-4b57-a4cb-4fbaad147884.jpg)

[2022-06-04 13:32] teolemon opened #2156 "Duplicated packaging photo button"
### What
- double packaging photo button ![PXL_20220604_131930851.jpg](https://user-images.githubusercontent.com/1689815/172001767-d95c733c-8718-4e6e-9f70-b0282ef661dc.jpg)

[2022-06-04 13:34] teolemon opened #2157 "Too many steps in the refresh photo experience"
### What
- Did quick user testing with my father. He does not like the update, because it slows down the image refresh process considerably, and makes it unintuitive. Too many steps in the refresh photo experience
### Part of
- #1325

[2022-06-04 13:48] M123-dev commented on #2155
It's a color issue

[2022-06-04 20:59] teolemon opened #2160 "Add the detected barcode on the "New product" scan card"
### What
- Add the detected barcode on the "New product" scan card
- That helps prevents wrong barcode addition in Open Food Facts

### Mockup
<img width="208" alt="image" src="https://user-images.githubusercontent.com/1689815/172122162-012cf222-8c7a-4bb0-a180-48080823c74b.png">

[2022-06-05 01:46] AshAman999 opened #2161 "svg on the scan visor seems not to be aligned"
### What
- On the scan visor seems to have some visual issues

### Screenshot/Mockup/Before-After
![Screenshot_2022-06-05-07-09-53-61_cc729dbb1ea2c751a543590b5da9708c](https://user-images.githubusercontent.com/57723319/172031386-b5c1c30f-205e-4faf-b914-ab02fe82e6a0.jpg)

### Smartphone model
 - Device: [RMX 1851]
 - OS: [ Android 11]
 - App Versio- Built locally with the latest pulled changes

[2022-06-05 08:36] g123k opened #2164 "replace "Null" brand with an `Unknown brand`"
### What

- It seems that some products in the database belong to a ["Null" brand](https://fr.openfoodfacts.org/marque/null).
- In that case, shouldn't we replace this data issue with an `Unknown brand` or something like that?

### Part of
- #1265

[2022-06-05 08:52] teolemon commented on #2164
Yes 👌

[2022-06-05 09:10] teolemon opened #2165 "Color issue in compare mode"
### What
- Color issue in compare mode
 ![Screenshot_20220605-110333.png](https://user-images.githubusercontent.com/1689815/172043577-f6aae8ea-12d5-44ae-8f1e-cc8d4e694afa.png)

[2022-06-05 09:11] teolemon opened #2166 "In history view, Eco-Score should disappear from when refreshing from an unsupported country"
### What
- eco score doesn't disappear when refreshing from an unsupported country
<img src="https://user-images.githubusercontent.com/1689815/172043610-c6f37008-90f9-47c8-b42c-94225b5e7a69.png" width="300px">

[2022-06-05 09:12] teolemon opened #2167 "We should be able to refresh the product page from the sub knowledge panel"
### What
- We should be able to refresh the product page from the sub knowledge panel

![Screenshot_20220605-105921.png](https://user-images.githubusercontent.com/1689815/172043655-93b9b192-d9c1-4af1-af63-e176cacaba5f.png)

[2022-06-05 09:14] teolemon opened #2168 "We are incoherent on the country support within the product page"
### What
- We are incoherent on the country support within the product page
  - we don't display the eco-score in the summary card without any explanation but we do display the eco-score in the environment card, with barely a mention of the experimental nature in unsupported countries
  - related to #2166

![Screenshot_20220605-105752.png](https://user-images.githubusercontent.com/1689815/17204370

[2022-06-05 11:16] #2145 closed, assigned to g123k

[2022-06-05 11:20] M123-dev commented on #2161
CC: @g123k

[2022-06-05 11:21] #2156 closed, assigned to nobody

[2022-06-05 11:22] #2155 closed, assigned to nobody

[2022-06-05 12:29] teolemon commented on #2164
It seems to be the "Gluten Scan" app.

- [ ] I'm going to file a cleanup task
- [ ] I'm going to notify the dev as well

[2022-06-05 13:53] teolemon commented on #1136
Related user report:
![image](https://user-images.githubusercontent.com/1689815/172054000-fc348e79-eb36-4bd9-9f01-2113e10c280a.png)

[2022-06-05 14:41] teolemon opened #2169 "Add simple input for missing tags"
### Why
- Some users complain about not being able to add the info like before
- #1075 is not here yet
### What
- Add a new editing section with simplistic input for all missing tags "Advanced editing"
- This would be a screen with text fields, populated like in V1 by existing values, with a chip input system, with autocompletion
- [x] Categories
- [ ] Origins of ingredients #2501
- [ ] Packaging

[2022-06-05 14:48] teolemon opened #2170 "Onboard users in the photo edit carousel"
### What
- It's not obvious that the photos can be slided. We can have: a one-off tip, left and right arrows, or little dots to suggest slideability
-
![image](https://user-images.githubusercontent.com/1689815/172056303-cf566031-93db-411d-aab0-e122b66b2658.png)

[2022-06-05 15:08] teolemon opened #2171 "Create a packaging edit view"
### Why

- A user (my dad) was used to taking recycling instruction photos to help with Open Food Facts.
- With the new app, he's confused as how to do that. He sent me the following text.

### Screenshot of the user feedback
![image](https://user-images.githubusercontent.com/1689815/172057183-f1d5ec7e-5838-41dd-bf1b-c52414e4a2b7.png)
### Proposed solution
- The obvious solution would be to link t

[2022-06-05 15:21] VaiTon opened #2172 "The personal ranking search button jumps when scrolling"
### What
- The "personal ranking search button" jumps when scrolling

### Steps to reproduce the behavior
1. Search a product name on the main screen
2. Scroll to the bottom
3. See that the button at the bottom with the trophy jumps from a position to another

### Expected behavior
The transition should be animated.
Otherwise the button should remain in the same position. Maybe move it to the left

[2022-06-05 15:21] g123k opened #2173 "Migration to Flutter 3.0 / Dart 2.17"
Hi everyone,

It would nice to migrate to Flutter 3.0 and thus enable:
- enum members
- Super params
- Foldable devices support

More info

https://medium.com/dartlang/dart-2-17-b216bfc80c5d
https://devblogs.microsoft.com/surface-duo/flutter-3-foldable/

[2022-06-05 15:23] g123k commented on #2164
I wonder where we should fix this: on the Dart dependency or this app.
Any suggestion?

[2022-06-05 15:25] teolemon commented on #2164
It's a low volume of products(300), so we can postpone to be honest

[2022-06-05 15:27] VaiTon opened #2174 "Make the "load more" mechanism more user friendly in product search"
### What
- In search page the load more button should not create a dialog, blocking the user from doing anything.

### Steps to reproduce the behavior
1. Search something
2. Scroll to bottom
3. Tap on "load more" btn
4. Enjoy waiting

### Expected behavior
The loading should happen while the user is free to move the list or even open a product.

If the user changes pages the loading should stop, l

[2022-06-05 15:29] VaiTon commented on #2139
I agree with you, except the second point. I feel like I'm more efficient using the new "angles"!

Anyway, should we open tree sub-issues @teolemon ?

[2022-06-05 15:39] VaiTon commented on #2150
Fixed by #2163

[2022-06-05 15:39] #2150 closed, assigned to nobody

[2022-06-05 15:46] VaiTon commented on #2136
I also have experienced this. Closing and reopening the app (completely closing the app, like with the back button) fixes it sometimes.

[2022-06-05 15:52] VaiTon commented on #1314
@bhattabhi013 any news on this one?

[2022-06-05 17:46] teolemon commented on #2139
Yes, my father complained as well with the contribution xp

[2022-06-05 18:19] g123k commented on #2164
What I mean by that, is maybe to prevent entering "null" values on the "Dart" side, to ensure nobody fill the database with incorrect values. For Smoothie, that's another thing

[2022-06-05 18:39] g123k commented on #2161
On a release build, is-it also reproducible?
(I tend to think that the issue is generated by Device Preview)

[2022-06-05 19:02] teolemon commented on #2161
Yes it is

[2022-06-05 19:03] teolemon commented on #2161
![Screenshot_20220605-210314.png](https://user-images.githubusercontent.com/1689815/172066363-d17280f3-d70e-4a60-9650-e793295a7db2.png)

[2022-06-05 19:11] M123-dev opened #2176 "IOS Release failing (May 22)"
### What
- https://github.com/openfoodfacts/smooth-app/runs/6744822965?check_suite_focus=true
[code]

cc @teolemon

[2022-06-05 19:13] M123-dev commented on #2173
+1

[2022-06-05 19:17] M123-dev commented on #2173
But what needs to be migrated, just checked I am already on 3.0.1 since a week or so

[2022-06-05 19:26] g123k commented on #2173
You have to change the min `environment.sdk` to `2.17`.
There are some enum with extension in the code + some super constructor also

[2022-06-05 19:28] g123k commented on #1898
Any news @M123-dev?

[2022-06-05 19:29] g123k commented on #1771
Basically, it will depend on the launcher.
We can't do anything.

[2022-06-05 19:29] #1771 closed, assigned to nobody

[2022-06-05 20:18] #2136 closed, assigned to g123k

[2022-06-05 20:36] #2082 closed, assigned to g123k

[2022-06-05 20:38] #2161 closed, assigned to nobody

[2022-06-05 20:38] #2140 closed, assigned to nobody

[2022-06-05 20:39] #2067 closed, assigned to monsieurtanuki

[2022-06-05 21:10] teolemon opened #2179 "Opening the app sometimes results in a black screen"
### What

https://user-images.githubusercontent.com/1689815/172070654-188a9ad4-f22d-4e53-b00e-7b60494402e4.mp4

[2022-06-05 21:12] teolemon opened #2180 "Impossible to refresh search results + oversized title while loading"
### What
Impossible to refresh search results if there are no search results + oversized title while loading
- https://user-images.githubusercontent.com/1689815/172070746-6c1586fb-eae3-45be-81f0-062739def3d4.mp4

![Screenshot_20220605-224757.png](https://user-images.githubusercontent.com/1689815/172070813-ae94f289-e8c3-4dd9-9c17-15b6d6e07fbd.png)

[2022-06-05 22:40] g123k commented on #2179
Unfortunately this is the consequence, I have to know the steps to reproduce first

[2022-06-06 05:02] AshAman999 opened #2181 "visual issue on error card in dark mode"
### What
- Seems like the error card doesn't work well in dark mode

### Steps to reproduce the behavior
1. Turn off the internet connection
2. Search for any product tag
3. See the error

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/57723319/172097853-ddbfa03e-9c7b-4e24-a8f4-542d1886b95f.png)

### Additional context
(optional, delete if empty)

[2022-06-06 06:11] teolemon commented on #2179
First open

[2022-06-06 06:42] g123k commented on #2179
I am sometimes able to reproduce it.
This is not the first launch, because the app needs to be opened before.

It may be related to Doze. Will investigate this, but clearly an edge case

[2022-06-06 06:50] monsieurtanuki commented on #2107
Fixed by #2067.

[2022-06-06 06:50] #2107 closed, assigned to monsieurtanuki

[2022-06-06 06:55] M123-dev opened #2183 "Add new product empty (or not visible content) AppBar"
### What
![Screenshot_20220605-190046.jpg](https://user-images.githubusercontent.com/39344769/172110961-ed284c42-4a09-4d13-b81c-ba53eb2fedc2.jpg)

[2022-06-06 06:57] M123-dev opened #2184 "Edit Retake Confirm button stacking on the left side"
### What

I don't know if the vertical stacking is wanted behavior, but if then they should stack on the right side of the screen to have a comment gesture with FloatingActionButtons

### Part of
- Photo manager

![Screenshot_20220605-190037.jpg](https://user-images.githubusercontent.com/39344769/172111086-41f57208-0e1e-43db-b094-da31296ece93.jpg)

[2022-06-06 07:27] teolemon commented on #2184
- This retake photo flow is too complex at the core. From V1, contributors expect direct access to the Retake photo button. We currently hide it behind 3 taps (one to go to gallery, one on edit button, one on the checkbox, with 0 clue that's a potential path to retake a photo, and one final tap on Retake photo)
- How complicated is it to refactor it to make photo retake much more accessible ?
- It

[2022-06-06 07:32] monsieurtanuki commented on #2180
@teolemon I agree: the huge title stinks.
About the "refresh" button, it's here but you don't see it (in light mode): it's visible in dark mode. I'll fix that.
Beyond that, there's no refresh button at all the very first time - so far the "refresh" button is there only along the "cache since" message. I'm not sure we should fix that too.

[2022-06-06 08:32] teolemon commented on #2165
Seems fixed

[2022-06-06 08:32] #2165 closed, assigned to nobody

[2022-06-06 08:40] AshAman999 commented on #2184
@M123-dev The stacking wasn't expected, I just looked up, it seems like when there is no space to fi the buttons in the horizontal space it tries to fit it in the stacked layout.

Looking into this..

[2022-06-06 09:02] monsieurtanuki commented on #2174
Hi @VaiTon!
I understand your use-case, and that opens many potential UX issues or improvements:
* let's say that the download is in the background - that's basically what you suggest, right?
* then we have to run the download as a service (or something like that), we haven't done that so far in the project (interesting topic)
* when we go back to the same result page, we should see if there's a d

[2022-06-06 09:20] monsieurtanuki commented on #2172
The reason behind that is the "go back to the top" FAB that appears when you're not on the top anymore; there are two modes:
1. just the "ranking" FAB, centered
1. both the "ranking" FAB and the "top" FAB

Should we keep just mode 2, making the "top" FAB either invisible or deactivated when relevant?

[2022-06-06 10:31] #2138 closed, assigned to g123k

[2022-06-06 10:34] stephanegigandet commented on #1898
@g123k I have the same issue on my Galaxy S8:

https://user-images.githubusercontent.com/8158668/172144672-9cfb9489-e731-4278-8423-460098341b24.mp4

[2022-06-06 10:39] AshAman999 commented on #2184
![image](https://user-images.githubusercontent.com/57723319/172145490-103859a7-a1c8-4963-a98c-1e7997c822b3.png)

What about this ?
cc @M123-dev

[2022-06-06 10:54] teolemon commented on #2176
Fixed @M123-dev

[2022-06-06 10:54] #2176 closed, assigned to nobody

[2022-06-06 11:20] monsieurtanuki commented on #2169
@teolemon Regarding autocompletion, we're a bit stuck because of https://github.com/openfoodfacts/openfoodfacts-dart/issues/465
How did you guys do with the android or ios app, in order to go beyond the 25 item limit?

[2022-06-06 11:28] teolemon opened #2190 "(Gala) When I wanted to add an additional photo for a product, the app closed while uploading the photo."
### What
- V2. When I wanted to add an additional photo for a product, the app closed while uploading the photo.
- iPhone 5s (ver.12.5.5)
- Report by Gala @galnaf

[2022-06-06 11:38] g123k commented on #1898
Hi Marvin,

I would need your help on this.
Could you please try to change the focus point in the code and tell me which value is OK?
(I tend to think that some devices have "rotated" cameras, which may explain why the focus is not at the correct coordinates)

In `ml_kit_scan_page` line 416

[2022-06-06 12:04] g123k commented on #2183
The Appbar doesn't have a title.

If a remove the title from the content and move it to the AppBar, is-it OK?
(cc @teolemon)

Before
![Screenshot_1654516990](https://user-images.githubusercontent.com/246838/172157069-5a4637c4-f02f-4577-944a-62ad0d4ba701.png)

After
![Screenshot_1654517000](https://user-images.githubusercontent.com/246838/172157096-c9aedc79-a0cb-4878-a2a3-0899bb87638c.png)

[2022-06-06 12:05] #2180 closed, assigned to monsieurtanuki

[2022-06-06 12:10] monsieurtanuki commented on #2168
cf. #1822: the root to all fixes would be to know [which countries have the eco-score, and which have not](https://www.youtube.com/watch?v=EBM5Bte4ltg).

[2022-06-06 12:12] g123k commented on #1724
The idea here would be to use a package like `WorkManager` to send the request asynchronously.

Meanwhile, we have to fake the fact the photo is already uploaded.
For that, you can use the cache_manager available in the app to store the photo.

You also have to change the local product to link to that temp file.
Once the file is uploaded -> remove the file from the cache & update the product in th

[2022-06-06 12:12] teolemon commented on #1724
Given the sizeable amount of time to do this right before release, and the stability risk, I would unassign you @cli1005 (and reassign you on something more tactical)
I would welcome commentary from @g123k and possibly @monsieurtanuki for the next step on this

[2022-06-06 12:18] teolemon commented on #2183
yes 👌

[2022-06-06 12:29] g123k commented on #2190
Tested on a recent iPhone and unable to reproduce it.
I think this a low memory issue.

Should we investigate on this, knowing that iPhone 5s is not supported anymore by Flutter?

[2022-06-06 12:30] teolemon opened #2192 "Uploading photos on server takes too much time"
### What
I've retested New product addition with a video. It's really long, especially on 4G.
https://photos.app.goo.gl/w6VcqSpvyeqqp8z48

[2022-06-06 12:30] AshAman999 commented on #2184
Tried to reduce the steps to capture a new image...

https://user-images.githubusercontent.com/57723319/172160798-8d631509-4681-43e2-bd98-643fc0fbf576.mp4

[2022-06-06 12:52] monsieurtanuki commented on #1724
As I said before in #2174, for the moment we don't use background processes in Smoothie. They aren't that old in pure `dart` either, cf.
* https://docs.flutter.dev/development/packages-and-plugins/background-processes
* https://medium.com/flutter/executing-dart-in-the-background-with-flutter-plugins-and-geofencing-2b3e40a1a124

If the question is: "Do we need it now before the next release?", my i

[2022-06-06 12:54] g123k commented on #1898
I am able to reproduce this issue on a Samsung device.
Basically, all calls to setFocus… are ignored.
It seems this is a native issue

[2022-06-06 12:57] monsieurtanuki commented on #1898
A suggestion: what if we restricted the camera widget to the top half of the screen?
Of course that would mean no camera display on the bottom half (less nice), but the focus should be on [.5, .25] then, right?

[2022-06-06 13:04] g123k commented on #1898
It won't fix this issue actually, because the root cause is that `setFocusPoint` is just ignored.

[2022-06-06 13:06] monsieurtanuki commented on #1898
Oh we don't need setFocusPoint anymore: if the focus is on the camera center, we're good anyway.

[2022-06-06 13:15] #2183 closed, assigned to g123k

[2022-06-06 13:19] #2181 closed, assigned to monsieurtanuki

[2022-06-06 13:46] teolemon commented on #2169
@monsieurtanuki We never noticed it, and did a query with every key stroke, after the nth first keystrokes

[2022-06-06 13:48] teolemon commented on #2169
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/a51c675ee127db12178b4014bc8dd763371f6e88/app/src/main/java/openfoodfacts/github/scrachx/openfood/network/services/ProductsAPI.kt#L109

[2022-06-06 13:53] monsieurtanuki commented on #2169
Then you're lucky and I'm not. We're both using the same `cgi/suggest.pl` with the same parameters.
* what if you type just `'a'`: do you see all the categories that contain `'a'`?
* what if you type `'soja'` (in French): how many "`Boissons végétales de soja"` do you see?

[2022-06-06 13:57] teolemon opened #2193 "Smoothie does not release camera on iOS while on product page"
### What
Smoothie does not release camera on iOS while on product page

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/172175030-cad2ef8b-541d-4178-86ef-033dc031c12d.png)
![image](https://user-images.githubusercontent.com/1689815/172175052-f0d9eea6-9102-4970-ab8c-3990d5b95827.png)

[2022-06-06 14:04] monsieurtanuki commented on #2193
A suggestion: forget about the way the bottom tabs are currently implemented (as parallel "on"/"off" scaffolds).
That could help the system to say "I really don't need this camera as there's no widget using it, even off".

[2022-06-06 14:17] teolemon commented on #2169
![Screenshot_20220606-161601.png](https://user-images.githubusercontent.com/1689815/172178931-4651cc7c-9ddc-44c5-b7a3-efc47bbc5104.png)
![Screenshot_20220606-161535.png](https://user-images.githubusercontent.com/1689815/172178967-5cb48995-42a9-4d1c-9d31-3de88cefd88c.png)

[2022-06-06 14:18] teolemon commented on #2169
aah @monsieurtanuki I believe we use local taxonomies in V1 for those, actually…

[2022-06-06 14:19] teolemon commented on #2169
We only use autosuggest for 2 specific fields (packager codes). Local taxonomies allow for local editing, but they are very heavy

[2022-06-06 14:20] monsieurtanuki commented on #2169
@teolemon What shall we do then?

[2022-06-06 14:23] teolemon commented on #2169
I would move ahead without waiting for a server fix, the server fix will only make it work better once it's ready.
I'll raise the issue during the Product Opener meeting tonight with @stephanegigandet and @alexgarel

[2022-06-06 14:25] teolemon commented on #2169
User can input whatever they wish actually. Suggestions are just for convenience, and we do server side parsing and taxonomization over time

[2022-06-06 14:34] monsieurtanuki commented on #2169
Ok then.

[2022-06-06 14:55] monsieurtanuki commented on #2169
This will be something like that:
![Capture d’écran 2022-06-06 à 16 54 30](https://user-images.githubusercontent.com/11576431/172186315-2e657482-1f80-471d-a227-9104da01ec4f.png)

[2022-06-06 19:50] g123k commented on #1898
I've found the issue on the native part (which I think is a better fix).
Could you try again @M123-dev / @stephanegigandet

(It's on my fork of the camera plugin, so you have nothing to do, expect a `flutter upgrade`)

[2022-06-06 21:16] M123-dev commented on #2193
Just removing the stateful tabs doesn't solve the problem. The camera doesn't automatically close when pushing a page above it.

[2022-06-06 21:18] M123-dev commented on #2184
Yess looks better this way @AshAman999, when the buttons stay in a row if there is enouph space that would be perfect. [Wrap ](https://www.youtube.com/watch?v=z5iw2SeFx2M)would be the right widget here.

[2022-06-06 21:31] VaiTon commented on #2174
Thank you for your response @monsieurtanuki!

I was thinking something more simple, like what the YouTube app does.

If I scroll down, after a checkpoint the app starts to load more product (I would also be ok with the button) and if i leave the page the process is just cancelled. So if I go to that page again and scroll to the bottom the app should re-make the query.

[2022-06-06 21:32] VaiTon commented on #2172
What about keeping them both and having the "raking" FAB animate to that position instead of jumping?

[2022-06-07 05:27] g123k opened #2199 "Pause camera feed after inactivity"
### What
Hi everyone,

@alexgarel suggests me an interesting feature to lower the battery usage.

Imagine your phone has a display timeout of 5 min. If you stay on the Smoothie homepage, it will compute for 5 min.

An automatic pause feature (let's say 1min) would be nice if the user stays on the homepage, without any scan.

It's also really simple to implement.

### Part of
- #526

[2022-06-07 05:29] monsieurtanuki commented on #2193
@M123-dev I've understood that it's not a trivial subject; I was just wondering if it could be _part_ of the solution - and not _the whole_ solution.

My other suggestion: start some tactical app (or appS) in order to test only specific issues. Or just some `test/`s
E.g. `smoothie_camera`, that would
* cleanly open and close the camera
* make the camera focus on a given point
* possibly crop the r

[2022-06-07 05:50] monsieurtanuki commented on #2172
@VaiTon If you want to talk about "animation" you should talk with someone else (unless you want to talk about [movies](https://www.youtube.com/watch?v=xN-LWYx9B3I)) (but not a big fan of animations in flutter).

That said, the stuttering effect is problematic. If I refine my latest suggestion, we could have both buttons always there (no jump, then), with the "go to top" button being activated/dea

[2022-06-07 05:59] monsieurtanuki commented on #2174
@VaiTon Oh then it was not exactly what you implied in the OP:

Whatever you do, the user still spends a considerable time waiting, with just the possibility to stop whenever wanted. There's currently a button to stop the download, right? Therefore the user can already cancel at any moment.

That said, it's not a smooth experience, I give you that.
Maybe you should rephrase your OP with something

[2022-06-07 07:58] g123k commented on #2193
After testing, this is not really a bug.

On Android, when the camera is paused, the indicator is cleared.

However, on iOS, the indicator is still ON, whether the preview is paused or not.
The solution would be to dispose totally the camera.

What should I do?

[2022-06-07 08:32] teolemon opened #2200 "Analytics consent screen keeps opening"
### What
- Analytics consent screen keeps opening, probably at each app opening and/or update

![image](https://user-images.githubusercontent.com/1689815/172334643-fa221b67-2e50-4607-9e4a-0e50d001122f.png)

[2022-06-07 08:51] teolemon commented on #2193
- I'm not sure what the implications of totally disposing the camera are.
- That might be related to the battery thing Gala is reporting
- I'm not sure how long/complex a fix that would be

[2022-06-07 09:04] monsieurtanuki commented on #2193
Again, that could be tested with a simple test app that just opens the camera the way we do in Smoothie. Does it drain the battery by itself? Or is it something else we do in Smoothie that drains the battery?
Or: in Dev Mode, add a parameter to remove the camera. And check the battery draining.

[2022-06-07 10:10] VaiTon commented on #2172
@monsieurtanuki what about leaving the ranking button always on the left ? And leave the "top" button as it is?

[2022-06-07 10:13] VaiTon commented on #2199
Maybe in that case we could replace the overlay with a button saying "Scanner paused. Press anywhere to resume."

[2022-06-07 10:45] monsieurtanuki commented on #2172
@VaiTon Then the "ranking" button will shrink when the "top" button appears. Besides, the main button is the "ranking" button - does that make sense to put the main button on the left, I don't know.

[2022-06-07 10:46] VaiTon commented on #2126
@teolemon can we close?

[2022-06-07 11:08] VaiTon commented on #840
@mse-moises any news on this one?

[2022-06-07 12:45] teolemon opened #2203 "Search is broken do recent deployment in production"
### What
- Search is broken do recent deployment in production @stephanegigandet
![image](https://user-images.githubusercontent.com/1689815/172382153-cf7e77bf-fbc4-4643-b5b5-3d16bbd136cf.png)

[2022-06-07 13:08] stephanegigandet commented on #2203
Trying to build the app to see what field it's complaining about, I need to reinstall a bunch of things as I changed computers.

[2022-06-07 13:12] teolemon opened #2204 "As a user, I should not be able to edit a product without being logged in"
### What
- You can edit the product without being logged in
- We should require the user being logged in for access to editing (and I'm pretty sure that was the case at some point ?)
- The only case where we allow anonymous uploads are images, and initial product addition

[2022-06-07 13:16] AshAman999 commented on #2170
@teolemon , will something like this work?

https://user-images.githubusercontent.com/57723319/172389119-69340a5f-4a29-4480-8afc-a0e14cb65c78.mp4

[2022-06-07 13:27] teolemon commented on #2179
Closing

[2022-06-07 13:28] teolemon commented on #2200
@VaiTon does this happen to you as well ?

[2022-06-07 13:29] g123k commented on #2179
Unfortunately still reproducible

[2022-06-07 13:31] teolemon commented on #2203
Product page is broken as well. @g123k can you see it in debug ?

[2022-06-07 13:35] VaiTon commented on #2200
It happened like two days ago but today it didn't after an update. Does not every time I open the app though

[2022-06-07 13:36] teolemon commented on #2126
It is probably fixed with the server deployment but we need to test it  properly

[2022-06-07 13:37] VaiTon opened #2205 "Nutri-Score icon is not displayed correctly"
### What
[A picture is worth a thousand words!](https://user-images.githubusercontent.com/12072630/172394108-ec5b25f6-40c0-47b5-9594-6039ae6dd6f6.jpg)
<br>
<img src="https://user-images.githubusercontent.com/12072630/172394108-ec5b25f6-40c0-47b5-9594-6039ae6dd6f6.jpg" width=200px>

[2022-06-07 13:40] VaiTon commented on #1005
Are we still going to do this? @teolemon

[2022-06-07 13:41] teolemon commented on #1005
Good catch @VaiTon closing

[2022-06-07 13:41] #1005 closed, assigned to nobody

[2022-06-07 13:46] teolemon commented on #2170
perfect @AshAman999 👍

[2022-06-07 13:47] teolemon commented on #2126
@VaiTon @cli1005 fixed, we can close. I get credit for the images as well as the data
https://world.openfoodfacts.org/product/3526780812246

[2022-06-07 13:47] #2126 closed, assigned to nobody

[2022-06-07 13:48] teolemon commented on #2169
Labels and Stores are merged. How about Categories ?

[2022-06-07 13:58] #2125 closed, assigned to cli1005

[2022-06-07 14:14] stephanegigandet commented on #2203
List of things that changed in production: https://github.com/openfoodfacts/openfoodfacts-server/releases/tag/v1.5.0

[2022-06-07 14:17] teolemon opened #2206 "We should be more verbose in Error messages for scan"
### What

- [ ] We should be more verbose in Error messages for scan
- [ ] The search error message is good practise since it hides the complex message by default, and there's a button to reveal it
- [ ] Network error is vague, and probably a lie in that specific case

### Part of
- #526
![image](https://user-images.githubusercontent.com/1689815/172402658-a0c638f3-0258-43ad-8d6b-1fc82b9d4e3f.png)

[2022-06-07 14:19] teolemon commented on #2203
List of files: https://github.com/openfoodfacts/openfoodfacts-server/compare/v1.4.0...v1.5.0

[2022-06-07 14:24] teolemon commented on #2203
@stephanegigandet filed in the Dart SDK: https://github.com/openfoodfacts/openfoodfacts-dart/issues/477

[2022-06-07 14:46] mse-moises commented on #840
@VaiTon In the pull request #1739, the team came to the conclusion that it was no longer needed.

[2022-06-07 14:56] monsieurtanuki commented on #2169
Ok for categories. Working on it.

[2022-06-07 14:58] M123-dev commented on #840
I think the implementation of not accepting qr codes was no londer needes as @g123k did a lot of refactoring and included this. I'd say a snackbar still makes sense

[2022-06-07 15:37] g123k commented on #840
Indeed, we don't detect Qr codes anymore. So we can't know if it is a Qr code or not 🤪

[2022-06-07 19:22] #2071 closed, assigned to monsieurtanuki

[2022-06-07 19:29] #2170 closed, assigned to nobody

[2022-06-07 19:57] M123-dev commented on #1898
Sadly it doesn't seem to be solved @g123k it looks like the camera doesn't focus on close objects anymore. (Updated my dependencies)
Also found another bug of the camera not resuming

https://user-images.githubusercontent.com/39344769/172471082-fb4e282b-dc9d-48a2-babe-ca884a1d0aae.mp4

[2022-06-07 20:12] monsieurtanuki commented on #2205
That does not look systematic:

| type | picture | status | url |
| --- | --- | --- | --- |
| A | ![Capture d’écran 2022-06-07 à 22 01 02](https://user-images.githubusercontent.com/11576431/172471691-0f0639bd-5c20-4ad9-b216-df3e32cf6feb.png) | ok | https://static.openfoodfacts.org/images/attributes/nutriscore-a.svg |
| B | ![Capture d’écran 2022-06-07 à 22 01 38](https://user-images.githubuser

[2022-06-07 20:33] VaiTon commented on #840
Ok, so we only detect valid barcodes? If that is true we can close this! @g123k

[2022-06-07 21:09] #2203 closed, assigned to nobody

[2022-06-07 21:12] teolemon commented on #2203
thanks @monsieurtanuki

[2022-06-07 21:21] CharlesNepote commented on #2138
On the website we use the hyphen (-) to tell that the value is not on the product. For example, it is really useful to tell that there is no fiber value printed on the packaging: in some case that does not mean there is no fiber, but only that the producer didn't print it.
See https://github.com/openfoodfacts/openfoodfacts-server/issues/1938

Should I open a new bug for this?

[2022-06-08 02:13] UgoKo-Rubeast commented on #644
I have checked codes and found response from backend is certainly received. But the following widget rebuilding is not working. I have confirmed scanning of an another product existing in DB works well. Perhaps the loop is due to a bug in provider library?
https://github.com/openfoodfacts/smooth-app/blob/631b3675afc6205382a74c3de530fcea7cb0771c/packages/smooth_app/lib/data_models/continuous_scan_m

[2022-06-08 04:38] g123k commented on #2138
Yes, please open a new one @CharlesNepote

[2022-06-08 04:39] #840 closed, assigned to nobody

[2022-06-08 05:12] monsieurtanuki commented on #2205
Hi @VaiTon!
I don't think it's a 5 minute fix. It looks like a svg problem: the unsolicited cropping comes probably from the svg file itself (or the way it is dealt with by flutter_svg).

Suggestions about fix/debug:
* step 0: temporarily remove the access to internet and restart the app - you should see only the "assets" icons, not the server one
* step 1: see if the same bad display happen (my g

[2022-06-08 05:27] monsieurtanuki commented on #2204
@teolemon What would be the UX then? Just embed our "saveToServer" method in a "checkUserFirst" method?
That would mean the user would have typed all the nutrition data and then would be kicked out with a message "btw you need to be logged in"?
Or in addition to that, should we display a banner on each relevant page saying "you must be logged in to modify that data"?

[2022-06-08 05:29] teolemon commented on #2204
We prevent the user from entering the editing pipeline all together.

[2022-06-08 05:29] teolemon commented on #2204
And we redirect to the contribution login startup pipeline

[2022-06-08 05:32] monsieurtanuki commented on #2169
@teolemon I can work on "Packaging", but the following fields do not exist in off-dart products AFAIK:
* Origins of ingredients
* Manufacturing places
* EMB Codes
* Countries

[2022-06-08 05:56] teolemon commented on #2169
Packaging is the next logical target.
Origins of ingredients is actually just origins

[2022-06-08 05:57] teolemon commented on #2169
Let's file the relevant issues against openfoodfacts-dart

[2022-06-08 06:59] teolemon commented on #2205
It's caused by the server. @stephanegigandet updated the visual assets based on Quentin's suggestions

[2022-06-08 08:05] monsieurtanuki commented on #2169
To be honest I'm a bit lost regarding "packaging", because of the discrepancies between TEST and PROD on `5010477348630`.

[PROD](https://world.openfoodfacts.org/api/v2/product/5010477348630?fields=packaging,packaging_tags):
[code]

[TEST](https://world.openfoodfacts.net/api/v2/product/5010477348630?fields=packaging,packaging_tags):
[code]

[2022-06-08 09:13] stephanegigandet commented on #2205
That's strange, the Nutri-Score SVG images have exactly the same size as before, 240x130 px.

e.g.
old image: https://static.openfoodfacts.dev/images/attributes/nutriscore-d.svg (login and password off)
new image: https://static.openfoodfacts.org/images/attributes/nutriscore-d.svg

[2022-06-08 09:14] monsieurtanuki commented on #2205
@stephanegigandet It has nothing to do with the whole size; it has something to do with some crop effect not well understood (or over-interpreted) by `flutter_svg`.

[2022-06-08 09:16] stephanegigandet commented on #2205
ok, I can try to remove the transform-matrix then

[2022-06-08 09:18] monsieurtanuki commented on #2205
There's something different that was added/removed for B and D.

[2022-06-08 09:26] VaiTon opened #2215 "As a user, I should be able to specify if a field is not printed on the packaging"
- On the website we use the hyphen (-) to tell that the value is not on the product. For example, it is really useful to tell that there is no fiber value printed on the packaging: in some case that does not mean there is no fiber, but only that the producer didn't print it.
- See https://github.com/openfoodfacts/openfoodfacts-server/issues/1938

_Originally posted by @CharlesNepote in https://git

[2022-06-08 09:31] teolemon commented on #2169
We also have https://world.openfoodfacts.org/api/v2/product/5010477348630?fields=packaging_text_fr which behaves like the ingredients field (multilingual, OCR-compatible)

And it's hairy

"packaging":"Etui en carton,Sac en plastique à jeter,Sachet en plastique,Étui en carton à recycler","packaging_hierarchy":["fr:Etui en carton","fr:Sac en plastique à jeter","fr:Sachet en plastique","fr:Étui en ca

[2022-06-08 09:47] #2149 closed, assigned to nobody

[2022-06-08 09:48] stephanegigandet commented on #2205
I'm regenerating the SVG without transforms etc.

[2022-06-08 10:03] #2160 closed, assigned to cli1005

[2022-06-08 10:13] stephanegigandet commented on #2205
SVGO does not have an option to flatten SVG paths unfortunately
https://github.com/svg/svgo/issues/624 did point me to lean-svg which seems to work, and that showed issues with the Nutri-Score B and D icons when paths were flattened. Removing the clipPath manually in Inkscape seemed to make lean-svg work better for them.

[2022-06-08 10:14] stephanegigandet commented on #2205
Seems to be solved by https://github.com/openfoodfacts/openfoodfacts-server/pull/6872 (I deployed the new SVG icons in production, you should get them by restarting the app)

[2022-06-08 10:18] monsieurtanuki commented on #2205
@stephanegigandet I confirm: all 6 nutriscore icons look fine now 👍

[2022-06-08 10:18] #2205 closed, assigned to stephanegigandet

[2022-06-08 11:14] g123k commented on #2200
@VaiTon On which platform is-it?
(I'm unable to reproduce it unfortunately)

[2022-06-08 11:17] g123k commented on #2199
My idea was even more intrusive with a dialog saying: "To optimize the battery life of your phone, the scanner has been automatically turned off after 1 min of inactivity". Two buttons -> restart scanner / keep the scanner paused.

For the second option, the visor is replaced by your suggestion @VaiTon

[2022-06-08 11:22] g123k opened #2217 "Include a Logger"
Hi everyone,

With all the scanner issues, I often have some difficulties understanding how to reproduce the errors.
Admittedly, we use Sentry, but its goal is essentially to handle errors.

In my projects, I often use [fimber](https://pub.dev/packages/fimber), which is similar to Timber (for Android devs).
It allows planting log trees, where a tree can be output to: a file, logcat or whatever we

[2022-06-08 11:31] monsieurtanuki commented on #2217
Scan is a key feature: whatever helps understanding the errors is welcome - especially if it's lightweight and not intrusive.

[2022-06-08 11:39] monsieurtanuki commented on #2204
Possible typo :)
https://www.youtube.com/watch?v=3qNtyfZP8bE

[2022-06-08 13:51] teolemon opened #2221 "Dark mode issue in compare mode"
### What
![Screenshot_20220605-110333.png](https://user-images.githubusercontent.com/1689815/172633897-e6495a84-6181-433c-998e-4e4ec050dd10.png)

[2022-06-08 14:21] monsieurtanuki commented on #2221
@teolemon Actually it's the way it's supposed to work: when you have less than 2 item selected, the button is deactivated.
You may object that the deactivated button is almost invisible, I give you that.

[2022-06-08 14:45] M123-dev commented on #2200
Can't reproduce but I can confirm that I've seen this page solo multiple times

[2022-06-08 14:51] #2076 closed, assigned to g123k

[2022-06-08 14:53] M123-dev commented on #2221
We can probably change the text to some lighter shade

[2022-06-08 14:59] g123k commented on #2217
Ok, I will implement using fimber.
Are any other parts of the app important to log?

[2022-06-08 15:00] monsieurtanuki commented on #2221
@M123-dev Please don't. Just stick to the default behavior. If the default behavior is not visible enough, change the colors of the behavior (is that `secondary`? I don't know). You've spent enough time tracking the `Colors.white` all around the code, let's not start it all over again.
cf. https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/elevated_button.dart#L199

[2022-06-08 15:01] g123k commented on #2200
A few days ago, I fixed #2124
It was maybe this issue.

[2022-06-08 15:06] M123-dev opened #2222 "Camera white background not black"
### What
https://user-images.githubusercontent.com/39344769/172651175-95d614a9-c78c-433e-aa94-6edd86738dd1.mp4

[2022-06-08 15:07] M123-dev commented on #2011
Fixed

[2022-06-08 15:07] #2011 closed, assigned to nobody

[2022-06-08 15:08] g123k commented on #2222
It's related to the focus.
Could you test this please instead https://openfoodfacts.slack.com/archives/CSV2748EB/p1654686406739009

[2022-06-08 15:09] M123-dev commented on #1974
Already fixed

[2022-06-08 15:14] M123-dev opened #2223 "Product addition seems broken + camera doesn't restart"
### What
https://user-images.githubusercontent.com/39344769/172653027-8c5e5642-60c9-4930-a80e-0ea04cdff6b5.mp4

[2022-06-08 15:28] M123-dev commented on #1388
Still a thing @teolemon ?

[2022-06-08 15:29] M123-dev commented on #1260
Looks like we've decided for another approach right @teolemon

[2022-06-08 15:40] monsieurtanuki commented on #2221
Actually we have another place in the app with activated and disabled buttons:
![Capture d’écran 2022-06-08 à 17 29 31](https://user-images.githubusercontent.com/11576431/172656618-492a7e7d-0d9f-45fd-b083-13e47c436dd3.png)

The one about "Conditionnement" is disabled, the whole thing looks ok, but there's a cheat (for both activated and disabled buttons):
[code]

With no specified color, it shou

[2022-06-08 16:28] VaiTon commented on #2200
It was on android. We can close for now though!

[2022-06-08 16:28] #2200 closed, assigned to nobody

[2022-06-08 16:30] bhattabhi013 commented on #1314
Hi @VaiTon,
I wasn't able to fix this due to some time issues. I'm unassigning myself so that someone else can work on it.

[2022-06-08 16:33] VaiTon commented on #2199
I really like it @g123k !

[2022-06-08 18:11] g123k commented on #1930
Touch to refocus won't be implemented, as the native code does the job directly

[2022-06-08 18:20] #2221 closed, assigned to monsieurtanuki

[2022-06-08 18:23] #2204 closed, assigned to monsieurtanuki

[2022-06-08 18:24] #2193 closed, assigned to g123k

[2022-06-08 18:38] g123k commented on #2222
I close this issue Marvin, please test again and reopen-it if required

[2022-06-08 18:38] #2222 closed, assigned to nobody

[2022-06-09 04:15] AshAman999 commented on #2223
can't reproduce the 1st problem
for the later one, I too experienced when trying product addition after that the scanner pauses

[2022-06-09 06:26] monsieurtanuki commented on #2192
@teolemon I wouldn't blame the 4G. But:
1. obviously you were testing in the worst conditions - full size pictures - where I would expect "real people" to crop
2. we may reduce the size of the image (before upload) without the user even noticing it. In another project it was even something I had to do, because whatsapp reduced the size of the image anyway and destroyed my well designed drawings. A

[2022-06-09 07:33] g123k commented on #2223
For the second one, please ensure to do a flutter upgrade and be on the latest commit of the dev branch.
Is-it still reproducible?

[2022-06-09 07:34] g123k commented on #2179
Could you test again this issue (with code from the dev branch and after a `flutter upgrade`)?

[2022-06-09 07:37] g123k commented on #2049
I'm not sure to understand what we have to do with this issue.
What was in the PR and what's missing, please?

[2022-06-09 07:39] g123k commented on #1255
- Link to #2217 added.
I think once this one will be implemented, there won't be much to do, isn't it?

[2022-06-09 07:46] g123k commented on #2001
I don't know if I'm the only one in this situation, but I find the "moving" bottom buttons on the onboarding really annoying:
![Untitled-1](https://user-images.githubusercontent.com/246838/172793341-8e9c1914-3d57-4ccb-87fd-17a4341f82b7.png)

Wouldn't it be better to have a fixed position instead?

[2022-06-09 09:22] #1930 closed, assigned to g123k

[2022-06-09 10:14] cli1005 commented on #2128
I noticed that the New card disappears in following three cases:
- going back from Add New Product Page
- going back from Ranking Page
- removing a card from carousel

I removed useless calls of refreshing model to fix it.

[2022-06-09 11:06] monsieurtanuki commented on #2049
Hi @g123k!
I added the error icon in one error dialog, in #2050.
The PR is about adding the same error icon on 2 other error dialogs, [smooth_product_card_error.dart](https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/cards/product_cards/smooth_product_card_error.dart) and [smooth_error_card.dart](https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smoot

[2022-06-09 11:13] monsieurtanuki commented on #2001
@g123k Assuming that we always have one of the 3 following combinations:
* just one button, "next"
* 2 buttons, "previous" and "next"
* 2 buttons, at least in one case "refuse" and "authorize"

I suggest a large horizontal padding, then a row:
* the "next" button to the right
* the 2 buttons with spaceBetween

[2022-06-09 12:15] monsieurtanuki commented on #2001
@g123k Working on it then...

[2022-06-09 13:30] M123-dev commented on #2217
Not that I know of currently @g123k

[2022-06-09 15:18] g123k opened #2238 "Infinite initial loader"
On the onboarding, after selecting a country and clicking the Next button, the dialog may stay forever on screen (in case of a network error for example)

![Screenshot_20220609_171605](https://user-images.githubusercontent.com/246838/172882940-3ea9569e-dfb6-43ab-931f-97e735fc0374.png)

[2022-06-09 15:19] teolemon opened #2239 "Reload attributes on language change"
### What
- https://world.openfoodfacts.org/api/v2/attribute_groups
- Reload attributes on language change from phone (or dev mode)

[2022-06-09 18:36] VaiTon opened #2241 "As I user, I should be warned if I scan a product with a lot of caffeine"
### Problem
Like alcohol, we should display a warning when scanning a product that contains a lot of caffeine (like Energy Drinks).

[2022-06-09 20:01] #2123 closed, assigned to cli1005

[2022-06-10 06:00] #2238 closed, assigned to g123k

[2022-06-10 06:08] teolemon opened #2244 "Link the on-page add category button now that the dedicated section is working"
### What

- [ ] Link the on-page add category button now that the dedicated section is working

[2022-06-10 06:59] monsieurtanuki commented on #1809
I don't say that it's fantastic but the bug is not there anymore:
| off | on |
| --- | --- |
| ![Capture d’écran 2022-06-10 à 08 56 28](https://user-images.githubusercontent.com/11576431/173008341-1b0650a2-57a5-4b81-b5ba-091fc230705f.png) | ![Capture d’écran 2022-06-10 à 08 56 40](https://user-images.githubusercontent.com/11576431/173008372-435b8c5a-181d-464a-a431-39bc4f9ad391.png) |

[2022-06-10 06:59] #1809 closed, assigned to monsieurtanuki

[2022-06-10 07:16] monsieurtanuki opened #2245 "Direct link to "fix that ingredient" from Knowledge Panel"
### Problem
As a vegetarian, I find it very frustrating to see obvious vegetarian or vegan products not being flagged so just because there's an unknown ingredient or a potentially non-vegetarian ingredient. Happens all the time with soy milk and breakfast cereals.
That could even be a deal breaker: "so you think you're smart but you don't even know that soy milk is vegan?"

### Proposed solution

[2022-06-10 10:04] #2146 closed, assigned to cli1005

[2022-06-10 10:32] M123-dev commented on #2245
This is in fact a more common problem, not just for vegan/vegetarian, so we should aim for a more general solution

[2022-06-10 10:33] M123-dev commented on #2245
Don't know if some backend changes are needed for this

[2022-06-10 10:33] M123-dev opened #2246 "Onboarding loading timout duration"
20 second is long.
I would suggest something shorter like 5 seconds, and a "wink" message like "Oops... I'm afraid we'll have to display data in English, sorry about that ;)"

_Originally posted by @monsieurtanuki in https://github.com/openfoodfacts/smooth-app/pull/2240#discussion_r893746205_

[2022-06-10 10:37] monsieurtanuki commented on #2245
@M123-dev The thing is that even on the website I don't understand what to do with unknown ingredients.

Regarding "forcing" the vegetarian status, I guess it should be done on the server side as it changes the score too. But that was not the main point of my OP.

[2022-06-10 10:40] monsieurtanuki commented on #1803
Not relevant anymore with the "simple page".

[2022-06-10 10:40] #1803 closed, assigned to nobody

[2022-06-10 10:44] monsieurtanuki commented on #1916
@teolemon We could add it too on the new "checkIfLoggedIn" dialog, either full or with a "more about it" option.

[2022-06-10 10:51] monsieurtanuki commented on #916
I think this has been solved. Feel free to reopen if relevant.

[2022-06-10 10:51] #916 closed, assigned to GowthamGoush

[2022-06-10 10:55] monsieurtanuki commented on #2244
@teolemon Actually I'm a bit stuck here, as I'm a bit in conflict with @cli1005's #2201, the current `SummaryPage` and #1593. There are contradictory demands about behavior offline or with slow connectivity. And there seems to be a special case with picture upload.

Main question: should it be possible to _edit_ data when offline?
My guess is that the answer is "no". When we edit a product, we sav

[2022-06-10 12:14] teolemon opened #2247 "Setting up objectives in Matomo"
### What
- Having a hard time setting up objectives in Matomo
- This makes it complicated to measure engagement with features
### Part of
- Analytics

[2022-06-10 12:18] teolemon commented on #2245
- https://github.com/openfoodfacts/openfoodfacts-server/issues/6516

[2022-06-10 12:20] teolemon commented on #2241
- https://github.com/openfoodfacts/openfoodfacts-server/issues/2184

[2022-06-10 13:04] teolemon opened #2248 "Sending a more explicit header when doing a scan/query from Smoothie"
### What
- Sending a more explicit header when doing a scan/query from Smoothie

At the moment the log looks like this:
[code]

- When a scan it could say Open Food Facts vXXX - Scan
- When a search it could say Open Food Facts vXXX - Search

[2022-06-10 13:29] stephanegigandet commented on #2248
Please also add the platform ios / android

[2022-06-10 14:50] VaiTon commented on #2248
Can we use User-Agent? @teolemon
Or the uuid like we wanted to do in the Android native app?
https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/4438

[2022-06-10 15:00] teolemon commented on #2248
https://github.com/openfoodfacts/openfoodfacts-dart/pull/213/files

[2022-06-11 06:58] monsieurtanuki commented on #2248
You're already supposed to see something like that, isn't that the case?
[code]

Regarding using the user agent for a distinction between scan and search, it would mean changing the user agent for each query (ok, we have the technology for that) while it's supposed to be kind of static.

[2022-06-11 07:12] monsieurtanuki commented on #2248
Correction: the "user agent" parameters are supposed to appear as get/post parameters (cf. [`HttpHelper`](https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/lib/utils/HttpHelper.dart#L31-L48))
[code]

[2022-06-11 07:33] teolemon commented on #2244
@AshAman999 for the Offline Smoothie reflexion

[2022-06-11 09:19] teolemon opened #2251 "Samsung devices do not seem able to focus"
### What
- Samsung devices do not seem able to focus. I have paused the Android release as a result.
- It does not work for @stephanegigandet or @CharlesNepote who both own Samsung devices.
  - "c'est bien la dernière version la 0.0.6+384 ? c'est celle que j'ai sur le test interne de Smoothie. Et sur celle là j'ai pas d'autofocus du tout." "le focus est fait une fois au lancement de l'app, et il n

[2022-06-11 09:49] M123-dev commented on #2251
Same issue for me

[2022-06-11 10:08] teolemon commented on #2251
@M123-dev what device type ?
Can you help complete: https://docs.google.com/spreadsheets/d/11hqRe1w7wRZ9lkBlUYMwMeWZYcsJJ_SgubqZzKRxqnE/edit#gid=0

[2022-06-11 10:16] M123-dev commented on #2251
Samsung Galaxy S21 and what should I do there, je me pal pa france

[2022-06-11 10:23] teolemon commented on #2251
The spreadsheet is in English

[2022-06-11 10:25] teolemon commented on #2251
but that confirms my suspicion of a Samsung specific issue

[2022-06-11 10:28] M123-dev commented on #2251
Ohh yes was on the wrong tab

[2022-06-11 10:42] AshAman999 commented on #2244
For the GSoC 22,  https://docs.google.com/document/d/1qRkbZwtkASM3_BNhZSkFEekkhrllddR4Tv69bCdquPs/edit?usp=sharing
It was proposed to enable the offline edit as well,
Somehow, we need to send the changes to the server later on if in case the edits were done in no network zone,

A possible solution that I am thinking of is to keep a queue of the  edited tasks
Like keeping in a record probably a SQL

[2022-06-11 10:49] g123k commented on #2251
I will check this one tomorrow (not enough time today), but on my ZFlip3, it’s ok.

@M123-dev do you reproduce the issue only on releases builds or also in debug mode?

[2022-06-11 11:20] M123-dev commented on #2251
Same on debug @g123k

[2022-06-11 11:21] g123k commented on #2251
Ok thanks.
And are there any error messages or something suspicious?

[2022-06-11 11:42] M123-dev commented on #2251
I haven't searched for it but there was nothing standing out

[2022-06-11 13:03] teolemon opened #2252 "Unknown pages are the top 2 matomo actions"
### What
- Unknown pages are the top 2 matomo actions
"Created widget Widget"
"Page Name not defined"

[2022-06-11 13:39] teolemon commented on #1836
I believe this is fixed.

[2022-06-11 17:30] teolemon commented on #2247
I've made some progress, Matomo side

[2022-06-11 19:40] monsieurtanuki commented on #2244
@AshAman999 Thank you for your message.

What you unfortunately don't deal with are
1. server-computed fields like scores - could be a frustrating experience to change an ingredient in order to make it vegetarian, and not seeing the vegetarian flag set to green
2. the added complexity on the app in _read_ mode - a product is not only the product already stored on the database, but with all the pen

[2022-06-11 21:15] M123-dev commented on #2247
I have to implement the whole objektive part in the Matomo package but it won't take that long

[2022-06-12 10:06] g123k commented on #2251
@M123-dev Could you create a video of the problem?
I'm still unable to reproduce on all my devices

And to be sure: is the focus point at the center (0,5/0,5) or at the really bottom of the visor?

[2022-06-12 10:17] M123-dev commented on #2251
Can't say anything at all about the focus point. There is no focus at all https://user-images.githubusercontent.com/39344769/173228550-7964ef81-e948-4690-a15a-e4f6752bff0c.mp4

[2022-06-12 10:22] sentry[bot] opened #2255 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-WS](https://sentry.io/organizations/openfoodfacts/issues/3329300698/?referrer=github_integration)

[code]

[2022-06-12 10:23] sentry[bot] opened #2256 "PlatformException: PlatformException(ERROR_ALREADY_REQUESTING_PERMISSIONS, A request for permissions is already runn..."
Sentry Issue: [SMOOTHIE-W7](https://sentry.io/organizations/openfoodfacts/issues/3314366483/?referrer=github_integration)

[code]

[2022-06-12 10:55] sentry[bot] opened #2257 "CameraException: CameraException(Disposed CameraController, buildPreview() was called on a disposed CameraControll..."
Sentry Issue: [SMOOTHIE-VY](https://sentry.io/organizations/openfoodfacts/issues/3304058834/?referrer=github_integration)

[code]

[2022-06-12 13:00] AshAman999 commented on #2244
@monsieurtanuki  Thanks for your reply

Apart from not just storing the atomic changes on products, there has been proposed to keep a local DB for the top most used products in a country, that value I am guessing would be a bit large in number is to be done within this 3 months,

Analyzing and looking at your earlier comments left along many PRs I got the conclusion that hive will perform well til

[2022-06-12 13:52] monsieurtanuki commented on #2244
Then it's another topic, much more ambitious, that would deserve its own github issue, wouldn't it?

That could be tested again regarding `hive` and the expected size of the database, but indeed with `sqflite` the startup is immediate, regardless of the size of the database.

Therefore if it's just about storing atomic changes we can keep `hive`, if we consider only the size of the changed data.

[2022-06-12 14:02] teolemon commented on #2251
https://photos.app.goo.gl/yoGiQWRqYCm8jpW98

[2022-06-12 14:03] teolemon commented on #2251
Very instructive video with a barcode on a pen

[2022-06-12 14:05] g123k commented on #2251
I think I have an idea of why we have this issue.
I have to test this… hope I can test it on the train tonight.

(My guess is I am too aggressive on the autofocus refresh rate)

[2022-06-12 16:00] monsieurtanuki commented on #2255
From what I read in the code, line `23` is a refresh `setState({})` method that calls Widget `ProductListPage`.
And in `ProductListPage` we only force a value to be not null with `product.barcode!` (several times).
Could there be a `null` barcode in history? Should we automatically get rid of those products? (I still haven't understood the use case behind `null` barcodes and even worse how we're s

[2022-06-12 16:09] monsieurtanuki commented on #2248
@teolemon Actually looking back at the OP we don't call `/cgi/display.pl` from off-dart; maybe it's a redirection done on the server where we unfortunately dismiss the `POST` parameters.

[2022-06-12 17:40] g123k commented on #2251
@M123-dev Could you do a `flutter upgrade` and try again, please?
The new algorithm is not perfect, but I would like to know if this is the way to fix it.
Thanks.

[2022-06-12 20:41] M123-dev commented on #2251
Working like charm now @g123k

[2022-06-12 21:07] g123k commented on #2251
Wouyou! One last question: which Android version does your phone use?
I think I will try to use both algorithms

[2022-06-12 21:12] M123-dev commented on #2251
@g123k Android 12 One UI 4.1

[2022-06-13 08:44] monsieurtanuki commented on #2244
For the record I'm currently working on a more flutter-ish method, based on providers, in the spirit of https://docs.flutter.dev/development/data-and-backend/state-mgmt/simple

[2022-06-13 08:56] g123k commented on #2251
Thanks a lot Marvin for the answer and your help.

Since this issue seems to be limited to Samsung devices and to older Android devices (reproducible on my old LG G2), I will use the two algorithms:

- The "fixed" one on Samsung & older Android devices
- The current one on all others (which basically is Android 12+)

The reason behind this, is that the "current" one is a bit faster than the "fixed

[2022-06-13 11:48] teolemon commented on #2251
Great 👍

[2022-06-13 12:29] cli1005 commented on #1946
Is it ok for you to change just the message from "Do you really want to clear?" to "Do you really want to clear history?"

- [ ] Do you really want to clear history?
- [ ] Do you really want to clear all history?
- [ ] Are you sure you want to delete entire history?
- [x] You're about to delete your entire history, are you sure you want to continue?

[2022-06-13 12:49] teolemon commented on #1946
looks good, add "your" for greater clarity "delete your entire history" (vs History)

[2022-06-13 12:51] cli1005 commented on #1926
It has been fixed in #1835 , result are as follows:

https://user-images.githubusercontent.com/87010739/173357415-69c519c9-6437-4d34-b5b2-a9bc766c5073.mp4

[2022-06-13 12:57] teolemon commented on #1581
Ok, closing then @g123k

[2022-06-13 12:57] #1581 closed, assigned to g123k

[2022-06-13 13:17] teolemon opened #2262 "Verify that during photo/data addition info about the app and platform is sent as a comment"
### What

- Verify that during photo/data addition info about the app and platform is sent as a comment

### Screenshot
![Image](https://user-images.githubusercontent.com/1689815/173364865-98198c66-87ce-458a-9cff-ff771faab900.png)

[2022-06-13 13:27] teolemon commented on #2248
@monsieurtanuki is that ok for @cli1005 to work on this ? As we get Dart info in the logs, I believe it's a client side issue (eg Smoothie)

[2022-06-13 13:28] monsieurtanuki commented on #2248
@teolemon @cli1005 Sure, go ahead!

[2022-06-13 14:28] teolemon commented on #1926
Thanks @cli1005 👍
closing as a result

[2022-06-13 14:28] #1926 closed, assigned to cli1005

[2022-06-13 14:34] M123-dev commented on #501
Everything besides the onboarding and the settings is done after #2264 @teolemon

- Settings: What should we track there, everything seems a little too much
- Onboarding: We can't or better shouldn't track before we ask if we are allowed to

[2022-06-13 14:34] #2049 closed, assigned to AshAman999

[2022-06-13 18:10] #2251 closed, assigned to g123k

[2022-06-13 21:28] #1722 closed, assigned to cli1005

[2022-06-14 03:47] g123k opened #2268 "Invisible icons in dark mode"
In dark mode, in the product page, two icons are black... on a black background:

![Screenshot_20220614_054512.png](https://user-images.githubusercontent.com/246838/173489218-37adb95f-4462-499c-89d3-132bc78f0092.png)

.... And are thus invisible

[2022-06-14 04:14] g123k opened #2269 "Translation: history Snackbar not handling the plural form"
When refreshing the history that contains multiple products, the Snackbar is in its singular form:

![Screenshot_20220614-060515.png](https://user-images.githubusercontent.com/246838/173491936-6e7050c9-af80-45c5-a920-2b952cf20a07.png)

We should support the plural here also

(The issue is particularly noticeable in French)

[2022-06-14 05:32] teolemon commented on #2268
It's fixed on .net

[2022-06-14 05:43] monsieurtanuki commented on #2268
@teolemon I'm about to implement a quick fix, that assumes that regardless of what the server provides, if the server asks for a tintable icon without providing the color, then we must force the color to white/black in dark/light mode.

[2022-06-14 07:17] monsieurtanuki commented on #2268
Of course the quick fix takes much longer than expected - once again - but it proves very interesting.

[2022-06-14 07:41] teolemon opened #2271 "Display a link to the producer platform if the account is a producer account"
### What
- Display a link to the producer platform if the account is a producer account

[2022-06-14 07:43] M123-dev commented on #2271
Is there a endpoint to find out if a account is a producer or not

[2022-06-14 11:44] teolemon commented on #2246
User says: "My Android update went well. The scan with my samsuyng works very well. There was just at startup the loading of your first example of a product which was running without anything happening (I shared the photo with you). By clicking on stop everything worked normally."

"Ma mise à jour Android s'est bien passée. Le scan avec mon samsuyng marche très bien. Il y a juste eu au démarrage l

[2022-06-14 13:20] cli1005 commented on #2262
With the fix https://github.com/cli1005/smooth-app/commit/47e3671342071544d5210cb1199e7ae731b395a7, we do send the comment by calling _OpenFoodAPIClient.saveProduct_ and _OpenFoodAPIClient.addProductImage_ (product_jqm2.pl / product_image_upload.pl)
BUT, the comment has not been taken into account in the second case (uploading image), it might be an issue of server side ...

![Capture d’écran 202

[2022-06-14 13:43] monsieurtanuki commented on #2262
@teolemon @cli1005 Actually we're already sending some info via POST parameters, as I've just double-checked on `saveProduct`:
* app_name: Smoothie - OpenFoodFacts
* app_version: 0.0.0+600
* app_uuid: 85f876682c664854

[2022-06-14 14:04] #501 closed, assigned to M123-dev

[2022-06-14 14:04] #2268 closed, assigned to monsieurtanuki

[2022-06-14 14:19] #1946 closed, assigned to cli1005

[2022-06-14 14:49] cli1005 commented on #2262
Yes, I noticed that we send UserAgentParameters,  but with product_jqm2.pl(saveProduct), the the param('comment') is saved and displayed in modification history, not the same case for product_image_upload.pl(addProductImage) as I know.

It might be the server side to decide which parameter should be used finally 🤔

[2022-06-14 15:33] cli1005 commented on #2248
The issue might be in Open Food Facts API... and the API accepts only app_name, app_version, app_uuid actually, if you want send more informations, like device system(ios/android) or comment (instead of what I did in #2262), we might have to modify the Open Food Facts API as well.

Another question, @teolemon  could you please tell me how to find the log as you mentioned in the issue description?

[2022-06-14 16:33] sentry[bot] opened #2277 "RuntimeException: Unable to start activity ComponentInfo{org.openfoodfacts.scanner/openfoodfacts.github.scrachx.ope..."
Sentry Issue: [SMOOTHIE-YC](https://sentry.io/organizations/openfoodfacts/issues/3349043886/?referrer=github_integration)

[code]

[2022-06-14 17:21] stephanegigandet opened #2278 "Proposal: add actions to knowledge panels"
Here is a proposal to extend knowledge panels to add an "action" element that indicates to the client that we should try to get the user to add missing data or photos:

https://github.com/openfoodfacts/openfoodfacts-server/pull/6903

I made a small implementation on the website to see what it could look like.

Would that system work well for Smoothie?

[2022-06-14 17:49] AshAman999 opened #2279 "image not loading on the readme"
### What
- Nothing serious though still appeared out of place
- The logo on the readme doesn't show up

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/57723319/173652790-fb8f56aa-283e-4a28-9888-73abd2cd1b53.png)

[2022-06-14 18:09] VaiTon commented on #2277
at **openfoodfacts.github.scrachx.openfood**.utils.k.e(FragmentExt.kt:2)

This is related to the old app.

[2022-06-14 18:09] #2277 closed, assigned to nobody

[2022-06-14 18:26] M123-dev commented on #2278
#2245

[2022-06-14 19:31] AshAman999 opened #2280 "Migrate back to sqflite database"
Taking into consideration all the comments left on various PRs in the past and since we are going to have a bigger local dump for the products in the database for the offline scan feature, we switch back to SQL bases DB considering the startup time and performance-related issues.

1. Offline dump is to be implemented soon(means more than 5000 products in DB)
2. No performance lag irrespective of D

[2022-06-14 21:36] monsieurtanuki commented on #2280
Hi @AshAman999!
First thing, I cannot see a priority label on this issue: that would help prioritization.

Indeed we could first migrate the product table from `hive` to `sqflite`. That shouldn't be a big deal.

The big question is "how", because beyond the performance improvement at startup time, the added value is minimal. Let me explain: the way we used to code it, the table had a primary key (

[2022-06-15 06:20] AshAman999 commented on #2280
Hello @monsieurtanuki
About priority, I think as early as it can be done so that I can start doing the rest of the implementations

 and the second thing about the columns I wished to have just one more for the categories themselves,
So for the next time, I search for something or I get to compare products I can query them for the categories themselves.

### 1. Maybe something similar like this

#

[2022-06-15 06:48] monsieurtanuki commented on #2280
@AshAman999 Thank you for your answer.

Regarding priority, still not convinced, as we should probably stabilize the current version and listen to the users now that it's live.

About your suggestion of categories table, this is not how things work with relational databases, we can't have thousands of columns (because 1. we can't and 2. that would waste tons of memory).

A correct relational imple