[2021-12-06 13:09] monsieurtanuki commented on #700
You're right, that's probably OK like that so because even on a rooted device the worst that could a user do would be a self-hack! Unless of course the smartphone is given temporarily to a "friend". I had a slightly different issue on another app where I wanted to store the number of purchased credits in the preferences - on a rooted device the user would be able to add credits by directly changin

[2021-12-06 17:35] M123-dev commented on #700
Now thinking about it that way, it should be allright

[2021-12-07 12:27] monsieurtanuki commented on #470
From @jasmeet0817's [comment](https://github.com/openfoodfacts/smooth-app/pull/690#issuecomment-987858986) ("the concepts of user defined lists, shopping lists and pantries are discarded") I see that most of the database complexity can be removed.

That's would be a good opportunity to switch to `hive`:
1. the code would be written from scratch without its now useless historical layers
2. the code

[2021-12-07 12:34] jasmeet0817 commented on #470
Hi,

Hive looks secure and easy, I just have a couple devil's advocate questions.
1. What would happen if in one of the later versions/stages of the app we have more app complexity, will that cause us to move out of Hive and into another DB solution ?
2. How much engineering effort do you see here? Since we are getting closer to the launch date, I wonder if it's a reasonably big task than we could

[2021-12-07 12:49] monsieurtanuki commented on #470
Good questions. My answers:
1. Maintenance-wise we're not safer with SQLite, that basically I'm the only one to understand here - or at least to code. Even before today (where your comments implied that the db could be highly simplified) I thought about switching to `hive`, I mean, with the current complexity of pantries. The choice for SQLite months ago was based on expected usages (e.g. 1000s of

[2021-12-07 15:08] M123-dev commented on #470
Yes I think that is a good idea, since the list feature is (unfortunately) no longer provided it can probably really save a lot of code and even if we later need parts of the current SQFlite code for offline scanning or some kind of lists for something we can thanks to git always reach back to this state and grab some code.

[2021-12-07 15:18] jasmeet0817 commented on #470
Yeah, I also agree it's a good idea to go with Hive

[2021-12-07 15:25] jasmeet0817 opened #709 "Smoothie - Image uploading seems broken"
### What
**To Reproduce**
Steps to reproduce the behavior:

1. Go to Product page
2. Click on "Add new Image"
3. Navigate away from the product page
4. The image wasn't added and isn't in the product.

Is there some automated ML based filtering happening in the backend that prevents a faulty image or is it a bug?
### Part of
- #503

[2021-12-07 15:26] monsieurtanuki commented on #470
Working on it...
I'll probably won't write the data migration - I guess we can assume in first approach that the data stored so far is not that relevant. Tell me if you don't agree.

[2021-12-07 17:21] M123-dev commented on #470
Yes, we don't need a migration, but we should delete the old data so that we don't have it stumbling around on the phone forever.

[2021-12-07 17:23] monsieurtanuki commented on #470
@M123-dev Just uninstall the app then: I won't keep `sqflite` just to be able to remove the database.
Or I could delete the `smoothie.db` file, forever.

[2021-12-07 17:57] M123-dev commented on #470
Ok, then let's remove sqflite completely, I won't miss the few kb extra

[2021-12-09 08:45] teolemon opened #715 "Knowledge panel not displaying on specific products"
### What
- Knowledge panel not displaying on specific products
- Probably products with a packager code/map panel
![image](https://user-images.githubusercontent.com/1689815/145363239-17c13f86-d15d-4304-ad53-f766bc860576.png)
https://fr.openfoodfacts.org/produit/3245412476105/ravioli-boeuf-carrefour
- If some panel is bugging, we should try not to bring down all the other panels with it.

### Part

[2021-12-10 14:58] #470 closed, assigned to monsieurtanuki

[2021-12-11 11:54] #681 closed, assigned to M123-dev

[2021-12-12 14:13] M123-dev commented on #700
@monsieurtanuki, now after the switch to hive where would be the correct way to write the logic, should I create a own DaoCredentials or a somewhat more generic DaoString or DaoSecuredString

[2021-12-12 14:21] monsieurtanuki commented on #700
Hi @M123-dev!
It looks like the encryption on hive is at the "box" level, therefore it would indeed make sense to create a dedicated `DaoSecuredString` class with a dedicated box.
But in a first step I would put it simply in the preferences: as already said preferences are relatively secure, and all the tap dancing you put on encryption will be visible in the code anyway as we're open source.

[2021-12-13 15:08] jasmeet0817 commented on #715
Fix is in https://github.com/openfoodfacts/openfoodfacts-dart/pull/316

[2021-12-13 16:27] teolemon opened #723 "Scan does not work for Smoothie Android"
### What
- Scan does not work for Smoothie Android

### Steps to reproduce the behavior:

1. Go to Scan
2. Try to scan a barcode
3. Nothing happens

[2021-12-13 16:28] monsieurtanuki commented on #723
@teolemon May be a problem with the new `hive` database. I'll have a look at it right now.

[2021-12-13 16:52] M123-dev commented on #723
I have the version from before switching to hive on my phone and it's not working there either

[2021-12-13 17:00] monsieurtanuki commented on #723
@M123-dev I think it's you fix in #656:
[code]

Or my suggestion:
[code]

[2021-12-13 17:15] M123-dev commented on #723
Ohh that looks like an obvious error, opening a PR

[2021-12-13 17:21] monsieurtanuki commented on #723
That also means we should implement tests at least for such central features as scan - in that case method `continuousScanModel.onScan(barcode)`.

[2021-12-13 18:44] M123-dev commented on #723
Yes that's true, this is probably not the feature where some tests are missing.
I just tried it with the fix and for me scanning works again

[2021-12-15 11:19] #715 closed, assigned to jasmeet0817

[2021-12-15 16:51] teolemon commented on #723
Still happening on latest `develop`

[2021-12-15 16:52] teolemon opened #731 "History tab broken on latest develop"
### What
History tab broken on latest develop

### Screenshot

![image](https://user-images.githubusercontent.com/1689815/146229561-d65cf9c8-d580-4762-bd50-3443165ca65f.png)

[2021-12-15 17:38] monsieurtanuki commented on #731
@teolemon Some logs? Sentry logs?

[2021-12-15 17:39] monsieurtanuki commented on #723
@teolemon Some logs? Sentry logs?

[2021-12-15 18:36] #640 closed, assigned to nobody

[2021-12-17 18:20] sentry[bot] opened #736 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-ANDROID-RZ](https://sentry.io/organizations/openfoodfacts/issues/2856938681/?referrer=github_integration)

[code]

[2021-12-17 18:22] sentry[bot] opened #737 "CameraException: CameraException(404, No barcode view found)"
Sentry Issue: [SMOOTHIE-ANDROID-PX](https://sentry.io/organizations/openfoodfacts/issues/2823463330/?referrer=github_integration)

[code]

[2021-12-20 00:18] TyR3x123 opened #739 "[Security] Workflow ci.yml is using vulnerable action actions/checkout"
The workflow ci.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upg

[2021-12-20 16:34] #739 closed

[2021-12-20 16:36] M123-dev commented on #739
Thanks a lot for mentioning this @TyR3x123, it should be fixed by #740, otherwise reopen the issue or make a new one

[2021-12-21 20:27] M123-dev commented on #737
Wasn't able to reproduce it, probably happend before #730

[2021-12-21 20:27] #737 closed, assigned to M123-dev

[2021-12-22 15:16] #700 closed, assigned to M123-dev

[2021-12-23 11:11] M123-dev commented on #64
@teolemon @stephanegigandet

[2021-12-23 11:23] M123-dev commented on #331
We agreed on another system.

[2021-12-23 11:23] #331 closed

[2021-12-23 11:23] M123-dev commented on #330
We decided against using the old homepage

[2021-12-23 11:23] #330 closed

[2021-12-23 11:23] M123-dev commented on #329
This homepage doesn't exist anymore

[2021-12-23 11:23] #329 closed

[2021-12-23 11:24] M123-dev commented on #328
The list feature is put on ice for now

[2021-12-23 11:24] #328 closed

[2021-12-23 13:32] monsieurtanuki commented on #507
@teolemon I guess we can close this issue now: we worked on the "binary" choice and found out that it was not possible (#492), and then we downgraded from 4 to 3 levels, for more simple choices by the end users (#671).
Don't hesitate to reopen this issue if relevant.

[2021-12-23 13:32] #507 closed, assigned to teolemon, stephanegigandet, gcalsmith

[2021-12-23 15:14] teolemon opened #751 "String mixup"
![image](https://user-images.githubusercontent.com/1689815/147259417-95c15f9a-9027-4796-93a9-fc48ca03387b.png)
(Darkmode)

[2021-12-23 15:16] teolemon commented on #731
I reset my db, and it's working again. So it's likely product specific, and wasn't crashing the app
![image](https://user-images.githubusercontent.com/1689815/147259538-1b83add5-ed36-4327-bdcf-8877dec74c7c.png)

[2021-12-23 15:17] M123-dev commented on #751
Just fixed in: #749

 https://github.com/openfoodfacts/smooth-app/pull/749/files#diff-31fd457b9ca5048a79ad161924e16fe77d9a9c2830e91a328532a16ea265ea55R64

[2021-12-23 16:39] #751 closed, assigned to nobody

[2021-12-25 12:14] #701 closed, assigned to M123-dev

[2021-12-26 12:43] teolemon opened #752 "Small issues (roundup issue)"
- [x] #756
![image](https://user-images.githubusercontent.com/1689815/147408306-dfd8d49c-61bb-4a42-afd0-0723d8d29f1c.png)
- [x] #905
![image](https://user-images.githubusercontent.com/1689815/147408330-e8148a81-0397-43f1-84a0-80c927925895.png)
 - [x] #757
![image](https://user-images.githubusercontent.com/1689815/147408350-52c36ee2-920e-439f-9e2f-d018d9d89d64.png)
- [x] #773
![image](https://user-

[2021-12-26 16:53] M123-dev commented on #752
What do you mean by hint text @teolemon , maybe the font size of the password ?

[2021-12-26 17:22] M123-dev commented on #752
@teolemon can you provide some further assistance on what kind of validation we should add to the password. Currently, we only check if it's empty

[2021-12-26 17:40] monsieurtanuki opened #753 "Hive, search and non-ASCII characters"
**Describe the bug**
Looking for "lasagnes de légumes picard", I saw the following error message and could not see the results:

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the home screen
2. Search for "lasagnes de légumes picard"
3. After the internet search is done, I see an error screen (cf. screenshot)

**Expected behavior**
I should see the results instead.

**Screenshots**
!

[2021-12-26 17:50] monsieurtanuki commented on #752
@M123-dev An easy hint would probably be something like "MyPassw0rd". How would that be displayed on a password field? I don't know.

[2021-12-26 17:50] monsieurtanuki opened #754 "Ultra processed is not translated, for some reason"

[2021-12-26 17:51] teolemon commented on #752
Please enter some text: Please enter your username
Please enter some text: Please enter your password

[2021-12-26 18:07] monsieurtanuki commented on #753
The issue probably comes from the way we store product lists (in this case, the keyword search results).
So far, the key of the product list (for keyword search) is something like `'keywordSearch::keyword1 keyword2 keyword3'`. Which does not seem to be possible with `hive` if the keywords are either too long or with non-ASCII characters.
A solution might be to set the key as a hash of the keywords

[2021-12-26 18:15] #754 closed, assigned to nobody

[2021-12-26 18:21] M123-dev commented on #752
I think we are talking past one another here. The red text is not a hint text but an error message, which is only displayed when you want to submit an invalid text. At the moment we only check if the text is not empty, but we can also freely check other things.

A hint text also exists already (A grayed out "Login" or "Password" which disappears when you type something.)

Just changing the error m

[2021-12-26 18:22] M123-dev opened #756 "The forgot password screen is gray"

[2021-12-26 18:24] M123-dev opened #757 "Add proper login and register buttons"

[2021-12-26 18:54] #753 closed, assigned to nobody

[2021-12-26 19:01] #756 closed, assigned to M123-dev

[2021-12-26 19:57] teolemon opened #760 "Return of the string mixup between password & dark mode"
- Regression on https://github.com/openfoodfacts/smooth-app/issues/751

[2021-12-26 22:18] teolemon commented on #723
It seems to mostly work again. Autofocus does not work on my phone, but we can close it.

[2021-12-26 22:18] #723 closed, assigned to nobody

[2021-12-26 22:19] teolemon opened #761 "We should implement tests at least for `continuousScanModel.onScan(barcode)`."
That also means we should implement tests at least for such central features as scan - in that case method `continuousScanModel.onScan(barcode)`.

_Originally posted by @monsieurtanuki in https://github.com/openfoodfacts/smooth-app/issues/723#issuecomment-992699588_

### Part of
- #1176

[2021-12-26 22:21] teolemon opened #762 "Scan autofocus does not work on my (expensive) phone"
Story: Scan autofocus does not work on my (expensive) phone (I could scan a barcode seconds before, but with less depth). Is that something anyone else is experiencing ? Is that related to our current scanner, or the settings we give it ?

![image](https://user-images.githubusercontent.com/1689815/147421305-3a8612f9-ebe7-4fee-a0c2-239cf7d25e5e.png)

[2021-12-26 23:23] M123-dev commented on #760
Could it be that this is only due to the translation process

[2021-12-26 23:29] M123-dev commented on #762
For me it is similar. The plugin we are using now uses two native libraries, MTBBarcodeScanner (iOS) and ZXing (Android), the first one is completely archived and the android one is in Maintenance Mode Only. Therefore, it is probably more due to these.

The maintainer of the Flutter plugin is already ( inactively ) working on a new version which will use the Google ML Kit. However, it looks like i

[2021-12-27 08:40] monsieurtanuki commented on #762
Regarding a possible additional set-up of `QRView`, I'm afraid there's not much we can do:
[code]

@teolemon If you download the first scan app on google play (or if you use the default scanner on your phone), do you experience the same problem on barcodes / on close-up pictures?

Perhaps it would make sense to challenge again (cf. #106) the choice of the scan library, focusing on active libraries

[2021-12-27 10:39] teolemon opened #763 "Preference selection is not working anymore"
### What
- Preference selection is not working anymore
- Clicking on a preference won't dont do anything, and bring a black screen in the background

### Videos

https://user-images.githubusercontent.com/1689815/147463780-60b849a4-a13b-4256-b1e7-1b1ab405564c.mp4

https://user-images.githubusercontent.com/1689815/147463783-4084f92a-e22f-42b5-a4ed-9d6da3d76310.mp4

[2021-12-27 10:43] teolemon opened #764 "Capitalize actualiser in French"
- [ ] Capitalize actualiser in French
 - [ ] ![image](https://user-images.githubusercontent.com/1689815/147464067-afe4b8b8-f1ea-4f48-9d28-f7ed8bcfc460.png)

[2021-12-27 10:44] teolemon opened #765 "Incorrect darkmode color for unknown origin of ingredients"
- [ ] Incorrect darkmode color for unknown origin of ingredients. I'm not sure if it's a server side or client side issue (I believe we made provisions for dark mode server side)
- [ ] ![image](https://user-images.githubusercontent.com/1689815/147464156-6f40293c-3832-4cde-8801-cc5015cccddf.png)

[2021-12-27 10:45] teolemon commented on #765
It looks ok if we know the origin:
![image](https://user-images.githubusercontent.com/1689815/147464329-8bb05bca-4fd0-48fa-bc56-5fab5ee47234.png)

[2021-12-27 10:52] teolemon opened #766 "Improve the Photo Manager using new features from openfoodfacts-dart"
### What
- Support for image selection/unselection/cropping/rotation recently landed in openfoodfacts-dart, besides, user need to be able to refresh images.

[code]

### Part of
- #503
### Code pointers
- https://www.github.com/openfoodfacts/openfoodfacts-dart/commit/1c82e33a313afd3c4908cf95f96d58f7f738ca1e
- https://www.github.com/openfoodfacts/openfoodfacts-dart/commit/c69f3f639f47291a007185c59c

[2021-12-27 10:53] teolemon opened #767 "Add a "Loading" message when loading an image"
- [ ] Add a "Loading" message when loading an image
  - [ ] ![image](https://user-images.githubusercontent.com/1689815/147464876-7f4d6e60-6751-4725-b19f-781e865579b5.png)

[2021-12-27 10:54] teolemon opened #768 "Dark mode issue in preference selection"
- [ ] Dark mode issue in preference selection
- [ ] ![image](https://user-images.githubusercontent.com/1689815/147464984-b6799bcf-7269-4688-b3ef-f82e04e5d1d1.png)

[2021-12-27 10:57] teolemon opened #769 "Add a few pixels below the Knowledge panels"
- [ ] Add a few pixels below the Knowledge panels so that it looks like a real page, with good layout (same as lateral margins ?)
- [ ] ![image](https://user-images.githubusercontent.com/1689815/147465087-409f744c-d44c-4c33-a69e-45d4be533444.png)

[2021-12-27 10:59] teolemon opened #770 "Ensure we have proper spaces between brands after commas"
- [ ] Nitpicking (ensure we have proper spaces after commas, all the time). What's weird is that the first example looks ok :-/
  - [ ] ![image](https://user-images.githubusercontent.com/1689815/147465333-1d011c3e-2f5e-4c0f-ae76-63ff3ba23295.png)

[2021-12-27 11:04] teolemon opened #771 "Reword from "Category" to "Filter by Category""
- [ ] Reword from "Category" to "Filter by Category"
  - [ ] ![image](https://user-images.githubusercontent.com/1689815/147465727-8fb88aba-ac0d-4d0a-b0f6-353e51f58a2c.png)

[2021-12-27 11:05] teolemon commented on #771
- [ ] Related: it seems to be in English (while my app in in French)
- [ ] ![image](https://user-images.githubusercontent.com/1689815/147465825-a1736ab7-50ec-4b94-adc8-26545b51ddbf.png)

[2021-12-27 11:19] teolemon commented on #516
I've just added a mockup of a product page button by @greentoff for category addition in the initial issue.

[2021-12-27 11:33] teolemon commented on #625
Fixed for me, closing 👍

[2021-12-27 11:33] #625 closed, assigned to nobody

[2021-12-27 11:48] teolemon commented on #209
fixed.

[2021-12-27 11:48] #209 closed

[2021-12-27 11:59] teolemon opened #773 "Small overflows in the knowledge panels"
Small overflows in the knowledge panels
![image](https://user-images.githubusercontent.com/1689815/147469863-a4c78264-1d13-48eb-a947-b02345fb1436.png)

[2021-12-27 14:08] #764 closed, assigned to nobody

[2021-12-27 14:41] teolemon opened #775 "Summary card does not show the environment summary"
### What
Summary card does not show the environment summary (see the mock below for comparison)

![image](https://user-images.githubusercontent.com/1689815/147481967-01ba84f6-29b8-4084-baff-104adf80e428.png)

[2021-12-27 14:44] #552 closed, assigned to nobody

[2021-12-27 14:51] teolemon opened #776 "Product addition is largely broken"
### What
- [ ] Product addition is largely broken
  - [ ] Grey overlay (product page)
  - [ ] Sliding the carousel will remove the photo you just took
  - [ ] I added photos for all of them sliding slowly, and then Add more interesting photos compltely froze the app (had to force restart twice)
  - [ ] The photos were somehow uploaded, because the product appeared on next scan

### Part of
- #881

[2021-12-27 15:24] M123-dev commented on #776
![Screenshot_20211225-195605.jpg](https://user-images.githubusercontent.com/39344769/147485350-d1390c9d-4848-489d-963d-b447a96de4b7.jpg)

[2021-12-27 15:25] M123-dev commented on #776
![Screenshot_20211227-162515_Gallery.jpg](https://user-images.githubusercontent.com/39344769/147485430-5186b7a8-247e-4fa3-ac1c-5dbf680e9f85.jpg)

[2021-12-27 15:50] monsieurtanuki commented on #775
@teolemon I'm not sure I get what you mean. I've just run the latest version of the code, and this is what I get (what is missing?):
![Simulator Screen Shot - iPhone 8 Plus - 2021-12-27 at 16 50 02](https://user-images.githubusercontent.com/11576431/147487361-cd0f22ce-cef3-456c-af7f-23c68b5fff4e.png)

[2021-12-27 16:29] monsieurtanuki commented on #763
Very interesting bug! Sound familiar with what I recently wrote in https://github.com/openfoodfacts/smooth-app/discussions/434#discussioncomment-1811005

TL;DR

In this specific issue, the problem is the confusion of `context`s
1. we plan to create an alert dialog
2. first we create a list of `ListTile` - when you tap on each of them it sets the importance of the attribute (not important, importan

[2021-12-27 16:33] teolemon commented on #775
The Eco-Score part is missing on my phone. Can you share the specific barcode you are using?

[2021-12-27 17:00] monsieurtanuki commented on #775
@teolemon I'm afraid not because I don't how to retrieve the barcode from smoothie.
But I've just tried with 7613287514325 and it's worked too (https://fr.openfoodfacts.org/produit/7613287514325/nature-fitness-de-nestle).

[2021-12-27 17:05] teolemon commented on #775
At this point, it can be two things:
- A problem of settings (Eco-Score is important on my device, but I can't change it due to the settings bug)
- A problem of screen density perhaps ?

[2021-12-27 17:12] monsieurtanuki commented on #775
I'm about to PR around "thing number one".

But I've just tried on a product I haven't visited recently, with eco importance attribute set to not important, and I managed to reproduce the bug. I'll have a look at it.
![Simulator Screen Shot - iPhone 8 Plus - 2021-12-27 at 18 08 51](https://user-images.githubusercontent.com/11576431/147492968-596600eb-4021-43b1-8368-541089a62b67.png)

[2021-12-27 17:31] monsieurtanuki commented on #775
@teolemon It looks like the attribute `ecoscore` is not present for this product. Therefore we don't display it.

I never know how relevant `ecoscore` can be, depending on the country.

What should we do if there's no `ecoscore` attribute? Create a forged attribute as "unknown", to match the way it appears with this product?

![Simulator Screen Shot - iPhone 8 Plus - 2021-12-27 at 18 30 40](https:

[2021-12-27 18:24] monsieurtanuki commented on #768
@teolemon What do you expect for "not important"? Anyway it's the same as in day light:
![Simulator Screen Shot - iPhone 8 Plus - 2021-12-27 at 19 24 23](https://user-images.githubusercontent.com/11576431/147497808-a0a6b23c-bf47-4a33-b841-0c2802c9569f.png)

[2021-12-27 18:45] monsieurtanuki commented on #765
The svg icon seems to be always black. The svg is then assigned a computed color depending on the `Evaluation`. If the `Evaluation` is null, the color is `null` too. Which looks ok in day mode (black svg without extra color: black svg on light background). But in night mode, it's black on dark background...

@teolemon Would that make sense to say: if the computed color is null, we put a white back

[2021-12-27 19:04] teolemon commented on #776
FYI, here's the proposed mockup for product addition:
![image](https://user-images.githubusercontent.com/1689815/147500157-e3e9501c-d5d7-430d-86b8-4fdec34307e5.png)

[2021-12-27 23:59] jasmeet0817 commented on #775
Pierre, is it possible for you to find out the server request and response
?

On Mon, 27 Dec 2021 at 18:05, Pierre Slamich ***@***.***>
wrote:

--

Cheers,
Jasmeet Singh

[2021-12-28 07:05] #763 closed, assigned to monsieurtanuki

[2021-12-28 08:16] monsieurtanuki commented on #775
I think I nailed it!
Having a look at the product URI, I noticed that there was no ecoscore field requested.
So far I was happy with my old Savane (that had an explicit "unknown ecoscore" data). Then I had the idea to refresh it: no more ecoscore attribute!

This is the URI we use in smoothie for product via barcode (with an explicit list of fields) (no ecoscore in, no ecoscore out):
https://world

[2021-12-28 08:41] M123-dev commented on #775
Thanks for this pointer @monsieurtanuki . I think I got it. I wondered since I don't remember any recent changes to what we query and if it would be something server side the off-dart tests would fail.

I can't find the commit rn, but I think the way we work with language and country changed a while ago, and yes, we don't pass cc anymore. With it set to fr as well, it outputs the ecoscore again.

[2021-12-28 11:16] teolemon commented on #775
so that would be ecoscore_data ?
https://world.openfoodfacts.org/api/v0/product/3270160385010.json?lc=fr&fields=product_name%2Cbrands%2Ccode%2Cnutrition_grade_fr%2Cimage_small_url%2Cimage_front_small_url%2Cimage_front_url%2Cimage_ingredients_url%2Cimage_nutrition_url%2Cimage_packaging_url%2Cselected_images%2Cquantity%2Cserving_size%2Cproduct_quantity%2Cnutriments%2Cnutrient_levels%2Cnutriment_ener

[2021-12-28 11:20] M123-dev commented on #775
This could also be a way. I just meant changing

`/api/v0/product/3270160385010.json?lc=fr&fields=product_name...`
to
`
/api/v0/product/3270160385010.json?lc=fr&cc=fr&fields=product_name...`

[2021-12-28 11:23] teolemon commented on #775
ah ok

[2021-12-28 12:49] jasmeet0817 commented on #775
Marvin, do you plan to hardcode "cc=fr"? Or send "cc=(user's country)" to
the backend?

Latter sounds fine to me

On Tue, Dec 28, 2021, 12:21 Marvin M ***@***.***> wrote:

[2021-12-28 16:53] monsieurtanuki commented on #775
I've just tested - the country indeed seems very important.
In `barcode_product_query.dart`, if we put "FRANCE" we get results, if we put `null` or `this.country` (which happens to be `null` too) we don't get ecoscore attributes:
[code]

The problem for this issue is that we currently get the country code from the environment: `window.locale.countryCode`.
And sometimes it's not populated, and when

[2021-12-28 17:07] jasmeet0817 commented on #775
With PR #772 submitted, you can use country directly from shared pref. The
onboarding screen will be shown to everyone who hasn't onboarded yet, so we
will have the country saved.

On Tue, Dec 28, 2021 at 5:53 PM monsieurtanuki ***@***.***>
wrote:

[2021-12-28 17:11] monsieurtanuki commented on #775
This PR is not about getting the country iso code 2. I'm very clumsy with github and I won't try to retrieve #772 now that my code is PR'ed.

[2021-12-28 17:46] #775 closed, assigned to nobody

[2021-12-28 18:19] monsieurtanuki opened #782 "Onboarding UI/UX fine-tunings"
### ToDo
- [x] The scan screen on dark mode has day colors
- [x] The "next" buttons don't have the same color on both welcome and scan pages (but perhaps it was intended so)
- [x] By the way, maybe we shouldn't care about dark mode here, as the end-user will probably start in day mode
![Simulator Screen Shot - iPhone 8 Plus - 2021-12-28 at 19 11 23](https://user-images.githubusercontent.com/115764

[2021-12-28 21:08] M123-dev commented on #553
#439

[2021-12-28 21:11] M123-dev commented on #405
Can't replicate, very likely fixed

[2021-12-28 21:11] #405 closed, assigned to nobody

[2021-12-28 21:12] M123-dev commented on #264
We decided against lists for now

[2021-12-28 21:12] #264 closed

[2021-12-28 21:18] M123-dev commented on #440
We don't have anything here and it doesn't look like a lot will emerge at once so we don't need a tracker issue for that

[2021-12-28 21:18] #440 closed, assigned to nobody

[2021-12-28 21:19] #553 closed, assigned to nobody

[2021-12-28 21:37] M123-dev commented on #483
The problem may not even exist now, since we do not longer dispose the QRView but pause the camera.
cf: https://github.com/openfoodfacts/smooth-app/pull/730

Can anyone check if this still occurs

[2021-12-28 22:22] M123-dev commented on #347
We don't have lists where this makes sense anymore. Maybe per day ranking in the history but besides that this issue can probably be close. Feel free to reopen if you disagree with me

[2021-12-28 22:22] #347 closed

[2021-12-28 22:25] M123-dev commented on #348
We got new mocks:
![Screenshot 2021-12-28 232446](https://user-images.githubusercontent.com/39344769/147611490-6501e9ff-ac99-4ff7-93e9-f09c9cb0f789.png)

[2021-12-28 22:29] M123-dev commented on #342
Is this still a thing, adding it to the project anyway

[2021-12-28 22:30] #266 closed

[2021-12-28 22:39] M123-dev commented on #341
Looks like its fixed, reopen if it occurs again

[2021-12-28 22:39] #341 closed

[2021-12-28 22:51] M123-dev commented on #765
I would prefer only white, the white background somehow stands out so much

[2021-12-28 23:29] teolemon opened #784 "Show a link to the local Wikipedia if it exists"
### What
- [ ] Show a link to the local Wikipedia if it exists
### Part of
- #499

[2021-12-29 08:05] monsieurtanuki commented on #765
Like that then?
![Simulator Screen Shot - iPhone 8 Plus - 2021-12-29 at 09 05 26](https://user-images.githubusercontent.com/11576431/147640511-42bcddf8-ba49-43b3-8361-efd9bfc374b3.png)

[2021-12-29 08:40] #765 closed, assigned to nobody

[2021-12-29 08:40] #773 closed, assigned to monsieurtanuki

[2021-12-29 10:55] #771 closed, assigned to monsieurtanuki

[2021-12-29 12:02] teolemon commented on #702
@monsieurtanuki would you be interested by this one ? There's some pre-existing Android code and logic to steal from.
![image](https://user-images.githubusercontent.com/1689815/147660080-4e49166c-db32-4026-ae8b-6c220972b2e3.png)

[2021-12-29 12:34] teolemon opened #788 "The history does not have the Eco-Score like search results do"
### What

Story: The history does not have the Eco-Score like search results do

### Screenshots
![image](https://user-images.githubusercontent.com/1689815/147662629-6a32edcd-7878-4e9f-abdd-1939fade433a.png)

[2021-12-29 12:35] teolemon commented on #788
Also, if we could harmonize the My Personal Ranking button based on the one from the search results, that would be perfect.

[2021-12-29 12:41] teolemon opened #790 "The question mark we use are unprofessional, replace them by “Unknown name” & “Unknown brand”"
### What
- [ ] The question mark we use are a bit scary and unprofessional (it looks like bad data), replace them by “Unknown name” & “Unknown brand” (both should be translatable)
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/147663232-592f341a-6b9c-43a6-b038-69da2baf4d21.png)

[2021-12-29 12:47] #790 closed, assigned to monsieurtanuki

[2021-12-29 12:52] monsieurtanuki commented on #788
I'm about to fix the FAB.
But I don't have the problem with ecoscore:
![Simulator Screen Shot - iPhone 8 Plus - 2021-12-29 at 13 49 14](https://user-images.githubusercontent.com/11576431/147663980-ca4b65f6-d287-4f74-b4d0-ed1935c5f270.png)

[2021-12-29 12:57] teolemon commented on #788
It's the refresh strategy of the history that I didn't understand.
To fix it, I have to:

- [ ] Open the product
- [ ] Open the menu to refresh
- [ ] See the Eco-Score appear on the summary card
- [ ] Move to the next product.

I would expect a more agressive refresh strategy (attempt to refresh silently on product opening, and refresh on "pull to refresh" in history

[2021-12-29 13:13] teolemon opened #792 "Untranslated strings"
### What

- [ ] 2 Untranslated strings on the product page
- [ ] Health equivalent
  - [ ] ![image](https://user-images.githubusercontent.com/1689815/147665983-ea1019f5-2c4d-408a-b24c-f39fffe096a5.png)
- [ ] Poor match
  - [ ] ![image](https://user-images.githubusercontent.com/1689815/147665993-1e3dd4a0-5f87-4716-96d8-42034ab9991b.png)

[2021-12-29 13:16] monsieurtanuki commented on #788
The refresh strategy would indeed deserve a dedicated issue - maybe it already exists.

[2021-12-29 13:26] teolemon opened #794 "We should probably display "unknown match" when we have 0 data ?"
### What

- [ ] We should probably display "unknown match" when we have 0 data ?

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/147666949-755cf52b-ff8b-49f1-b9a6-457defef5984.png)

[2021-12-29 13:30] teolemon opened #795 "Missing summary for nutrition on products without nutrition"
### What

- [ ] Missing summary for nutrition on products without nutrition. Note that the right text appears in the summary card, which makes me suspect a client side issue
- [ ] I have also opened a server side issue, since I'm not sure what's the cause of the issue here (bad API, or problem on client): https://github.com/openfoodfacts/openfoodfacts-server/issues/6223

### Screenshot
![image](ht

[2021-12-29 13:41] #788 closed, assigned to monsieurtanuki

[2021-12-29 13:42] teolemon opened #796 "Fix refresh strategy for the history"
The refresh strategy for the history is confusing. Beyond the recent schema change, products get completed on a rolling basis.
To 'fix" products in my history, I have to:

- [ ] Open the product
- [ ] Open the menu to refresh
- [ ] See the Eco-Score appear on the summary card
- [ ] Move to the next product.

I would expect a more agressive refresh strategy (attempt to refresh silently on product o

[2021-12-29 13:54] teolemon commented on #795
On a vinegar with nutrition
![image](https://user-images.githubusercontent.com/1689815/147669299-b58b52c5-86e1-471b-82c7-221c13eba38b.png)

[2021-12-29 14:13] monsieurtanuki commented on #792
The health equivalent not being translated is a problem on the server side:
https://www.openfoodfacts.org/api/v2/product/3270160385010/?fields=knowledge_panels&lc=fr
![Capture d’écran 2021-12-29 à 15 11 33](https://user-images.githubusercontent.com/11576431/147670908-f995a060-cf57-4e58-ba86-27163705d124.png)

[2021-12-29 14:27] teolemon commented on #348
Thanks @M123-dev
- [ ] Move the count bar on the top
- [ ] Remove the confusing icons and color the numbers
- [ ] Add the text banner on top of the result tab (I'm not sure if we can reuse some of the helper @monsieurtanuki just modified for the top of the summary card)

Note this applies in 3 places:
- [ ] Ranked history
- [ ] Ranked search
- [ ] Ranked scans

[2021-12-29 14:35] teolemon opened #798 "Turn the preferences tab into an accordeon"
### Why
- Important call to actions are hidden 3 or 4 taps away, behind a cogwheel that's supposedly technical
- We have a dedicated view for food preferences
### What
- Turn the preferences tab into an accordion per mocks
  - so that we can surface all the call to actions for the "Association" (eg Thank you, Donate, Translate, Contribute) in the collapsed first section (that will also be useful f

[2021-12-29 14:39] monsieurtanuki commented on #796
@teolemon We don't have the same problem for the search list, because the local database is queried ("same search already?") and its products are displayed, with a snackbar mentioning the possibility of a refresh (list + product data).

In a first approach, I can add a "refresh" button and method to the history page, that would refresh the products of the history - not the history itself of course

[2021-12-29 14:41] monsieurtanuki commented on #702
@teolemon Working on it...

[2021-12-29 14:52] teolemon opened #799 "Display issue for the Organic label SVGs"
### What
- [ ] Display issue for the Organic label SVGs

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/147674503-13f0f3c7-6ce7-45ff-a270-14e9ab14a818.png)

[2021-12-29 14:57] teolemon opened #800 "The keyboard keeps opening when navigating from search results to individual products"
### What

- [ ] The keyboard keeps opening when navigating from search results to individual products

### Video

https://user-images.githubusercontent.com/1689815/147674950-0e602631-42e6-48d6-8ea1-5efe6822a6fd.mp4

[2021-12-29 14:59] monsieurtanuki commented on #799
The solution is to not apply any color on "Labels" - the other svg icons being applied a red/orange/green color, according to the match.

[2021-12-29 19:05] monsieurtanuki commented on #702
Virtually done.
But I tried to put trash data, and the only thing I got is a rather discrete
* status=400
* error=Unrecognized request error

We'll definitely need more explicit messages. By the way there's no language parameter in `OpenFoodAPIClient.register`.

In the meanwhile, @teolemon could you point me to some existing pre-validation code before the actual call to `register`?

[2021-12-29 19:16] monsieurtanuki commented on #702
Ok @teolemon I had a look at your OP links. I don't speak kotlin but I think I can handle this.
Screenshot:
![Simulator Screen Shot - iPhone 8 Plus - 2021-12-29 at 20 16 08](https://user-images.githubusercontent.com/11576431/147696071-ec6949b5-4c98-4f96-8d15-232c169e9a9b.png)

[2021-12-30 09:26] #702 closed, assigned to monsieurtanuki

[2021-12-30 09:55] #792 closed, assigned to monsieurtanuki

[2021-12-30 09:55] #794 closed, assigned to monsieurtanuki

[2021-12-30 09:57] M123-dev commented on #419
Thanks a lot for your contribution on signup @monsieurtanuki, looks like we are done here

[2021-12-30 09:57] #419 closed, assigned to M123-dev

[2021-12-30 10:16] teolemon commented on #798
<img width="375" alt="Profile" src="https://user-images.githubusercontent.com/1689815/147742656-dcd3b239-02aa-432e-b654-a822157886ef.png">

[2021-12-30 11:23] teolemon commented on #768
indeed, you're right. Usability+LnFeel will get improved as part of the settings revamp
closing, thanks @monsieurtanuki

[2021-12-30 11:23] #768 closed, assigned to nobody

[2021-12-30 11:24] teolemon commented on #767
2 persons at the moment who gave me the feedback

[2021-12-30 11:24] teolemon commented on #760
Indeed @M123-dev
closing

[2021-12-30 11:24] #760 closed, assigned to nobody

[2021-12-30 12:13] monsieurtanuki commented on #419
@M123-dev I guess there are still tests and UX fine-tunings to do here but you're right, basically we're done.

[2021-12-30 13:01] #767 closed, assigned to monsieurtanuki

[2021-12-30 13:03] teolemon opened #804 "Weird wait time while initializing the barcode scanner"
### What
- [ ] Weird wait time while initializing the barcode scanner

### Video
https://user-images.githubusercontent.com/1689815/147754415-220b0ae6-84db-4966-8ce6-b1d4084efa20.mp4

[2021-12-30 14:30] M123-dev commented on #804
Do you mean the time with the CircularProgressInidcator or where the camera is black

[2021-12-30 14:40] teolemon commented on #804
There's opportunity on both, but I was more thinking CircularProgressInidcator

[2021-12-30 14:45] monsieurtanuki commented on #804
CircularProgressIndicator may be during the init time, even before the camera. I'll have a look at that part.

[2021-12-30 16:07] #439 closed, assigned to M123-dev

[2021-12-30 17:22] #799 closed, assigned to monsieurtanuki

[2021-12-30 17:53] monsieurtanuki commented on #804
No surprise. I've put logs at every step:
* 9435ms for the whole init phase
  * 7552ms just for the hive database init
    * 7414ms just for the products init in the hive database (with 1071 products)

So we could spare 7500ms with sqflite - the init is instant.

I'll have a look at how we could make hive it faster. Rolling back to sqflite has a fair chance, I must say, but playing with hive was n

[2021-12-30 18:15] monsieurtanuki commented on #804
I have good news.

In `hive` we currently use `box`es. At init time, all the boxes are completely opened and stored in memory.
In my case, that means that I json decoded 1071 strings of about 10K, and loaded them in memory. Could take some time, couldn't it?

But in `hive` there are also `lazyBox`es. Same data, nothing to change at all. At init time, only the keys are retrieved and stored in memor

[2021-12-30 20:27] teolemon commented on #762
We also discussed a bit about it with @M123-dev.
- I felt it was related about the lack of provision for autofocus (and manual focus by touching the screen).
- I'm not sure why we gave up on ML Kit (unmaintained 3rd party wrapper ?)
- How about using the default camera package + https://pub.dev/packages/google_ml_kit (last updated 56 days ago) ?
- How about refreshing this benchmark ?
- https://do

[2021-12-30 21:42] #804 closed, assigned to monsieurtanuki

[2021-12-31 09:45] M123-dev commented on #800
Taking a look at this

[2021-12-31 10:00] teolemon commented on #674
I believe this day might be here.

[2021-12-31 10:03] teolemon commented on #670
A simplistic way to monitor whether the product is ready would be to check for states at every app opening/daily/whatever. When Nutri-Score, Eco-Score and ingredients are computed, a notification could be sent.

[2021-12-31 10:42] teolemon commented on #86
this is fixed, although the Add mode is currently broken. Closing

[2021-12-31 10:42] #86 closed

[2021-12-31 11:13] teolemon opened #811 "Refactor Product improvements into a button (per mock)"
### What
- [ ] Refactor the snackbar Product improvements into a discreet button on the product page, per mocks
  - [ ] https://github.com/openfoodfacts/smooth-app/commit/d41a0b1d55097371c6b2fd5a421455160b775e83
  - [ ] The buttons have to be ventilated across panels (if Nutri-Score, on the health panel, if Eco-Score on the environment panel, if Ingredients on the Health panel). For the summary ca

[2021-12-31 11:40] teolemon opened #812 "Add a simple temporary button on the product page to allow testing of Greg's category picker"
### What
- Add a simple temporary button on the product page to allow testing of Greg's category picker
- https://github.com/openfoodfacts/smooth-app/pull/651
- Can be combined with #811

### Part of
- #505

[2022-01-01 15:45] teolemon opened #814 "Bad clipping on iPhone XS (we should shrink the font instead, on 2 lines)"
- [ ] Bad clipping on iPhone (we should shrink the font instead, on 2 lines)
- [ ] ![image](https://user-images.githubusercontent.com/1689815/147854353-095aac58-7767-41ad-b3f2-cb4407b86668.png)

[2022-01-01 15:46] teolemon opened #815 "Bad clipping on top of food preferences due to Settings and User management (iPhone XS)"
As reported by @tacite
- [ ] Bad clipping on top of food preferences due to Settings and User management
![image](https://user-images.githubusercontent.com/1689815/147854370-5cd9b900-7afa-4bca-841a-519317a9b685.png)

[2022-01-01 15:47] teolemon opened #816 "Bad clipping of onboarding on iPhone XS"
- [ ] Bad clipping of onboarding on iPhone XS
- [ ] ![image](https://user-images.githubusercontent.com/1689815/147854391-ce1b7cce-2a16-42b3-bbed-e1bbdfd71189.png)

[2022-01-01 15:50] teolemon opened #817 "The second attempt to scan results in a black screen on iPhone"
### what
- [ ] On iPhone XS, according to Tacite: "scanning worked one time and now it's just black"
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/147854426-61a34148-b283-46d1-9e23-2d8731c38d4e.png)

[2022-01-01 16:15] monsieurtanuki commented on #816
Already in #782.

[2022-01-01 16:18] monsieurtanuki commented on #815
Would be solved by #798, wouldn't it?

[2022-01-01 17:10] teolemon commented on #815
It would

[2022-01-01 17:11] teolemon commented on #816
Closing then

[2022-01-01 17:11] #816 closed, assigned to nobody

[2022-01-01 20:53] #814 closed, assigned to monsieurtanuki

[2022-01-02 10:42] M123-dev commented on #762
Happy new year to you all 🎉
 I'm going to update the list with all now still interesting scanners.

[2022-01-02 17:17] M123-dev commented on #762
Done, see https://docs.google.com/document/d/1nxjyZD8NKM28w1J5LPhMybIRiw1t-31gB3mq39XtFxw/edit#heading=h.kdyjt7lwfz85

Looks like we either decide against ML-Kit or keep the old scanner for F-Droid,

[2022-01-03 14:48] monsieurtanuki commented on #798
Done in #820.

[2022-01-03 14:48] #798 closed, assigned to monsieurtanuki

[2022-01-03 14:48] monsieurtanuki commented on #815
Fixed by #820.

[2022-01-03 14:48] #815 closed, assigned to nobody

[2022-01-03 15:08] #769 closed, assigned to nobody

[2022-01-03 15:12] monsieurtanuki commented on #757
@M123-dev now it's ok, isn't it?

[2022-01-03 15:26] teolemon opened #824 "Harmonize top margin in settings"
### What

- [ ] Harmonize top margin in settings
### Part of
- #960
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/147948433-3b7caa2e-1d9c-4b14-ae01-d1747a63bf0d.png)

[2022-01-03 15:28] teolemon opened #825 "Clipping issues in Labels part of the Eco-Score Knowledge Panel"
### What

- [ ] Clipping issues in Labels part of the Eco-Score Knowledge Panel

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/147948653-935086f3-5682-4f32-9f3d-d2b1a73e2492.png)

### Part of
- #499

[2022-01-03 15:32] teolemon opened #826 "Bad French translations"
- [ ] Bad French translation of Next (Suivante)
- [ ] Bad French translation of "alimentée" (the sentence sounds weird)

![image](https://user-images.githubusercontent.com/1689815/147949074-7d425593-b7a8-46d2-854f-c9968d55fa1e.png)

[2022-01-03 15:33] teolemon opened #827 "User management proposes logged in users to log again"
### What
- User management redirects users to settings (ok)
- It then proposes logged in users to log again (nok)

### Part of
- #503

[2022-01-03 15:38] monsieurtanuki commented on #752
I tend to agree with @M123-dev: an explicit _hint_ should be enough. And we don't have that much space for the error either, just one line.
But perhaps the translation is a bit vague. I guess a simple `'Mandatory field'` _error message_ would be enough, even more vague but with less room to interpretation than `'Please enter some text'`.

[2022-01-03 15:44] teolemon opened #828 "Duplicated attributes sections"
### What
- Duplicated attributes sections

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/147950434-9bb937aa-5b2d-47ef-a702-73fef67ac8bc.png)

### Part of
- #506

[2022-01-03 15:47] #825 closed, assigned to monsieurtanuki

[2022-01-03 15:55] #828 closed, assigned to monsieurtanuki

[2022-01-03 15:55] teolemon commented on #828
Is it a local issue in my database, some server provoked issue ?

[2022-01-03 15:58] monsieurtanuki commented on #828
Not at all, it's just a bad copy/paste.
We get attribute groups from the API, and we want them to appear in a predefined order.
The algo is to use that predefined order, and then - if relevant - to add the attribute groups from the API that were not included in that predefined order.
The bug was that instead I added the attribute groups from the API that _were_ included in that predefined order.
E

[2022-01-03 16:03] monsieurtanuki commented on #826
I guess we could create a "dev" mode on the app, a bit like on Android devices.
Something like "when you tap 7 times in a row on the user preferences logo, the dev mode is enabled".
When the dev mode is enabled, there are new features available, including resetting some parameters like "is init?" boolean, so that we can test again the onboarding.
Interesting?

[2022-01-03 16:09] M123-dev commented on #757
Yes it it, thanks @monsieurtanuki

[2022-01-03 16:09] #757 closed, assigned to M123-dev

[2022-01-03 16:13] M123-dev commented on #826
A dev mode is definitely a great idea

[2022-01-03 16:14] M123-dev commented on #826
Especially in the future for things like this #812

[2022-01-03 16:16] teolemon opened #832 "Is the search query as minimized and as fast-looking as we can ?"
### What
- We're loading a shitload of products for personal ranking (and for some queries, that's not even the whole query)
- Is the search query as minimized and as fast-looking as we can ?
- If it's already optimized, can we manage user expectations
  - progress text
  - progressive sorting as we receive the response
  - show unranked search results (for 25 first results of the query, with just

[2022-01-03 16:22] monsieurtanuki opened #833 "Dev mode"
Something like "when you tap 7 times in a row on the user preferences logo, the dev mode is enabled".
When the dev mode is enabled, there are new features available, including resetting some parameters like "is init?" boolean, so that we can test again the onboarding.
Interesting?

cf. #826 #812 #782

[2022-01-03 16:46] monsieurtanuki commented on #832
Part of the problem is that we retrieve 10Kb by product, because we also get all the verbose comments:

<details>
<summary>just one salmon (welcome to the matrix)</summary>

[code]
</details>

And you can note that even when we only retrieve the data from the local database, it takes time. We are too fat!

And that's only one part of the problem.

[2022-01-03 17:06] teolemon commented on #832
- This query should go much faster (595ms), and display unsortable results, to get the user to wait for the sorted response: https://fr.openfoodfacts.org/cgi/search.pl?search_terms=salmon&action=process&fields=brands,product_name,image_small_url,image_front_thumb_url,quantity,nutrition_grades_tags,ecoscore_tags&json=1&page_size=25
- Also, should we get all knowledge panel data for the initial sear

[2022-01-03 17:09] teolemon commented on #832
- Also, should we get all knowledge panel data for the initial search ?
- Shouldn't we wait for the user to open the product ?

[2022-01-03 17:24] teolemon commented on #833
That's something we agreed we needed with @gspencergoog and @jasmeet0817 , so yes :-)

[2022-01-03 17:39] monsieurtanuki commented on #832
You ask for 25 products max in your query, and we ask for 500 (!) products: `KeywordsProductQuery(keywords: value, size: 500)`
And you ask for 7 fields (more or less given the translated fields and so), and following are the 30 fields we ask for (cf. `ProductQuery.fields`:
[code]

The first step would be to lower the number of requested products from 500 to 25, wouldn't it?

[2022-01-03 17:45] teolemon commented on #832
- What we do on Android is infinite scroll by loading in batches of 25 or 50. So if the user starts scrolling, we load additional batches of 25.
- And we could enable the personal search button as soon as we receive the 500 results (the query for the 25 first, and the full 500 would be sent in parallel)
- To be clear: we wouldn't store the 25 minimized results, they are just here to buy us time

[2022-01-03 17:54] teolemon commented on #687
Ok, I scanned a QR code, and it's back
[code]

[2022-01-03 17:57] sentry[bot] opened #835 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-JK](https://sentry.io/organizations/openfoodfacts/issues/2790189454/?referrer=github_integration)

[code]

[2022-01-03 17:57] sentry[bot] opened #836 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-S0](https://sentry.io/organizations/openfoodfacts/issues/2861298329/?referrer=github_integration)

[code]

[2022-01-03 17:58] sentry[bot] opened #837 "CameraException: CameraException(cameraPermission, Permission denied to access the camera)"
Sentry Issue: [SMOOTHIE-1M](https://sentry.io/organizations/openfoodfacts/issues/2670737984/?referrer=github_integration)

[code]

[2022-01-03 17:59] sentry[bot] opened #838 "PlatformException: PlatformException(error, Neither user 10283 nor current process has android.permission.WAKE_LOCK...."
Sentry Issue: [SMOOTHIE-16](https://sentry.io/organizations/openfoodfacts/issues/2666936177/?referrer=github_integration)

[code]

[2022-01-03 18:01] teolemon commented on #835
After resuming on my phone, it seems:
{
screen: MainActivity,
state: resumed
}

[2022-01-03 18:36] monsieurtanuki commented on #832
Things would make more sense if we could send the food preferences at query time, and let the server filter / reorder the data before replying it. The end-user would get immediately the best products first.

For the moment we are not able to store paged results: the id of the list is just the keyword.
If we want paged results, we need to write some code.

Running both 25 and 500 queries in paralle

[2022-01-03 19:01] teolemon opened #839 "Unfortunate layout overflow for allergens on scan card"
### What

- [ ] Unfortunate layout overflow for allergens on scan card

### Screenshots

![image](https://user-images.githubusercontent.com/1689815/147968970-1f811e7f-9e93-4c16-9278-5fb2fc142e70.png)
![image](https://user-images.githubusercontent.com/1689815/147968991-d8329811-8ff7-433d-aff3-dd39c3490f6b.png)

### Part of
- #526

[2022-01-03 19:10] teolemon opened #840 "The scanner should display a snackbar "Not a valid product barcode" when we scan a QR-Code"
### What

- [ ] add just a snackbar "Not a valid product barcode" when we scan a QR-Code

### Old discussion
- Decide what we do when we scan a QR-Code
- I tried to add it. And now, I have a grey screen in lieu of History again.
- Do we fail silently ? Do we say "Please scan the barcode instead, or if there's no barcode on the packaging, click the button below to open the URL in a web browser" ?

[2022-01-03 19:18] teolemon opened #841 "Replace "Check credentials" by something faster"
### What

- [ ] Replace "Check credentials" by something faster.
- You shouldn't have to click on a button to know whether you are logged in

### Pseudo code
if logged in == false:
  You are not logged in. + Button to log - in
if logged in == true:
  Welcome + username (we can't query real name ATM)

### Code pointer
https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/

[2022-01-03 19:26] M123-dev commented on #841
This checkAndReMountCredentials was intended to be used at init time, especially because of the mount part so that the user is used for queries, we can after that just check if globalUser is null or not

[2022-01-03 21:05] monsieurtanuki commented on #840
Different answers:
* should we accept QR code? I don't think so. Probably a matter of set up in the scan library.
* does it also crash when it's an unknown barcode?

[2022-01-03 21:13] monsieurtanuki commented on #839
What would you expect? "Présence inconnue : moutarde" on one line?
Another thing is that "Poisson" is probably also an allergen, but as it's "important" there's no additional "allergens" subtitle, it's in the "important" block.

[2022-01-03 21:15] monsieurtanuki commented on #824
That would mean just add a padding on top of the whole `ListView`, as there are no different paddings for the titles.

[2022-01-04 07:23] monsieurtanuki commented on #833
Done in #834.

[2022-01-04 07:23] #833 closed, assigned to monsieurtanuki

[2022-01-04 09:49] jasmeet0817 commented on #811
@stephanegigandet how should we do this one ? Should BE tell the client what improvement can be done for the product in a knowledge panel ? Or should the client figure it out on it's own.

[2022-01-04 09:53] jasmeet0817 commented on #800
In one of my other flutter mini-projects, I solved a similar problem by
calling

`SystemChannels.textInput.invokeMethod('TextInput.hide');`

whenever the keyboard should be hidden

On Fri, 31 Dec 2021 at 10:45, Marvin M ***@***.***> wrote:

--

Cheers,
Jasmeet Singh

[2022-01-04 12:02] M123-dev opened #844 "Unnecessary search widget rebuilds"
### What
- While testing around a bit for #800 I found some (Strange?) unnecessary rebuilds.

### To Reproduce
1. Add ` print('PRINT build search widget autofocus=${widget.autofocus}');` on the first line of the `SearchField` build method (not SearchPage, both are in the same file) (I always put print in caps at the start so that I can search the logs for my print messages)

2. When then searching

[2022-01-04 12:24] M123-dev opened #846 "Search history removal"
**Describe the bug**
When removing a item out of the search history (swiping to the side) there is a error message

**Error message**

[code]

[2022-01-04 12:37] teolemon commented on #766
I created a new mockup with dual text/icon buttons @monsieurtanuki @M123-dev

[2022-01-04 12:54] teolemon opened #847 "Ensure we color the screen to the top"
### What
- [ ] Ensure we color the screen to the top
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/148061733-e72a971a-6bca-4c6f-ad48-09e9ed8e1f3f.png)
![image](https://user-images.githubusercontent.com/1689815/148061899-7ab78fd9-fa84-4a30-aaf7-9f6869fd22a8.png)

[2022-01-04 13:17] teolemon opened #848 "Allow to switch to OpenFoodFacts.net/dev from the hidden settings"
### What
- In order to speed up Knowledge panel testing, allow to switch to OpenFoodFacts.net/dev from the hidden settings

### Part of
- #833

[2022-01-04 13:28] teolemon opened #849 "Allow country & language selection from the settings"
### What
- [x] Allow country selection from the settings
      #861
- [ ] Allow language selection from the settings

### Why
- Users who travel
- Debugging
- Taking localized screenshots
- Making localized demos
### Part of
- #960
### V1 screenshot
![image](https://user-images.githubusercontent.com/1689815/148066144-0beedcfe-05fb-4d79-a6d9-a540eb8b690b.png)
![image](https://user-images.githubuser

[2022-01-04 13:56] jasmeet0817 commented on #766
These
<https://github.com/openfoodfacts/smooth-app/issues/642#issuecomment-954817924>
were the mocks previously discussed for adding new image, and carousel
navigation.

My 2 cents: I do like Stephane's proposal of a hovering button for adding
new images, it goes well with Material app design. And cropping/rotation
indeed sound lower priority, I would say we should ignore them completely
for now.

[2022-01-04 14:33] jasmeet0817 commented on #839
so what's happening on the scan card is "Clipping" if the card is too big,
only a portion of it is shown. We could employ a different design for scan
card, a condensed version of the current card (comma separated values?)

On Mon, 3 Jan 2022 at 22:13, monsieurtanuki ***@***.***>
wrote:

--

Cheers,
Jasmeet Singh

[2022-01-04 15:07] teolemon commented on #848
@monsieurtanuki I would love if we could also enable forcing to openbeautyfacts.org/net, openpetfoodfacts.org/net, openproductsfacts.org/net to see how bad the app crashes.

[2022-01-04 15:24] jasmeet0817 commented on #782
- https://github.com/openfoodfacts/smooth-app/pull/850 fixes the clipping issue

[2022-01-04 15:28] monsieurtanuki commented on #848
@teolemon You can do that right now:
[code]

[2022-01-04 15:31] #848 closed, assigned to monsieurtanuki

[2022-01-04 15:42] monsieurtanuki commented on #846
@M123-dev Cannot reproduce the issue.

[2022-01-04 15:53] monsieurtanuki commented on #840
Suggested fix:
[code]

[2022-01-04 16:00] monsieurtanuki commented on #836
Suggestion in `SmoothProductCarousel`(I cannot test the camera on my emulator, I cannot test the https API calls on my old smartphone) (but I've checked that at init, with an empty carousel, the error message is not there anymore):
[code]

[2022-01-04 16:20] teolemon commented on #766
- @jasmeet0817 do you have a link to @stephanegigandet 's proposal ?
- Otherwise, I just opened #853

[2022-01-04 16:27] teolemon opened #853 "Allow photo refresh from the carousel"
### What
- [ ] Allow photo refresh from the carousel
### Part of
- #503
### Mockup

![retake photo (1)](https://user-images.githubusercontent.com/1689815/148091006-dab5d4e2-35b7-42fe-92f3-89d0c54beb30.png)

[2022-01-04 16:30] jasmeet0817 commented on #766
- https://github.com/openfoodfacts/smooth-app/issues/642#issuecomment-954817924

[2022-01-04 16:41] #835 closed, assigned to nobody

[2022-01-04 16:50] M123-dev commented on #847
Actually I am kinda confused,
Normally the status bar should always be there by default and not only be displayed shortly by swiping down, but it is not and I don't know why.
In Flutter there is the possibility to change the visibility of the lower navigation bar (Last opened, Home, Back or the one gesture line) and the status bar individually and in runtime with `SystemChrome.setEnabledSystemUIMo

[2022-01-04 17:00] monsieurtanuki commented on #847
I'm not sure I've understood what the problem exactly was, but [`SafeArea`](https://api.flutter.dev/flutter/widgets/SafeArea-class.html) may help.

[2022-01-04 17:09] M123-dev commented on #847
It's not about that something is clipped but about the bar with the clock, the notification preview and such.

![Screenshot_20220104-180603_WhatsApp.jpg](https://user-images.githubusercontent.com/39344769/148096822-c4476f97-b072-4cca-a23b-ba9eb67521f9.jpg)

![Screenshot_20220104-180624.jpg](https://user-images.githubusercontent.com/39344769/148096833-052f901c-5178-4d27-9521-21b6a852c33e.jpg)

[2022-01-04 17:12] M123-dev commented on #847
We cant color it because it is not shown until the user swipes down (Then it lasts only a few seconds) although it is always displayed in flutter by default

[2022-01-04 20:56] jasmeet0817 commented on #669
@monsieurtanuki on the third page, we need to show product details, do you know of a way to pre-cache the response from the server for a sample barcode. This will help us save an unnecessary roundtrip

[2022-01-04 20:59] monsieurtanuki commented on #669
@jasmeet0817 You just have to store once and for all the json of this Product in an asset file.
Then create a `Product.fromJson` - that should be OK I think.

[2022-01-04 21:01] jasmeet0817 commented on #669
Cool, thank you. Let me give it a shot

[2022-01-05 11:10] monsieurtanuki commented on #849
@teolemon Some remarks:
* "Allow country selection from the settings": that may make sense for muggles that travel, fair enough
* "Allow language selection from the settings": so far we take the default locale of the device (`Localizations.localeOf(context).languageCode`), and I don't see the obvious use case for muggles - especially because it would mean reloading the whole product database. Shou

[2022-01-05 12:52] teolemon opened #857 "Translations sources proposed to translators are too complex"
### What
- Translations sources proposed to translators are too complex
- Can we go from: ?
`{other{Compare {count} Products}`
to just
`Compare {count} Products`

[2022-01-05 16:48] M123-dev commented on #849
Yes, I am also in favour of keeping the language private

[2022-01-05 16:54] jasmeet0817 commented on #849
AFAICR, default language is the device language, in which case  I also
agree, we shouldn't make it configurable.

On Wed, 5 Jan 2022 at 17:48, Marvin M ***@***.***> wrote:

--

Cheers,
Jasmeet Singh

[2022-01-05 16:55] M123-dev commented on #857
I actually simplified the translation in #831, the question is whether we should still offer the possibility to allow own translations for certain numbers like 1.

`=1{One foo}`
`=other{{count} foos}`

It is certainly not the easiest but it is important so that the sentences make sense.

[2022-01-05 17:58] monsieurtanuki commented on #849
The public country part was done in #861.

[2022-01-05 21:26] M123-dev opened #863 "Ensure we handle all offline situations correctly (tracker)"
### What
- This app heavily relies on a network connection, we should test how the app behaves when there is no internet connection and even if there are no crashes we should still somehow indicate that there are some connection issues.
- Something like this is probably already enough
  - https://www.fluttercampus.com/guide/1/flutter-automatically-show-internet-connection-message-on-offline-or-onl

[2022-01-05 21:35] jasmeet0817 commented on #863
What are some features that should work in offline mode? Some I can think
of -

Product history
View already opened product data
Change preferences

On Wed, Jan 5, 2022, 22:26 Marvin M ***@***.***> wrote:

[2022-01-05 21:39] M123-dev commented on #863
Yes, actually everything except login/register, search and first access to products. Just things like #862 and product renewal requests may not turn out so well at the moment.

[2022-01-05 21:48] teolemon commented on #863
- #18 is a stretch :-)

[2022-01-06 17:39] M123-dev opened #869 "Don't expose unnecessary user credentials"
Currently, the user credentials are always added to the header for every request, even for Get requests. This is an unnecessary security risk, we should only add this where necessary.

In addition, things like `searchProducts` or `getRandomInsight` have a user as a required field. We probably don't need that in most cases

[2022-01-06 17:40] M123-dev commented on #869
Wrong repo, belongs to off-dart

[2022-01-06 17:40] #869 closed, assigned to nobody

[2022-01-06 17:51] teolemon opened #870 "(Part 2) Revamp the settings following the mock"
### Why
- It's currently easy to miss the change in settings, and the exclamation marks (or lack there of) are not very clear about the level of importance
- Nobody understands the icons, we're focusing on text only, which makes room to inline the choice (also in explicit text)
### What
- Revamp the settings following the mock
- On tap, we should circle through the 4 states, allowing the user to m

[2022-01-06 18:13] monsieurtanuki commented on #870
In the current version we reorder the attributes by decreasing importance.
We cannot do that anymore, because tapping on the same spot several times may mean tapping on a different attribute the second time. OK with leaving the reordering?

[2022-01-06 18:21] teolemon commented on #870
Indeed, We shouldn't reorder. Stability is key in the new design.

[2022-01-07 07:43] teolemon opened #874 "Small visual issue with country selector on iPhone 6s"
- [ ] Small visual issue with country selector on iPhone 6s

![image](https://user-images.githubusercontent.com/1689815/148509468-97193759-cc74-4d49-8b9a-dfa5f4f6f273.png)

[2022-01-07 07:45] teolemon opened #875 "Onboarding legibility issue in Dark Mode"
### What
- [ ] Onboarding legibility issue in Dark Mode on iPhone 6S
### Part of
- #561
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/148509739-34f381dc-235a-4c8a-aa52-a3a4a0e2babc.png)

[2022-01-07 07:46] monsieurtanuki commented on #874
@teolemon You mean, the drop-down button?

[2022-01-07 07:49] teolemon commented on #874
Yup

[2022-01-07 07:57] monsieurtanuki commented on #875
@teolemon Just curious: are we talking about real people that launched the app for the very first time, or developers in dev mode? I ask that because I wonder if the app starts in light mode anyway:
* is there a "dark mode for every app" set-up on iPhone?
* does smoothie comply to that set-up?

Because if the app automatically inits in light mode, we could ignore issues regarding onboarding in dar

[2022-01-07 08:13] teolemon opened #876 "(Owner: @jasmeet0817) Add ability to ask questions to the users when they scan a product with unanswered questions."
- [ ] Add ability to ask questions to the users when they scan a product with unanswered questions.
- Code for this was written by @jasmeet0817 during the Hackathon

### Part of
- #379
- #505

[2022-01-07 08:15] teolemon opened #877 "Implement a path to Category picker"
### What

- [ ] Implement a path to Category picker

### Part of
- #379
- #505

[2022-01-07 09:33] teolemon opened #878 "Add a compare button on Product History page"
### What
- [ ] Add a compare button on Product History page
  - [ ] when this button is pressed the user can select all products they want to compare.
  - [ ] Open a comparison page that should reuse most of the components from Product History page.

### Mocks
![image](https://user-images.githubusercontent.com/1689815/148526263-19c90d63-ea12-4a87-bb1e-e0ddb2369bde.png)

[2022-01-07 09:38] jasmeet0817 commented on #875
Yeah, I also thought about this while coding the onboarding flow, the app
just starts in light mode.

On Fri, Jan 7, 2022, 08:57 monsieurtanuki ***@***.***> wrote:

[2022-01-07 09:41] teolemon opened #879 "Reenable the similar product search from the old product page"
### What
- [ ] Reenable the similar product search from the old product page

### Mockup
<img width="375" alt="Product page summary" src="https://user-images.githubusercontent.com/1689815/148524548-cccb5580-c290-48d3-8d3f-aa8aa8f785cd.png">

### Code pointer
- https://github.com/openfoodfacts/smooth-app/pull/183

### Part of
- #395

[2022-01-07 09:44] teolemon commented on #857
I thought there was a clean way to handle plural forms in Flutter files.
It might be that there isn't: https://github.com/flutter/flutter/issues/47011

[2022-01-07 09:47] teolemon commented on #348
Going to move it to a new issue.

[2022-01-07 09:49] teolemon opened #880 "Implement the new Personal Ranking results per mock"
### What
- Implement the new Personal Ranking results per mock
  - [x] Move the count bar on the top (as we now have a navigation)
  - [x] Remove the confusing icons and color the count of products with the traffic light system
  - [x] Add the "A great match" text banner on top of the result tab (I'm not sure if we can/should reuse some of summary card for that)
#### Note
This is visible in 3 plac

[2022-01-07 09:50] teolemon commented on #348
- closing for #880

[2022-01-07 09:50] #348 closed

[2022-01-07 10:10] #575 closed, assigned to nobody

[2022-01-07 10:10] teolemon commented on #575
Creating a new issue

[2022-01-07 10:18] M123-dev commented on #875
Yes it starts in light + blue theme mode, the buttons also look bad for example with green theme. The theme shouldn't be a problem, but at some point we will switch to automatically identifying the system dark mode status and then this will also be on in onboarding.

[2022-01-07 10:20] M123-dev commented on #879
When finding the PR where we removed the old product page we should be able to take the code from there

[2022-01-07 10:21] teolemon opened #881 "Implement the new product addition flow"
### Who for
- Users in countries outside France
### Why
- #776
- Having a Road to Scores outside France (and inside France for new products)
### Mock overview (detail in individual issues)
![image](https://user-images.githubusercontent.com/1689815/148529428-0dc9e453-0505-47e4-ba53-bf35353e8b7a.png)
### What

- [ ] Implement the new product addition flow
  - [x] #882
  - [x] #883
  - [x] #1241
  -

[2022-01-07 10:23] teolemon opened #882 "Implement the new "Not found product card""
### What

- [ ] Implement the new "Not found product card"

### Part of
- #881

### Mock
<img width="375" alt="Scan" src="https://user-images.githubusercontent.com/1689815/148530108-93ec4c42-179c-4215-8ff7-1d31edd8cec6.png">

[2022-01-07 10:25] teolemon opened #883 "Implement the overview screen for product addition"
### What

- [ ] Implement the overview screen for product addition
  - [x] Implement the new layout per mocks
  - [ ] Implement the warn me when this product is complete, based on the new is_ecoscore_ready, is_nutri_score_ready fields from openfoodfacts-dart

### Mock
<img width="375" alt="Profile (3)" src="https://user-images.githubusercontent.com/1689815/148530462-9f3bd4d8-7d25-481a-8da1-38664c5

[2022-01-07 11:18] teolemon commented on #879
Potentially this one: https://github.com/openfoodfacts/smooth-app/pull/729

[2022-01-07 11:32] jasmeet0817 commented on #879
Sounds  like a good idea, but maybe we can tweak the UI a little bit, we
should use the same theme for this card as all the other cards (Summary and
knowledge panels). So maybe we can keep white background, black text and
same padding

On Fri, 7 Jan 2022 at 10:41, Pierre Slamich ***@***.***>
wrote:

--

Cheers,
Jasmeet Singh

[2022-01-07 13:33] #841 closed, assigned to M123-dev

[2022-01-07 13:56] teolemon opened #884 "Add a confirmation step before logging out"
### What
- It's easy to log out with a parasite tap
- Add a confirmation step before logging out ("Are you sure you want to log out ?" yes/no)

### Part of
- #870
- #960

[2022-01-07 14:13] teolemon commented on #342
nope, closing

[2022-01-07 14:13] #342 closed

[2022-01-07 14:39] M123-dev commented on #762
As discussed, implementing alternative ml-kit for testing

[2022-01-07 14:41] teolemon commented on #527
pierre@MacBook-Pro-de-Pierre smooth-app % git rev-list -n 1 HEAD -- packages/smooth_app/lib/cards/data_cards/smooth_intake_recommendation_card.dart
194da755efa94f7d43b1b48e7d7dbdeb0df1ea1f

[2022-01-07 14:42] teolemon commented on #527
@M123-dev I've added the screenshot, and I've found the removal commit

[2022-01-07 14:44] monsieurtanuki commented on #762
@M123-dev Could make sense to put the choice of ml-kit in dev mode.

[2022-01-07 14:55] jasmeet0817 commented on #527
We want this on the Scan page ? I don't think we have space there :(

[2022-01-07 15:01] monsieurtanuki commented on #879
Definitely that one. Around `category_product_query.dart`.

[2022-01-07 15:05] M123-dev commented on #762
Already in there locally 😁

[2022-01-07 15:30] teolemon opened #885 ""Add missing category" on Summary card if category is missing"
### What
- "Add missing category" on Summary card if category is missing
- The button does not need to actually do anything at the moment
### Part of
- #379
### Mockup
![image](https://user-images.githubusercontent.com/1689815/148566241-48401f03-e595-433d-b37b-35e42475ff44.png)

[2022-01-07 15:31] teolemon opened #886 ""Add missing ingredients" on Health card if ingredients are missing"
### What
- "Add missing ingredients" on Health card if ingredients are missing
- The button does not need to actually do anything at the moment
### Part of
- #379
### Mockup
![image](https://user-images.githubusercontent.com/1689815/148566582-f586b4fd-9974-4a6d-9247-597712b670dc.png)

[2022-01-07 15:37] teolemon opened #887 ""Add missing nutrition facts" on Health card if nutrition facts are missing"
### What
- "Add missing nutrition facts" on Health card if nutrition facts are missing
- The button does not need to actually do anything at the moment
  - [ ] #511 would need to be implemented. Meanwhile, we can go to the web edit mode

### Part of
- #379
### Mockup
![image](https://user-images.githubusercontent.com/1689815/148567369-8859b6da-c09b-4816-8509-325ffd48e0de.png)

[2022-01-07 15:39] monsieurtanuki opened #888 "Compatibility percentages above 100%!"
### What
- For some products I have a compatibility above 100% (192%, 106%). That's a lot.
### Part of
- #396
### To Reproduce
Products:
* Huile olive vierge soléou
* olives kalamata kalios
* (maybe it's an olive-related bug)

Preferences:
* Salt: mandatory
* Fats: important
* Saturated fats: important
* Vegan: important
* No palm oil: mandatory
* Ecoscore: mandatory
* Forest footprint: important

[2022-01-07 15:45] monsieurtanuki commented on #887
@teolemon In each case, could you please share a related barcode?

[2022-01-07 15:47] teolemon commented on #885
Barcode sample: https://world.openfoodfacts.org/state/categories-to-be-completed

[2022-01-07 15:47] teolemon commented on #887
https://world.openfoodfacts.org/state/nutrition-facts-to-be-completed

[2022-01-07 15:47] teolemon commented on #886
https://world.openfoodfacts.org/state/ingredients-to-be-completed

[2022-01-07 16:04] M123-dev commented on #888
Looks like you become a super human when you drink this olive oil

[2022-01-07 16:51] stephanegigandet opened #890 "Use attribute setting_name (e.g. "Low salt") instead of name ("Salt") in preferences menu"
### What
- For preferences, the app displays the attribute name (e.g. "Salt") in the preferences menu.
- There is a special setting_name field "Low salt" that makes more sense for setting preferences. (the fields are loaded from https://world.openfoodfacts.org/api/v2/attribute_groups )
- Otherwise we have things like "Sugars - Mandatory" which makes it sound it's mandatory to have sugars...

### P

[2022-01-07 16:53] stephanegigandet commented on #890
Another option is to change the label from "Mandatory" to "Very important", which would be less confusing.

[2022-01-07 17:01] teolemon commented on #511
Here's a first mockup, which hasn't been discussed yet
![Nutrition editing](https://user-images.githubusercontent.com/1689815/148579373-6cfd98af-2852-45fd-bc59-2f95efd86e91.png)

[2022-01-07 17:04] monsieurtanuki commented on #890
@stephanegigandet I understand your point. Your "another option" is easier to implement - does it look good?

Before:
![Simulator Screen Shot - iPhone 8 Plus - 2022-01-07 at 18 01 16](https://user-images.githubusercontent.com/11576431/148579372-b68a7287-f81d-4dd1-82cb-a4b999e4199f.png)

After:
![Simulator Screen Shot - iPhone 8 Plus - 2022-01-07 at 18 03 49](https://user-images.githubusercontent.c

[2022-01-07 17:12] M123-dev opened #891 "Add a "Refresh" button on the scan card, in case of Internet error"
### What

- [ ] Add a "Refresh" button on the scan card, in case of Internet error

### Part of
- #526
### Screenshot
![Screenshot_20220107-181109.jpg](https://user-images.githubusercontent.com/39344769/148580785-d1777046-5697-4762-979c-f8770ab3bb45.jpg)

[2022-01-07 17:23] monsieurtanuki commented on #890
OK it fits on the screen.
There's still confusion with the importance levels, compared to the website:
* not important // ok
* important // ok
* very important // removed from smoothie because 3 levels is easier to understand
* mandatory // will still be mandatory, but the label will be "very important"

What if we used `settingName` and kept mandatory mandatory?
![Simulator Screen Shot - iPhone 8

[2022-01-07 17:24] jasmeet0817 commented on #874
yeah flutter dropdown menus are prone to this bug, I can take a look, I'm working on something similar on the side

[2022-01-07 17:31] monsieurtanuki commented on #874
@jasmeet0817 For the record, please have a look at my suggestion for country selector in the preferences: https://github.com/openfoodfacts/smooth-app/pull/871#issuecomment-1007492580
The idea is to bring more uniformity to the UI.
@M123-dev forwarded that suggestion to the UX team, we'll see.
Perhaps that would apply to the onboarding country selection too, I don't know.

[2022-01-07 17:32] M123-dev commented on #874
https://openfoodfacts.slack.com/archives/C027W09UMM1/p1641572449000500

[2022-01-07 17:44] M123-dev commented on #870
Done by https://github.com/openfoodfacts/smooth-app/pull/871 right, @teolemon @monsieurtanuki ?

[2022-01-07 17:47] monsieurtanuki commented on #870
@M123-dev Technically we both did it: you on the sign in button, me on the attribute buttons.
The problem is with what the issue did not mention: the country selector and the reset preferences button.
I'm OK to close the issue, though.

[2022-01-07 17:52] jasmeet0817 opened #895 "[Discussion] Turn on device_preview on non-release mode?"
Hi,

I want to get some opinion on whether we should turn on device_preview when `kReleaseMode = false`. `device_preview` is really good for testing the UI on multiple screens.

When I have to test something on multiple device I end up plugging the utility and then discarding the code later

https://pub.dev/packages/device_preview

[2022-01-07 17:53] M123-dev commented on #895
Sounds good to me

[2022-01-07 18:01] monsieurtanuki commented on #895
I didn't know that package, looks very cool!
After some tests we'll be able to say: if it looks ok on a limited set of devices (to be determined), we're safe!
OK for me.

[2022-01-07 18:32] teolemon commented on #890
Mandatory should remain mandatory, for allergens

[2022-01-07 19:13] monsieurtanuki commented on #890
Then it will be the latest option, with longer attribute labels. Doesn't look very good though, many labels are on 2 and even 3 lines. The importance button with label is too big.

A suggestion:
![Simulator Screen Shot - iPhone 8 Plus - 2022-01-07 at 20 12 24](https://user-images.githubusercontent.com/11576431/148594924-0a2d0aef-1e23-4118-ae38-dc61f568d94f.png)

[2022-01-07 19:16] #885 closed, assigned to monsieurtanuki

[2022-01-07 19:16] #886 closed, assigned to monsieurtanuki

[2022-01-07 19:16] #887 closed, assigned to monsieurtanuki

[2022-01-08 12:31] teolemon opened #899 "Parameter onboarding is flashing and jumping up"
### What
- Parameter onboarding is flashing and jumping up on each setting change
- There no way to collapse down the summary card after expanding it
### Part of
- #561
### Video

https://user-images.githubusercontent.com/1689815/148644201-9fd2dbd2-b006-42c3-8077-7397ec329083.mp4

[2022-01-08 13:20] teolemon opened #900 "(Preferences) Text in button in smaller screens goes in two lines"
### What
- Text in button in smaller screens goes in two lines (iPhone)
- Font shrinking ?
### Part of
- #960
- #506
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/148645655-fc0a6270-fafa-4786-a1f8-bac6720182da.png)

[2022-01-08 13:32] monsieurtanuki commented on #900
@teolemon The problem is the solution: if you want labels for a button that doesn't take the whole screen width, you have potential troubles in 126 languages... And you have the same problem on the left column with attribute names.
cf. #890

[2022-01-08 13:44] teolemon commented on #887
- I have added a mockup in #511

[2022-01-08 13:47] teolemon commented on #891
- @M123-dev something similar in layout to https://github.com/openfoodfacts/smooth-app/issues/882

[2022-01-08 13:48] teolemon commented on #511
@monsieurtanuki would you take on Nutrition ?

[2022-01-08 13:54] monsieurtanuki commented on #511
I'm afraid not, I cannot use the camera. The camera is the main item here, isn't it? If it's not, I can work on the input of a nutrient list, and someone else would do the camera side later. Tell me if that makes sense.

[2022-01-08 14:01] teolemon commented on #207
Needs more testing, but probably solved by now

[2022-01-08 14:01] #207 closed

[2022-01-08 14:02] teolemon commented on #189
- fixed. #879 for the issue to reenable it

[2022-01-08 14:02] #189 closed

[2022-01-08 14:03] teolemon commented on #879
- Initial PR at https://github.com/openfoodfacts/smooth-app/pull/183

[2022-01-08 14:05] teolemon commented on #64
I have made a mockup based on Telegram's flow
![image](https://user-images.githubusercontent.com/1689815/148647146-65c64adf-b96d-4767-b63f-724a9cc73b1d.png)

[2022-01-08 14:07] teolemon commented on #99
We now have a country selector.

[2022-01-08 14:08] #508 closed, assigned to nobody

[2022-01-08 14:09] teolemon commented on #489
fixed.

[2022-01-08 14:09] #489 closed, assigned to nobody

[2022-01-08 14:10] teolemon commented on #488
fixed.

[2022-01-08 14:10] #488 closed, assigned to nobody

[2022-01-08 14:10] teolemon commented on #487
fixed.

[2022-01-08 14:10] #487 closed, assigned to nobody

[2022-01-08 14:17] teolemon commented on #511
No, the photo here is an existing nutrition photo. The layout is immersive and scrollable to make it easy to improve nutrition. The photo retaking is for a later iteration.

[2022-01-08 14:18] teolemon commented on #511
So it's really the input of the nutrients list, with a fancy layout. We can start simpler.

[2022-01-08 14:22] teolemon commented on #511
But to be clear it's a big chew:

- [ ] Creating a layout for the nutrition input
  - [ ] Layout for the fields
    - [x] Units
    - [x] Values
    - [ ] Modifiers <>=
  - [x] Layout for the energy fields
    - [x] Values
  - [x] Layout for the portion size
    - [x] ~~Units~~
    - [x] ~~Values~~
    - [x] Text
  - [ ] Layout for the nutrition table
    - [ ] Displaying the current photo of the

[2022-01-08 14:31] monsieurtanuki commented on #511
OK, I'll do it step by step.

[2022-01-08 14:35] monsieurtanuki commented on #511
@teolemon How are we supposed to open that page? From product page I guess, but where should one click?

[2022-01-08 14:38] teolemon commented on #511
- The button you added yesterday is a good entry point when nutrition is not there at all.
- When there is nutrition info, it could become "update nutrition information"

[2022-01-08 16:02] M123-dev commented on #64
Thanks but still, should we implement donations via Google / Apple

[2022-01-08 17:00] monsieurtanuki commented on #511
Now I have a similar problem as with the Android app: I don't know the meaning of the fields, as the meaning is only displayed as a hint:
<img src="https://user-images.githubusercontent.com/11576431/148652834-c6f6e653-dec6-4a7f-851d-72b1f3c06c28.png" height="400px">

[2022-01-08 18:01] teolemon commented on #511
<img src="https://user-images.githubusercontent.com/1689815/148654694-43c57069-3ffc-44d0-b4bb-7dbeb6f1ad71.png" width="400px">

We need to find the equivalent of the library we used

[2022-01-08 18:12] teolemon commented on #511
@monsieurtanuki wouldn't the second one do the trick ?
https://docs.flutter.dev/cookbook/forms/text-input

Also: https://stackoverflow.com/questions/49577781/how-to-create-number-input-field-in-flutter

[2022-01-08 18:39] monsieurtanuki commented on #511
@teolemon Indeed:
<img src="https://user-images.githubusercontent.com/11576431/148655765-591d13bd-7234-4c43-b51b-dd0359f45fa5.png" height="400px">

[2022-01-08 19:35] teolemon opened #903 "Add the ability to add basic details if they are not available"
### What
- [ ] if `product-name-to-be-completed` or `quantity-to-be-completed` in `states`
  - [ ] Show a button at the bottom of the summary card to add basic details, which in turn might help Robotoff predict the category, and will make the product discoverable in search
- [ ] Don't show the prompt button if the basic details are already completed
- [ ] Implement the actual screen
  - [ ] Brands

[2022-01-09 13:14] M123-dev commented on #857
Nothing to really do about this rn

[2022-01-09 13:14] #857 closed, assigned to M123-dev

[2022-01-09 13:22] #899 closed, assigned to monsieurtanuki

[2022-01-09 13:25] M123-dev opened #905 "The Hint text for password is too vague"

[2022-01-09 13:29] #905 closed, assigned to nobody

[2022-01-09 13:29] #752 closed, assigned to nobody

[2022-01-09 13:34] M123-dev commented on #800
Fixed by #845

[2022-01-09 13:34] #800 closed, assigned to M123-dev

[2022-01-09 14:04] monsieurtanuki commented on #511
@teolemon Still some questions/remarks:
1. "Modifiers <>=" - what's the point as we cannot save anything but '='
2. "energy" - potential confusion here, as we have "energy-kj", "energy-kcal" and "energy". 3 of them: it's too much! We should display only "energy-kj" and "energy-kcal", populating one of them with the "energy" value if needed, right?
3. "portion size" needs to be added
4. "cancel" /

[2022-01-09 14:53] teolemon commented on #511
1. "Modifiers <>=" - you pass the modifier directly in the value (concatenate)
2. "energy-kj", "energy-kcal": those 2 only. We do automatic conversion, but we want users to be able to input both values, as indicated on the packaging
5.show the matching values in each section, as toggled by the portion/100g switch ? Perhaps a warning that this product has values for both ?
6. Default units should b

[2022-01-09 14:59] teolemon commented on #511
Weird spinner on opening the view

<img src="https://user-images.githubusercontent.com/1689815/148687838-4e0d4c6f-fc00-4d09-ab67-54f63adcd8f4.png" height="400px">

[2022-01-09 15:40] monsieurtanuki commented on #511
Already mentioned by @M123-dev in the code review.

My answer was:
1. I know
2. the target is to pre-load the nutrient list at app init time, not querying the API each time we edit the nutrients. So, in a near future, that will disappear.

[2022-01-09 15:43] teolemon commented on #511
perfect, sorry for my inattention 😅

[2022-01-09 15:47] monsieurtanuki commented on #511
Maybe that's possible on the server side, but that's not possible for the moment in off-dart:
[code]

[2022-01-09 15:51] monsieurtanuki commented on #511
I'm afraid not.

[2022-01-09 15:57] teolemon commented on #511
https://world.openfoodfacts.org/cgi/nutrients.pl does not have it, but https://static.openfoodfacts.org/data/taxonomies/nutrients.json does

[2022-01-09 17:22] monsieurtanuki commented on #888
Beer and olive oil: the secret of happiness!

![Simulator Screen Shot - iPhone 8 Plus - 2022-01-09 at 18 21 28](https://user-images.githubusercontent.com/11576431/148693144-49c9f671-ee3e-4cf5-9ffc-5d197093f493.png)

[2022-01-09 17:37] M123-dev commented on #888
But in addition to that also interesting that Desperatos is the first result when searching for Heineken, has probably nothing to do with us though

[2022-01-09 17:40] monsieurtanuki commented on #888
Anyway I don't drink beer lower than 100% ;)
Personal best: 206% with "wasa fibres" (but that's not a beer)

[2022-01-09 18:21] M123-dev commented on #888
Beer with over 100% certainly causes a quickly visible effect, but this raises another fundamental question. Can a beer with >100% alcohol still be called a beer

[2022-01-10 07:31] monsieurtanuki commented on #511
@teolemon In the mockup, at the bottom, there are two buttons in a fixed bar: cancel and save. Sounds reasonable.
* What about the 3 tabs (profile, search, history): should they be there?
* What about the "add nutrient" button: should it be fixed on top of the cancel/save bar? should it be not fixed, and below the already populated nutrients?

[2022-01-10 07:58] teolemon commented on #511
1. Probably not
2. It should be a relatively low use button, but when you need it, you need it several times (eg baby milks, waters). It might be useful to be able to add several nutrients at the same time. For now, let's not fix it, since it greats a weird and problematic layout ( double fixed bar).
I'll raise the issue with Tim and Gao today.

[2022-01-10 08:06] monsieurtanuki commented on #511
Ask them too about question 1, because I don't think there's a single page in the app without the bottom navigation bar (and I don't know technically how to get rid of it for some pages - @jasmeet0817 any idea about that?)

Actually we're talking about 3 bottom bars: cancel/save, add nutrient, and navigation.

[2022-01-10 08:35] stephanegigandet commented on #890
I like it with smaller text indeed (and long attribute labels), the current text is way too big (on my phone at least).

[2022-01-10 11:01] monsieurtanuki commented on #511
@teolemon That portion/100g switch is not intuitive at all. What about this?

<img src="https://user-images.githubusercontent.com/11576431/148755112-12860acd-40d4-41be-8e56-d6d6e2124c86.png" height="400px">

That would look similar to
<img src="https://user-images.githubusercontent.com/11576431/148755235-c567adab-58a8-436c-9e19-453311a9a19d.png" height="400px">

[2022-01-10 16:38] jasmeet0817 commented on #511
That's gonna be difficult. I can try and find a solution, if needed. For now, I think it's best to always have the navigation bar though.

[2022-01-10 16:39] jasmeet0817 commented on #511
Closed by mistake

[2022-01-10 17:34] teolemon commented on #511
@monsieurtanuki so:
- the navigation bar, as @jasmeet0817 is going to be hard to remove (that's an ideal)
- We don't need to fix the Add nutrient button, and we don't need to fix the save cancel bar either.
- One thing as well: there was backlash about my split screen idea, so the next step is probably to add the photo on top of the input system, but without trying to do a split scrolling system
-

[2022-01-10 18:10] monsieurtanuki commented on #511
Thank you @teolemon for your answers. My remarks:
* ok to keep the navigation bar
* ok to put the add nutrient, and the cancel save bar at the end of the `ListView`
* same for the photo I guess - it will be the first item of the `ListView` and will be scrolled like the rest, right? Looks similar to [SliverAppBar](https://www.youtube.com/watch?v=mSc7qFzxHDw)
* I did remove the modifiers anyway, as

[2022-01-10 20:10] jasmeet0817 commented on #511
- I looked at removing the navigation bar, it's tricky, basically we have to let `PageManager` know not to display the `BottomNavigationBar`. This could be done with a context variable that `PageManager` watches.
    - Side note: I was in the conversation with the UXers and was nudging them to keep the bottom navigation bar, but the strong preference there was to hide it (also Pierre prefers to hi

[2022-01-11 07:51] monsieurtanuki commented on #511
@teolemon This is what you suggested, and I still think the UX is confusing - "when I hit the 'save' button, what is going to be saved, the 100g or the serving?":
<img src="https://user-images.githubusercontent.com/11576431/148901228-17197b83-945d-49f7-8a8d-0ae8bda66442.png" height="400px">

[2022-01-11 08:57] teolemon commented on #511
The 2 columns thing was really seen as confusing. We already have the same thing in production, albeit radio buttons in lieu toggles, and users and getting it fine.
Let's merge as is and gather feedback.
Theoretically, there are some products with 2 different nutrition tables, some with a 3rd and 4th columns for dilutions, but we're trying to have something simple for now.

[2022-01-11 09:21] monsieurtanuki commented on #511
Of course it's better to see just one column. The problem is in the switch.
Today's suggestion:
* from the product page, go to a "100g" page (like this one with one column)
* in the "100g" page, a button "add nutrition facts per serving" that goes to a dedicated "serving" page (a bit like an "advanced" mode) (which it is)

I guess it should be reviewed first. And #910 has the 2 columns.
But there'

[2022-01-11 09:49] monsieurtanuki commented on #511
Today's suggestion (screenshots):
### "100g" page
<img src="https://user-images.githubusercontent.com/11576431/148919610-ec3088e0-752e-4cfb-b5b5-7780f5350b7d.png" height="400px">
### serving page
<img src="https://user-images.githubusercontent.com/11576431/148919832-245e5db0-cd77-4238-b3c3-ca4247c7a1da.png" height="400px">

[2022-01-11 11:48] M123-dev commented on #511
Mhhh I understand the thoughts behind the button to the next page where it can be added per portion but I think it's rather confusing and maybe looks like you have to add both for 100g and per portion, what about two radio buttons in a row

[2022-01-11 11:51] monsieurtanuki commented on #511
Maybe if we put it at the bottom of the page, like "Advanced: nutrition facts per portion"?

That would be similar to the `Switch`.

[2022-01-11 12:04] M123-dev commented on #511
I don't know how it is labeled on products, does every product has both

Also can we generate the product data

5g sugar per 100g; portion=50g so 2,5g sugar per portion. If so it doesn't make sense to put it at the bottom

[2022-01-11 13:16] monsieurtanuki commented on #511
@M123-dev Indeed, that could be a solution:
* letting the user enter all the data for 100g
* add a button "enter serving size"
  * that button would open a dialog where the serving size can be entered
    * when clicking on "ok" on that dialog, we compute the ratio from the serving size text and ask the end-user to confirm if the energy-kj we computed is correct compared to the data printed on the

[2022-01-11 17:35] jasmeet0817 opened #913 "Keyboard is very persistent about opening up."
![keyboard](https://user-images.githubusercontent.com/7541730/148993026-dd0acaee-68c2-4be2-8c5c-b9adc754f7bf.gif)

[2022-01-11 17:39] M123-dev commented on #913
Ohh this issue still exists :(

[2022-01-11 18:21] M123-dev commented on #913
But as said I can't reproduce it

https://user-images.githubusercontent.com/39344769/148999456-07e1152b-91ff-4752-a2e7-9675a02f5e17.mp4

[2022-01-11 18:26] jasmeet0817 commented on #913
Interesting. which simulator are you using ? I'll try the same config. Let
me also install on my phone and see.

I was using `Pixel 2 API 30`

On Tue, 11 Jan 2022 at 19:21, Marvin M ***@***.***> wrote:

--

Cheers,
Jasmeet Singh

[2022-01-11 18:43] teolemon opened #915 "Add links to the social media accounts of Open Food Facts"
### What
- In the settings
  - add links to the social media accounts of Open Food Facts, so that users who so wish can click and follow the account.
    - Instagram (https://instagram.com/open.food.facts)
    - Twitter (https://www.twitter.com/openfoodfacts)
    - Blog (https://en.blog.openfoodfacts.org)
  - Add links to
    - the FAQ (https://world.openfoodfacts.org/faq)
    - the Discover (http

[2022-01-11 18:47] M123-dev commented on #913
Pixel 4 API 30 but with Play Services

[2022-01-11 19:25] teolemon opened #916 "Flatten content in setting bottom sheet"
### What

- The Contribute info layout is a bit awkward.
- [ ] We should flatten the content in the bottom sheet, and use an accordeon system, like in the first level

### Part of
- [ ] #960

### Mockup
![image](https://user-images.githubusercontent.com/1689815/149007939-dd4e3ed3-3a19-450f-b6ee-31c63f12633c.png)

[2022-01-11 19:53] teolemon opened #917 "Add inline photo nudge for (recycling/nutrition/ingredients/front)"
### What
- We cannot assume users will scroll the carousel to see what is missing in terms of photo
- [ ] Per mock, add inline prompt if the photo is missing
(I had forgotten about it, and it was mentioned in the UX Recap by @greentoff : https://drive.google.com/file/d/1PTkWCH1VdZXD2d6QE1j666cgHEyKzR2s/view )
  - [ ] Open the same view as the one triggered from the photo carousel
### Mockup
![imag

[2022-01-11 20:13] teolemon opened #918 "Question: Should those KP already work ?"
### Question
- Question: Should those KP already work ?

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/149014356-4c913420-6083-49d8-8eb7-4558e6c09142.png)

[2022-01-11 20:17] teolemon opened #919 "Flatten color/dark mode settings"
### What

- [ ] Inline color settings
- [ ] Inline dark mode
- [ ] Give a name to the color accent section

### Part of
- [ ] #960
### Mockup
![image](https://user-images.githubusercontent.com/1689815/149014868-cedc63ff-d277-4ab5-8ddc-8e187057cfc9.png)

[2022-01-11 20:23] jasmeet0817 commented on #918
Not sure I follow the question, could you rephrase it please.

On Tue, Jan 11, 2022 at 9:13 PM Pierre Slamich ***@***.***>
wrote:

[2022-01-11 20:39] teolemon commented on #918
I'm not sure whether:
1. they are standard (and they might be like this because ingredients or additives are missing, in which case we may need to hide the words "Ingredients" and "Additives" and possibly replace that with a button/nudge)
2. they will need new client side code before they can work

[2022-01-11 20:42] teolemon opened #920 "Handle openfoodfacts.org links (Add deeplinking towards the product page)"
### Who for
- Potential users
- Current users

### What
- We have many product pages on the web
- There are in-browser mechanisms to propose installing the native app for those who visit the page in a browser, or directly from Search Engines
- Allow Smoothie to handle openfoodfacts.org links

_[Design doc with links to implementations in the classic apps](https://docs.google.com/document/d/1oBiEyQ

[2022-01-11 20:53] teolemon opened #921 "Introduce Quick Actions from icon"
### What
It's a refinement rather than a core feature, present in the old app
- [ ] Introduce Quick Actions shortcuts (https://pub.dev/packages/quick_actions)
  - [ ] History
  - [ ] Scan barcode
  - [ ] Search

### Screenshot from V1
![image](https://user-images.githubusercontent.com/1689815/177011702-38ff95f5-ed1a-4be7-8bd8-9f2feaa60fdd.png)

### Part of
- #2479

[2022-01-11 20:56] jasmeet0817 commented on #918
If ingredients and additives are missing, the server shouldn't send these KPs. We don't want any custom logic on the client @stephanegigandet

[2022-01-11 22:38] M123-dev commented on #920
Note: Its not straight forward, we have to switch to either named routes or router 2.0
- #260

[2022-01-12 13:07] jasmeet0817 commented on #895
https://github.com/openfoodfacts/smooth-app/pull/923

[2022-01-12 13:07] #895 closed, assigned to nobody

[2022-01-12 13:16] jasmeet0817 commented on #674
@teolemon do we have mocks for how this button at the bottom of the page should look like ?

[2022-01-12 18:36] teolemon opened #927 "MLKit breaks deployment"
### What

    Resolving dependencies of `Podfile`

    Adding spec repo `trunk` with CDN `https://cdn.cocoapods.org/`
      CDN: trunk Relative path downloaded: CocoaPods-version.yml, save ETag: "61df179f-38"
      CDN: trunk Relative path: CocoaPods-version.yml exists! Returning local because checking is only performed in repo update
    [!] CocoaPods could not find compatible versions for pod "g

[2022-01-12 23:04] jasmeet0817 commented on #927
I see this on the simulator

![Screenshot_1642028590](https://user-images.githubusercontent.com/7541730/149236973-4c722f04-4558-4b95-a8a8-28f5b06a8861.png)

[2022-01-13 07:43] teolemon commented on #927
- So the Android went through (I replaced bintray() by maven())
- MLkit enabled or not, I can't scan anymore, and I can't see the intro card

[2022-01-13 08:19] teolemon opened #930 "The scan card disappears (with or without) the new MLKit scanner"
### What
- The scan card disappears (with or without) the new MLKit scanner

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/149292018-853f3ee3-c12a-454d-bdab-18528c493460.png)

[2022-01-13 09:27] teolemon opened #931 "Allow to export the history as a CSV file"
### What
- Allow to dump the history as a CSV file from dev mode. This will ensure we still have minimal data portability, and allow for debugging the history  (mine is still a full grey screen, without a Sentry trace)
- Related: https://github.com/openfoodfacts/smooth-app/issues/731 (I reopened it)

### Screenshot

![image](https://user-images.githubusercontent.com/1689815/149302768-a5c6d8bc-e0a4

[2022-01-13 09:34] teolemon opened #932 "Turn the "Donate" coming soon into a link to https://donate.openfoodfacts.org/"
### What
- Until we finalize the donation flow, turn the "Donate is coming soon" popup into a simple link to https://donate.openfoodfacts.org/
### Part of
- [ ] #960

[2022-01-13 09:39] teolemon commented on #674
Yes, we have @jasmeet0817 @monsieurtanuki
![image](https://user-images.githubusercontent.com/1689815/149304989-8e34e2ad-a34e-4ee3-9e62-13fb2a3119c7.png)

[2022-01-13 09:41] teolemon commented on #674
There's a helper to construct the view URL in off-dart. Not sure about the edit part

[2022-01-13 10:03] teolemon opened #933 "We should try to auto-select the country in onboarding"
### What
- [ ] We should try to auto-select the country in onboarding
  - [ ] using the phone locale en_us
  - [ ] potentially by pinging a to be created route of product opener ?

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/149309002-c0088ff3-d716-4e79-82c8-71cbf7dbd0cc.png)

[2022-01-13 10:12] monsieurtanuki commented on #933
@teolemon Actually we are, aren't we @jasmeet0817? Strange the country is not correctly detected.

[2022-01-13 10:56] monsieurtanuki commented on #931
The problem is that since #708 @M123-dev there's no Sentry in debug mode, probably for a good reason.
How are we supposed to track exceptions then? If we use `print` statements the lint check will complain and probably reject the PR.

[2022-01-13 11:37] M123-dev commented on #731
@monsieurtanuki #931

How are we supposed to track exceptions then? If we use `print` statements the lint check will complain and probably reject the PR.

I still think it doesn't make sense in debug, but in addition, it looks like this bug occurred in production, but yes we definitely have to implement more testing

[2022-01-13 11:41] jasmeet0817 commented on #933
Apparently there was a bug. #934

[2022-01-13 11:48] teolemon opened #935 "The onboarding is half-french / half english"
### What
- The onboarding is half-french / half english.
### Potential causes
  - My understanding is that it's because we're loading the local example product in English.
  - Are we already loading the various local products from the API @stephanegigandet designed ?
  - Does this API actually send back local products in the right language ?
  - Do we change the langcode properly while calling it

[2022-01-13 11:50] teolemon opened #936 "Invert the order of scores to match the order of wording in onboarding"
### What
- Invert the order of scores to match the wording in onboarding (good for you and the planet, thus 1. Nutri-Score and 2. Eco-Score)
### Part of
- #561
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/149325179-c592f5d0-1dea-4425-98b4-9eed480edfe8.png)

[2022-01-13 11:59] teolemon commented on #309
We should also ensure we can enable/disable it at any time
![image](https://user-images.githubusercontent.com/1689815/149326412-b7f04527-e749-471f-a530-52a8a60dcb2e.png)

[2022-01-13 12:00] jasmeet0817 opened #937 "Product with recently answered questions has inconsistent data on Smoothie"
See details in this issue that was incorrectly filed on the server: https://github.com/openfoodfacts/openfoodfacts-server/issues/6290

[2022-01-13 13:09] jasmeet0817 commented on #937
Fixed by #929

[2022-01-13 13:09] #937 closed, assigned to jasmeet0817

[2022-01-13 13:32] jasmeet0817 opened #938 "Should we merge smooth_ui_library into smooth_app"
Not sure if having `smooth_ui_library` as a separate package adds any benefits, does it ? Maybe I'm missing something. I feel like it adds the overhead of maintaining two different packages.

[2022-01-13 13:44] jasmeet0817 commented on #938
For example, I just realized `smooth_ui_library` can't used appLocalizations because it's in `smooth_app` and there will be cyclic dependency if it uses it.

[2022-01-13 14:11] monsieurtanuki commented on #935
cf. https://github.com/openfoodfacts/smooth-app/issues/41#issuecomment-841797727

The very first init of the app, for importance preferences we'll use the English version from the asset folder (we cannot store all languages in the assets), while async'ly downloading the "French version" and refreshing when done.
Without internet connection, we're stuck with the English version.
With internet conne

[2022-01-13 14:16] monsieurtanuki commented on #938
* I totally agree with you, I never liked `smooth_ui_library` and the work it adds
* that being said, following the logic it should not translate anything and should be agnostic like a `ListTile`
* I don't mind getting rid of that package

[2022-01-13 15:05] M123-dev commented on #927
This goes on me, fix incoming, but is the deployment completely working and can you merge your changed into develop

[2022-01-13 15:14] M123-dev commented on #938
Same, I don't have a problem with this, but as @monsieurtanuki said it was meant for multi purpoise widgets, so I'd recomment, that we create a own for example "multi _purpoise_widgets" folder

[2022-01-13 16:04] M123-dev opened #941 "ML Kit scanner is not asking for camera permission"
### What
- [ ] ML Kit scanner is not asking for camera permission
### Part of
- #526
- #561

[2022-01-13 17:13] M123-dev opened #943 "Close keyboard when submitting search"

[2022-01-13 17:16] teolemon opened #944 "Integrate the category picker within the product page"
### What
- [ ] Integrate the category picker within the product page
  - [ ] Bind it to the "Add missing product category" button
  - [x] Bind it to the server side API for category streaming (Read only)
  - [ ] Actually send edits

### Mockup
![image](https://user-images.githubusercontent.com/1689815/149622356-f9224589-4cf5-4c81-b04d-2a98548f3f51.png)

### Code pointers

- [ ] https://github.com/

[2022-01-13 17:35] jasmeet0817 commented on #944
Pierre, I've noticed that the questions we ask on the product usually
causes product categorization. Is that question asked on every product
whose category is unknown ? If so, do we need the category picker ?

On Thu, 13 Jan 2022 at 18:17, Pierre Slamich ***@***.***>
wrote:

--

Cheers,
Jasmeet Singh

[2022-01-13 17:38] teolemon commented on #944
Those questions are asked if and only if we are able to predict a category.
Otherwise, the category picker will be the only option.
Additionally, it's useful to adjust the category (in case of wrong prediction, error, or because a human is able to deep dive)

[2022-01-13 17:47] jasmeet0817 commented on #944
Got it

On Thu, 13 Jan 2022 at 18:38, Pierre Slamich ***@***.***>
wrote:

--

Cheers,
Jasmeet Singh

[2022-01-13 17:54] jasmeet0817 commented on #938
hmmm I see, so this should contain a widget/other generic libraries,

regarding `smooth_ui_library/lib/widgets/`: there's also `smooth_app/lib/widgets`, looking at which it doesn't seem too different from `smooth_ui_library/lib/widgets/` (`AttributeButton`  vs `SmoothProductImage` or `SmoothProductCarousel` vs `SmoothViewFinder`). They sound very mergeable. I think we can just add a `Readme` in th

[2022-01-13 18:11] monsieurtanuki commented on #931
@teolemon I've just PR'ed #945:
* less fragile "get product list" method, including for history
* an "export history" button - for the time being it's only a `debugPrint`. The export into an outer CSV file would have more impact, that would probably make the app parameters a bit different even when not in dev mode. For the time being, a `debugPrint` is good enough

[2022-01-13 18:49] #931 closed, assigned to monsieurtanuki

[2022-01-13 19:26] teolemon commented on #731
fixed for me

[2022-01-13 19:26] monsieurtanuki commented on #731
What does the export say?

[2022-01-13 19:27] teolemon commented on #731
nothing, it does not work

[2022-01-13 19:27] teolemon commented on #731
something is happening when I press, but nothing visible on the phone

[2022-01-13 19:28] monsieurtanuki commented on #731
Oh it's in the logs. Is your smartphone USB-connected and did you run `flutter run`?

[2022-01-13 19:30] teolemon commented on #731
lemme grab a cable

[2022-01-13 22:53] #933 closed, assigned to nobody

[2022-01-13 22:54] jasmeet0817 commented on #874
#950

[2022-01-13 22:54] #874 closed, assigned to jasmeet0817

[2022-01-13 22:54] #669 closed, assigned to jasmeet0817

[2022-01-14 07:36] monsieurtanuki commented on #731
Oh, I'll display it in a dialog instead. Let me PR that this morning.

[2022-01-14 09:08] teolemon commented on #943
- Related #800 (fixed)

[2022-01-14 09:36] teolemon opened #952 "On tap, display subpanels in a new view"
### What
- On the web, there's a notion of hierarchical knowledge panels that open in a new view as you tap.
- We have additives, tables and info on various subpanels that are not accessible from the app
- [ ] Create a view to display those
- [ ] Make the view accessible from a tap on the parent panel
- [ ] Make sure to include a Back or Close button

### Part of
- #530

[2022-01-14 09:43] teolemon commented on #927
Closing this one, there are build issues, but only on iOS, and now different.

[2022-01-14 09:43] #927 closed, assigned to M123-dev

[2022-01-14 09:48] teolemon opened #953 "iOS build broken"
### What
- [ ] iOS build broken
  - [ ] Core issue is related to a failing import
    - [ ] This might be related to changing deployment targets for mlkit: https://github.com/flutter/flutter/issues/54599
  - [ ] Remove deprecated use of 'isStatusBarHidden' (non blocking)
### Part of
- [ ] Devops
### Build output

[code]

[2022-01-14 10:31] teolemon opened #954 "After saving, the Nutrition edit should close, and back to the Product Page"
### What
- [ ] After saving, the Nutrition edit should close, and the app should bring the user back to the Product Page

### Part of
- #511

[2022-01-14 11:21] teolemon commented on #952
![image](https://user-images.githubusercontent.com/1689815/149507539-3ba8c59e-2dec-4193-9091-454d795733b1.png)

[2022-01-14 12:38] teolemon opened #956 "Make icon display optional in the Knowledge Panels"
### What
- [ ] Make icon display optional if no icon is returned, instead of the question mark
- [ ] Potentially we could turn that into a flag, so that questions marks are disabled by default in the normal version, and can be enabled by developers for debugging
cc @stephanegigandet
### Part of
- #499

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/149507539-3ba8c59e-2de

[2022-01-14 14:58] jasmeet0817 commented on #956
can you share the barcode of this product

[2022-01-14 15:06] teolemon commented on #880
- @monsieurtanuki would you pick that one and possibly #878 ?

[2022-01-14 15:06] teolemon commented on #880
That's one of the last big parts of the proposed mocks

[2022-01-14 15:42] teolemon commented on #918
Fixed.

[2022-01-14 15:42] #918 closed, assigned to nobody

[2022-01-14 15:45] teolemon commented on #876
Fixed. Thanks @jasmeet0817

[2022-01-14 15:45] #876 closed, assigned to nobody

[2022-01-14 15:46] teolemon commented on #870
Closing, thanks @M123-dev @monsieurtanuki 💯

[2022-01-14 15:46] #870 closed, assigned to monsieurtanuki

[2022-01-14 15:50] #838 closed, assigned to nobody

[2022-01-14 15:50] #837 closed, assigned to nobody

[2022-01-14 15:53] teolemon commented on #826
fixed, thanks @monsieurtanuki

[2022-01-14 15:53] #826 closed, assigned to nobody

[2022-01-14 15:57] #736 closed, assigned to nobody

[2022-01-14 15:57] teolemon commented on #731
Fixed for me. Thank you @monsieurtanuki

[2022-01-14 15:57] #731 closed, assigned to nobody

[2022-01-14 15:59] teolemon commented on #613
Thank you very much @slava-sh for the PR. It's been merged. Closing this one. 👍

[2022-01-14 15:59] #613 closed, assigned to nobody

[2022-01-14 16:00] teolemon commented on #608
- #920 is a duplicate as well 😅

[2022-01-14 16:02] teolemon commented on #558
Mostly done for generic equivalents

[2022-01-14 16:02] teolemon commented on #555
Fixed. Thanks @jasmeet0817 👍
Closing this bug.

[2022-01-14 16:02] #555 closed, assigned to nobody

[2022-01-14 16:03] teolemon commented on #554
Fixed. Thanks @jasmeet0817 👍
Closing this bug.

[2022-01-14 16:03] #554 closed, assigned to nobody

[2022-01-14 16:03] teolemon commented on #542
Fixed. Thanks @jasmeet0817 👍
Closing this bug.

[2022-01-14 16:03] #542 closed, assigned to nobody

[2022-01-14 16:03] teolemon commented on #530
Fixed. Thanks @jasmeet0817 👍
Closing this bug.

[2022-01-14 16:03] #530 closed, assigned to nobody

[2022-01-14 19:38] teolemon commented on #956
https://fr.openfoodfacts.org/produit/5997523313111/soba-cup-classique-nissin

[2022-01-15 11:03] #576 closed, assigned to nobody

[2022-01-15 11:04] teolemon commented on #75
We now have the category filter. I believe one day, we may want to have the Advanced Search, like in the website

[2022-01-15 11:06] teolemon commented on #782
I reorganized into Done/ToDo, for greater clarity

[2022-01-15 11:12] teolemon commented on #482
Fixed. Thanks @jasmeet0817 @slava-sh :-)
That was definitely not a 5 min fix

[2022-01-15 11:12] #482 closed, assigned to nobody

[2022-01-15 11:16] teolemon opened #960 "⚙️ Settings (tracker)"
### What
- This screen is very proeminent, and used to be only for #506 (something 90% of users are likely to use only once). We thus added app settings, and other important things (like calls to Contribution, Donation…). This is now a mess.
- An option is to rededicate the top menu navigation to Lists, break down settings into part, and add contextual/onboarding hints to various part of the app,

[2022-01-15 11:32] teolemon commented on #930
@M123-dev can we close this one again ?

[2022-01-15 11:44] #496 closed, assigned to nobody

[2022-01-15 11:44] #497 closed, assigned to nobody

[2022-01-15 11:47] teolemon commented on #900
Ok, noted @monsieurtanuki, I was betting my horses on font shrinking as I find wrapping ugly. But I guess it might have other implications.

[2022-01-15 12:01] M123-dev commented on #930
Yes, fixed by https://github.com/openfoodfacts/smooth-app/pull/946

[2022-01-15 12:01] #930 closed, assigned to M123-dev

[2022-01-15 12:19] teolemon commented on #938
- Related @monsieurtanuki @jasmeet0817 : https://github.com/openfoodfacts/smooth-app/issues/633
- The rationale was at the time that eventually, we could provide editing (and possibly other things) as a package for other Open Food Facts based apps

[2022-01-15 12:47] teolemon commented on #877
- Closing in favor of #944

[2022-01-15 12:47] #877 closed, assigned to nobody

[2022-01-15 12:52] M123-dev commented on #913
@jasmeet0817 can you try again with latest develop

[2022-01-15 12:56] teolemon commented on #709
- I can reproduce in #776
- Actually the upload works (check the product online after a few minutes), so I suspect the problem is largely visual

[2022-01-15 12:59] teolemon commented on #527
No, I was thinking of moving it on the Product Page, at the bottom

[2022-01-15 13:10] teolemon commented on #608
- Closing in favor of #920

[2022-01-15 13:10] #608 closed, assigned to nobody

[2022-01-15 13:20] teolemon commented on #687
![image](https://user-images.githubusercontent.com/1689815/149623128-fcb52226-1630-4d30-9ee3-079352c03c77.png)

Fixed for me. Thanks @monsieurtanuki , closing again :-)

[2022-01-15 13:20] #687 closed, assigned to monsieurtanuki

[2022-01-15 13:25] teolemon commented on #538
done

[2022-01-15 13:25] #538 closed, assigned to nobody

[2022-01-15 13:26] M123-dev commented on #538
@teolemon can you add https://github.com/openfoodfacts/fastlane-descriptions-smoothie to the README or maybe a release document

[2022-01-15 14:30] monsieurtanuki commented on #687
@teolemon The good news is that it's fixed. The bad news is that we still don't know why it crashed - probably because there was no product related to the barcode, but why did we land in those situations?

The fix was to say: if there's no actual product, we ignore the barcode.

To be tested: stupid barcodes (e.g. 11111111111111111111111) and unknown products (e.g. shampoo).
There's a high probabi

[2022-01-15 15:00] M123-dev opened #963 "Devmode language selector"
### What

### Part of
 -

[2022-01-15 15:01] M123-dev opened #964 "App settings subtitle, we don't provide "country""

[2022-01-15 15:26] M123-dev opened #965 "Add build number to "About this app""
### What
- Add build number to "About this app"

### Part of
- #960

[2022-01-15 15:30] #941 closed, assigned to M123-dev

[2022-01-15 15:33] teolemon opened #966 "Photo Carousel (tracker)"
### What

[code]

[code]

### Part of
- #503
- #499

[2022-01-15 15:50] #686 closed, assigned to nobody

[2022-01-15 15:52] #965 closed, assigned to M123-dev

[2022-01-15 15:53] M123-dev commented on #964
Fixed in https://github.com/openfoodfacts/smooth-app/commit/781a6761dda40b67b7f0599566363d7a45bea3a6

[2022-01-15 15:53] #964 closed, assigned to M123-dev

[2022-01-15 15:58] teolemon commented on #190
Tacite got a new expensive phone, and he says it's fixed.
Closing for now.

[2022-01-15 15:58] #190 closed

[2022-01-15 16:02] #932 closed, assigned to M123-dev

[2022-01-15 16:02] M123-dev commented on #762
Fixed by #893

[2022-01-15 16:02] #762 closed, assigned to M123-dev

[2022-01-15 19:32] jasmeet0817 commented on #913
Yes the bug is still there, for some reason the `SearchField`'s build function gets called when search is performed. I didn't go deep into enquiring why that is, but it seems very strange. Anyways gaining focus in `build` function was always risky.

 https://github.com/openfoodfacts/smooth-app/pull/972/files should fix it

[2022-01-15 19:34] #956 closed, assigned to jasmeet0817

[2022-01-15 19:47] jasmeet0817 commented on #943
duplicate #913

[2022-01-15 19:47] #943 closed, assigned to nobody

[2022-01-15 23:44] jasmeet0817 commented on #938
In my experience, it's better to do something when it's needed rather than do it in advance while planning ahead for the future, because the future is always changing :)

So I would merge these two projects into one, and if in the future we need to extract out a shared package, we can.

[2022-01-16 09:34] M123-dev opened #973 "Nutrition table overflow"
Product: 4015016000056

![Screenshot_20220116-103211.jpg](https://user-images.githubusercontent.com/39344769/149654588-4ce2453f-b485-4bc9-9e1f-fe2697f6af7a.jpg)

![Screenshot_20220116-103225.jpg](https://user-images.githubusercontent.com/39344769/149654592-456172ca-693a-44aa-b274-7c9ff282c7d6.jpg)

My phone and the other one is the IPhoneSE

@jasmeet0817
It's probably language specific since the c

[2022-01-16 10:08] jasmeet0817 commented on #973
Oh, thanks for filling. I'll take a look

[2022-01-16 17:52] jasmeet0817 commented on #782
Since the code is reused, I think this is no longer an issue.

Yeah, we shouldn't

[2022-01-17 14:43] M123-dev opened #976 "Allow to clear scancards even when only one card exists"
### What

- [ ] Allow to clear scancards even when only one card exists
  - Currently we can just clear if there are at least two

### Part of
- #526

[2022-01-17 16:34] M123-dev opened #977 "Get rid of the lateral black bars on bigger devices (ex. Ipad)"

[2022-01-17 17:05] monsieurtanuki commented on #936
@jasmeet0817 Closed by #975?

[2022-01-17 17:09] monsieurtanuki commented on #935
@teolemon ping: either we have an app with potentially default values in English, or we take time to download localized data. And if we take time and use the internet it's probably better to tell so to the user, isn't it?

[2022-01-17 18:06] teolemon commented on #935
- We should aim at a localized experience with potentially a little circular spinner "Retrieving a product that's perfect for you from the internet"
- @stephanegigandet "the perfect for you" product is actually weird on some specific subcases, and should include all possible allergens, and change color on non standard situations

[2022-01-17 18:08] teolemon commented on #936
Yes indeed @monsieurtanuki @jasmeet0817
Closing

[2022-01-17 18:08] #936 closed, assigned to jasmeet0817

[2022-01-18 10:43] jasmeet0817 commented on #935
So  I talked to Stephane about this last week, this was the plan

- Query for the product from BE with `barcode=example` (we can already do this now).
- If network fails default to the English version as we do now.

[2022-01-18 14:43] jasmeet0817 commented on #973
Fixed by https://github.com/openfoodfacts/smooth-app/pull/980

[2022-01-18 15:50] #973 closed, assigned to jasmeet0817

[2022-01-18 16:16] jasmeet0817 opened #982 "Smoothie camera is being used when app is minimized"
On android you can now check if an app is using camera in the background, a green dot appears on the top right corner, which is there even when the app is minimized.

![image](https://user-images.githubusercontent.com/7541730/149975800-aeb04491-f667-4ea4-8f6c-559a5b6a96d8.png)

[2022-01-18 16:25] jasmeet0817 commented on #982
Actually it turns off on it's own after 2-3 minutes of idleness (I think the system turns it off) but then if you come back to the app the camera doesn't start up again.

See:

![image](https://user-images.githubusercontent.com/7541730/149977302-60a0eec9-fe10-40dd-b7e5-b275c8fe0252.png)

[2022-01-18 18:28] monsieurtanuki commented on #880
@teolemon Please play with merged #984 and tell me if anything needs to be fixed. Or close the issue.

[2022-01-18 19:27] teolemon commented on #880
@monsieurtanuki
4 small things from my testing:

- [ ] Missing banner for "Unknown match"
- [ ] I would keep the banner even if the tab is empty
- [ ] Missing thick color underline (if not too complex, useful for reptilian reading)
- [ ] Missing thin line between tab system and the View title

[2022-01-19 07:54] monsieurtanuki commented on #880
@teolemon I've just PR'ed #985, that almost ticks everything:
- [x] Banner for "Unknown match"
- [x] Banner even if the tab is empty
- [x] Underline for selected tab - but not very thick
- [ ] Still missing thin line between tab system and the View title

I don't know we could go further without unfortunate code refactoring - e.g. not using flutter default tabs anymore and implement tabs from scra

[2022-01-19 09:56] monsieurtanuki commented on #849
For the record you can already change the app language: just change the smartphone language.
Doing so you'll be as clean as possible (e.g. no default labels in another language).

[2022-01-19 11:47] monsieurtanuki commented on #935
Working on the subject, and so far so good...

[2022-01-19 13:54] monsieurtanuki commented on #935
Et voilà:
![Simulator Screen Shot - iPhone 8 Plus - 2022-01-19 at 14 51 34](https://user-images.githubusercontent.com/11576431/150143810-088a61e8-99dc-46dd-9e65-e01487f13db4.png)

![Simulator Screen Shot - iPhone 8 Plus - 2022-01-19 at 14 51 51](https://user-images.githubusercontent.com/11576431/150143862-bf8354a4-77b1-4d0f-bed4-c7f2cb21f7a7.png)

![Simulator Screen Shot - iPhone 8 Plus - 2022-01-

[2022-01-20 07:37] monsieurtanuki commented on #963
Duplicate with #849?

[2022-01-20 07:39] monsieurtanuki commented on #884
Done by @gatodenegocios's #979.

[2022-01-20 07:39] #884 closed, assigned to nobody

[2022-01-20 08:03] monsieurtanuki commented on #900
Yesterday I tried in Italian: "non è importante". Even larger text than in French.
I don't think we can fix this issue while still displaying text buttons.

Today's icon suggestions (from https://fonts.google.com/icons?selected=Material+Icons):
* mandatory
![Capture d’écran 2022-01-20 à 08 53 56](https://user-images.githubusercontent.com/11576431/150296266-9a64712c-4aa4-41b0-926c-2dc4a6bc2982.png)

[2022-01-20 08:08] monsieurtanuki commented on #41
Oops, that was one year ago...

From #986 I'll be able to deal with that. And include the ordered nutrient list in the init phase.

[2022-01-20 08:49] M123-dev commented on #963
Yes @monsieurtanuki

[2022-01-20 08:49] #963 closed, assigned to nobody

[2022-01-20 15:39] teolemon commented on #953
https://github.com/openfoodfacts/smooth-app/commit/017a57749330637530f0ae7a7b71a64eb5e1538b

[2022-01-20 15:39] teolemon commented on #953
https://github.com/openfoodfacts/smooth-app/commit/95fd2d7de7fc659065454e9682363cf6a94227c4

[2022-01-20 15:44] monsieurtanuki commented on #953
For what it's worth, I had troubles lately (last week) with `flutter run`, probably because of mlkit.
I upgraded flutter, I upgraded pubspec.yaml (except for splash-screens), and finally managed to compile and run flutter from mac on an iphone emulator.

[2022-01-20 15:48] M123-dev commented on #953
@monsieurtanuki, did it maybe look something like this:

[code]

[2022-01-20 15:48] monsieurtanuki commented on #953
@M123-dev exactly!

[2022-01-20 15:50] teolemon commented on #953
I saw somewhere else that opening Xcode could suffice

- https://stackoverflow.com/questions/66706422/flutter-ios-camera-cameraplugin-h-file-not-found?rq=1
- https://github.com/flutter/flutter/issues/54599

[2022-01-20 15:51] teolemon commented on #953
I'm currently making room on my drive to try to install xcode again

[2022-01-20 15:53] monsieurtanuki commented on #953
@teolemon While you're cleaning you drive, let me commit (in #986) some stupid files I've never touched but that may be important.

[2022-01-20 16:01] M123-dev commented on #953
Yes I see that thing very often, and even before starting with ML Kit (@justinmc encounterd the same).
`flutter pub upgrade` fixes this for me every time

[2022-01-20 16:06] monsieurtanuki commented on #953
That became the usual tap dancing around flutter: `flutter pub get`, `flutter pub outdated`, `flutter pub upgrade`. In `smooth_app` and in `smooth_ui_library`.
And here too: `flutter upgrade`.

For the record that's my current `flutter doctor`:
[code]

[2022-01-20 16:21] M123-dev commented on #953
I actually know nothing about Xcode or something like that, so I can't say anything about that @monsieurtanuki

[2022-01-20 16:23] M123-dev commented on #953
@teolemon I saw you wanted to try to fix the build by increasing the min deploy target to 10 and this will probably fix it since we need it for ML Kit, I've updated it in the Podfile [here](https://github.com/openfoodfacts/smooth-app/pull/893/files#diff-2f2dcfa49eece2204503201786fa64eb6454964cb65458edc78a16ef1c359287R38) but I don't know if thats enouph

[2022-01-20 16:25] monsieurtanuki commented on #953
I did upgrade to `10.0`. @teolemon What about `flutter clean`? There are also other "cleaning" commands for xcode, tell me if you need them.

[2022-01-20 19:57] monsieurtanuki commented on #935
Fixed by #986.

[2022-01-20 19:57] #935 closed, assigned to monsieurtanuki

[2022-01-21 09:50] teolemon opened #991 "🔍 Search (tracker)"
### Why
- Users are used on v1 to having quick search
- We have a very powerful search on desktop that never made it to mobile
- Search might drive some engaged users who have complex needs (eg food manufacturer, Food NGOs) and as a result might have a vested interest in contributing to improve the search results.
- We're now targeting Search-A-Licious (https://search.openfoodfacts.org) as a backe

[2022-01-21 12:31] teolemon commented on #883
Can we add more buttons:
- [x] Origins photo
- [x] Recycling photo
- [x] More photos

If that's too many, we can hide them by default, but power users need them to be efficient.

[2022-01-21 14:10] monsieurtanuki commented on #880
I think we're done here with #985.
@teolemon Feel free to reopen the issue if needed.

[2022-01-21 14:10] #880 closed, assigned to nobody

[2022-01-21 23:07] mse-moises opened #993 ""SmoothAlertDialogue" giving "RenderBox issues" when there's "Smooth Simple Button" in it"
**Describe the bug**
The way that the `Smooth Simple Button` is coded right now breaks every time that two of this components needed to be put in a horizontal group, like a `Row`.

I think is because right now is coded to to occupy the entire horizontal space and centralize your text.

[code]
Then two or more of them gives you a render box problem.

**To Reproduce**
Steps to reproduce the behavior

[2022-01-22 00:19] jasmeet0817 commented on #993
Thank you for filing the bug, and nice analysis, indeed `Spacer` is the issue

[2022-01-22 09:33] M123-dev commented on #836
Fixed

[2022-01-22 09:34] #836 closed, assigned to nobody

[2022-01-22 16:19] jasmeet0817 commented on #982
This looks fixed, but when the camera is on, the following logs are printed every second. Which means some processing is being done continuously.

`
D/TransportRuntime.SQLiteEventStore(12601): Storing event with priority=DEFAULT, name=FIREBASE_ML_SDK for destination cct
D/TransportRuntime.JobInfoScheduler(12601): Upload for context TransportContext(cct, DEFAULT, MSRodHRwczovL2ZpcmViYXNlbG9nZ2luZy5

[2022-01-22 18:08] sentry[bot] opened #999 "(#2 bug) CameraException: CameraException(error, Attempt to invoke virtual method 'void io.flutter.plugins.a.z.d0(io.flutte..."
Sentry Issue: [SMOOTHIE-SH](https://sentry.io/organizations/openfoodfacts/issues/2932584004/?referrer=github_integration)

[code]

[2022-01-22 19:56] teolemon commented on #976
bla bla critical

[2022-01-22 22:11] M123-dev opened #1002 "Scan Card looks pretty empty when settings are defined in a certain way"
### What
- Looks like some things don't get rendered
### Screenshot
![Screenshot_20220122-231010.jpg](https://user-images.githubusercontent.com/39344769/150657044-33b10a70-6cfa-42cf-b21f-06ff46d66449.jpg)

[2022-01-22 22:14] teolemon commented on #1002
Do you have the barcode of this one ?

[2022-01-22 22:16] M123-dev commented on #1002
Nvm, it's just all products without much data, when switching to mandatory it works again

[2022-01-22 22:19] M123-dev commented on #913
Fixed by a mixture of a few PR's thanks @jasmeet0817

[2022-01-22 22:19] #913 closed, assigned to jasmeet0817, M123-dev

[2022-01-22 22:27] M123-dev commented on #982
Looks like this is something that occurs to a lot of people, https://github.com/FirebaseExtended/flutterfire/issues/6140
maybe someone working on Firebase or ML Kit  knows why this happens and maybe its already fixed but it's not that important as long as there are only a lot more logs.

(I always start my print messages with M123 and then just search the logs when this occurs to me)

Anyways, thi

[2022-01-22 22:38] #982 closed, assigned to M123-dev

[2022-01-22 22:48] teolemon commented on #1002
https://world.openfoodfacts.org/product/4000264000125/prinzen-rolle-de-beukelaer

[2022-01-23 09:14] teolemon commented on #1002
- That raises the question of testing exceptions in food parameters, and we should always assume the worst case scenario when layout testing.
- My understanding is that it's empty because of a lack of attributes, not a lack of data ? Am I looking at the right product ?

[2022-01-23 10:12] M123-dev commented on #1002
Yes probably the right product, I assumed that it was an error but instead I just had no preferences which lead me to this wrong assumption.

Everything unchecked

![Screenshot_20220123-111157.jpg](https://user-images.githubusercontent.com/39344769/150673810-a2fc75db-9267-431c-8184-48bdf00dfd17.jpg)

Strong food preferences

![Screenshot_20220123-111041.jpg](https://user-images.githubusercontent.c

[2022-01-23 10:58] jasmeet0817 commented on #1002
Hmm so for people who don't have preferences set maybe we want to use the
space to remind them to set preferences or show unanswered questions here
to fill up the space and get some contributions

On Sun, Jan 23, 2022, 11:13 Marvin M ***@***.***> wrote:

[2022-01-23 11:33] M123-dev commented on #1002
I like this idea

[2022-01-23 14:52] teolemon commented on #882
Initial version done by @jasmeet0817

[2022-01-23 14:52] #882 closed, assigned to jasmeet0817

[2022-01-23 15:04] teolemon opened #1003 "The default product in the onboarding is currently a bad one (Nutella ?) with not all panels available"
### What
- The default product in the onboarding is currently a bad one (Nutella ?) with not all panels available
- Eg, the factory map is missing

### Part of
- #561

[2022-01-23 15:08] teolemon opened #1004 "Allow sliding up gesture to open the full product"
### What
- V1 users (eg my father) are disoriented by the requirement to tap to open (vs old slide up) on the scan result card
- Additionally, sliding up should also open the full product to enable the transition

### Part of
- #526

[2022-01-23 15:21] monsieurtanuki commented on #1003
@teolemon Find a better product and give us its barcode.

[2022-01-23 19:47] M123-dev opened #1005 "Update generic widgets to follow mocks more closely"
### What
- We got[ a list of "final?" mock components](https://www.figma.com/file/lhRhMulB4Ek9NYDWl3FxAo/Fellowship-Jam-file?node-id=155%3A1991) on Figma, it would be good to update the `generic_lib` (former `smooth_ui_library`) to represent these

### Screenshot
![Screenshot 2022-01-23 204251](https://user-images.githubusercontent.com/39344769/150695277-b2f05b3c-564c-4eee-8414-fe095af9443f.png)

[2022-01-24 10:09] jasmeet0817 commented on #776
Let's close this, we already have several other issues tracking the same thing.

[2022-01-24 10:09] #776 closed, assigned to jasmeet0817

[2022-01-24 10:11] jasmeet0817 commented on #1003
Isn't this an issue on the backend ? We just request a product with `example` as product id.

[2022-01-24 10:19] jasmeet0817 commented on #993
Thanks for the fix, and well done @gatodenegocios

[2022-01-24 10:19] #993 closed, assigned to nobody

[2022-01-24 10:41] teolemon commented on #1003
Yes, probably. I would have expected it to return the perfect product. I wasn't completely sure the client was doing the right thing already.

[2022-01-24 10:45] monsieurtanuki commented on #1003
Actually we don't need off's `example` to be perfect. Neither to use it.
All we need is a decent product, and its barcode.

@teolemon Would you like to play with barcodes: in demo mode, being able to set the onboarding barcode?

[2022-01-24 12:20] jasmeet0817 commented on #1003
It's better to delegate this responsibility to BE, right now if we just
query 1 barcode it might be a good product for Europe but not for America
or Asia.

The deal with Stephane was that BE will find the best fitting product and return that.

On Mon, 24 Jan 2022 at 11:45, monsieurtanuki ***@***.***>
wrote:

--

Cheers,
Jasmeet Singh

[2022-01-24 12:25] monsieurtanuki commented on #1003
@jasmeet0817 That cannot indeed be the best fitting product for all the planet, and there's no country parameter for the example. We would need barcodes like `example` (master fallback), `example-fr`, `example-us`, ...
If the example changes, we should change the fallback data stored in assets, too.

[2022-01-24 12:31] jasmeet0817 commented on #1003
don't we pass country as a `cc` parameter in the request to BE ? From `barcode_product_query.dart` we are passing `ProductQuery.getCountry()` as the country, I was assuming this translates to the country code being passed to BE.

[2022-01-24 12:33] jasmeet0817 commented on #1003
For the fallback product, completely agreed that we can configure whatever product details that are best suited. But that we can fake.

Actually, the BE could also fake product details when `example` barcode is sent, in whichever language the request was sent in, let me check with Stephane, maybe that's what he was already planning

[2022-01-24 12:36] stephanegigandet commented on #1003
Right, the product you get back will depend on the country passed to the API.

[2022-01-24 12:38] monsieurtanuki commented on #1003
`example` is not only a wrong barcode, but some kind of meta barcode, then, whose product depends on the country?
We still need to find a global fallback product for the asset data.

[2022-01-24 12:42] stephanegigandet commented on #1003
Corresponding PR server side: https://github.com/openfoodfacts/openfoodfacts-server/pull/6337

Only one product right now, but we can indeed have several if we want to change the production place. That will be done server side.

[2022-01-24 12:43] stephanegigandet commented on #1003
That's correct.

For the fallback product, please use this one: https://world.openfoodfacts.org/product/093270067481501/a-good-product-for-you-open-food-facts

[2022-01-24 12:43] jasmeet0817 commented on #1003
I wouldn't say `wrong` it's a feature not a bug :) But yes, it's a meta barcode whose product depends on the country, that's why I think this bug belongs on the BE.

@teolemon what do you think about the fallback product, let us know if we should change that (or some aspects of that product)

[2022-01-24 12:46] teolemon commented on #561
reopening: It's a tracker issue for the broader onboarding (in-context…) @jasmeet0817

[2022-01-24 12:48] jasmeet0817 commented on #561
Got it, so it may required some Product/UX exploration, unassigning myself

[2022-01-24 13:24] monsieurtanuki commented on #1003
Screenshots with new fallback `093270067481501`:

![Simulator Screen Shot - iPhone 8 Plus - 2022-01-24 at 14 22 36](https://user-images.githubusercontent.com/11576431/150790404-cab07b81-9f2f-4ca8-b83b-f8392086dd37.png)

![Simulator Screen Shot - iPhone 8 Plus - 2022-01-24 at 14 22 50](https://user-images.githubusercontent.com/11576431/150790442-c8fb2d7e-6c65-41b7-8b98-05d72458747a.png)

![Simulato

[2022-01-24 13:35] #1003 closed, assigned to monsieurtanuki

[2022-01-24 17:12] M123-dev opened #1008 "Scanner flicker"
We starting the scanner, it goes on, off and on again

[2022-01-24 18:06] monsieurtanuki commented on #41
Done by #1007.

[2022-01-24 18:06] #41 closed

[2022-01-25 19:17] teolemon commented on #699
I got photographic evidence :-)

[2022-01-25 19:33] teolemon opened #1012 "HTML Links are not clickable in subpanels"
### What
- HTML Links are not clickable in subpanels

[2022-01-25 20:05] jasmeet0817 commented on #952
CLosed by #1011

[2022-01-25 20:05] #952 closed, assigned to jasmeet0817

[2022-01-25 20:06] teolemon opened #1013 "Image not rendered in the alcohol panel"
Image not rendered in the alcohol panel
![Screenshot_20220125-210027.png](https://user-images.githubusercontent.com/1689815/151051213-9f1026cc-52c9-4b07-b946-16a970071c0f.png)

[2022-01-25 20:49] jasmeet0817 commented on #1012
Thanks this was an issue on client and server (which was sending wrong link). #1014 for client fix.

[2022-01-25 20:49] jasmeet0817 commented on #1012
Closing prematurely :)

[2022-01-25 20:49] #1012 closed, assigned to jasmeet0817

[2022-01-25 20:51] jasmeet0817 commented on #1013
what;s the barcode ?

[2022-01-25 22:27] teolemon commented on #1013
I searched for champagne and took the first bottle I could find

[2022-01-25 22:33] jasmeet0817 commented on #1013
and how do you get to the "alcohol panel"?

On Tue, Jan 25, 2022 at 11:28 PM Pierre Slamich ***@***.***>
wrote:

[2022-01-25 23:12] jasmeet0817 opened #1016 "Test medium Resolution for scanning"
This might be good enough already, and help out with some resource usage issues we are having on some devices.

[2022-01-26 16:45] teolemon commented on #1013
![image](https://user-images.githubusercontent.com/1689815/151207598-47c552f9-429d-4b75-a8c8-994ca2c53577.png)

[2022-01-26 16:54] teolemon commented on #1013
Also getting this in the "Threatened Species" sub-sub-panel
![image](https://user-images.githubusercontent.com/1689815/151209463-919dc671-d170-4109-a91d-0ec3199da6e0.png)

[2022-01-26 21:22] jasmeet0817 opened #1018 "[Discussion] Show equivalence cards in product summary instead of nutri and eco scores?"
I'm often very very confused by the scores, specially ecoscore, but I find the equivalent card (This is equal to driving 2 km) very enlightening and useful. For example:

When you see this, the `D Ecoscore` sounds very bad.

![image](https://user-images.githubusercontent.com/7541730/151248054-a98bc083-8cdb-446d-8a29-8cae522a63a4.png)

but if you look at the environment card:
![image](https://user-

[2022-01-26 21:26] jasmeet0817 opened #1019 "Clicking "Env impact 81% greater than similar products" should open products that are better than this one"
I was at the supermarket today and saw that a product I was about to buy has bad env impact compared to it's peers. I tried finding a better one but couldn't find. Could clicking this button do a search for these products that are actually better?

![image](https://user-images.githubusercontent.com/7541730/151249471-76ab1c58-e368-4d48-8946-ed8b1bd2cac4.png)

[2022-01-26 21:59] monsieurtanuki commented on #1018
@jasmeet0817 Honestly I don't see the math problem:
* the milk with D and 0.8km
* the sesam seeds with E and 3.1km
* the ravioli with E and 8.8km

There's some kind of coherence, like, if the threshold between D and E is at 1km.
"Your" problem is maybe that you don't know where the ecoscores ends (which letter?): it's not obvious!
If you're told that ecoscore E is the worst grade, you can understa

[2022-01-26 22:05] jasmeet0817 commented on #1018
Thank you for the response @monsieurtanuki

I understand both products (3,1km or 8.8km) are bad, but they get grouped into the same score (`E`) which makes it look like they have similar impact, specially to new users. And that's my main problem with the scores.

Yeah, I agree. This, we should fix regardless.

[2022-01-26 22:07] jasmeet0817 commented on #1018
Did you say there's a product with 42.195km equivalence :D that's incredible, which product is it ? I want to use it for displaying the app to friends :)

[2022-01-26 22:11] monsieurtanuki commented on #1018
I guess it must be ravioli with New Zealand sesame seeds ;)
No product in particular; I just picked the marathon distance - where you're supposed to be running, not in a car.
Actually there's also a possible confusion with the distance you have to walk to burn all the calories.

[2022-01-26 22:24] jasmeet0817 commented on #1018
Yeah, I guess you are right, the equivalence is not accurate. But maybe we can make this eco score more granular A-Z ? 😅

[2022-01-26 23:01] jasmeet0817 commented on #1016
Here's documentation on `startImageStream`:

[code]

[2022-01-26 23:07] jasmeet0817 commented on #1016
Tested, seems fine. Sent a PR #1020

[2022-01-26 23:08] #1016 closed, assigned to nobody

[2022-01-27 00:21] jasmeet0817 opened #1021 "[Bug] CameraPreview integration with LifecycleManagement"
How to reproduct:

- Go to a product
- Add image
- cancel adding image

Check the logs, they show that scanner has restarted itself.

That's because LifecycleManagement state just went from paused (when Add image opened a camera to resume).

[2022-01-27 00:26] jasmeet0817 commented on #1021
One way to solve this would be to check if we are on the scan page before restarting the live feed. One way to check would be to store the current page (in PageManager) on the context.

@M123-dev would you like to take a look

[2022-01-27 06:51] M123-dev commented on #1021
Yes shouldn't be a problem, and interesting that a native view equals to minimizing the app.

[2022-01-27 08:48] stephanegigandet commented on #1018
The carbon footprint is only one component of the Eco-Score, and it's computed for the category average. It does not take into account many other environmental impacts (biodiversity, air and water pollution, soil occupation etc.), and it does not take into account the specific packaging of the product, its origins of ingredients, whether it's organic etc. or not.

So there won't be direct scale fr

[2022-01-27 08:59] stephanegigandet commented on #1019
It's a great idea. We don't have that search ability in the API yet, but we could add it.

[2022-01-27 09:09] monsieurtanuki commented on #1018
Thank you @stephanegigandet for your detailed comment.

There are still pending questions:
1. how can we make the experience less frustrating for @jasmeet0817's friends, who see incoherences that are not? Suggestion: adding a left padding or bullet point for "minor" elements like equivalences that should be considered as a subset
2. how do we know the worst grade of ecoscore? Is that E? Is that F?

[2022-01-27 09:30] jasmeet0817 commented on #1018
We basically need to explain it better, so "my friends :)" can understand why are Sesame seeds as bad as beef burgers, and if they aren't then they shouldn't use the same score.

This is new actually (since Wednesday), to be honest we have been working with non clickable buttons for quite a while, so it's natural it comes as a surprise when clicking these panels actually does something, but I wond

[2022-01-27 10:22] teolemon commented on #1019
How about we try reenabling #879 and making it more generic ?
@jasmeet0817 @stephanegigandet @monsieurtanuki @M123-dev

[2022-01-27 11:09] jasmeet0817 commented on #1019
That we should definitely do from the product page. But if I'm clicking this particular panel, I would expect it to show me what's better (ranked)

[2022-01-27 11:17] teolemon opened #1022 "Add onboarding hint that the cards can be tapped"
### Why
- It's not intuitive that cards can be tapped
### What
- Add 1-time onboarding hint that the cards can be tapped

### Mockup
<img width="375" alt="Onboarding tooltip" src="https://user-images.githubusercontent.com/1689815/159696411-c82e8351-abff-4f36-8046-dd1db7650108.png">

### Part of
- #561

[2022-01-27 11:20] teolemon opened #1023 "Image not rendered in the "Threatened Species" sub-sub-panel"
### What
Also getting this in the "Threatened Species" sub-sub-panel

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/151209463-919dc671-d170-4109-a91d-0ec3199da6e0.png)

[2022-01-27 11:23] teolemon opened #1024 "Having a transparent background in case there's a rendering issue in the knowledge panels"
### What
- #1023 and #1013 are examples of what happens if for some reason we're not able to render a panel
- Having a transparent background in case there's a rendering issue in the knowledge panels would be more gracious for the user
- To ensure we can still debug, we could enable changing back to grey in dev mode
- We should ensure the proper exceptions are raised and sent to Sentry

### Part o

[2022-01-27 11:33] monsieurtanuki commented on #1019
The initial behavior was:
* I'm on a product page
* I want to see similar products
* I have a button that lists all the products that match its more precise category (e.g. `'muesli with strawberries'` rather than `'breakfast cereals'`)
* and that button would be easy to add again to the new product page

If we want to rank products, either we should provide the back-end also with
* a variable (e.g

[2022-01-27 11:57] jasmeet0817 commented on #1019
I was only talking about a particular kind of ranking in this case. The card reads "Environment impact 81% greater than similar products". So by clicking on this card, I would love to see what are these other products that have a smaller environment impact.

[2022-01-27 12:23] teolemon opened #1025 "Phantom space next to the ingredient list (some products)"
### What
- On some products, there's a phantom space next to the ingredient list.
  - https://fr.openfoodfacts.org/produit/3560071013233/lait-des-campagnes-demi-ecreme-carrefour
- Is that a server side issue of an image being sent ? Related to the fact that this list is very short ?

### Screenshots
![image](https://user-images.githubusercontent.com/1689815/151358012-1723847b-cc4b-488e-9095-6c4ce5

[2022-01-27 12:45] teolemon opened #1026 "Implement the source fields from the Knowledge Panel API"
### What
- [x] Implement the source fields from the Knowledge Panel API
- [ ] Open questions
  - [ ] Instead of something custom, could it be passed directly in the main body of the panel ?
  - [ ] What about buttonization "Learn more on Wikipedia" ?

cc @jasmeet0817 @stephanegigandet

### Code pointer
- https://world.openfoodfacts.org/api/v0/product/5425015401027.json?fields=knowledge_panels

###

[2022-01-27 16:14] monsieurtanuki commented on #878
@teolemon There's already a "personalized ranking" button at the bottom of the page. Not sure how relevant it would be to add buttons to the top, UX-wise:
![Simulator Screen Shot - iPhone 8 Plus - 2022-01-27 at 17 13 13](https://user-images.githubusercontent.com/11576431/151398262-54d3deb8-1c11-45d6-8c89-2b84ce6e3579.png)

[2022-01-27 16:16] #1008 closed, assigned to M123-dev

[2022-01-27 16:16] #1021 closed, assigned to M123-dev

[2022-01-27 16:39] monsieurtanuki commented on #878
We also don't have that much horizontal space for the suggested "checked product" UI:
![Simulator Screen Shot - iPhone 8 Plus - 2022-01-27 at 17 38 30](https://user-images.githubusercontent.com/11576431/151403066-2f7b1b6d-33ef-46a2-8d62-433023cd6e9f.png)

[2022-01-27 17:48] teolemon opened #1029 "Make attributes tapable in the Summary card"
### What
- [ ] On the summary card and elsewhere, I kind of expect to be able to tap to get a proof
  - eg on the summary card, tapping on not vegan might show a new screen why it’s not vegan
  - pressing on Ultra-processed might show the ultra-processing markers + a reference to NOVA 4
- [ ] Users also report the lack of behavior  consistency  with the rest of the knowledge panels
- [x] We need a

[2022-01-27 17:48] teolemon opened #1030 "NOVA in the settings, but we don’t mention it anywhere else in the app."
- I’m realizing we mention NOVA in the settings, but we don’t mention it anywhere else in the app.

[2022-01-27 17:50] teolemon opened #1031 "The fact that cards can be slid sideways is not visible."
### What
- The fact that cards can be slid sideways is not visible.
- Add either a Right arrow on the side of the Welcome card, or an onboarding tooltip or a little animation to be super-clear about this possibility

### Part of
- #561

[2022-01-27 18:43] jasmeet0817 commented on #1029
This is the conversation we had with Stephene:

Backend will soon send the corresponding knowledge panel id for each
attribute via attributes api, we can use that to open up (or scroll to)
the  corresponding knowledge panel.

On Thu, Jan 27, 2022, 18:48 Pierre Slamich ***@***.***> wrote:

[2022-01-27 20:14] teolemon commented on #878
The products are supposed to slide right, leaving space for the selection boxes.
On the compare button, the text at least needs to change.

[2022-01-27 22:23] teolemon opened #1034 "Tapping on the scan button while on the scan screen should return the scan view to its initial state"
### What

- [ ] Tapping on the scan button while on the scan screen should return the scan view to its initial state ("Welcome to Open Food Facts")

![image](https://user-images.githubusercontent.com/1689815/160239548-688a9250-8ffe-4910-a632-9ba1275678e8.png)

### Part of
- #526

[2022-01-28 15:04] teolemon commented on #18
@monsieurtanuki @stephanegigandet says we should start using this country-specific route as you suggested:
https://fr.openfoodfacts.org/api/v2/search?fields=code,product_name&page_size=1000
And he will ensure the transition to 10K products will be transparent, once there's something working

[2022-01-28 16:35] teolemon opened #1038 "Build fails because of `Theme.AppCompat.Light.NoActionBar not foundà"
### What
- Build fails because of `Theme.AppCompat.Light.NoActionBar not foundà
- Introduced by https://github.com/openfoodfacts/smooth-app/pull/981

### Log
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:processDebugResources'.

     ERROR:/home/runner/work/smooth-app/smooth-app/packages/smooth_app/build/app/intermediates/packaged_manifests/debug/Andr

[2022-01-28 16:52] jasmeet0817 commented on #709
- #1039 fixes one issue:

Another issue:
Adding "More interesting photos" doesn't update the image in the carousel.

This issue is in product_image_carousel.dart L:57

[2022-01-28 17:17] jasmeet0817 commented on #1002
Unassigning myself, I won't be able to work on this, I want to fix up some knowledge panel stuff for the remainder of my fellowship, I think it would be more impactful.

[2022-01-28 17:18] jasmeet0817 commented on #881
Basic product addition flow is added.

@teolemon If we just add pictures of a new product there is generally no product name or brand information, should we ask user to add that as text (can be optional) ?

[2022-01-28 17:21] jasmeet0817 opened #1040 "Question panel doesn't look good in dark mode"
### What
- Find a product with unanswered question
- Switch to dark mode

The panel asking users to answer the question looks bad.

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/151656119-29a47b1a-a3de-4338-9331-6ed0a227f53d.png)

### Part of
- #684

[2022-01-28 17:46] teolemon commented on #903
@jasmeet0817

[2022-01-28 17:46] teolemon commented on #881
- https://github.com/openfoodfacts/smooth-app/issues/903

[2022-01-28 17:53] jasmeet0817 commented on #903
How about Brand name? Should that also be asked here?

We can also add the basic product info in product addition flow

[2022-01-28 18:32] teolemon commented on #903
- Brand name possibly, yes.
- Quantity and brand name can theoretically be inferred by Robotoff.

[2022-01-28 19:09] teolemon commented on #903
I would also like eventually to have:
- autocompletion for brands (blocked on https://github.com/openfoodfacts/openfoodfacts-server/issues/5208 and/or https://github.com/openfoodfacts/openfoodfacts-server/issues/6389)

[2022-01-28 20:53] monsieurtanuki commented on #18
About https://fr.openfoodfacts.org/api/v2/search?fields=code,product_name&page_size=1000:
* 1000 products (page size is 1000, page number is 1)
* the file size is 67850 bytes
* it's basically a list of {barcode, name}, e.g. `{"code":"5010477348357","product_name":"Country Crisp 4 noix"}`
* in total there are 871104 products
  * the total file / download/ database size would then be around 60Mb
  *

[2022-01-28 21:23] teolemon commented on #18
Speed up or enable (in worst case scenario) scan in supermarkets.
@jasmeet0817 told me that he started using the app in real life, after the update for panel expansion.
The highlights of his experience were scanning overheating after some time, and difficulty scanning due to network issues.

[2022-01-29 01:01] jasmeet0817 commented on #18
@teolemon what's the end goal? To pre-download just (barcodes => name) or the whole product. If it's just names, I agree with @monsieurtanuki. If it's the whole product it's going to take a lot of memory, and the database is always increasing. We would also need a syncing mechanism.

Yes I did have issues where I scanned products and then I was just waiting for it to load, but my phone was also ve

[2022-01-29 06:29] monsieurtanuki commented on #18
@teolemon There are separate problems here:
1. why did @jasmeet0817's smartphone heat that much? Was it the network, was it the camera, was it that there were many pending internet connections, was it something else? Please run tests (in profiler mode?) to see what is causing the heating.
2. the quantity of data for each product is too large (10Kb). For a low connectivity use case, I guess we coul

[2022-01-29 07:06] teolemon commented on #18
- @jasmeet0817 @monsieurtanuki  I didn't adapt the query.
  - The knowledge panels are most probably off-limits due to their sheer size
  - It would probably be the summary card only (basic info + attributes to allow a personalized summary card)
  - If that's still too big, we could reduce, but just the name & brand is obviously useless
- @monsieurtanuki yes, the heating is totally unrelated and b

[2022-01-29 07:42] teolemon opened #1041 "iOS build failing"
### What
- iOS build failing
### Log output
    ** BUILD FAILED **

Xcode's output:
↳
    /Users/runner/.pub-cache/hosted/pub.dartlang.org/camera-0.9.4+9/ios/Classes/FLTCam.m:397:13: warning: 'OSAtomicCompareAndSwapPtrBarrier' is deprecated: first deprecated in iOS 10.0 - Use atomic_compare_exchange_strong() from <stdatomic.h> instead [-Wdeprecated-declarations]
        while (!OSAtomicCompareAndS

[2022-01-29 07:44] teolemon opened #1042 "Android build failing"
### What
- Android build failing
### Log Ouput

[07:10:29]: Error setting value './fastlane/envfiles/api-XXXXXX.json' for option 'json_key'
[07:10:29]: You passed invalid parameters to 'google_play_track_version_codes'.
[07:10:29]: Check out the error below and available options by running `fastlane action google_play_track_version_codes`
+------------------+--------------------+
|             Lan

[2022-01-29 08:41] monsieurtanuki commented on #18
@teolemon @jasmeet0817 For the low connectivity use-case, I suggest that we add in dev mode a switch between the current set of extracted fields, and a minimum set of fields. And then we send @jasmeet0817 go shopping :) (bad luck, it's crowded on Saturdays)
What do you think of that, at least for test purposes? Faster scan, faster carousel. And when we go to the product page, we download all the f

[2022-01-29 09:24] M123-dev commented on #1042
Interesting, there weren't any changes from our side right?

[2022-01-29 09:33] teolemon opened #1043 "Dark mode issue (white on white) on extended panels"
### What
- [ ] Dark mode issue on extended panels

### Part of
- #684

### Screenshots
![image](https://user-images.githubusercontent.com/1689815/151655870-3ca6b5a0-dfcc-4e79-ac5f-68f5b92d4e25.png)

[2022-01-29 09:41] teolemon commented on #1040
![image](https://user-images.githubusercontent.com/1689815/151656130-ccd5e319-9cec-440c-a4e5-6c75d038e4c9.png)

[2022-01-29 09:55] teolemon commented on #18
- For the other attributes, an example: my sister is gluten intolerant. So what she gives a damn about is the gluten attribute on the summary card.
- There are several reasons why offline will probably be helpful:
  - Speed, reliability and peace of mind (we have an insanely fast and minimum experience regardless of the network speed / absence, potential slowdowns or downtime with the servers)
  -

[2022-01-29 10:21] teolemon commented on #1042
I don't think so, I merely rebased.

[2022-01-29 12:14] M123-dev opened #1044 "The personal ranking does not match the match on the summary card."
https://user-images.githubusercontent.com/39344769/151660566-0b47ef35-e1ef-4e76-943d-7eaeed1a290a.mp4

[2022-01-29 12:16] M123-dev commented on #1044
The biscuits are in the good tab but have only a low match, water on the contrary is at unknown match but shows good match, don't know about you but this confuses me

[2022-01-29 13:32] monsieurtanuki commented on #18
@teolemon The list of fields I provided in the previous comment was the current one - I guess gluten is already there, probably in `ATTRIBUTE_GROUPS`.

I suggest that you define a list of product fields that you think we definitely need: with that we can estimate the volume of the full offline database for France.

The query for the 1000 first products with our current list of fields is: https://f

[2022-01-29 14:31] teolemon commented on #18
https://fr.openfoodfacts.org/api/v2/search?page_size=1000&fields=code,product_name,brands,nutrition_grade_fr,image_front_small_url,quantity,lang,attribute_groups,ecoscore_grade

Probably this to display only the summary card ?

[2022-01-29 14:33] teolemon commented on #18
We could remove images alltogether. What would be the cost of having 1K to 10K of those ?
https://images.openfoodfacts.org/images/products/20301415/front_fr.37.100.jpg

Edit: 2,7kb*1-10k >> 30mb (possibly times 3 to 4 if we want to show which images are available)

[2022-01-29 14:36] teolemon commented on #18
There are some fields that we possibly don't need anymore thanks to knowledge panels and attributes

[2022-01-29 14:37] monsieurtanuki commented on #18
8.5Mb for https://fr.openfoodfacts.org/api/v2/search?page_size=1000&fields=code,product_name,brands,nutrition_grade_fr,image_front_small_url,quantity,lang,attribute_groups,ecoscore_grade

That means 7Gb for the 900K records.

Now that you mention the images, let me point that image data (png, jpg) are not even included, just the urls.

[2022-01-29 14:43] teolemon commented on #18
yup, I know, we could save space by removing image urls, or opposedly we could decide to let the user even get images.
But probably not for 900k records.

[2022-01-29 14:43] jasmeet0817 commented on #18
If we really want offline storage, then the best would be to store the bare
minimum data for only the top X popular products in a country.

On Sat, Jan 29, 2022, 15:37 monsieurtanuki ***@***.***> wrote:

[2022-01-29 15:33] monsieurtanuki commented on #18
@jasmeet0817 @teolemon Looks like a very good idea! We could even download everything for those top X popular products.

Additional data following...

Without image_front_small_url: 8,442,485 bytes per 1K products - we don't win anything
https://fr.openfoodfacts.org/api/v2/search?page_size=1000&fields=code,product_name,brands,nutrition_grade_fr,quantity,lang,attribute_groups,ecoscore_grade

Withou

[2022-01-29 16:18] monsieurtanuki commented on #1044
Not sure if it's exactly the problem, but there's a potential confusion:
1. On the multi tab page, the products scores are computed with `MatchedProduct` and `ProductPreferencesManager` (cf. `SmoothItModel.refresh` and 3 levels (MatchedProductStatus: YES, NO, UNKNOWN)
2. On the product card (`SmoothProductCardFound`) there's a similar but probably not identical algorithm from `product_compatibilit

[2022-01-29 17:51] teolemon commented on #1044
We got feedback that 5 levels was way too much. A consensus was reached at 3 levels. So it's 1. @monsieurtanuki
https://youtu.be/AbWdEJbP1yg?t=416

[2022-01-30 11:54] teolemon commented on #1044
I'm adding a P0

[2022-01-30 11:55] teolemon commented on #953
I managed to fix it, it's now broken again, but for a new reason :-)
Closing this one

[2022-01-30 11:55] #953 closed, assigned to nobody

[2022-01-30 18:24] teolemon commented on #1038
@M123-dev any idea what might have caused it in the Package merge ?

[2022-01-30 19:27] monsieurtanuki commented on #1038
@teolemon @M123-dev My hunch: `compileSdkVersion 31` and `targetSdkVersion 31` in `build.gradle`.
In another 100% Android java project of mine, I've recently upgraded to `31`. Could compile. But the app crashed at init time on Android 12 (not nice to have customers report that). Not the same issue, but I think `31` is problematic.

[2022-01-30 19:34] teolemon commented on #1038
We are having the same issue on version 1 of OFF. I had to revert. It's probably some behavior change.

[2022-01-30 19:37] M123-dev commented on #1038
@monsieurtanuki sounds very likely like it.

From Stackoverflow it sounds like this is some change which happend 2015 when android 3 came out, so it's now probably completely removed.

https://stackoverflow.com/a/31402188/13313941

Theme.AppCompat.Light.NoActionBar
Becomes
Theme.Holo.Light.NoActionBar

[2022-01-31 10:52] M123-dev opened #1047 "Optimize the camera so that phones don't heat up and drain battery"
### What
- Former discussion: https://github.com/openfoodfacts/smooth-app/pull/1020
- The image processing seems to be too complex and results into phones heating up

### Possible solutions

@PrimaelQuemerais

### Part of
- #526

[2022-01-31 11:04] M123-dev commented on #1047
I just played around with hashing the image.
Each image generated from the AVD consists of 1843200 bytes
I tried hashing each of these Uint8Lists with MD5 a fairly simple algoritm and it looked promising since it's not secure anymore but

Wikipedia:

The results weren't good, I only got the same results when putting the virtual device camera directly against the wall otherwise it would always be c

[2022-01-31 11:04] jasmeet0817 commented on #1047
A quick Google search leads to this library that we may be able to use to compress images before passing to ML Kit

https://pub.dev/packages/flutter_image_compress

[2022-01-31 11:07] jasmeet0817 commented on #1047
Maybe give this a shot, looks promising

https://pub.dev/packages/diff_image

[2022-01-31 11:57] PrimaelQuemerais commented on #1047
Looking back at it hashing doesn't preserve image delta.

Perhaps the best way to do it is first compress the image and the use the image difference library proposed by @jasmeet0817 (looking at the code the plugin compares pixels one by one, you might aswell write the function yourself). Then if the difference percentage exceeds your threshold pass the new compressed image to ML Kit.

Do your test

[2022-01-31 12:03] PrimaelQuemerais commented on #1047
Just checked your code, instead of feeding the _processCameraImage with the camera feed why not reducing the frame rate first? Let's say the camera feed produces 30 frames per second, you could process 1/10 of it arbitrarily and still have a quick response time.

[2022-01-31 14:07] #878 closed, assigned to monsieurtanuki

[2022-01-31 15:15] jasmeet0817 opened #1048 "History tab should include scanned products"
Currently the tab only shows products that were opened before, this can throw off users who  consider "scanning" as part of their "history"

[2022-01-31 15:15] jasmeet0817 commented on #1048
@teolemon any comments?

[2022-01-31 15:26] teolemon commented on #1048
Erm yes, it should include all scanned products, even if we don't open the full product page.

[2022-01-31 15:43] #1048 closed, assigned to monsieurtanuki

[2022-01-31 16:51] M123-dev commented on #1047
I tried around resizing the photo earlier and it turned out to be harder than it might seem But when we look at the Ml Kit documentation, they recommend a minimum resolution of 2MP (1.920 x 1.080) which is actually higher than the one we currently have.

https://developers.google.com/ml-kit/vision/barcode-scanning/android

However, we could only scan the upper area which not covered by the cards,

[2022-01-31 17:44] M123-dev commented on #1038
I tried updating to `Theme.Holo.Light.NoActionBar` and without a theme at all, both didn't work. So I created a issue https://github.com/Yalantis/uCrop/issues/816, we have to wait what the maintainer responds

[2022-01-31 18:18] M123-dev commented on #1038
I just tried it with version 30 instead of 31 here https://github.com/openfoodfacts/smooth-app/tree/android-target-30 and it didn't work

The intersting things building on my machine works on 30 and 31

[2022-01-31 21:36] jasmeet0817 opened #1055 "Product history title"
Following up on this discussion

Issue: Current title is too long.
Potential changes.

Change "My recently seen Products" -> "Product history" (This should be small enough in most languages)
Another idea that was proposed was to use the History icon.

[2022-01-31 21:37] jasmeet0817 commented on #1055
@teolemon any preferences here ?

[2022-01-31 21:47] teolemon commented on #1055
Let's try shortening first. 👍

[2022-01-31 21:47] teolemon commented on #1055
History should probably be enough.

[2022-01-31 22:30] monsieurtanuki commented on #1055
I agree: let's try "History" in English, "Historique" in French.

[2022-01-31 22:49] jasmeet0817 commented on #1047
you mean you want to check if basic camera usage heats up the phone? In that case, I can confirm that it doesn't, also no other  app that uses the camera (example whatsapp, telegram etc) heats up the phone since they don't process each image.

I just tried doing as you suggested with "QR Scanner" app, and it didn't heat up the phone either, but the app closed itself after a while on it's own. I th

[2022-02-01 08:07] #1055 closed, assigned to monsieurtanuki

[2022-02-01 10:15] monsieurtanuki commented on #879
Done in #1057.

[2022-02-01 10:15] #879 closed, assigned to monsieurtanuki

[2022-02-01 13:54] monsieurtanuki commented on #954
@teolemon I'm stuck with the following problems:
1. so far I know how to save a whole product, but I would make sense to save just the nutrition values: is there an API we could call for that? Or could we just save an empty product with just the nutrition values, so that only the nutrition values are saved?
2. still find confusing the 100g and portion "tabs" - you would like both tab values to be

[2022-02-01 20:33] M123-dev commented on #1038
So we only need to import these line cause the image editing library depends on this native package, I was thinking about switching to a complete dart alternative, this solved this error, allows better debugging, support for other platforms etc...

Probably little less performance but we're not building a photo editing tool

[2022-02-01 20:36] M123-dev commented on #1038
For example
- https://pub.dev/packages/crop_your_image
- https://pub.dev/packages/image_cropping

[2022-02-02 10:00] #888 closed, assigned to nobody

[2022-02-02 10:00] #1044 closed, assigned to monsieurtanuki

[2022-02-02 10:54] jasmeet0817 opened #1060 "Product compatibility unknown for all cards"
### What

- [ ] Product compatibility unknown for all cards

### Part of
- #506

### Screenshot
![image](https://user-images.githubusercontent.com/7541730/152140578-69d22554-197f-4f46-a196-408937418842.png)

[2022-02-02 11:02] monsieurtanuki commented on #1060
Yeah it's the new score algorithm, with just one possible result. Less confusing for the end-users. :)
Let me have a look at that...

[2022-02-02 11:16] monsieurtanuki commented on #1060
What about `3245414637696`? What are your parameters?
![Simulator Screen Shot - iPhone 8 Plus - 2022-02-02 at 12 15 52](https://user-images.githubusercontent.com/11576431/152143690-6c022bb1-9f82-429f-a977-ab272b7631fd.png)

[2022-02-02 11:24] jasmeet0817 commented on #1060
hahaha

3245414637696 also has unkown.

My prefs are default.

![image](https://user-images.githubusercontent.com/7541730/152144860-172d0a64-6095-4c7c-937a-8fda141b99f0.png)
![image](https://user-images.githubusercontent.com/7541730/152144878-d474f8f4-401a-4b55-a732-b21252c9abc1.png)

[2022-02-02 11:37] monsieurtanuki commented on #1060
The default was not that.

You changed the code 4 months ago in #603, and now the default is that all those attributes are "important":
* NUTRISCORE
* ECOSCORE
* NOVA
* VEGETARIAN
* VEGAN
* PALM_OIL_FREE
* LOW_SALT
* LOW_SUGARS
* LOW_FAT
* LOW_SATURATED_FAT
* LABELS_ORGANIC
* LABELS_FAIR_TRADE
* FOREST_FOOTPRINT

It used to be only:
* NUTRISCORE: very important
* NOVA: important
* ECOSCORE: import

[2022-02-02 11:41] monsieurtanuki commented on #1060
In my tiramisu, the problem seems to be with "vegetarian":
* reset the preferences
* check the tiramisu : unknown compatibility
* turn the vegetarian off
* check the tiramisu : good compatibility

[2022-02-02 11:52] monsieurtanuki commented on #1060
Basically if you see "? vegan status unknown" in the product card you'll get an "unknown compatibility" result.
Probably your 5 level algorithm was less sensitive to "unknown" attributes than the 3 level version. I'll have a look at it.

[2022-02-02 12:17] monsieurtanuki commented on #1060
@jasmeet0817 The big difference I see between you and me (algorithm-wise of course) is that for you, if the status is unknown, it's not a problem unless the attribute is mandatory (in that case only: at best "UNKNOWN").
In my code, if the status is unknown then the result is at best "UNKNOWN", regardless of the importance of the attribute.

That means 3 things:
* your algorithm is more robust to t

[2022-02-02 14:15] jasmeet0817 commented on #1060
I think good.

Agreed

[2022-02-02 18:17] M123-dev opened #1062 "getKnowledgePanels is deprecated"
Analyzer:

@monsieurtanuki @jasmeet0817

[2022-02-02 22:51] teolemon commented on #1062
https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/database/knowledge_panels_query.dart#L21

[2022-02-03 08:56] monsieurtanuki commented on #1060
@jasmeet0817 Honestly I don't know. As an engineer and as a Frenchman I would say: it depends.
If the end-user says "To me, gluten-free is important" and our answer is "this product is good for you, but actually we don't really know about gluten", that sounds ugly.
On the other hand, as a vegetarian I'm a bit disappointed by the app because all the soy milks I check have an "unknown vegetarian sta

[2022-02-03 11:51] jasmeet0817 commented on #1060
Yeah, lets code both and  get some feedback from users to see which one is better. @teolemon can probably help us get user reviews.

One thing though, in Switzerland since many items have a lot of data missing, almost all the products I scan are giving me "Unknown compatibility".

I also think there's a path to contribution from unknown, "We don't know if this product is good for you, help us find

[2022-02-03 15:02] #1038 closed, assigned to M123-dev

[2022-02-03 15:05] #1062 closed, assigned to monsieurtanuki

[2022-02-03 17:39] monsieurtanuki commented on #1041
@teolemon It started failing for me too half a hour ago :(

[2022-02-03 20:03] teolemon commented on #1041
I merged https://github.com/openfoodfacts/smooth-app/issues/953

[2022-02-03 23:00] teolemon opened #1067 "Build warnings"
- [ ] info • This function has a nullable return type of 'Color?', but ends without returning a value • packages/smooth_app/lib/cards/product_cards/knowledge_panels/knowledge_panel_title_card.dart:78:10 • body_might_complete_normally_nullable
- [ ]    info • 'primaryVariant' is deprecated and shouldn't be used. Use primary or primaryContainer instead. This feature was deprecated after v2.6.0-0.0.p

[2022-02-04 07:26] monsieurtanuki commented on #1067
@teolemon @M123-dev Could we please have the same level of checks on development env and on github?

[2022-02-04 07:38] monsieurtanuki commented on #1041
Note: NEVER upgrade Android Studio unless you're forced to.
Now my flutter projects are not considered as flutter projects anymore...

[2022-02-04 08:33] M123-dev commented on #1067
It should actually be the same, it just calls

 ​`flutter analyze --fatal-infos --fatal-warnings .`

The flags so that it fail even for infos and warnings not only for real errors

Maybe it fails because of the new Flutter Version 2.10.0

[2022-02-04 08:39] M123-dev commented on #1041
Maybe you have to change it up here

![Screenshot_20220204-093628_Chrome.jpg](https://user-images.githubusercontent.com/39344769/152497847-2f96a3c0-4033-4a69-a5e6-2998a9578724.jpg)

[2022-02-04 08:45] monsieurtanuki commented on #1041
I've just created a new flutter project with Android Studio - you can see the flutter logo on top:
![Capture d’écran 2022-02-04 à 09 41 33](https://user-images.githubusercontent.com/11576431/152498222-ab17b434-8ced-46cd-903c-9ef0cac73a6d.png)
![Capture d’écran 2022-02-04 à 09 43 13](https://user-images.githubusercontent.com/11576431/152498443-9227fc36-a876-4e7e-bea7-4a501c9ba412.png)

On smooth-ap

[2022-02-04 08:45] monsieurtanuki commented on #1067
@M123-dev Obviously it's not the same. I've just run this line, and found no warnings or errors.

[2022-02-04 09:39] M123-dev commented on #1041
Maybe you have to go into `./package/smooth_app` doesn't work for me either in the root dir

[2022-02-04 10:22] teolemon commented on #1067
@monsieurtanuki @M123-dev sorry for the cryptic issue, here's the source:
https://github.com/openfoodfacts/smooth-app/runs/5059447332?check_suite_focus=true

[2022-02-04 19:05] #1067 closed, assigned to nobody

[2022-02-04 19:50] teolemon commented on #1041
[!] CocoaPods could not find compatible versions for pod "Sentry":
      In snapshot (Podfile.lock):
        Sentry (= 7.5.4, ~> 7.5.1)

      In Podfile:
        sentry_flutter (from `.symlinks/plugins/sentry_flutter/ios`) was resolved to 0.0.1, which depends on
          Sentry (~> 7.9.0)

[2022-02-04 20:01] monsieurtanuki commented on #1041
@teolemon That's the one I'm fighting with.

[2022-02-05 10:35] teolemon commented on #1060
First: sorry for the delays related to a mobilization on Packaging and Origins related to Eco-Score
- We take time to review the algorithm with @stephanegigandet, in a cross platform manner, and probably add tests, as soon as we get the time
- For Unknown Matches, what about a product completion logic ? We could trigger a specific "Road to Scores" pipeline, directly on the scan card, when mandator

[2022-02-05 10:55] teolemon opened #1070 "Reuse the mechanism for ingredients extraction for packagings"
### What

- [ ] Reuse the mechanism for ingredients extraction (#707) for packaging/recycling instructions extraction
- [ ] Blocked on https://github.com/openfoodfacts/openfoodfacts-dart/pull/380

### Part of
- #515
- https://github.com/openfoodfacts/openfoodfacts-server/issues/6374

[2022-02-05 13:39] monsieurtanuki commented on #1041
I got rid of it by commenting (temporarily) `Sentry`.
Now I have problems with `device_info_plus`, introduced by [`camera`](https://pub.dev/packages/camera):

Which sounds more like "The device_info_plus plugin __must__ be used".

Later: started from scratch. Still could not compile - this time it was because of probably a wrong mixture of `camera` and iOS version number. I give up for today.

[2022-02-05 13:50] monsieurtanuki commented on #1041
I can't even remember why we implement 2 types of scan.

Food for thought: https://hbr.org/2022/02/when-subtraction-adds-value
TL;DR "Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away." (Antoine de Saint-Exupéry)

[2022-02-05 14:19] M123-dev opened #1072 "Post submit build failing"

[2022-02-05 14:20] teolemon commented on #1041
- We want to be able to ship a 100% free version for F-Droid
- We want to leverage an actively maintained and modern barcode scanner (mlkit) otherwise.
- Bonus: at this point, we haven't measured satisfaction with both solutions (cf: "The app scans quickly" from the user survey document)

[2022-02-05 14:25] monsieurtanuki commented on #1072
Similar issue with iOS regarding "GeneratedPluginRegistrant"; could it be an issue related the upgraded flutter version?

[code]

[2022-02-05 16:22] M123-dev commented on #1072
The interesting thing is, when I do flutter run it works but build --debug throws this error

Eventhough they should do the same thing

[2022-02-06 09:51] teolemon commented on #670
@jasmeet0817 I believe this one is fixed and can be closed.

[2022-02-06 09:52] jasmeet0817 commented on #670
Yep. Done. I can't close it from the phone, strange

[2022-02-06 09:54] #670 closed, assigned to nobody

[2022-02-06 10:20] teolemon commented on #527
- [ ] Getting rid of the dark mode hardcode
- [ ] Putting it as disabled by default (behind a flag), I think we can enhance usability

![Health tracking](https://user-images.githubusercontent.com/1689815/152676394-64a899f2-c191-48a9-8425-b245b8cc7f05.png)

[2022-02-06 10:35] teolemon commented on #217
@monsieurtanuki note: I've managed to automate running the Screenshot tests suites on GitHub Actions for the classic apps, so we can run them on all platforms without blocking a personal computer

[2022-02-06 10:40] monsieurtanuki commented on #217
@teolemon That means classic Android and classic iOS apps, but not flutter so far, right?

[2022-02-06 11:17] teolemon commented on #217
Yes

[2022-02-06 11:24] M123-dev commented on #217
Just did some further research and found another approach that doesn't use the not null safe screenshots package

https://blog.codemagic.io/flutter-automated-screenshot-testing/

[2022-02-06 15:47] teolemon opened #1073 "Create a plan and designs for a user-friendly lists system"
### What

- [ ] **Create a plan** and designs for a user-friendly lists system
  - [ ] Examine if/what we can reuse from the previous system
  - [ ] Agree on the data structure (potentially including a non-used quantity field to make it future proof)
  - [x] Create a product page widget to list which lists the product belongs to
    - [ ] <img width="375" alt="Lists - Product page insert" src="htt

[2022-02-06 16:01] teolemon opened #1074 "Introduce a Products to be completed page, as fan service to power users."
### What
- NOTE: This is a very low priority target
- Introduce a Products to be completed page, as fan service to power users.
- Power users typically open this page on V1 to find newest products that need completion, click on a product, answer Robotoff questions, edit…and move on to the next product
- This enables serendipitous contribution when they don't have any product in hand, and are bored

[2022-02-06 16:35] monsieurtanuki commented on #1042
I cannot build with iOS, I cannot build with Android either. Looks like I'm on holiday.
[code]

[2022-02-06 16:41] teolemon commented on #64
- I think I got a more efficient idea:
  - https://github.com/openfoodfacts/openfoodfacts-server/issues/6348

[2022-02-06 17:15] teolemon opened #1075 "Make the most use of the tag picker"
### What
-  A tag picker (that works for taxonomized fields) has been merged. It needs to be made accessible on the product page, for further testing and refinements.
- Make the most use of the tag picker
![image](https://user-images.githubusercontent.com/1689815/155347158-2e0e5996-5b62-4312-ac5f-1b546b87d1b0.png)
### Tasks
- [x] #516
- [ ] Labels input
  - [x] #524
  - [ ]  A tag picker (that wor

[2022-02-06 17:37] teolemon commented on #977
Could you provide a screenshot ?

[2022-02-06 17:41] teolemon commented on #938
I reckon we can close this @M123-dev ? @jasmeet0817

[2022-02-06 17:43] teolemon commented on #903
Here's an updated mockup:
![Basic details](https://user-images.githubusercontent.com/1689815/152693745-22776e63-f332-44a5-9fc4-9db222b6014b.png)

[2022-02-06 17:46] #494 closed, assigned to nobody

[2022-02-06 17:47] #441 closed, assigned to nobody

[2022-02-06 17:48] teolemon commented on #437
- Everything from those lists are implemented, and the beta has been launched.
- Closing this one

[2022-02-06 17:48] #437 closed, assigned to nobody

[2022-02-06 17:53] teolemon commented on #498
@jasmeet0817 congratulations on solving this one.
Closing

[2022-02-06 17:53] #498 closed, assigned to nobody

[2022-02-06 17:56] #1018 closed, assigned to nobody

[2022-02-06 17:58] teolemon commented on #514
- Closing as duplicate of #1075

[2022-02-06 17:58] #514 closed, assigned to nobody

[2022-02-06 18:06] M123-dev commented on #938
Yes 👍🏼

[2022-02-06 18:06] #938 closed, assigned to nobody

[2022-02-06 18:08] M123-dev commented on #977
Actually this can probably be closed, I am pretty sure that it's caused by device_preview. We calculate the camera size by the device size and when emulating a device inside another device we get the size of the root device not the emulated device.

tl;dr
It only happens on debug builds so no problem

[2022-02-06 18:08] #977 closed, assigned to nobody

[2022-02-06 18:11] teolemon commented on #1042
@M123-dev I reverted your changes to android-release.yml and got further:

- https://github.com/openfoodfacts/smooth-app/runs/5084900039?check_suite_focus=true
- https://stackoverflow.com/questions/47653560/cannot-get-property-compilesdkversion-on-extra-properties-extension-as-it-does
- https://github.com/openfoodfacts/smooth-app/blob/32be6b12a43c2862a1693ab28638798309b6a572/packages/smooth_app/an

[2022-02-06 18:15] teolemon opened #1078 "Update sentry_flutter from 0.0.1 to 6.3.0"
### What

- The iOS build is failing because of sentry_flutter
[code]
- [ ] Update sentry_flutter from 0.0.1 to 6.3.0 and see if it improves anything
- [ ] https://pub.dev/packages/sentry_flutter/changelog

### Part of

- [ ] #1079

[2022-02-06 18:16] teolemon opened #1079 "Keep dependancies up to date"
### What

- [ ] Possibly others
  _fe_analyzer_shared 76.0.0 (86.0.0 available)
  analyzer 6.11.0 (8.0.0 available)
  app_settings 5.2.0 (6.1.1 available)
  archive 4.0.2 (4.0.7 available)
  args 2.6.0 (2.7.0 available)
  barcode 2.2.8 (2.2.9 available)
  build 2.4.1 (3.0.0 available)
  built_value 8.9.2 (8.10.1 available)
  camera 0.11.1 (0.11.2 available)
  camera_android_camerax 0.6.13 (0.6.19

[2022-02-06 18:29] teolemon opened #1080 "Proposal: Trigger a specific "Road to Scores" pipeline, directly on the scan card, when mandatory choices are missing (eg: ingredients…)"
### Who for
- People who encounter an "Unknown match product" on their mandatory criteria
- People in Switzerland, and more generally outside France, like @jasmeet0817

### What

- [ ] Trigger a specific "Road to Scores" pipeline, directly on the scan card, when mandatory choices are missing (eg: ingredients…)
- [ ] UI tbd, but the explanation of the scores could be turned server side into a promp

[2022-02-06 18:58] teolemon commented on #1078
Actually @monsieurtanuki, it seems that it's uneven:
![image](https://user-images.githubusercontent.com/1689815/152696943-1bf48c6a-11fb-41b0-9ed1-c31823e0b133.png)

[2022-02-06 19:00] teolemon commented on #1078
It seems like a new file: https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/ios/Podfile.lock

[2022-02-06 19:10] M123-dev commented on #1042
@teolemon reverted? Do you mean trying a play store release

[2022-02-06 19:13] teolemon commented on #1041
After deleting the podfile.lock,  release/0.0.2 is now at:
/Users/runner/.pub-cache/hosted/pub.dartlang.org/camera-0.9.4+10/ios/Classes/FLTCam.m:339:13: warning: 'OSAtomicCompareAndSwapPtrBarrier' is deprecated: first deprecated in iOS 10.0 - Use atomic_compare_exchange_strong() from <stdatomic.h> instead [-Wdeprecated-declarations]
        while (!OSAtomicCompareAndSwapPtrBarrier(old, newBuffer,

[2022-02-06 19:14] teolemon commented on #1042
Yes, in release/0.02, hotediting to try to get the release to succeed

[2022-02-06 20:11] M123-dev commented on #1042
@teolemon you can probably just change `flutter.compileSdkVersion` to 31

[2022-02-06 22:48] teolemon opened #1082 "arguments don't match. const ColorScheme.light from release/0.0.2"
This will generate a JSON format file containing all messages that
need to be translated.
lib/themes/smooth_theme.dart:112:9: Error: No named parameter with the name 'primaryContainer'.
        primaryContainer: materialColor[900],
        ^^^^^^^^^^^^^^^^
/opt/hostedtoolcache/flutter/packages/flutter/lib/src/material/color_scheme.dart:50:9: Context: Found this candidate, but the arguments don't m

[2022-02-07 06:03] M123-dev commented on #1082
Then we don't use the latest flutter version there, can you provide the full workflow

[2022-02-07 07:54] teolemon commented on #1082
ok, yes, I reverted back: https://github.com/openfoodfacts/smooth-app/blob/release/0.0.2/.github/workflows/android-release.yml

[2022-02-07 07:56] teolemon commented on #1082
I just reintroduced your changes, but the build had stopped working exactly at that commit.

[2022-02-07 14:31] stephanegigandet commented on #1060
I think it would make sense to go back to a very small list of defaults (2 to 4 max). All the things like vegan, vegetarian, palm oil, fat/salt/sugar etc. can be opt-in instead of opt-out.

The Nutri-Score and the Eco-Score are good "summaries": the Nutri-Score encompass the fat/salt/sugar/energy etc. levels, while the Eco-Score encompass organic labels etc.

[2022-02-07 17:33] M123-dev commented on #1082
So I just checked what you did in release/0.0.2 and it looks like it should work the only thing is that it still uses a old flutter version from cache

[2022-02-07 17:34] M123-dev commented on #1082
Forcing a new cache...

[2022-02-07 17:38] M123-dev commented on #1072
Post submit working again, further discussion in #1042

[2022-02-07 17:38] #1072 closed, assigned to nobody

[2022-02-07 17:39] M123-dev commented on #1078
Seems like it's related to #1041 lets not discuss the same thing in multiple issues at once

[2022-02-07 17:39] #1078 closed, assigned to nobody

[2022-02-07 17:39] M123-dev commented on #1082
Hopefully fixed by #1083 and closing in favour of #1042

[2022-02-07 17:39] #1082 closed, assigned to nobody

[2022-02-07 17:42] M123-dev commented on #1042
@teolemon just merged #1083 to main, you can trigger a new release then we can check it it fixes the error

[2022-02-07 17:57] teolemon commented on #1042
done, but no cigar

[2022-02-07 20:19] M123-dev opened #1087 "Android instant crash"
Appeared first in Flutter 2.10, former discussion #1042

[2022-02-07 20:19] M123-dev commented on #1042
Fixed by #1083, #1076, #1086

Following with #1087

[2022-02-07 20:19] #1042 closed, assigned to nobody

[2022-02-08 13:26] teolemon commented on #1087
- [ ] https://github.com/openfoodfacts/smooth-app/blob/32be6b12a43c2862a1693ab28638798309b6a572/packages/smooth_app/android/app/src/main/AndroidManifest.xml#L39
- [ ] https://github.com/openfoodfacts/smooth-app/blob/40c8efb1340c4a9d130444640de7da6bbceb73f5/packages/smooth_app/android/app/src/main/kotlin/org/openfoodfacts/smooth_app/MainActivity.kt#L5

[2022-02-08 19:27] M123-dev commented on #1087
Fixed by #1088

[2022-02-08 19:27] #1087 closed, assigned to M123-dev

[2022-02-08 19:28] M123-dev commented on #1041
Lots of testing on release/0.0.2

[2022-02-09 08:55] stephanegigandet opened #1092 ""Delete" and "Compare 2 products" buttons shown but there are no products to compare"
This is with version 0.0.2+187. I have 2 buttons on top of the screen to delete and compare 2 products, but I have already clicked on "Delete", and there are in fact no products to compare when I click on the compare button.

![image](https://user-images.githubusercontent.com/8158668/153160087-b74e120a-cd46-4384-9ee5-552a886679c5.png)

![image](https://user-images.githubusercontent.com/8158668/153

[2022-02-09 08:58] stephanegigandet opened #1093 "Unable to load a product after scanning: unending loading animation"
This is with version 0.0.2+187.

Scanning a new product shows a card with the barcode and the loading animation, but it never ends.

![image](https://user-images.githubusercontent.com/8158668/153160683-df038c07-702b-4068-86c7-4886c2881f50.png)

[2022-02-09 09:04] stephanegigandet opened #1094 "Use image icons assets instead of Unicode character icons that may not be displayed (correctly or at all) on some phones"
On my Samsung Galaxy GS8 I do not see some of the icons. It's probably best to always use images, so that we know for sure how icons will look on all devices.

![image](https://user-images.githubusercontent.com/8158668/153161670-316cebd7-e29a-4ac4-9d95-382d0371f395.png)

[2022-02-09 09:10] teolemon commented on #1041
I added back the PodFile from before, bumped the min ios version, and I'm back to what potentially is this problem:
https://stackoverflow.com/questions/54704207/the-ios-simulator-deployment-targets-is-set-to-7-0-but-the-range-of-supported-d

[2022-02-09 16:02] M123-dev commented on #1092
Can reproduce

[2022-02-09 16:04] M123-dev commented on #1093
Can reproduce too

Works on cached products but infinite loading for new ones

[2022-02-09 18:53] M123-dev opened #1099 "Safearea"
When we removed the broken old picture editing we also removed all android style restrictions and so we now need to put everything inside a SafeArea.

Also we can probably play around with dynamically changing the status bar visibility and color.

![Screenshot_20220209-195139.jpg](https://user-images.githubusercontent.com/39344769/153269912-8ee7e7b0-eefb-4ace-84fd-dada382f996a.jpg)

[2022-02-09 18:57] M123-dev opened #1100 "Add a button to close the questions when done"
We need a button to close the questions when done

![Screenshot_20220209-195630.jpg](https://user-images.githubusercontent.com/39344769/153270629-1453052b-a900-4485-92ca-6c1fd1990339.jpg)

[2022-02-09 18:58] M123-dev opened #1101 "Answer questions badge"
When answering questions and finishing these we should hide the "answer questions?" badge, it stays if the questions are still open which they probably stay when just one answered, so we would check this locally

[2022-02-09 18:59] monsieurtanuki commented on #1099
We could make things simpler, for a change. Just use a `SafeArea`, et voilà!

[2022-02-09 20:09] M123-dev opened #1102 "Wrong expanded knowledge panel language"
Eco-Score expanded panel is in English even though all others are in German

![Screenshot_20220209-210721.jpg](https://user-images.githubusercontent.com/39344769/153281801-c3714926-129e-46b5-a6e6-b3d58c1f8866.jpg)

https://world.openfoodfacts.org/product/4001518114698/prinzenrolle-cremys

cc: @stephanegigandet @jasmeet0817

[2022-02-09 21:28] M123-dev opened #1103 "Scrolling through the history tab feels slow"

[2022-02-09 21:30] teolemon commented on #1102
It's a server side issue
https://world-de.openfoodfacts.org/product/4001518114698/prinzenrolle-cremys

[2022-02-09 21:52] M123-dev commented on #1041
Fixed by #1097

[2022-02-09 21:52] #1041 closed, assigned to M123-dev

[2022-02-10 07:21] monsieurtanuki commented on #1080
Could also be triggered on the product page itself (maybe it's already possible?)
Use case: in a supermarket, I scan a product - bad luck, many attributes are unknown, but I have currently other things to do than answering questions, I'll do that later in my spare time, when I go back to the product page.

[2022-02-10 08:49] #1094 closed, assigned to monsieurtanuki

[2022-02-10 08:59] monsieurtanuki commented on #1103
Several remarks:
1. we get ALL the products at once in `DaoProductList.get` - should we page?
2. we use a list builder in `ProductListPage` with the full list - that should be good, or should we async'ly load each item when needed, with an empty product card in the meanwhile?
3. what would happen if the product card display was easier and faster - @M123-dev could you please test with a grey rectan

[2022-02-10 09:59] M123-dev commented on #1103
I think the problem lays in the expensive widgets since the same applies for searches with many results

[2022-02-10 15:34] monsieurtanuki commented on #1103
@M123-dev The searches are lists too: please test with a grey rectangle and see if it's faster.

[2022-02-10 15:44] danagbemava commented on #891
I would like to work on this

[2022-02-10 16:11] M123-dev commented on #891
Sounds good @danagbemava, if you need hints for the project structure or something like that just ask

[2022-02-10 16:25] danagbemava commented on #891
Thanks @M123-dev, will do

[2022-02-10 17:57] monsieurtanuki commented on #1060
@jasmeet0817 Actually you cheated: you never returned "unknown" as a matching result, if I refer to https://github.com/openfoodfacts/smooth-app/blame/53849dbf110c7bb7f3fb2b07d627452ff1902ade/packages/smooth_app/lib/helpers/product_compatibility_helper.dart
The only possible results were "incompatible", and a gradient of compatibility level. "unknown" did exist, but was never returned.

For instanc

[2022-02-10 18:16] monsieurtanuki commented on #1060
Please don't ask me why I had no problem sending a PR this morning and could not this afternoon :(

[2022-02-10 20:52] danagbemava commented on #891
Hi @M123-dev, I'm not familiar with `Crowdin`. After adding the new string in `app_en.rb`, how do I update the translations with `Crowdin`?

[2022-02-10 20:59] teolemon commented on #891
Crowdin will do that automatically from the original English file. You don't have to do anything.

[2022-02-11 15:37] teolemon commented on #1092
- Related: https://github.com/openfoodfacts/smooth-app/issues/23

[2022-02-11 16:47] stephanegigandet opened #1106 "Summary card fails to load when the product does not have a category (Bad state: No element)"
This happens when I scan my test tissue box: https://world.openfoodfacts.org/product/3257983120325/test-4
which has no category.

![image](https://user-images.githubusercontent.com/8158668/153632880-585d8364-6aab-494d-b4b0-0d19577df48a.png)

[2022-02-11 17:14] M123-dev opened #1109 "CameraPreview not updating on first start"
### Additional context
v 0.0.2+190

[2022-02-11 17:46] M123-dev commented on #1004
PR incoming, but should this also apply to the SearchCard

[2022-02-11 17:49] M123-dev opened #1111 "Dev mode: Add testing button which quickly adds multiple products to the scan carousel"
### What
Dev mode: this is just for testing purposes to add products to the scanner carousel, because it's hard to scan products on a emulator

### Part of
 - Devops

[2022-02-11 17:50] M123-dev opened #1112 "Camera change focus point into the ScanArea overlay"
### What
- Camera change focus point into the ScanArea overlay
### Part of
- #526

[2022-02-11 18:01] #483 closed, assigned to nobody

[2022-02-11 18:02] M123-dev commented on #483
We don't dispose the qr_code_scanner anymore, just pause. In addition it's not our main scanner anymore.

[2022-02-11 18:06] M123-dev opened #1114 "Add a hero animation to the product summary card"
### What
- Why not provide a small [hero ](https://www.youtube.com/watch?v=Be9UH1kXFDw)animation for the summery card

### Part of
- #499

[2022-02-11 18:29] justinmc commented on #483
Good news, thanks!

[2022-02-11 19:09] M123-dev opened #1115 "Null error when adding a photo and then going back without taking one"
### What
- Null error when adding a photo and then going  back without taking one
### Part of
- #513

[2022-02-11 19:21] teolemon opened #1116 "When going into Personal comparison, automatically view the "Good tab""
### What
- When going into Personal comparison, automatically view the "Good tab". That's the one I expect to see as a user

### Part of
- #396

[2022-02-11 19:27] teolemon opened #1117 "Always auto-activate Personal Search"
### What
- Some people (@alexgarel not to shame him) do not discover the personal search ranking button.
- Always auto-activate Personal Search by default. The unranked view is still available from the "All" section in the ranked view

### Part of
- #396

[2022-02-11 19:29] teolemon opened #1118 "Tapping on "Unknown product match" should open a road to get the match"
### Who for
- Users who get "Unknown product match" on a product, despite no clear missing data

### What
- Tapping on "Unknown product match" should open
  -  a screen with an explanation of what's missing to get a match and the required editing sections required to get the match "Good match" or "Bad match"

### Part of
- #379

[2022-02-11 19:33] teolemon opened #1119 "Make text in the product page selectable/copy-pasteable"
### What
- Make text in the product page selectable/copy-pasteable

### Why
- Some people might want to copy-paste it

### Part of
- #395

[2022-02-11 19:35] teolemon commented on #1060
- #1118

[2022-02-11 19:52] teolemon opened #1120 "When pressing a table, there's a weird box artefact"
### What
- When pressing a table, there's a weird box artefact

### Part of
- #395

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/153659946-aa70fdfa-e046-47a6-9d9f-c6f89eef5c6f.png)

[2022-02-11 22:46] M123-dev commented on #1060
@monsieurtanuki interesting and that right after the project was on ice for a few days anyway. I mean we can see that you referenced this issue in the commits, if you wan't I can try if I am able to open a PR with your fork as head repository

[2022-02-11 22:54] M123-dev commented on #501
@teolemon what is P0 the consent UI of course but also tracking?

Tracking is definitely nice to have, what would be the core features you would like to track

[2022-02-11 22:58] teolemon commented on #501
Tentatively: scan volume, product page opening volume, knowledge panel opening volume, search volume, personal search volume