[2022-06-15 07:15] stephanegigandet commented on #2245
It actually does, if there is a vegan or vegetarian label, then it is used for the vegan / vegetarian attributes and knowledge panels.

[2022-06-15 07:17] stephanegigandet commented on #2245
One thing we could do is to add default labels for some product categories. So if a product is in the breakfast cereals category for instance, we could consider that all unknown ingredients are most probably vegetarian (and in the panels we would still list them).

[2022-06-15 07:34] monsieurtanuki commented on #2245
Not sure if it would be fair to make those assumptions - unless you add a value "probably vegetarian".
For instance yesterday I had a wonderful dessert ("mousse amande sur lit de praliné"), that actually contained "gélatine de bœuf" - which could arguably be considered as NOT vegetarian.

I really think that making it easy to "fix/add" an ingredient is good:
* frustrating experience to see that OF

[2022-06-15 08:25] AshAman999 commented on #2280
| barcode | category |
| -- | -- |
| 3017620422003 | chocolate |
| 3017620422003 | breakfast |
| 7622210449283 | snacks |
| 5449000131805 | soft drink |
| 5449000131805 | Beverages |

I am also not an expert on relational DB too so I guess what you suggested is more concise

Sounds good to me

About it being a priority over other tasks, I had to get the first half of the task before mid-July so th

[2022-06-15 08:26] stephanegigandet commented on #2245
Making it easy is actually quite difficult though. But we can at least make it easy to report is to us, with a link to the help us page as you suggest.

[2022-06-15 08:47] M123-dev commented on #2280
Just fyk @monsieurtanuki , @AshAman999 got selected for Google summer of code for offline mode. So we have some outside constraints and this is one of the fundamentals to get this working. Not a P0 but would still call it a P1 or P2 of course these are just relative priorities, its just not unimportant.

[2022-06-15 08:47] monsieurtanuki commented on #2280
Well, I am an expert on relational DB, and that's the correct way to code [many to many relationships](https://en.wikipedia.org/wiki/Associative_entity).

Perfect.

I think we'll only scratch the surface of relation databases, but that's a start.
In general keep in mind that for relational databases, the added value is the database structure and the table relationships. Very powerful and good perf

[2022-06-15 08:49] stephanegigandet commented on #2245
I will add a panel server side to display information on how to help improve the ingredient analysis.

Corresponding bug server side: https://github.com/openfoodfacts/openfoodfacts-server/issues/6904

[2022-06-15 09:51] cli1005 commented on #2246
As discussed in PR,  a little snackbar with error message of 2 seconds will appear in case of timeout of 5 seconds:

![Image](https://user-images.githubusercontent.com/87010739/174053758-be6f94df-fed1-4da5-941e-65731e29b4c5.png)

Please let me know if it is not OK for you

[2022-06-15 11:34] M123-dev commented on #2246
Do we know why it times out so often. It can reproduce it I'd say any time

[2022-06-15 11:43] #1656 closed, assigned to monsieurtanuki, bhattabhi013

[2022-06-15 12:12] M123-dev opened #2284 "Allow to send pictures from storage"
Allow to send pictures from storage (gallery)

[2022-06-15 12:13] M123-dev opened #2285 "Allow to share products"
This specific user used the share feature to open the product in firefox

[2022-06-15 12:28] monsieurtanuki commented on #2280
Working on it. (for the record, I find inspiration in https://github.com/openfoodfacts/smooth-app/tree/c60fb7fa8888dff276a0ed312d5a56e922b9dd96/packages/smooth_app)

@g123k You use a personal version of `sqflite` in your migration package.
Now that we need `sqflite` anyway for both Android and iOS, is that OK if I change your dependence to the "normal" `sqflite`? (I guess there are no impact, I'm

[2022-06-15 12:36] monsieurtanuki commented on #2248
@cli1005 Indeed. We should probably add something like `app_system` (e.g. 'android 12').
Beyond that, a more generic optional `comment` would make sense (e.g. `scan`). Or specific to barcode search, a `source` parameter (e.g. `scan`/`search`).
Don't know which would be the best solution as I don't see the full picture, but a generic `dev_comment` would be versatile.

[2022-06-15 13:28] VaiTon commented on #1898
@g123k should this be closed after the lastest camera update?

[2022-06-15 14:04] M123-dev commented on #1898
Works like charm (at least on my device)

[2022-06-15 14:04] #1898 closed, assigned to g123k

[2022-06-15 15:11] g123k commented on #2280
Yes I think you can

[2022-06-15 15:58] stephanegigandet commented on #2245
@monsieurtanuki I have a PR for the server side here: https://github.com/openfoodfacts/openfoodfacts-server/pull/6905

With screenshots on what it looks like on the app (it's deployed on world.openfoodfacts.dev ).

In order to get the same display on the app, we would need to add support for 2 features:

1. a new "type": "callout_info", for the text element. This is to display the corresponding HT

[2022-06-15 16:05] #2285 closed, assigned to M123-dev

[2022-06-15 16:07] stephanegigandet commented on #2279
Thanks for the report. That's because we migrated our blog, I will change the image to put a new one.

[2022-06-15 16:09] cli1005 commented on #2246
No, I have not reproduced the issue locally, just testing locally with a Future.delayed to simulate the situation

[2022-06-15 16:14] AshAman999 commented on #2284
@M123-dev
I hope we are talking about the the images for product
Is the UI something like this gonna work?

https://user-images.githubusercontent.com/57723319/173873515-a73fb4e9-dbba-4e92-b3c7-0470ab20a582.mp4

or maybe

![image](https://user-images.githubusercontent.com/57723319/173875389-32d4236d-0b47-4e83-8ba1-f0951818b7c8.png)

[2022-06-15 16:31] M123-dev commented on #2284
The padding on the second one looks a bit big, but I have no real preference here. Both look good! ANd yes we are talking about the same feature 🥇

[2022-06-15 18:53] monsieurtanuki commented on #2245
Ok @stephanegigandet, as soon as your PR is merged we can start to code in smoothie in order to use the added data.

[2022-06-16 05:09] #2280 closed, assigned to monsieurtanuki

[2022-06-16 05:46] teolemon opened #2291 "Encoding issue in Ukrainian"
### What

- [ ] Encoding issue in Ukrainian

![image](https://user-images.githubusercontent.com/1689815/174000075-346001de-3ef1-4c09-8d15-781adce9e21d.png)

[2022-06-16 07:07] monsieurtanuki commented on #2291
I suspect those guys: https://en.wikipedia.org/wiki/Yi_(Cyrillic) and https://en.wikipedia.org/wiki/Dotted_I_(Cyrillic)
I've checked on my ios emulator: that is correctly displayed, though.

What can we do?
* check on your device if the problem is actually with Yi and dotted I
* should we "correct" the translated text - in this case the substitution would be easy as "Yi" looks very similar to more

[2022-06-16 09:06] g123k commented on #2271
@stephanegigandet Any clue on this one?

[2022-06-16 11:12] AshAman999 opened #2294 "Design a menu in the settings to let user delete the scan history saved in db"
### What
- Make a menu in the settings menu to let users maybe delete all the cached items in one go,
- We could keep it in the dev mode for now for till the working model is done completely
### Part of
- #18

[2022-06-16 12:33] monsieurtanuki commented on #2245
@stephanegigandet I've just had a look at https://world.openfoodfacts.dev/api/v2/product/5010477348630/ which does not know all ingredients (cf. https://fr.openfoodfacts.dev/produit/5010477348630/muesli-bio-jordans), but I cannot see your `callout_info`.

[2022-06-16 15:17] stephanegigandet commented on #2271
We don't have an API for that yet.

Where would this link be displayed? On the home screen? Hidden in the parameters? Or on a product page if it's the product of the producer?

[2022-06-16 15:19] stephanegigandet commented on #2245
Hi @monsieurtanuki , the callout is in the knowledge panels, they have to be requested specifically: https://world.openfoodfacts.dev/api/v2/product/5010477348630?fields=knowledge_panels

[2022-06-16 15:32] g123k opened #2295 "Feature request: Filter the products based on specific ingredients"
### What
- A recent review of the app:  `Ça serait bien de pouvoir renseigner son poids car nous ne pesons pas tous 70kg! Aussi retirer des ingrédients spécifiques comme le faisait Kwalito serait un autre plus!`
- Which can be translated: `…Remove some ingredients will be a nice feature (just as the Kwalito app)`.
- I don't know if this is a helpful feature…
### Part of
- #Personal search
- #Produ

[2022-06-16 15:32] monsieurtanuki commented on #2245
Thank you @stephanegigandet!

A little problem: in off-dart we expect an optional field called `text_type`, not just `type`:
[code]

And in "your" json it's `type`:
[code]

Actually we don't use the `type` field for the moment in Smoothie: the impact there would be limited if we had to rename `text_type` as `type`, but maybe it's not the same for the other apps that already use off-dart.

[2022-06-16 15:36] monsieurtanuki commented on #2295
* What's the story about the body weight? Do we currently use it in Smoothie, like for nutritional recommendations?
* I don't understand the use case with "ingredients removal".

[2022-06-16 16:06] g123k opened #2296 "Data migration (from V1 - Android/iOS): remove database once the process is successful"
In the data migration process, once the migration is successful, we keep data on the device.
Following good results of the migration, we can now remove data (SQLite database on Android and Realm on iOS).

It will also ease the implementation of the offline features from @AshAman999

[2022-06-16 16:08] g123k commented on #2295
- For the weight thing, I don't think it's relevant

- For some products, the list of ingredients may be really long.
And this user wants to hide some of them (because he/she find them meaningless).

[2022-06-16 16:16] monsieurtanuki commented on #2295
Maybe just the first ingredients, with a "more..." button?

[2022-06-16 16:18] M123-dev commented on #2252
Probably fixed by my latest matomo pr. Needs to be checked the next few days as we can't filter the results by app version

[2022-06-16 16:27] sentry[bot] opened #2298 "AssertionError: The cameraBoundaries should be set (using `ExposurePointFeature.setCameraBoundaries(Size)`) befor..."
Sentry Issue: [SMOOTHIE-XX](https://sentry.io/organizations/openfoodfacts/issues/3347745044/?referrer=github_integration)

[code]

[2022-06-16 16:27] M123-dev commented on #2298
cc @g123k

[2022-06-16 16:28] sentry[bot] opened #2299 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-VJ](https://sentry.io/organizations/openfoodfacts/issues/3284169204/?referrer=github_integration)

[code]

[2022-06-16 16:29] sentry[bot] opened #2300 "CameraException: CameraException(setExposurePointFailed, Could not set exposure point.)"
Sentry Issue: [SMOOTHIE-X0](https://sentry.io/organizations/openfoodfacts/issues/3338903922/?referrer=github_integration)

[code]

[2022-06-16 16:29] M123-dev commented on #2300
cc: @g123k

[2022-06-16 16:29] sentry[bot] opened #2301 "AssertionError: The cameraBoundaries should be set (using `ExposurePointFeature.setCameraBoundaries(Size)`) befor..."
Sentry Issue: [SMOOTHIE-YG](https://sentry.io/organizations/openfoodfacts/issues/3349305762/?referrer=github_integration)

[code]

[2022-06-16 16:29] M123-dev commented on #2301
cc @g123k

[2022-06-16 16:29] sentry[bot] opened #2302 "CameraException: CameraException(error, Attempt to invoke virtual method 'void android.os.Handler.removeCallbacks(..."
Sentry Issue: [SMOOTHIE-XA](https://sentry.io/organizations/openfoodfacts/issues/3339555924/?referrer=github_integration)

[code]

[2022-06-16 16:30] M123-dev commented on #2302
cc  @g123k

Sorry for all the pinging, pinged in the first then reviewed the other issues now it would be strange if I just stop

[2022-06-16 16:41] monsieurtanuki commented on #2299
Looks like someone refreshed a query list (searching for "Nutella") just after it was displayed for the first time.

To reproduce (probably):
* search something (e.g. "Nutella")
* you see the results (tons of Nutella)
* you pull the screen immediately to refresh the results
* now you're supposed to crash the app

If so, a solution would be the following change in `query_product_list_supplier.dart`

[2022-06-17 10:12] teolemon opened #2305 "Impossible to unfold last sections of settings within onboarding"
### What
- Impossible to unfold last sections of settings within onboarding
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/174278166-620b986c-5184-491f-a028-ce0a5f39d098.png)

[2022-06-17 10:46] #2299 closed, assigned to monsieurtanuki

[2022-06-17 13:31] monsieurtanuki commented on #2172
Additional thought: that's a bit weird to have a different "go to ranking page" behavior between product list pages (like "History") and query product list page (like "nutella"). Shouldn't we use the same mechanism, and in both cases use:
* a "go to the top" button?
* the same icon and label?
* the same cherry picking checkbox system?

[2022-06-18 07:49] #2246 closed, assigned to cli1005

[2022-06-18 08:06] M123-dev commented on #2278
Think we can close this then

[2022-06-18 08:06] #2278 closed, assigned to nobody

[2022-06-18 09:04] g123k commented on #2252
This is because we use nameless pages.
Will be fixed once I implement the Navigator 2

[2022-06-18 09:48] teolemon opened #2308 "Random feedback from testing"
### What
- I did test the app during the Vivatech stand preparation. WARNING: Many of those issues are already fixed/or fix pending
- [ ] the infinite loading
- [ ] crash of the app after onboarding (and fine after)
- [ ] one dark screen on my own device (Pixel 6)
- [ ] Slightly weird permission flow on ios that confused the user

[2022-06-18 11:41] g123k commented on #2308
- crash of the app after onboarding (and fine after)
-  Slightly weird permission flow on ios that confused the user

It should be fixed via #2292

-  the infinite loading

Could you test again, now that #2282 is merged?

-  one dark screen on my own device (Pixel 6)

As usual, I think you don't have much more explanation :(

[2022-06-18 11:51] teolemon opened #2309 "High error rate on the iPhone"
### What
- High error rate on the iPhone

### Screenshots
![image](https://user-images.githubusercontent.com/1689815/174436182-e0e90f96-77c1-4ed3-9d4d-48acc7fd6bf5.png)
![image](https://user-images.githubusercontent.com/1689815/174436184-15d07cc3-cc01-4de6-b07a-c0001b396eb6.png)

[2022-06-18 13:11] teolemon commented on #502
That was indeed epic

[2022-06-18 13:11] #502 closed, assigned to teolemon

[2022-06-18 13:11] teolemon opened #2311 "Add a Recently Changed Products screen (for power users Android feature parity, increases usage in user's idle time)"
### What
- Add a `Recently Changed Products` screen (for power users Android feature parity, increases usage in user's idle time)
- These are the latest non complete products in real time (nocache=true)
- It used to be called: "Products to be completed". It offered ideas on how to spend idle time (You'd click on the grey scores, and answer the Robotoff prediction)

![image](https://user-images.git

[2022-06-18 13:27] teolemon opened #2375 "Example product is not loaded"
### What
- Cache the example product API response
- Currently, it fails 90% of the time
### Why
- Avoid degrading the Smoothie onboarding XP

### Part of
- #561

[2022-06-18 13:32] teolemon opened #3063 "Consider adding a power edit option"
### What
- Consider adding a power edit option
### Why
- One power user doesn't like the fragmentation of fields within sections which is time consuming to review, and then edit

[2022-06-18 14:15] monsieurtanuki commented on #2311
* Recently changed by whom? The end-user? The community?
* Products the end-user already knows?

[2022-06-18 17:26] monsieurtanuki commented on #2153
Fixed in https://github.com/openfoodfacts/smooth-app/commit/b46bbd149458dd172033499e3dc6367d9c7951ca

[2022-06-18 17:26] #2153 closed, assigned to nobody

[2022-06-18 17:46] monsieurtanuki commented on #1651
In addition to just refreshing all the products, we have to refresh the product lists that are currently opened - which keep a local copy of the products in memory. Through a provider notify I guess.

[2022-06-19 06:02] monsieurtanuki commented on #1372
We're not displaying that screen that way anymore.

[2022-06-19 06:02] #1372 closed, assigned to nobody

[2022-06-19 07:28] g123k opened #2314 "device_preview still relevant?"
Hi everyone,

I have to admit, I'm not really a fan of `device_preview`, even if I totally understand its benefits.
Now that the design of the app seems to mainly be finalized, is it still relevant to use it?

[2022-06-19 07:29] M123-dev commented on #2309
Probably because of #2256

[2022-06-19 07:47] teolemon commented on #2311
I've added precisions, and a screenshot of V1. It used to be called: "Products to be completed". It offered ideas on how to spend idle time (You'd click on the grey scores, and answer the Robotoff prediction)

[2022-06-19 07:50] teolemon opened #2315 "Show the Products Edited by the user"
### What
- In V1, we used to have links to Products Edited / Photographed / Added by the user
- Bring those link back in the profile page
- V1 bug (and linked PR): https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/194

### Mockup
<img width="363" alt="image" src="https://user-images.githubusercontent.com/1689815/174472186-319b4b84-81e7-4334-9576-dca4937cb5f9.png">

[2022-06-19 08:50] monsieurtanuki commented on #2314
When I code I set `device_preview` to `false` in `main.dart`.
I guess it's still useful is some cases, and I think we'll still have to (re)design (new) pages.
My main concern is about the size of the app: "is that package included in the release version?"

[2022-06-19 09:17] monsieurtanuki commented on #2311
I understand better. I prefer "Products to be completed", more explicit.

Where would this screen appear? From the standard "Lists" page in settings, where that would be a meta-list?
I think we're a bit stuck with the current 3 tab bottom-bar.

To get the list from the server we need something like [that](https://world.openfoodfacts.org/cgi/search.pl?nocache=1&json=1&lc=fr&cc=FR&fields=code,produc

[2022-06-19 09:29] #1706 closed, assigned to M123-dev

[2022-06-19 09:31] #2305 closed, assigned to monsieurtanuki

[2022-06-19 09:34] #2296 closed, assigned to g123k

[2022-06-19 09:53] M123-dev commented on #2309
https://github.com/openfoodfacts/smooth-app/issues/2256 is merged, we have to have a eye on that

[2022-06-19 09:55] M123-dev commented on #2315
@teolemon links or pages on the app

[2022-06-19 09:56] M123-dev commented on #2314
Its in the normal dependencies, so probably, I'm not sure if it gets removed by the compiler, the best would be if we could move it to the dev dependencies. Otherwise I'd say we are okay to remove

[2022-06-19 10:07] teolemon commented on #2315
Native pages of products in the app, so that people can go back to those products, and work on them

[2022-06-19 10:26] #2239 closed, assigned to monsieurtanuki

[2022-06-19 10:46] #2244 closed, assigned to monsieurtanuki

[2022-06-19 10:49] g123k opened #2316 "Don't ask for the camera permission if there is no camera"
As tested on a gaming handheld (Ayn Odin Pro in my case), which doesn't have any camera, we shouldn't ask for the camera permission in that case.

[2022-06-19 10:52] g123k commented on #2314
Yes, it has an impact on release builds, because even if we don't use it, the code is embedded in the archive.
If we move this dependency to a "dev_dependency", unfortunately our code won't build anymore, as the import won't be found

[2022-06-19 11:34] monsieurtanuki commented on #2314
I still believe `device_preview` has an added value that we shouldn't dismiss.

My suggestion would be something like that (if technically possible):
1. remove `device_preview` from smoothie
2. create a new project named `smoothie_device_preview` with dependencies `device_preview` and `smoothie`
3. that new project just calls device preview on top of smoothie, and now we have a tool to check the l

[2022-06-19 11:40] #2284 closed, assigned to AshAman999

[2022-06-19 11:41] g123k commented on #2314
Really nice suggestion @monsieurtanuki and easy to implement.
I will work on this 👍

[2022-06-19 11:44] teolemon opened #2318 "User-reported issues in bulk"
### What
- Those are anonymized feedback [from the feedback form](https://docs.google.com/spreadsheets/d/1KsJv8_RxfDDd5ngmeQ4k8ELsudl-YhleXEoDFoGoSAE/edit#gid=465348732) (and the app store). We have the possibility to contact users affected if necessary.

### Part of
- #2613
### Items of feedback
- [x] When trying to add a new image of a product, the app closes (while loading the photo).
- [x] Can

[2022-06-19 11:46] teolemon commented on #2315
- Also related to https://github.com/openfoodfacts/smooth-app/issues/1074 and the user complaining he lost his pasttime in #2318

[2022-06-19 11:55] M123-dev opened #2319 "Beep does not seem to work on Samsung A40 even after restarting the app"

[2022-06-19 11:58] #2279 closed, assigned to stephanegigandet

[2022-06-19 12:05] g123k commented on #2319
Are you sure your device isn't in silent mode and/or do not disturb mode is off?

[2022-06-19 12:19] teolemon commented on #2319
got it on the demo phone as well as my own phone

[2022-06-19 13:06] M123-dev commented on #2319
Maybe started after updating to the new major version of the package
https://github.com/openfoodfacts/smooth-app/commit/67045d6fc13af100f83d6543a439df79b06947db

[2022-06-19 16:04] g123k commented on #2300
Seems to be a duplicate of #2298.
Closing this one

[2022-06-19 16:41] g123k opened #2324 "Android: allow the app to be installed on external storage"
Feedback from #2318

[2022-06-19 17:25] g123k opened #2326 "In the "My profile" menu, the titles are way too big!"
Feedback from #2318
### Part of
- #960

[2022-06-19 17:26] g123k commented on #2326
Here are some slight modifications, that should improve the layout:
- Force subtitles for all items
- Force a min height on each item
- Force the scrollbar
- Smaller font
- Subtitle with a grey color

Please don't hesitate to comment!
![Screenshot_1655659485](https://user-images.githubusercontent.com/246838/174493134-d62f3c0e-1bc9-4ca4-aa66-95c52c668a62.png)

[2022-06-19 17:33] monsieurtanuki commented on #2326
I would say just use a smaller font for the titles.
Let's not overthink what the users did not complain about.

[2022-06-19 17:35] g123k commented on #2301
Also a duplicate of #2298

[2022-06-19 17:35] #2301 closed, assigned to g123k

[2022-06-19 17:50] g123k commented on #2302
Fixed on the native side

[2022-06-19 17:50] #2302 closed, assigned to g123k

[2022-06-19 17:51] g123k commented on #2298
Fixed on the native side

[2022-06-19 17:51] #2298 closed, assigned to g123k

[2022-06-19 17:58] g123k commented on #2256
Since #2292 is merged, this one should be OK.
Please reopen if needed

[2022-06-19 18:00] #2324 closed, assigned to g123k

[2022-06-19 19:34] g123k commented on #2179
The initial issue mentioned here is fixed.
Please reopen a new one **with details** if it happens again

[2022-06-19 19:34] #2179 closed, assigned to g123k

[2022-06-19 19:38] g123k opened #2328 "Add "ecoscore-not-applicable.svg" to cache"
[As I was looking for bugs in Sentry](https://sentry.io/organizations/openfoodfacts/issues/3361818252/?project=5376745&query=is%3Aunresolved), I've noticed this missing file:

`please download https://static.openfoodfacts.org/images/attributes/ecoscore-not-applicable.svg and put it in asset somewhere like [assets/cache/ecoscore-not-applicable.svg, assets/cacheTintable/ecoscore-not-applicable.svg]`

[2022-06-19 19:40] g123k commented on #2309
It seems there is a lot of out of memory on iOS
https://sentry.io/organizations/openfoodfacts/issues/3319940198/events/a9477f5d455645e1af1243f5f3d9f51c/?project=5376745&query=is%3Aunresolved

We should investigate this

[2022-06-20 06:45] teolemon commented on #2326
What happens in the app if we artificially increase font-size using system settings ?

[2022-06-20 06:46] #2319 closed, assigned to g123k

[2022-06-20 06:46] #2316 closed, assigned to g123k

[2022-06-20 07:08] monsieurtanuki commented on #2326
@teolemon I assume you're talking about accessibility, that would deserve its own issues. Including the recent one with "light orange" on white evoked in #2318.

[2022-06-20 07:08] #2328 closed, assigned to monsieurtanuki

[2022-06-20 07:21] monsieurtanuki commented on #2315
cf. #2321

@teolemon Any suggestion?

[2022-06-20 07:24] teolemon commented on #2315
What do you mean ? I'm not quite sure.  You mean Eco-Score and Nutri-Score are not displayed ?

[2022-06-20 07:25] teolemon commented on #2315
http://world.openfoodfacts.org/photographer/teolemon/state/to-be-completed.json?fields=XXX

[2022-06-20 07:39] teolemon opened #2330 "App crashes early at startup"
### What
- App crashes early at startup (latest develop)

[2022-06-20 07:39] g123k opened #2331 "[iOS] Lots of issues with status bar"
### What

- [iOS] Lots of issues with status bar

### A few screenshots:

![3C81BAC8-C127-4D07-92F7-0C92A908EFD1](https://user-images.githubusercontent.com/246838/174549774-c794f6e5-3dcd-4e9a-9b05-7a4ade589bd4.jpeg)
![2B77DD80-509C-4231-A00E-89B13CEAB0B1](https://user-images.githubusercontent.com/246838/174549777-3c364ebd-9308-4b74-93aa-373554dc0120.jpeg)
![9410CAD8-0F27-4313-9129-76C306C075F5](ht

[2022-06-20 07:41] M123-dev commented on #2326
We don't even need a issue @teolemon
![Screenshot_20220620-094007.jpg](https://user-images.githubusercontent.com/39344769/174550140-83384770-32b1-4185-b5d3-ffd0c8d51898.jpg)
![Screenshot_20220620-094021.jpg](https://user-images.githubusercontent.com/39344769/174550156-074d0e48-7467-4e2f-8202-47cecca7d31a.jpg)
![Screenshot_20220620-094010.jpg](https://user-images.githubusercontent.com/39344769/1745

[2022-06-20 07:46] monsieurtanuki commented on #1313
@g123k Still working on it? I've just had a look at `Sentry` reports that all refer to the same spot, and I guess implementing a more refined navigation would be rather helpful.
![Capture d’écran 2022-06-20 à 09 46 09](https://user-images.githubusercontent.com/11576431/174551030-26be6e70-e5ea-47ad-9b13-a7a791765741.png)

[2022-06-20 07:48] g123k commented on #1313
Yes, I will (re)work on it ASAP.
This feature was judged non essential for the initial release, but now it is

[2022-06-20 07:53] monsieurtanuki commented on #2331
@g123k I don't see the problem. Is that that the status bar is invisible? I assumed it was the expected result with
[code]

[2022-06-20 07:54] g123k commented on #2331
Yes white on white.
We have to say if Android, else iOS….

but the product page also have issues on both platforms

[2022-06-20 07:56] monsieurtanuki commented on #2331
What about removing `systemOverlayStyle` and just letting the system decide?
We can fine tune that later if really needed.

[2022-06-20 07:59] g123k commented on #2331
No, no, we have to manage it, because we will have issues on light/dark modes

[2022-06-20 08:05] monsieurtanuki commented on #2331
Then maybe also using `SafeArea` and letting the system do whatever is needed. It's not that we really need those extra pixels on top, is it?

[2022-06-20 08:46] cli1005 commented on #2248
app_platform and comment have been added into UserAgentParameters (https://github.com/openfoodfacts/openfoodfacts-dart/issues/482).
As monsieurtanuki mentioned, we do not call display.pl in OFF API, among all perl called, we do not sent UserAgentParameters for only 4 following PL:
- test.pl
- product_image_upload.pl  (is it normal? why?)
- user.pl
- reset_password.pl

I could add Scan/ Search in p

[2022-06-20 09:14] g123k commented on #2326
For the text scale factor, I'm sorry but if you touch to this, you have my veto.
Changing accessibility things should only be done when necessary.

My proposals were based on my previous experiences:
- [Material settings always have a min height](https://material.io/archive/guidelines/patterns/settings.html) (even when a subtitle isn't visible)
- The font size is way too big on small devices

[2022-06-20 09:46] g123k commented on #2330
Do you have the stack trace @teolemon?
I can't find it on Sentry.

Does it always crash, or is it just a one time issue?

[2022-06-20 09:52] g123k opened #2333 "[Android] Bring back the Quick setting tile"
### What
In the latest version of the native Android app (V1), I had implemented a quick setting (basically of shortcut).
The code is really simple to implement, so would be nice to have it back.

### Part of
- Road to the app
- #2479

![Android-12-Beta-1-notification-shade-toggles-1](https://user-images.githubusercontent.com/246838/159769483-c85aab42-2819-43dc-ae40-ede1a5a9184b.jpg)

https://gith

[2022-06-20 10:41] g123k opened #2334 "If no camera is available, don't initialize the audio manager (beep)"
Everything is in the title ;)

[2022-06-20 10:41] cli1005 commented on #1427
Since Server calls a function normalize_code to verify whether the barcode is valid in the beginning of almost all operations, including searching and uploading.

If the scanned barcode is invalid, the code in FetchedStatus will be empty as follows:
{status: 0, code: , status_verbose: no code or invalid code, product: null}

In this case a little message will show like this to avoid wasting time i

[2022-06-20 11:16] teolemon opened #2337 "Add power edit mode that concatenates all the editable things for faster contribution"
User 1: New viersion of this app is nightmare. It is impossible to use, it has bad ux design, it is slow. Who really get the idea to break down user interface? Luckily I can choose old version on F-Droid.
User 2: However, an advanced mode could be considered, in order to correct and add information on a page with more options. Currently the addition of the origin and country of manufacture is no l

[2022-06-20 11:39] monsieurtanuki commented on #2337
@teolemon If we're lucky both unhappy users would be kind enough to help us make a better app: I hope we can contact them.

[2022-06-20 11:41] teolemon commented on #2337
I'm waiting for more feedback, but I believe they're touching real. I have this experience as a power user too, so I'd be user 3. It's harder to understand what to do on an existing product, clicking on Edit on the old app allowed to have a bird's eye view of all fields.

[2022-06-20 11:44] teolemon commented on #1074
Thank you @monsieurtanuki for solving this one

[2022-06-20 11:49] monsieurtanuki commented on #1074
@teolemon I don't think it's actually solved. I added in the "4 user related queries" something like "products I changed that still need to be completed".
I assumed that on the current issue you wanted to complete products beyond the user's reach, not just the products the user previously did touch.
Which one is it? And if we need an extra "to be completed in general" query, I need the URL.

[2022-06-20 13:06] monsieurtanuki commented on #2337
I think there's nothing that would prevent us from putting all the `SimpleInputPage`s into one if needed (category, labels, store for the moment), possibly with a collapse/expand effect. Would that be good?

[2022-06-20 13:08] monsieurtanuki commented on #2331
cf. #2338 (in that case no need for a `SafeArea` as we use an `AppBar`)

[2022-06-20 13:09] g123k commented on #2331
I'm working on something that allows to also have translucent status bar
That's why it's not only a SafeArea thing

[2022-06-20 13:20] monsieurtanuki commented on #2331
I don't see how you can manage to have a translucent status bar and a readable white text on status bar if the status bar background is white/light.
And I would say that even if it was possible (there's probably something I miss) it's probably not a priority, a quick fix being using SafeArea and removing the status bar recoloring. Fixed in 10 minutes.
Then in a second phase, when we have time, put

[2022-06-20 13:21] teolemon opened #2339 "Allow to expand search results to the world"
### What

- [ ] Allow to expand search results to the world

### Part of
- #991

[2022-06-20 13:41] monsieurtanuki commented on #2339
Where should we allow to expand the search results to the world? (= no country specified I guess)
* at the app level, in preferences?
* just before each search?
* just after each search, like the current "do you want to refresh your data / to load the next page"?

[2022-06-20 13:46] stephanegigandet commented on #2248
Hi @monsieurtanuki, having the app name + platform + source of query (scan, or search, or list) in the UserAgent is very useful server side as we get the UserAgent in the nginx + Apache logs directly, before we interpret GET or POST parameters.

This is used currently to get scan statistics from our app for products: we just parse nginx logs.

[2022-06-20 13:47] stephanegigandet commented on #2248
It's an internal redirect server side, any call to /api/ will be handled by display.pl

[2022-06-20 13:49] stephanegigandet commented on #2248
There is redirection server side done by a nginx reverse proxy. This proxy does not analyze the POST parameters, it just passes them along. But it is very useful for us to be able to identify our app, and scans, in this nginx reverse proxy.

[2022-06-20 13:54] teolemon opened #2340 "Add text below icons"

[2022-06-20 13:56] teolemon commented on #2340
https://github.com/pedromassango/bottom_navy_bar/raw/master/images/navy.gif
https://pub.dev/packages/bottom_navy_bar

[2022-06-20 14:01] monsieurtanuki commented on #2248
@stephanegigandet Ok then. We go a little beyond the normal use of User Agent, fair enough. A little problem is that the User Agent is static: that made sense to use a static field for characteristics that don't change often (e.g. device or app version), that's a bit lousy for something that is supposed to be changed at every request (e.g. 2 requests in parallel and the second request overwrites t

[2022-06-20 14:39] teolemon commented on #2339
Sorry, opened it during triage. Probably on top of search results, have an inline link: Extend this search worldwide.
This is useful in countries where we don't have many products at all

[2022-06-20 14:45] #2173 closed, assigned to g123k

[2022-06-20 14:54] teolemon commented on #2330
2022-06-20 16:53:23.271 27976-27976/? E/odfacts.scanner: Not starting debugger since process cannot load the jdwp agent.
2022-06-20 16:53:23.303 27976-27976/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.openfoodfacts.scanner, PID: 27976
    java.lang.RuntimeException: Unable to instantiate activity ComponentInfo{org.openfoodfacts.scanner/org.openfoodfacts.app.MainActivity}: java.lang.

[2022-06-20 17:09] teolemon commented on #1136
@monsieurtanuki the API should be available on the .net server
This extends the knowledge panels API to add a new "action" element that contains a list of actions such as "add_categories", "add_ingredients_text", "add_nutrition_facts". Clients can then add buttons or links to directly add or edit the corresponding data.

e.g. ingredients panel when we don't have ingredients:

[code]

Nutri-Score p

[2022-06-20 17:11] monsieurtanuki commented on #2339
The first step would be to add a 'country' parameter in the ProductList / search database key.

[2022-06-20 17:17] monsieurtanuki opened #2342 "Solutions to reduce the perceived waiting time to save a contribution"
### Problem
Each time we want to change a value, we see a dialog and we wait.
We wait longer for picture updates: the files are bigger.
That may break the momentum of the end-user.

### Proposed solutions
1. We could run all the server changes as background tasks. It would be smooth and elegant, but perhaps frustrating because the computed fields like score would not be refreshed until all the cha

[2022-06-20 19:26] M123-dev commented on #2340
Do we really wan't this fancy navbar.
Just adding the labels isn't big of a task

[2022-06-20 19:36] #2334 closed, assigned to g123k

[2022-06-20 19:36] #2257 closed, assigned to g123k

[2022-06-20 20:30] monsieurtanuki commented on #2340
I must say it looks nice, though it would need to be tested with larger texts (localizations).

That said, beyond my famous lack of interest for animations, I've noticed that one of our old users complained about the new app speed. I don't know if it was a reference to slow https requests or slow display, but adding packages, widgets and animations may not help improve speed.

Among sentry, matomo

[2022-06-21 04:56] monsieurtanuki commented on #1074
Reopening, then.

[2022-06-21 08:00] monsieurtanuki commented on #2326
Beyond the "too big or not too big" dilemma, our display are incoherent:
| 1 very big | 2 bold | 3 normal |
| ![Capture d’écran 2022-06-21 à 09 57 20](https://user-images.githubusercontent.com/11576431/174747201-893996d8-f26b-43ff-b965-b4af51fb335d.png) | ![Capture d’écran 2022-06-21 à 09 57 41](https://user-images.githubusercontent.com/11576431/174747280-894d2065-ab17-4bff-a6bc-20f10ffbb17f.p

[2022-06-21 09:24] teolemon commented on #2342
- 3. is purely a commodity for some power users, including me. Some will be distressed by the big view, some other by the view in sections.
- I think we should keep save on individual section, and add explicit Save and Cancel button in each section (exiting to save is confusing)
- We should have a superview that could either keep those buttons at the end of each section, or override it for a globa

[2022-06-21 09:26] teolemon commented on #2340
The navbar proposal and lib is @g123k. I copy pasted them myself because we were doing refinement, and I was in charge of opening issues.
Personnaly, I would be just happy with text labels below icons, especially for the scan icon (and the other two, to stay coherent)

[2022-06-21 09:29] cli1005 commented on #2340
I'll just add text labels before finding a better solution.

[2022-06-21 10:23] #2340 closed, assigned to cli1005

[2022-06-21 10:29] teolemon opened #2346 "It's impossible to expand the last section of food preferences in the onboarding"
### What
- It's impossible to expand the last section of food preferences in the onboarding

### Part of
- #506

[2022-06-21 10:51] monsieurtanuki commented on #2346
Says who?
![Capture d’écran 2022-06-21 à 12 49 00](https://user-images.githubusercontent.com/11576431/174782272-44e2f572-04c6-4a3e-b25d-f0a38b0ed17e.png)
Probably fixed by #2306.

[2022-06-21 10:53] teolemon commented on #2346
Ok, got a report from production, and had noticed it myself. thanks @monsieurtanuki

[2022-06-21 11:14] monsieurtanuki commented on #2342
@teolemon Thank you for your comments.

Of course we'll need to batch the changes if there's no network. The alternate solution is to forbid the offline changes. Perhaps we could compute the score inside smoothie, as an "approximated score"?

Regarding UI, what about this?
![Capture d’écran 2022-06-21 à 13 13 43](https://user-images.githubusercontent.com/11576431/174786492-ddde59e5-9770-4afd-8b3

[2022-06-21 13:58] teolemon opened #2348 "Verify card after new product addition is properly added"
### What
- Verify card after new product addition is properly added
### Part of
- #1379

[2022-06-21 15:39] #2308 closed, assigned to nobody

[2022-06-21 15:41] teolemon commented on #2311
The "Votre profil" section is good for that. Next to the "Products from the user that need to be completed".
It's just excuses to spend time completing Open Food Facts products

[2022-06-21 15:51] teolemon commented on #2295
- We're disabling this panel for the moment: https://github.com/openfoodfacts/openfoodfacts-server/issues/6933

[2022-06-21 16:00] teolemon opened #2349 "Create a blob free version of the app that we can deploy to F-Droid"
### What

- [ ] Create a blob free version of the app that we can deploy to F-Droid
  - [ ] Remove MLKit
  - [ ] Ensure whether we need to tweak Sentry or not

### Part of
- #2515

[2022-06-21 16:02] M123-dev commented on #2349
How important is this, this will need some time to properly replace ml kit

[2022-06-21 16:13] teolemon opened #2350 "Products from the user menu are not loaded fully it seems"
### What
- Products from the user menu are not loaded fully it seems
- It might also provoke #2009
-  ![image](https://user-images.githubusercontent.com/1689815/174847632-4a00fdd0-474c-4ea9-9651-4f7d5096ba21.png)

[2022-06-21 16:20] teolemon opened #2351 "Reintroduce "All photos" manager from V1 as a new section in edition"
### Problem
- Reintroduce "All photos" manager from V1 as a new section in edition
- Useful to spot/report problematic images
- Useful to revert images by selecting an older image
- Useful to select an existing image as packaging or ingredients image if none is available
### Mockups
![image](https://user-images.githubusercontent.com/1689815/174848621-c19e75d0-3b5d-408a-be40-a23ccadc7c15.png)

###

[2022-06-21 16:24] teolemon opened #2352 "Add a way to see what needs to be done in editing"
### What
- Add a way to see what needs to be done in editing
- Solution 1: We could either color the section green if they are complete
- Solution 2: we could add a list of things to do:
  - https://github.com/openfoodfacts/openfoodfacts-server/issues/7608

### Part of
- #503
### Mockups
<img width="337" alt="image" src="https://user-images.githubusercontent.com/1689815/200187110-781c7a09-5612-425

[2022-06-21 16:25] teolemon opened #2353 "Reintroduce the nutrient levels either client or server side"
### What
- Some nutritionists complained about it
- Reintroduce the nutrient levels either client or server side
- ![image](https://user-images.githubusercontent.com/1689815/174849828-ff747089-1451-43e6-9d35-35647c62f26f.png)

[2022-06-21 16:27] teolemon opened #2354 "Reintroduce the portion calculator (client side ? server side ?)"
### What
- Reintroduce the portion calculator (client side ? server side ?)
- Based on a user complaint

### Mockups
![image](https://user-images.githubusercontent.com/1689815/174850094-89fe3b30-27cd-4b6e-82e2-7d7e86b53c59.png)
![image](https://user-images.githubusercontent.com/1689815/174850138-a37f4bea-2181-496f-84ae-e9c7b7622fba.png)
### Part of
- #525 (Please remplace 525 by the most specific

[2022-06-21 16:44] teolemon opened #2355 "Introduce basic (tag based) packaging editing"
### Why
- User 1 "Elle n'a jamais été aussi performante et sympa à utiliser! Manque plus que la possibilité de corriger les conditionnements.." / "It has never been so efficient and fun to use! All that's missing is the possibility of correcting the conditioning."
- User 2 (my dad) was used to taking recycling instruction photos to help with Open Food Facts. With the new app, he's confused as how

[2022-06-21 16:46] monsieurtanuki commented on #2350
Fixed by #2332.

[2022-06-21 16:46] #2350 closed, assigned to nobody

[2022-06-21 17:22] teolemon opened #2356 "Pulling to refresh makes you believe you're editing the product"
### What
-Pulling to refresh makes you believe you're editing the product
![image](https://user-images.githubusercontent.com/1689815/174860280-96b431d6-3eb0-4ef8-a07c-94e5d7fffc18.png)

[2022-06-21 17:34] M123-dev commented on #2356
We can completely remove the Dialog there  as we have the spinner on top

[2022-06-22 05:39] monsieurtanuki commented on #2356
Or put a more relevant label like "Getting fresh data about it..."

[2022-06-22 07:05] monsieurtanuki commented on #2355
cf. #2171

[2022-06-22 07:09] monsieurtanuki commented on #2169
@teolemon Is there any piece of code on the server that could help us understand how we are supposed to read and write packaging?

[2022-06-22 08:03] g123k opened #2360 "External package for Lint / Analysis rules"
Hi everyone,

The rules we use for this repo are really nice (analysis_options.yaml).
But we tend to have new repos with the OFF project, where those rules should also be applied.

I think it would be nice to share them.
What would be the best approach: a common Git? or something published on Pub.dev?

[2022-06-22 08:10] stephanegigandet commented on #2169
Hi @monsieurtanuki , there's no good way to write packaging data currently (the existing packaging tag is deprecated), so I suggest that we wait until we do have a right way and a corresponding API to do it.

There's more details about the current state here: https://wiki.openfoodfacts.org/Packagings_data_structure

[2022-06-22 09:20] M123-dev commented on #2360
Pub.dev is very likely overkill but a shared repo would be great, if it is supported of course

[2022-06-22 11:45] g123k commented on #2360
The package is available here: https://github.com/openfoodfacts/openfoodfacts_flutter_lints
(Freely inspired from the official flutter package).

[2022-06-22 13:56] #1427 closed, assigned to cli1005

[2022-06-22 16:20] M123-dev opened #2362 "History not refreshing when scanning a new product"
### What
- History not refreshing when scanning a new product

[2022-06-22 16:56] M123-dev commented on #2256
We  have a regression in 3.4.5 (650)

[2022-06-22 17:08] g123k commented on #2360
Fixed by #2361

[2022-06-22 17:08] #2360 closed, assigned to nobody

[2022-06-23 12:24] teolemon opened #2364 "Add an option to keep the nutrition table expanded"
### What
- Add an option in the App settings to keep the nutrition table knowledge panel expanded, regardless of the instruction sent by the Knowledge Panel API
- We can probably add the same option for ingredients

[2022-06-23 12:50] teolemon opened #2365 "Black scan screen tracking"
### What
- Black scan screen tracking
- [ ] Redmi Note 10 Pro
  - [ ] (We have a Redmi Note 9 Pro that does not mention any issue)
  - [ ] @vik4114 mentions having a Redmi: https://github.com/openfoodfacts/smooth-app/issues/1630
  - [ ] This is a Sentry issue mostly with Redmi devices: https://github.com/openfoodfacts/smooth-app/issues/2301
- [ ] POCO M3

So far, no info on the modalities to make

[2022-06-23 12:51] teolemon opened #2366 "Black scan screen tracking"
### What
- Black scan screen tracking
- Redmi Note 10 Pro
- (We have a Redmi Note 9 Pro that does not mention any issue)
- POCO M3

So far, no info on the modalities to make it happen

[2022-06-23 12:51] teolemon opened #2367 "Black scan screen tracking"
### What
- Black scan screen tracking
- Redmi Note 10 Pro
- (We have a Redmi Note 9 Pro that does not mention any issue)
- POCO M3

So far, no info on the modalities to make it happen

[2022-06-23 12:57] g123k commented on #2366
Duplicate of #2365

[2022-06-23 12:57] #2366 closed, assigned to nobody

[2022-06-23 12:57] g123k commented on #2367
Duplicate of #2365

[2022-06-23 12:57] #2367 closed, assigned to nobody

[2022-06-23 13:14] #2217 closed, assigned to g123k

[2022-06-23 13:30] #1314 closed, assigned to cli1005

[2022-06-23 13:41] teolemon opened #2369 "User report that the app crashes at startup"
### What
- User report that the app crashes at startup
- "Sur iPhone 6 ne s’ouvre pas. Pourtant je suis à jour du logiciel iOS coule quand allez-vous améliorer le nouveau widget ?, J’attends votre réponse"
### Part of

[2022-06-23 13:48] #2171 closed, assigned to nobody

[2022-06-23 14:55] cli1005 commented on #1973
The issue persists...

[2022-06-23 17:30] AshAman999 opened #2370 "The stacking of buttons on the photo confirm and upload page does not look good"
### What
- The buttons in the confirm and upload button don't look good, if we could improve it something like google photos

### Screenshot/Mockup/Before-After
Our App :
![image](https://user-images.githubusercontent.com/57723319/175359132-0ddb4ba6-9e51-477c-97d8-b50508314090.png)

Google Photos :
![image](https://user-images.githubusercontent.com/57723319/175359210-dae15c30-6ff3-4c4a-b5a0-9c917e

[2022-06-23 18:28] abughalib commented on #2370
Can I work on this?

[2022-06-24 06:04] M123-dev commented on #2370
What solution do you propose @abughalib

[2022-06-24 06:07] #2269 closed, assigned to g123k

[2022-06-24 06:07] #2262 closed, assigned to cli1005

[2022-06-24 06:08] teolemon opened #2372 "Edit comment tweaks"
Looks good to me, with a minor remark.
Still, I don't think we'll keep it as is in the long run, because your comment field is redundant (we can keep redundancy in the long run, alright) and it's probably be needed _very_ soon:
* the user agent tells something about the device and app (version, platform) and seldom changes
* the comment should be more dynamic and give another added value ('scan se

[2022-06-24 06:18] monsieurtanuki commented on #2370
My simple suggestion would be 4 same-sized buttons like
[code]

[2022-06-24 07:10] abughalib commented on #2370
Tried something like google photos ui as suggested by @AshAman999
Suggestions?!

https://user-images.githubusercontent.com/33085535/175482145-9cbe6b58-590e-4008-b53a-92b4961f366b.mp4

[2022-06-24 07:28] teolemon opened #2373 "Can we perhaps add Release Please back, now that we're moving to a 2 week release schedule ?"
@M123-dev Can we perhaps add Release Please back, now that we're moving to a 2 week release schedule
- https://github.com/openfoodfacts/smooth-app/pull/1827

[2022-06-24 07:29] M123-dev commented on #2373
Sure @teolemon

[2022-06-24 07:33] M123-dev commented on #2373
But can you elaborate a bit more @teolemon

- Release Please -> public Release every two weeks
- Should we publish the changelog to the stores

‐--------

- Do we want daily Releases to internal/testflight
- What about public beta on playstore

------

For reference other open discussions

https://github.com/openfoodfacts/smooth-app/discussions/2249
#2286

[2022-06-24 09:32] stephanegigandet commented on #2375
The server API response is instant (less than 0.1 second). I think the problem is in Smoothie.

This is what I'm seeing for my Open Food Facts app:

x - - [24/Jun/2022:11:28:24 +0200] "GET /cgi/display.pl?api/v2/preferences?lc=fr HTTP/1.0" 200 226 "-" "Dart/2.17 (dart:io)" 0/1985
x - - [24/Jun/2022:11:28:24 +0200] "GET /cgi/display.pl?api/v2/attribute_groups?lc=fr HTTP/1.0" 200 7072 "-" "Dart/2.17

[2022-06-24 09:32] AshAman999 opened #2374 "Unable to add a new product"
### What
- Was trying the latest code from develop seems like I can't add a new product

### Steps to reproduce the behavior
1. Scan a product that doesn't exist in the database yet
2. try to add it

### Screenshots

![Screenshot_2022-06-24-14-55-29](https://user-images.githubusercontent.com/57723319/175507353-befa8700-3117-463e-84f3-1c3317187382.png)

![Screenshot_2022-06-24-14-55-37](https://use

[2022-06-24 09:50] monsieurtanuki commented on #2375
Very good point.

We can't, and we already do: we cached the English version, as a fallback. Should we cache other language/country combinations?

This is not my personal experience, but it does happen sometimes.

If you want my assessment of the issue: the problem is the solution. As long as we want to use up-to-date data during onboarding, we are dependent on the server availability, in a crucia

[2022-06-24 10:16] M123-dev commented on #2370
I'm not really a fan of that either, any opinion @teolemon

[2022-06-24 10:58] #1700 closed, assigned to monsieurtanuki

[2022-06-24 11:40] AshAman999 commented on #2192
I am doing this, we can easily force the upload to be in the background but then it's about how to notify the user when the work manager finishes its task of uploading
Here's the apk, can I hear a ux suggestion on this
How I retry in case of failure is like this
﻿
[code]
https://drive.google.com/file/d/1-UaDQtCi3mSwBN0WtvRQUBg39kR3OqIg/view?usp=sharing

[2022-06-24 11:48] stephanegigandet commented on #2192
My personal opinion on that is that we should not notify the user. I don't see the point, users take photos, they assume they will be sent. If we really want to make this information available, then it would be more in the user's profile: # of photos sent + # of photos waiting to be sent.

[2022-06-24 12:12] monsieurtanuki commented on #2192
If the question is just "how to notify the user", I assume we can do this with a provider.
I would tend to agree with @stephanegigandet regarding UX.

To me, the biggest challenges here are:
* maintaining locally several copies of a product - the server one and the local one (= the server one with the added pictures on top)
* the background process (`isolate`? just `async`?) that uploads the pictu

[2022-06-24 13:21] #2346 closed, assigned to nobody

[2022-06-24 13:30] monsieurtanuki commented on #2375
@stephanegigandet I've just had a look at the code and I've fixed a minor bug in #2377 that may have side effects for developers that run the onboarding again and again, for testing reasons.

I'm still surprised by the endless loop claim and could not reproduce it anymore; I think it was fixed by @cli1005's #2282 where there's a 5 second time out (instead of 20 seconds) and an appropriate message

[2022-06-24 14:11] AshAman999 commented on #2192
@monsieurtanuki
Trying with something like this, seemed to work real good, also had the apk here
https://drive.google.com/file/d/1-UaDQtCi3mSwBN0WtvRQUBg39kR3OqIg/view?usp=sharing

Was trying to do something with `workanager` ,added benefits would be the background scheduling and there's the retry method to try to upload multiple times(ios doesn't support retry by default)
[code]

Seems like I can

[2022-06-24 14:13] #2356 closed, assigned to monsieurtanuki

[2022-06-24 14:44] teolemon opened #2380 "Add network-supported autocomplete wherever possible in edit mode"
### What
- Add network-supported autocomplete wherever possible in edit mode
- There's already support for this in Open Food Facts Dart (https://github.com/openfoodfacts/openfoodfacts-dart/blob/f62ff7258f00c63796634d0ea9e80ba1facae542/example/lib/main.dart#L143)
- Disable it if no network

[2022-06-24 14:49] teolemon commented on #1070
@monsieurtanuki on packaging, it's probably one promising road

[2022-06-24 15:25] monsieurtanuki commented on #2380
Needs https://github.com/openfoodfacts/openfoodfacts-dart/issues/465

[2022-06-24 15:44] teolemon commented on #2380
I don't believe 465 is actually blocking, it worked in v1 given enough characters, and it will just get better once 465 is coded and released server side.

[2022-06-24 16:18] monsieurtanuki commented on #2192
@AshAman999 I'm not familiar with workmanager or isolate, just familiar enough to have noticed that there are limitations ;)
That said, I think @g123k developed isolate for the barcode scan: you may find interesting ideas in his code.

Having a look at the [isolate docs](https://api.flutter.dev/flutter/dart-isolate/Isolate-class.html), you may find the answers you're looking for:

I'm not sure iso

[2022-06-24 16:24] monsieurtanuki commented on #2380
@teolemon Oh it is blocking somehow, if I created the issue it was out of frustration about my soy milk, not a theoretical need.
Anyway, it's not that hard to code now, the server side is released (https://github.com/openfoodfacts/openfoodfacts-server/pull/6887) and there's just a little off-dart extra code that is needed.
But you're right, coding can start now for the current issue, the adaptatio

[2022-06-24 18:18] teolemon opened #2381 "Ensure that CameraX is fully supported for Flutter so that we can use it easily"
## Why
- We're getting complaints of scan not working well
- We use camera, while camerax defragments the Android camera mess
## What
- Ensure that CameraX is fully supported for Flutter so that we can use it easily
- Investigate new fast moving libraries: https://pub.dev/packages/mobile_scanner

[2022-06-24 22:33] M123-dev commented on #2381
What is the key of this issue, why has it a P0

[2022-06-25 10:33] #105 closed

[2022-06-25 10:34] #521 closed, assigned to nobody

[2022-06-25 10:35] #500 closed, assigned to nobody

[2022-06-25 10:35] #279 closed

[2022-06-25 10:35] teolemon commented on #944
fixed

[2022-06-25 10:35] #944 closed, assigned to monsieurtanuki

[2022-06-25 10:37] teolemon commented on #644
Still here

[2022-06-25 10:38] teolemon commented on #1241
fixed

[2022-06-25 10:38] #1241 closed, assigned to nobody

[2022-06-25 11:11] teolemon commented on #2169
@monsieurtanuki we can clone the ingredients extraction system, the current packaging system on the web works exactly the same way
- #1070

[2022-06-25 11:51] teolemon commented on #1136
@monsieurtanuki would you be interested by implementing the Smoothie side ?
- https://github.com/openfoodfacts/openfoodfacts-dart/issues/493

[2022-06-25 16:54] monsieurtanuki commented on #2192
Additional interesting video [here](https://www.youtube.com/watch?v=yUMjt0AxVHU), about:
![Capture d’écran 2022-06-25 à 18 52 02](https://user-images.githubusercontent.com/11576431/175783212-3e405f71-1414-4736-aed8-4a5ec322fa02.png)

[2022-06-25 21:07] #2355 closed, assigned to monsieurtanuki

[2022-06-26 13:05] teolemon opened #2386 "Add a test that placeholder are preserved in translations"
### What
- Add a test that placeholder are preserved:
-   "share_product_text": "Have a look at this product on Open Food Facts: {url}",
    "share_product_text": "Open Food Facts'teki bu ürüne bir göz atın",
https://github.com/openfoodfacts/smooth-app/pull/2384
https://github.com/openfoodfacts/smooth-app/pull/2389/commits/2bb16c82b5d1c8286977fe6b6beaa9963d2884d7

[2022-06-26 17:20] teolemon opened #2387 "Layout issue on tablets"
### What
![Screenshot_20220626-191325.jpg](https://user-images.githubusercontent.com/1689815/175826171-405c9cc3-b511-4636-b7d1-92ac37383e26.jpg)

[2022-06-26 17:21] teolemon opened #2388 "SQL error on a possibly older version of Smoothie"
### What
![Screenshot_20220626-191535.jpg](https://user-images.githubusercontent.com/1689815/175826208-87f62a8c-2801-4e54-bded-c4630d8a1b0e.jpg)

[2022-06-26 18:04] teolemon commented on #2301
@g123k What's interesting is that 2298 is about Samsung, and this one has mostly Redmi devices

[2022-06-26 18:06] monsieurtanuki commented on #2388
That's definitely a very old version (pre hive and pre sqlfite again).
I suggest an app reinstall.

[2022-06-26 18:15] teolemon commented on #2388
It's actually 0.0.6, so not the main listing. Closing

[2022-06-26 18:15] #2388 closed, assigned to nobody

[2022-06-26 18:15] teolemon commented on #2388
![image](https://user-images.githubusercontent.com/1689815/175828296-765b4429-bb29-4c23-8057-13dec401a210.png)

[2022-06-26 18:29] g123k commented on #2301
But I don't have any Redmi device, so unable to reproduce it 😶

[2022-06-27 05:46] monsieurtanuki commented on #2255
In order to get rid of this crash, we could simply dismiss products that have a `null` barcode in `ProductListPage`.
Trying to understand how that happens, it would be nice to send some message back home, like "I know it's unexpected and I've just got rid of a barcode-less product": @g123k what tool do you suggest? sentry matomo fimber?

[2022-06-27 05:48] g123k commented on #2255
Just use the Logs class it will do all at the same time

[2022-06-27 05:59] monsieurtanuki commented on #2255
@g123k Thank you!
Just thinking about it again, in your migration, did you download products?

[2022-06-27 06:00] g123k commented on #2255
Yes

[2022-06-27 08:09] #2387 closed, assigned to monsieurtanuki

[2022-06-27 08:12] cli1005 commented on #2364
Two options with default value = true have been added in the App Setting, Please tell me if it is not OK for you:

![Image](https://user-images.githubusercontent.com/87010739/175891530-7bf5472b-9cab-49c3-a90a-dffc83fb1761.png)

https://user-images.githubusercontent.com/87010739/175891544-d1850133-1d95-4e7a-a002-f623e653abfa.mp4

[2022-06-27 08:26] cli1005 commented on #1973
A 2nd PR has been create to fix this issue due to reopening

[2022-06-27 08:28] cli1005 commented on #2348
A new PR https://github.com/openfoodfacts/smooth-app/pull/2391 has been created for this issue

[2022-06-27 10:06] g123k opened #2394 "[Camera] On a Surface Duo 2, the flash turns on/off at startup"
While testing the app on a Microsoft Surface Duo 2, I've noticed that even when the flash is set to off, the torch quickly turns on, then turns immediately off when the app starts.

[2022-06-27 11:07] monsieurtanuki commented on #2255
@g123k Would you point me to the piece of code where the download actually takes place?
There are tons of "unexpected" errors in https://sentry.io/organizations/openfoodfacts/issues/3377849466/?project=5376745&referrer=weekly-email where products from a list are not in the product table.

Maybe it comes from your migration, maybe it comes from my hive-sqflite migration, maybe it's something else.

[2022-06-27 11:31] monsieurtanuki opened #2395 "Magic button that solves everything in the database"
### Problem
As evoked in #2255, there are at least two sentry issues related to probable database inconsistencies (like a product list whose products are not in the product database):
* https://sentry.io/organizations/openfoodfacts/issues/3329300698/?project=5376745&query=is%3Aunresolved
* https://sentry.io/organizations/openfoodfacts/issues/3377849466/?project=5376745&query=is%3Aunresolved

A typ

[2022-06-27 11:58] monsieurtanuki opened #2396 "Safer and faster product list display"
### Problem
When we display a product list, there are currently several steps:
1. get the barcode list, which is immediate for the moment (we use `hive` in no-lazy mode)
1. for each barcode, get the corresponding product with `await daoProduct.get(barcode)` (fast, but not immediate)
1. return a list of products
1. display a fixed length list of widgets with a `ListView.builder`, each item being di

[2022-06-27 13:11] #2128 closed, assigned to cli1005

[2022-06-27 13:23] cli1005 commented on #2223
The first problem is due to invalid barcode(code: Geheimnis), with https://github.com/openfoodfacts/smooth-app/pull/2336, we will get a error message card instead

[2022-06-27 13:30] teolemon opened #2397 "Simplify dev mode access without having to be logged in (Turn it into a toggle)"
### What

- [ ] Simplify dev mode access without having to be logged in (Turn it into a toggle)

[2022-06-27 16:06] g123k opened #2398 "[Camera] The camera is restarted whereas it shouldn't be"
1) Enable the flash for the scanner
2) Open a product
3) Click to take a picture of the product, but do nothing and just go back
4) The camera from the scanner has been restarted (the flash is visible)

[2022-06-27 16:13] g123k opened #2399 "[Camera] Black screen"
1) Open the app
2) Switch to the history
3) Open a product
4) Take a picture (or at least open the screen to take it)
5) Go back twice
6) The scanner is black

[2022-06-27 16:17] g123k commented on #2255
The only code was based on your import feature: https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/helpers/data_importer/product_list_import_export.dart

[2022-06-27 16:25] AshAman999 commented on #2394
Same for me, using an android 7 mobile phone and  facing the same problem

[2022-06-27 16:54] g123k opened #2400 "[Camera] Share the flash mode between scan and photo taking"
### What
This is clearly not a priority, but in the main scanner, we can select if we want to use the flash.

It would be nice if when we take a picture of a product, this feature is also shared. However, it seems that the `image_picker` library doesn't support it.

### Part of
- #526

[2022-06-27 17:04] teolemon commented on #2223
Thanks @cli1005 for clarifying and taking the time to check. Closing this issue as a result.

[2022-06-27 17:04] #2223 closed, assigned to nobody

[2022-06-27 17:36] #2372 closed, assigned to nobody

[2022-06-27 17:57] teolemon commented on #2386
Bumping to P1, since I loose time everyday on this

[2022-06-27 20:47] monsieurtanuki commented on #2386
Looks similar to #2406 and #2407: @lsaudon, do you feel like fixing that one too?

[2022-06-27 21:03] lsaudon commented on #2386
I feel like it's not the same thing.
If I understood, you have to make a test that verifies that the {stuff} does not disappear from the translations?

[2022-06-28 05:04] monsieurtanuki commented on #2386
Hi @lsaudon!

Actually I imagined that for #2406 and #2407 you used a magic trick that identified dead code (useless files and useless parameters). I assumed that the magic trick was a parameter in lint check, was it?

And I assumed that there was something similar regarding translations, in that case checking that for each label, all the translations have the same parameters.

For instance, in a

[2022-06-28 07:17] #2248 closed, assigned to monsieurtanuki

[2022-06-28 07:31] monsieurtanuki commented on #2386
Working on it...

[2022-06-28 07:53] g123k commented on #2394
@AshAman999 Could you test my draft PR and let me know if you still have the flash/torch issue?
https://github.com/openfoodfacts/smooth-app/pull/2409

[2022-06-28 08:01] g123k opened #2410 "Product not added to history"
A product is only added to the history, if the product screen is left.
Steps to reproduce:

1. Scan or search for a product
2. Open the product details
3. Switch to the history tab -> nothing
4. Go back to the product details (from the Search tab)
5. Leave the product page
6. Open the history again -> product is now visible

Here is a video:
https://user-images.githubusercontent.com/246838/1761268

[2022-06-28 11:06] M123-dev commented on #2397
That means it isn't hidden anymore

[2022-06-28 11:13] #2374 closed, assigned to cli1005

[2022-06-28 13:34] M123-dev opened #2413 "Sentry spammed with camera states"
### What
- Sentry is currently full with different camera states
![grafik](https://user-images.githubusercontent.com/39344769/176191548-f7bb7dcb-9a97-40e7-8d02-6bcff4762307.png)
- They are certainly great in the sentry breadcrumbs but I don't see them usefull alone

[2022-06-28 13:55] monsieurtanuki commented on #2397
That would also mean that we need to translate everything and check that nothing dangerous can happen there.
OR: we split the dev mode into dev mode and advanced settings:
* Advanced settings for advanced users
* Dev mode for developers.

Current dev mode items:
1. suppress dev mode
2. restart onboarding
3. PROD or TEST env
4. change the root URL
5. change camera duration
6. additional button on p

[2022-06-28 14:05] M123-dev commented on #2397
I see nothing except the language which could be useful but even that, I don't know of any app from the top of my head which allows it

[2022-06-28 14:50] lsaudon opened #2415 "Codecov compares with old version of develop"
### What
- Codecov does not work well. It compares with an old version of the project.

[2022-06-28 16:11] g123k commented on #2398
The initial value (on the native part) for the flash is auto, which may lead to a brief flash.
This behavior is now disabled

[2022-06-29 06:53] monsieurtanuki opened #2417 "Cannot start the app anymore / CustomMultiChildLayout"
### What
- I get an empty white screen when I start the app, and tons of logs.

### Steps to reproduce the behavior
1. Start the app

### Expected behavior
The app works. It's not an empty white screen.

### Screenshot/Mockup/Before-After
![Capture d’écran 2022-06-29 à 08 27 32](https://user-images.githubusercontent.com/11576431/176366624-7dd776aa-72c0-4981-b92e-23429a953067.png)

### Additional

[2022-06-29 06:58] monsieurtanuki commented on #2417
Actually @lsaudon it's your "avoid unused parameter" PR that caused this.

In `scanner_overlay.dart`, you removed the following code:
[code]
and
[code]

You had a point, because we don't use variable `actionsHeight`.
The problem is that the method that computes it has side-effects, like positioning widgets.

I suggest that you rollback your merge altogether (for the record: I have no clue about gi

[2022-06-29 07:56] lsaudon commented on #2417
I create a PR with revert.
Sorry.

[2022-06-29 08:06] monsieurtanuki commented on #2417
@lsaudon I've just retried after your revert PR: everything's fine now; thank you for your quick reaction!

[2022-06-29 08:06] #2417 closed, assigned to nobody

[2022-06-29 09:10] M123-dev opened #2420 "User feedback: Contributions in wrong language"
### What
https://openfoodfacts.slack.com/archives/CSV2748EB/p1656487187429229?thread_ts=1656487187.429229&cid=CSV2748EB
User report on Slack:

I have my region set in the app to Canada, and was told that might have something to do with it. How would I have it so that the contributions I make are correctly attributed as being English contributions?

### Part of
- #2514

[2022-06-29 10:25] cli1005 commented on #2397
@teolemon, if DEV mode is used only for developers, I do agree that we should keep it hidden. If there are certain setting options could be open to user, I might move those options to application setting.

[2022-06-29 10:36] M123-dev commented on #2420
The phone language is in English (US) and it happened for the ingredients list (likely for other fields as well)

[2022-06-29 12:22] monsieurtanuki commented on #2380
Possible from brand new off-dart 1.20.0 and its additional limit parameter from https://github.com/openfoodfacts/openfoodfacts-dart/pull/498.

[2022-06-29 12:23] monsieurtanuki commented on #2315
Needs minor refactoring using the brand new off-dart 1.20.0 methods from https://github.com/openfoodfacts/openfoodfacts-dart/issues/488.

[2022-06-29 12:23] teolemon commented on #2420
- A solution could be this : #522
![Multilingual ingredient list](https://user-images.githubusercontent.com/1689815/176435387-56c43c41-34c1-4da8-9009-26aaa38c8b0b.png)

[2022-06-29 12:26] monsieurtanuki commented on #1070
Needs minor refactoring with off-dart 1.20.0 new methods from https://github.com/openfoodfacts/openfoodfacts-dart/issues/494.

[2022-06-29 12:27] teolemon opened #2422 "(Edit) Make it possible to edit the ingredients, product name, and packaging text in several languages"
### What

[code]

### Notes
- Those fields support multilingualism
- In the dropdown, existing languages should be listed first and differently, plus a add new language button within the dropdown
### Why
- Some country like Canada or Belgium need this

### Part of
- #2514

[2022-06-29 12:28] teolemon commented on #1536
- See #2422

[2022-06-29 12:31] monsieurtanuki commented on #1136
From off-dart 1.20.0 we have the new 'action_element' ([#495](https://github.com/openfoodfacts/openfoodfacts-dart/issues/495))

[2022-06-29 12:38] teolemon commented on #2420
- #2422

[2022-06-29 12:41] teolemon opened #2423 "(Tracker) Make it possible to view the ingredients, product name, photos in several languages"
### What

- [x] Make it possible to view the ingredients in several languages
- [x] #3863
- [x] https://github.com/openfoodfacts/smooth-app/issues/2428
- Those fields support multilingualism
- Some country like Canada or Belgium need this
- In the dropdown, existing languages should be listed first and differently, plus we could add a "add new language" button within the dropdown that would lead t

[2022-06-29 12:49] teolemon opened #2424 "Add image selection from server in the Photo Manager (the expanded view accessible from the carousel)"
### What
- Photos already on the server, and selected for a purpose (eg ingredients) contain valuable info (like a nutrition table)
- [ ] Create a view listing all the images available for a product server-side
- [ ] Make this view reusable in the photo picker
### Part of
- #766

[2022-06-29 13:01] cli1005 commented on #2410
The case of scanning is corrected in #2362.
For searching, the product is added into history and notified by returning from the Product Detail page. do we need to change this behaviour?

[2022-06-29 13:03] teolemon opened #2425 "Add "Products that need to be completed link""
### What
- Add "Products that need to be completed link" with https://world.openfoodfacts.org/state/to-be-completed.json
- Rename current link to "My products that need to be completed link"

### Why
- Because of a miscomprehension + a user who asked for the feature back on Slack
- "Voici un retour utilisateur : j'utilisais l'ancienne appli pour contribuer dans les transports ou salles d'attente s

[2022-06-29 13:06] teolemon opened #2426 "Leverage support for the Image refresh API to make a custom Call To Action to take a new photo"
### What
- Leverage support for the Image refresh API to make a custom Call To Action to take a new photo
- https://github.com/openfoodfacts/openfoodfacts-dart/pull/289
### Mockup
<img width="170" alt="image" src="https://user-images.githubusercontent.com/1689815/177033847-35b40edb-aeba-4e0d-a023-cb865abe9d13.png">

### Part of
- #766

[2022-06-29 13:09] teolemon opened #2427 "Add image unselect in the expanded view accessible from the carousel"
### What

- [x] Add image unselect in the expanded view accessible from the carousel
  - [x] openfoodfacts/openfoodfacts-dart/issues/319
  - [x] openfoodfacts/openfoodfacts-dart/issues/306

### Part of
- #766

[2022-06-29 13:11] teolemon opened #2428 "Add a language switcher to make it possible to see photos selected in other languages in the expanded view accessible from the carousel"
### What

- [ ] Add a language switcher to make it possible to see photos selected in other languages in the expanded view accessible from the carousel

### Part of
- #766
- #2423

### Mockups
![Photo manager](https://user-images.githubusercontent.com/1689815/148060072-caebdee2-e0c0-4677-87f1-a8e0a36a0e24.png)

[2022-06-29 13:13] M123-dev commented on #2420
Message from Gala (don't know the github @)

"Hi, The new version looks amazing!
Only one problem, I can't now work out how to check/change the language I'm currently editing (for the product name, ingredients, etc.). This was possible in the old version.
Are there plans to fix this?
Thanks!"

[2022-06-29 13:15] M123-dev commented on #2422
P2 because there were many user requests

[2022-06-29 13:15] teolemon opened #2429 "Add image rotation (lower priority, server side, same view as cropping) in the expanded view accessible from the carousel"
### What

- [ ] Add server side image rotation, in the same view as server-side cropping, in the expanded view accessible from the carousel
  - [x] openfoodfacts/openfoodfacts-dart/issues/304
  - [x] openfoodfacts/openfoodfacts-dart/issues/309
### Part of
- #766

[2022-06-29 13:16] M123-dev commented on #522
P2 because there were multiple requests for this

[2022-06-29 13:49] teolemon commented on #2295
I think the user means "Block specific ingredients" like I don't like cliantro.
Not hiding them in the ingredient list

[2022-06-29 13:52] #1836 closed, assigned to nobody

[2022-06-29 13:53] cli1005 commented on #2397
I might hide the toggle in the Setting contribute, if you are ok, please let me know

![Image](https://user-images.githubusercontent.com/87010739/176453368-158c2cce-67d8-4478-85fb-0a4a337eadfc.png)

[2022-06-29 15:10] teolemon commented on #2415
<img width="554" alt="image" src="https://user-images.githubusercontent.com/1689815/176471755-51f2f9c8-b7da-4704-bdf8-728348dc1f81.png">

[2022-06-29 15:14] #2167 closed, assigned to cli1005

[2022-06-29 15:32] teolemon opened #2430 "The new action param in KP API in the dart package is breaking the build"
### What
- The new action param in KP API in the dart package is breaking the build
-   error • The body might complete normally, causing 'null' to be returned, but the return type, 'Widget', is a potentially non-nullable type • packages/smooth_app/lib/knowledge_panel/knowledge_panels/knowledge_panel_element_card.dart:24:10 • body_might_complete_normally
warning • Missing case clause for 'ACTION'

[2022-06-29 16:27] teolemon opened #2431 "Extract ingredients view will show English image, and will attempt to extract from ingredients_fr which does not exist when the app is in French"
### What
- Extract ingredients view will show English image (ingredients_en), and will attempt to extract from ingredients_fr, which does not exist when the app is in French.

### Steps to reproduce
- Scan a product with only English, and an English ingredients photo, but no ingredients extracted.
- Try to extract from the app in French

### Part of
- #2514
- #503

[2022-06-30 06:24] #2430 closed, assigned to monsieurtanuki

[2022-06-30 07:03] M123-dev opened #2435 "CI: Image optimization"
### Problem
We got some svg optimization from @lsaudon in #2414.

It would be great if we could automate and expand it beyond svgs only.

My preference would be [ImgBot](https://imgbot.net) which could also be interesting for other repos as well. Would you have a look at this @teolemon

### Part of
- #2528

[2022-06-30 07:04] #2386 closed, assigned to monsieurtanuki

[2022-06-30 07:16] monsieurtanuki commented on #2435
My 2 cents...

I'm not a big fan of systematic optimization
* they have side-effects (#2418, https://github.com/openfoodfacts/smooth-app/pull/2414#issuecomment-1170236643)
* so far they are not tested (what about goldens test for SVGs?)
* I didn't see any evidence of the gain in space (would be easy to measure) and performances (less easy)
* in the case of SVG optim, I don't know what the source S

[2022-06-30 07:41] AshAman999 commented on #2435
Ran test on my fork for IMG bot and all test were passing ,doesn't seem to have any breaker for now to stop it from being implemented in our project
 https://github.com/AshAman999/smooth-app/pull/1

[2022-06-30 07:57] monsieurtanuki commented on #2435
@AshAman999 I'm not sure the Smoothie tests include the correct display of the 233 SVG files (with the flutter limitations regarding SVG display). For PNG I assume we're safer and that flutter displays them correctly.

In addition to optimization, an added value would be to get the original files from the server and to put them in `assets/`. Cf. #1963.

[2022-06-30 08:01] #1973 closed, assigned to cli1005

[2022-06-30 08:23] monsieurtanuki commented on #2315
@teolemon @stephanegigandet Actually there's a little bug I've just discovered, on the server side.

With the latest version of off-dart, we also put the language in the query. Which is a good idea, isn't it?

It works well for the first 3 queries (contributor, informer, photographer).
But for the last one ("to be completed") the server translates the URL, and that fails.
* When I add no language

[2022-06-30 09:00] #1070 closed, assigned to monsieurtanuki

[2022-06-30 10:15] M123-dev opened #2438 "Don't run pub upgrade in CI / CD"
[...]
The problem is that the test tool probably runs an additional `flutter pub upgrade` that "forces" him to take into account off-dart `1.20.0` and the new element. I don't know what we should do about it, in general: just be very careful for every new off-dart release and immediately check if Smoothie is fine?

_Originally posted by @monsieurtanuki in https://github.com/openfoodfacts/smooth-ap

[2022-06-30 10:20] monsieurtanuki commented on #2438
@M123-dev I like it when we can predict when the bugs happen: if we just have to be careful just after an off-dart upgrade, I'm fine with this.
If you substitute `pub upgrade` with `put get`, we'll be in an unpredictable mode where it's a matter of luck.

[2022-06-30 10:31] monsieurtanuki opened #2439 "Correct use of provider and notify"
### Problem
We experience every day issues regarding products or list not being refreshed.
Most of the time, we just use provider for `static` fields: let's get the database with `context.watch<LocalDatabase>()`.
And if we notify the `LocalDatabase`, sometimes it's good (actually it's always good) but sometimes there are side-effects (like not necessary page refreshes that don't look good).

### P

[2022-06-30 10:33] monsieurtanuki commented on #2009
Hey @cli1005, I think I read in a code of yours (that I recently reviewed) that you have a magic parameter used in KP, like "alwaysScroll" or something like that, am I right?

[2022-06-30 10:53] M123-dev commented on #2438
"dart pub get | Dart" https://dart.dev/tools/pub/cmd/pub-get

As we have a pubspec.lock file pub get will be way safer or am I missing something here.
Just having a eye on off-dart doesn't help, the same could happen for every other package

[2022-06-30 11:07] monsieurtanuki commented on #2438
@M123-dev I'm not 100% sure. I don't like the parts "if possible" and "pub will get the latest version".
I'm not afraid of bugs, I'm afraid of bugs appearing randomly.
Maybe the thing I was not explicit about is that I want the app to crash as soon as possible - if it needs to crash. And crashing PRs sounds acceptable.
That said, if you're confident in `pubspec.lock` and every developer pushing it

[2022-06-30 13:16] monsieurtanuki commented on #1074
Duplicate with #2425.

[2022-06-30 13:16] #1074 closed, assigned to monsieurtanuki

[2022-06-30 14:38] teolemon opened #2442 "Rewording "Compare to category" into "Find alternatives that match with you" ?"
### What
- Rewording "Compare to category" into "Find alternatives that match with you" ?
- Based on User Interviews
- cc @stephanegigandet

[2022-06-30 16:20] teolemon opened #2443 "Server-side support for Offline scanning mode"
Part of #18

[2022-06-30 16:20] teolemon opened #2444 "Client-side support for Offline scanning mode"
### What

- [x] Offline product cache
- [x] #2445
- [x] #2446
- [x] #2451

### Part of
- #18

[2022-06-30 16:21] teolemon opened #2445 "Add support for Offline images"
### What
- [ ] Add support for Offline images
- [ ] We can infer image placeholders using packaging, and some libraries enable to reduce an image to a colored gradient that's a couple of bytes and can be displayed offline or during loading.
- [ ] #413

### Part of
- #18

[2022-06-30 16:23] teolemon opened #2446 "Add a offline data manager"
### What
  - [ ] Create a screen to customize the offline database dump
    - [ ] Would require: openfoodfacts/openfoodfacts-server/issues/6328
    - [ ] Meanwhile @stephanegigandet suggests we experiment with : https://fr.openfoodfacts.org/api/v2/search?fields=code,product_name&page_size=1000
      - [ ] The transition to the new system will be transparent
  - [ ] Download the Offline scan dump

[2022-06-30 16:36] #2425 closed, assigned to monsieurtanuki

[2022-06-30 16:43] #1136 closed, assigned to monsieurtanuki

[2022-06-30 16:57] teolemon opened #2447 "Study the effect of compression algorithms on storage space required for offline products"
### What
- Study the effect of compression algorithms on storage space required for offline products
- https://docs.google.com/document/d/1l2gQXTbRwPd3RCLzL8B-QEAA30vmM0r4PX48bQbLK5M/edit
- Graphs are not enough, but timing would be
### Part of
- #18

[2022-06-30 18:00] teolemon opened #2450 "Ensure the offline database stays fresh"
### What
Ensure the offline database stays fresh
- [ ] We should invalidate the cache after a given amount of time, or at least display a warning that the data might not be up-to-date anymore, especially if we move beyond a basic  version with just the scores.
- [ ] We should display when products are taken from offline database.

### Part of
- #18

[2022-06-30 18:01] monsieurtanuki commented on #2447
Compressing the json data is a good idea. Could even be implemented with the server exchanges, couldn't it? Like `.htaccess` and `FilterProvider  COMPRESS  DEFLATE resp=Content-Type $application/json`.

[2022-06-30 18:02] teolemon opened #2451 "Implement a double-response mechanism in the scan screen (first offline, then online refresh if network is available)"
### What

- [ ] Implement a double-response mechanism in the scan screen (first offline, then online refresh if network is available)

### Part of
- #2444

[2022-06-30 18:11] teolemon opened #2452 "Investigate how much space offline mode would take on the client"
### What
- [ ] Investigate how much space offline mode would take on the client
  - [ ] ~45kb per product
  - [ ] What if remove the knowledge panels?
  - [ ] What if we compress the JSON? #2447
- [x] ~#2463~ Don't count on it.
  - [ ] Compress the json before storing it?
- [ ] Compute a column store with a few key attribute values instead of full attributes text?
- [ ] Store all barcodes availabl

[2022-06-30 18:14] teolemon opened #2453 "Ensure we update the view in product addition while in offline mode (with a miniature of the photo)"
### What

- [ ] Ensure we update the view in product addition while in offline mode (with a miniature of the photo)

### Part of

- [ ] add offline product addition

[2022-06-30 18:25] teolemon opened #2454 "Ensure new product addition works offline"
### What

### Ensure new product addition works offline
- [ ] Ensure you can enter product addition mode
- [ ] Ensure a placeholder is added in the scan carousel
- [ ] Possibly do a heads up if the product exists online (or do something sensible)

### (In the Far Future) Investigate if we can provide the Open Food Facts server-dependant features offline
- [ ] Perform Nutri-Score computation on dev

[2022-06-30 18:25] teolemon opened #2455 "Ensure nutrition edits works offline (and local edits are dropped in the right cases after reconnection)"
### What

- [ ] Ensure nutrition edits works offline (and local edits are dropped in the right cases after reconnection)

### Part of
- #1235

[2022-06-30 18:25] teolemon opened #2456 "Ensure ingredient edits works offline (and local edits are dropped in the right cases after reconnection)"
### What

- [ ] Ensure ingredient edits works offline (and local edits are dropped in the right cases after reconnection)
- [x] #2638
- [ ] Clone the offline edit for ingredients work for packaging (which shares the same edit code)

### Part of
- #1235

[2022-06-30 18:25] teolemon opened #2457 "Ensure Robotoff questions works offline (and local answers are dropped in the right cases after reconnection)"
### What

- [ ] Ensure Robotoff questions works offline (and local answers are dropped in the right cases after reconnection)

### Part of
- #1235

[2022-06-30 18:25] teolemon opened #2458 "Ensure tag edits work offline (and local edits are dropped in the right cases after reconnection)"
### What

- [ ] Ensure tag edits work offline (and local edits are dropped in the right cases after reconnection)

### Part of
- #1235

[2022-06-30 18:27] AshAman999 commented on #2447
@monsieurtanuki

Had tried one on the client-side, ie in the app itself using [gzip](https://api.dart.dev/stable/2.14.2/dart-io/GZipCodec-class.html), the above document had a side-by-side comparison of both of em, was doing more research that It doesn't affect much on the device performance while operating.
Will update the results soon

[2022-06-30 19:13] #2397 closed, assigned to cli1005

[2022-06-30 19:33] teolemon opened #2459 "Ensure there’s a placeholder for offline newly added products until it’s possible to fetch them from the network"
### What

- [ ] Ensure there’s a placeholder for offline newly added products until it’s possible to fetch them from the network
- [ ] The placeholder should have a Try reloading button

### Part of
- #2454

[2022-06-30 19:57] teolemon opened #2460 "Some optimization seems to have broken the Eco-Score logo"
### What

Some optimization seems to have broken the Eco-Score logo

### Screenshot
![Screenshot_20220630-163547](https://user-images.githubusercontent.com/1689815/176766455-b7782de3-2168-4337-a7bc-8e0176846774.png)

[2022-06-30 20:00] teolemon opened #2461 "Define the scope of offline data"
### What

- On the old iOS version, we stored: product name, brand, nutriscore, nova, ecoscore for every product we have in the db.
- Define the scope of offline data for the new version, keeping in mind that we should probably let the user decide, with a sane default

Per @AshAman999 's computation in #2447
### All 2,4M barcodes
[code]

- [ ] Create a server side solution to dump all barcodes

##

[2022-06-30 21:19] monsieurtanuki commented on #18
I've just simplified again the attributes, this time "à la SQL", and it looks less poetic but much more compact (should take half the space - for attributes):

<details>

<summary>SQL version</summary>

[code]
</details>

As I said before you don't change a SQL database structure like you do with JSON files, therefore we should be very careful with what we really want:
* a much smaller space than

[2022-06-30 21:20] monsieurtanuki opened #2463 "Is sqflite compressing the json data?"

[2022-06-30 21:28] monsieurtanuki commented on #2463
From what I assumed then what I read the answer is "no!", `SQLite` does not compress text data, let alone `sqflite`.
That wouldn't make sense as it's a `TEXT` field where normal people typically try to find data quickly (`where` clause). If there was a compression, `sqflite` would have to decompress the compressed field of all rows for each query that has a `where` on that column.
Feel free to reo

[2022-06-30 21:28] #2463 closed, assigned to nobody

[2022-07-01 03:53] AshAman999 opened #2464 "Can't access my profile on web from `Your profile` menu"
### What
- Can't access my profile on the web from `Your profile` menu

### Steps to reproduce the behavior
1. I sign in with my email credentials
2. Click on the First list tile in the profile section i.e
3. Click on view profile, for me, it shows `unknown user`
4. More sections on the same page throws me error cause it can't detect me as signed in

### Expected behavior
I guess user name should

[2022-07-01 07:36] monsieurtanuki commented on #2245
Hi @stephanegigandet!
There are some discrepancy in the `text_element`'s types, from what I've just seen in https://world.openfoodfacts.dev/api/v2/product/5010477348630?fields=knowledge_panels:

| type | count |
| -- | -- |
| `"text_type": "summary"` | 2 |
| `"type": "summary"` | 10 |
| `"type": "warning"` | 3 |
| `"type": "default"` | 2 |
| `"type": "note"` | 1 |
| `"type": "callout_info"` | 1 |

[2022-07-01 09:40] monsieurtanuki commented on #2442
@teolemon That's up to the translation team, right?

[2022-07-01 12:45] monsieurtanuki commented on #2464
@AshAman999 Indeed there's a little problem here.
I do connect with my userId and everything is fine for me.
I've just retried with my email, and it's a bit weird already for the welcome page: I see "Identifiants OpenFoodFacts : <my email>".
And of course, same problem as you when I click on the "to the web profile page" link.

I think it should be alright to connect with one's email, but the conn

[2022-07-02 05:49] monsieurtanuki commented on #1388
https://pub.dev/packages/devicelocale may help (never tried)

[2022-07-02 07:25] monsieurtanuki commented on #2461
@teolemon That would mean extracting those product fields from the server:
- [x] NAME
- [x] BRANDS
- [x] BARCODE
- [x] ATTRIBUTE_GROUPS

That can be implemented in pure SQL with the following tables:
[code]
Or something more compact, like a dedicated table with all the attributes as columns.

The thing is, that's a good idea to cache tons of products locally, but you'll get very poor performances

[2022-07-02 07:45] M123-dev commented on #2464
Totally agree we need better server side support, not just for this but also for things like the account header in the settings.

But FYK that will be fixed in some time as another Google Summer of Code student has a project of switching to a pre-made Auth solution with OAuth and things like that. Don't know more then that but looking foreward to that.

[2022-07-02 07:58] teolemon commented on #536
mostly done on https://github.com/openfoodfacts/fastlane-descriptions-smoothie

[2022-07-02 07:58] #536 closed, assigned to nobody

[2022-07-02 08:03] teolemon commented on #921
Unassigning you @GowthamGoush

[2022-07-02 08:30] #1165 closed, assigned to nobody

[2022-07-02 11:45] monsieurtanuki commented on #2461
I'm about to start a new project called "fast food":
* experimental flutter project
* access to offline food data in read-only mode
* the most simple UI, no camera, no barcode scan
* the most compact SQL database and the best performances

Creating a project aside sounds like a good idea to me:
* no interferences with the rest of Smoothie
* best conditions to compute performances
* the failed and

[2022-07-02 12:01] teolemon commented on #2461
Note that @AshAman999 is working on this as part of his Google Summer of Code project: https://wiki.openfoodfacts.org/GSOC_2022_-_Offline_Smoothie

[2022-07-02 12:04] monsieurtanuki commented on #2461
@teolemon @AshAman999 Oops, then I stop.
I would suggest to do it first in a separate project and to focus on the read-only mode first.

[2022-07-02 13:49] M123-dev commented on #2442
We should still change the English translation so that the translators are forces to change it as well.

We should probably check if there is a way to edit a text without deleting the old one right away

[2022-07-02 13:51] M123-dev commented on #2460
#2414 isn't merged yet

Amy idea @monsiertarnuki

[2022-07-02 13:54] M123-dev commented on #1235
@teolemon can we in the future not directly create a issue for every task if not needed, this just leads to more complex conversarion flows and more notifications

[2022-07-02 13:56] monsieurtanuki commented on #2460
@M123-dev I must be blind: I cannot see what's wrong with the screenshot.
Anyway, whatever was coded in #2414 is probably not relevant, as the asset svg files are only fallback versions when offline or with slow connection.

[2022-07-02 14:00] M123-dev commented on #2460
Can't see a problem there either but I'm not a expert on these scores so I guess @teolemon must see something we don't

[2022-07-02 14:01] M123-dev commented on #2451
Should already be in place, just named cache

[2022-07-02 14:06] M123-dev commented on #2439
💯

Especially the `UserPreferences` got really fat

[2022-07-02 14:10] M123-dev commented on #2410
I would say it should be directly added, by opening not by closing

But when remembering correct we did it this way due to some wrong provider use from us

Probably setState while building as we notify in the build method

[2022-07-02 14:12] M123-dev commented on #2348
Can this be closed @cli1005

[2022-07-02 14:14] M123-dev commented on #2373
Assigned myself but won't be able to work on it for some time if anyone wants to take it feel free to do so. There should be a PR in the git history where I did exactly that should be just a thing of doing the same changes again

[2022-07-02 14:26] M123-dev commented on #1907
Just assigning myself to not forget to test this

[2022-07-02 14:33] M123-dev opened #2466 "About this app dialog broken"
### What
- ![Screenshot_20220702-163301_Gallery.jpg](https://user-images.githubusercontent.com/39344769/177005049-5da51e0d-dfb6-400e-8c43-8260a94317b9.jpg)

[2022-07-02 15:53] monsieurtanuki opened #2467 "Making the app available for MacOS / Windows / Linux"
### Problem
I would like to use `macos` as a `flutter run` target. For the moment it's not possible.

### Proposed solution
The first step would be to add `macos` as a possible platform, which generates about 500 `macos` files.
Then additional specific fixes would be needed, like the fact that the camera may not be supported.

### Additional context
* The first reason is that on my old 2011 macboo

[2022-07-02 16:17] g123k commented on #2467
We will have issues with some plugins (the camera for example), where we should mock the implementation.
FYI, the Android emulator now have a resizable feature, allowing to easy change the form factor

[2022-07-02 16:18] g123k commented on #2413
Any idea on what we should do?
These infos are relevant, but only for camera-related issues

[2022-07-02 16:23] teolemon opened #2469 "Adding a little space before the action button in sub-KP"
### What
- Adding a little space before the action button in sub-KP

### Part of
- #499
- #379

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/177008505-a402f673-2355-4de5-a40c-30c6877bcc22.png)

[2022-07-02 16:23] monsieurtanuki commented on #2467
The Android emulator is even slower to start than the iOS emulator (and slower to run).
We already use `device_preview` (we still?), but in reality we don't use it - at least I don't use it, and I doubt many developers use it on a regular basis. That's the added value: I wouldn't have to specifically use `device_preview`, I'd automatically have a "different" (and resizable) screen. While developin

[2022-07-02 16:28] teolemon opened #2470 "2 small improvements for taxonomized fields edit view"
### What
- Add the plus button to the right of the text field (to follow the logical order, otherwise, you tend to forget to tap on it, and thus your edit is lost)
- Another complementary option is to autosave separate entries on commas, like in v1

![image](https://user-images.githubusercontent.com/1689815/177008649-7a398787-3d0a-4b1e-aec9-86430930310c.png)

### Screenshot
![image](https://user-i

[2022-07-02 16:32] teolemon opened #2471 "Allow to view/take the nutrition photo from the nutrition edit view"
### What
- Allow to view/take the nutrition photo from the nutrition edit view

### Part of
- #503

[2022-07-02 16:39] teolemon opened #2473 "Make textfield more visible in dark mode for ingredient/packaging extraction"
### What
- Make textfield more visible in dark mode for ingredient/packaging extraction

![image](https://user-images.githubusercontent.com/1689815/177008989-491fc390-9f28-41b3-93ab-a66edde10208.png)

[2022-07-02 16:40] teolemon opened #2474 "Little tweaks for ingredients/packaging extraction"
### What
Little tweaks for ingredients/packaging extraction

![image](https://user-images.githubusercontent.com/1689815/177009024-4c34c729-288d-4151-af9c-3fc6f579f497.png)

[2022-07-02 16:44] #2469 closed, assigned to monsieurtanuki

[2022-07-02 16:56] teolemon opened #2475 "Link to the native "Products to be completed view" from the settings "Improve" modal"
### What
- Link to the native "Products to be completed view" from the settings "Improve" modal
![image](https://user-images.githubusercontent.com/1689815/177009474-67264841-cd5f-417c-a332-2d56ca5ab800.png)

[2022-07-02 17:07] teolemon opened #2476 "Add a link to the password reset view in "Your profile" when logged in"
### What

- [ ] Add a link to the password reset view in "Your profile" when logged in
- [ ] We could probably tweak the view to autofill the username/email in that case

### Part of
- #1382

[2022-07-02 17:29] #2470 closed, assigned to monsieurtanuki

[2022-07-02 17:34] teolemon commented on #2337
Here's a mockup of editing mode (I realized I didn't have one).
- I've added
  - a Full edit mode button
  - Inline image prompts + Miniature of images if here
  - A way to display a scanneable barcode of the product
<img width="132" alt="image" src="https://user-images.githubusercontent.com/1689815/177010590-7eda64ea-4f4b-4d36-a9fc-ff614e36589d.png">

[2022-07-02 17:45] teolemon opened #2478 "Add homescreen integrations"
### What

- [ ] Add homescreen integrations
  - [ ] Add a Scan shortcut for homescreens
  - [ ] #3108
  - [x] #3107

### Part of
- #2479

[2022-07-02 17:45] teolemon opened #2479 "Deep OS integrations (tracker)"
### What
- [ ] Add Settings panel integration on Android
- [ ] #3236

### Part of
- #525

[2022-07-02 18:04] teolemon opened #2480 "Add on-device search results integration"
### What

- [ ] Add on-device search results integration

### Mockup
![image](https://user-images.githubusercontent.com/1689815/177011645-737d1ec7-66ff-4324-b008-67238dca2285.png)

### Part of
- #2479

[2022-07-02 18:31] M123-dev commented on #2478
Dublicate of https://github.com/openfoodfacts/smooth-app/issues/921?

[2022-07-02 20:43] g123k commented on #2478
I'm not sure the shortcut for the scan is useful, as it's already the entry point of the app
(I'm not sure Good first issue is an accurate label here, as it require native skills)

[2022-07-03 05:29] monsieurtanuki commented on #2466
Fixed by #2468.

[2022-07-03 05:29] #2466 closed, assigned to g123k

[2022-07-03 05:48] teolemon opened #2482 "Use the standard filterable dropdown for the DEV mode language selection"
### What

- [ ] Use the standard filterable dropdown for the DEV mode language selection

### Part of
- #960
- #1171

### Mockup
<img width="422" alt="image" src="https://user-images.githubusercontent.com/1689815/177026725-cc43db18-1aae-49ec-ad34-87f421046318.png">

[2022-07-03 06:07] teolemon opened #2483 "Create a plan to enable the tracking of environmental impact"
### What
- Discuss and create a plan to enable the tracking of environmental impact

### [ML] Create systems to populate the personal statistics section fastly and easily using Receipts from 3rd party apps/Camera
- [ ] Create a Share Receipt with Open Food Facts intent that accepts Images and PDF
- [ ] Create a view to take a photo of a receipt/Upload one from camera roll/document picker
- [ ] Use

[2022-07-03 06:10] teolemon commented on #1171
Unpinning, since complete

[2022-07-03 06:12] teolemon commented on #519
fixed

[2022-07-03 06:13] teolemon commented on #520
Mostly fixed, we don't have the origin of ingredients part yet

[2022-07-03 06:19] teolemon commented on #2478
ok @g123k  going to close
@M123-dev : wasn't a duplicate, quick actions happens on long press on the icon

[2022-07-03 06:19] #2478 closed, assigned to nobody

[2022-07-03 06:32] teolemon commented on #2460
Same issue in light mode:
![image](https://user-images.githubusercontent.com/1689815/177028026-e3279b60-f2b2-4030-840a-1497cf785362.png)

[2022-07-03 06:34] teolemon commented on #2460
![image](https://user-images.githubusercontent.com/1689815/177028130-bfac5c78-bbf4-49a1-88df-449f52751acb.png)

[2022-07-03 06:35] teolemon commented on #2460
https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/assets/cache/ecoscore-d.svg

[2022-07-03 07:04] monsieurtanuki commented on #2460
@teolemon Maybe now I understand what you mean: you expect the ecoscore border to match the color, right?
What I can say:
* we use the same svg for dark and light for ecoscore (and most svg)
* if I have a look at the asset folder the display is correct (green border)
![Capture d’écran 2022-07-03 à 08 35 54](https://user-images.githubusercontent.com/11576431/177028169-4a66baaf-28e0-43ce-9a5f-af4c

[2022-07-03 08:13] M123-dev commented on #1171
I think we can close then, right

Would make the issue list clearer

[2022-07-03 08:48] teolemon commented on #1343
The problem is for usability reason it should be on top (having to scroll, esp if infinite scrolling is contrarian), but it's a little obnoxious
<img width="268" alt="image" src="https://user-images.githubusercontent.com/1689815/177032357-89461c9e-ad3d-448b-afe4-2c75a0137e2d.png">

[2022-07-03 09:32] teolemon commented on #766
<img width="170" alt="image" src="https://user-images.githubusercontent.com/1689815/177033812-6d705337-758c-467b-8f88-2d917b69657e.png">

[2022-07-03 09:32] monsieurtanuki commented on #1343
Btw, duplicate with #2339.

I'm sure there are other ways in 2022 to alert the user.

E.g. a [banner](https://material.io/components/banners#anatomy):
![Capture d’écran 2022-07-03 à 11 23 43](https://user-images.githubusercontent.com/11576431/177033544-d9a286ad-b955-4560-8b60-c64a95dd706a.png)

In flutter it's called a [`MaterialBanner`](https://material.io/components/banners/flutter#banners-exa

[2022-07-03 09:36] teolemon opened #2484 "Add Server-side image cropping and rotation in the Photo manager (expanded view accessible from the photo carousel)"
### What
- [ ] Add Server-side image cropping and rotation in the Photo manager (expanded view accessible from the photo carousel)
### Part of
- #766

[2022-07-03 11:10] AshAman999 commented on #2482
I remember i had done the custom dropdown search feat for the country selector, as there is not default drop down search in flutter , guess we can implement that method into out own custom widget.

https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/pages/onboarding/country_selector.dart
It might help a bit

[2022-07-03 12:02] teolemon commented on #1343
It's mostly for countries with little to no products yet.

[2022-07-03 12:27] monsieurtanuki commented on #1343
Is there a list of such countries?

[2022-07-03 13:09] monsieurtanuki commented on #1343
In a first approach we can put a switch item in dev mode: "propose world products yes/no"

[2022-07-03 13:12] teolemon commented on #1343
Not really, it's a gimmick from the web version

[2022-07-03 13:28] teolemon opened #2485 "Allowing distribution on Chromebooks via PlayStore ?"
### What
- Allowing distribution on Chromebooks via PlayStore ?
- They do have built in cameras

### Blockers
- [ ] We should ensure the navigation is OK with a keyboard (by @g123k).

### Related
- #2063

### Part of
- #2515

### Screenshot
![PXL_20220703_132249198.jpg](https://user-images.githubusercontent.com/1689815/177041930-44a93864-013f-44fd-b454-446fbd081358.jpg)

[2022-07-03 14:29] teolemon opened #2486 "Create a list of all photos available for a product"
### What

- [ ] Create a list of all photos available for a product
  - [ ] Add selection capability
  - [ ] Add photo reporting capability
  - [ ] It should be available as a section in Edit Mode, probably

### Screenshot from V1
![image](https://user-images.githubusercontent.com/1689815/177044268-9a62bec4-5060-478b-88cd-0bcffa87e8df.png)

[2022-07-03 14:46] AshAman999 commented on #2473
### Now
![image](https://user-images.githubusercontent.com/57723319/177044914-35ffd828-6f3b-4e65-8edc-c983bbb65ddc.png)

Will something like this work ? @teolemon

[2022-07-03 15:07] abughalib commented on #2482
Can I work on this?

[2022-07-03 15:32] AshAman999 commented on #2482
Sure go ahead...

[2022-07-03 18:08] teolemon opened #2488 "Layout issue in product name"
### What
- [ ] Layout issue on this product on a pixel 4

![Screenshot_20220703-172246.png](https://user-images.githubusercontent.com/1689815/177052022-51c865bd-b702-4334-b1fc-fbb448af005d.png)

![Screenshot_20220703-172255.png](https://user-images.githubusercontent.com/1689815/177052033-cb42bbd3-90c0-4711-adae-e8653f86c171.png)

[2022-07-03 18:09] teolemon commented on #2488
![Screenshot_20220703-172318.png](https://user-images.githubusercontent.com/1689815/177052077-c7f7e51b-2c54-49e1-8999-52b3aaa57df4.png)

[2022-07-03 18:39] M123-dev opened #2489 "Fix register checkbox darkmode"
### What
![Screenshot_20220703-203745_Gallery.jpg](https://user-images.githubusercontent.com/39344769/177052909-6917e1fa-7848-41e6-81f9-078885f1371a.jpg)

Looks right in light mode

![Screenshot_20220703-203837.jpg](https://user-images.githubusercontent.com/39344769/177052945-834701ef-eed5-4bbd-89a3-e7c8aefe543c.jpg)

[2022-07-03 18:40] M123-dev opened #2490 "Make the product page action row top aligned"
### What
![Screenshot_20220703-203731.jpg](https://user-images.githubusercontent.com/39344769/177052979-a862128d-0211-4897-9717-bb71a8fceda1.jpg)

[2022-07-03 20:07] M123-dev opened #2492 "Wrong german translation"
### What
- German wrong translation
- There is no such "Bionda lager"
- ![Screenshot_20220703-220422.jpg](https://user-images.githubusercontent.com/39344769/177055601-8bff2cd1-2f9d-4765-badb-586c251d7b87.jpg)

[2022-07-04 04:39] #2473 closed, assigned to AshAman999

[2022-07-04 05:21] abughalib commented on #2489
Working on it.

[2022-07-04 05:59] teolemon commented on #2492
Are you sure it's not a personal list ?

![Screenshot_20220704-075918.png](https://user-images.githubusercontent.com/1689815/177090747-cec0c7d0-db00-421b-b82a-95f2bbff4f80.png)

[2022-07-04 06:00] teolemon commented on #2492
Or is it not the name of the product to be added to the list ?

[2022-07-04 06:34] M123-dev commented on #2492
Ohh yes it's the product name my bad

[2022-07-04 06:34] #2492 closed, assigned to nobody

[2022-07-04 06:36] teolemon commented on #2488
Can reproduce on my Pixel 6
![image](https://user-images.githubusercontent.com/1689815/177095656-124954fe-58c9-41fb-b887-d5a6498de040.png)
https://world.openfoodfacts.org/product/5400113626084/mandarines-delhaize

[2022-07-04 07:28] teolemon commented on #1707
I'll assume fixed, although the proposed UI was discarded

[2022-07-04 07:28] #1707 closed, assigned to nobody

[2022-07-04 07:30] teolemon commented on #1683
Closing for now, let's focus on adding autocompletion to the current view.

[2022-07-04 07:30] #1683 closed, assigned to monsieurtanuki

[2022-07-04 07:41] #2394 closed, assigned to g123k

[2022-07-04 07:41] #2398 closed, assigned to g123k

[2022-07-04 07:41] #2399 closed, assigned to g123k

[2022-07-04 11:42] abughalib commented on #2489
![Screenshot_1656934616](https://user-images.githubusercontent.com/33085535/177147701-f682a867-8c08-4a32-b0d7-85d25e2b8fee.png)
![Screenshot_1656934626](https://user-images.githubusercontent.com/33085535/177147714-b96e0beb-b77a-40c8-95f3-c99d41324758.png)
@M123-dev Does it look any better?

[2022-07-04 11:58] M123-dev commented on #2489
Yes way better @abughalib

[2022-07-04 12:00] stephanegigandet commented on #2442
It would be good  to test a few wordings / ways to displays. "Find alternatives that match with you" is very descriptive, but maybe too long for a button, and some translations might be longer "Trouvez des alternatives qui vous correspondent".

Maybe something shorter like "Similar products" on a button, possibly with a tooltip the first time to explain that we can show products that match prefere

[2022-07-04 12:27] Malik-Tuseef commented on #2490
i solved this issue and create pull request

![Simulator Screen Shot - iPhone 13 Pro Max - 2022-07-04 at 17 26 16](https://user-images.githubusercontent.com/107627043/177154713-789cf653-ea29-4fcc-8ac6-ea6f06e59704.png)

[2022-07-04 13:28] teolemon commented on #2315
@monsieurtanuki the best solution I have right now is using the States taxonomy: https://static.openfoodfacts.org/data/taxonomies/states.json

[2022-07-04 13:29] teolemon commented on #2315
Otherwise, the tags are stored in https://github.com/openfoodfacts/openfoodfacts-server/blob/e32683cdfdf05b9e83667efaa8494c0dd17e65b4/po/tags/fr.po and not in a structured form

[2022-07-04 13:38] teolemon commented on #2486
Duplicate of #2351

[2022-07-04 13:38] #2486 closed, assigned to nobody

[2022-07-04 13:38] teolemon commented on #2351
Proto-reporting API: https://github.com/openfoodfacts/openfoodfacts-infrastructure/issues/125

[2022-07-04 13:43] #2490 closed, assigned to nobody

[2022-07-04 14:21] teolemon opened #2495 "People have issues with cropping"
### What
People have issues with cropping
par hlrx.33 – 30 juin 2022
Impossible de recadrer une photo lors de l’éditon d’un produit. ("Unable to crop a photo when editing a product.")

[2022-07-04 14:23] M123-dev opened #2496 "Update local nutriscore svg cache"
### What
- https://user-images.githubusercontent.com/39344769/177173705-093fa8ad-0f1f-45ea-bc91-76f8359a1db9.mp4

[2022-07-04 14:58] #2331 closed, assigned to g123k

[2022-07-04 15:18] #2489 closed, assigned to abughalib

[2022-07-04 19:02] g123k commented on #2495
@teolemon Could you add details about the device please?

[2022-07-04 19:03] g123k commented on #2488
For the about dialog, is-it still reproducible after my PR #2468?

[2022-07-04 19:03] g123k commented on #2485
Before doing that, we should ensure the navigation is OK with a keyboard (I don't think this is the case)

[2022-07-05 04:34] AshAman999 commented on #2451
I guess what it meant is show the cached product, but if network is there automatically update it, without even the user knowing it ?
Is it what's intented here ???

[2022-07-05 04:54] monsieurtanuki commented on #2496
@M123-dev Can't see the video. It's not the first time it happens - lots of problems rendering github videos.
Could you post snapshots of the interesting parts of your video?

[2022-07-05 05:16] AshAman999 commented on #2447
### **Findings in terms of time taken, I think we can go ahead with this**
To write 25 products when searched `jam` when using compression
` Total extra time in milisecods to write: 72`

To write 25 products when searched `jam` when not compressing
` Total extra time in milisecods to write: 74`

### Why it's bit fasterto write in case where we use compression?
Possibly when writing to sqlite the d

[2022-07-05 05:42] monsieurtanuki commented on #2447
Thank you @AshAman999, it really looks good to store compressed json instead of text: 5 times smaller, and no performance drawback in read or write.

For the record, you can't really start from a `2ms` result for one product and extrapolate to 25 products. `2ms` is approximately the smallest duration you can measure, it can mean `1.5ms` or `2.49ms` (a factor 2 between them), and `sqflite` may have

[2022-07-05 06:06] AshAman999 commented on #2447
Yeah, that was the point here, had run it multiple times even reinstalling to run em seperately and had run in the profiler mode last time, had the same results I remember

Well we can store i guess around 10,000 products under 80mb, that's not bad , besides to let the user know if something is in the database or not here's the suggestion from pierre to just store the barcodes for 1M products if f

[2022-07-05 06:19] monsieurtanuki commented on #2447
I don't know what the target is, regarding the number of stored products.
If 10K is OK, I have good news for you: you can right away download and store 10K products to see if the app still works fine.

That would be in another specific table, with just the barcode, as primary key in TEXT.
~The barcode is about 13 character long, let's say it's UTF-8 then 26 bytes, additional table management let's

[2022-07-05 06:31] monsieurtanuki commented on #2315
@teolemon What you suggest wouldn't be very elegant:
1. we start from the "standard" url https://world.openfoodfacts.org/informer/monsieurtanuki/state/to-be-completed.json
2. we translate `informer` (we need the translations)
3. we translate `state` (we need the translations)
4. we translate `to-be-completed` thanks to https://static.openfoodfacts.org/data/taxonomies/states.json that only translat

[2022-07-05 06:37] M123-dev commented on #2496
| First second after opening the app | a second after that (or maybe the other way around) |
| -- | -- |
| ![VideoCapture_20220705-083358.jpg](https://user-images.githubusercontent.com/39344769/177264633-3190e6fc-b897-4344-a566-3087cd749b88.jpg) | ![VideoCapture_20220705-083353.jpg](https://user-images.githubusercontent.com/39344769/177264669-8fbced22-b825-49b9-a5a4-0b65f67ee466.jpg) |

But this i

[2022-07-05 07:05] monsieurtanuki commented on #2496
@M123-dev As I suggested earlier (to @lsaudon probably), if you want a frequent refresh of the svg files in Smoothie code from the server, there's probably some github actions to code and invoke, or something like that.

We're not caching the downloaded svg files: `flutter_svg` already does, in memory.

Current values:
| name | server | asset |
| -- | -- | -- |
| `nutriscore-unknown.svg` | ![Captu

[2022-07-05 08:26] Malik-Tuseef commented on #2495
@g123k if you are not woking on this issue
@teolemon  assign it me

[2022-07-05 08:32] #2496 closed, assigned to monsieurtanuki

[2022-07-05 08:35] M123-dev commented on #2495
What is your plan to do @Malik-Tuseef this issue doesn't seem to give a direct plan on what to do

[2022-07-05 08:37] Malik-Tuseef commented on #2495
i solved this issue
![Simulator Screen Shot - iPhone 13 Pro Max - 2022-07-05 at 13 30 11](https://user-images.githubusercontent.com/107627043/177286685-5dd1c1da-e4cf-48da-b343-f091d6732369.png)

[2022-07-05 08:40] Malik-Tuseef commented on #2495
its issue on ios devices only

[2022-07-05 09:02] Malik-Tuseef commented on #2495
i am new can you tell me why i am not pass (formatting issue) when create pull request?

[2022-07-05 09:03] monsieurtanuki commented on #2315
The problem is that we cannot really force the language to `null`:
* if we put `null` as `language` parameter it is not considered as "we want no value" but "please put the default value". We can fix that in Smoothie by setting the default value to `null`
* but then we have another problem: all the "in-languages" fields make the app crash as there's no language

[2022-07-05 09:23] monsieurtanuki commented on #2439
That is what I plan to implement regarding product refresh:
1. we need stupid `Widget`s that take a `Product` as input parameter, like `StatelessWidget`s - let's call them "A"
2. upstream of "A" widgets, we need widgets that detect the changes on the product, like `StatelessWidget`s with provider/`select` and `FutureBuilder`/`DaoProduct.get` - let's call them "B". Typical existing example is the p

[2022-07-05 09:33] M123-dev commented on #2439
Not really the plan looks good to me, just to number 5, even though it's nearly instant I would still add a loading indicator in case due to some bad circumstances it takes a few seconds more.

[2022-07-05 09:38] AshAman999 commented on #2495
@Malik-Tuseef run `flutter format .` locally then do the test
Alternatively u can run the test locally with `flutter test .`

[2022-07-05 09:49] monsieurtanuki commented on #2439
@M123-dev I agree, though it would be a bit lazy to put a `CircularProgressIndicator` (not worse than `Container` I admit). Well, we'll see, that goes a bit beyond that issue: in the case of the product list page instead of watching 25 progress indicators we could see 25 "empty" smooth-product-card-found template (like, in grey), like what you see sometimes in websites when the data is not loaded

[2022-07-05 10:00] M123-dev commented on #2439
Maybe something like this

"shimmer | Flutter Package" https://pub.dev/packages/shimmer

But as you said that's not a priority in any terms

[2022-07-05 10:08] teolemon commented on #2380
From a user: "Breaking problem:
- When adding labels or categories, there are no more suggestions made when typing. This is a huge problem because you cannot add products to existing categories or add existing labels to a product, except by pure chance of spelling them exactly as it is spelled in the existing category. And you dont even know which categories exist. Because of this I have to switch

[2022-07-05 10:12] monsieurtanuki commented on #2380
Ok I work on this in priority.

[2022-07-05 11:17] teolemon opened #2501 "Implement simplified origin input"
### What
- In addition to origin extraction from the ingredient list, we now parse the origin of ingredients field for Eco-Score computation. - It's a tag-based field that works like the others.
- [ ] Implement simplified origin input (by duplicating what we do for other tag fields)

![Image](https://user-images.githubusercontent.com/1689815/177315624-5c81b6e9-dc61-4d96-9167-3253afcce69e.png)

###

[2022-07-05 11:24] teolemon opened #2576 "Add OSM attribution"
### What
From a user: "First of nice with the OpenStreetMap addition, it's just that you forgot to add attribution..  You need a notice in the map that leads to https://www.openstreetmap.org/copyright

Also i can't find the share button.. "

### Part of
- openfoodfacts/openfoodfacts-server#5493

[2022-07-05 11:36] teolemon opened #2502 "User Feedback (July)"
### What
- This is user feedback in bulk. We need to investigate the underlying issues, what we want to act on, etc…
- [ ] I don't like that to add/complete products you have to tap on every category of data one after another, instead of being led through the categories as in the old app.
- [x] #2513
- [ ] It would be nicer if the colored dots for the selected properties (like vegan, palm oil, ...

[2022-07-05 11:40] lsaudon commented on #2460
We could make a package for the assets.
And have an example project with all assets displayed.

This will allow us to know quickly if there is any regression.

[2022-07-05 11:47] monsieurtanuki commented on #2460
The regression check is not an issue; see what we do with "goldens".
What I don't know is how possible it is to have the svg refreshed from the server to the asset folder.
Regarding a specific package for the assets, I don't see the added value, and as you noticed we don't use packages internally. The migration packages are specific to a temporary action and are supposed to be removed one day or t

[2022-07-05 12:18] teolemon opened #2503 "Make the language switcher available to all users"
### What

- [ ] Make the language switcher available to all users
- user feedback: "Bonjour je n'arrive pas a mettre mon application en français. La langue de mon Iphone est en portugais mais je veux que cette application soit en francais, car quand je cherche une produit dans la barre de recherche je ne le trouve pas s'il n'est pas tapé en portugais.

Bien a vous.
- "Hello, I can't put my applica

[2022-07-05 12:18] teolemon opened #2504 "Signup-issue reported by user"
### What
Hi open food facts team,

Hope you are well.

I’ve been trying to sign up for a few days now as I’d like to contribute to the missing data by entering food info.

I just keep getting an error message but with no reason why - can you help?

The message says unrecognised request error.

Best wishes,

### Part of
- User management

[2022-07-05 12:19] teolemon commented on #2504
A second user reports that, I've asked for clarifications, and screenshots of the form before and after error

[2022-07-05 12:26] teolemon opened #2505 "Update the app on the Amazon App Store"
### What

- [ ] Update app on the Amazon App Store
- I get the following error message
[code]

### Part of
- #2515

[2022-07-05 12:35] g123k commented on #2505
It seems to be related to the Android version.
The previous release supported Android 4.x, whereas now the min version is 21 (Android 5).

So that's "normal"

[2022-07-05 12:37] g123k commented on #2504
@teolemon Could you ask if they log-in by email or id, please?

[2022-07-05 12:38] g123k commented on #2503
If I understand well, we should provide two fields:
- one for the server location (which is already available in the app)
- one for the app language

Was-it done like this in V1?

[2022-07-05 12:57] g123k commented on #2505
Well, it seems to be related to the fact that MLKit (= Firebase) is not supported on those devices.
A same build as FDroid should be provided here.

- #1882

[2022-07-05 13:39] hangy commented on #2576
1. https://github.com/openfoodfacts/openfoodfacts-server/blob/4089e59639e67d5813ff5c37e9b6d007b232eab6/html/js/display-map.js#L29
2. https://github.com/openfoodfacts/openfoodfacts-server/blob/d37011a49cc816bcb2722222dbaad3ed171d1482/html/js/display-tag.js#L45

Do we have any more maps?

[2022-07-05 13:53] M123-dev commented on #2504
https://user-images.githubusercontent.com/39344769/177344473-8cc5872c-813e-4b69-8c4c-053e58f8fb85.mp4

[2022-07-05 15:03] g123k commented on #2504
Mmm it's an error 400 from the server.
Any idea @stephanegigandet?

The same example as @M123-dev
<img width="763" alt="Screenshot 2022-07-05 at 17 02 45" src="https://user-images.githubusercontent.com/246838/177358748-d816261a-6590-426c-85a7-98d100db0fb3.png">

[2022-07-05 16:12] #2380 closed, assigned to monsieurtanuki

[2022-07-05 16:30] teolemon opened #2507 "CocoaPods could not find compatible versions for pod "Sentry""
### What

- [ ] Episode 10 of "CocoaPods vs Sentry"
-       CDN: trunk Relative path: Specs/3/7/4/TOCropViewController/2.6.1/TOCropViewController.podspec.json modified during this run! Returning local
    [!] CocoaPods could not find compatible versions for pod "Sentry":
      In snapshot (Podfile.lock):
        Sentry (= 7.18.0, ~> 7.18.0)
      In Podfile:
        sentry_flutter (from `.symlinks

[2022-07-05 16:35] teolemon commented on #2507
Also, this build is cursed 😈
<img width="358" alt="image" src="https://user-images.githubusercontent.com/1689815/177375233-7ed95f4e-cc4d-408c-a949-99bbaa26201f.png">

[2022-07-05 17:07] teolemon commented on #2503
Nope, we didn't have a notion of country for the Eco-Score.

[2022-07-05 17:56] teolemon opened #2508 "I don't get the Nutri-Score (eg my changes are not applied by Robotoff) when answering a category question (logged-in)"
### What
- I don't get the Nutri-Score (eg my changes are not applied by Robotoff) when answering a category question (logged-in)
- This is very annoying

[2022-07-05 17:57] teolemon commented on #2508
poke @alexgarel but I'm not sure if it's Smoothie or Robotoff at fault

[2022-07-05 18:50] monsieurtanuki commented on #2508
@teolemon I don't know that much about Robotoff, but the thing is to refresh the product after the call.
I'll see that tomorrow.

[2022-07-05 18:51] teolemon commented on #2508
Manual refresh does not work it seems

[2022-07-05 18:55] monsieurtanuki commented on #2508
What about the website? Is it refreshed? Or does Robotoff take some time anyway?

[2022-07-05 19:40] g123k commented on #2504
Actually your ids @M123-dev are already used by an account, hence the error.
With a brand new username/email, it's OK.

We need more details about what was filled by the user

[2022-07-05 19:54] g123k opened #2509 "Sign up form: different font styles"
Everything is summarized in this screenshot:
![Screenshot_1657049739](https://user-images.githubusercontent.com/246838/177405474-3dde1723-9b06-412f-8c0e-bae8dde89c6f.png)

- The blue link have the wrong font
- The font size of the second checkbox isn't similar with the first one

[2022-07-05 20:05] monsieurtanuki commented on #2507
cf. [The Number of the Beef](https://www.youtube.com/watch?v=WxnN05vOuSM) by Iron Maiden in [Spinal Tap](https://www.youtube.com/watch?v=RsOxgwF9LlM) mode ;)

Hey I've got good news, it's never going to happen again. Until version 6.6.6.

[2022-07-05 20:12] monsieurtanuki commented on #2507
Fix: cf. https://github.com/openfoodfacts/smooth-app/issues/1300#issuecomment-1075487899

I don't know how we can imagine Sentry version 7.18.0 from a line like this in `pubspec.yaml`:
[code]

[Edit: added]
In the `Podfile.lock`:
[code]

It's clearer now, isn't it? No it isn't.

[2022-07-05 21:45] M123-dev commented on #2504
Not quite @g123k the video I send was initally longer.

I first had `test1` then switched to `test12` then to `test123` then to `test123123`

For the first three I got another "Username already taken" dialog so I cut this part out of the videi

[2022-07-05 22:12] M123-dev commented on #2507
I guess or rather hope running smoothie on a Mac and commit your so called "wtf" file changes could fix the issue.

But that's not a long term solution, we should find a way to make this secure.

Unfortunately I have no experience with cocoapods so nearly all of my knowledge comes from reading your comments.

I just checked and dependabot [doesn't support cocoapods](https://github.com/dependabot/d

[2022-07-06 03:19] AshAman999 commented on #2447
My estimates were kinda same here as well(17mb) I thought of,
Besides https://fr.openfoodfacts.org/api/v2/search?fields=code&page_size=100 I don't know how else to get the barcodes for all the products and is there any other way to do so.

Besides tested ther apk with around 10,500 products cached, things were working just the same,

https://user-images.githubusercontent.com/57723319/177460608-3d3

[2022-07-06 05:03] monsieurtanuki commented on #2508
Having a look at the code, what I can quickly say is that the current implementation of `QuestionPage` inside Smoothie seems to include the refresh of the product after the user gave at least one answer.
My question, again: how fast does Robotoff work on the server side? Is the computation immediate? If so, we should get a refreshed version immediately, shouldn't we?

[2022-07-06 05:09] monsieurtanuki commented on #2447
Cool!

Just use the `page=2` parameter, and again and again :)
A bigger page size would help, too.
But that URL is good, I don't know a better one anyway.

[2022-07-06 05:35] teolemon commented on #2508
It's working well and instantly on the web version and V1. We probably need to check what we send.

[2022-07-06 05:37] monsieurtanuki commented on #2507
There could be tons to write about that, including the interest of some attached videos or large screenshots that will stay forever. Or of Codecov mails I still haven't found what they were all about.

I have no experience with cocoapods, dependabot or Podfile and I don't even know what they're here for. I code in OOP and SQL, if possible the rest should be a black box to me - I have limited bandw

[2022-07-06 05:58] monsieurtanuki commented on #2508
In `question_page.dart`, we post the answer in method `_saveAnswer`.
We don't seem to check the `Status`.
[code]

Besides, there seems to be a general confusion between `ProductQuery.getUser()` and `OpenFoodAPIConfiguration.globalUser`, which would need to be solved. Do we still need the test user `smoothie-app`?

[2022-07-06 08:03] Malik-Tuseef commented on #2509
![simulator_screenshot_AF899088-6234-4AFC-9180-1F50CCFE56D2](https://user-images.githubusercontent.com/107627043/177500981-4d431a7d-fcb2-41f5-9603-dcc086a50f33.png)
its ok?

[2022-07-06 08:14] stephanegigandet commented on #2315
@monsieurtanuki I'm fixing the redirect server side.

But those kinds of URLs (adding .json to web site URLs to get the products) should not be used in the app, they are mostly for debugging purposes.

We should use the search API instead, and there won't be redirects.

e.g. https://world.openfoodfacts.org/api/v2/search?informers_tags=monsieurtanuki&states_tags=en:to-be-completed&lc=fr&cc=fr

[2022-07-06 08:20] stephanegigandet commented on #2315
Server side fix: https://github.com/openfoodfacts/openfoodfacts-server/pull/7019

[2022-07-06 08:30] teolemon commented on #1371
Or we could stick to the Web UI as a first iteration, potentially in a separate view from the current search first
<img width="620" alt="image" src="https://user-images.githubusercontent.com/1689815/177506335-eed44eb8-4580-4c6f-bbe7-e5331ee0bc87.png">

[2022-07-06 10:05] teolemon opened #2512 "Explain what the region setting does"
### What
- From a power user:
- Explain what the region setting does.
  - What if the App/System language is different from that regions language?
  - The first product I wanted to edit had a name in a foreign language (neither System nor region language).
  - Should I delete it and replace it with the name in my language?
  - Must that correspond to the regions language/whats written on the produ

[2022-07-06 10:06] teolemon opened #2513 "Move "edit product" "add to list" & "share" buttons between the Summary card and the Health Card"
### What
- Power user report: I would prefer the "edit product" and "add to list" buttons to be at the top, so you dont need to scroll through everything to get there. #2513
- We could compromise, and put them between the summary and the health card
### Part of
- #1265

[2022-07-06 10:15] teolemon opened #2514 "Multilingual products (Tracker)"
### What
- Tracking our quest for support of multilingual products (which are common, especially in multilingual countries, but not only)

### Tasks
- [ ] #2512
- [ ] #1536
- [ ] #2422
- [ ] #2423
- [ ] #2431

### Part of
- #525

[2022-07-06 10:22] teolemon opened #2515 "Distributing the app widely (tracker)"
### What

### Tasks
- [ ] #2505
- [ ] #2485
- [ ] #920
- [x] #1882
- [ ] Deploy the app on Mac
- [ ] https://github.com/openfoodfacts/smooth-app/issues/5807
- [ ] https://github.com/openfoodfacts/smooth-app/issues/3918

### Done
- [x] #1313
- [x] #2519

### Part of
- #525

[2022-07-06 10:54] monsieurtanuki commented on #2315
Thank you @stephanegigandet!
I'm fixing the URL according to your specs on the off-dart side too.

[2022-07-06 11:37] stephanegigandet commented on #2315
Great, thank you!

[2022-07-06 11:47] M123-dev opened #2516 "Bring back the match percentage"
### What
- Bring back the % how much the product matches my preferences in the comparison

[2022-07-06 11:54] M123-dev opened #2517 "Hunger Games in Smoothie"
### What
- I really like the concept of Hungergames
- What about a Hungergames clone in Smoothie ?
- Not "The HUNGER GAMES" but https://hunger.openfoodfacts.org/
- Don't know anything about the history of this project but this could really lead to more contributions

[2022-07-06 12:29] teolemon commented on #2517
So to be honest, I did want to open an issue like 40 min ago, and I said to myself, too geeky. But +1 as a power user.
We could include it in the next to "Products to be completed" when you are logged in.

[2022-07-06 12:30] teolemon commented on #2516
- Dupe of #1951

[2022-07-06 12:32] teolemon commented on #2488
So I added the about dialog just for debugging, but it's fixed.

[2022-07-06 12:42] teolemon opened #2518 "Support for US units"
### What

### Tasks
- [ ] Support for US units for input (Might need server-side rework)
- [ ] Support for US units for display (Server-side)
- [ ] Create a nutrition input mode that mimicks the US nutrition label

![Image](https://user-images.githubusercontent.com/1689815/177177726-0cfb544a-99af-4907-8109-0879dcb87cc8.png)

### Part of
- #525
- https://github.com/openfoodfacts/openfoodfacts-serve

[2022-07-06 12:53] teolemon commented on #2517
Actually, thinking once more about this, we could do like in V1:
Leverage the deep link system of Hunger Games:
on themes: categories, labels, ecoscore
when we get V2 Navigation + Facets, we can even do per facet deeplinks

[2022-07-06 13:38] teolemon opened #2519 "Add a "Share Open Food Facts with your friends" in Contribute"
### What
- Add a "Share Open Food Facts with your friends" in Contribute
- It would prepopulate a message to be shared by any mean, very much like the product specific sharing on the product page

### Part of
- #2515

[2022-07-06 13:39] #2516 closed, assigned to nobody

[2022-07-06 13:41] teolemon commented on #2517
The Wikipedia app has a few themes available, for instance
![image](https://user-images.githubusercontent.com/1689815/177563800-4e8d178d-5b91-4bd6-9fc8-35d88c27989e.png)

[2022-07-06 13:50] teolemon opened #2520 "Show the number of edits in the your profile section"
### What
- [ ] Show the number of edits in the your profile section
  - [ ] https://world.openfoodfacts.org/editor/teolemon.json?fields=name
  - [ ] https://world.openfoodfacts.org/photographer/teolemon.json?fields=name
  - [ ] https://world.openfoodfacts.org/contributor/teolemon.json?fields=name

### Example in the Wikipedia app
<img width="284" alt="image" src="https://user-images.githubusercont

[2022-07-06 14:17] abughalib commented on #2482
Preview @teolemon

https://user-images.githubusercontent.com/33085535/177571750-20f0a4c7-9bb9-4004-9d75-51d97b03add4.mp4

[2022-07-06 15:36] monsieurtanuki commented on #2508
@teolemon Any idea how to test Robotoff, I mean, some interesting barcodes?

[2022-07-06 15:38] teolemon commented on #2508
<img width="368" alt="image" src="https://user-images.githubusercontent.com/1689815/177589424-3a4a50d6-8aa1-459d-98b2-965f81c052c0.png">
https://world.openfoodfacts.org/product/1200101017955/cranberry-sans-sucres-ajoutes

[2022-07-06 15:38] teolemon commented on #2508
There's a pending brand insight.

[2022-07-06 15:38] teolemon commented on #2508
For category (eg Eco-Score/Nutri-Score: https://hunger.openfoodfacts.org/?type=category)

[2022-07-06 15:39] monsieurtanuki commented on #524
I think it doesn't make sense anymore with the autocomplete text.
Feel free to reopen if relevant.

[2022-07-06 15:39] #524 closed, assigned to darrenaustin, monsieurtanuki

[2022-07-06 16:04] teolemon opened #2522 "Add the ability to input the serving size (monolingual free text)"
### What

- [ ] Add the ability to input the serving size (monolingual free text)

### Part of
- #511

[2022-07-06 16:05] teolemon commented on #522
@M123-dev I've created #2514
Can I close this one ?

[2022-07-06 16:05] #505 closed, assigned to nobody

[2022-07-06 16:16] monsieurtanuki commented on #2508
What I can say in my first test with `1200101017955` is that the status was OK (`status.status` was `'vote_saved'`).

Test in Italy with `8034066309144`:
* on my app, I said it was a dairy product
* status was `'updated'`
* immediately on the website the category appeared and the nutriscore was computed
* and the product was refreshed on my app

Next test with screenshots, on `7613038649931`.
* I

[2022-07-06 16:17] #2315 closed, assigned to monsieurtanuki

[2022-07-06 18:45] M123-dev commented on #2482
Looks great @abughalib

[2022-07-07 06:35] g123k opened #2526 "Feature: Extract barcode from the clipboard"
### What
This is a feature I really love on deliveries/tracking applications.
Basically, when this kind of application starts, it checks if a barcode is in the clipboard. If so, a dialog asks the user if he wants to use it or not.

A similar feature on Smoothie would be very nice (may be disabled by default, to do not scare users)!
### Part of
-

[2022-07-07 06:36] g123k commented on #2519
@teolemon  Could you add the sentence to share? (even if you can change it afterward via Crowdin)

[2022-07-07 06:38] g123k commented on #2330
@teolemon Is-it still a thing?

[2022-07-07 07:07] teolemon commented on #2330
Nope

[2022-07-07 07:07] #2330 closed, assigned to nobody

[2022-07-07 08:34] teolemon commented on #2061
closing

[2022-07-07 08:34] #2061 closed, assigned to nobody

[2022-07-07 08:35] teolemon commented on #2121
Fixed

[2022-07-07 08:35] #2121 closed, assigned to nobody

[2022-07-07 08:43] #2495 closed, assigned to Malik-Tuseef

[2022-07-07 08:44] #2509 closed, assigned to Malik-Tuseef

[2022-07-07 13:39] g123k commented on #2467
I can work on this one.

However, splitting the app like done in #2320 is a requirement.

[2022-07-07 13:49] monsieurtanuki commented on #2467
I don't understand the added value of splitting the app. That said, I don't understand #2320 either :)

[2022-07-07 13:50] g123k commented on #2467
#2320 allows to have dev dependencies, which are different from the release variant

[2022-07-07 14:08] monsieurtanuki commented on #2467
That I understood, but I find disproportionate to see 99 file changes in #2320 (though probably relevant), especially for a feature that we don't really use (`device_preview`) and that has side-effects. And I fear that making a "second version" has 2 drawbacks: 1. will we really use both versions while developing? 2. If we do use the "dev" version, won't it hide possible side-effects in the "norma

[2022-07-07 14:28] teolemon commented on #2349
Dupe of #1882

[2022-07-07 14:37] teolemon opened #2528 "Refactoring (tracker)"
### What
- #1712
- #1888
- #1647
- #1313
- #1815
- #1824
- #2439
- #2621

### Part of
- #525

[2022-07-07 14:44] teolemon opened #2529 "Negative point, illegible for color blind people and presbyopia (RGAA): texts in light orange font :("

[2022-07-07 14:44] teolemon opened #2530 "Illegible for color blind people and presbyopia (RGAA): texts in light orange font"
### What
From a user report:

- [ ] Illegible for color blind people and presbyopia (RGAA): texts in light orange font

### Part of
- Accessibility

[2022-07-07 14:44] teolemon opened #2531 "Bug: When you click from the home page on "Search", the Samsung virtual keyboard opens and closes immediately. It should stay open."
### What
- Bug: When you click from the home page on "Search", the Samsung virtual keyboard opens and closes immediately. It should stay open.
### Part of
- #525

[2022-07-07 14:54] #2447 closed, assigned to AshAman999

[2022-07-07 14:57] teolemon commented on #2241
closing as a result

[2022-07-07 14:57] #2241 closed, assigned to nobody

[2022-07-07 15:17] teolemon opened #2532 "It seems there is a lot of out of memory on iOS"
It seems there is a lot of out of memory on iOS
https://sentry.io/organizations/openfoodfacts/issues/3319940198/events/a9477f5d455645e1af1243f5f3d9f51c/?project=5376745&query=is%3Aunresolved

We should investigate this

_Originally posted by @g123k in https://github.com/openfoodfacts/smooth-app/issues/2309#issuecomment-1159798717_

[2022-07-07 15:18] teolemon commented on #2309
Going to close if that's ok with you

[2022-07-07 15:29] g123k commented on #2531
I'm not able to reproduce the issue, but I have an idea on why it may happen

[2022-07-07 15:41] #2349 closed, assigned to nobody

[2022-07-07 15:49] teolemon commented on #2529
Dupe of #2530

[2022-07-07 15:49] #2529 closed, assigned to nobody

[2022-07-07 15:54] teolemon commented on #2365
@vik4114 would you be available for live debugging on your Redmi device ? Are you having scanning issues ?
cc @g123k

[2022-07-07 16:06] monsieurtanuki commented on #2530
Suggested tool for color contrast compliancy: https://webaim.org/resources/contrastchecker/

In addition to contrasted enough colors - so that the text is legible by anybody - comes the question of color blind people - where the difference between red and orange is too hard to see.

A suggestion: texts always in black (or white)
And
* either a different multicolor icon according to the level (like

[2022-07-07 16:09] teolemon commented on #2519
"I wanted to let you know about the app I've been using, Open Food Facts, which allows you to get the health and environmental impacts of your food, in a personalized way. It works by scanning the barcodes on the packaging. Finally it's free, does not require registration, and you can even help increase the number of products decyphered. Here's the link to get it for your phone: https://openfoodfa

[2022-07-07 16:10] teolemon commented on #2519
@g123k let's try this wording

[2022-07-07 16:11] monsieurtanuki commented on #2519
The download links to android and ios would make sense too.

[2022-07-07 16:13] teolemon commented on #2519
done @monsieurtanuki

[2022-07-07 16:14] teolemon commented on #2519
It's a magic link on mobile devices

[2022-07-07 16:35] #2309 closed, assigned to nobody

[2022-07-07 16:35] g123k commented on #1815
This issue is already fixed

[2022-07-07 16:38] monsieurtanuki commented on #1815
@g123k I don't think it's fixed at all.
@M123-dev just put some lint check blockers in #1814, but the target is not to dismiss all the lint checks.

[2022-07-07 16:41] g123k commented on #2504
@M123-dev I'm not sure to really understand the issue here.
I've tried many cases and all of them seem OK

The only thing we can improve is maybe to highlight the faulty field (eg : username already taken)

[2022-07-07 16:47] M123-dev commented on #2504
I think I found the problem,
we have a dedicated error message for a taken username but not for a taken email adress. Probably to be fixed in off-dart

![VideoCapture_20220707-185227.jpg](https://user-images.githubusercontent.com/39344769/177828231-15d8ee7d-43f8-480e-863b-83bf4d7648be.jpg)

![VideoCapture_20220707-185223.jpg](https://user-images.githubusercontent.com/39344769/177828249-34f3a9b8-ac

[2022-07-07 16:50] teolemon commented on #2461
Per @AshAman999 's computation in #2447
### All 2,4M barcodes
[code]

- [ ] Create a server side solution to dump all barcodes

### Products (everything including KP, compressed)
[code]
### Images
[code]
107MB for 10k (front image)
https://squoosh.app/editor

[2022-07-07 16:53] M123-dev opened #2536 "Make the signup error messages translatable"
### What
- the error messages come from off-dart
### Code pointers

### Part of
- #1382

[2022-07-07 16:54] M123-dev opened #2537 "The signup congratulations are disappointing"
### What
- ![VideoCapture_20220707-185421.jpg](https://user-images.githubusercontent.com/39344769/177828567-258a00d6-f056-4785-9d8d-54f47d480715.jpg)

[2022-07-07 17:07] g123k commented on #1815
Ooops you're right, sorry

[2022-07-07 18:52] monsieurtanuki commented on #2537
My suggestion:
`Herzlichen Glückwunsch! Ihr Konto wurde erstellt ;)`

That's slightly more fun.

![Capture d’écran 2022-07-07 à 20 48 11](https://user-images.githubusercontent.com/11576431/177848523-16125a84-a0f5-4f1f-ae0f-c56d9d31d920.png)

[2022-07-07 19:13] g123k commented on #2365
Mmm it was back in April. Not sure if the initial issue is still happening.

[2022-07-07 21:20] M123-dev commented on #2365
Bad news just started the app on my mothers phone (Samsung Galaxy A71)

App Start -> Black camera -> open another page -> wait for camera to close -> go back -> camera works

Happend two times in a row, can't say more have to check this tomorrow for more details

[2022-07-07 21:22] M123-dev opened #2540 "Native keyboard should submit in the signup form"
### What
The "ok' button on the native virtual keyboard on the signup page should not close the keyboard but submit/login
### Part of
- #1382

[2022-07-07 21:24] M123-dev opened #2541 "Sending emails with log "Empty files are not allowed""
### What
- To be tested on more devices but my logs seem to be empty
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/177938095-7539ab6a-83f6-4c76-aa4b-77f7e17218ac.png)

[2022-07-07 21:27] M123-dev opened #2542 "Knowledge panel addition not always correct"
### What
- Opened a product -> no eco score -> opened the eco score knowledge panels -> prompts me to add missing categories -> has already 10+ categories

- We should show what is really missing for computing the score

- Don't know if it needs work on the client/ server or on both sides

@monsieurtanuki @stephanegigandet

![Screenshot_20220706-131929.jpg](https://user-images.githubusercontent.co

[2022-07-07 21:28] M123-dev commented on #2542
https://de-de.openfoodfacts.org/product/8027547000012

[2022-07-07 21:30] M123-dev opened #2543 "Sharing a product via social media should not add parameters"
### What
- When sharing a product:

Schauen Sie sich dieses Produkt auf Open Food Facts an: https://de-de.openfoodfacts.org/product/8027547000012?app_name=Smoothie+-+OpenFoodFacts&app_version=3.4.5%2B669&app_uuid=40cfc360ac0d4596&app_platform=android%2BSP1A.210812.016.G991BXXS5CVFB&comment=+-+Smoothie+-+OpenFoodFacts+-+3.4.5%2B669+-+android%2BSP1A.210812.016.G991BXXS5CVFB

- We should not add the

[2022-07-07 21:49] g123k commented on #2365
Is-it the stable version @M123-dev? Because I'm not sure the patch is available in this build

[2022-07-08 05:40] monsieurtanuki commented on #2542
@M123-dev @stephanegigandet The problem comes from the server side - https://de.openfoodfacts.org/api/v2/product/8027547000012?fields=knowledge_panels:
[code]

[2022-07-08 07:16] teolemon commented on #2541
Same here. I attached a screenshot

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/177938095-7539ab6a-83f6-4c76-aa4b-77f7e17218ac.png)

[2022-07-08 07:19] monsieurtanuki commented on #2541
No error message in flutter logs?
Maybe something similar to https://stackoverflow.com/questions/18249007/how-to-use-support-fileprovider-for-sharing-content-to-other-apps

[2022-07-08 07:22] teolemon commented on #2365
Redmi @g123k : I have other occurences in other channels, including people with emails

[2022-07-08 07:30] teolemon opened #2544 "The app is above the Play Store bad behaviour threshold"
### What

- [ ] The app is above the Play Store bad behaviour threshold

### Screenshot
<img width="913" alt="image" src="https://user-images.githubusercontent.com/1689815/177940393-29758ded-2490-4e84-8876-19f4940894c8.png">

[2022-07-08 07:30] teolemon commented on #2544
<img width="913" alt="image" src="https://user-images.githubusercontent.com/1689815/177940733-cf5110ed-8bfe-4932-a62a-6c6e821b616d.png">

[2022-07-08 07:33] teolemon commented on #2544
<img width="913" alt="image" src="https://user-images.githubusercontent.com/1689815/177941114-abe203d8-e18a-4bcd-aadc-271a0ed44ea8.png">

[2022-07-08 07:35] g123k commented on #2365
I wonder if we shouldn't have a dedicated form for this issue, to have the maximum information required

[2022-07-08 08:17] g123k opened #2545 "Android crash: Sentry dependency upgrade needed"
Hello,

On Android, we have many crashes on devices with Android 5 and 6:
[code]

The problem seems to be fixed in 6.6.2 (https://github.com/getsentry/sentry-dart/pull/923)

[2022-07-08 08:23] sentry[bot] opened #2547 "OutOfMemory: The OS most likely terminated your app because it overused RAM."
Sentry Issue: [SMOOTHIE-WJ](https://sentry.io/organizations/openfoodfacts/issues/3319940198/?referrer=github_integration)

[code]

[2022-07-08 08:23] sentry[bot] opened #2548 "OutOfMemoryError: Failed to allocate a 3686736 byte allocation with 119544 free bytes and 116KB until OOM, max allo..."
Sentry Issue: [SMOOTHIE-12K](https://sentry.io/organizations/openfoodfacts/issues/3385404843/?referrer=github_integration)

[code]

[2022-07-08 08:24] M123-dev commented on #2544
Opened
- #2547
- #2548

[2022-07-08 08:26] monsieurtanuki commented on #2548
@g123k I guess it's either the crop or the scan that need 3Mb, what do you think?

[2022-07-08 08:44] #2545 closed, assigned to g123k

[2022-07-08 10:08] stephanegigandet commented on #2542
It's a wording issue, I will replace "Could you categorize the product so that we can compute the Eco-Score?" by "Could you add a precise product category so that we can compute the Eco-Score?"

[2022-07-08 10:22] teolemon opened #2550 "Instrument the "Signup successful" modal in Matomo"
### What
- Instrument the "Signup successful" modal in Matomo
- That provides a health check for signup
- This should not be seen as a substitute for a test 🙃

### Part of
- [ ] Analytics

[2022-07-08 10:23] stephanegigandet commented on #2542
Server side PR: https://github.com/openfoodfacts/openfoodfacts-server/pull/7038

[2022-07-08 10:27] teolemon opened #2551 "Introducing a simple "Rate app" link in settings"
### What

- [ ] Introducing a simple "Rate app" link in settings
- [ ] Example of what Citymapper does
### Part of
- #2515

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/177974889-b2158640-4d67-48a4-b5fb-6383154e7d6e.png)

[2022-07-08 10:29] teolemon opened #2552 "The offline icon placeholder in the image carousel is ugly and confusing"
### What

- [ ] The offline icon placeholder in the image carousel is ugly and confusing
- [ ] We should think of an icon (or even a custom design) that could be more fitting
  - [ ] cloud_off could be a better replacement.

![image](https://user-images.githubusercontent.com/1689815/177975146-0636c722-9d47-4de8-8c98-b28c76e427df.png)

[2022-07-08 10:30] teolemon opened #2553 "The "to be completed products" are… completed"
### What

- [ ] The "to be completed products" are… completed

### Blocked on
- https://github.com/openfoodfacts/openfoodfacts-dart/pull/532

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/177975387-a14073a3-0874-46a5-8248-c18ca2d65a9a.png)

[2022-07-08 10:49] g123k commented on #2548
We need advanced profiling to understand the issue here.
We have two potential issues :
- MLKit + camera are too memory heavy for some devices
- There is/are memory leak(s)

[2022-07-08 10:51] monsieurtanuki commented on #2548
I read something about isolate and memory leaks. Could be interesting.

[2022-07-08 10:58] monsieurtanuki commented on #2553
Strange. What if you refresh the list?

[2022-07-08 11:13] monsieurtanuki commented on #2553
Assuming that the problem is that someone else just fixed them, perhaps the solution would be - for those "very dynamic" products likely to disappear (e.g. "to-be-completed" products) - never to use the database first but always check the server.

[2022-07-08 11:36] teolemon commented on #2553
I believed we had nocache=1 on the previous query as well

[2022-07-08 11:37] teolemon commented on #2553
(and this issues happens even after refresh)

[2022-07-08 12:15] #2542 closed, assigned to nobody

[2022-07-08 12:36] teolemon opened #2554 "Add error_username_not_available and error_email_already_in_use in the body of the Signup response"
### Problem

- In https://github.com/openfoodfacts/smooth-app/pull/2535/files, we attempt to parse the response, but it will fail in languages other than English.
- [ ] Add error_username_not_available and error_email_already_in_use in the Signup response as an hidden comment so that we have a quick language independant solution

[2022-07-08 13:00] teolemon commented on #2576
Attribution in the app, for the map served using Knowledge Panels API. We could add a source to the knowledge panel, that would probably be enough to comply

[2022-07-08 13:02] g123k commented on #2365
@teolemon To better track this issue, what's the release number including my fixes on the camera?

[2022-07-08 13:11] g123k opened #2555 "Sign up form: UX improvements"
### What
- [After reading this article](https://makeitclear.com/insight/ux-ui-tips-a-guide-to-creating-world-class-forms), I think we should improve the sign-up process to better highlight when a field is OK or have an incorrect value.
- Linked to #2535
### Part of
- #1382

[2022-07-08 15:05] #2001 closed, assigned to monsieurtanuki

[2022-07-08 15:06] teolemon commented on #2256
@M123-dev fixed ?

[2022-07-08 15:19] teolemon opened #2557 "test gh projects token"
Story: #
test gh projects token

[2022-07-08 15:22] teolemon opened #2558 "test gh projects"
### What
- test gh projects

[2022-07-08 15:23] #2558 closed, assigned to nobody

[2022-07-08 15:23] #2557 closed, assigned to nobody

[2022-07-08 15:44] monsieurtanuki commented on #2553
@teolemon Actually none of the products you mentioned are perfect:
1. https://fr.openfoodfacts.org/produit/7613035530799/nesquik-moins-de-sucres-poudre-cacaotee-boite-350g-nestle
1. https://fr.openfoodfacts.org/produit/3182180002115/grilletine-ble-complet-x18-pasquier
1. https://fr.openfoodfacts.org/produit/5449000054227/coca-cola
1. https://fr.openfoodfacts.org/produit/3366321052416/st-hubert-bio

[2022-07-08 16:35] monsieurtanuki commented on #2530
Weather Emoji suggestion:

| before | after |
| -- | -- |
| ![Capture d’écran 2022-07-08 à 18 33 14](https://user-images.githubusercontent.com/11576431/178033443-f478e7b9-fe32-4453-b319-8cafdaa61588.png) | ![Capture d’écran 2022-07-08 à 18 34 03](https://user-images.githubusercontent.com/11576431/178033553-6f7ab96b-4bc2-48be-9f6c-83b75f1ba9d2.png) |

[Edit: added]
And with the sun:
![Capture d

[2022-07-08 17:15] monsieurtanuki commented on #2537
This is the [email Derek Sivers wrote](https://sive.rs/cdbe) when he sent CDs years ago:

A team of 50 employees inspected your CD and polished it to make sure it was in the best possible condition before mailing.
Our packing specialist from Japan lit a candle and a hush fell over the crowd as he put your CD into the finest gold-lined box that money can buy.
We all had a wonderful celebration afte

[2022-07-08 20:15] M123-dev commented on #2256
Think so

[2022-07-08 20:15] #2256 closed, assigned to g123k

[2022-07-08 20:15] M123-dev commented on #2256
I'll reopen if I see it again

[2022-07-09 17:19] #2552 closed, assigned to AshAman999

[2022-07-09 17:27] teolemon commented on #1261
@PrabeshPP @g123k This one is probably solved

[2022-07-09 17:53] g123k commented on #1261
+1 I think so

[2022-07-09 17:59] teolemon commented on #2501
@monsieurtanuki could you add origins of ingredients editing by cloning the tag editing view (eg for stores) ?
Sifting through user reviews, that's something people want back in the new app.

User 1: "Le calcul Ecoscore est erroné, car il applique une pénalité de -5 point, alors que l’origine des ingrédients est connu, mais ne peut être ajoutée dans la base depuis la nouvelle appli."
User 2: "Impo

[2022-07-09 18:59] teolemon opened #2561 "Input in mg is saved as g for sodium"
### What
Reported by Sumit
![image](https://user-images.githubusercontent.com/1689815/178119263-c4d9694c-dbfa-4832-80b5-693e3c11b3b2.png)
![image](https://user-images.githubusercontent.com/1689815/178119265-e30fb044-39f5-4a14-ac7a-dfb722f2491b.png)
![image](https://user-images.githubusercontent.com/1689815/178119275-8025c589-9292-4e38-92d0-4c411a72d902.png)
https://world.openfoodfacts.org/product/

[2022-07-09 21:01] #1261 closed, assigned to nobody

[2022-07-10 06:20] monsieurtanuki opened #2563 "Better UI/UX for "edit product" page"
### Problem
Here is the current "edit product" page:
![Capture d’écran 2022-07-10 à 08 14 07](https://user-images.githubusercontent.com/11576431/178133624-75c3d112-4f29-405f-a166-4dc9eb3bb0aa.png)
It's not very attractive, and we don't see everything we can change in a first glance because we need to scroll. And more "edit" items are coming...

### Proposed solution
A more compact layout with bi

[2022-07-10 06:27] teolemon commented on #2563
- I think the thing that's more annoying is the actual editing form (having to deep dive into sections to see what can be done).
- Putting a second dimension (horizontal) to parse is probably going to aggravate the complaints of power users (about being able to edit in one time)
- For regular editing mode in sections, what we could add is a filter on top, sort in alphabetical order, and potentiall

[2022-07-10 06:45] monsieurtanuki commented on #2563
* What's more annoying is perhaps that dialog "saving the product..." each time we exit a sub-edit page, that cuts the momentum. When we deal with offline it won't be a problem anymore.
* I don't believe we'll implement a unique page for all sub-edit pages. That said, I can try will all the "simple pages", but the special ones (like nutrition facts) will probably not be part of it.
* maybe reorder

[2022-07-10 11:39] teolemon commented on #2563
![Product edition (1)](https://user-images.githubusercontent.com/1689815/178143351-1d440e60-44b0-4f7d-a41c-4bd1c28226d4.png)

[2022-07-10 12:01] monsieurtanuki commented on #2563
![Capture d’écran 2022-07-10 à 14 01 38](https://user-images.githubusercontent.com/11576431/178143996-004dddd3-b7d0-40b5-bf36-ab9881a46b63.png)

[2022-07-10 12:14] teolemon commented on #2422
![Basic details (1)](https://user-images.githubusercontent.com/1689815/178144479-be444832-5c7c-4381-bd52-d9dbd1a30a83.png)

[2022-07-10 12:15] teolemon commented on #2422
![Multilingual recycling list](https://user-images.githubusercontent.com/1689815/178144503-809c1e25-e757-4ad0-8c99-cdb3372e25d0.png)

[2022-07-10 12:57] teolemon commented on #2563
Can you add the arrows present in settings ?

[2022-07-10 13:09] monsieurtanuki commented on #2563
![Capture d’écran 2022-07-10 à 15 09 22](https://user-images.githubusercontent.com/11576431/178146228-e0088749-beea-4405-ad94-7f7debfb8058.png)

[2022-07-10 13:12] teolemon opened #2564 "Make it possible to edit the ingredients in several languages"
### What
- [ ] Make it possible to edit the ingredients in several languages
### Mockup
  - [ ] ![Multilingual ingredient list](https://user-images.githubusercontent.com/1689815/176435943-2e61329a-0962-4316-848a-461d4088016a.png)

### Part of
- #2422

[2022-07-10 13:14] teolemon opened #2565 "Make it possible to edit the product name in several languages"
### What

- [ ] Make it possible to edit the product name in several languages
  - [ ] ![Basic details (1)](https://user-images.githubusercontent.com/1689815/178144479-be444832-5c7c-4381-bd52-d9dbd1a30a83.png)

### Part of
- #2422

[2022-07-10 13:16] teolemon opened #2566 "Make it possible to edit the packaging text in several languages"
### What
- Essentially the same job as #2564
- [ ] Make it possible to edit the packaging text in several languages
  - [ ] ![Multilingual recycling list](https://user-images.githubusercontent.com/1689815/178144503-809c1e25-e757-4ad0-8c99-cdb3372e25d0.png)
### Part of
- #2422

[2022-07-10 13:27] teolemon commented on #2563
Many of the icons are non standard from : https://www.figma.com/file/nFMjewFAOa8c4ahtob7CAB/Mobile-App-Design-(Quentin)?node-id=155%3A1991 (icon 8)

[2022-07-10 14:01] teolemon commented on #2544
@M123-dev not sure how it is related ? bad copy paste ?

[2022-07-10 14:02] teolemon commented on #2544
The new release that rolled out Friday should start to fix things

[2022-07-10 18:22] M123-dev commented on #2544
Ohh yes @teolemon had the numbers in the middle in the wrong order, updated the comment

[2022-07-11 07:27] #2501 closed, assigned to monsieurtanuki

[2022-07-11 07:36] teolemon opened #2572 "Reuse the icons from the knowledge panels for ingredients and nutrition edit"
### What
- Reuse the icons from the knowledge panels for ingredients and nutrition edit sections, in edit mode

### Part of
- #503

[2022-07-11 08:30] teolemon opened #2573 "Autoexpand collapsed line from table when in sub-knowledge panel"
### What
- Autoexpand collapsed line from table when in sub-knowledge panel

![image](https://user-images.githubusercontent.com/1689815/178222095-a5e9f4c2-3078-4f93-9c34-2424e1fef14c.png)

### Part of
- #499

[2022-07-11 08:39] teolemon opened #2574 "Add explainers in all sections of edit mode"
### What
- Add explainers in all sections of edit mode
- Categories
  - "Indicate only the most specific category. Parent categories will be automatically added."
  - "In case a category is not available in autocomplete, feel free to add it anyway, that will help us improve Open Food Facts in your country."
  - "Examples: Sardines in olive oil, Orange juice from concentrate"
- Packaging
  - "List

[2022-07-11 08:42] teolemon opened #2575 "Smoothie is composed of one sliced orange"
### What
- Smoothie is composed of one sliced orange

### Part of
- #1171

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/178224094-9bea3a95-9a5f-4e9d-8240-355c64df5810.png)

[2022-07-11 09:02] stephanegigandet commented on #2576
The attribution could be done as an extra source field in the knowledge panel, but it would definitely be much cleaner to do it in the app.

The same knowledge panel displayed on the web site already has attribution in the map itself:

![image](https://user-images.githubusercontent.com/8158668/178228017-97d9a71a-c5fe-4f1a-82d4-b253f1a4ceae.png)

The best solution would be that the app adds the att

[2022-07-11 09:32] g123k commented on #2575
Mmm that's strange. Are you in light/dark mode?

[2022-07-11 09:34] g123k commented on #2540
I have implemented it for the login in #2578
Will do the same with sign up, once the PR is merged (an attribute is missing in the TextFormField)

[2022-07-11 09:35] monsieurtanuki commented on #2575
@g123k I'm about to PR. The problem is that the brightness check was on the device brightness, not on the app brightness.

[2022-07-11 09:45] #2575 closed, assigned to monsieurtanuki

[2022-07-11 10:59] AshAman999 commented on #2537
Listened to the whole email message,
Yes probably we should send something similar to our newly signed up users  🤣

[2022-07-11 11:28] monsieurtanuki commented on #2573
@teolemon Just checking: we no longer display tables in the "main" product page, right? Only in the detailed pages like "nutrition data"?

[2022-07-11 11:30] teolemon commented on #2573
Indeed, unless there's a manual override from the user

[2022-07-11 12:22] g123k commented on #543
Implemented in the app a few weeks ago

[2022-07-11 12:22] #543 closed, assigned to nobody

[2022-07-11 12:24] g123k commented on #2206
What kind of error messages are expected here?
Should we add a Retry button maybe?

[2022-07-11 14:10] #2519 closed, assigned to g123k

[2022-07-11 16:05] #2574 closed, assigned to monsieurtanuki

[2022-07-11 17:25] #2572 closed, assigned to monsieurtanuki

[2022-07-12 05:33] monsieurtanuki commented on #2563
I think we're done now.

[2022-07-12 05:33] #2563 closed, assigned to monsieurtanuki

[2022-07-12 09:36] g123k opened #2585 "Account removal: ask the user for a reason"
Hi everyone,

It seems Apple allows us to ask the user [why he wants to delete his account](https://developer.apple.com/support/offering-account-deletion-in-your-app/).

A nice addition in the app would be a dialog just before sharing the mail asking for a reason (TODO: Create the list).

And in the email content, add the reason (not mandatory).

[2022-07-12 11:09] monsieurtanuki commented on #2396
Spoiler alert: we _never_ need `List<Product>`s.
I think I'll be able to PR something clean by the end of the week.
We'll get rid of tons of Sentry errors, and we'll have a faster app that uses less memory :)

[2022-07-12 12:53] monsieurtanuki commented on #2396
@teolemon Slightly related: do we still need to implement the "filter (category)" button on the product query page?
Basically, to do that we need to parse all the products first, which is a bit in contradiction with the new product list implementation.

Possible answers:
1. Yes we still need the filter
2. Yes we need the filter, but that's OK if we skip it for a couple of weeks and then put it bac

[2022-07-12 15:31] #2375 closed, assigned to nobody

[2022-07-12 15:32] teolemon commented on #1907
we can close I believe

[2022-07-12 15:52] teolemon opened #2586 "Add in-context onboarding for various parts of the app"
### What
[code]

### Part of
- #525

[2022-07-12 16:07] monsieurtanuki commented on #1815
Synchronous BuildContexts | Decoding Flutter
https://www.youtube.com/watch?v=bzWaMpD1LHY

[2022-07-12 19:50] g123k opened #2588 "App needs some love on small devices"
### What

- Here's what the app looks like on an iPhone Touch.
- We (really) have to improve how the app scales.
### Part of
- #525
### Screenshots
<img src="https://user-images.githubusercontent.com/246838/178581571-c5c548ac-fad2-4128-9b40-4d32d336bfcf.png" width="200px">
<img src="https://user-images.githubusercontent.com/246838/178581582-ff780bde-3e42-4427-9ca0-711c2d856629.png" width="200px">

[2022-07-13 08:30] g123k commented on #2588
- I will probably work on this one (as it's really easy to fix).
- But I first need https://github.com/openfoodfacts/smooth-app/pull/2587 to be merged and maybe also https://github.com/openfoodfacts/smooth-app/pull/2534

[2022-07-13 09:45] teolemon commented on #1371
I've opened an openfoodfacts-dart issue https://github.com/openfoodfacts/openfoodfacts-dart/issues/515
because I fear we might be lacking full support from the V2 search endpoint

[2022-07-13 13:15] teolemon opened #2590 "Allow directing new products to other projects"
### What
- [ ] Allow directing new products to other projects
  - [ ] Allow to pick the project
  - [ ] Make it possible to send the API route on the fly for the product addition screen
  - [ ] Redirect to a prompt to install the other apps (for the time being, and just for OBF in the case of iOS)

### Why
- People keep adding non-food items to Open Food Facts (and even thank us for cosmetic suppo

[2022-07-13 13:55] teolemon commented on #2590
<img width="787" alt="image" src="https://user-images.githubusercontent.com/1689815/178751037-290a458a-2660-4c0c-95ce-db9d1b4f588d.png">

[2022-07-13 15:33] teolemon commented on #2517
@M123-dev
![image](https://user-images.githubusercontent.com/1689815/178773236-91f307bd-698b-4cdd-bc73-173ba92e4e27.png)

[2022-07-13 15:36] teolemon commented on #2517
Other variants:
![image](https://user-images.githubusercontent.com/1689815/178773689-d05b78ed-0954-4a41-aeab-d1749cf405fe.png)

[2022-07-13 16:06] g123k opened #2591 "[Discussion] App modularization"
Hi everyone,

We now have a few pending issues regarding:
- The ability to have only dependencies during our developments (PR #2320)
- Being able to have a non-MLKit barcode decoder for FDroid or Amazon devices (Issue #1882)
- Redirect the user to the store to rate the app

Dart (and Flutter) doesn't allow us to have dynamic dependencies, like Gradle would on Android.
The only solution is to have

[2022-07-13 17:53] M123-dev commented on #2591
I don't know of a better way to do this if we don't have official flutter support.

I mean we could ask if there is a maybe undocumented way or if it's on the todo list but if not I'm fine with doing it this way.

[2022-07-13 18:11] monsieurtanuki commented on #2591
Hi @g123k!

If I understand well:
1. we need to build different apps for Android, because our current version uses Google packages that we cannot/we don't want to put in FDroid or Amazon stores
2. it's not possible to have a unique smart `pubspec.yaml` that - according to env variables for instance - would build either the google or the amazon version

I'm a bit puzzled because somehow we manage t

[2022-07-13 19:10] monsieurtanuki commented on #2396
So far so good in my dev:
* that's a fact - we never need `List<Product>`s
* we need lists of barcodes instead
* there are (so far) 2 cases when we need to apply a function to a `List<Product>`
  * when we want to filter them by category - we loop on the barcodes, get each product and find its categories (even with 1K products we just get one `Product` at at time)
  * when we want to sort them by

[2022-07-14 15:26] teolemon opened #2594 "java.lang.AssertionError io.flutter.plugins.camera.features.exposurepoint.ExposurePointFeature.buildExposureRectangle"
### What
- "Nr.1" issue on the Play Console, still here in latest version, only happens on Samsung Devices
- java.lang.AssertionError io.flutter.plugins.camera.features.exposurepoint.ExposurePointFeature.buildExposureRectangle
- Unsure if any visible impact

### Play Console stacktrace
java.lang.AssertionError:
  at io.flutter.plugins.camera.features.exposurepoint.ExposurePointFeature.buildExposur

[2022-07-14 15:50] teolemon opened #2595 "Adding a category does not update the sub-knowledge panel"
### What
- Adding a category does not update the sub-knowledge panel

### Part of
- #1325
- #1925

[2022-07-15 09:04] monsieurtanuki opened #2599 "Action bars crash the app in "edit product detail pages""
### What
- From https://github.com/openfoodfacts/smooth-app/pull/2587, action bars make the app crash in some pages.

### Steps to reproduce the behavior
1. Go to a product
2. Go to "edit product"
3. Go to "edit stores"
4. See error

### Screenshot
![Capture d’écran 2022-07-15 à 11 00 47](https://user-images.githubusercontent.com/11576431/179190945-9c0ed9e1-079d-4fd5-acaf-69f487ddc3e9.png)

<det

[2022-07-15 11:10] M123-dev opened #2600 "Knowledge panels addition packaging"
### What
![Screenshot_20220714-200427.jpg](https://user-images.githubusercontent.com/39344769/179212050-cae9e5a1-34a8-412f-aeab-c72f737a9981.jpg)

[2022-07-15 11:10] M123-dev commented on #2600
Cc @stephanegigandet @monsieurtanuki

[2022-07-15 11:11] M123-dev opened #2601 "Markup parse"
### What

I can be wrong here but the "###" looks like markup and as such somewhat doesn't look good in the cards.

![Screenshot_20220714-200434.jpg](https://user-images.githubusercontent.com/39344769/179212177-897bc936-c0ab-41f2-98da-4a1fd94ac80f.jpg)

[2022-07-15 11:13] monsieurtanuki commented on #2600
@M123-dev Please:
* attach smaller screenshots in general
* provide a little bit of context here more specifically

[2022-07-15 11:13] M123-dev opened #2602 "Can't stop product refresh via button"
### What

Should be fixed but maybe it's enough to remove the alter there as we have the circle on the top of the screen when refreshing, so we don't block the UI

https://user-images.githubusercontent.com/39344769/179212401-573b93cf-5bc1-4fc4-bf02-822012560245.mp4

[2022-07-15 11:14] M123-dev commented on #2600
We have added a button to add details if there are missing to the KnowledgePanels, but not yet for packaging.

[2022-07-15 11:18] M123-dev opened #2603 "Can't remove single products from carousel"
### What

I think the title says it all I am not able to remove products from the carousel by clicking the cross. The button just highlights but the product isn't removed.

### Part of
- #1284
- #526

[2022-07-15 14:41] teolemon commented on #2600
@M123-dev you can +1: https://github.com/openfoodfacts/openfoodfacts-server/issues/6987

[2022-07-15 14:50] teolemon opened #2604 "Avoid overlay with illustration in Food Settings"
### What

- [ ] Avoid overlay with illustration in Food Settings
### Part of
- #960
### Screenshot

![image](https://user-images.githubusercontent.com/1689815/179248114-65a0a60a-9d2c-4d37-8d7e-a124f272f9b0.png)

[2022-07-15 14:53] teolemon opened #2605 "Dialogs are broken"
### What
- Dialogs are broken. Probably related to the PR that I approved and merged too quickly.

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/179248689-ee48a57c-b5e0-4e82-82dd-1d04fe406013.png)

[2022-07-15 15:16] monsieurtanuki commented on #2605
Same as #2599.
Obviously the problem is with #2587, that happens, but the biggest issue is that we don't have automated tests regarding UI.

[2022-07-15 15:25] g123k commented on #2605
Mmm shoudn't we revert my PR in that case?

[2022-07-15 15:26] stephanegigandet commented on #2601
It's a translation error in Crowdin, the German translation had those extra ###, I removed them.

[2022-07-15 15:32] teolemon commented on #2605
We could have Goldens for the dialogs ? It would be a good candidate, no ?

[2022-07-15 15:33] g123k commented on #2605
Yes, it would be indeed a nice idea

[2022-07-15 15:39] monsieurtanuki commented on #2605
@g123k That would be the quickest fix, and probably the best solution as the impact of the PR is quite visible.

[2022-07-15 15:56] AshAman999 commented on #2604
The back button on the navbar is also not visible, shouldn't it be there?

[2022-07-15 16:04] teolemon opened #2606 "Adding the Google Form in the tagline to the contact methods"
### What
- From a user report: "Dans le menu "Mon profil", sous-menu "Nous contacter", il manque ce formulaire de tickets Google Forms."
- Adding the Google Form in the tagline to the contact methods

[2022-07-15 16:20] teolemon opened #2607 "Love Letters from the Users ❤️"
### What
- I keep forwarding the bugs
- Users and contributors also send <3

[2022-07-15 16:21] teolemon commented on #2607
"Super merci. Belle et pratique. Une petite explication semble nécessaire pour renseigner l'origine des produits"

[2022-07-15 16:21] teolemon commented on #2607
**Très belle nouvelle application, plus claire et aérée,** mais pas du tout pratique pour moi d'accéder à ma liste ou mon historique. Je n'ai pas réussi à faire des modifications sur le produit que j'ai ajouté à ma liste on se cherche beaucoup. Pour le moment voilà ce que j'ai à vous dire. Cordialement

[2022-07-15 16:21] teolemon commented on #2607
C'est très complet et très intéressant comme application mais l'application ne reconnaît pas bcp de produits

[2022-07-15 16:21] teolemon commented on #2607
1ère utilisation....application très utile . Pas d'avis .trop tôt! En attente d'un usage dans le temps pour porter un jugement.

[2022-07-15 16:22] teolemon commented on #2607
Bien

[2022-07-15 16:22] teolemon commented on #2607
Application très utiles et importantes pour des personnes intolérante au gluten

[2022-07-15 16:22] teolemon commented on #2607
L'amélioration est bienvenue, mais l'ergonomie pour modifier un produit à fortement régressé : il faut désormais parcourir plusieurs écrans pour modifier les différentes éléments d'un produits là où avant il n'y avait que 3 écrans. Et les interactions avec le serveur sont leeeeentes.

[2022-07-15 16:22] teolemon commented on #2607
Belle évolution que cette nouvelle interface, cela est plus intuitif pour l'ajout d'informations. Toutefois un mode avancé pourrait être envisagé, afin de corriger et ajouter des informations sur un page avec plus d'options. Actuellement l'ajout de la provenance et pays de fabrication n'est plus possible ?

[2022-07-15 16:22] teolemon commented on #2607
Bien plus belle et ergonomique, avec son logo orange style Yuka.

[2022-07-15 16:23] teolemon commented on #2607
Viens tout juste de découvrir ... j'y reviendrai.

[2022-07-15 16:23] teolemon commented on #2607
Super appli

[2022-07-15 16:23] teolemon commented on #2607
très complète

[2022-07-15 16:23] teolemon commented on #2607
Très bien

[2022-07-15 16:23] teolemon commented on #2607
Cette application est juste magnifique

[2022-07-15 16:24] teolemon commented on #2607
Super app

[2022-07-15 16:24] teolemon commented on #2607
J'adore! Un vrai plus

[2022-07-15 16:24] teolemon commented on #2607
Parfait et nécessaire

[2022-07-15 16:24] teolemon commented on #2607
Pas encore fait le tour mais pour l'heure, correct.

[2022-07-15 16:24] teolemon commented on #2607
Bonne application et fiable

[2022-07-15 16:24] teolemon commented on #2607
Très bien

[2022-07-15 16:24] teolemon commented on #2607
Je trouve la nouvelle application plus simple d'utilisation. Merci

[2022-07-15 16:25] teolemon commented on #2607
Bonne application qui nous aide beaucoup dans le choix des aliments et produits cosmétiques

[2022-07-15 16:25] teolemon commented on #2607
c est bon

[2022-07-15 16:25] teolemon commented on #2607
Excellente application

[2022-07-15 16:25] teolemon commented on #2607
Bonne application

[2022-07-15 16:25] teolemon commented on #2607
Super bien

[2022-07-15 16:25] teolemon commented on #2607
Je viens d'écrire que le scan ne fonctionnait pas mais maintenant c'est ok. La nouvelle appli semble innovante et performante, super

[2022-07-15 16:25] teolemon commented on #2607
Génial

[2022-07-15 16:26] teolemon commented on #2607
Super application! Mes propositions : quand on scan, on a pas l'impression de chargement donc des fois on ne se rend pas compte que ça a scanné. Il faut pouvoir supprimer son historique si possible.

[2022-07-15 16:26] teolemon commented on #2607
L'application est vraiment devenue moderne et sympa. Le seul défaut trouvé pour le moment (où peut être que je n'ai pas vu) mais j'aimais bien le fait qu'on pouvait entrer ses propres quantités et que ça affichait les calories calculées. Ça évite les calculs à faire :)

[2022-07-15 16:26] teolemon commented on #2607
Excellente application précise et fiable ! A conseiller sans réserve

[2022-07-15 16:26] teolemon commented on #2607
👍 Top! Danke!

[2022-07-15 16:26] teolemon commented on #2607
Bin noch beim Ausprobieren. Bis jetzt bin ich zufrieden.

[2022-07-15 16:27] teolemon commented on #2607
Early days, but so far it appears good. Maybe after further use I will have feedback to offer.

[2022-07-15 16:27] teolemon commented on #2607
Extraño la información que estaba acostumbrada... Supongo que es una versión mejorada.... Será cuestión de investigar 🌹🌹 SALUDOS 🌹🌹

[2022-07-15 16:27] teolemon commented on #2607
Interesante

[2022-07-15 16:27] teolemon commented on #2607
Exelente

[2022-07-15 16:27] teolemon commented on #2607
muy buena aplicacion

[2022-07-15 16:27] teolemon commented on #2607
Eccellente!

[2022-07-15 17:32] M123-dev commented on #2601
That's an easy fix thanks @stephanegigandet

[2022-07-15 17:32] #2601 closed, assigned to nobody

[2022-07-15 17:33] #2504 closed, assigned to nobody

[2022-07-17 13:21] teolemon opened #2613 "User feedback (tracker)"
- #2502
- #2607
- #2551
- #1299

[2022-07-17 14:39] g123k commented on #2606
Mmm not sure to understand this point.
Should we add something to the settings?

[2022-07-17 14:48] teolemon commented on #2606
We already have a lot of ways to contact us, but the feedback form is only listed in the Tagline, and will be eventually over-ridden by something else.
It could be used in the Rate this app mechanism, in case people mention they don't like the app, and it could be listed as an additional way to contact us in settings (some devices don't have email setup btw)

[2022-07-17 14:57] M123-dev commented on #2606
Just one thing for the form, I noticed the email is required. I guess this leads to some people not submitting

[2022-07-17 16:16] g123k commented on #2606
Ok, so should we re-use the link from the tagline? Or hard-code it?
What would be the name of this entry in the screen?

[2022-07-18 05:09] monsieurtanuki commented on #2522
It's already in the "edit nutrition" page, isn't it?

[2022-07-18 05:35] monsieurtanuki commented on #2605
Fixed by #2608.

[2022-07-18 05:35] #2605 closed, assigned to nobody

[2022-07-18 05:35] monsieurtanuki commented on #2599
Fixed by #2608.

[2022-07-18 05:35] #2599 closed, assigned to nobody

[2022-07-18 05:39] monsieurtanuki commented on #2507
@teolemon Are we done now, after my suggestions in https://github.com/openfoodfacts/smooth-app/issues/1300#issuecomment-1075487899?

[2022-07-18 05:42] monsieurtanuki commented on #2460
@teolemon I think it's fixed by now, isn't it?

[2022-07-18 06:35] M123-dev commented on #1300
Needs to be also added to ios-release-to-org-openfoodfacts-scanner.yml

[2022-07-18 06:58] #2513 closed, assigned to monsieurtanuki

[2022-07-18 10:35] monsieurtanuki commented on #2337
@teolemon I'm about to PR.

We have 6 "simple" edit pages that can be grouped into just one. The other edit pages are too complex (pictures and possibly different languages).
If we replace the 6 items into a "power user" item the "edit product" page is much more compact. Yeah that's it, no need to scroll down, and I think we could probably get rid of the "single item" pages:
![Capture d’écran 202

[2022-07-18 11:08] teolemon commented on #2337
- Sorry for my lack of responsiveness, thinking hard on the future of Open Products Facts at the moment :-)
- I think **we should keep the option for granular editing**, especially from knowledge panels, and because I've also had a lot of 'The power view of V1 is overwhelming'
- Agreed we'll need some redesign, eg. copying the icons we added for instance in the edit view index, adding homogeneous

[2022-07-18 13:36] monsieurtanuki commented on #2520
Those are numbers that we get from the server.
That means that we need to retrieve them `async`ly:
1. Should we get those numbers each time we land on that page?
2. Should we cache those numbers and refresh them only when we go to the detailed list page?
3. Should we display a "refresh" button - easier for us and perhaps nice gamification-wise to have the end-user ask and wait for the result?

[2022-07-18 14:04] g123k commented on #2603
Actually, the issue is a bit weird to reproduce (the order is important).

1. Scan product A
2. Scan product B
3. Remove product A
4. Can't remove product B

[2022-07-18 14:44] g123k commented on #2591
So you're right. Let's we rename the current `smooth_app` to `common` (but we can keep the same name).
Since it's not the root package anymore, we HAVE TO link all assets manually by specifying the package argument (mainly what's done in #2306

For the tests, no need actually, because I'm 100% sure (I've done it in previous projects).
We will just have to change the entrypoint from `smooth_app/mai

[2022-07-18 14:55] g123k opened #2621 "[General behavior] Migrate Widget methods to classes"
### What
- By fixing issue #2603, I have discovered the _summary_card_ file, where a single Widget contains 700 lines of code! 😱
This is generally a bad coding behavior for Flutter, knowing [how the different trees work](https://docs.flutter.dev/resources/inside-flutter).
- I think we should take some time to go through the code and split this kind of Widgets.
- For the first step, I suggest listi

[2022-07-18 14:57] monsieurtanuki commented on #2621
- Maybe a duplicate with #1712.

[2022-07-18 15:02] g123k commented on #2621
Kind of a subtask ;) but thanks for the list of files @monsieurtanuki!

[2022-07-18 15:04] g123k opened #2622 "Dialogs: Allow horizontal buttons"
Small issue to re-introduce the feature that was breaking the app in #2587
![Screenshot_1657653755](https://user-images.githubusercontent.com/246838/179541804-56d6acd8-856a-4313-ab58-338f6450cf46.png)

- Goldens for current Dialogs should be included to prevent this kind of issues

[2022-07-18 15:10] monsieurtanuki commented on #2621
Cool! I suggest that you (or whoever) do that _explicitly_, one by one, by creating a specific issue for each file like "summary_card.dart refactoring" issue:
* it can be very painful to review that kind of code if too many files are involved, and very frustrating for the developer to wait very long for a review
* I don't think it's a priority task - so let's not fall into the "purest code" rabbit

[2022-07-18 15:21] monsieurtanuki commented on #2591
Hi @g123k!

There are some things I would like to clarify before you start.

=> Please do keep the same name. That was the only important point of my previous comment. We need it to keep the code history (at least I do).

Very surprising indeed. That would entail that if I use a pub.dev package that uses its own assets, I would have to rename those package asset files? Obviously some misunderstand

[2022-07-18 15:24] g123k commented on #2621
- I totally agree with you, the Fdroid thing is my priority right now.
- But as #2603 highlights, this kind of reworking is sometimes required to fix side-effects errors

[2022-07-18 15:27] g123k commented on #2591
If you download a dependency from pub.dev and this dependency have some assets, you have to specify the `package` entry. Otherwise Flutter won't know which file to take.

No, because of the package thing

[2022-07-18 16:39] monsieurtanuki commented on #2621
Then I would encourage you to create a PR that just adds one `TODO` on top of each suspicious file (a dozen I guess), something like `// TODO(g123k): if you're working on that file and if you have time, please split that file / that widget into smaller bits (e.g. less than 300 lines)`.
This way, next time any developer that edits one big file will be aware. And in the meanwhile everybody works on

[2022-07-18 16:42] monsieurtanuki commented on #2591
@g123k I have to test that. Sounds _very_ strange. I'll keep you posted by tomorrow.

[2022-07-18 17:10] g123k commented on #2591
If you want to better understand why, just decompile an Android APK and you will thus understand that `package` question

[2022-07-18 17:28] monsieurtanuki commented on #2591
@g123k We're probably not talking about the same thing.

If I use a package that I find in pub.dev, and if this package contains assets, I do not have to change that package assets, do I?
Like for https://github.com/flutter/packages/tree/main/third_party/packages/cupertino_icons/assets - I don't think you ever changed the path to an icon:
![Capture d’écran 2022-07-18 à 19 22 54](https://user-ima

[2022-07-18 17:38] g123k commented on #2591
Let me rephrase everything. Let's say we have:
- A base app
- A dependency (cupertino_icons for example)

When in your base app, you say Image.asset(path), it automatically implied package = base_app
=> Current behavior, everything works well (but the package could be provided - actually done by Flutter itself)

Now, Cupertino_icons have its own font asset, but let's say it's an image. If I say Im

[2022-07-18 18:10] monsieurtanuki commented on #2591
I never will.
I will just call a black box - a.k.a. dependency. A black box that uses its own assets.
The main app is _never_ going to access _directly_ the dependency assets.

What you imply is that a dependency does not have the same access to its own assets, depending on whether the dependency is a dependency to another package or is independent. That's possible, but that would be very surprisi

[2022-07-18 18:36] g123k commented on #2591
No, what I just say, is:
- Assets from the base app = accessible with or without specifying the package
- On all cases, specify the name of the package

From the [Flutter docs](https://api.flutter.dev/flutter/painting/AssetImage-class.html):

[2022-07-18 18:40] #2475 closed, assigned to monsieurtanuki

[2022-07-18 20:09] #1907 closed, assigned to M123-dev, cli1005

[2022-07-18 20:09] M123-dev opened #2625 "Find a better way to make products cards in scanner not clickable"
### Problem
Find a better way to make products cards in scanner not clickable
Currently we disable all buttons by passing down a bool, maybe we can instead display some kind of transparent widget above the whole card to just block the button presses. The be tested,

Blocked on #2525 to avoid conflicts

[2022-07-18 20:19] M123-dev commented on #2451
I guess so @AshAman999

@teolemon

[2022-07-18 20:36] M123-dev commented on #2576
It's already supported by the map package we use https://github.com/fleaflet/flutter_map/search?q=attribution looking into it in more detail the next few days

[2022-07-18 20:40] M123-dev commented on #2537
@teolemon can you maybe ask Quentin (couldn't find the Slack name)  for some mocks, but also in favor of some special message, but it's probably better in some kind of welcoming email instead

[2022-07-18 20:53] M123-dev commented on #2606
I'd say hardcode as the tagline could always change and feedback is always welcomd

[2022-07-18 20:55] M123-dev commented on #2522
Yes it is monsieurtanuki should we add it somewhere else @teolemon maybe move it

[2022-07-18 20:56] M123-dev commented on #2507
Yes we are done but we also need to add it to the new release workflow as we currently have two

[2022-07-18 22:08] #2009 closed, assigned to nobody

[2022-07-18 23:31] g123k commented on #2604
The back button is also misaligned on this screen:
![Screenshot_1658187058](https://user-images.githubusercontent.com/246838/179633844-2aa4bc8f-40dd-4cac-ae71-3223c44e00d9.png)

[2022-07-19 04:57] #2573 closed, assigned to monsieurtanuki

[2022-07-19 04:59] #2561 closed, assigned to monsieurtanuki

[2022-07-19 12:43] teolemon opened #2627 "Allow to share lists"
### What

- [x] #2631
- [ ] Allow users to open shared lists
  - [ ] Requires #1313 ?
- [ ] Add a button to save an opened list to your own lists

### Possible implementations
- https://github.com/openfoodfacts/smooth-app/issues/2631

### Part of
- #4041

[2022-07-19 13:06] AshAman999 commented on #2451
Could be done with a few lines of code, would do a PR by EOD

[2022-07-19 15:31] monsieurtanuki commented on #2591
@g123k My tests today:
1. in a first approach it looks like you may be right regarding assets. Very surprising - not the fact that you are right, this I can imagine, but that a black box like a dependency needs to be (slightly) rewritten. But if at the end this is how it works, we can manage that in a stupid PR that just adds the path to all asset calls.
2. what is much more problematic is the way

[2022-07-19 15:36] teolemon commented on #2591
Regarding localization, can we keep everything in a single file ?
The 160*4 files for server and the old Android app are a nightmare.

[2022-07-19 15:39] monsieurtanuki commented on #2591
You mean, a unique file for all the flutter apps, or a unique file for all languages?

[2022-07-19 16:20] monsieurtanuki commented on #2591
@g123k Regarding assets (again), I've just a look at [pub.dev](https://pub.dev) packages that contain assets (not that easy to find).
I found this guy: https://pub.dev/packages/intl_phone_field that contains flags. And this is how they access the "local" assets:
[code]

Same with https://pub.dev/packages/country_pickers and https://pub.dev/packages/country_list_pick.

OK, you win :)

We'll have to

[2022-07-19 18:18] monsieurtanuki opened #2631 "Allow to share product lists by URLs"
Allow to share lists with friends by using URLs like:

`https://world.openfoodfacts.org/products/8024884500403,3263855093192,3045320001570,3021762383344,4008400402222,3330720237255,3608580823513,3700278403936,3302747010029,3608580823490,3250391660995,3760020506605,8722700202387,3330720237330,3535800940005,20000691,3270190127512`

Potential issues:
- the URL has a limited length - there will be a l

[2022-07-19 18:25] monsieurtanuki commented on #2631
Potential issues:
* the URL has a limited length - there will be a limited number of products
* potential localization issue - should we add the language, the country?
* possible (but not systematic) combo with "Allow users to open shared lists"

[2022-07-19 18:39] M123-dev commented on #2591
I think the best solution would be to just avoid the problem as we are now in a stage where there are not many people with the same problems.

Preferably by somehow running the generation step before flutter run does it's job like its possible in JS with [scripts](https://nodejs.dev/learn/the-package-json-guide) in the counterpart to darts `pubspec.yaml`

The closest thing I could find is this:
ht

[2022-07-19 18:58] M123-dev commented on #2591
Also for other assets there seem to be workarounds https://stackoverflow.com/questions/54740732/how-to-add-assets-in-flutter-package-plugin-development

1. Moving the `./assets` into `./lib/assets`

or

2.  `AssetImage('assets/abc.xyz', package: 'my_developed_package'); `

[2022-07-20 05:31] monsieurtanuki commented on #2591
@teolemon @g123k @M123-dev You guys realize that ALL that heavy non-sense could be prevented if we were just able to comment and uncomment the `pubspec.yaml` and a single dart file, right? Either manually or automatically:
[code]

In both `smooth_mlkit` and `smooth_zxing`, we create one class called `ScanInterface` (that possibly implements a common abstract class)

And in smooth_app's `main.dart`

[2022-07-20 09:58] M123-dev commented on #2591
That should be doable without that much work automatically

[2022-07-20 10:02] g123k opened #2633 "Implement golden tests for Dialogs"
### What
- Issue to track the implementation of golden tests for Dialogs in the app.
### Part of
- #1176

[2022-07-20 10:02] g123k commented on #2622
Golden tests moved to #2633

[2022-07-20 15:49] g123k opened #2635 "Accessibility / color issues"
Hi everyone,

I test the app on an Eink (= grayscale) phone and a few screens should be improved.

- [x] Bottom bar: impossible to determine which tab is the current (fix: add at least some bold)
![PXL_20220720_110024361](https://user-images.githubusercontent.com/246838/180025229-29130630-1be8-4cb6-9beb-b3e0355ba6d5.jpg)

- [ ] Product matching: both colors don't fit well
![PXL_20220720_153046782]

[2022-07-20 16:18] sentry[bot] opened #2636 "CameraException: CameraException(Disposed CameraController, startImageStream() was called on a disposed CameraCont..."
### What
- Seems to be cross platform
- Sentry Issue: [SMOOTHIE-15B](https://sentry.io/organizations/openfoodfacts/issues/3410655802/?referrer=github_integration)

[code]

### Part of
- #526

[2022-07-20 16:19] sentry[bot] opened #2637 "String: AVPlayerItem.Status.failed"
Sentry Issue: [SMOOTHIE-13R](https://sentry.io/organizations/openfoodfacts/issues/3401290542/?referrer=github_integration)

[code]

[2022-07-20 16:47] teolemon opened #2638 "Ensure OCR for ingredient edits works offline"

[2022-07-20 16:48] #2638 closed, assigned to nobody

[2022-07-20 16:48] teolemon commented on #1235
https://github.com/openfoodfacts/smooth-app/issues/2638
 Clone the offline edit for ingredients work for packaging (which shares the same edit code)

[2022-07-21 13:45] #2451 closed, assigned to AshAman999

[2022-07-21 13:47] #2530 closed, assigned to nobody

[2022-07-22 05:05] #2364 closed, assigned to cli1005

[2022-07-22 05:47] #2337 closed, assigned to monsieurtanuki

[2022-07-22 11:35] teolemon opened #2642 "Build error because of localizations"
### What
- will generate a JSON format file containing all messages that

159need to be translated.

160lib/pages/product/nutrition_page_loaded.dart:521:42: Error: The getter 'product_task_background_schedule' isn't defined for the class 'AppLocalizations'.

161 - 'AppLocalizations' is from 'package:flutter_gen/gen_l10n/app_localizations.dart' ('.dart_tool/flutter_gen/gen_l10n/app_localizations.da

[2022-07-22 12:02] teolemon commented on #2642
Might be because of tweaks, I created release/3.5.1. Closing for now

[2022-07-22 12:02] #2642 closed, assigned to nobody

[2022-07-22 15:23] monsieurtanuki commented on #2460
@teolemon ping

[2022-07-22 15:24] teolemon commented on #2460
Yup

[2022-07-22 15:24] #2460 closed, assigned to nobody

[2022-07-22 15:27] monsieurtanuki commented on #2139
So what's the next move?
I would suggest a crop without rotation.

[2022-07-23 09:52] #1223 closed, assigned to nobody

[2022-07-23 09:55] teolemon commented on #1371
Bumping to P1

[2022-07-23 09:56] teolemon commented on #1260
closing

[2022-07-23 09:56] #1260 closed, assigned to nobody

[2022-07-23 09:57] teolemon commented on #1239
Bumping to P1

[2022-07-23 10:10] teolemon opened #2646 "Refresh experience in edit mode"
### Problem
- As a power user, I'm currently never confident that the local product is up to date, and I find myself willing to refresh from the edit mode, or one of the edit section
- Eg: I validate a Robotoff suggestion for label: nutriscore, I go to the Label edit section, I don't see the Nutri-Score label. I find myself willing to refresh

### Proposed solution
- [x] #2647
- [x] We should idea

[2022-07-23 13:19] monsieurtanuki opened #2647 "Allow slide down to refresh the product in edit mode"
### What
- Allow slide down to refresh the product in edit mode
### Part of
- #503

[2022-07-23 13:19] monsieurtanuki opened #2648 "Allow slide down to refresh the product in edit mode"

[2022-07-23 13:19] #2648 closed, assigned to nobody

[2022-07-23 13:34] teolemon commented on #2553
What query are we currently doing ? In V1 we did:
[code]
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/a51c675ee127db12178b4014bc8dd763371f6e88/app/src/main/java/openfoodfacts/github/scrachx/openfood/network/services/ProductsAPI.kt#L319
![image](https://user-images.githubusercontent.com/1689815/180607274-536a8e6f-0dde-49bd-abd5-53a7ad787591.png)

[2022-07-23 16:24] monsieurtanuki commented on #2646
@teolemon In #2648 I implemented the refresh on the "edit product page".
1. Would you like it implemented in all detailed edit product pages?
2. Would we be better off displaying the product-last-update timestamp (either from the server or from the local database upsert) (or both)
3. Perhaps a push system from the server "hey, the product 1234567890123 has just changed"

[2022-07-23 16:43] monsieurtanuki commented on #2553
@teolemon I'm using what's on off-dart in [ToBeCompletedConfiguration](https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/lib/utils/ToBeCompletedConfiguration.dart):

https://world.openfoodfacts.org/api/v2/search?states_tags=en:to-be-completed&cc=fr&lc=fr

(`{"count":920322,"page":1,"page_count":24,"page_size":24,"products":[{...`

And that's tested in off-dart: all results have a `'e

[2022-07-23 19:59] M123-dev opened #2651 "100% test coverage"
### What
- Smoothie is now a production app and we have to avoid something to break unexpectedly. Dart and our hard typed rules are a really good start but won't work in all cases.

- The question is how we want to achieve more test coverage.

- More testing of individual components, but this would mean lots of mocking
- integration testsz which has its own set of problems.
- More golden tests, si

[2022-07-24 05:35] monsieurtanuki commented on #2651
My views on the matter:
* we already have a sample product in the app, that should help the mocking
* perhaps we should refactor this way - some very stupid widgets that display data without provider or refresh, and on top widgets that just use the providers and call the stupid widgets. And the screenshots would be taken on the stupid widgets.
* it's a matter of priority. All the energy we put the

[2022-07-24 11:10] teolemon commented on #2553
What's changing the experience is probably the ranking that's not explicit (search will not rank by default by date unlike facets), and potentially caching ( hides the last hour's additions)

[2022-07-24 15:29] AshAman999 commented on #2651
Yeah, why not
Currently i don't know much of this, but would follow up for the upcoming features we do
Implementing golden tests would be good way to start

[2022-07-25 05:42] sentry[bot] opened #2653 "please download asset haute-valeur-environnementale.90x90.svg"
Sentry Issue: [SMOOTHIE-18W](https://sentry.io/organizations/openfoodfacts/issues/3450733452/?referrer=github_integration)

[code]

[2022-07-25 06:02] #2653 closed, assigned to monsieurtanuki

[2022-07-25 06:12] #2396 closed, assigned to monsieurtanuki

[2022-07-25 06:32] monsieurtanuki commented on #2553
@teolemon So what we need in Smoothie is a "sort by last modified" and a systematic refresh (no db cache)?

[2022-07-25 13:17] teolemon commented on #2503
Νίκος Ραπτόπουλος
1 ★
Greek
Illegible characters (basically unusable) in Greek, and cannot switch display language. TCL T767H