[2022-10-04 16:04] teolemon commented on #1371
For the record, I just lost 30 min of edits on this issue 😿

[2022-10-04 17:32] WildOrangutan commented on #2989
I'm able to reproduce it if I increase font and display scale on my device. Will try to address it.

[2022-10-04 17:42] #2351 closed, assigned to nobody

[2022-10-04 18:50] M123-dev commented on #2989
Perfect @WildOrangutan I don't know how it's currently solved or what the problem exactly is, but the [OverflowBar](https://api.flutter.dev/flutter/widgets/OverflowBar-class.html) widget seems promising

[2022-10-04 18:58] M123-dev commented on #3032
Is this still a thing, I update the app nearly daily due to the internal release, feel free to open again if this is still a thing

[2022-10-04 18:58] #3032 closed, assigned to nobody

[2022-10-04 19:01] M123-dev commented on #1307
We now have a gramm picker

[2022-10-04 19:01] #1307 closed, assigned to nobody

[2022-10-04 19:04] M123-dev commented on #3063
When I remember correctly then there was a request on the off-days as well. With the proposed solution:

- Switch in the settings for Power Mode
- Then always open a ListView With all fields below each other.

This doesn't include the extractions screens for example, we still need a solution for that but it's a good start

[2022-10-04 19:05] M123-dev commented on #3074
Fixed, now it's just signing for ios

[2022-10-04 19:06] #3074 closed, assigned to M123-dev

[2022-10-04 19:08] M123-dev commented on #3082
I also noticed this today, but this doesn't happen all the time, we need a way to consistently reproduce this

[2022-10-04 19:09] M123-dev commented on #3084
Our former discussion besides the in person ones were here: https://github.com/openfoodfacts/smooth-app/issues/2591

[2022-10-04 20:36] WildOrangutan commented on #3082
Seems like it depends on how many search results are there. If count is small (5 results), I can reproduce it every time. For large count (15 results), refreshing takes longer and I'm not able to reproduce it.

[2022-10-05 07:12] g123k commented on #3084
@monsieurtanuki Yes, exactly that will be the change required.

I think to ease the migration, I will create a `SmoothImage` (or something like that) where I define the package.
By changing the Widget, I think we should take the opportunity to let `SmoothImage` to handle both `SvgPicture` and `Image` Widgets, in order to hide the SVG dependency.

[2022-10-05 07:16] g123k commented on #1882
ℹ️ This issue will be implemented as part of #3084 (step 3)

[2022-10-05 07:19] M123-dev commented on #3084
Can't handle svgs but [we already have a wrapper](https://github.com/openfoodfacts/smooth-app/blob/c70683939db4324f3299f0c91e103e3eb7368584/packages/smooth_app/lib/generic_lib/widgets/images/smooth_image.dart) @g123k 😉

[2022-10-05 07:25] monsieurtanuki commented on #3084
@g123k That's where I would like to raise a flag:
* if it's only about adding `package: 'smooth_app'` to dozens of asset related lines of code
  * it could be coded,
  * reviewed
  * and merged in one hour and with a minimal impact
* if it's about adding a layer of abstraction on top of png and svg
  * that will impact the whole project
  * that will be harder to code and to review
  * we don't ne

[2022-10-05 07:25] g123k commented on #921
Mmm… before doing anything on this, we should identify the shortcuts we really need.
Eg: scanning and research are both available on the homepage…

I really wonder which feature(s) will be relevant here (I don't find any to be honest)

[2022-10-05 07:30] teolemon commented on #921
History, Contributions, Hunger Games, potentially ?
Those would even warrant an app shortcut

[2022-10-05 07:58] teolemon commented on #1371
@monsieurtanuki @M123-dev @g123k I have reworked the "Advanced Search" description, splitting it into tasks, with a new UI approach.
Rather than the sophisticated mockups inspired by the GitHub advanced search or anything else, I propose we duplicate the advanced search form of the web version as a first step, to get something working as quickly as we can, focusing on the basics

[2022-10-05 08:10] monsieurtanuki commented on #1371
@teolemon I'm currently glued in the "background task + refresh" issue. I can put it on the shelf and work rather on the advanced search if needed.
My main question is: from where in the UX/UI do we reach the advanced search page?

[2022-10-05 08:55] g123k commented on #921
I was wondering if we shouldn't have a "single scan" screen.
That kind of shortcut would be nice

[2022-10-05 09:09] monsieurtanuki commented on #1371
- We also need #2785 for that.

[2022-10-05 09:27] g123k commented on #3084
Ok so let's make it simple, I will just add package everywhere.
When is the best time to "freeze" the code base? (on my side, I'm only available starting tomorrow)

[2022-10-05 09:36] monsieurtanuki commented on #3084
@g123k Perfect!
If it's just about adding `package: 'smooth_app'` here and there, we don't have to freeze the code, do we?
Tomorrow morning would sound good.

Regarding the pending #3059 large PR, there should be no impact (or no impact I can manage), so no reason to freeze. And I may split its code in simpler PRs anyway - if possible.

[2022-10-05 11:02] teolemon commented on #3096
- #2431
- #2474

[2022-10-05 11:02] #2474 closed, assigned to nobody

[2022-10-05 11:03] #2502 closed, assigned to nobody

[2022-10-05 13:13] teolemon commented on #1371
- #2785 added to the description
- I was thinking of an experimental screen first, and then binding that to the main search as a refinement button ?
- Can we split that into parts for Hacktoberfest ?

[2022-10-05 13:26] monsieurtanuki commented on #1371
@teolemon If I sum up, that would mean, in parallel:
* creating a new "advanced search" page in dev mode
  * populate that page with whatever UI you want
  * including a "Go!" button, that in a first approach will just sum up the query by printing all parameters (no actual execution)
* checking that we are able to deal with each parameter on the off-dart side as search query parameters

Then, link

[2022-10-05 13:32] #75 closed

[2022-10-05 13:54] teolemon commented on #515
We might have to reopen that one, and add weight input as well

[2022-10-05 14:27] monsieurtanuki commented on #515
@teolemon Why not, if we know which parameters we need to provide to the server.

[2022-10-05 19:34] #770 closed, assigned to WildOrangutan

[2022-10-06 04:12] M123-dev opened #3098 "Template card size not right yet"
### What

I thought I fixed it in https://github.com/openfoodfacts/smooth-app/pull/3093 but it seems to still not looks quite right.

<img src="https://user-images.githubusercontent.com/39344769/194212151-4e98793c-1ec0-475b-b050-7c7c7bdafc39.jpg" height="400px">
<img src="https://user-images.githubusercontent.com/39344769/194212159-6d89bdf3-f444-4555-b6f8-85e7f82e3006.jpg" height="400px">

[2022-10-06 07:13] g123k commented on #3084
Ok I implement step 1

[2022-10-06 07:46] g123k commented on #3084
I have to change a little bit the step 1:
- Add the package attribute for all assets
- Create an app package (empty for now)
- Add smooth_app as a dependency

[2022-10-06 07:49] monsieurtanuki commented on #3084
@g123k I don't see how those 2 extra steps would have a significant impact on the existing code, so no problem.

[2022-10-06 09:53] M123-dev opened #3100 "Users report they can't upload every picture"
### What

[2022-10-06 09:59] raphael0202 commented on #3100
Steps to reproduce:
- scan this product: https://fr.openfoodfacts.org/produit/3452012710106/huile-vierge-de-sesame-vigean
- Click on "Modify the product", then "Photos"
- Click on "Nutrition" (the image is missing)
- Take a picture of the nutrition table, crop, validate
- No "the image in uploaded in the background" message, no image is sent to Product Opener

OnePlus 7T, Android, version 3.20.0

[2022-10-06 10:14] raphael0202 commented on #3065
Sorry for my late answer, my notifications were muted for this project 😅
Indeed `source_image_url` when available is the image from which the insight was extracted from. See https://robotoff.openfoodfacts.org/api/v1/insights/detail/d8ae9556-c075-429c-a2f0-1c82d2220539
So in that case displaying it first in the carousel would make sense.

We can either:
- only display this image when `source_image_

[2022-10-06 10:27] raphael0202 commented on #3096
Automatic extraction of nutritional values is currently not possible. We do extract some nutritional values in Robotoff automatically, but this data is not available through the API. But it's definitely something we're interested in.

[2022-10-06 12:47] monsieurtanuki commented on #3065
Hi @raphael0202!

Lucky you! 😄

I can see `source_image":"/333/588/000/4990/7.jpg`
How should I rework this field to get a proper image url?
* didn't work: https://robotoff.openfoodfacts.org/333/588/000/4990/7.jpg
* didn't work: https://world.openfoodfacts.org/333/588/000/4990/7.jpg
* looping across all the images and selecting the one with the `7` id (last part of the url)?

[2022-10-06 12:47] monsieurtanuki commented on #3100
- Makes me think of #3059.

[2022-10-06 13:21] raphael0202 commented on #3065
The images are stored here: https://static.openfoodfacts.org/images/products/227/176/000/5965/1.jpg
.org for prod and .net for preprod

[2022-10-06 13:40] monsieurtanuki commented on #3065
Thank you @raphael0202 for your answer! Actually we already use "those" roots:
[code]

@WildOrangutan Looks interesting for you too, something like:
[code]

[2022-10-06 13:50] VaiTon commented on #2918
@teolemon is this still an issue?

[2022-10-06 13:52] VaiTon commented on #2517
I have a question about this, in particular for @monsieurtanuki:
Is the robotoff api already implemented in the SDK?

If not, what do you think about:
- Implementing it directly in the SDK
- Creating a new SDK just for this

[2022-10-06 14:06] monsieurtanuki commented on #2517
@VaiTon Yes Robotoff is (more or less) implemented - actually you already see it when (sometimes) you get random questions on the product page ("Is that a chocolate yogurt?")
If you ask me about Hunger Games, that could easily be an app of its own. And part of Smoothie too. Actually I would use Hunger Games much more than Smoothie.
Anyway, all that is a matter of priorities.

[2022-10-06 14:19] teolemon commented on #2918
nope, thanks, closing

[2022-10-06 14:19] #2918 closed, assigned to g123k

[2022-10-07 08:12] Anant-2005 commented on #2978
Hi Sir, Can you please assign me this task? I will love to work on it

[2022-10-07 10:08] M123-dev commented on #2978
Here you go @Anant-2005

[2022-10-07 11:27] monsieurtanuki commented on #3065
@raphael0202 @WildOrangutan I'm not sure things are that easy:
* I found [front images](https://static.openfoodfacts.net/images/products/111/111/111/1111/front_de.51.full.jpg) without the corresponding [expected full image](https://static.openfoodfacts.net/images/products/111/111/111/1111/51.jpg)
=> if the image urls are correct for Robotoff, I'm ok with that
* not very common, but we have potenti

[2022-10-07 13:28] monsieurtanuki commented on #2978
@Anant-2005 To be honest, you haven't picked the easiest issue, the problem here being to determine the moment when the upload was successful (spoiler alert: it's not after the `await`) (those are background tasks that run when they run).
I suggest that you find another issue, but do what you want ;)

[2022-10-07 13:31] krabina opened #3104 "Adding nutrition information on Android in German not possible with decimals"
### What
While the app is working great in general on a Samsung S20, the problem with filling out the nutrition information is that the app only shows a "." on the keyboard. If you enter a value like 3.2 the app would not save it, because it (correctly) expects the decimal being separated by "," - I have not found a way to change this on my phone, even though scrolling through the settings of the

[2022-10-07 13:32] Anant-2005 commented on #2978
Thanks but will love to try at least once

[2022-10-07 13:32] Anant-2005 commented on #2978
Thanks but will love to try at least once

[2022-10-07 14:18] raphael0202 commented on #3065
In https://static.openfoodfacts.net/images/products/111/111/111/1111/front_de.51.full.jpg, `51` is actually the revision number of the image. If you want to get the base image you should  look at `front_de` in the `images` field. There is the revision number and the image ID.

But why do you mention this? You want a resized version of the image for faster loading I guess?

I didn't understand this

[2022-10-07 15:31] VaiTon commented on #3104
Hey @krabina, thank you for this bug report!

I think the course of action for this issue is, as we did in the android app, enable the user to use either the comma or the dot as a decimal separator and then either:
- Let the server handle it
- Canonicalize it to the appropriate decimal separator (it would depend on the language so IDK on this one)
- Canonicalize everything to the dot separator

[2022-10-07 17:27] monsieurtanuki commented on #3065
@raphael0202
* I assumed that for each barcode, there's a list of images, starting with id (or rev_id?) `1` increasing
* I assumed that `front_de.51.full.jpg` meant that image `51` has been linked to the front/de display (in all sizes)
* and I hoped that somehow just knowing `51` was enough to say "the whole image file of id 51 is in `https.../51.jpg`.
* Probably some confusion on my side between

[2022-10-08 05:33] AshAman999 commented on #2985
HELLO @M123-dev
So what should we do here, remove the dismissible widget altogether, I checked about the possible fixes for the content moving not the background, seems more likely because of dismissible,

I would vote to remove the dismissible altogether

[2022-10-08 06:37] monsieurtanuki commented on #2985
@M123-dev You have a point, we need consistency in the app, about how to dismiss/multi select list items. At least, when we're dealing with similar lists (e.g. all product lists).
* the swipe is fast and standard, it's not my culture but it's quickly done for the user
* the long click is standard - should (always?) open the multi-select

The three-dots is standard and more verbose.

But maybe ther

[2022-10-08 06:40] monsieurtanuki commented on #1538
@teolemon @M123-dev @g123k @VaiTon I merged #2872 more than a month ago: have you tested the new (lighter) crop tool? As a reminder, you need to go to dev mode and click on the "yes I want the new crop tool" switch.

[2022-10-08 07:08] M123-dev commented on #1538
Yes I have been using it as my main for this time, actually remembered about it yesterday again but haven't had the time to create a issue yet.

I think we can switch, but I haven't tested on iOS

[2022-10-08 10:05] AshAman999 commented on #1538
I was using this for the past week, works fine for iOS,

Can't rotate to other angles other than 90 degrees, anyways it's light and does the job for me ✅

[2022-10-08 11:37] monsieurtanuki opened #3105 "Switch to the new crop tool"
### Problem
- We had problems with the crop tool (e.g. #1538 #2495)

### Proposed solution
- A simplified cropper was coded in #2872, and in dev mode you could choose between the old crop tool (default) and the new one.
- There were positive feedbacks about the new crop tool by @M123-dev (Android) and @AshAman999 (iOS).
- It's time now to get rid of the "old" crop tool, and use only the new one.
-

[2022-10-08 11:45] monsieurtanuki commented on #3104
@M123-dev Have you experienced this issue?
Dammit, we're in 2022 and still no way to have a proper numeric keyboard!
Perhaps https://pub.dev/packages/numeric_keyboard?
@VaiTon I believe that what you describe is more or less what is already implemented.

[2022-10-08 11:47] M123-dev commented on #3104
Yes I also experienced this but only before the release. I only have a dot no comma but we had a fix for that a few months ago so that we can add both and it's fixed automatically or something like that

[2022-10-08 12:07] AshAman999 commented on #3105
I would say for now we just make the default to the new tool , and remove it afterwards

[2022-10-08 12:17] monsieurtanuki commented on #3105
Let's go then!

[2022-10-08 12:18] AshAman999 commented on #3105
Ok creating a small for now then, adding a comment there as well

[2022-10-08 15:24] teolemon opened #3107 "Add a history Widget for homescreen"
### What
- Add a history Widget for homescreen
### Part of
- #2479

[2022-10-08 15:24] teolemon opened #3108 "Add a lists/history Widget for homescreen"
### What
- Add a list Widget for homescreen
- Add a history  Widget for homescreen
- Investigate x-platform libraries such as https://pub.dev/packages/home_widget
- See if we can them look right on each platform (eg: Material You theming on Android)
### Part of
- #2479

[2022-10-08 15:36] #3107 closed, assigned to nobody

[2022-10-09 16:06] ashishmohapatra240 commented on #3108
Hey! I want to work on this issue!

[2022-10-09 16:10] AshAman999 commented on #3108
Sure Ashish, give it a try, if you need any help, feel free to ask

[2022-10-09 16:14] ashishmohapatra240 commented on #3108
Thank you! @AshAman999

[2022-10-09 20:31] M123-dev commented on #3108
That's a great feature, but I guess this will raise some difficulties @ashishmohapatra240 as we store the lists in sqflite which AFAIK needs to be startet by the app, so some trouble with background tasks.

But @AshAman999 & g123k are likely more up-to-date on this topic.

[2022-10-09 21:48] #2708 closed, assigned to g123k

[2022-10-09 21:57] VaiTon commented on #2985
I agree with @monsieurtanuki.

From a UX prospective I would keep them both as the swipe is far more quick. If we want to add a swipe to the lists (eg. remove a list via swipe) maybe we could also display a modal "Are you sure you want to delete 'List name'?"

[2022-10-10 04:46] prathamsoni-devcode commented on #2973
I want to work on this issue but I need some help.

[2022-10-10 04:47] prathamsoni-devcode commented on #3098
can i work on this issue?

[2022-10-10 06:23] monsieurtanuki commented on #2985
@VaiTon I'm not sure we could do this smoothly: the item is removed from the display with the swipe movement altogether. Then we would have to put it back.
Perhaps a snackbar "List deleted / Undo action", but that would mean implementing the "do not really delete an item" feature, and that's another story.

So, if we go back to the OP, at least 50% of us participants are in favor of swipe gesture.

[2022-10-10 06:26] ashishmohapatra240 commented on #3108
Hey, can you help me with the approach?
I am facing some difficulties

[2022-10-10 06:51] M123-dev commented on #3098
Sure @prathamsoni11

[2022-10-10 06:52] M123-dev commented on #3108
Asking the question is always more efficient than asking to ask 😉

[2022-10-10 08:07] prathamsoni-devcode commented on #3098
@AshAman999 @M123-dev @teolemon   I have fixed the issue and also done some changes in UI. Select any one to commit in UI.
As of mine opinion first one will be better.

1.
![Screenshot_2022-10-10-13-27-33-606_org openfoodfacts scanner](https://user-images.githubusercontent.com/75238158/194822290-0680cf49-ec87-40c0-b00b-6659951ec4b5.jpg)

2.
![Screenshot_2022-10-10-13-28-22-976_org openfoodfacts sc

[2022-10-10 08:18] M123-dev commented on #3098
I agree with you, 1 looks more like the "normal" cards

[2022-10-10 08:48] alexgarel commented on #3063
Personally I would prefer to keep the normal "edit" action and add a new one: "quick edit" (when you decided to activate it in the settings) for the power edit.

[2022-10-10 08:50] VaiTon commented on #2973
Hey @prathamsoni11! I think we first need to wait for the SDK to allow fetching the contribution counts. Then we can implement the UI for it.

[2022-10-10 14:23] monsieurtanuki opened #3116 "Pull-to-refresh does not show exceptions"
### What
- In `ProductRefresher`, the exceptions in method `_fetchAndRefresh` are ignored.
- This method is called in the "pull-to-refresh" feature.
- As a consequence, the app does not crash but has the same behavior as if the download was successful, which is confusing.
- The solution is to explicitly mention the error: we want the app to display an error.

### Screenshot
![Capture d’écran 2022

[2022-10-10 20:04] teolemon opened #3118 "This test fails, which prevents me from seeing if the resign of the app for iOS was successful"
### What
- This test fails, which prevents me from seeing if the resign of the app for iOS was successful
### Logs
00:49 +162: /home/runner/work/smooth-app/smooth-app/packages/smooth_app/test/users/registration_login_test.dart: Create User & Login Login User
00:49 +162 -1: /home/runner/work/smooth-app/smooth-app/packages/smooth_app/test/users/registration_login_test.dart: Create User & Login Login

[2022-10-10 20:18] g123k commented on #3108
Honestly, forget the Flutter package and develop an implementation for each platform.
But if that's the first time you're doing that, please give the issue to someone else.
Creating a Widget (for both platforms) is not that simple to implement.

[2022-10-10 20:20] M123-dev commented on #3118
Guys I fear that this is caused by the changes to auth.pl today. If that's true login is broken across all versions.

@teolemon @VaiTon @stephanegigandet

@AshAman999 what exactly happened when the login failed, I think we logged the user out with wrong credentials but just left it when failing right?
I still seem to be logged in

[2022-10-10 20:21] g123k commented on #3104
I had implemented something like it this a few weeks ago.
And the idea is that we shouldn't change anything, as for the some langages, the comma might refer to a decimal separator, where on others it's a for another use case

[2022-10-10 20:22] g123k opened #3119 "Closing the Nutrition Facts's screen without any changes prompts to save them"
Hi,

If you open the Nutrition's fact screen and then immediately close it, the dialog to save the changes will appear.
It shouldn't be the case.

I've checked a little bit the code, and it seems there are multiple causes for this one.

[2022-10-10 20:23] ashishmohapatra240 commented on #3108
Yes, this is the first time I'm doing this,
Please assign this to someone else!
I'll be following up though 😁

Let me find some good first issues ✨

[2022-10-10 20:26] M123-dev commented on #3118
Okay it's luckily not that bad right now, everything still works on prod.

Though on QueryType.TEST  ~~both~~ login ~~and register~~ are broken.

For reference here the test user credentials https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/test/test_constants.dart

The server PR https://github.com/openfoodfacts/openfoodfacts-server/commit/e142269eea49259949eebd5d26b336aa48628587

[2022-10-11 07:33] stephanegigandet commented on #3118
We just need to update this:

[code]

The last line should now be return response.statusCode == 200;

The issue is that the currently deployed apps will fail as soon as we update the code in production. I think I will add a param to get the response body, something like auth.pl?body=1 , and in a few weeks we can make getting a body the default option.

[2022-10-11 07:42] prathamsoni-devcode commented on #3116
can I work on this issue?

[2022-10-11 07:57] M123-dev commented on #3116
Sure @prathamsoni11 🎉

[2022-10-11 09:48] raphael0202 commented on #3065
Yes in Robotoff we only extract insights from "raw" pictures (pictures with digits as names such as `1.jpg` or `2.jpg`).

Indeed it does not work this way, you have to query the API, fetch the `images` field, look at the `front_de` key to get the `image_id` and get the full image. But as Robotoff deals with raw images, there is no resized (100, 200, 400) versions of the image, unless the image has

[2022-10-11 12:40] g123k opened #3123 "[iOS] A list of issues"
- [ ] White status bar
  <img src="https://user-images.githubusercontent.com/246838/195093106-9902085c-5b19-4ebd-8ba8-b4833a784928.PNG" height="400px">
  <img src="https://user-images.githubusercontent.com/246838/195093112-889f028b-7eb6-4bcf-be71-1c9f8af0fe79.PNG" height="400px">
  <img src="https://user-images.githubusercontent.com/246838/195093114-e3b87c87-eb53-43c1-943a-792776af389e.PNG" height

[2022-10-11 13:44] teolemon opened #3125 "New design - Upward asset missing in editing mode"
### What
-New design - Upward asset missing in editing mode
### Part of
- New design
### Screenshot
<img width="263" alt="image" src="https://user-images.githubusercontent.com/1689815/195107679-40b76f17-a3b1-466a-87e8-7bf1bd8bdab7.png">

[2022-10-11 14:43] prathamsoni-devcode commented on #2944
can I work on this issue?

[2022-10-11 16:00] monsieurtanuki commented on #3116
Closed by #3124.

[2022-10-11 16:00] #3116 closed, assigned to prathamsoni-devcode

[2022-10-11 16:55] monsieurtanuki commented on #3065
@raphael0202 As far as I'm concerned you've answered my question: it's not as straightforward as I imagined, period.
Which is not a big deal as I have a solution to do what I wanted to in a first place.
So @stephanegigandet, unless @raphael0202 insists for specific reasons, I don't need any confirmation.

[2022-10-12 06:08] raphael0202 commented on #3065
Well I'm interested in having a confirmation from Stéphane, as what I've explained earlier is just based on my own observations, we could update documentation accordingly if confirmed as this question often arises.

[2022-10-12 07:44] stephanegigandet commented on #3065
The raw uploaded images are stored in sequence: 1.jpg, 2.jpg, 3.jpg
We also generate resized versions of those, at 100 and 400 pixels (max of width or height, whichever is larger).

When images are selected and cropped, they are stored with a filename like this:

[front|ingredients|nutrition|packaging]_[2 letter language code].[revision number of the product when the image is selected].[100|200|40

[2022-10-12 07:56] WildOrangutan opened #3129 "Allow to swipe between product images on the full screen image view"
### Problem
Would be nice to be able to swipe to next/previous product image, on [full screen page](https://user-images.githubusercontent.com/5972966/195283693-b291ff2f-be54-44b9-9acd-68750092b059.png).

### Proposed solution
Add left/right swipe action, that changes to prev/next image.

### Part of
- #766

[2022-10-12 10:56] monsieurtanuki commented on #2973
@VaiTon @prathamsoni11 Actually we don't need to wait, we can already compute the contribution count with a method like that:
[code]

[2022-10-12 11:28] teolemon commented on #515
@monsieurtanuki we're videomeeting at 2PM on the topic of packaging

[2022-10-12 17:19] #2960 closed, assigned to WildOrangutan

[2022-10-12 18:58] Akashsri3bi opened #3133 "BackButton Not visible in light mode"
### What
BackButton is not visible as its colour(white) in light mode (Search Screen)

### Steps to reproduce the behavior
1. Go to 'Search Screen'
2. Search an item
3. Click on side you will go back there is a back button there which is visible in dark mode

[2022-10-12 21:18] M123-dev commented on #3133
Could you share a screenshot @Akashsri3bi

[2022-10-13 05:34] Akashsri3bi commented on #3133
Sure
![Screenshot_2022-10-13-10-57-16-65](https://user-images.githubusercontent.com/71835085/195509365-f48a2d6f-3a63-4bd4-a4bc-89124599008f.png)
![Screenshot_2022-10-13-10-57-50-28](https://user-images.githubusercontent.com/71835085/195509506-a2eac42c-4d7a-44ba-8d55-5a1c3e0b94b4.png)

[2022-10-13 06:30] M123-dev commented on #3133
Thanks a lot @Akashsri3bi

I for example don't have this problem in 3.20.0+745 (8 days ago), but it's in the video from g123k here https://github.com/openfoodfacts/smooth-app/pull/3132

So this error must have occured in the last few days.

[2022-10-13 07:32] g123k opened #3135 "Support some special characters (< >…) in nutrition table input"
### What
- When we input the value of a nutrient (e.g.: salt), we should allow the following characters:
  - `<`
  - `>`
  - `~`
- Supporting `-` would also be nice to indicate that no value is available.

### Part of
- #511

[2022-10-13 07:46] g123k opened #3136 "Revamp proposal for the nutrition table"
### What
- Hi everyone,
- While working on the product edition, I thought about some enhancements for the nutrition table/facts.
I have identified 5 issues:

- The switch for “no nutrition fact” seems inverted (on the left?)
+ The question is negative

- The serving unit is at the center of the screen without being really understandable for newcomers
- It’s difficult to understand that we can chan

[2022-10-13 09:16] monsieurtanuki commented on #3135
Tell that to off-dart :)

[2022-10-13 09:21] monsieurtanuki commented on #3136
@g123k Your suggestion looks great!

My remarks:
1. [as you know](https://github.com/openfoodfacts/smooth-app/issues/3135) off-dart does not support < > for the moment, so that column is not relevant (yet)
2. the units take too much space for little added value - given the low frequency when a user changes the unit, we would be better off with only one unit and a button
3. in a near future, we'll

[2022-10-13 09:29] teolemon commented on #3136
What happens on narrow screens, and with prepared scrolling ? Does it scroll sideways ?

[2022-10-13 09:30] teolemon commented on #3136
Also personal opinion: the table looks intimidating. Very precise, but a bit intimidating (I'm going to break something)

[2022-10-13 16:11] monsieurtanuki commented on #3018
Given that #3059 is too complex to be reviewed with serenity, we have to do things differently here.
I'll keep committing to this PR in order to get a full single PR, but when I'm done with it I'll split it in smaller individual PRs, easier to review.

Meanwhile, I would like to explain what we're talking about:
1. some widgets are based on a product (e.g. the product page)
2. they need to be refr

[2022-10-13 16:55] g123k commented on #2919
I think it should now be OK to upgrade to Flutter 3.3.
Otherwise we will have two versions to upgrade on the next Flutter major release.

[2022-10-13 17:04] monsieurtanuki commented on #2919
I guess we can reasonably switch to flutter 3.3.4, as it's already the 5th version of 3.3 - they probably fixed most bugs.

[2022-10-13 18:54] #3119 closed, assigned to g123k

[2022-10-13 18:58] #3123 closed, assigned to g123k

[2022-10-13 22:59] VaiTon opened #3149 "Issues with product editing"
### What
- These are some issues reported by users while editing products:
- We need to validate this issues first and then if they're big enough we can create a subtask of this issue

### Tasks
- [x] #3207
- [ ] https://github.com/openfoodfacts/smooth-app/issues/2738
- [x] #3209 (https://world.openfoodfacts.org/cgi/suggest.pl?tagtype=origins&term=fr&lc=en)
- [x] When editing a photo the minimum s

[2022-10-13 23:01] VaiTon commented on #3136
I really like the table design. It's clear and resembles the one on the packaging.

The save button could be put as an action button on the appbar!

For the rest, I'm with @monsieurtanuki

[2022-10-14 01:43] GaryQian commented on #2919
Since you think the issues you mentioned are resolved and 3.3 is safe, I'll go ahead and close this issue now. Feel free to continue to discuss if there is anything else that needs to be fixed.

[2022-10-14 04:19] g123k opened #3150 "Importing data from V1: still relevant? [Blocked on F-Droid]"
Hi everyone,

We still have in the application the ability to import data from the Android/iOS native application (or V1 / V2).
Since the app was launched months ago, is this feature still relevant today?

[2022-10-14 06:14] Akashsri3bi commented on #2988
I would like to work on this issue . But which secondary button are you talking about

[2022-10-14 06:16] Akashsri3bi commented on #2928
I would like to look into this issue .

[2022-10-14 06:22] Akashsri3bi commented on #2635
I want to work on this issue !!

[2022-10-14 06:57] Akashsri3bi commented on #2585
I would like to work on this issue !!

[2022-10-14 07:42] M123-dev commented on #3149
The minimum crop size is already fixed by using monsieurtanuki's cropper, there is no such thing as a minimum size

[2022-10-14 07:45] M123-dev commented on #2988
Sure @Akashsri3bi, "Products to be completed" is a TextButton, but it really looks like text, we could put "Okay" and this together into a row as we do on other dialogs. We have a dedicated widget for that maybe have a look at the other dialogs

[2022-10-14 07:46] M123-dev commented on #2928
Perfect @Akashsri3bi

[2022-10-14 07:46] M123-dev commented on #2635
Sure @Akashsri3bi

[2022-10-14 07:48] #2919 closed, assigned to g123k

[2022-10-14 07:49] M123-dev commented on #2585
@Akashsri3bi 👍🏼

[2022-10-14 07:58] M123-dev commented on #3150
I was about to say we can remove it, but I would wait untill we have FDroid as well

[2022-10-14 10:00] g123k commented on #1882
A few after the release, we should think about removing the data import feature #3150

[2022-10-14 10:00] g123k commented on #3150
You're totally right, I tottaly forgot about this.

[2022-10-14 10:07] #3098 closed, assigned to prathamsoni-devcode

[2022-10-14 13:49] monsieurtanuki commented on #3149
No problem if we make the minimum crop size smaller.
Could be related to the crop controller size: at least 48? (= minimum touch size)

[2022-10-14 14:33] Akashsri3bi commented on #2988
Okay Great !! Thanks

[2022-10-14 15:50] teolemon commented on #2988
We could add a 1 pixel line around the button ?

[2022-10-14 16:14] monsieurtanuki commented on #2988
Something like that then (https://stackoverflow.com/questions/50083390/create-a-button-with-rounded-border)
![Capture d’écran 2022-10-14 à 18 14 07](https://user-images.githubusercontent.com/11576431/195893091-7f4ee54f-9ab4-4193-98ba-d19369934198.png)

[2022-10-14 17:31] M123-dev commented on #3105
Should we close or wait until we finalize the new one @AshAman999

[2022-10-14 17:37] AshAman999 commented on #3105
@M123-dev

I left it open since we are still not sure if you are going ahead with the new tool, perhaps we should wait for user reviews
Then we can move forward to delete the old cropper altogether

[2022-10-14 20:44] M123-dev commented on #2651
I just got https://fluttium.dev/docs/getting-started/writing-your-first-flow recommend to me, but the test are written in yaml which is really dislike due to github actions

[2022-10-14 21:16] g123k commented on #2651
This is the same framework as Maestro, but far behind in termes of features

[2022-10-15 20:59] Akashsri3bi commented on #2635
@g123k can you brief issue product matching ? moreover issue dialog with sub actions clickable or not has been dealt with in recent pr

[2022-10-16 09:56] AshAman999 opened #3161 "Not being able to scan on iOS"
### What
- The app goes in permission loop , hence not being able to allow the camera to scan

### Steps to reproduce the behavior
1. Download the app from testflight
2. Try to open the app
3. …
4. See error

### Screenshot/Mockup/Before-After

https://user-images.githubusercontent.com/57723319/196029148-7b7d9ef7-0635-473e-b54c-e6d3c8226cb5.MOV

### Smartphone model
 - Device: iPhone Xr
 - OS: iOS

[2022-10-16 11:06] teolemon opened #3163 "Links to webpages are not clickable anymore"
### What
- All links to webpages are not clickable anymore

[2022-10-16 11:19] teolemon opened #3164 "Friday's change to the CI breaks the Android release"
### What
- Friday's change to the CI breaks the Android release
- Run echo Release type PLAY + Build type appbundle + Tag name (only on github release)
/home/runner/work/_temp/d5a21e4c-6a4c-4008-a215-db[7](https://github.com/openfoodfacts/smooth-app/actions/runs/3259265189/jobs/5351971367#step:3:8)f9aa[8](https://github.com/openfoodfacts/smooth-app/actions/runs/3259265189/jobs/5351971367#step:3:9)

[2022-10-16 17:12] #3164 closed, assigned to M123-dev

[2022-10-17 17:34] #2517 closed, assigned to nobody

[2022-10-17 18:18] VaiTon commented on #2954
Heyyy, now that #3102 is merged, this is a bigger problem than ever I think

[2022-10-17 18:33] Akashsri3bi commented on #3163
I want to look into this issue , Can you tell me where is it happening particularly

[2022-10-18 06:15] teolemon commented on #3163
Great @Akashsri3bi :)
Try to explore the Contribute or Discover view in settings, and clicking on an external link

[2022-10-18 08:50] sumit-158 opened #3174 "Pages not working properly"
### What
- "History", "Products I edited, added" and many more not crashes while refreshing.

### Steps to reproduce the behavior
1. Go to "your profile"
2. Click on "Products I edited"
3. Refresh the screen
4. See error

### Why
-

### Screenshot/Mockup/Before-After

https://user-images.githubusercontent.com/96618001/196383020-9831cfd1-591f-4964-806a-c3dbd78660c9.mp4

### Smartphone model
 - Devi

[2022-10-18 08:54] M123-dev commented on #3174
That's strange, I can't reproduce @sumit-158

[2022-10-18 08:55] sumit-158 commented on #3174
In Oneplus device?
I try in another device (Samsung) it works fine!

[2022-10-18 17:30] monsieurtanuki opened #3176 "Cannot flutter run anymore :("
### What
- After weeks of work on a fork, this afternoon
  - I've switched to the `develop` branch
  - I've upgraded to flutter 3.3.4
  - I've merged the 84 (!) commits in order to be up-to-date
- From this moment I cannot `flutter run`. I've tried on the `smooth_app` folder, on an iOS Emulator.
- The error is something like that:
[code]

[2022-10-18 18:16] monsieurtanuki commented on #3176
That's OK, if I follow the brand new `README` for the correct `flutter run` parameters, it works.
Looks like #3101 took a short-cut while I was looking in another direction.

[2022-10-18 18:16] #3176 closed, assigned to nobody

[2022-10-18 19:16] Akashsri3bi opened #3177 "Bottom Overflow Rendering Issue"
### What
There is bottom overflow issue when keyboard appears for typing !

![Screenshot_2022-10-17-17-49-12-10 1](https://user-images.githubusercontent.com/71835085/196523122-51c9045d-38c5-4cbc-a3ab-59f9917b532c.png)

[2022-10-18 19:19] Akashsri3bi commented on #3177
Fix **requries ScrollView** for the screen when keyboard appears

[2022-10-18 20:31] M123-dev commented on #3176
We should definitely put this noticed higher in the README have already seen some questions about in in slack

[2022-10-19 14:19] anshpathania7 commented on #3108
Hey, If this issue is free. Can I look into this?
Also, Can you or anyone else test the ios implementation when I'm done?
 @g123k

[2022-10-19 15:48] monsieurtanuki commented on #3136
@g123k Btw I'm currently refactoring the nutriment page: nothing about the display, but as an impact of https://github.com/openfoodfacts/openfoodfacts-dart/pull/570

[2022-10-19 16:11] #3065 closed, assigned to monsieurtanuki

[2022-10-20 04:35] teolemon commented on #3161
I can reproduce that on Android. I had to roll back the app to the stable version on my phone to be able to scan.

[2022-10-20 05:01] M123-dev commented on #3161
So stable is working that's good news but scan broken not so good

[2022-10-20 07:02] AshAman999 commented on #3108
You can work on this one ,

About testing on iOS I believe Eduoard can help you test that, once the pr is up

[2022-10-20 07:32] AshAman999 commented on #3177
if you want to fix this one feel free to crate a pr @Akashsri3bi

[2022-10-20 09:29] sumit-158 commented on #3174
Closing because it's working fine now.

[2022-10-20 09:29] #3174 closed, assigned to nobody

[2022-10-20 11:30] anshpathania7 commented on #3108
@AshAman999 What exactly list widget is supposed to show and For history,  recently searched items are to be shown?

[2022-10-20 12:42] Akashsri3bi commented on #3177
yup okey !

[2022-10-20 15:20] bhattabhi013 commented on #2604
Hi @M123-dev,
I think I can work on this.

[2022-10-20 15:27] M123-dev commented on #2604
Perfect @bhattabhi013, great to see you again 👋🏼

[2022-10-20 16:22] M123-dev opened #3181 "iOS internal release failing"
### What

`Cannot obtain the content provider public id. Please specify a provider short name using the -asc_provider option.`

https://github.com/openfoodfacts/smooth-app/actions/runs/3283209959/jobs/5407654237#step:13:1677

[2022-10-20 17:59] AshAman999 commented on #3108
@anshpathania7

I believe it's only history screen for now, perhaps @teolemon  would be the right person to ask for it

[2022-10-20 18:30] AshAman999 commented on #3163
Well I guess I found the problem

Found something on the flutter repo, well I guess that would solve the problem for now,
https://cutt.ly/4B2AMZl

[2022-10-21 03:20] AshAman999 commented on #2633
Are you still working on this one @g123k,

I was having a look and felt that would do it, felt that I should learn testing as well

[2022-10-21 04:36] g123k commented on #2633
Yes you can try to fix it.
I'm back, but you may be faster than me.
Please keep me in touch

[2022-10-21 05:45] #3163 closed, assigned to AshAman999

[2022-10-21 06:02] teolemon commented on #3181
also, but non blocking: [iOS-release / Build and deploy to TestFlight testers (org.openfoodfacts.scanner)](https://github.com/openfoodfacts/smooth-app/actions/runs/3295067245/jobs/5433240384#step:4:33)
The `set-output` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2022-10-11-github-actions-depreca

[2022-10-21 10:48] M123-dev commented on #3181
This is true for nearly all workflows

[2022-10-21 20:10] teolemon opened #3187 "Robotoff questions is looping in some conditions"
### What
- Robotoff questions is looping in some conditions

### Video
https://user-images.githubusercontent.com/1689815/197280691-862014aa-aa50-4b28-9617-e73413137862.mp4

[2022-10-21 20:34] teolemon opened #3188 "Ignore button is illegible in dark mode"
### What
- Ignore button is illegible in dark mode
<img src="https://user-images.githubusercontent.com/1689815/197284011-f6d55bb3-6fd7-4524-9189-2574d20f0d8b.png" height="400px">

[2022-10-21 20:35] teolemon opened #3189 "We should be using the actual label name in Robotoff questions"
### What
We should be using the actual label name in Robotoff questions
<img src="https://user-images.githubusercontent.com/1689815/197284107-2fe1122c-272e-4c7f-a934-b5b91329caf2.png" height="400px">

[2022-10-22 04:25] AshAman999 commented on #3118
@M123-dev
Sorry to see the mention late was caught up with exams

Yeah the auth checks if you can log in, if the server just returns the wrong password we log them out else in case there is some different response we just ignore it

Is the issue fixed already?

[2022-10-22 10:02] g123k commented on #3161
That's strange, I can't reproduce on Android.
Could you provide steps to reproduce?

[2022-10-22 11:52] teolemon commented on #3161
Trying to scan in safe mode with that version, it will keep trying to refocus

[2022-10-22 11:53] g123k commented on #3161
Ok, so there is no link with permissions.
Please open a new issue instead

[2022-10-22 12:42] natrius commented on #2771
Do i miss something or should there be an apk here to download? https://github.com/openfoodfacts/smooth-app/releases

[2022-10-22 16:00] bhattabhi013 commented on #2604
Here's an update:
I went through all of the screen sizes(even the windows, Linux, and mac OS) but I was unable to replicate it.
I think this issue doesn't exists anymore.

[2022-10-22 16:10] AshAman999 commented on #2604
Yup, that's right
This doesn't exist anymore
Closing this as it's not present anymore

[2022-10-22 16:10] #2604 closed, assigned to bhattabhi013

[2022-10-22 16:36] M123-dev commented on #3118
Yes it is 👍🏼

[2022-10-22 16:36] #3118 closed, assigned to nobody

[2022-10-22 16:41] M123-dev commented on #2771
Heyyy @natrius good catch, yeah there should be, I just ticked this box 2 days ago. When we merge https://github.com/openfoodfacts/smooth-app/pull/3159 then there will be an apk to download

[2022-10-22 19:08] #3133 closed, assigned to nobody

[2022-10-22 20:48] #3161 closed, assigned to g123k

[2022-10-23 09:54] monsieurtanuki commented on #3189
@teolemon I guess we do, except when we don't:
![Capture d’écran 2022-10-23 à 11 45 53](https://user-images.githubusercontent.com/11576431/197385580-4c9765d4-268c-455e-bb5d-6af5791cdcde.png)

Here in Smoothie there's no added value: we just print what we've been provided.

[2022-10-23 09:57] monsieurtanuki commented on #3149
@VaiTon Each single complaint is legitimate, and each deserves a specific issue - and a priority ;)

[2022-10-23 10:16] teolemon commented on #3189
ok, good, I wasn't sure, going to file on the Robotoff Side

[2022-10-23 10:19] #3188 closed, assigned to monsieurtanuki

[2022-10-23 10:34] teolemon opened #3196 "Infinite refocusing on a Pixel 6 with the dev branch"
Trying to scan in safe mode with that version, it will keep trying to refocus

_Originally posted by @teolemon in https://github.com/openfoodfacts/smooth-app/issues/3161#issuecomment-1287770816_

[2022-10-23 16:25] g123k commented on #3084
Once MLKit & ZXing will be available, we will be able to deploy to FDroid and many other stores.

In terms of GitHub Actions, what should we do? One action per store? A single action for all stores? (any suggestion @M123-dev)

[2022-10-24 06:46] prathamsoni-devcode commented on #2944
moved the finish button a bit higher. Is that good?

![Screenshot_2022-10-24-12-14-55-972_org openfoodfacts scanner](https://user-images.githubusercontent.com/75238158/197463886-70760aec-bfa3-47b6-905c-e82f9a456221.jpg)

[2022-10-24 12:09] VaiTon commented on #2954
I think the last step is to update the SDK

[2022-10-24 12:39] g123k commented on #3196
Mmm both modes seems OK on my Pixel 7.
Is-it always reproducible or only in some cases @teolemon?

[2022-10-24 13:43] g123k commented on #2927
Cool, closing the issue

[2022-10-24 13:43] #2927 closed, assigned to g123k

[2022-10-24 13:45] #2314 closed, assigned to g123k

[2022-10-24 13:45] g123k commented on #1047
Should we consider that this issue is now resolved?

[2022-10-24 13:46] g123k commented on #2761
This issue was fixed a few releases ago

[2022-10-24 13:46] #2761 closed, assigned to g123k

[2022-10-24 13:46] g123k commented on #2805
I think all dialogs have been fixed. I'm closing the issue.
Please reopen it, if necessary

[2022-10-24 13:46] #2805 closed, assigned to g123k

[2022-10-24 13:47] g123k commented on #2741
It think we should consider this issue as fixed with the "alternative mode" enabled by default

[2022-10-24 13:47] #2741 closed, assigned to g123k

[2022-10-24 13:48] g123k commented on #2917
@monsieurtanuki Do you still have the issue with recent builds and the alternative mode?

[2022-10-24 13:58] g123k commented on #2916
I think we can now close this issue as the alternative mode fixes everything

[2022-10-24 13:58] #2916 closed, assigned to g123k

[2022-10-24 14:03] g123k opened #3202 "Check that a new version is available"
Hi everyone,

Once all PRs surrounding the modularization of the app are merged, we will be able to check per store if a new version is available.

For the App Store & Google Play, we can use a plugin directly [like this one](https://pub.dev/packages/new_version).
But for other stores, no API is available.

In that case, the solution would be to have a JSON file containing the latest version avail

[2022-10-24 14:05] g123k opened #3203 "Sign up form: "Terms of use" text is not clickable"
The text in blue is not clickable anymore on the Sign up form:

![Screenshot_1666620252](https://user-images.githubusercontent.com/246838/197545289-bfc860ee-0c7d-41a3-a64f-ac5ac79e75af.png)

[2022-10-24 14:10] g123k opened #3204 "Forms have a strange bottom padding"
On many screens in the app, above the virtual keyboard, we have a blank space.
Here a few screens, where this is reproducible:

- [ ] Login
- [ ] Sign Up

![Screenshot_1666620445](https://user-images.githubusercontent.com/246838/197546363-191e0624-5842-4234-a4b9-33ce46c4cd66.png)
![Screenshot_1666620453](https://user-images.githubusercontent.com/246838/197546367-e00f374f-6a76-469a-8867-777f3ef9efc

[2022-10-24 15:49] g123k commented on #3009
Since the alternative mode is enabled by default, we won't implement this

[2022-10-24 15:49] #3009 closed, assigned to g123k

[2022-10-24 16:50] monsieurtanuki commented on #2917
@g123k I've just tried with the latest version on Google Play (September 11th?), and had a similar experience: frozen camera screen (not black camera, though).
I killed the app, then tried to run it again but after the splash screen there was an instant crash - same as OP. I've sent two Android crash reports with my name: if you have access to them you may see something interesting.

But I guess y

[2022-10-24 18:49] M123-dev opened #3207 "The website field (available on the openfoodfacts.org) is missing"
### What
- The website field (available on the openfoodfacts.org) is missing
### Part of
- #503

[2022-10-24 18:49] M123-dev opened #3208 "The allergens field is missing"

[2022-10-24 18:49] M123-dev opened #3209 "We need autocomplete for the origin field"

[2022-10-24 18:49] M123-dev opened #3210 "M2 - In the old app we had a tab to show contributions info (latest contributor, users that edited the page, etc.)"
### What
- In the old app we had a tab to show contributions info (latest contributor, users that edited the page, etc.)
### Part of
- #503

[2022-10-24 18:49] M123-dev commented on #3209
https://world.openfoodfacts.org/cgi/suggest.pl?tagtype=origins&term=fr&lc=en

[2022-10-24 18:50] M123-dev commented on #3149
I created a seperate issue for every one of them @VaiTon

[2022-10-24 18:54] M123-dev commented on #2944
Heyy @prathamsoni11 higher will maybe work on your device but we can't confirm this for every device. I'm also in favor of replacing it with a FloatingActionButton.extended in the Scaffold as monsieurtanuki suggested.

[2022-10-24 18:56] M123-dev commented on #1047
Sounds good performance isn't really a problem anymore

[2022-10-24 18:56] #1047 closed, assigned to g123k

[2022-10-24 19:16] #3204 closed, assigned to g123k

[2022-10-24 19:31] M123-dev commented on #3084
My plan was to have to 2 build jobs

1. iOS
2. Android main

Where 1. automatically releases to the store, but 2 is uploading the apk as artifact which we dowload in one seperate workflow per store, so that we don't fail te release on all platforms when there is a problem with one, to reuse as much code as possible and to not have a built per platform that would be a total waste of recources.

The

[2022-10-24 19:32] M123-dev commented on #3084
https://github.com/openfoodfacts/smooth-app/issues/2771

[2022-10-24 19:35] M123-dev commented on #3202
Thats a good question not only for that but also for the tagline, because I fear that this great feature will get into oblivion because it is not used.

The key aspects for the release json would be:
1. How reliable this github, do they block is if they get multiple thousand requests per day
2. How to update this file on a new release

[2022-10-24 19:44] M123-dev opened #3212 "Can't scan on galaxy s21"
### What

I have this issue for around a week on latest develop now, the camera is working fine, no big problem with focus, quality and performance but I can't get any barcode to scan.

@g123k

### Smartphone model
 - Device: Galaxy S21
 - OS: Android 12
 - App Version: 3.23.0+770

### Additional context
Can't get the logs rn as I "don't have an email application"

[2022-10-24 20:27] g123k commented on #3212
Do you have the issue with both modes?

[2022-10-24 22:20] g123k commented on #3202
We should talk about this Thursday I think to find the better solution

[2022-10-25 02:56] prathamsoni-devcode commented on #2944
ok, I will replace it with a floating action button.

[2022-10-25 03:19] prathamsoni-devcode commented on #2944
@M123-dev Something like this??

![Screenshot_2022-10-25-08-47-28-468_org openfoodfacts scanner](https://user-images.githubusercontent.com/75238158/197674341-f6ea2d49-e99e-4bd2-810e-3760c151bfbe.jpg)

[2022-10-25 05:18] AshAman999 commented on #2944
Can you check @prathamsoni11, if the snack bar is still blocking the finish button?

[2022-10-25 05:40] M123-dev commented on #3212
Yes both modes, just checked on Slack I noticed this on the 15th but could have been there for longer

[2022-10-25 06:49] teolemon opened #3214 "Dark mode issues"
### What
- Dark mode issues

### Part of
- #684

### Screenshot/Mockup/Before-After

![Screenshot_20221025-082518.png](https://user-images.githubusercontent.com/1689815/197702004-0c42de7b-8b1e-423a-b2ec-9330797d3e47.png)

[2022-10-25 06:50] teolemon commented on #3214
![Screenshot_20221025-085008.png](https://user-images.githubusercontent.com/1689815/197702481-62c4ee40-0176-4884-be3f-a8a2f7080ed6.png)

[2022-10-25 06:56] teolemon commented on #3207
- Isn't that #2738 ?

[2022-10-25 06:59] teolemon commented on #3196
Also reported by @raphael0202 on his Oneplus 7T

[2022-10-25 07:04] teolemon commented on #3212
- #3196 is a duplicate, affecting me & @raphael0202

[2022-10-25 07:41] Akashsri3bi commented on #3214
I will see to it @teolemon !

[2022-10-25 07:42] monsieurtanuki commented on #2917
@g123k I've just tried with the latest `develop` version, and it's worse: it crashes after the onboarding, just when landing on the camera page.

<details>

<summary>Flutter output</summary>

[code]
</details>

For the record there were warnings in the build process

<details>

<summary>warnings</summary>

/Users/fabricefontaine/development/flutter/.pub-cache/git/plugins-3c62b56bb6cc0ae1c9594f417c

[2022-10-25 08:57] g123k commented on #3212
I'm unable to reproduce the issue on many phones.
@M123-dev Could you test with the debug variant and tell me if you have the issue?

I wonder if it's not only in release

[2022-10-25 09:32] g123k commented on #2944
Neither solutions are good.
You have to shift the content when the Snackbar is visible.

And no, this not a "5 minute fix" label

[2022-10-25 10:47] #3046 closed, assigned to monsieurtanuki

[2022-10-25 13:18] #2540 closed, assigned to g123k

[2022-10-25 13:18] #3203 closed, assigned to g123k

[2022-10-25 13:35] #2954 closed, assigned to g123k

[2022-10-25 13:35] M123-dev commented on #2954
The SDK is now up to date

[2022-10-25 13:36] M123-dev commented on #2944
Lets still do the FAB first, this is a problem which everyone has and the content is just a problem for people with very small devices

[2022-10-25 13:54] M123-dev commented on #3212
Good idea, you are right works like charm on debug builds, but when running with --release and

[code]

it doesn't but I managed to get an error:

[code]

[2022-10-25 13:58] g123k commented on #3212
Mmm interesting, I will investigate this

[2022-10-25 14:06] g123k commented on #3212
It seems the issue is related to flutter_isolate and an update should fix it https://pub.dev/packages/flutter_isolate/install

[2022-10-25 16:03] raphael0202 opened #3217 "Cannot validate the creation of a product"
### What
When adding a new product, after taking photos, clicking on "Done" didn't trigger anything.
What was added: front image, 2 additional images. No nutrition or ingredient images. Brand + product name completed

Product 8802521123266

### Smartphone model
 - Device: onePlus 7T
 - OS: Android
 - App Version: internal (3.23.0+761)

[2022-10-26 03:07] prathamsoni-devcode commented on #2944
Yes, it is still blocking I tried solving it but can't get the solution.

One suggestion from my side is that:-
lets move finish button to app bar

[2022-10-26 03:07] prathamsoni-devcode commented on #2944
ok, pushing the code with FAB button

[2022-10-26 18:06] AshAman999 commented on #3209
@M123-dev
If I am not wrong [#596](https://github.com/openfoodfacts/openfoodfacts-dart/pull/597) has been merged but not yet in release, so I should wait for it be in the next off release

[2022-10-27 05:25] M123-dev commented on #3209
Yes @AshAman999 good catch

~~Blocked on https://github.com/openfoodfacts/openfoodfacts-dart/pull/599~~ Not anymore

[2022-10-27 07:14] monsieurtanuki commented on #3209
Just upgrade off-dart to 1.27.0. It's very easy.

[2022-10-27 14:53] galnaf commented on #3136
What if the serving size is not 100 gr. Would there be a way to enter it manually?

[2022-10-27 15:17] g123k commented on #3136
Yes, that the "serving size" field

[2022-10-27 17:32] g123k commented on #3212
It seems there is an issue with Flutter 3.3 and this lib…
I will try to find a fix

[2022-10-27 19:20] g123k opened #3224 "We need to downgrade again to Flutter 3.0"
Hi everyone,

For a few days, people have been complaining about scanning issues.
After digging a little bit in the issue, the problem is only reproducible in release mode.

And following my researches, there is an issue on Flutter 3.3 (or Dart 2.19) with isolates.
When we start the isolate, we now have this error:

`Abort message: '../../third_party/dart/runtime/vm/message_snapshot.cc: 576: error

[2022-10-28 03:30] prathamsoni-devcode commented on #2973
Can we show a dialogue box for the contribution count for this?

[2022-10-28 05:54] teolemon commented on #2973
![Screenshot_20221028-075425.png](https://user-images.githubusercontent.com/1689815/198513540-624a6bb9-18fb-4bb1-ada9-f7c0f34a8528.png)

[2022-10-28 05:54] teolemon commented on #2973
Inline here ?

[2022-10-28 06:19] prathamsoni-devcode commented on #2973
Yes, In this section I think so?

[2022-10-28 06:20] prathamsoni-devcode commented on #2973
Or we can add it under username like a subtitle in AppBar section

[2022-10-28 06:25] teolemon commented on #2973
![Screenshot_20221028-082505.png](https://user-images.githubusercontent.com/1689815/198517971-7877e371-4673-403a-86c9-baf034a7b685.png)

[2022-10-28 06:25] teolemon commented on #2973
We have at least 3 to display

[2022-10-28 06:48] prathamsoni-devcode commented on #2973
Should we display these 3 in their section only in AppBar like a subtitle?

[2022-10-28 07:22] monsieurtanuki commented on #3224
@g123k Fun fact: yesterday I upgraded to the latest macos and now I cannot play youtube videos... Not the good season for upgrades, obviously.

Regarding Smoothie, from what I've tried this morning:
* `flutter downgrade` goes down to `3.0.5`, which is fine
* then run `flutter doctor`
* in the `pubspec.yaml`s, put that instead:
[code]
* in `smooth_app/pubpsec.yaml`: `flutter_map: 2.2.0`, `typed_dat

[2022-10-28 08:01] Akashsri3bi commented on #3214
These were fixed I guess in back button not visible issue !

[2022-10-28 08:20] Akashsri3bi opened #3226 "Trying To Signup But Getting This Result"
### What
- Loads of html
### Why
Invalid email error generated by Product Opener, that we didn't catch client side
### Solutions
- Having a proper api
- doing a better job catching unvalid email

![Screenshot_2022-10-28-12-51-17-93 1](https://user-images.githubusercontent.com/71835085/198539835-6dc11391-22fc-4f2a-8b6a-d733d0cf24d7.png)

[2022-10-28 13:16] prathamsoni-devcode commented on #3226
Can I work on this issue?

[2022-10-28 13:40] Akashsri3bi commented on #3226
Already seeing to it !

[2022-10-28 15:57] M123-dev commented on #3214
Doesn't look like it, I have this problem on the latest commit

[2022-10-28 15:58] M123-dev commented on #3214
Added before next release, we shouldn't release so obvious bugs

[2022-10-28 18:10] Akashsri3bi commented on #3214
It seems fine on my device ,  Should I attach a screenshot ?

[2022-10-28 18:10] Akashsri3bi commented on #3214
Can you attach a screenshot @M123-dev where this issue persists

[2022-10-29 04:35] prathamsoni-devcode commented on #2973
@teolemon I tried this but it is not looking good. Should we go for a dialogue box for all 3?

[2022-10-29 05:49] teolemon commented on #2973
I think simply showing within the view, above the items would be good, and that was the intent of my screenshot, which I realize was ambiguous.

[2022-10-29 06:40] prathamsoni-devcode commented on #2973
ok, now I understand. Sorry, I thought you were asking for a suggestion it's my bad that I didn't understand.
ok it will be implemented above the items.

[2022-10-29 09:01] M123-dev opened #3229 "Bug -vempty product added to history"
### What
- I encountered this wierd behavior
- I pressed the finish button on the product addition page without adding anything else
- Then a strange card appears on top of history

https://user-images.githubusercontent.com/39344769/198823067-5427897b-5c1b-47e9-b078-f433cf350464.mp4

[2022-10-29 09:46] M123-dev opened #3231 "Bug - Refreshing small list => empty list"
### What
- When refreshing small lists, afaik doesn't matter what type you often get a empty list back

https://user-images.githubusercontent.com/39344769/198824837-728c844f-5601-4543-9cea-baa3b5337e77.mp4

[2022-10-29 10:56] prathamsoni-devcode commented on #3231
can I work on this?

[2022-10-29 10:58] prathamsoni-devcode commented on #2944
Now there is no more blocking on the finish button 😀
<img src="https://user-images.githubusercontent.com/75238158/198827533-331ee79c-56e9-4053-b591-c4c2c4fdd416.jpg" width=250 height=500>

[2022-10-29 10:58] M123-dev commented on #3231
Sure @prathamsoni11

[2022-10-29 10:59] prathamsoni-devcode commented on #3231
Thanks for assigning

[2022-10-29 12:02] AshAman999 commented on #2944
I guess we can close this issue then , feel free to reopen if necessary

[2022-10-29 12:02] #2944 closed, assigned to prathamsoni-devcode

[2022-10-29 12:04] Akashsri3bi commented on #3226
@teolemon I think this a server side issue ! status.error message is coming a html reponse

[2022-10-29 13:52] #3209 closed, assigned to AshAman999

[2022-10-29 20:14] M123-dev opened #3234 "Release still not working due to activate mlkit script"
### What
[code]

[2022-10-30 11:09] teolemon opened #3236 "Add shortcuts for Hunger Games, Product to Be Completed list"
### Problem
- As a power contributor, I want to play Hunger Games in the transportation, or go to the Product to Be Completed list, and help categorize new products
- it currently takes me 3 taps (for Hunger Games) or 4 taps (for Product to Be Completed list)

### Proposed solution

- [ ] Add Android app shortcuts for "Hunger Games"
- [ ] Add Android app shortcuts for "Product to Be Completed" lis

[2022-10-30 13:08] teolemon commented on #3234
@g123k might have found a solution non involving downgrading Flutter

[2022-10-30 15:42] monsieurtanuki opened #3237 "New picture: Systematic choice - gallery or camera"
### Problem
On my ios emulator the camera does not work.
In some cases in Smoothie, you can select gallery or camera. In other cases, it's only camera (which always fails in my case).

### Proposed solution
For UX consistency and better dev options, I would suggest to _always_ propose gallery or camera as a picture source.

### Additional context
This is already the case in edit product page / edi

[2022-10-30 15:54] monsieurtanuki opened #3238 "Endless rebuild in product_image_gallery_view.dart"
### What
While debugging, I added a  `print` in the `build` method of `product_image_gallery_view.dart`, and noticed that it was constantly refreshed (like several times per second).

### Steps to reproduce the behavior
1. Go to `product_image_gallery_view.dart`
2. Add a `print` at the start of the `build` method
3. In the app, go to the product image gallery
4. See in the logs that the `print` is

[2022-10-30 16:01] monsieurtanuki commented on #3238
Additional thoughts:
* it looks like the product is being downloaded again and again during the refresh, which is not cool
* it looks like as the fields are not 100% stable, sometimes the app crashes, because when you take a new picture each picture should be either "selected" or "unselected" in the gallery, and you don't know it yet for the new picture as the related computations are async

[2022-10-30 16:03] g123k commented on #3237
The camera is not supported on the iOS simulator, reason why you have this issue.
But it would be interesting to remove the camera choice when no camera is available

[2022-10-30 16:06] AshAman999 commented on #3237
I agree with @monsieurtanuki here, I noticed there are few screens where we aren't letting the user select if they want to click picture or select one,
The default behavior should be to ask the user for either by default

[2022-10-30 16:06] g123k commented on #3234
That issue is different.
This script is working on macOS, but not on the GitHub machine.

Do someone know why this command does not work on a Unix machine?
`sed -i '' 's|^    #path: ../scanner/mlkit|    path: ../scanner/mlkit|g' packages/app/pubspec.yaml`

basically, I want to comment or dis-comment a line

[2022-10-30 16:07] monsieurtanuki commented on #3237
@g123k My point here was to always give the user the choice of gallery, which would solve my issue AND bring consistency in the app.
Your suggestion of removing the camera choice when not available is interesting too, and goes a bit beyond this issue. What is the code to detect that the camera is not available?

[2022-10-30 16:14] g123k commented on #3237
In the `CameraHelper`, you have a dedicated method https://github.com/openfoodfacts/smooth-app/blob/eef4c451141161b3bf9bc2ede977d6a359e69c7e/packages/smooth_app/lib/helpers/camera_helper.dart#L19

[2022-10-30 16:28] monsieurtanuki commented on #3237
Thank you @g123k, that works like a charm!

[2022-10-31 04:36] prathamsoni-devcode commented on #2973
Something like this?

<img src="https://user-images.githubusercontent.com/75238158/198931914-3b87a5a6-15c8-4c8c-a267-1fd4dda9a848.jpg" width = 250 height=500>

[2022-10-31 07:56] #3237 closed, assigned to monsieurtanuki

[2022-10-31 14:12] teolemon commented on #3226
@alexgarel @stephanegigandet

[2022-10-31 14:42] monsieurtanuki commented on #3238
@AshAman999 I think the bug comes from your #3023:
* the async code used to be called once, in `initState`
* you moved that async code inside `build` - the widget is therefore refreshed in an endless loop
* I think your goal was to have fresh data - in that case it cannot be fresher :)

But beyond that endless loop, there are some things I'd like to understand better.

On that screen, there are 4

[2022-10-31 16:33] AshAman999 commented on #3238
Hello @monsieurtanuki
Sorry for the in-intended outcome from #3023, The endless loop I guess it got left undetected by both during the pr that time.

I Agree with you, loading all the pics by default only creates the overhead of API calls, we were better with the 4, for others, it would make another screen to do so,

[2022-10-31 16:39] monsieurtanuki commented on #3238
Oh my point was not to say your code was wrong, my point was to check if my understanding was correct (in order to fix the bug) and to get your opinion on my other questions (as you've already coded on this page, you may already have exchanged on the "picture situation").

Thank you for your additional answer, as you confirm that it would be more user-friendly to show only the main 4, and perhaps

[2022-11-01 09:22] monsieurtanuki opened #3245 "Implement "other" / "all" image manager"
### What
- The image manager should definitely be back at some point, possibly elsewhere.
### Why
- The list of other images is useful for:
  - moderation (spot bad images)
  - selecting images from server as front/ingredient/nutrition/packaging

_Originally posted by @teolemon in https://github.com/openfoodfacts/smooth-app/issues/3241#issuecomment-1297671691_

[2022-11-01 09:43] teolemon commented on #3245
- https://github.com/openfoodfacts/smooth-app/issues/2351

[2022-11-01 10:24] teolemon opened #3249 "The product page does not refresh if you click "Continue" after answering a category robotoff question"
### What
- The product page does not refresh if you click "Continue" after answering a category robotoff question
- The newly added category does not appear

[2022-11-01 10:27] teolemon opened #3250 "Weird wording to fix"
Story: #
"Upload an image to automatically extract the provided information" >> Weird wording to fix

[2022-11-01 10:29] teolemon commented on #3250
Failed to edit image, image url not set. >> URL

[2022-11-01 10:34] monsieurtanuki commented on #3249
That would mean we need to make the download of the updated product last part of each robotoff answer, wouldn't it?
Assuming that robotoff is so fast that the product is instantly updated on the server.

[2022-11-01 11:03] teolemon commented on #3249
In the case of a manual answer, write is instantaneous.
The 5 min delay on Robotoff write is when a person uploads a new photo, adds a new product, to avoid overwriting manual contributions

[2022-11-01 11:20] monsieurtanuki commented on #3249
That means that in `QuestionPage._saveAnswer` we should download/refresh the product after calling `OpenFoodAPIClient.postInsightAnnotation`. E.g. with `ProductRefresher.fetchAndRefresh`.

[2022-11-01 11:38] teolemon commented on #520
closing, I have refreshed mockups on this when we have more structured support for origins in the server

[2022-11-01 11:38] #520 closed, assigned to nobody

[2022-11-01 11:43] teolemon commented on #2190
probably related to the issues uncovered by @monsieurtanuki

[2022-11-01 11:44] teolemon commented on #3181
Same issue again

[2022-11-01 11:46] teolemon commented on #3234
- fixed by @g123k in #3243

[2022-11-01 11:46] #3234 closed, assigned to nobody

[2022-11-01 11:47] teolemon commented on #3189
@raphael0202 any idea why we're getting those ?

[2022-11-01 13:43] g123k commented on #2467
Now that the new app architecture is implemented, I will work on this issue.
A blocking one, is the camera plugin not being available on desktop platforms -> I will create a Mock for this one

[2022-11-01 13:56] monsieurtanuki commented on #2467
@g123k Probably not a problem with the "gallery".
And on my ios emulator the app doesn't crash, without a camera.

[2022-11-01 14:01] g123k commented on #2467
Actually by just stating that no camera is available, the app runs smoothly

[2022-11-01 14:30] M123-dev commented on #3212
This is fixed by downgrading, thanks @g123k  👍🏼

[2022-11-01 14:30] #3212 closed, assigned to g123k

[2022-11-02 09:56] stephanegigandet commented on #3226
There is currently no API for user signup, so error messages are sent back as HTML, but the app used to work with that.
This issue is missing context, does this happen always? or just when the e-mail is invalid?

[2022-11-02 11:37] Akashsri3bi commented on #3226
From what I found it happens on invalid email pass!

[2022-11-02 14:45] #2467 closed, assigned to g123k

[2022-11-02 14:53] M123-dev commented on #2973
Heyy, looks good to me, we have no mockup of a Design so this is good

But we now have the "edited products" and "Products I photographed" section twice
Lets put the count in the same widget as the buttons

[2022-11-02 14:55] M123-dev commented on #3224
We downgraded 👍🏼

[2022-11-02 14:55] #3224 closed, assigned to nobody

[2022-11-02 16:02] M123-dev opened #3255 "Build failing due to xzing kotlin compile"
### What
@g123k
[code]

[2022-11-02 16:02] M123-dev commented on #3255
https://github.com/openfoodfacts/smooth-app/actions/runs/3378530089/jobs/5608852858

[2022-11-02 16:09] #2988 closed, assigned to Akashsri3bi

[2022-11-02 16:39] stephanegigandet commented on #3226
I'm confused, is that "sign up" as "creating a new account", or "sign in" as "logging in with an existing account"?

[2022-11-02 17:58] monsieurtanuki commented on #3226
It's sign up, aka register, aka `/cgi/user.pl`.

[2022-11-03 04:16] prathamsoni-devcode commented on #2973
As a trailing or subtitle??

[2022-11-03 07:26] M123-dev commented on #2973
Trailing is good 👍🏻

[2022-11-03 08:22] Akashsri3bi commented on #3214
@M123-dev yes this issue is there I will see to it

[2022-11-03 10:59] #3238 closed, assigned to monsieurtanuki

[2022-11-03 15:58] #3255 closed, assigned to nobody

[2022-11-03 16:43] M123-dev commented on #3214
When do you think you will be able to have a look at it @Akashsri3bi

[2022-11-03 17:19] sentry[bot] opened #3260 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-1FT](https://sentry.io/organizations/openfoodfacts/issues/3701604020/?referrer=github_integration)

[code]

[2022-11-03 17:21] M123-dev commented on #3260
This happens when you tap the add missing nutrition data in the health card

[2022-11-04 07:58] #3260 closed, assigned to monsieurtanuki

[2022-11-04 12:21] #3177 closed, assigned to nobody

[2022-11-04 14:01] teolemon opened #3262 "Fix for iOS fastlane release failing"
### What
- https://stackoverflow.com/questions/74131575/fastlane-failing-with-error-cannot-obtain-the-content-provider-public-id-pleas

[2022-11-04 15:30] prathamsoni-devcode commented on #2973
@M123-dev  Done with the final implementation. Please have a look to

<img src="https://user-images.githubusercontent.com/75238158/200013769-a7c7eef5-341c-4874-841b-971ca534dc4c.jpg" width=250 height=500>

[2022-11-04 15:35] monsieurtanuki opened #3263 "Background tasks and pending operations in Smoothie"
### Problem
In Smoothie, each call to the server used to be performed with `await` methods.
That meant that for changing a product field value, the user needed to watch a waiting dialog, and afterwards the data was locally up-to-date with the server.

That way of doing things was not deemed appropriate, for at least 2 reasons:
* it was a bit boring and it broke the user's momentum to watch a waiti

[2022-11-04 16:04] M123-dev commented on #2973
Look great

[2022-11-04 16:17] M123-dev commented on #3214
@Akashsri3bi I just PRed https://github.com/openfoodfacts/smooth-app/pull/3264

Because we plan to release very soon

[2022-11-04 17:47] Akashsri3bi commented on #3214
I am really sorry @M123-dev , I got busy . It's really nice you did that !

[2022-11-04 18:19] anshpathania7 commented on #3082
Looked into this issue, In `product_query_page.dart` at line [430](https://github.com/openfoodfacts/smooth-app/blob/dadac4cbb1eaf7fceb385790a057353091ad70ca/packages/smooth_app/lib/pages/product/common/product_query_page.dart#L430)
[code]

Here the, `_model` is reassigned, and due to this the listeners on previous Object get overriden by new Object (thus not called ? ).

So widget isn't updated wi

[2022-11-04 18:37] teolemon opened #3266 "All maps point to the default location in flutter_map"
### What
- All maps point to the default location in flutter_map (https://github.com/fleaflet/flutter_map/blob/fb3f27066be4900f291adaef39fcf665c9c0090d/lib/flutter_map.dart#L324)
- As a result, all maps point to Kiev, leading users to believe we've been hacked
- In truth, that's probably just us having a ! in our call to flutter_map (https://github.com/openfoodfacts/smooth-app/blob/0c00ad90477f7be

[2022-11-04 22:24] Altonss commented on #3084
It seems like the last point about ZXing has been solved in #3252 now :+1:  (but I may be wrong)
This means that with the next release the F-Droid process could be started?

[2022-11-05 10:59] monsieurtanuki commented on #2522
AFAIK it's done.
Feel free to reopen if needed.

[2022-11-05 10:59] #2522 closed, assigned to nobody

[2022-11-05 11:15] monsieurtanuki commented on #3207
@teolemon Now that the "website" field is available from off-dart, where should we put it in Smoothie? Basic details?

[2022-11-05 11:21] M123-dev commented on #3084
Yes that's right @Altonss

[2022-11-05 11:21] #3084 closed, assigned to nobody

[2022-11-05 11:25] Altonss commented on #3084
@M123-dev Great news, thanks a lot! So now somehow should just update the build recipe available here to switch to the new app I assume? https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/openfoodfacts.github.scrachx.openfood.yml

[2022-11-05 11:27] M123-dev commented on #2771
The Zxing implementation is now merged.

@Altonss @natrius you seem to be interested in FDroid, do you know how to properly release it on there. AFAIK we can't to that here but have to write a script which builds on FDroid servers, is that correct?

Also another interesting question is whether we should force update the current FDroid folks or not, I would say that these are the people who are the

[2022-11-05 11:29] Altonss commented on #2771
To update the existing app, we should just update the build recipe https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/openfoodfacts.github.scrachx.openfood.yml  (and the metadata)

[2022-11-05 11:30] M123-dev commented on #3084
Either this or we create a new listing cf: #2771

[2022-11-05 11:31] monsieurtanuki commented on #3018
Related issues:

[P0](https://github.com/openfoodfacts/smooth-app/issues?q=is%3Aissue+is%3Aopen+label%3AP0):
* #3100
* #920

[P1](https://github.com/openfoodfacts/smooth-app/issues?q=is%3Aissue+is%3Aopen+label%3AP1):
* #3043
* #2968

[P2](https://github.com/openfoodfacts/smooth-app/issues?q=is%3Aissue+is%3Aopen+label%3AP2):
* #2978
* #2961

[P3](https://github.com/openfoodfacts/smooth-app/issues?q

[2022-11-05 11:38] Altonss commented on #2771
As the old app isn't maintained anymore, I'm not sure about having to separate apps (the new and the old unmaintained...).
Maybe @IzzySoft has an idea :)

[2022-11-05 12:00] monsieurtanuki commented on #3082
@anshpathania7 You're right there's something fishy with `_getRefreshAction` and `refreshList` methods.
If I remember well they should do the same thing (refresh the data from the server) and therefore should call the same code (and that is not the case currently).

[2022-11-05 12:31] #3266 closed, assigned to monsieurtanuki

[2022-11-05 12:33] #3229 closed, assigned to AshAman999

[2022-11-05 12:49] monsieurtanuki commented on #3245
As already mentioned, we don't download "all" images when we download a product, we only download the 4 main images (as URL).
That's why we should either include "all" images when we download a product, OR put the management of "all" images in a dedicated page, to be accessed from the main image page.

Should we cache all image URLs, or just consider that the operation is so rare that we can assum

[2022-11-05 14:01] IzzySoft commented on #2771
If the old app is abandoned, the new app intended to replace it, authorship is identical, `applicationId` is kept: yes, simply update the metadata to point to the new repo (and if needed, adjust the build recipe by inserting its "build block" for the first new release). Otherwise: new app, mentioning being the successor – and if possible inject a hint to the description of the old app to point to

[2022-11-05 14:41] anshpathania7 commented on #3082
@monsieurtanuki
yeah instead of two methods, a common single method should be used and is there a need of `pull to refresh` ? Providing same functionality in two different places seems  bit confusing in terms of UX.

[2022-11-05 15:05] M123-dev commented on #3082
We should rather remove the button, pull to refresh is very common throughout the app

[2022-11-05 15:06] M123-dev commented on #2771
Okay so the question is to which degree the old app is maintained, I am checking that

[2022-11-05 15:08] monsieurtanuki commented on #3082
@M123-dev Agreed.
@anshpathania7 If you're able to reproduce the issue, please try with the button and with the pull-to-refresh. Hopefully one of the code works :)

[2022-11-05 15:19] anshpathania7 commented on #3082
@monsieurtanuki @M123-dev
Both methods are working, `pull to refresh` doesn't works for smaller list sometimes(because Future is completing after setState). Both refresh methods are different, which one to keep?

Refresh from button, Shows a `downloading dialog`.

Is this to be moved to`pull_to_refresh` ?

[2022-11-05 15:50] teolemon commented on #3245
- I believe this use case does not require any caching on the device.
We can cache are the numerical ids for the existing images, but not the images themselves. We should start by making queries on the miniature version to provide a gridview, and make another query on press to show a large zoomable version.
- Operations could be restricted to when you are online only, and only available from the z

[2022-11-05 17:38] monsieurtanuki commented on #3245
Thank you @teolemon for your remarks: we're more or less on the same page here.

About the off-dart side:
* we need https://github.com/openfoodfacts/openfoodfacts-dart/issues/551, right?
* we don't have a method called `selectProductImage` (but we have `unselectProductImage`, which is probably useless here). How do we do that?

[2022-11-05 17:43] monsieurtanuki commented on #3082
Then it's not working.
Is the other method always working? I understand that the download dialog may be a UX problem, but if the code does work we can make it work while removing the dialog, can't we?

[2022-11-05 17:45] anshpathania7 commented on #3082
@monsieurtanuki Yes, Other one is working perfectly, it shows `downloading dialog` while it's loading data, after successfully refreshing dialog disappears.

[2022-11-05 17:49] monsieurtanuki commented on #3082
@anshpathania7 Cool! So in a first approach, the fix would be to:
1. get rid of the top refresh button - we want only one refresh now
2. have the pull-to-refresh call the code that works

I don't have access to the app, so I don't see how the pull-to-refresh behaves during refreshing.
If we don't display dialog usually, a second step would be not to use the dialog here.

Ready to code, @anshpathan

[2022-11-05 18:18] anshpathania7 commented on #3082
@monsieurtanuki shouldn't we show some sort of indicator to show if data is being loaded/refreshed or has been loaded successfully?

[2022-11-05 18:20] monsieurtanuki commented on #3082
Again, I don't have access to the app. Do something similar to the other pages.
But first, fix the refresh bug. Later, you may deal - or not - with the dialog.

[2022-11-05 20:03] M123-dev commented on #3082
@anshpathania7

Not fact checked but we should keep the refresh indicator spinning as long as the query is running. This should be the default behavior of the RefreshInficator

Running until the refresh method returned

[2022-11-06 05:23] prathamsoni-devcode commented on #2989
Can I work on this issue?

[2022-11-06 09:12] M123-dev commented on #2862
@g123k is just the version number fine or do we also need the build number.

The build number would mean an additional commit for every commit to main

[2022-11-06 10:01] teolemon commented on #3207
No, probably a dedicated section, this is not one of the most important fields.

[2022-11-06 12:24] g123k commented on #2862
Both are required. So yes if possible 😀

[2022-11-06 12:42] M123-dev commented on #2989
Sure @prathamsoni11 I guess the best way to try to reproduce this is using the new Android rezisable emulator or the `DevicePreview` we have in debug builds

[2022-11-06 12:45] M123-dev commented on #2862
What exactly is your purpoise for it I'd rather not double our commits

Version name shouldn't be a big problem, is setting the version number to 999 or something else really big enouph

[2022-11-06 12:48] M123-dev commented on #2793
We don't add credentials to product queries anymore so this should be fixed, right @monsieurtanuki ?

Do you still have that problem @simonbengtsson ?

If it isn't fixed please reopen

[2022-11-06 12:49] #2793 closed, assigned to stephanegigandet, monsieurtanuki

[2022-11-06 13:15] M123-dev opened #3271 "More project modularization"
### What
Two things which came to my mind @g123k:

We still have to remove the DevicePreview from the prod builds, so what about a debug entry point.
Only this one has the devicePreview and maybe both scanners whith a switch in the DevMode

[2022-11-06 13:18] M123-dev opened #3272 "Automatic client side scanning test"
### What
- The scanner seems to work really good lately but as we know this can't be assured for all devices and forever. We update a related dependency and no scanning is possible anymore.

So my idea was to have a image with a barcode in the assets which we feed to to mlkit / zxing isolate on app start or on every first app start per version and check if it returns the barcode.

Using this we ca

[2022-11-06 13:19] simonbengtsson commented on #2793
I never found a way to reliably reproduce it and have not seen the error since 👍

[2022-11-06 13:58] VaiTon commented on #2771
Hey! The old app is not abandoned, but I think the majority of F-Droid users would want to use this app, so I'd put the old app as a new listing (maybe "classic" or something like that) and update the actual listing to this app.

Actually I'm a bit overloaded in maintaining the old app as I'm almost the only one making changes and I do not have a lot of time atm.

The classic listing could be also

[2022-11-06 14:01] VaiTon commented on #3272
My 2 cents: If we implement this we should respect the option that the user selects in regards to tracking at the first start of the app

[2022-11-06 14:17] M123-dev commented on #2771
Thanks for the answer @VaiTon so we can override the new listing.

We need to:
- Check that we can update the package name (old: `openfoodfacts.github.scrachx.openfood`, new:  `org.openfoodfacts.scanner`
- Use flutter for building (example https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/com.nikhiljha.lobstersapp.yml)
- Create a new build on every new github release
- We ask for permissio

[2022-11-06 14:17] natrius commented on #2771
For now it would be good of the most recent classic version would be in f-droid. The old version thats online in fdroid for at least a year is causing massive problems. I talked about it in the matrix channel https://matrix.to/#/#openfoodfacts_general:matrix.org

[2022-11-06 14:52] M123-dev opened #3274 "android release failing, thanks sentry"
### What
[code]

[2022-11-06 14:54] teolemon opened #3275 "Stop collecting the openfoodfacts username in matomo"
### What
- Stop collecting the openfoodfacts username in matomo. This is a bug and should not happen

[2022-11-06 15:05] anshpathania7 commented on #3082
Alright, I'm working on it right now. Can you assign this to me?

[2022-11-06 15:21] M123-dev commented on #3275
Should be fixed by: #3273

[2022-11-06 17:29] teolemon commented on #3275
cc @VaiTon

[2022-11-06 17:37] IzzySoft commented on #2771
Up to you of course, but wouldn't that be a little confusing: a new app being the old app, and the old app suddenly being another app? Alternative would be introducing the new app as new app, and push a minor update to the old one to introduce a hint to ① its description and maybe ② a little hint on its next start, pointing to the new app?

I didn't check, but it (thanks to Flutter) the new app su

[2022-11-06 18:44] teolemon opened #3278 "Offer in-line validation of Robotoff predictions for nutrition facts"
### What
- [ ] Offer in-line validation of Robotoff predictions for nutrition facts
- [ ] TODO: document how to fetch those insights @raphael0202
### Mockups
![image](https://user-images.githubusercontent.com/1689815/200180961-45eed86d-5544-450c-b863-6ed0cc93d7e1.png)
### Part of
- #511

[2022-11-06 20:34] teolemon opened #3279 "Simplify the basic details input by using Robotoff predictions"
### What
- [ ] Simplify the basic details input by removing brand and weight fields, and offering Robotoff insight fetching and validation instead (with a fallback)
- Questions Yes/No about brands and weight
https://openfoodfacts.github.io/robotoff/references/api/#tag/Insights/paths/~1insights~1annotate/post
insight_types=brands,quantity
cc @raphael0202

### Mockups
<img src="https://user-images.g

[2022-11-06 20:45] natrius commented on #2771
A major update on the old one is needed anyway because the current version is absolutely broken :D

[2022-11-06 22:11] g123k commented on #3271
Yes, that's indeed a good idea.

[2022-11-06 22:26] g123k opened #3280 "Short barcodes not visible"
Hello,

If we have a small barcode like `6177449`, the product page won't show the barcode ([example](https://fr.openfoodfacts.org/produit/6177449/moelleux-pepites-ma-tatie#)).

![IMG_D2A7C6B0969F-1](https://user-images.githubusercontent.com/246838/200198512-79b797c4-3b7d-45cd-b801-a13620f187b3.jpeg)

[2022-11-06 23:29] g123k opened #3283 "Clicking outside the suggestion popup should close it"
### What
Hi everyone,

A really annoying bug (especially on iOS, where the keyboard can't easily be dismissed) is that when we click outside the suggestion popup, nothing happens.
Instead, the suggestion dialog should be closed, as we can find on other apps.
It might require some custom work, as the `RawAutocomplete` Widget doesn't offer this kind of feature.

### Part of
- Editing

[2022-11-06 23:36] IzzySoft commented on #2771
Eh :man_shrugging: In that case… why then revive it using a different name at all? If it gets fixed, it should IMHO be under its current name. But I won't argue further, it's the decision of its authors. I just wanted to share my 2 ct :wink:

[2022-11-07 02:16] AshAman999 commented on #3272
So it's more like  testing but seems to be a good idea, if we could do this

[2022-11-07 07:50] monsieurtanuki commented on #3279
@teolemon Doing so with async/background tasks is a bit acrobatic.

[2022-11-07 07:52] teolemon commented on #3279
One thing we could do first is a brand auto complete/search screen. We don't have a brand taxonomy yet, but there are workarounds.
Also, have you seen the product addition draft proposal in Discussions

[2022-11-07 08:24] g123k commented on #2862
To be honest, having the real information is relevant.
Changing it by another irrelevant one does't make any sense.

[2022-11-07 09:25] M123-dev commented on #2862
Don't know if that's helpful but we tag every commit with version name and version code: https://github.com/openfoodfacts/smooth-app/tags

I can try to push the version name but pushing the version code

[2022-11-07 16:12] M123-dev commented on #3214
No problem 👍🏼

[2022-11-07 16:12] #3214 closed, assigned to nobody

[2022-11-07 16:26] M123-dev commented on #3263
Yes we should, I really like your idea of the `*` besides the name, it's not self explanatory but I see no better solution.

Maybe a solution would be to just assume that it worked on background edit's. By that I mean we put it in a background task and refresh when it's done but for the user it seems like it's instant with the local version for a the first few seconds. No indication.

For offline

[2022-11-07 16:28] M123-dev commented on #3263
cc: @g123k @AshAman999

[2022-11-07 16:41] M123-dev commented on #2771
Honestly I would prefer a new listing to avoid handling around with a different package name, it's already interesting to have different flavours for PlayStore and FDroid as well as iOS and in future also listings in other stores.

This way we can keep the old listing, maybe fix the release, push the latest version with a hint that we have published a new app cc @VaiTon

But lets wait for what @te

[2022-11-07 17:16] M123-dev opened #3286 "Capture failed requests in sentry"
### What
- [ ] Capture failed requests in sentry
https://docs.sentry.io/platforms/dart/configuration/integrations/http-integration/

### Part of

[2022-11-07 17:34] #3262 closed, assigned to M123-dev

[2022-11-07 17:45] M123-dev commented on #3274
It resolved itself, nice

https://github.com/openfoodfacts/smooth-app/actions/runs/3412632125/jobs/5678399096

[2022-11-07 17:45] #3274 closed, assigned to nobody

[2022-11-07 17:45] M123-dev commented on #3274
It resolved itself, nice

https://github.com/openfoodfacts/smooth-app/actions/runs/3412632125/jobs/5678399096

[2022-11-07 18:24] M123-dev commented on #3262
Release now working again

[2022-11-07 18:49] anshpathania7 opened #3287 "Duplicate entries in Product Search"
### What
- The entries are getting duplicated in product search page

### Reason behind this behaviour
- This is happening because String is not being trimmed, "redbull", "      redbull    ", "redbull     ".

- These  are treated as 3 separate entries.

### Steps to Reproduce
1. Search any product, then search again with some spaces before/after product name.

### Expected behavior
Not to show dup

[2022-11-08 04:00] AshAman999 commented on #3287
Indeed, there's this problem, perhaps these files would be interesting for you
`packages\smooth_app\lib\pages\scan\search_page.dart`

[2022-11-08 04:20] AshAman999 commented on #3263
So when we change the same field twice the latest change would be in effect, (assuming I didn't already start uploading it)

Other solution I am thinking is, as there seems to be some cases where we want maybe say image upload immediately, so alternatively we can check if user is online we go with the same old trick of ours of showing a loading indicator

Agree with this,

One of the techniques I

[2022-11-08 07:03] monsieurtanuki commented on #3287
@anshpathania7 I suggest that we systematically trim the user keywords when she clicks on the "search!" button: no duplicate in search history, and same result on the server.
In addition to that, maybe run a one-shot data cleaning to remove duplicates (but we're ok without that).

[2022-11-08 07:36] monsieurtanuki commented on #3263
Thank you @M123-dev @AshAman999 for your comments!

Good.

No we can't. Besides the changed fields, there are computed values (like nutriscore) that are computed on the server, not locally. We can't say "put a category and you get the nutriscore" and disappoint the user with a not-computed-because-not-refreshed-from-the-server nutriscore.

For fields it may not be instant either. Don't forget the

[2022-11-08 08:09] raphael0202 commented on #3278
There are currently no API route for that in Robotoff, we store extracted data in the Prediction table. A new route should be created to return the best prediction for a given product.

[2022-11-08 14:41] anshpathania7 commented on #3287
By `systematically` you're referring to trim keywords in the search bar itself right? Also for server-side, shouldn't there be a check or data validation for keywords on server code(I'm guessing it's already there).

And, yes I don't think there's any need of `one shot data clearing ` currently.

[2022-11-08 16:58] monsieurtanuki commented on #3287
I mean we let the user type whatever, but what we send to the server and we store in the history is to be trimmed before.

[2022-11-08 17:02] #3275 closed, assigned to M123-dev

[2022-11-09 14:39] anshpathania7 commented on #3287
Cool, This will be easy fix but should I patch this up for search query only? or There are other places in app where input needs to be trimmed? @monsieurtanuki @AshAman999

[2022-11-09 14:45] monsieurtanuki commented on #3287
@anshpathania7 There are not that many user inputs. If you can fix this one, that's good enough for the moment.

[2022-11-09 19:11] M123-dev opened #3291 "Question "Continue" button doesn't work"
### What
Originally from Slack: https://openfoodfacts.slack.com/archives/CSV2748EB/p1667931536525759

When answering questions from the product page there is a continue button (fr; continuer) but it does not work when answering normal questions. We should only show it when we open this page via hungergames, or fix it but then also hide it until we make hungergames in smoothie public

[2022-11-09 19:22] #3287 closed, assigned to nobody

[2022-11-10 08:07] monsieurtanuki commented on #3226
Fixed by #3288.

[2022-11-10 08:07] #3226 closed, assigned to nobody

[2022-11-10 08:11] monsieurtanuki commented on #2973
Fixed by #3267.

[2022-11-10 08:11] #2973 closed, assigned to prathamsoni-devcode

[2022-11-10 08:13] monsieurtanuki commented on #3231
Fixed by #3276.

[2022-11-10 08:13] #3231 closed, assigned to prathamsoni-devcode

[2022-11-10 08:48] monsieurtanuki commented on #3263
@M123-dev If I go to Google Play Store I see that the uploaded version is from Nov. 8th.
Does that mean that we're in what I called the "frozen zone" and that I can start PR'ing about this issue and #3018?

[2022-11-10 09:47] teolemon opened #3295 "Allow to positively confirm the presence or absence of all Eco-Score labels"
### Problem
- [ ] Create a label input screen for the Eco-Score with an option to mention that the user has checked the presence or absence of all of the Eco-Score labels. This will require a server upgrade.
### Blocked on
- [ ] Blocked on https://github.com/openfoodfacts/openfoodfacts-server/issues/7612
### Mockups
- [ ] ![image](https://user-images.githubusercontent.com/1689815/200135071-3dc795a

[2022-11-10 09:50] teolemon opened #3296 "The tagline with the call to donations is not clickable"
### What
- The tagline with the call to donations is not clickable
- I'm not sure if it's a fault in the updated file or in the app

[2022-11-10 09:51] M123-dev commented on #3263
Actually I didn't knew about it, but looks like it  https://github.com/openfoodfacts/smooth-app/pull/3294

[2022-11-10 09:54] teolemon opened #3297 "Add an option to add a photo of origins mentioned on the packaging"
### Problem

[code]

### Mockups
#### Onboarding screen for the photo of origins
<img width="271" alt="image" src="https://user-images.githubusercontent.com/1689815/201053687-78bc1198-79cb-42d4-b7e5-a93c2ecdc601.png">

#### Add a photo of origins
<img width="271" alt="image" src="https://user-images.githubusercontent.com/1689815/201053757-dbda7b44-00d3-4eec-bb54-0a3c858a9ba9.png">

### Part of
- O

[2022-11-10 09:56] M123-dev commented on #3296
Can reproduce 3.23.0+799

[2022-11-10 10:41] teolemon commented on #2365
I'm going to close this, since we haven't had any reports for a while.

[2022-11-10 10:41] #2365 closed, assigned to nobody

[2022-11-10 10:41] #2091 closed, assigned to teolemon

[2022-11-10 10:44] teolemon commented on #2520
A first version of this landed. Going to close this one

[2022-11-10 10:44] #2520 closed, assigned to nobody

[2022-11-10 10:46] teolemon commented on #2508
We've had a number of fixes. Closing in favor of the newer #3187 #2954

[2022-11-10 10:46] #2508 closed, assigned to teolemon

[2022-11-10 10:51] teolemon commented on #2536
@M123-dev probably from there ?
https://github.com/openfoodfacts/openfoodfacts-dart/commit/ebc5ff50ba13b5151adac1bf1be7148b641898e5

[2022-11-10 10:52] teolemon commented on #3196
Fixed by reverting to older Flutter

[2022-11-10 10:52] #3196 closed, assigned to nobody

[2022-11-10 10:53] #3250 closed, assigned to teolemon

[2022-11-10 10:54] g123k commented on #3196
FYI I will work in parallel with the "all-in-one" plugin allowing to do both the camera & the decoding in the native part.
It will allow us to not rely on Isolates anymore and thus be able to ship again with Flutter 3.3

[2022-11-10 10:59] teolemon commented on #3210
- This probably requires an openfoodfacts-dart update to get all this data.
- We need a good thinking on formatting well so that it's valuable and actionable
- We could do it using optional Knowledge Panels, see: https://github.com/openfoodfacts/openfoodfacts-server/issues/6321

https://world.openfoodfacts.org/api/v2/product/3033710065066.json?fields=editors,editors_tags,photographers,photographer

[2022-11-10 11:05] teolemon commented on #3291
It should probably load a new batch at the penultimate question, so that there's no waiting, and no continue button

[2022-11-10 11:22] teolemon opened #3298 "Revamp photo acquisition with the possibility to add a photo in other languages"
### What
- [ ] Revamp photo acquisition with the possibility to add a photo in other languages
### Mockups
![image](https://user-images.githubusercontent.com/1689815/200133807-9fb33342-7ad1-415c-8b8a-eb4dbf159a41.png)
![image](https://user-images.githubusercontent.com/1689815/200194247-00a7b862-1cea-4d6a-9a29-702b22cedfc6.png)
### Part of
- #1379
- #2514

[2022-11-10 14:29] #3296 closed, assigned to g123k

[2022-11-10 17:14] M123-dev commented on #2771
By the way @natrius we now have a apk in the latest github release https://github.com/openfoodfacts/smooth-app/releases/tag/v4.0.0

[2022-11-10 17:14] teolemon commented on #3249
Can still reproduce tonight

[2022-11-10 17:14] teolemon commented on #3249
Closing and reopening the app makes the Nutri-Score/Eco-Score appear

[2022-11-10 17:16] omkarChend1kar commented on #3291
Can I work on this issue ?

[2022-11-10 17:17] M123-dev commented on #3291
@omkarChend1kar  👍🏼

[2022-11-10 17:18] teolemon commented on #3291
cc @VaiTon

[2022-11-10 17:22] monsieurtanuki opened #3301 "Splash screen: could only see the big logo, but not the subtitle"
### What
- I've just run the app with the latest code.
- The splash screen included the big logo in the center of the page, but not the expected subtitle below.

### Screenshot
Same splash screen for dark and light mode:
![Capture d’écran 2022-11-10 à 19 21 41](https://user-images.githubusercontent.com/11576431/201175997-7a275626-e68d-4c87-8255-844cb0318dfb.png)

### Smartphone model
 - Device:

[2022-11-10 17:31] M123-dev commented on #3301
Also what I noticed on a friends phone that when using the app in darkmode, the splash background is dark and the bottom side of the logo is black not white as it should be.

[2022-11-10 17:36] monsieurtanuki commented on #3301
I'm in dark mode.
The splash background was white.

[2022-11-10 19:54] M123-dev commented on #2771
In todays community meeting we decided to go with a new listing instead of force updating the old one.
Is anyone here interested in helping with that?

Also cc: @licaon-kter not specifically for that, more for this whole thread, I heard you had large impact on the F-Droid release on the native app.

[2022-11-10 21:37] anshpathania7 commented on #3108
@teolemon

I tried implementing this from scratch (only in Android). So Far Added a listview with Image and Texts. Is there any design document for this widget? and What data needs to be shown?

### Screenshots/Recordings
https://user-images.githubusercontent.com/55742309/201211220-7e7e5af6-e2fc-4f2e-9327-4b3e336c44ca.mp4

[2022-11-11 12:48] monsieurtanuki commented on #3018
Thank you @M123-dev!
Aren't we supposed to say "Closes: #xxx" or "Fixes: #xxx"?
It looks like if in the PR comment we just mention an issue, it is going to be closed.

[2022-11-11 12:55] licaon-kter commented on #2771
First thing, it's spelled `F-Droid` :slightly_smiling_face:

Now... this recipe: **metadata/org.openfoodfacts.scanner.yml**
[code]

Fails to build: [org.openfoodfacts.scanner_600.log.gz](https://github.com/openfoodfacts/smooth-app/files/9990342/org.openfoodfacts.scanner_600.log.gz)

Of note also, version is not set https://github.com/openfoodfacts/smooth-app/blob/develop/packages/app/pubspec.yaml#

[2022-11-11 12:55] M123-dev commented on #3018
Yeah you are right, don't know why it closes, maybe because of your commit name

[2022-11-11 13:06] g123k commented on #3108
Could you elaborate a little more @anshpathania7 on what you achieve?

- Did you use the XML way of generating the Widget or with Jetpack Compose?
- How did you export the data between the Dart code and the Flutter's one?
- How do you open the correct product page? knowing that we don't support (yet) any named route?

[2022-11-11 13:20] #1967 closed, assigned to nobody

[2022-11-11 13:26] teolemon commented on #2311
Fixed

[2022-11-11 13:26] #2311 closed, assigned to nobody

[2022-11-11 13:27] anshpathania7 commented on #3108
I used XML for widgets

I haven't implemented this directly in openfoodfacts , instead I created another application for this. So, I added data manually to flutter side and then I pass the list by MethodChannel and then parse it on kotlin.

I haven't implemented click handler for widget yet.

[2022-11-11 13:36] g123k commented on #3108
Ok, so I will make a comparizon: you're trying to build a car, without knowing its design, nor the way the engine works.
If I were you, I would wait a bit

[2022-11-11 13:54] teolemon commented on #147
- Not the highest, IMO. I'm in the process of adding/updating priorities in new/old bugs.
- For the reference, the Dart package issue, now that this has been deployed to preprod: https://github.com/openfoodfacts/openfoodfacts-dart/issues/620

[2022-11-11 14:02] teolemon opened #3307 "One click addition of category-specific nutrients"
### What

- [ ] Allow for one click addition of category-specific nutrients
  - [ ] Alcoholic drinks
  - [ ] Baby formulas
  - [ ] Mineral waters

### How
- I believe that long term, the server should be in charge of telling us what it expects, country by country, based on minimal labelling legal requirements
- As for now, we haven't started listing what we expect, so we could experiment client si

[2022-11-11 14:11] anshpathania7 commented on #3108
@g123k yup, that's why I built it in completely different application just to test out how the implementation is done from scratch. Definitely I'll wait :))

[2022-11-11 14:37] teolemon opened #3309 "Allow to add/edit packaging shapes"
### What
- Allow to add/edit packaging shapes
### Tasklist
- [ ] Introduce a shape selector
- [ ] Add support for autocomplete on the shapes taxonomy

### Options
- [ ] Add server-side support for shape images
    - [ ] https://github.com/openfoodfacts/openfoodfacts-server/issues/5591 @stephanegigandet
    - [x] https://world.openfoodfacts.org/api/v2/taxonomy?tagtype=packaging_shapes&include_root_

[2022-11-11 14:39] teolemon opened #3310 "Allow to add/edit packaging materials"
### What
- [x] Add support for autocomplete on the materials taxonomy
- [ ] Use the partial taxonomy API to get material images
  - [ ] https://world.openfoodfacts.org/api/v2/taxonomy?tagtype=packaging_materials&include_root_entries=1&include_children=0&lc=fr&cc=fr
  - [x] https://github.com/openfoodfacts/openfoodfacts-dart/issues/605
- [ ] Introduce a material selector
  - [ ] ![image](https://us

[2022-11-11 14:42] teolemon opened #3311 "Support for scale precision - dropped for initial implementation"
#### Scale precision - Dropped for initial implementation
  - [ ] Create a scale precision default selection screen
    - [ ] ![image](https://user-images.githubusercontent.com/1689815/200176409-5dcc1bce-1fd9-48bf-9b10-eed81ac65fe0.png)
  - [ ] Create a scale precision setting (1g, 0,1g, 0,01g)
  - [ ] Integrate the scale precision setting in the App Settings for later change
  - [ ] Ensure that t

[2022-11-11 14:46] teolemon opened #3312 "Allow to add/edit packaging weight"
### What
- [ ] Create a weighting education screen
  - [ ] ![image](https://user-images.githubusercontent.com/1689815/200176441-37445982-8b51-48d6-a1d7-374d21c82feb.png)
- [ ] Add a link to purchase a precision scale in your country, with a list of suggested scales the community has tested. Mention that Open Food Facts is of course not getting any commission by recommending those scales.
- [ ] Imp

[2022-11-11 20:47] monsieurtanuki commented on #3018
@M123-dev It looks like you're right: in #3308's title I didn't put the hash sign for issue 3018, which was not closed after the PR was merged.

[2022-11-12 11:59] g123k commented on #2862
The idea is to have the info directly in the code, not in an external tool (here in git)

[2022-11-12 15:31] omkarChend1kar commented on #3236
@teolemon There are three tabs in bottom nav bar ,Only possible screen I can think of is Profile screen ,So where exactly are intending to put these shortcut ,One thing I can think of is, We can put floating action buttons on right bottom corner on profile screen itself.

[2022-11-12 15:35] teolemon opened #3316 "We're getting black screens again"
### What
- From a user: "The scanner camera does not work. I install them directly... Trash can"
- Device: [Huawei Honor 10](https://play.google.com/console/u/0/developers/4712693179220384697/app/4972942602078310258/user-feedback/reviews#)
Device language: French
App version code: 802
App version name: 3.23.0
Android version: [Android 10 (SDK 29)](https://play.google.com/console/u/0/developers/471

[2022-11-12 16:45] teolemon commented on #3236
![Screenshot_20221112-174508.png](https://user-images.githubusercontent.com/1689815/201484894-d720f688-4055-4d55-9f13-7fd110c7ab9c.png)

[2022-11-12 16:46] teolemon commented on #3236
This is not a shortcut within the app, this would be a shortcut from your android home screen

[2022-11-12 16:48] teolemon opened #3317 "Add seamless loading of additional questions in Hunger Games"
### Problem
- The embedded Hunger Games loads 3 questions at a time, with a continue button + loading time, thereby limiting its appeal
- Add seamless loading of additional questions in Hunger Games
- Load more question before the final question is answered, so that there's no waiting time or no Reload button to tap

### Part of
- Gamification

[2022-11-12 17:31] omkarChend1kar commented on #3236
Understood

[2022-11-13 04:33] omkarChend1kar commented on #3236
I have found couple of plugins which could get this done for us, There are two plugins which could exactly helps us for this enhancements
- [https://pub.dev/packages/app_shortcuts](url)
- [https://pub.dev/packages/flutter_app_shortcut](url)

There is also one another thing that I found, Quick actions which is somewhat different, In this user have to long press on app icon to get required shortcuts

[2022-11-13 07:14] omkarChend1kar commented on #3316
This is what console looks like, Every time when I do hot restart.
![image](https://user-images.githubusercontent.com/71365710/201506492-29ea00e9-9424-402d-9be3-133f40104be4.png)

I tried debugging to find source of error for late initializations, Well there is provision to get list of available cameras with method [availableCameras], But somehow it returning empty list, Since it's returning empty

[2022-11-13 09:48] Akashsri3bi commented on #3301
I will look into it !

[2022-11-13 11:31] M123-dev commented on #3316
@g123k

[2022-11-13 11:32] M123-dev commented on #3236
Here goes the same thing as with similar issues, we likely need Navigator V2 for this

#921
#920

@g123k is likely the one to have a preferece here

[2022-11-13 11:54] monsieurtanuki commented on #3236
@M123-dev @g123k I have good news about Navigator V2.

Around #3018, part of the solution is _not_ to wait for an answer when you open a new page.

Typically, we used to say "open that page and get the product as a result" (and that was not compliant with deep-linking).

When #3018 is completed, we'll never expect a page to return anything.
If the page "succeeds", it will mean that it has
* put lo

[2022-11-13 12:39] teolemon commented on #3236
Also @omkarChend1kar this is not shortcuts on the main icon. As the screenshot shows, this is the ability to add additional icons to some parts of the app (or even specific lists).
I believe it's an Android only feature, called pinned shortcuts.
https://developer.android.com/develop/ui/views/launch/shortcuts/creating-shortcuts#pinned

[2022-11-13 12:43] omkarChend1kar commented on #3236
Yeah, I am aware about that ,I thought mentioning it might be useful for this kind of usecase.

[2022-11-13 14:54] omkarChend1kar commented on #3236
Okay

[2022-11-13 15:05] g123k commented on #3236
@teolemon Pinned shortcuts are the equivalent of iOS force touch feature.
The only question is here: do you want dynamic items (eg: a direction to a custom list) or some hard coded lists.

Depending on that, the implementation may differ.

[2022-11-13 15:07] g123k commented on #3316
Oh a new camera issue, wonderful 😩

[2022-11-13 15:11] monsieurtanuki commented on #3316
@g123k If needed I can work on the subject, as I have the privilege to experience crashes.

[2022-11-13 15:12] g123k commented on #3316
This one is not related to a crash, but a lifecycle issue.

[2022-11-13 16:28] prathamsoni-devcode commented on #2989
Like if the screen is bigger the buttons should be in rows and if smaller they must be in the column. Something like this?

[2022-11-13 18:24] anshpathania7 commented on #2989
@prathamsoni11 Also in some languages, text can be long, which might require a column layout.

[2022-11-13 20:39] g123k opened #3321 "Inconsistent back button"
On iOS, the back button between the product page and the photos' page is different:

![BackButton](https://user-images.githubusercontent.com/246838/201543528-c458fa06-443e-46ce-8eed-4b796ecc54e5.png)

[2022-11-13 20:53] M123-dev commented on #3321
How do you even catch those all the time😆

[2022-11-13 20:57] g123k commented on #3316
I need more info on how to reproduce the issue.
Starting the app "from scratch" works well for me.

[2022-11-13 21:19] g123k commented on #3321
Just by using the app actually ^_^.
It seems we mainly test on Android, that's why I take some time to find that kind of issues

[2022-11-14 02:12] prathamsoni-devcode commented on #3321
Can I work on this??

[2022-11-14 02:13] g123k commented on #3321
🧐
<img width="540" alt="Screenshot 2022-11-14 at 03 13 17" src="https://user-images.githubusercontent.com/246838/201560961-b5db20cf-9e5e-4065-9c8c-d03c87c79519.png">

[2022-11-14 02:16] prathamsoni-devcode commented on #3321
Ohh okk I just didn't seen due to small screen 😅

[2022-11-14 07:06] omkarChend1kar commented on #3129
Can I look into this? @teolemon @M123-dev

[2022-11-14 07:42] monsieurtanuki commented on #3291
Fixed by #3314.

[2022-11-14 07:42] #3291 closed, assigned to omkarChend1kar

[2022-11-14 07:49] #3321 closed, assigned to nobody

[2022-11-14 07:51] M123-dev commented on #3129
Sure @omkarChend1kar

[2022-11-14 14:58] monsieurtanuki commented on #2585
Fixed by #3258.

[2022-11-14 14:58] #2585 closed, assigned to Akashsri3bi

[2022-11-14 15:11] prathamsoni-devcode commented on #3316
Regarding the above-mentioned issue I am also facing device POCO F1 and also discussed it with mentor @AshAman999. Getting issues in ML Kit

[2022-11-14 16:18] omkarChend1kar commented on #3129
@teolemon @M123-dev @monsieurtanuki ,Can you please confirm whether this is how it's supposed to look?

https://user-images.githubusercontent.com/71365710/201709540-ea5121cd-0628-4fd9-8aee-d467fdfa4552.mp4

[2022-11-14 17:19] teolemon commented on #3129
- Visually, that looks like the intended behaviour 👍
- Eventually, I would like it to look a little bit like that (sliding would still work)
- ![image](https://user-images.githubusercontent.com/1689815/201724450-ead88a41-d9af-43c7-b77d-54bc3c853ae6.png)

[2022-11-14 17:26] monsieurtanuki commented on #3129
@omkarChend1kar The answer is: that looks OK, please send a PR and don't get distracted by @teolemon's plans for next year ;)

[2022-11-15 03:29] omkarChend1kar commented on #3129
Got it.

[2022-11-15 13:17] Akashsri3bi commented on #3301
@monsieurtanuki @M123-dev I can't say about the missing subtitle  , but on dark mode the splash background is still white no changes in logo also

[2022-11-15 13:18] Akashsri3bi commented on #3301
Is the subtitle not **visible issue** somewhat related to screen size ?

[2022-11-15 13:29] monsieurtanuki commented on #3301
Perhaps. If so, it needs to be fixed.

[2022-11-15 13:40] monsieurtanuki commented on #3301
Could also be an issue only on ios.

[2022-11-15 13:54] Akashsri3bi commented on #3301
Background color issue persist everywhere guess

[2022-11-15 16:58] teolemon commented on #3129
😅

[2022-11-15 17:17] prathamsoni-devcode commented on #1461
can I work on this?

[2022-11-15 17:23] AshAman999 commented on #1461
Feel free to work @prathamsoni11

Just go through the above comments

[2022-11-15 18:11] prathamsoni-devcode commented on #1461
@AshAman999 I implemented the 2 suggestion and it is working should I go with that?

[2022-11-16 02:26] AshAman999 commented on #1461
Can you drop a screen recording, illustrating the behaviour when it's small list and when the list is quite big

[2022-11-16 13:16] Akashsri3bi commented on #917
I would look into it , @teolemon where this particular screen is located ?

[2022-11-16 13:23] Akashsri3bi commented on #921
I would look into it , Which shortcuts were decided by team ?

[2022-11-16 13:34] teolemon opened #3326 "Inline Robotoff questions to increase the answer rate"
### What
- Inline Robotoff questions
- This will make the thank you screen and potential points less visible
- This will probably increase the answer rate
- Each time a question is answered, it disappears, and the next question is shown
- Eventually, the card disappears, potentially after a thank-you card for a few seconds
- We could potentially animate openfoodfacts-events points addition with co

[2022-11-16 13:46] prathamsoni-devcode commented on #3326
can I work on it?

[2022-11-16 13:58] M123-dev commented on #3326
Thats a great idea @teolemon and sure @prathamsoni11

[2022-11-17 16:11] #642 closed, assigned to nobody

[2022-11-17 16:56] teolemon commented on #3006
We need to ask the user whether it's fixed

[2022-11-17 16:57] teolemon commented on #3043
Probably solved by @monsieurtanuki
Need to circle with @tacite

[2022-11-17 16:58] teolemon commented on #921
We need Navigator for this one, which @g123k is going to be working on soon. Please hold until then.

[2022-11-17 17:00] teolemon commented on #3048
Still here today

[2022-11-17 17:00] monsieurtanuki commented on #3043
Waiting for #3329 to be approved and merged, first.

[2022-11-17 17:01] teolemon commented on #3181
Solved by @M123-dev

[2022-11-17 17:01] #3181 closed, assigned to nobody

[2022-11-17 17:04] teolemon commented on #3217
I can't reproduce @raphael0202, is that still a thing ?

[2022-11-17 17:05] monsieurtanuki commented on #3006
@teolemon #3018 isn't even merged, and that's only the "I'm lucky" case (only one try and the server works).

[2022-11-17 17:07] monsieurtanuki commented on #3217
Again, we need #3018 for that.
And the UX is not good anyway: when we save the new product we go back to the previous screen, e.g. with the "Unknown product: contribute?" dialog.

[2022-11-18 01:09] xmha97 commented on #3058
Tablet, because I prefer landscape mode and most apps support it.

[2022-11-18 09:33] stephanegigandet opened #3331 "Weird behaviour when phone rotated to landscape"
### What

I have a beer bottle which is standing vertically. The barcode is rotated, so I rotate my phone to scan it. The app does not stay locked in portrait mode though, it goes to landscape. But the very weird thing (for an user) is that the image shown on the phone screen is rotated, I see my beer bottle horizontal.

![image](https://user-images.githubusercontent.com/8158668/202669058-dffe78f4

[2022-11-18 09:54] stephanegigandet opened #3332 "Simplify adding photos by removing 2 of the 4 steps"
Current behaviour:

1. Screen to take a photo
2. OK / Retry dialog (not sure if that's the app or the camera, hopefully we can disable it in any case..)
3. Crop interface
4. Retry / Edit / Confirm dialog

Suggestion:

Merge 2. 3. and 4. into a single Crop interface (same as today's + a Retry button). I don't think we need an extra confirmation step, we can submit the image as soon as the user hits

[2022-11-18 09:59] stephanegigandet commented on #3316
Just got a black screen on a GS8 after adding a photo on a product and clicking on the search icon to scan another product.

[2022-11-18 15:40] AshAman999 commented on #3331
I guess locking the rotation would be a quick fix for this,?

[2022-11-18 17:09] monsieurtanuki commented on #3332
@stephanegigandet My remarks:
* I have never seen screen 2
* in screen 3 you can crop, and it's a standard crop operation (i.e. that any user can understand) (and that we can replace with any crop tool if needed)
* in screen 4 you see the result of your crop (cropped image is now full size on screen)
* if you merge screens 3 and 4, we need to upgrade our users so they can understand in the same sc

[2022-11-18 17:24] monsieurtanuki commented on #3316
If it's related to "adding a photo to a product", there are pending changes (#3329) that may solve the issue (by accident).

[2022-11-18 18:41] stephanegigandet commented on #3332
For us it's a bit different: when we add a new product, we want to add 3 or 4 pictures, we don't have filters, stickers etc. We just want to upload pictures as quickly as possible. So I think it makes sense to remove confirmation steps that don't really bring value.

I'm guessing that step 2. is somehow added by Samsung, but maybe there's a way to disable it, and ask for the camera to not require

[2022-11-19 04:51] prathamsoni11 commented on #1461
for small video length

https://user-images.githubusercontent.com/75238158/202834684-991884b8-9180-40d6-bf60-e2c2b99ab6b6.mp4

[2022-11-19 05:44] prathamsoni11 commented on #1461
for small length

https://user-images.githubusercontent.com/75238158/202836042-0dd26465-d1f1-42d6-a4be-29ccadfdbffa.mp4

for big length

https://user-images.githubusercontent.com/75238158/202836207-13fec473-b4f4-457c-90cc-5795b4bb2d61.mp4

[2022-11-19 05:56] prathamsoni-devcode commented on #1461
for small length

https://user-images.githubusercontent.com/75238158/202836597-0ecd2730-11d1-4586-9512-bc19a4621994.mp4

for big length

https://user-images.githubusercontent.com/75238158/202836722-44df2d79-86b4-40dd-a000-c655db3db972.mp4

[2022-11-19 09:51] Akashsri3bi commented on #3301
I have got something for the issue and the plugin on [https://pub.dev/packages/flutter_native_splash](https://pub.dev/packages/flutter_native_splash) Below in page it says

That is why it always displays only white background , One workaround will be to create a whole new splash screen and change it according to theme and not using flutter native splash , that would be a lot changes , What do you

[2022-11-19 11:55] monsieurtanuki commented on #3301
@Akashsri3bi I cannot check right now but I believe your analysis is slightly flawed.
Ok the splash screen is displayed before the app is really started and therefore won't know what the app settings are regarding dark/light.
But there are dark/light settings at the device level, e.g. my smartphone is always in dark mode.
And I think the splash package can detect that and provides params to displa

[2022-11-19 13:25] monsieurtanuki commented on #3332
@stephanegigandet So if I compact it my way, could we say:
* in Smoothie, you click on "add a picture"
* it opens the camera (or the gallery, whatever)
* you take the picture
* you land directly on the crop screen, with 3 buttons "cancel", "rotate", "send"
* actually I don't like the "take another picture" label, it sounds like "take an _additional_ picture" rather than "cancel your current choice

[2022-11-19 13:47] monsieurtanuki commented on #3018
Closed by #3329. Now the focus is on #3263.

[2022-11-19 13:47] #3018 closed, assigned to monsieurtanuki

[2022-11-19 13:50] monsieurtanuki commented on #3100
Probably fixed by #3018, with pending #3263.
Feel free to reopen if needed.

[2022-11-19 13:50] #3100 closed, assigned to nobody

[2022-11-19 13:51] monsieurtanuki commented on #3043
Probably fixed by https://github.com/openfoodfacts/smooth-app/issues/3018, with pending https://github.com/openfoodfacts/smooth-app/issues/3263.
Feel free to reopen if needed.

[2022-11-19 13:51] #3043 closed, assigned to teolemon

[2022-11-19 13:52] monsieurtanuki commented on #2968
Probably fixed by https://github.com/openfoodfacts/smooth-app/issues/3018, with pending https://github.com/openfoodfacts/smooth-app/issues/3263.
Feel free to reopen if needed.

[2022-11-19 13:52] #2968 closed, assigned to monsieurtanuki, AshAman999

[2022-11-19 13:54] monsieurtanuki commented on #2978
Fixed by https://github.com/openfoodfacts/smooth-app/issues/3018, with pending https://github.com/openfoodfacts/smooth-app/issues/3263.
Feel free to reopen if needed.

[2022-11-19 13:54] #2978 closed, assigned to Anant-2005

[2022-11-19 13:54] monsieurtanuki commented on #2961
Fixed by https://github.com/openfoodfacts/smooth-app/issues/3018, with pending https://github.com/openfoodfacts/smooth-app/issues/3263.
Feel free to reopen if needed.

[2022-11-19 13:54] #2961 closed, assigned to nobody

[2022-11-19 13:56] monsieurtanuki commented on #2439
Fixed by #3018.

[2022-11-19 13:56] #2439 closed, assigned to monsieurtanuki

[2022-11-19 13:57] monsieurtanuki commented on #2775
Probably fixed by https://github.com/openfoodfacts/smooth-app/issues/3018, with pending https://github.com/openfoodfacts/smooth-app/issues/3263.
Feel free to reopen if needed.

[2022-11-19 13:57] #2775 closed, assigned to teolemon

[2022-11-19 13:58] monsieurtanuki commented on #3096
Probably fixed for ingredients by https://github.com/openfoodfacts/smooth-app/issues/3018, with pending https://github.com/openfoodfacts/smooth-app/issues/3263.

[2022-11-19 14:00] monsieurtanuki commented on #1398
Fixed by https://github.com/openfoodfacts/smooth-app/issues/3018, with pending https://github.com/openfoodfacts/smooth-app/issues/3263.
Feel free to reopen if needed.

[2022-11-19 14:00] #1398 closed, assigned to nobody

[2022-11-19 14:14] M123-dev commented on #3301
AFAIK darkmode is already supported by the package BUT also as far as I know we do not currently use the output of this package but manual work from @g123k, is that correct ?

[2022-11-19 14:15] M123-dev commented on #3331
Yes @AshAman999 we had it like this since the beginning, don't know when it changed. Landscape mode will require lots of work.

[2022-11-19 15:21] g123k commented on #3301
True, the splash screen plugin doesn't provide enough features.
To fix the issue, you should have a look at the iOS splashscreen on Xcode. Nothing related to Flutter

[2022-11-19 16:59] monsieurtanuki commented on #3301
@g123k Could you please elaborate on which features are missing on [splash package](https://pub.dev/packages/flutter_native_splash) that prevent us from using it?
Currently in Smoothie the splash screen in dark mode does not work and the subtitle is missing, so perhaps we would be better off switching back to [flutter_native_splash](https://pub.dev/packages/flutter_native_splash) now, while creati

[2022-11-20 04:36] #3331 closed, assigned to g123k

[2022-11-20 11:18] monsieurtanuki commented on #3187
Fixed by @omkarChend1kar's #3314 fix of #3291.

[2022-11-20 11:18] #3187 closed, assigned to nobody

[2022-11-20 11:20] monsieurtanuki commented on #3189
Closed as the error does not come from Smoothie.

[2022-11-20 11:20] #3189 closed, assigned to nobody

[2022-11-20 11:45] monsieurtanuki commented on #3217
With #3018 there's another layer of data: the "locally committed but not uploaded yet". In addition to the previous ones: "downloaded" and "on the server".
We need to add this layer to "barcode search" and "barcode scan".

@raphael0202 What would you expect after clicking on new product page/"Done"? Going to the product page?

[2022-11-20 12:06] monsieurtanuki commented on #2646
@teolemon That's the last item that's missing now.

[2022-11-20 15:37] g123k commented on #3202
1) For GitHub, we won't have any issue, regarding the number of active users we have
2) Manually? Via a GitHub Action?

The file can be stored elsewhere, but we have no tool for that.
Basically a Firebase Remote Config would be perfect for that, but once again that's annoying with F-Droid "Non-Google way of viewing things"

[2022-11-21 08:57] raphael0202 commented on #3217
Well the issue was that the "done" button was unresponsive.
I tried again on the dev server (with internal release), and everything went fine: all information were uploaded, and clicking on 'Done' redirected to the product page, which is what I expected.
The issue can be closed!

[2022-11-21 08:59] raphael0202 commented on #3189
Indeed it comes from Robotoff side.

[2022-11-21 09:34] stephanegigandet commented on #3332
Sounds good to me. Could we also get rid of the Profile / Search / History button bar on this screen? The user is focused on adding photos, so we should avoid distractions and buttons that can cause misclicks / mistaps.

![image](https://user-images.githubusercontent.com/8158668/203015867-6c4a1ded-90a5-463d-b808-e31059f76a62.png)

[2022-11-21 09:35] #3217 closed, assigned to monsieurtanuki

[2022-11-21 10:04] monsieurtanuki commented on #3332
That would seem appropriate, but I'm not sure if this can be done easily. Creating a new issue about it...

[2022-11-21 10:05] monsieurtanuki opened #3337 "Get rid of the Bottom Navigation Bar on some pages"
### What
- Could we also get rid of the Profile / Search / History button bar on this screen? The user is focused on adding photos, so we should avoid distractions and buttons that can cause misclicks / mistaps.

### Screenshot
![image](https://user-images.githubusercontent.com/8158668/203015867-6c4a1ded-90a5-463d-b808-e31059f76a62.png)

_Originally posted by @stephanegigandet in https://github.co

[2022-11-21 10:58] monsieurtanuki commented on #3332
Now we're in a sort of collision between expected behaviors.

Today, when we click on an image in the product page P ("Product"), we go to page M ("Main") with the main 4 images.
If we click on one image on page M, we go to page F ("Full") with the image full screen, and a button to edit it that goes to page E ("Edit").
On page E, we can take another picture, crop or confirm the picture.
If we cro

[2022-11-21 16:34] prathamsoni-devcode commented on #3326
Something like this a recreated. Do let me know if there are any changes to be made?

<img src="https://user-images.githubusercontent.com/75238158/203109014-cb68b30d-0a59-482f-b3d1-4c535ff46056.jpg" width=250 height=500>

[2022-11-21 16:35] prathamsoni-devcode commented on #3337
Can I work on this?

[2022-11-21 16:43] monsieurtanuki commented on #3337
Before any code and any PR, please write here how you plan to do it.
This issue really seems like a pain in the neck :(
Good luck @prathamsoni11!

[2022-11-21 17:20] omkarChend1kar commented on #3332
Yeah, Right. Instead of simplifying the process, Swiping effects complicates it.

[2022-11-21 19:25] teolemon commented on #3332
- Here's the Photo behavior in v1, which I thinks works well. https://github.com/openfoodfacts/smooth-app/discussions/3338

[2022-11-22 07:44] monsieurtanuki commented on #3332
Thank you @teolemon for your videos!

Now the question is: which actions do we want to facilitate/encourage?
1. contributions for a new product by anybody, including beginners?
2. advanced contributions with language settings and "other" pictures

The answer may be: both.

That would mean 2 specific image edit modes:
1. the quickest possible edit mode for new products (the @stephanegigandet versio

[2022-11-22 08:21] monsieurtanuki commented on #3245
- cf. https://github.com/openfoodfacts/smooth-app/discussions/3338

[2022-11-22 09:32] #3249 closed, assigned to monsieurtanuki

[2022-11-22 09:40] monsieurtanuki opened #3340 "Random Robotoff insight UX suggestions"
cf. https://github.com/openfoodfacts/smooth-app/pull/3336

- [ ] display an error message on the Robotoff page if we cannot download a product and have no fallback - for the moment we have a sort of forever loop (cf. `QuestionCard`)
- [ ] we refresh the product after an answer and before a new question - there's room for optimization there, we could avoid one call (cf. `QuestionPage`)
- [x] especi

[2022-11-22 12:55] teolemon commented on #3326
- Good
- I think there's probably something that we need to change about colors (going back to Robotoff blue, like on web)
- You can probably PR now anyway

[2022-11-22 13:01] monsieurtanuki commented on #3326
My 2 cents:
* Robotoff may have a specific image (e.g. "packaging" instead of "front" first)
* not everybody has a tall smartphone
* not in all languages will you be lucky enough to cram "skip", "yes" and "no" on the same line

[2022-11-22 17:49] M123-dev commented on #3326
Adding the next two cents:
- The background color is too bright, something greyish would fit better (in my opinion)
- We should make this card a bit smaller in heigtht. The buttons are very tall
- I agree with the 3 buttons, but thats a somethat harder UI question, a cross like we plan to do in #3332 isn't clear to skip. Using icons for "Yes" and "No" and writing out Skip would make the skip butto

[2022-11-22 18:29] M123-dev opened #3341 "Discussion: Add Feature Management platform"
### What
- We have come to the point where we need some kind of way to communicate with the app cross-release
- For things like: #3202 or #3333
- So I'm suggesting that we add some kind of feature management platform to smoothie
- This allows to:
  - kill/shutdown (Ask for ratings when something goes wrong)
  - test different versions A/B testing (Donation campaigns, other UI)
  - release features

[2022-11-22 18:36] teolemon commented on #3341
mmh, that said we could do something as simple as a JSON file for the ratings

[2022-11-22 20:49] monsieurtanuki commented on #3341
I cannot be helpful on this subject.

[2022-11-23 09:43] teolemon commented on #3316
In the latest version the camera does not work. I always see a black screen. The app has all the permissions needed, and i tried to close/open, install/uninstall it several times. My phone is a RedMi Note 10 Pro with Android 12.
[Reply](https://play.google.com/console/developers/4712693179220384697/app/4972942602078310258/user-feedback/review-details?reviewId=409fc5f7-9feb-45f2-962b-477139870cb3&c

[2022-11-23 11:53] monsieurtanuki commented on #3316
For the record, this is what I had this morning when fluttering on my old android smartphone:

<details>
<summary>android compileSdkVersion 33 needed</summary>

[code]
</details>

<details>
<summary>Finsky crash (whatever that means)</summary>

[code]
</details>

<details>
<summary>deprecated camera methods</summary>

[code]
</details>

Other:
[code]

At the end, either the camera worked only for

[2022-11-23 12:04] prathamsoni-devcode commented on #3326
Tried changing the button's colour to greyish and reduced the size. Also changed the position on "yes" and "no"

<img src="https://user-images.githubusercontent.com/75238158/203541978-b291412b-9b14-42af-8462-8d92baf49df7.jpg" width=250 height=500>

[2022-11-23 12:11] monsieurtanuki commented on #3316
@g123k Nothing personal, but the fact that the camera code is stashed in your repository (as opposed to freely accessible and debuggable by anyone) and that you cannot reproduce the issue on your devices is a deadlock.

I see 2 solutions:
1. Please consider moving your camera code into Smoothie.
2. Please consider reproducing the issue on your devices. If not possible, go to solution 1.

[2022-11-23 14:58] M123-dev commented on #3326
Ohh @prathamsoni11 I think we were talking past each other there. I liked the color of the buttons. The background color of the whole card is too bright for the darkmode

[2022-11-23 15:02] prathamsoni-devcode commented on #3326
Can you suggest to me which background colour should I replace this?

[2022-11-23 15:12] AshAman999 commented on #1461
I think it's better then the current one , would be a nice addition

[2022-11-23 15:17] AshAman999 commented on #3326
Just go with the default background colors for dark mode , i think that would be fine

[2022-11-23 18:08] prathamsoni-devcode commented on #1461
Done with opening PR

[2022-11-23 18:12] monsieurtanuki commented on #3332
This is the current behavior if someone wants to change an image...

| 1) product page | 2) clicked on single image |
| -- | -- |
| ![Capture d’écran 2022-11-23 à 18 41 42](https://user-images.githubusercontent.com/11576431/203616241-add5f928-3882-4db1-883a-e3d9d2273936.png) | ![Capture d’écran 2022-11-23 à 18 41 59](https://user-images.githubusercontent.com/11576431/203616269-ce92d3ff-ecb4-48

[2022-11-24 09:11] stephanegigandet commented on #3332
Well we probably should not assume that the intent of people clicking on the top photos is to change them. If I had to guess, I would think the most common intent is going to be to see the picture in full scale (especially since we hide the bottom of the part of the pictures thumbnails with the top of the product card (which I personaly find very annoying but that's another story)).

So the curren

[2022-11-24 11:31] monsieurtanuki commented on #3332
What about this?
* immediate READ access to the full picture from product page (1)
* possible swipe between full images (2)
* single image edit page (3)
* simplification/less steps for image editing
* potential language selector to be added on page 2

@stephanegigandet @teolemon @omkarChend1kar Your opinion?

| 1) product page |	2) clicked on single image | 3) clicked on "edit" |
| -- | -- | -- |

[2022-11-24 14:17] omkarChend1kar commented on #3332
@monsieurtanuki Somewhat like this only, I had imagined except skipping gallery view, But was concerned about how we are going to switch between swiping and allowing to edit a current image being shown https://github.com/openfoodfacts/smooth-app/pull/3325#issuecomment-1325323377

[2022-11-24 15:42] prathamsoni-devcode commented on #3326
Are you referencing this "Theme.of(context).colorScheme.background" for background colour

[2022-11-24 16:49] prathamsoni-devcode commented on #3337
Yes, you were right this issue is like a pain in the neck. But I tried this issue and come up that the BottomNavigation is in the root I tried to disable it from the root and it worked but the issue is that the application is throwing a "context" error due to the removal of the root.

[2022-11-24 16:51] prathamsoni-devcode commented on #3337
But I will try this issue once more to resolve this issue.

[2022-11-24 16:53] monsieurtanuki commented on #3332
@omkarChend1kar My remarks:
* personally I _hate_ this gallery view for several reasons (1. when I click on an image I want to see this image, 2. that's an unnecessary step, 3. we know there are only 4 images but we're not able to display them bigger), but that's a matter of choice. If you want to keep it, why not, later I'll code a PR without the gallery to check how different it is with/without

[2022-11-24 16:56] monsieurtanuki commented on #3337
As you wish. For the record this is _not_ an important issue at all and we have many [P0](https://github.com/openfoodfacts/smooth-app/issues?q=is%3Aissue+is%3Aopen+label%3AP0) [P1](https://github.com/openfoodfacts/smooth-app/issues?q=is%3Aissue+is%3Aopen+label%3AP1) [P2](https://github.com/openfoodfacts/smooth-app/issues?q=is%3Aissue+is%3Aopen+label%3AP2) issues that deserve more attention.

[2022-11-24 17:11] stephanegigandet commented on #3332
@monsieurtanuki:  I like it a lot, great idea! :)

I'm not sure if there's enough room, but it would great in step 3 to very clearly say that we are modifying the photo for the ingredients, or the nutrition facts etc. Maybe "Ingredients photo" instead of "Modifier la photo"? It's clear it's an edit screen anyway. One thing we might do is that if people click on "Confirm" when there are no changes

[2022-11-24 17:17] monsieurtanuki commented on #3332
Good point.

The reverse should be true too: changing and going back should trigger a "do you want your changes to be saved?" dialog.

[2022-11-24 17:28] Akashsri3bi commented on #3340
I will see to it

[2022-11-24 17:32] monsieurtanuki commented on #3340
Thank you @Akashsri3bi!
Please create an issue for each suggestion that you want to implement.
For the record, none of them has a high priority - it's just things I noticed while coding on Robotoff.

[2022-11-24 18:10] ishitakapoor26 opened #3346 "Update the Readme of the Smooth-App"
### What
- Readme needs to be updated as one cannot initially understand the features and functionalities of the application by only reading the readme.
For example, Readme should include a demo video of how the application works and flow/ structure of the application, which is missing.

- Can I work on this issue @g123k @M123-dev ?

[2022-11-24 18:32] g123k commented on #3346
To be more precise, what do you want to work on?
The README itself and/or the video?

Because an external video on YouTube (a commercial one?) could be used

[2022-11-24 18:38] ishitakapoor26 commented on #3346
I would first start with the readme like:
- Briefing about the application
- How it works
- Structure of the application
- Prerequisites
and if the commercial video already exist, I can integrate it in the readme itself (if not I can create one).

@g123k please let me know if you have other suggestions for the topics which can be included in the readme.

[2022-11-24 18:59] sentry[bot] opened #3347 "LateError: LateInitializationError: Field '_mainIsolate@2150453397' has not been initialized."
Sentry Issue: [SMOOTHIE-1FQ](https://sentry.io/organizations/openfoodfacts/issues/3701429456/?referrer=github_integration)

[code]

[2022-11-24 18:59] sentry[bot] opened #3348 "StateError: Bad state: Cannot add new events after calling close"
Sentry Issue: [SMOOTHIE-1FS](https://sentry.io/organizations/openfoodfacts/issues/3701526006/?referrer=github_integration)

[code]

[2022-11-24 19:00] sentry[bot] opened #3349 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-1FP](https://sentry.io/organizations/openfoodfacts/issues/3701429411/?referrer=github_integration)

[code]

[2022-11-25 04:37] omkarChend1kar commented on #3332
@monsieurtanuki In that case, I can try getting rid of gallery view, And push the changes so that you can have the access to `ProductImageSwipeableView` widget.

Such that you can make changes to skip one screen and go to crop page, That works ?

[2022-11-25 07:27] monsieurtanuki commented on #3332
@omkarChend1kar Please do finish #3325 without any change to the gallery. Let's do it step by step, PR by PR (as a reviewer, I would appreciate that).

[2022-11-25 07:37] g123k commented on #3316
Is-it from a brand new installation?
Does-it change something to toggle between the two modes of the scanner?

[2022-11-25 07:38] g123k commented on #3301
For instance, we have two splashscreens: one for the light mode and another for the dark one.
This package doesn't support this.

For the issue with the missing brand, I think it's only on iOS and if I remember well, a recent PR was made around this platform/feature.

[2022-11-25 08:22] monsieurtanuki commented on #3301
This package doesn't support this.

[Now they do](https://pub.dev/packages/flutter_native_splash):
![Capture d’écran 2022-11-25 à 09 17 47](https://user-images.githubusercontent.com/11576431/203933691-8d564d1e-83e7-4cbe-9270-d78b71f0d227.png)

[2022-11-25 09:46] Akashsri3bi commented on #3340
Sure !

[2022-11-25 10:20] omkarChend1kar commented on #3332
As per intended behavior required by #3129 ,It's already finished as mentioned in https://github.com/openfoodfacts/smooth-app/pull/3325#issuecomment-1322361299 ,Please review it @monsieurtanuki

[2022-11-25 11:14] monsieurtanuki commented on #3332
@omkarChend1kar Please solve the conflicts.

[2022-11-25 12:49] g123k commented on #3301
Then we can use it instead of the manual solution 👍
I'm just not a big fan of that kind of tool

[2022-11-25 13:30] monsieurtanuki commented on #3301
@g123k I'm not a big fan of generated code either, but in that case we would be better off letting that package manage all the tango dancing around splash screens with Android / Android 12 / iOS.

@Akashsri3bi If that's OK with you, please use [flutter_native_splash](https://pub.dev/packages/flutter_native_splash) in order to fix this issue (I believe most the parameters are already in the `pubspe

[2022-11-25 16:23] #2255 closed, assigned to nobody

[2022-11-25 17:56] Akashsri3bi commented on #3301
Okay great !

[2022-11-25 21:03] M123-dev commented on #3301
Ohh I think I remember what the problem was, the package not supporting svgs

[2022-11-26 06:01] monsieurtanuki commented on #2755
Probably solved by #3339, where pictures can be taken in offline mode.
Feel free to reopen if relevant.

[2022-11-26 06:01] #2755 closed, assigned to nobody

[2022-11-26 06:02] monsieurtanuki commented on #2453
Solved by #3339.
Feel free to reopen if relevant.

[2022-11-26 06:02] #2453 closed, assigned to nobody

[2022-11-26 06:04] monsieurtanuki commented on #1533
Seems to be fixed.
Feel free to reopen if relevant.

[2022-11-26 06:04] #1533 closed, assigned to nobody

[2022-11-26 06:23] monsieurtanuki commented on #3301
Then there are different solutions:
1. check if [flutter_native_splash](https://pub.dev/packages/flutter_native_splash) still does not support svg, and help them support svg if relevant
2. generate png out of svg, but I think we already go most of them (or all of them?)
![Capture d’écran 2022-11-26 à 07 16 50](https://user-images.githubusercontent.com/11576431/204075131-eda4ba0c-ab47-466f-8450-4

[2022-11-26 06:35] monsieurtanuki commented on #3263
As part of [milestone v4](https://github.com/openfoodfacts/smooth-app/milestone/12) this issue can be considered closed.

There are still pending questions regarding user interactions:
* should the user know if her data is partially (not) uploaded, and how?
* easy access to "cancel all tasks"?
* easy access to "cancel this specific task", or "cancel all tasks related to this barcode"?
* easy acces

[2022-11-26 06:35] #3263 closed, assigned to monsieurtanuki

[2022-11-26 08:02] omkarChend1kar commented on #3332
@monsieurtanuki Yeah right, My bad, Please check now.

[2022-11-26 09:00] teolemon commented on #3316
"latest" suggests that it is not a new install, but a regression

[2022-11-26 10:26] Akashsri3bi commented on #3301
Will look into it !

[2022-11-26 10:43] g123k commented on #3316
I'm able to reproduce it.
It's a concurrency issue, not that simple to fix.

[2022-11-26 11:22] AshAman999 commented on #3326
Yeah did you tried that!?

[2022-11-26 12:59] #1461 closed, assigned to prathamsoni-devcode

[2022-11-26 13:30] #1299 closed, assigned to g123k

[2022-11-26 14:54] #3316 closed, assigned to g123k

[2022-11-26 15:41] teolemon opened #3354 "Not all nutrients are displayed on product nutrition edit"
### What
- Not all nutrients are displayed on product nutrition edit
- Link for a scannable barcode: barcode-54738560

### Part of
- #511

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/1689815/204096901-6e3aa7be-bb1d-4fed-94c0-fc7fda6c5fea.png)

[2022-11-26 15:49] teolemon opened #3355 "Ingredient extraction looping without image to loop on"
### What
- Ingredient extraction looping without image to loop on
- Link for a scannable barcode: barcode-54738560

### Screenshot
https://user-images.githubusercontent.com/1689815/204097265-6198213b-1678-4c89-a980-b7902ace038b.mp4

[2022-11-26 17:17] AshAman999 opened #3357 "Errors in power edit screen"
Was trying the latest code on the develop branch,

https://user-images.githubusercontent.com/57723319/204100802-cb4526ce-6121-4fb2-8d7b-164b4316f265.mp4

### Smartphone model
 - Device:  Emulator pixel 4
 - OS:  13
 - App Version:

### Additional context

[2022-11-26 17:33] #3280 closed, assigned to g123k

[2022-11-27 07:29] monsieurtanuki commented on #3354
@teolemon Where have you tested? I've just tested with fr_FR on PROD and it worked as expected:
![Capture d’écran 2022-11-27 à 08 07 13](https://user-images.githubusercontent.com/11576431/204123559-dbdff8a9-8e32-4ba6-a85e-0cb402f92dd1.png)

[2022-11-27 08:13] monsieurtanuki commented on #3357
Probably caused by https://github.com/openfoodfacts/smooth-app/pull/2768

[2022-11-27 09:30] monsieurtanuki commented on #3332
Actually it's a bit tricky to do that now because:
* this impacts the crop page
* there are recent changes about the crop page - we used to use a pub.dev package, and we switched to a custom made package in 2022-10-16, with a possibility to switch back to the old version if needed from dev mode
* the impacts induced by the current issue mean changing the crop page - and today that would mean both

[2022-11-27 11:01] teolemon opened #3367 "chmod: cannot access 'ci/scanner/enable_mlkit_dependency.sh': No such file or directory"
### What
Run chmod +x ci/scanner/enable_mlkit_dependency.sh && ci/scanner/enable_mlkit_dependency.sh
chmod: cannot access 'ci/scanner/enable_mlkit_dependency.sh': No such file or directory
Error: Process completed with exit code 1.

[2022-11-27 14:38] monsieurtanuki commented on #3207
@teolemon Like that?
![Capture d’écran 2022-11-27 à 15 37 34](https://user-images.githubusercontent.com/11576431/204140961-8b88b614-9d36-4462-803f-190a52733f41.png)

[2022-11-27 15:30] #3355 closed, assigned to AshAman999

[2022-11-27 17:30] thibaultmol opened #3370 "Ability to select all items in a list, for comparison"
### Problem
I added a bunch of products to a list. And now I want to do a comparison of all those products, in a few clicks

### Proposed solution
When open a list, add an option in the top right menu: 'select all for compare' or something like that

[2022-11-27 17:31] thibaultmol opened #3371 "Add all scanned products to a list in a couple clicks"
### Problem
I was in the supermarket and scanned all the yoghurts in my store, to then add them all to a list. To look up later what the best ones were. I had to add them one by one after I scanned them all

### Proposed solution
Ability to add all items that are currently still present on the 'search' screen to a list in one go.

[2022-11-27 17:33] thibaultmol opened #3372 "Add ability to sort products 'manually' by criteria like kcal"
### Problem
Currently in the app you can only sort by your recommendations you've set. But I would like to sometimes just select the one with the lowest kcal and go from there.

### Proposed solution
Add an ability to override de 'recommendation' algorithm and just manually sort by specific values. like kcal.

### Part of
- #991

[2022-11-27 17:34] monsieurtanuki commented on #3370
Hi @thibaultmol!
Would that mean something like #1392?

[2022-11-27 17:35] #3367 closed, assigned to nobody

[2022-11-27 17:38] thibaultmol opened #3373 "Sync list to website if using the same account and user allows it"
### Problem

- I scanned a whole bunch of products in my local supermarket. And now would like to analyze them on my computer afterwards.
- There is currently no way to easily even export a list to csv for that. Let alone a way to sync it to the site
### Part of
- #4041

### Part of

[2022-11-27 17:39] monsieurtanuki commented on #3371
Not sure what you mean exactly with the "search" screen.
That said, I believe that:
* if you go to "history", you'll see all your recent products - in your case, all your recent yoghurts
* a long click on one product will trigger the multi select mode
* for the moment, you can only compare the products from there. If you could add selected products to a list instead, that would solve the issue, wo

[2022-11-27 17:42] thibaultmol commented on #3370
yep :+1:

[2022-11-27 17:42] #3370 closed, assigned to nobody

[2022-11-27 17:43] monsieurtanuki commented on #3373
- Related to #2631.
- The problem we have with sharing tons of products is only the URL max length.
- Would a "copy barcodes to clipboard" solve your issue in a first approach?
- A sync to the site would be great too but that's another story.

[2022-11-27 17:44] thibaultmol commented on #3371
"If you could add selected products to a list instead, that would solve the issue, wouldn't it?"
Yes, that's what this issue is about.

I meant that in the 'search' tab (middle tab in the bottom of the app) (the main screen where you scan barcodes). If you scan a bunch of products there. So then you have 'compare x products' in the top right of your screen.
To add all those x products to a list. I

[2022-11-27 17:46] thibaultmol commented on #3373
I'll keep this issue, as it's specifically about syncing to the site.
I guess just having a way to in some way get all the barcodes to a clipboard would be nice. having a full data export to csv would be even better, but yeah

[2022-11-27 17:59] monsieurtanuki commented on #3371
OK, I don't scan, that's why I didn't understand what you meant.

I don't like this screen either, but that's another story.
The problem with that particular screen is that we cannot put that many buttons; that would clog the display.
And the current choice is: "clear" and "compare all".
Instead of "compare all", we could go to a list page - where we could compare, select all, select none, copy to

[2022-11-27 18:04] M123-dev commented on #3371
Yes, adding a third button would be overkill,  instead we could just add a "Save as list" button in a 3 dot menu on the comparison screen.

I could work on that

[2022-11-27 18:16] monsieurtanuki commented on #3371
@M123-dev The thing is that
* the "compare" screen is different from the "product list" screen
* it does not propose multi-selection mode
* it's not very intuitive to go to a "compare" screen in order to "copy to clipboard selected barcodes"

That said, we could imagine implementing the "..." with "copy to clipboard" and "copy to another list" in both compare screen and product list screen.

I had

[2022-11-27 18:22] monsieurtanuki commented on #3372
@thibaultmol I understand the general idea. I see for nutrients, but are you also thinking about other data?

[2022-11-27 19:10] teolemon opened #3374 "Turn account deletion into a web experience"
### Problem
- Apple refused our last update because account deletion was an email experience
- Turn account deletion into a web experience (not requiring an email client, I guess) by opening the following URL in a webview (should be a translatable string, so that we can provide localized versions)
  - https://blog.openfoodfacts.org/en/account-deletion
  - https://blog.openfoodfacts.org/en/account-

[2022-11-27 20:40] M123-dev commented on #3207
If we show it we should also allow to edit it, on the basic details page?

[2022-11-27 21:04] g123k commented on #3374
Should we implement it only for the App Store or for all stores in general?

A small suggestion:
<img width="476" alt="Screenshot 2022-11-27 at 22 04 49" src="https://user-images.githubusercontent.com/246838/204159663-dbab8773-57d1-4eb7-81d5-4d7244cf1d7d.png">

If no parameter is provided, fields have no hints on what the user should write.

[2022-11-28 12:12] thibaultmol commented on #3372
I guess it's mainly for nutrients data yeah

[2022-11-28 12:16] thibaultmol commented on #3371
I scanned 150+- yoghurts. That'd be 150 clicks (to select every product from the history) + a couple more.

But I think your solution would work BUT on the 'scan' screen you get when you click 'compare'. Since that would then automatically include all products from that scanning session
![image](https://user-images.githubusercontent.com/1010226/204275714-aa13bfb2-0f2b-479b-a930-202fab07f7a3.png)

[2022-11-28 12:33] monsieurtanuki commented on #3371
@thibaultmol I'm not a big fan of "_always_ select all products" - if we implement #1392 that will only add one step (the click on "select all") and you'll be able to cherry pick and remove irrelevant items for whatever bulk action you want to perform (e.g. "copy to clipboard", "copy to another list").

We do plan to implement the "..." on both "scan page" (aka "compare page") and "product list pa

[2022-11-28 12:57] monsieurtanuki commented on #3372
Setting nutrients to sort on (ascending or descending) shouldn't be a problem.
The display should be discussed, because I presume you want to see the values, and that may mean a totally different page (like a table), especially if you want several nutrients at the same time.

In addition to that, that's a bit in contradiction with "our" scores, like Nutriscore.

Could you please give a real-life e

[2022-11-28 14:07] thibaultmol commented on #3371
I guess if the plan is inded to have the ... menu which has the ability to add items to a list combined with the 'select all' button. Then yeah, that would solve this.

(glad the limit of 25 wasn't implemented. it's up to the user to decide how many items he wants to be selected all at once in my opinion)

[2022-11-28 14:08] thibaultmol commented on #3372
Basically one of the things I wanted to do was scan all the things you'd consider 'snacks' in my local supermarket and then sort by kcal. See what's the lowest. And then look at the top 10 of those what their other nutriant values are. for example

[2022-11-28 14:13] monsieurtanuki commented on #3372
That would mean ordering by only one nutrient, and then you click on each "top 10" product for more details, right?
In that case do you need the value in nutrient in the list, or just ordered products you can click on is enough?

[2022-11-28 14:17] thibaultmol commented on #3372
I guess both? Being able to see what the actual value is that it's sort on, on the item itself while in the list view would be nice.
Cause it might jump from 50 to 150 all of a sudden but they're right next to each other. So I might just cut off the list before it jumps to a much bigger value.

[2022-11-28 15:27] omkarChend1kar commented on #3307
Can I look into this?

[2022-11-28 16:10] monsieurtanuki commented on #3307
@omkarChend1kar It's OK for me if you do that because I don't understand this issue _at all_.
That said, it's only P5, and I'm sure you can find issues with a higher priority.
And you may even review #3366 first ;)
Start this issue if you want, though.

[2022-11-28 16:32] omkarChend1kar commented on #3307
Will first review #3366

[2022-11-29 08:50] monsieurtanuki opened #3380 "Refresh a product 10 minutes after a photo upload..."
... since there will be new automatic data from Robotoff, and new Robotoff questions.

From #2646

[2022-11-29 09:19] #3207 closed, assigned to monsieurtanuki

[2022-11-29 10:01] #3380 closed, assigned to monsieurtanuki

[2022-11-29 10:02] monsieurtanuki commented on #2646
Closed as everything is completed.

[2022-11-29 10:02] #2646 closed, assigned to monsieurtanuki

[2022-11-29 10:18] monsieurtanuki commented on #2488
Probably fixed by #2525.

[2022-11-29 10:18] #2488 closed, assigned to g123k

[2022-11-29 12:48] imraghav20 commented on #2989
@M123-dev can I work on this issue?

[2022-11-29 13:04] M123-dev commented on #2989
Sure @imraghav20

[2022-11-30 11:58] prathamsoni-devcode commented on #3326
@AshAman999 yes I initialised this as the background colour.

[2022-11-30 12:30] teolemon opened #3383 "It should not be possible to edit the perfect product from the onboarding"
### what
- It should not be possible to edit the perfect product from the onboarding
### Screenshot
https://user-images.githubusercontent.com/1689815/204769148-5c04c396-1e55-4e98-93c5-13e086fea85d.mp4

_Originally posted by @teolemon in https://github.com/openfoodfacts/smooth-app/pull/3382#discussion_r1035777836_

[2022-11-30 14:59] AshAman999 commented on #3326
@prathamsoni11
Maybe i am not sure about the theme color names

What i meant was

B as same color as A

![image](https://user-images.githubusercontent.com/57723319/204831721-1b3823b2-3568-4057-85c7-eef2a318450c.jpeg)

Is it what u did too ?

[2022-11-30 16:35] zanovis opened #3387 "Nutrition Facts Page is greyed out on Android"
### What
Clicking Edit Nutrition Facts on a product page brings me to a grey screen where there is nothing visible to click or view

### Steps to reproduce the behavior
1. Go to a product->edit product
2. Click on 'Nutrition Facts'
3. See error

### Expected behavior
See and edit nutrition facts for product

### Part of

### Screenshot/Mockup/Before-After
![Screenshot_20221130-092849.png](https://

[2022-11-30 16:39] M123-dev commented on #3387
Can you share the barcode @zanovis

[2022-11-30 16:45] zanovis commented on #3387
00969376

[2022-11-30 17:10] g123k commented on #3374
I can implement it, if needed.
But I need an answer to the question above @teolemon

[2022-11-30 17:21] teolemon commented on #3374
We could do all stores, and avoid per store custom behaviors ?
All users want account deletion, I guess.
@alexgarel mentioned he'd like something native server side, but given the resource strain server side, I guess we can move with this temporary solution.

[2022-11-30 18:35] zanovis opened #3390 "Display summation of nutrition facts for a grocery trip"
### Problem

- Scanning individual products is tedious if you want to get a compilation of nutrition facts for many items.
- You can think of a grocery trip as the main input of your nutrition, so we could use that compiled information (a receipt) as a means to get a better understanding of what will be consumed until the next grocery trip.
- Bottom line - calories purchased, calories consumed (mo

[2022-11-30 22:34] imraghav20 commented on #2989
Hi @M123-dev
As per my understanding of the code, the logic in the code seems to be fine to me.
This [line](https://github.com/openfoodfacts/smooth-app/blob/c8eb54c50d9dfcf241e79fc3ea2f85c7c59aa645/packages/smooth_app/lib/generic_lib/dialogs/smooth_alert_dialog.dart#L235) of code determines which type of layout is needed for buttons (horizontal or vertical) based on the device size.

The device si