[2022-07-25 13:18] teolemon opened #2656 "Issue with Greek version of the app"
Νίκος Ραπτόπουλος
1 ★
Greek
Illegible characters (basically unusable) in Greek, and cannot switch display language. TCL T767H

_Originally posted by @teolemon in https://github.com/openfoodfacts/smooth-app/issues/2503#issuecomment-1194037387_

[2022-07-25 13:20] monsieurtanuki commented on #2656
cf. #2291
I would suggest a quick check with the default flutter font and a quick rollback regarding the use of a custom font.

[2022-07-25 13:32] teolemon commented on #2553
the refresh is probably about the server, but you have a point locally as well, probably

[2022-07-25 15:35] monsieurtanuki commented on #2656
First step: I've managed to reproduce bad greek character rendering, from scratch, on an Android emulator, with country=US and language=greek, looking for "coca"
![Capture d’écran 2022-07-25 à 17 34 57](https://user-images.githubusercontent.com/11576431/180817829-29765dfc-3354-447d-bf8a-3ffac1034b20.png)

[2022-07-25 15:38] monsieurtanuki commented on #2656
And after removing the Jakarta font:
![Capture d’écran 2022-07-25 à 17 38 18](https://user-images.githubusercontent.com/11576431/180818496-f993084f-10ea-4b34-b54b-215f4fb0bb18.png)

[2022-07-25 15:55] monsieurtanuki commented on #2656
Same with Ukraine/Ukrainian:
| default flutter font | Jakarta font |
| -- | -- |
| ![Capture d’écran 2022-07-25 à 17 53 38](https://user-images.githubusercontent.com/11576431/180821603-b3502ebe-74c4-4ab4-9d54-d5df3d45596d.png) | ![Capture d’écran 2022-07-25 à 17 51 54](https://user-images.githubusercontent.com/11576431/180821231-4aec3e61-f199-40cb-badd-e71b4881d7c3.png) |

[2022-07-25 18:25] #2503 closed, assigned to monsieurtanuki

[2022-07-26 07:25] teolemon opened #2659 "flutter: command not found"
### What
- CI is failing on develop
- Run flutter --version
/home/runner/work/_temp/b20832a8-798a-43b0-9b3d-80c54bd8e9b8.sh: line [1](https://github.com/openfoodfacts/smooth-app/runs/7514723178?check_suite_focus=true#step:4:1): flutter: command not found
Error: Process completed with exit code 12[7](https://github.com/openfoodfacts/smooth-app/runs/7514723178?check_suite_focus=true#step:4:8).

[2022-07-26 09:35] M123-dev commented on #2659
It's only the release workflows, Post submit is still passing.

The problem is the following:
- We cache the flutter env
- The cache is kept 7 days without use
- The release workflows have a different cache key then the normal CI workflows

[2022-07-27 06:29] monsieurtanuki opened #2662 "Show the barcode keyboard when there is no camera"
### Problem
After watching a 👍  [video about InkPalm](https://www.youtube.com/watch?v=d6xUijZn7B4), I've realized that there may be several cases when the user has no camera and therefore no possibility to scan. In my case, on the emulators.

### Proposed solution
In case there's no camera or the user hasn't accepted the use of the camera, display (as an option) a custom numeric keyboard instead o

[2022-07-27 10:32] teolemon commented on #2659
mmh…

[2022-07-27 11:46] teolemon commented on #1300
ok, boom again
https://github.com/openfoodfacts/smooth-app/runs/7539359867?check_suite_focus=true

[2022-07-27 12:16] #2291 closed, assigned to monsieurtanuki

[2022-07-27 12:16] #2656 closed, assigned to monsieurtanuki

[2022-07-27 13:07] teolemon opened #2667 "Partial download of a product for offline mode could remove KP"
if you already have product 0000, downloading product 0000 without the KP will actually remove the KP from it.
About existing products knowledge panels being removed, could probably,
- 1st I have to get 1000 products from API then check if it's already in the DB then don't update it, I don't know how much time complexity it will add for that
- 2nd we try to update the product anyways when we do a

[2022-07-27 13:11] #2647 closed, assigned to monsieurtanuki

[2022-07-27 16:21] teolemon opened #2669 "Scanning with the offline more (or online mode on an offline product) creates a visual loop"
### What
- Scanning with the offline more (or online mode on an offline product) creates a visual loop
- It attempts to reload the product at very quick interval, displays it, and then reloads it again

### Part of
- #18

[2022-07-28 07:08] monsieurtanuki opened #2671 "Automatic "download product" for products in error"
### Problem

- The most frequent sentry error we have is about products whose barcode is in the list but the product itself is not in the local database. I have no strong opinion on how this can happen, but it does happen.
- We recently changed the way the lists are displayed (#2609), which gives us more flexibility. Before, as we were building the whole list of products _before_ displaying them,

[2022-07-28 10:03] teolemon opened #2672 "Test failing because of Russian translation that seems correct"
### What

- [ ] Test failing because of Russian translation that seems correct
- [ ] https://crowdin.com/translate/openfoodfacts/1672/en-ru#194210
- [ ] The placeholders are inconsistant in English though

### Trace
══╡ EXCEPTION CAUGHT BY FLUTTER TEST FRAMEWORK ╞════════════════════════════════════════════════════
The following TestFailure was thrown running a test:
Expected: contains '2080706059

[2022-07-28 10:55] monsieurtanuki commented on #2672
I've just checked the Russian translation (and clicked on the "blame" button).

What's failing:
[code]

What used to be good:
[code]

The logs complained about `sdkInt`, and they are right: in the new Russian version it's not there. No, it's not. The lowercase L is not the expected uppercase I :)

[2022-07-28 12:37] #2672 closed, assigned to monsieurtanuki

[2022-07-28 15:00] monsieurtanuki commented on #2059
Fixed by @prathamsoni11's #2668.

[2022-07-28 15:00] #2059 closed, assigned to nobody

[2022-07-28 17:40] #1300 closed, assigned to nobody

[2022-07-28 17:40] #2507 closed, assigned to M123-dev

[2022-07-29 11:36] monsieurtanuki commented on #2553
Part of the solution depend on https://github.com/openfoodfacts/openfoodfacts-dart/pull/532

[2022-07-31 03:19] pankova commented on #2678
Hi! Great project! I'd like to help, but I can't reproduce the crash: nothing is found. I'm in US, but I set France in the app settings.

<img width="250" alt="IMG_7883EC9558CF-1]" src="https://user-images.githubusercontent.com/7028613/182008327-77271519-7675-4d46-8b5a-90a86cdb77ab.jpeg">

[2022-07-31 09:22] teolemon opened #2680 "The email should not have "Smoothie help" as a title anymore"
### What
- The email should not have "Smoothie help" as a title anymore
- "Help with Open Food Facts" would be more helpful.
- We could even translate it: "Ayuda con Open Food Facts (Help with Open Food Facts)"
  - "Help with Open Food Facts" allows to create an email rule

[2022-07-31 09:24] teolemon opened #2681 "Wrong sharing URL"
### What
- Wrong sharing URL

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/182019768-278e0371-105e-4abf-a6f3-995dc4566af9.png)

[2022-07-31 09:27] teolemon opened #2682 "Grey screen on some product, on some knowledge panels"
### What
- Documentation in progress…
### Steps to reproduce the behavior
1. Go to 3256540000698
2. Click on the knowledge panels related to ingredient analysis
4. See error

### Screenshots
![image](https://user-images.githubusercontent.com/1689815/182019810-baabada0-101f-4b7c-a4b5-9c5f289e7f4f.png)
![image](https://user-images.githubusercontent.com/1689815/182019822-1c517754-51c8-42eb-89d5-0f219

[2022-07-31 09:30] teolemon commented on #2381
We keep getting negative feedback on scan.

[2022-07-31 09:31] teolemon opened #2683 "Small padding issue in country/language selection in settings"
### What
- Small padding issue in country/language selection in settings

### Screenshots
![image](https://user-images.githubusercontent.com/1689815/182020068-0132f2a6-dd9a-40c1-9f55-103e39ab2eb8.png)

[2022-07-31 11:08] Krishpandya682 commented on #2683
Hi, I would like to work on this issue

[2022-07-31 11:52] Krishpandya682 commented on #2683
Hi, I cloned the project and tried to run it but I kept getting the error "[No implementation found for method getApplicationSupportDirectory on channel plugins.flutter.io/path_provider"

[2022-07-31 11:55] AshAman999 commented on #2683
Hey @Krishpandya682,
Sure you can work on this,
Try navigating to project and run `flutter pub get` first, then `flutter run` probably it will work.
Hope this helps..

[2022-07-31 12:41] monsieurtanuki commented on #2682
As far as I understand KP, it looks like [the data we get from the server](https://fr.openfoodfacts.org/api/v2/product/3256540000698?fields=knowledge_panels) is slightly corrupted.
In particular, for vegan and vegetarian, the elements refer to a panel that does not exists in the rest of the JSON (`"ingredients_analysis_help"`). And that's the reason of the crash: a `null` panel where we expect one

[2022-07-31 12:45] Krishpandya682 commented on #2683
Hi @AshAman999 ,
I did try that, but I am still running into the same error

[2022-07-31 13:00] monsieurtanuki commented on #2678
@pankova Probably barcode 7317661711019 (https://world-fr.openfoodfacts.org/produit/7317661711019/rarorda-lingon-bjornekulla)

[2022-07-31 13:06] monsieurtanuki commented on #2678
@pankova Or set your country+language to Sweden.
![Capture d’écran 2022-07-31 à 15 03 46](https://user-images.githubusercontent.com/11576431/182027787-fdf55ffd-14ca-4b50-a445-c72038c5a1cb.png)
Wasn't able to reproduce the bug though: good luck!

[2022-07-31 13:24] AshAman999 commented on #2683
Can you run `flutter doctor` and send me the output,

[2022-07-31 13:26] #2682 closed, assigned to monsieurtanuki

[2022-07-31 16:24] Krishpandya682 commented on #2683
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 3.0.5, on Microsoft Windows [Version 10.0.25169.1000], locale en-IN)
[√] Android toolchain - develop for Android devices (Android SDK version 31.0.0)
[√] Chrome - develop for the web
[!] Visual Studio - develop for Windows (Visual Studio Community 2022 17.1.0)
    X Visual Studio is missing necessary component

[2022-07-31 17:01] #2681 closed, assigned to monsieurtanuki

[2022-08-01 06:44] #2671 closed, assigned to monsieurtanuki

[2022-08-01 08:06] monsieurtanuki commented on #2413
@g123k Would there be a way to put those lifecycle events in a "just in case / contextual" stack: to be displayed only when the app crashes?
I've just read the weekly sentry report this morning, and we're flooded with lifecycle infos (displayed as "errors") that prevent us from seeing "relevant errors":
![Capture d’écran 2022-08-01 à 10 05 03](https://user-images.githubusercontent.com/11576431/1

[2022-08-01 08:07] g123k commented on #2413
Yes, it’s on my todo list : for sentry that kind of event should be considered as a breadcrumb.
I will create a PR ASAP to fix it

[2022-08-01 08:27] stephanegigandet opened #2697 "Reducing the number of errors reported to Sentry to avoid the Sentry plan being over capacity"
We use the Sentry free plan which has 4 million errors per month, but Smoothie is sending more, and the errors are now being dropped.

It would be good to see if we can remove some of those errors (either fixing them or removing the error report if it's not truly an error), or maybe try to bundle them together so that we don't get multiple errors of the same type sent to Sentry.

![image](https://

[2022-08-01 08:31] monsieurtanuki commented on #2697
Indeed. Actually it was fixed a little earlier with #2609, but #2671 was the natural next step (nice "hey I don't know this product? please refresh!" button instead an error `Text`)

[2022-08-01 09:12] monsieurtanuki commented on #2339
Done in #2465.

Currently playing with `MaterialBanner` instead of `SnackBar`:

![Capture d’écran 2022-08-01 à 11 11 47](https://user-images.githubusercontent.com/11576431/182115018-f541bf65-4fcf-437a-8279-dc698f7c5898.png)

[2022-08-01 09:40] g123k opened #2699 "Incorrect photo indicator"
### Steps to reproduce the behavior
1. Open a product
2. Click on the second/third… photo
3. The dots will always select the first one

https://user-images.githubusercontent.com/246838/182120536-bc469cca-00c6-475e-99b8-e91fd2a45587.mp4

[2022-08-01 09:48] g123k opened #2701 "Product edition: the barcode is black on a dark background"
With dark mode enabled, the barcode displayed on top of the product page edition is black.
It should be white to be much clearer.

![Screenshot_1659347222](https://user-images.githubusercontent.com/246838/182122121-b92a124d-bdc2-44fe-8ba5-22ad83512adc.png)

[2022-08-01 10:01] #2683 closed, assigned to nobody

[2022-08-01 10:23] g123k opened #2703 "Autocomplete with some UI issues"
The UI component used to show suggestions have multiple issues:
- The content goes outside the screen
- There is no scrollbar
- With a long list, it's difficult to differentiate elements (=> add dividers)

![Screenshot_1659347776](https://user-images.githubusercontent.com/246838/182128349-fbcb4d84-3cf2-469b-bb3d-0043a6e55d21.png)

[2022-08-01 10:42] teolemon opened #2705 "Being able to copy the barcode from the edit mode"
### Problem

- Before the barcode was turned into a visual barcode, it used to be possible to press to select (and thus get the menu to copy it)
- Can we bring that back ? It does not have to be a fancy auto-copy to clipboard, just selectability is enough (the OS then takes the relay)

[2022-08-01 10:50] AshAman999 opened #2706 "The sign button stays even when I am signed in already"
### What
- Even when I am signed in, I still see the sign-in button

### Steps to reproduce the behavior
1. Go to the profile section
2. Click on `Sign In` button
3. Sign in to your account
4. The button is still in the profile section

### Expected behavior
The button should disappear when I am signed in

### Why
- (optional, delete if empty) Why it's important

### Screenshot/Mockup/Before-After

[2022-08-01 10:55] monsieurtanuki commented on #2705
You mean like a selectable text?

Actually the `BarcodeWidget` includes the text:
![Capture d’écran 2022-08-01 à 12 48 44](https://user-images.githubusercontent.com/11576431/182132345-a671b6ef-d7a2-4999-913a-e718b0cd7a94.png)

We can tell it not to display the text and add it ourselves, but that doesn't look as good:
![Capture d’écran 2022-08-01 à 12 52 56](https://user-images.githubuserconten

[2022-08-01 10:57] teolemon commented on #2705
What about long press to copy to clipboard then ? We can keep the visual aspect, and get the feature.

[2022-08-01 11:06] monsieurtanuki commented on #2705
Or something more explicit:
![Capture d’écran 2022-08-01 à 13 06 44](https://user-images.githubusercontent.com/11576431/182135143-a8c0cd81-a33f-4f3d-9a69-c060e5d2ed60.png)

[2022-08-01 11:13] AshAman999 commented on #2705
We can hide the default barcode and show our own selectable text with some letter spacing
![image](https://user-images.githubusercontent.com/57723319/182136038-079ff30c-b7d5-42de-8348-38b25e9f3a52.png)

[2022-08-01 11:15] VaiTon commented on #2705
Or maybe we could leave the actual barcode with the text under it and then:
- On a short press we display a toast: "Long press to copy barcode"
- On a long press we copy the barcode into the clipboard

[2022-08-01 11:16] #2699 closed, assigned to g123k

[2022-08-01 11:17] #2701 closed, assigned to g123k

[2022-08-01 11:49] g123k opened #2708 "Product edition: small UI fixes"
Hi everyone,

My brain explodes whenever I open the product page, as everything is misaligned.
On the left, I mention the major inconsistencies of the current UI.
On the right, a few suggestions to improve it:
- Add extra space on the left of the back button
- Extend the width of the nutriscore panel
- Change the color of the arrow to be the same as the text

<img width="1047" alt="Screenshot 2022

[2022-08-01 11:54] stephanegigandet commented on #2708
All 3 are good ideas.

[2022-08-01 12:34] #2705 closed, assigned to monsieurtanuki

[2022-08-01 12:34] #2413 closed, assigned to nobody

[2022-08-01 13:20] #2680 closed, assigned to AshAman999

[2022-08-01 14:25] monsieurtanuki commented on #1343
@teolemon @VaiTon Preview of coming attraction:
| France | World |
| -- | -- |
| ![Capture d’écran 2022-08-01 à 16 21 32](https://user-images.githubusercontent.com/11576431/182169027-29e28ddf-3ae0-4b7b-9f45-39bfd77148b4.png) | ![Capture d’écran 2022-08-01 à 16 21 57](https://user-images.githubusercontent.com/11576431/182169104-776c4a7c-4202-45c0-9454-c2bf6efc574a.png) |
| ![Capture d’écran 20

[2022-08-01 16:05] VaiTon commented on #1343
I'm sorry @monsieurtanuki could you please translate the messages? My understanding of French is limited :(((

[2022-08-01 16:12] monsieurtanuki commented on #1343
@VaiTon Oops - the same in English [Edited with the new "Search world" label]
| France | World |
| -- | -- |
| ![Capture d’écran 2022-08-01 à 18 21 39](https://user-images.githubusercontent.com/11576431/182196915-3f835c87-127c-4000-b826-0d1ea5d3a5e8.png) | ![Capture d’écran 2022-08-01 à 18 11 26](https://user-images.githubusercontent.com/11576431/182192872-5c77d9ef-c371-4599-ada7-78d571ef923e.pn

[2022-08-01 16:14] VaiTon commented on #1343
@monsieurtanuki thank you! Really like it! Maybe using "Search World" instead of "Entire World" would be more representative of the action? Not a blocker though

[2022-08-01 18:35] g123k commented on #2662
@monsieurtanuki Could you draw a mockup of your idea here please?
Would this keypad be embedded in the search card?

[2022-08-01 19:00] g123k commented on #2708
That's strange, I can't assign this issue to @prathamsoni11
Is-it possible for you guys?

[2022-08-01 19:02] teolemon commented on #2708
I can't either. He probably has to comment here before we can

[2022-08-01 19:07] prathamsoni-devcode commented on #2708
Is there any mistake regarding my PR or due to I have not commented on issue for assigning me??

[2022-08-01 20:04] #2703 closed, assigned to g123k

[2022-08-02 06:09] monsieurtanuki commented on #2662
Hi @g123k! Actually I had just a vague idea in my mind, and was not even sure this idea would make sense for other developers. But [it seemed to be a good idea at the time](https://www.youtube.com/watch?v=0ieicflBG_Y).

That said, what I had in mind was, on the top of the scan screen, instead of the scan target icon, an ad-hoc numeric keyboard:
[code]
(with `<` for backspace and `v` for "search/ok

[2022-08-02 10:35] g123k commented on #2594
Fixed (on the native camera plugin), but for an n°1 issue, we have an average of 1 crash… per day.
I think it was pretty much ok

[2022-08-02 10:36] #2594 closed, assigned to g123k

[2022-08-02 10:40] g123k commented on #2381
Honestly, I think this is not a P0, as it won't change anything… and even isn't an issue anymore.
Correct me if I'm wrong, but today, the camera works in 99% of cases.

CameraX is just a wrapper on top of Camera2, and with all the modifications I have done to make it stable, we will have to do all this work again.

[2022-08-02 10:40] g123k commented on #2636
Not an issue actually, just a false positive from the logger

[2022-08-02 10:40] #2636 closed, assigned to nobody

[2022-08-02 10:43] g123k commented on #2697
Mmm then we should close this issue, isn't-it?

The huge amount of issues was coming from a bug with the logging feature and fixed in #2698

[2022-08-02 12:18] VaiTon commented on #2697
Let's close it for now and see if we still hit the quota

[2022-08-02 12:18] #2697 closed, assigned to nobody

[2022-08-02 12:24] teolemon commented on #2381
Scan remains the #1 issue of complaints on the AppStore, with people desinstalling OFF, and long-time users expressing disappointment.
Form feedback, email feedback and App Store feedback are centralized there, with a column on topic
https://docs.google.com/spreadsheets/d/1KsJv8_RxfDDd5ngmeQ4k8ELsudl-YhleXEoDFoGoSAE/edit#gid=1439550856

[2022-08-02 15:43] #2531 closed, assigned to g123k

[2022-08-02 16:58] monsieurtanuki opened #2715 "Remove the category filter in product query page"
### Problem
On top right of the product query page, there's a filter button.
This filter opens the list of the current page product's categories, and let the user decide which category to restrict the visible products to.

My complaints:
* I suspect it was just a "what if?" test
* The interface hasn't changed from the very start and the UX stinks
* I don't think it's in Figma
* I don't think it's

[2022-08-02 17:04] teolemon commented on #2715
- The stone to kill all those birds is #1371

[2022-08-02 17:05] teolemon commented on #2715
It solves extend to world, it solves category filtering, and much more

[2022-08-02 17:17] monsieurtanuki commented on #2715
That's teolemon in [Amonbofis mode](https://www.youtube.com/watch?v=kkpHAjFWkuQ).

[2022-08-02 17:26] monsieurtanuki commented on #2715
I take that as a "get rid of the filter" order, and I thank you for that.

I keep working on the "world search" because I'm almost done and the use case is a bit different, as it deals with the "Come on, everybody knows what a 'rårörda lingon' is! Let's try the world instead of that ignorant country" case.

[2022-08-02 17:40] #2706 closed, assigned to monsieurtanuki

[2022-08-03 05:24] monsieurtanuki commented on #2715
That's a game changer: the (cached) results are now instant.

[2022-08-03 05:32] monsieurtanuki commented on #1371
For that I need more active reviews in off-dart, like
* https://github.com/openfoodfacts/openfoodfacts-dart/pull/522
* https://github.com/openfoodfacts/openfoodfacts-dart/pull/525
* https://github.com/openfoodfacts/openfoodfacts-dart/pull/527
* https://github.com/openfoodfacts/openfoodfacts-dart/pull/532
* https://github.com/openfoodfacts/openfoodfacts-dart/pull/533
* https://github.com/openfoodfa

[2022-08-03 11:07] monsieurtanuki commented on #1900
Fixed by #2660.

[2022-08-03 11:07] #1900 closed, assigned to nobody

[2022-08-03 13:32] M123-dev commented on #2659
FIxed

[2022-08-03 13:32] #2659 closed, assigned to nobody

[2022-08-03 13:37] M123-dev commented on #2678
It was commented on commented on the first Sep 2021 maybe a problem in V1 not the new flutter app

[2022-08-03 13:55] M123-dev commented on #1371
Had a lot to do lately, now I'm more active again, if you need a quick review feel free to ping me on them 😄

[2022-08-03 16:38] #2715 closed, assigned to monsieurtanuki

[2022-08-03 16:38] #1343 closed, assigned to monsieurtanuki

[2022-08-03 16:38] #2339 closed, assigned to monsieurtanuki

[2022-08-03 17:06] sentry[bot] opened #2719 "unexpected: unknown product for 5400113598770"
Sentry Issue: [SMOOTHIE-15G](https://sentry.io/organizations/openfoodfacts/issues/3410673525/?referrer=github_integration)

[code]

[2022-08-03 17:07] M123-dev commented on #2719
P0 for sentry quota, 3.2 million times in the last 25 days

https://github.com/openfoodfacts/smooth-app/issues/2395

[2022-08-03 17:09] sentry[bot] opened #2720 "please download https://static.openfoodfacts.org/images/lang/fr/labels/bleu-blanc-coeur.98x90.svg..."
Sentry Issue: [SMOOTHIE-164](https://sentry.io/organizations/openfoodfacts/issues/3412930538/?referrer=github_integration)

[code]

[2022-08-03 17:09] sentry[bot] opened #2721 "please download https://static.openfoodfacts.org/images/lang/fr/labels/nature-et-progres.65x90.sv..."
Sentry Issue: [SMOOTHIE-16K](https://sentry.io/organizations/openfoodfacts/issues/3415040331/?referrer=github_integration)

[code]

[2022-08-03 17:11] monsieurtanuki commented on #2719
@M123-dev My code in #2609 (that fixes `unexpected: unknown product for`) was merged 9 days ago.
I don't know if it's part of the latest release.

[2022-08-03 17:28] #2720 closed, assigned to monsieurtanuki

[2022-08-03 17:28] #2721 closed, assigned to monsieurtanuki

[2022-08-04 03:21] AshAman999 opened #2726 "No loading indicator after I press login button"
### What
- When I click on the login button, there is no activity on the screen
-  This creates confusion, maybe nothing happened, I should click the button again

[2022-08-04 07:57] teolemon opened #2728 "Camera.java:978: error: ';' expected result.error("setExposurePointFailed", "Could not set exposure point.", null));"
### What
- https://github.com/openfoodfacts/smooth-app/runs/7657790339?check_suite_focus=true
- /opt/hostedtoolcache/flutter/stable-3.0.5-x64/.pub-cache/git/plugins-fad9e7c1cd0922e00d50e36b1fbd4990cafe8f43/packages/camera/camera/android/src/main/java/io/flutter/plugins/camera/Camera.java:978: error: ';' expected
            result.error("setExposurePointFailed", "Could not set exposure point.", nu

[2022-08-04 08:13] #2726 closed, assigned to nobody

[2022-08-04 11:40] g123k commented on #2728
That's fixed, sorry

[2022-08-04 11:40] #2728 closed, assigned to g123k

[2022-08-04 14:28] VaiTon commented on #2395
I propose doing that in a background thread and if needed block the user with a "Updading database version..." dialog, so that it doesn't seem like the app db is sometimes a mess (although it can be)

[2022-08-04 15:55] #2669 closed, assigned to AshAman999

[2022-08-04 17:20] monsieurtanuki commented on #2395
@VaiTon Actually it's not that messy, it's just a minor inconsistency. And from #2673 it's dealt with automatically when a product is displayed in a list.
We'll see how often we have issues like that.

[2022-08-05 10:35] abughalib opened #2729 "Close button not working properly on Product search Page"
### What
The close button on the product scan page is not closing the dialog

### Steps to reproduce the behavior
1. Go to Search
2. Search for any product
3. Scroll down and click on Close

### Screen Recording
https://user-images.githubusercontent.com/33085535/183059612-2bbb6fa9-3bb7-4de6-987d-bd60d8d12cef.mp4

### Smartphone model
 - Device: Realme 3 Pro (RMX1851), Pixel 4 Emulator, Windows Sub

[2022-08-05 12:20] teolemon opened #2730 "The debug info attached to emails has variable $ in most places"
### What
- The debug info attached to emails has variable $ in most places
- https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/l10n/app_en.arb#L707
### Excerpt
----
OS: Android (SDK Int: 32 / Release: $12)
Modell: $Mi 9T Pro
Produkt: $voltage_raphael
Gerät: $raphael
Marke:Xiaomi
App-Version: 3.5.2
App-Build-Nummer: 706
App-Paketname: org.openfoodfacts.scanner

[2022-08-05 13:15] teolemon opened #2731 "Scan loop issue still present"
### What
- https://photos.app.goo.gl/miGQTx3PQmo7ZcAQ7
- Sorry for the music :-)

[2022-08-05 13:25] teolemon opened #2732 "2nd scan does not work after closing the card"
### What
- https://photos.app.goo.gl/RRZdPZmJ36NRVwUc6

### Steps to reproduce the behavior
1. Scan a product
2. Close the scan card
3. Try and fail to scan again

[2022-08-05 16:50] M123-dev commented on #2544
Is it still there @teolemon

[2022-08-05 16:54] M123-dev commented on #1400
Should be fixed right, feel free to re-open if not

[2022-08-05 16:54] #1400 closed, assigned to nobody

[2022-08-05 16:54] M123-dev commented on #1388
Should be fixed

[2022-08-05 16:54] #1388 closed, assigned to nobody

[2022-08-05 16:57] M123-dev commented on #2415
True for some reason it doesn't show the latest commits in the commits tab

https://app.codecov.io/gh/openfoodfacts/smooth-app/commits

It does on the main page, but also not merged commits.

Are you familiar with Codecov @lsaudon

[2022-08-05 16:58] M123-dev commented on #1239
@teolemon what kind of tests do you mean, just plain the api endpoints work, or real app tests clicking through the app

[2022-08-05 17:01] abughalib commented on #2732
The clear on top is working just fine but the 'X' button on the scan card is not and clear clears all scans.
The app needs to restart in order to work again.

https://user-images.githubusercontent.com/33085535/183125674-5ccf8bc6-0c96-470c-be3a-383a2b86a5e6.mp4

Device: Realme 3 Pro (RMX1851)
OS: Lineage OS 19.1 (Android 12)

[2022-08-05 17:33] monsieurtanuki commented on #2729
Thank you @abughalib for having detected this bug. Strange, it didn't happen when I coded it.
That said, I think I'll get rid of the "close" button: no error then ;)
And put the banner in a sliver instead.
Because anyway, it was a bit strange (assuming that the close button works, yes it did), that when you close the banner and then say "hey, finally I would like world data" you could not anymore

[2022-08-05 18:44] #2730 closed, assigned to monsieurtanuki

[2022-08-05 19:28] monsieurtanuki commented on #2729
Working on a more simple version. Should be ready tomorrow.
![Capture d’écran 2022-08-05 à 21 26 35](https://user-images.githubusercontent.com/11576431/183147309-f187a2ee-084f-4973-b896-75ae1b62cc8e.png)

[2022-08-05 20:09] monsieurtanuki commented on #2729
And that gives me the opportunity to improve the "empty screen" too:
![Capture d’écran 2022-08-05 à 22 09 12](https://user-images.githubusercontent.com/11576431/183155079-a97f64e0-4715-4896-8f38-86864f808162.png)

[2022-08-06 12:42] teolemon opened #2737 "Introduce a way to explore all Open Food Facts facets (a taxonomy explorer)"
### Why
- Users want to explore categories, and a given category ("The best lasagne", "The best sunscreens")
- Users want to see a list of products that contain a given additive they have heard about
- This is an adjacent usecase to search, but in a more structured way, allowing for organized serendipity

### What

- [ ] Introduce a way to slice and dice products in the DB, and explore all Open Fo

[2022-08-06 12:46] teolemon opened #2738 "Reintroduce the "Grab product URL from QRCode or Google Search" option"
### What

- [ ] Reintroduce the product URL editing from V1
- [ ] This is low priority - a good candidate for "good first issue"

![Image](https://user-images.githubusercontent.com/1689815/177177216-18b7bba6-2bb4-4605-8cd4-679a3d718804.png)

### Part of
- #503

[2022-08-06 13:10] teolemon commented on #1239
I am not sure. The API endpoints might be the most vulnerable part here, honestly ?

[2022-08-06 13:12] teolemon commented on #2544
<img width="503" alt="image" src="https://user-images.githubusercontent.com/1689815/183250391-c5a11f27-54d7-4d9b-ba0e-197e6623aaf9.png">

[2022-08-06 13:13] teolemon commented on #2544
It seems that the last release might solve this one

[2022-08-06 13:16] teolemon opened #2739 "Switch to vanilla matomo-tracker since our changes were merged"
### What
Switch to vanilla matomo-tracker since @M123-dev 's  changes were merged: https://github.com/Floating-Dartists/matomo-tracker/pulls?q=is%3Apr+is%3Aclosed+author%3AM123-dev
https://github.com/M123-dev/matomo-tracker

### Part of
- Dependancies

[2022-08-06 13:19] teolemon commented on #2719
It was released on Friday, so it's been released, but the quota won't reset before August 13th @monsieurtanuki @M123-dev
going to close it

[2022-08-06 13:19] #2719 closed, assigned to nobody

[2022-08-06 13:23] teolemon commented on #2514
A user says: "I am quite new using the App and wanted to contribute a few products. Now since the last update it seems I can seek for international products. Today I tried to scan cereals by crownfield (Lidl) in Germany, type "Traube Nuss Müsli".
The barcode is 2035 3889. Now the problem is this, in the app it is called Vollkornmüsli (whole corn cereals?) But but Traube Nuss Müsli (grape nut cerea

[2022-08-06 14:54] VaiTon commented on #2739
Maybe instead of switching to that package and then if we want to make a change switch back to "ours" we should maintain a fork in the org and develop our changes on a separate branch. When they get merged we just fast-forward "main".

@M123-dev what do you think?

[2022-08-07 07:09] rohan9024 commented on #1301
Is this issue still open?

[2022-08-07 07:12] rohan9024 commented on #1703
is this issue open?

[2022-08-07 07:12] rohan9024 commented on #1703
is this issue open?

[2022-08-07 08:55] M123-dev commented on #2738
When I understand it correct allow to search for full urls or what  is this issue about

[2022-08-07 08:55] M123-dev commented on #2544
Let close it and if it goes above we can open a new one

[2022-08-07 08:55] #2544 closed, assigned to nobody

[2022-08-07 08:59] M123-dev commented on #2739
Sounds good to me, the package doesn't have all the features matomo has, maybe we wan't to add something else later on but for now both solutions are fine with me

[2022-08-07 09:05] M123-dev commented on #1301
The issue itself is closed I don't know if it's fixed @teolemon

[2022-08-07 09:06] M123-dev commented on #1703
No @rohan9024 we already have search for adding categories

[2022-08-07 09:08] M123-dev commented on #1703
Actually we have no search but a type to add

[2022-08-07 09:08] #1703 closed, assigned to nobody

[2022-08-07 09:09] M123-dev commented on #1239
I think we can also add intigration tests for it but thats not a priority, adding a higher p issue to off-dart

[2022-08-07 09:15] teolemon commented on #2738
It allows to search for full url using 2 options, in the case of Google Search, you have to copy paste it, in the case of a qr code, it's filled automatically

[2022-08-07 10:49] teolemon commented on #2508
I'm assigning myself until I get to the bottom of this

[2022-08-07 14:43] teolemon commented on #75
- I'm tempted to say that this one will be solved by filtering using Category: Apple sauces in Advanced Search #1371

[2022-08-07 14:45] teolemon commented on #99
- Will Probably be solved by #1371

[2022-08-07 14:49] teolemon commented on #147
Some server side work is going on at https://github.com/openfoodfacts/openfoodfacts-search

[2022-08-07 14:57] teolemon commented on #1307
- This one is also important for United States users, who are used to see by portion vs 100g. #2518

[2022-08-07 14:57] teolemon commented on #1239
marking as in progress @M123-dev
do not forget to update the project status if possible

[2022-08-07 15:05] teolemon commented on #1932
Still here on August 7th 2022

[2022-08-07 15:07] teolemon commented on #1932
![Screenshot_20220807-170509.png](https://user-images.githubusercontent.com/1689815/183297623-38745bb8-94d2-4903-8f7e-17b30f7c7589.png)

[2022-08-07 15:10] teolemon commented on #1822
- [ ] Server-side: do not set the Eco-Score as a default attribute in countries where it is currently unsupported

[2022-08-07 18:44] VaiTon commented on #1932
I don't think I'm the right person as I speak little to no french :(

[2022-08-07 18:50] teolemon opened #2741 "We have a BIG scan issue"
### What
We have a big scan issue. We discussed it at length with @g123k the other day. I'm pinning this until we solve it, and people are happy again.

People are complaining on all channels (email, appstore, app survey)

I believe we didn't ship some of the fixes in the last release, so native bug is still on-going, and people are still complaining: https://github.com/openfoodfacts/smooth-app/pu

[2022-08-07 19:12] teolemon opened #2742 "Permission denials increased 2 folds after update from V1 to Smoothie"
### What

- [ ] Permission denials increased 2 folds after update from V1 to Smoothie
- [ ] It might have degraded the app experience since people might be stuck unable to scan
- [ ] There might be a reason for it (initial bug on iOS, and/or lack of explainer screen)
- [ ] We need a way to fix it for users who denied permissions

![image](https://user-images.githubusercontent.com/1689815/183307161

[2022-08-07 19:16] g123k commented on #2741
There is an issue I’m currently working on: a product added, then removed, can not be scanned anymore.

so we have to be really careful when we talk about the scan.
It might be side effects from other parts of the code.

[2022-08-08 07:58] M123-dev opened #2745 "iOS release failing"

[2022-08-08 08:24] teolemon commented on #2745
I need to open the new release train, we could also see if fastlane can open it on its own

[2022-08-08 08:50] g123k opened #2747 "[Tracker] Tests failing because of device_info_plus"
Hello,

This morning, tests fail because of this issue:
[code]

The bug is from the `device_info_plus` dependency and an issue is already raised: https://github.com/fluttercommunity/plus_plugins/issues/1000

[2022-08-08 08:51] M123-dev commented on #2745
What exactly is the release train

[2022-08-08 08:59] M123-dev commented on #2747
He and we are using version 3.x.x.

It could be fixed by using version 4. I had to upgrade it anyways in my PR to switch back to the official matomo version

https://github.com/openfoodfacts/smooth-app/pull/2740/files#diff-2febea6f4fe5f87d8e7061c53a42e132ccfd979c6e25770891ef4c654728de06R37

[2022-08-08 09:08] g123k commented on #2742
The easiest way to fix this issue is to create a new screen before or after the analytics consent screen, explaining why we need this permission

[2022-08-08 09:29] #2576 closed, assigned to M123-dev

[2022-08-08 09:36] teolemon commented on #2745
This:
<img width="438" alt="image" src="https://user-images.githubusercontent.com/1689815/183387715-d09fe668-6810-4803-8398-3ebbe7f25e61.png">

Steps:

1. Create a 3.5.3 release train
2. Create a "release/3.5.3" branch
3. Profit

[2022-08-08 09:38] M123-dev opened #2748 "`flutter_secure_storage` plugin needs compileSdkVersion 33"
### What

While building locally for #2747 I noticed that:

[code]

https://pub.dev/packages/flutter_secure_storage

Since it's just the compile not the min version it's shouldn't exclude devices but we have to check what the playstore says

[2022-08-08 09:40] M123-dev commented on #2747
Merged and updated your PR, tests work again as well as local debug builds

[2022-08-08 09:41] #2747 closed, assigned to nobody

[2022-08-08 09:46] M123-dev opened #2749 "Use Sentry to its fullest"
### What
- [ ] It seems we can upload the source code to see where the errors a thrown https://docs.sentry.io/platforms/flutter/upload-debug/
- [ ] We can let sentry suspect in which commit new errors are created https://docs.sentry.io/product/sentry-basics/integrate-frontend/configure-scms/

### Part of
- #devops

[2022-08-08 10:44] g123k commented on #2748
Since Flutter does still rely on 32, we should force staying on the previous version.
33 has some breaking changes

[2022-08-08 13:11] g123k opened #2750 "Weird behavior while taking photos"
When we take a photo for a product, here are the steps:

1. Click on the button to take the picture
2. Take the picture
3. Crop it and validate

But between steps 2 and 3, we can briefly see the previous image, which seems like an error.
Here is a video of the issue: https://user-images.githubusercontent.com/246838/183425565-01608699-4e5a-48d6-8d8b-7ae0d19a4ea4.mp4

We shouldn't do that ;)

[2022-08-08 14:14] g123k opened #2753 "Incorrect Ripple shape"
A screenshot is enough to understand ^_^

<img width="427" alt="Screenshot 2022-08-08 at 16 14 03" src="https://user-images.githubusercontent.com/246838/183438753-2959ee63-e6cd-4dfc-b0fc-883e76e968d8.png">

[2022-08-08 14:31] monsieurtanuki commented on #2753
Actually it's the standard ListTile behavior.
________________________________
De : Edouard Marquez ***@***.***>
Envoyé : lundi 8 août 2022 16:15
À : openfoodfacts/smooth-app ***@***.***>
Cc : Subscribed ***@***.***>
Objet : [openfoodfacts/smooth-app] Incorrect Ripple shape (Issue #2753)

A screenshot is enough to understand ^_^

[Screenshot 2022-08-08 at 16 14 03]<https://user-images.githubuserco

[2022-08-08 14:33] monsieurtanuki commented on #2753
Oh you meant the touch disk or the dark border / grey background?
________________________________
De : Edouard Marquez ***@***.***>
Envoyé : lundi 8 août 2022 16:15
À : openfoodfacts/smooth-app ***@***.***>
Cc : Subscribed ***@***.***>
Objet : [openfoodfacts/smooth-app] Incorrect Ripple shape (Issue #2753)

A screenshot is enough to understand ^_^

[Screenshot 2022-08-08 at 16 14 03]<https://user

[2022-08-08 14:42] g123k commented on #2753
True, but I have fixed it in the PR #2754

[2022-08-08 14:46] g123k opened #2755 "In offline mode, we don't understand why a photo can't be taken"
### What
- In offline mode, we don't understand why a photo can't be taken
- An error dialog would be better (while waiting for offline mode)
- The issue is visible in this video:

https://user-images.githubusercontent.com/246838/183445534-cca3ef1f-0ede-4017-b9c6-027a0e215032.mp4
### Part of
- #1235

[2022-08-08 14:51] g123k opened #2756 "Is back button gone? 🤨"
For some sub-settings screens, the back button is not visible (anymore?).
I'm not sure, but they were visible before, isn't-it?

![Screenshot_1659970239](https://user-images.githubusercontent.com/246838/183446705-3a1d272e-7e5c-4988-abec-54ea02341140.png)
![Screenshot_1659970243](https://user-images.githubusercontent.com/246838/183446716-d920deb6-9c65-4a0d-a1d1-4bb7e389946d.png)
![Screenshot_165997

[2022-08-08 14:54] AshAman999 commented on #2755
What actually happens is we try to download the picture in full resolution and then do the edits,
Yeah, we can improve the situation here,

[2022-08-08 15:22] AshAman999 commented on #2756
It just gets hided in small screen phones

![image](https://user-images.githubusercontent.com/57723319/183453462-d4ed4437-10a1-4892-b150-fe07702aabac.jpeg)

[2022-08-08 15:22] g123k opened #2757 "Invalid translation when leaving an edited product"
When we click on the back button of an edited product page, the dialog has two actions:
- Ignore
- Save

![Screenshot_1659971698](https://user-images.githubusercontent.com/246838/183453820-f7e87a96-5b9f-4ba3-8f03-15f5e4279dbe.png)

The `Ignore` option leaves the screen.
As a user, "ignore" means staying on the screen or something similar to canceling.
I think a better sentence would be "Ignore my

[2022-08-09 05:13] g123k commented on #2741
@teolemon Any news from the iOS users?
On my side, I've tried to reproduce the OOM issue on iOS by letting the camera for hours… without any problem :(

---

For the permission's screen, do you know where Quentin took the illustrations for the onboarding?

[2022-08-09 06:25] #2603 closed, assigned to g123k

[2022-08-09 08:58] teolemon opened #2761 "Permission ask goes into a loop"
### What
- Permission ask goes into a loop
- Probably related to #2742

### Video
https://user-images.githubusercontent.com/1689815/183608551-d5af6edd-b53d-4034-b279-31edf3381d2a.mp4

[2022-08-09 08:59] teolemon opened #2762 "The app doesn't ask for photo permission if it's been manually disabled"
### What
- The app doesn't ask for photo permission if it's been manually disabled
- Probably related to #2742

### Screenshots of 2 places
![image](https://user-images.githubusercontent.com/1689815/183608839-b2783c48-d2f2-4687-ba7b-6f9cc56f1174.png)
![image](https://user-images.githubusercontent.com/1689815/183608936-088435cc-3325-4911-a755-b9fc70f47f04.png)

[2022-08-09 11:02] g123k commented on #2762
Mmm that's normal, because this screen doesn't need it.

[2022-08-09 11:03] g123k commented on #2761
There is also an issue on iOS devices, where even if the permission is granted, the screen continues to ask for it.

[2022-08-09 11:51] teolemon commented on #2762
The app needs camera permission in both cases to take photos ?

[2022-08-09 12:18] g123k commented on #2762
No, because the one used for product edition is the OS Camera app and thus is out of our scope

[2022-08-09 12:59] #2756 closed, assigned to g123k

[2022-08-09 16:16] #2757 closed, assigned to g123k

[2022-08-10 05:03] g123k opened #2764 "Nutrition facts: on some fields, the next button doesn't work"
The behavior is really strange, but depending on the text field, the next button of the keyboard doesn't work

https://user-images.githubusercontent.com/246838/183819790-06b536c8-0a47-492f-b1d8-f4da7948192a.mp4

[2022-08-10 07:14] monsieurtanuki commented on #1822
@teolemon The default attributes depend on language, not country.
Besides, it may not have the side effect I assume you expect.

My suggestion in a first approach: hard-code in Smoothie a list of countries that include ecoscore, and never show ecoscore in Smoothie for countries that are not in that list.

[2022-08-10 07:17] monsieurtanuki commented on #1932
I'm about to remove that text altogether. We don't need it anymore.
Especially because I'm thinking about a new system without the "Download next 25 products" button, where the scroll  triggers the next download.

[2022-08-10 08:14] teolemon commented on #1932
Great. Continuous scrolling is really a superior experience 👍

[2022-08-10 09:03] #2764 closed, assigned to g123k

[2022-08-10 09:20] teolemon commented on #2755
Using low resolution images at first that gets replaced asap with the real thing, and doing server side operations could be the solution here
- #2429
- #2484

[2022-08-10 10:49] monsieurtanuki commented on #2741
My suggestions on the topic as a back-seat driver, ordered by decreasing relevancy:
1. use a dedicated screen/widget for the camera+barcode scan
    1. all the complexity of maintaining the camera in idle mode because of the "3 parallel bottom tabs" system will be removed (the camera widget on one specific page, exit the page = exit the camera)
    2. we can use a smaller camera widget - smaller a

[2022-08-10 10:53] g123k commented on #2741
For the isolate thing, we only have 1 isolate running.
If a decoding is happening, the request is put in a queue, waiting for the task to be done or replaced by another scan.

[2022-08-10 10:58] monsieurtanuki commented on #2741
You mean that beside the isolate currently running, there's at maximum another one pending, am I right?
Even there, that means that we have 2 isolates, memory-wise. Plus all the memory tap dancing when you're replacing the pending isolate (if I've understood well).
I guess that we should not put the next isolate in the queue, and just ignore it: the camera refresh is fast enough to trigger another

[2022-08-10 11:15] g123k opened #2767 "Product edition: the trash icon should be on the right"
### What
-Product edition: the trash icon should be on the right
+ suggestion : a click allows to edit the item
### Part of
- #503

### Screenshot
![Screenshot_1660130005](https://user-images.githubusercontent.com/246838/183887913-7ceae1db-179b-4bfa-8a14-2cdd4fd4de9a.png)

[2022-08-10 13:07] g123k commented on #2741
No there is just one Isolate, but I thought you meant that each photo = one Isolate, which is not the case.

The data is only sent when the decoding happens, so no worry about that.

But it seems that the issue is not about the Isolate itself, but more related to the camera. Unless I have a device with the issue, I can’t say more, because users are only stating « it doesn’t work ». Really helpful,

[2022-08-10 13:13] monsieurtanuki commented on #2741
I need to have a look at your code then, there's something I don't understand.

Indeed, that's why I ranked the specific camera scan page/widget as more important.

Unfortunately that's a common pattern for users :)
That's also why I recommended a less ambitious specific page/widget, with less reasons to fail. And not a degraded UX (IMHO).

[2022-08-10 14:00] monsieurtanuki commented on #2741
@g123k As I said, I don't think the `isolate` part is the most problematic.

That said, I would like you to run performance tests (when you have time) around the types of barcodes.
Currently you use many types, and many of them are probably irrelevant (cf. https://www.scandit.com/blog/types-barcodes-choosing-right-barcode/). I don't know how faster things would be if we check for fewer types.
[cod

[2022-08-10 14:02] #1932 closed, assigned to monsieurtanuki

[2022-08-10 14:02] #2729 closed, assigned to monsieurtanuki

[2022-08-10 18:08] M123-dev opened #2771 "[Tracker] Update the GitHub release pipeline"
### Why
- Now that the app is release it's time to rework our release piplines
- The most important parts about it are:
  - We want a private listing for testing and a public listing to be able to use the app and debug on the same device
  - Currently we don't have a real strategy for version names
  - We have no way to find out which commit is in which release
  - We need different builds, namely

[2022-08-11 11:05] #2750 closed, assigned to g123k

[2022-08-11 13:40] teolemon opened #2772 "No way to tell the language of the ingredient image before extracting"
### What
- [ ] No way to tell the language of the ingredient image before extracting
- Short term: show the langcode
- Long term: #522
### Screenshot
<img src="https://user-images.githubusercontent.com/1689815/184146736-9e5d09de-5c62-46f8-acb4-6f8e2f05e36e.png" height="400px">

### Part of
- #2514

[2022-08-11 13:41] teolemon opened #2773 "Bulk deletion references history in lists"
### What

- [ ] Bulk deletion references history in lists

### Screenshot

![image](https://user-images.githubusercontent.com/1689815/184147010-1fa7d514-ab87-4c28-8319-9bf7efde1885.png)

[2022-08-11 13:43] teolemon opened #2774 "Move important editing section up for easier access"
### What

- [ ] Move important editing section up for easier access
- [ ] Ingredients, categories, nutrition (all required for scores)

![image](https://user-images.githubusercontent.com/1689815/184147268-a5288dfe-f910-41c4-8393-fa50c256d8df.png)

[2022-08-11 13:46] teolemon opened #2775 "Impossible to exit view after ingredient extraction (back arrow disappears, and cancel button stops working)"
### What
- Impossible to exit view after ingredient extraction (back arrow disappears, and cancel button stops working)

### Part of
- #503

https://user-images.githubusercontent.com/1689815/184147906-4ea5ffd3-90df-4ca3-a04c-ee189384bfb6.mp4

[2022-08-11 14:01] teolemon opened #2776 "Placement of Food prefs is ugly"
### What
- Placement of Food prefs is ugly
- I would expect it left aligned with the rest of the screen
![image](https://user-images.githubusercontent.com/1689815/184151206-3c49f3d3-14eb-49f8-94df-674075acc54d.png)

[2022-08-11 14:04] #2667 closed, assigned to nobody

[2022-08-11 16:17] #2174 closed, assigned to monsieurtanuki

[2022-08-11 17:16] monsieurtanuki commented on #2776
@teolemon You mean you prefer something like that (I added the grey background just for horizontal alignment check):
![Capture d’écran 2022-08-11 à 19 15 45](https://user-images.githubusercontent.com/11576431/184194036-b9466af1-08f4-4a6e-b6f7-9ff3b0a603ed.png)

[2022-08-11 17:29] #2774 closed, assigned to monsieurtanuki

[2022-08-11 17:45] AshAman999 commented on #2775
I am not able to recreate the issues,
Are you sure @teolemon  you tried the latest code of today?

[2022-08-11 17:47] AshAman999 commented on #2776
I guess it's about the title `Food Preferences, maybe we could left align that text

[2022-08-11 17:51] monsieurtanuki commented on #2776
That was my initial interpretation too.
But that would mean that figma is wrong, and that all user preference page headers are wrong. Which is possible.
I cannot see how we should NOT center the logo and the text, or just NOT center the text while keeping the logo to the center...

[2022-08-11 18:09] AshAman999 commented on #2776
At least here in the screenshot by pierre it looks bad, maybe reducing font size might help ❓

[2022-08-11 18:33] monsieurtanuki commented on #2776
I don't know what Pierre means. But reducing the font size won't help. Putting the header title in a SizedBox and an AutoSizeText would.

[2022-08-11 19:34] teolemon commented on #2776
The mockup didn't take into account that the text would be long.

[2022-08-11 19:35] teolemon commented on #2776
![Screenshot_20220811-213533.png](https://user-images.githubusercontent.com/1689815/184224537-5ef88ca5-194a-40b2-97c8-f0e16cc4d5e9.png)

[2022-08-11 19:36] teolemon commented on #2776
Also, since we don't match them, the original was left aligned

[2022-08-12 15:54] #2776 closed, assigned to monsieurtanuki

[2022-08-12 17:45] AshAman999 opened #2784 "Sign in page working weirdly"
### What
- Even if i am entering wrong credentials the app doesn't warn me or anything

### Screenshot/Mockup/Before-After
![image](https://user-images.githubusercontent.com/57723319/184414424-c4ed152f-ff8c-4bba-8d10-4519b620866d.png)

### Smartphone model
 - Device: [Emulator]
 - OS: [e.g. Android 11]

[2022-08-13 07:56] monsieurtanuki opened #2785 "Upgrade of product list key, allowing for more search parameters"
### Problem
For the moment, we store all the search parameters as a `hive` key, which has limitations (255 ASCII chars).
Advanced search (#1371) means more search parameters than today.
If we want to store searches with many parameters, we cannot use `hive` anymore because we'll probably break the 255 char limit.
For the moment in the key we store the search terms (e.g. "pizza"), the country and t

[2022-08-13 12:39] #2348 closed, assigned to cli1005

[2022-08-13 12:41] M123-dev commented on #2255
Is fixed, likely because we now load the list of barcodes and not the list of products anymore

[2022-08-13 12:46] M123-dev commented on #1255
I'd say this issue is now obsolete we have lots of issues with more up to date infos about this topic

[2022-08-13 12:46] #1255 closed, assigned to nobody

[2022-08-13 13:07] teolemon commented on #2761
https://user-images.githubusercontent.com/1689815/184495530-db9897af-4652-4833-9cd2-3c4dfee0ee39.mp4

[2022-08-13 13:07] teolemon commented on #2761
Android device, after the fix for iOS

[2022-08-13 13:08] teolemon commented on #2731
https://user-images.githubusercontent.com/1689815/184495559-0ee5a589-3ad2-41c0-8151-db3d229e34ab.mp4

[2022-08-13 14:16] g123k commented on #2761
I need reproducible steps please, because when I launch the app, the settings Activity launches as expected.
And this not after the fix for iOS, as you've already mentioned this issue if I may

[2022-08-13 14:33] teolemon commented on #2761
Manually disabling permissions should suffice

[2022-08-13 14:35] teolemon commented on #2761
We might add a message on how to Reenable sibce after 3/4 denials, Android stops asking

[2022-08-13 14:36] teolemon commented on #2761
We might add a message on how to Reena le, sunce after 3/4 denials, Android stops asking

[2022-08-13 14:36] teolemon commented on #2761
Also, not being able to open parameters screen is surprising

[2022-08-14 14:19] AshAman999 commented on #2784
@monsieurtanuki  @teolemon
Did some digging and found out the problem
I guess something going on with the server side code, so maybe we need to update our open food facts API wrapper

`flutter\.pub-cache\hosted\pub.dartlang.org\openfoodfacts-1.23.0\lib\openfoodfacts.dart`
[code]

And I try to see what the response here is, it gives out something like this (put HTML into file to see the contents)
!

[2022-08-14 14:54] AshAman999 commented on #2482
The PR is merged, closing this issue

[2022-08-14 14:54] #2482 closed, assigned to abughalib

[2022-08-14 16:13] M123-dev commented on #2784
Sure @AshAman999 you can also have a look at the code, the whole login / register things are a bit hacky

[2022-08-14 16:14] M123-dev commented on #2784
There is no endpoint for doing user credential things (at the moment, a new system is in progress) so we are just mocking the request the browser is sending with it's form and searching the response html code for some keywords to check what is going on

[2022-08-14 16:15] M123-dev commented on #2784
If the response html contains "error" it's almost certainly a error and we can check the text below for what kind of error
Same for working credentials then we look if the response contains "loggedin"

[2022-08-14 17:13] AshAman999 commented on #2784
- We could do that for now, what about this?
[code]
The best solution would be to switch to a token/cookie-based authentication system.
Current,ly we are just storing UserId and password here, won't it be better if the server could send us a token and we could use that token to do our API calls, it probably could be done when the authentication process project is done completely

[2022-08-15 06:59] g123k commented on #2761
I'm able to reproduce the issue, but I don't really understand it.
It seems the Flutter side is OK.

However the native part doesn't launch the screen. I will open an issue on the plugin's tracker

[2022-08-15 07:03] monsieurtanuki commented on #2761
Meanwhile, is there a solution to enhance the user experience? So we don't have to wait for the plugin fix?

[2022-08-15 07:07] g123k commented on #2761
You mean to create the dedicated screen to ask for the permission?
Because here, it won't change anything

[2022-08-15 07:15] monsieurtanuki commented on #2761
I meant something like
* OK, if we use this plugin we are _supposed_ to ask for permission this way.
* But it's not an obligation, we can call directly the standard 'ask permission' screen.
* Doing so, we use the standards (less likely to bug), and hopefully the plugin will acknowledge the permission state

But maybe this suggestion is not relevant.

[2022-08-15 07:38] g123k commented on #2761
This is what the plugin should do actually (they use the native Intent).

Calling the screen from our app would require developing the MethodChannel thing.
Not that complicated, but since it's the goal of the permission, we should wait a little before taking any decision.

(From my understanding, it's a race condition in their code)

[2022-08-15 07:47] monsieurtanuki commented on #2761
For the record, there's a new version (`10.0.0`) of https://pub.dev/packages/permission_handler

[2022-08-15 09:25] teolemon opened #2787 "Mangled splashscreen on iPhone 6S (continuation of #2062)"
### What
- mangled splashscreen on iPhone 6S (continuation of #2062)

### Part of
- #1171
### Screenshot
<img src="https://user-images.githubusercontent.com/1689815/170883768-33c93935-c1cf-4452-b2b1-86c9e5a270a2.png" height="400px">

[2022-08-15 09:27] teolemon commented on #2775
Yes, unfortunately, the instructions only work on a product without a selected ingredient image, I believe

[2022-08-15 15:00] monsieurtanuki commented on #2553
@teolemon For the record, from off-dart 1.24.0 we have more flexibility, and we can apply a sort option. I tried with `last_modified_t` and got the same results.

That said, the "completed" state is quite demanding. Take a look at this guy (https://fr.openfoodfacts.org/produit/3350033656604/chair-de-tomates-au-basilic-monoprix-bio):
* en:to-be-completed // not completed
* en:nutrition-facts-comple

[2022-08-15 15:19] teolemon commented on #2553
What we really want possibly is "https://world.openfoodfacts.org/?sort_by=created_t", with products that don't have any score, which are the ones you can most help with.

[2022-08-15 15:20] teolemon commented on #2553
https://world.openfoodfacts.org/state/en:categories-to-be-completed?sort_by=last_modified_t

[2022-08-15 15:35] monsieurtanuki commented on #2553
Ok, so:
1. we replace our search about "to be completed" into "__categories__ to be completed"
1. we do that only for the all-to-be-completed search (not for the user-impacted-to-be-completed search)

[2022-08-15 17:25] teolemon opened #2790 "Bug after latest dart update"
### What
Run flutter analyze --fatal-infos --fatal-warnings .
Analyzing smooth-app...

   info • 'getProductList' is deprecated and shouldn't be used. Use method searchProducts with ProductListQueryConfiguration instead • packages/smooth_app/lib/helpers/data_importer/product_list_import_export.dart:70:63 • deprecated_member_use
   info • 'ProductListQueryConfiguration' is deprecated and shouldn't

[2022-08-15 17:55] teolemon opened #2793 "Crash on "edited products" screen"
### What

A user reports :

"there are a lot of bugs. When trying to see the ""edited products"" I get the following error :
[code]
### To Reproduce

use smoothie and open edited products from your personal account in settings

### Expected behavior

No API error

### Part of
- #server side issues

[2022-08-15 17:58] teolemon commented on #2741
"Kann kein neues Produkt hinzufügen, wenn ich es einscanne."

[2022-08-16 08:05] g123k commented on #2787
That thing is annoying me so much, but let's try to fix it definitively

[2022-08-16 09:31] stephanegigandet commented on #2793
Moving to the app repo. What query is done to get the edited products? It is using the search API? (and not website URLs with .json at the end)

[2022-08-16 10:46] teolemon commented on #2631
- related to #2627

[2022-08-16 11:25] #2753 closed, assigned to g123k

[2022-08-16 11:29] simonbengtsson commented on #2793
I got this as well, but found that it worked after I removed the username and password from the request parameters. It didn't matter if the user/password was correct or not. Knowing that it was an issue with username/password I tried logging out and then it started to work again.

[2022-08-16 11:57] monsieurtanuki commented on #2793
I could not reproduce it:
* it works with my _login_/password - I see products I edited
* it does NOT work with my _email_/password - the result page is empty _but_ no crash

Therefore:
* I wish I could reproduce the bug
* we have a general problem with login vs. email - most of our code works with _login_ but not when users connect with their _email_ - we need somehow to retrieve the login from t

[2022-08-16 12:12] monsieurtanuki opened #2796 "WillPopScope prevents swipe to go back on MaterialPageRoute"
### What
- cf. https://github.com/flutter/flutter/issues/14203
- cf. #2792 @simonbengtsson

### Where
`simple_input_page.dart`:
[code]

`page_manager.dart`:
[code]

`onboarding_flow_navigator.dart`:
[code]

`new_product_page.dart`:
[code]

`nutrition_page_loaded.dart`:
[code]

`question_page.dart`:
[code]

### Additional context
Possible fix ideas:
* it looks like it happens on `MaterialPageRoute`

[2022-08-16 12:22] #2553 closed, assigned to monsieurtanuki

[2022-08-16 12:32] monsieurtanuki commented on #2793
@stephanegigandet The query for the products I edited is a POST:
* uri: https://world.openfoodfacts.org/api/v2/search
* params: {
  * lc: en
  * fields: product_name,brands,code,nutrition_grade_fr,image_small_url,image_front_small_url,image_front_url,image_ingredients_url,image_nutrition_url,image_packaging_url,selected_images,quantity,serving_size,stores,product_quantity,packaging,packaging_tags,

[2022-08-16 13:13] M123-dev commented on #2741
Translated: I can't add new products when I scan them

[2022-08-16 13:21] simonbengtsson commented on #2793
Here is an example request that highlights the issue that I experienced. Note that if the `user_id` and `password` fields are removed the requests succeeds and returns expected json result. Also note that this is a minimal example of the post request that the app made that still has the issue. It was many other fields added to the app but these were not necessary to reproduce the issue.

[code]

I

[2022-08-16 14:36] g123k commented on #2741
Once again, the sentence by itself doesn't help us.
Is he able to scan, and no product is showing? Or can't he scan?

That's the real issue we have… with this issue.

@teolemon Any feedback from the iOS users you emailed?

[2022-08-16 14:40] monsieurtanuki commented on #2741
@g123k I agree, that can lead to different interpretations.
Wouldn't that be an appropriate reason to implement #2662 sooner?

[2022-08-16 15:30] simonbengtsson commented on #2796
The "save edited fields" type screens are hard to fix since you don't really want to be able to accidentally swipe back. There is no way to cancel a back swipes however. At least I have never seen any apps do that so I assume that it would feel weird. A simple solution on iOS could instead be to simply use the fullScreenDialog property on MaterialPageRoute. It changes the animation to come up from

[2022-08-16 15:33] VaiTon commented on #2796
Looks really good to me!

[2022-08-16 15:44] monsieurtanuki commented on #2796
@simonbengtsson Indeed it looks good.

I cannot picture everything though:
* where do we put the additional `fullscreenDialog` parameter?
* with this mode there's no expected back swipe even for ios users, right?
* what would an Android system back button trigger: the closing of the page?
* how do we track the tap on close, to get our "WillPopScope"/edited fields effect?

[2022-08-16 15:50] simonbengtsson commented on #2796
1: We add it to the `MaterialPageRoute` constructor (see code change below)
2: Correct
3/4: With `fullscreenDialog` set to true we can keep the `WillPopScope` so the behavior would be exactly as today on Android (including native back button). As can be seen on video above WillPopScope would also trigger for iOS similar to today. The only thing that would really change is the animation and the nav

[2022-08-16 15:59] monsieurtanuki commented on #2793
@simonbengtsson What you're displaying is interesting, but perhaps a bit off topic: the OP was more specifically about the "edited products" search.

That said, that may mean that some users are either deprecated or wrong.

The following query will land on the "Incorrect user name or password." off page: https://world.openfoodfacts.org/cgi/search.pl?json=1&search_terms=&fields=code&user_id=simongb

[2022-08-16 16:04] monsieurtanuki commented on #2796
@simonbengtsson Wonderful!

Quickly said that would solve the following cases:
* simple_input_page.dart
* nutrition_page_loaded.dart
* question_page.dart

I think we could ignore the back swipe effect on:
* page_manager.dart
* onboarding_flow_navigator.dart

And you solved (pending):
* new_product_page.dart

Am I right?

[2022-08-16 17:22] #2773 closed, assigned to monsieurtanuki

[2022-08-16 17:27] teolemon commented on #2741
I lost the draft email we made during the call. I just did this https://calendly.com/openfoodfacts/debugging-the-scan-on-open-food-facts-together @g123k

[2022-08-16 18:33] teolemon commented on #920
We run Google AdGrants campaigns (free Adwords for NGOs), and the console says deeplinking will improve conversion rates:
<img width="464" alt="image" src="https://user-images.githubusercontent.com/1689815/184953176-e0b73df8-ea5a-41f2-a446-bd84464e32c5.png">

[2022-08-16 18:39] g123k commented on #920
I would like this PR to be merged first: https://github.com/flutter/packages/pull/2416
It will ease the migration.

Can we wait for it? Or should I start with a fork containing it?

[2022-08-16 18:56] monsieurtanuki commented on #920
Before any code is started, I would like to understand the goal, the strategy, and the impact of waiting/not waiting for https://github.com/flutter/packages/pull/2416 to be merged. I'm old-fashioned, sorry about that ;)

As far as I understand, the goal is to allow deep-linking, and the most relevant way to do that is "named routes" or "router 2.0". Btw are both solution equivalent? Is that just t

[2022-08-16 19:06] g123k commented on #920
So let me explain: to achieve the goal of having deep-links, the best solution is to migrate to Navigator 2.0.
As we all know, Navigator 2.0 requires hundreds of lines of code and the use of external libraries is encouraged by Google itself. The most popular solution is from an ex-Google employee: go_router.

I had started a few weeks ago an implementation (never pushed, my fault), but I was soon

[2022-08-16 19:09] simonbengtsson commented on #2796
Sounds good to me!

[2022-08-16 21:25] monsieurtanuki commented on #920
@g123k Thank you for your answer!

That's why I wanted to discuss the matter before any code writing: it looks like what causes problems is:
* either the choice of Navigator 2.0
* or the fact that, if we choose Navigator 2.0, we cannot `pop`/return a value (before the merge you indicated anyway)

My comments (a bit late in the evening to my standards) are:
* perhaps there is one less problematic s

[2022-08-17 08:00] monsieurtanuki commented on #920
Working on step one: transforming all `await Navigator.push<MyObject?>(` calls into `await Navigator.push<void>(` when the pop/return value is not used.

Current status:
[code]

[2022-08-17 14:56] g123k commented on #2741
Just a quick update: this morning we were finally able to see the problem in a real device with @teolemon. The camera is working well, but the scan doesn’t seem to work.

I will receive the faulty device ~~tomorrow~~ Friday (a OnePlus Nord CE 2) and hope this time, we will fix the issue.

[2022-08-17 15:50] g123k commented on #2762
Forget what I've said, that screen requires the permission. It's weird, it shouldn't.
I will investigate a little bit to understand.

[2022-08-17 16:16] g123k commented on #2541
"This is normal". If the file is empty (0 byte), Gmail will complain with this error.
I will change a little bit the logger to create at least one log when the app is launched to prevent this

[2022-08-17 16:58] monsieurtanuki commented on #2741
Good luck @g123k!

[2022-08-17 20:55] #2541 closed, assigned to g123k

[2022-08-18 07:33] teolemon commented on #1538
@alexgarel showed me the issue again yesterday. I grumbled, saying we should probably go back to the older cropper, which was a 90-180-270 rotation tool, until we can figure out how to make that work properly.
Also note that non-destructive crop remains on my mind ( #2484 ), especially since we have the openfoodfacts-dart tooling to do it.

[2022-08-18 08:30] stephanegigandet commented on #2793
@monsieurtanuki we don't have an API for that right now, but you could retrieve the user_id from the session cookie that is set when you login:

session=user_session&[session id]&user_id&stephane; domain=.openfoodfacts.org; path=/; expires=Sun, 15-Aug-2032 08:28:56 GMT

[2022-08-18 08:39] stephanegigandet commented on #2793
Note that search queries do not need user credentials.

If user credentials are supplied, then they will be verified, and if they are incorrect, then the server will return a HTML page.

What I could do is to change the status code to 403 for API requests that have an incorrect login / password. In that case, the dart package would know that the userid/password are incorrect, and it would not try

[2022-08-18 08:43] stephanegigandet commented on #2793
@simonbengtsson That's strange, the error you get is from an invalid password, but I don't see anything wrong with the simongbe account.

[2022-08-18 08:59] simonbengtsson commented on #2793
Despite triple checking the password when I created the simplified example above I still managed to include the wrong password... The repro steps in the simple example above is therefore invalid. I did get the error in the app after signing in for the first time in an iOS simulator. I cannot reproduce it now however. I will try some more and report back if I can reproduce it again.

[2022-08-18 11:07] teolemon opened #2802 "Infinite loading on photo addition in product addition"
### What
- Infinite loading on photo addition in product addition

### Steps to reproduce the behavior
1. Try to add photos on a new product.
2. Watch the spinner forever

### Solution
- We might take the advantage to merge https://github.com/openfoodfacts/smooth-app/pull/2433

[2022-08-18 14:46] monsieurtanuki commented on #2790
Fixed by #2795

[2022-08-18 14:46] #2790 closed, assigned to nobody

[2022-08-18 15:16] monsieurtanuki commented on #1538
@teolemon The older cropper you're referring to was in the V1, or already in Smoothie?

There are currently 4 image croppers in pub.dev beyond 90%:
* [image_crop](https://pub.dev/packages/image_crop) (saw the demo: I don't trust them)
* [crop_image](https://pub.dev/packages/crop_image) (looks more like what I had in mind - not sure if they support 90 rotations)
* [crop_your_image](https://pub.dev/

[2022-08-18 15:33] monsieurtanuki commented on #2793
@stephanegigandet I'm a bit puzzled: I don't think we actually manage _sessions_ or _cookies_ with our API calls, this is not the website. That said, I'm not an expert on cookies. Not my favorite food either, btw, but that's another story.

[2022-08-18 15:43] teolemon opened #2804 "Investigate ad-hoc distribution for PRs"
### What
- Investigate ad-hoc distribution for PRs
https://github.com/getappbox/AppBox-iOSAppsWirelessInstallation

### Part of
- #developer XP

[2022-08-18 15:43] monsieurtanuki commented on #2793
@simonbengtsson Actually we do not send the password for each search query, only the user (if available).

[2022-08-18 17:23] #2784 closed, assigned to AshAman999

[2022-08-18 17:24] #1623 closed, assigned to PrimaelQuemerais

[2022-08-18 17:27] #2622 closed, assigned to g123k

[2022-08-18 17:28] g123k opened #2805 "List all dialogs where we want vertical buttons"
### What
Hi everyone,

Now that #2626 is merged, we have to list all the dialogs where we want vertical layout for the buttons.
So please comment this issue will the list, allowing to start the development.

### List

- [x] Contributors
- [x] Add to list
- [x] Login required (to edit)
- [x] Edit product (Ignore my changes / Save my changes)
- [x] Permission request

### Part of
- #1171

[2022-08-18 17:33] g123k opened #2806 "Move to the native photo camera's screen in product edition"
In the app, the camera is used in two places:
- The main screen/scan page
- Product edition

For the first one, it's totally meaningful to have a custom implementation (once all the bugs are fixed, obviously 😅).
It also means we have to handle the permission process.

For the second one (product edition), we use the native photo camera. But the current implementation is totally weird, because it r

[2022-08-18 17:38] g123k commented on #1538
After discussing with @AshAman999 and @teolemon at the community point today, here are the minimum requirements for replacing the current cropper:
- Have a Flutter implementation, allowing us to easily tweak it
- Don't crop the (file) image, but only provide the coordinates/area

That way, we can ask the server to do the resizing stuff for us.

[2022-08-18 17:45] g123k opened #2807 "Simplify the way to access a product picture"
Hi everyone,

As discussed during the community point, we want to improve the workflow to take a product picture.
Right now, even before taking the photo itself, we have a useless step:

![Workflow](https://user-images.githubusercontent.com/246838/185460045-6cc4111d-12ca-48db-adc0-e5729235e3d6.png)

Step1: Click on the photo or button
Step2: Have access to the photo
Step3: Being able to edit it

S

[2022-08-18 17:46] g123k commented on #2762
Following #2806, this issue won't be implemented.
So I'm closing the ticket.

[2022-08-18 17:46] #2762 closed, assigned to g123k

[2022-08-18 18:14] monsieurtanuki commented on #1538
Looks like it's going to be [crop_image](https://pub.dev/packages/crop_image) then.
I'll test that tomorrow.

[2022-08-19 12:07] stephanegigandet commented on #2793
@monsieurtanuki session cookies are returned by API calls too. When an API query (any type: login, search, product edit etc.) has an userid + password, the server will check those, and the response will include a session cookie that contains the username.

[2022-08-19 12:36] monsieurtanuki commented on #1538
That will be as simple as this; is that ok?
| x | +0° | +180° |
| -- | -- | -- |
| +0° | ![Capture d’écran 2022-08-19 à 14 32 54](https://user-images.githubusercontent.com/11576431/185619120-45adef44-7333-4b91-9ad4-c2fc1e0ec678.png) | ![Capture d’écran 2022-08-19 à 14 33 41](https://user-images.githubusercontent.com/11576431/185619177-36899221-88c3-4af6-9079-0a8118385c98.png) |
| +90° | ![Capt

[2022-08-19 12:51] teolemon commented on #2805
Added the first 4 ones

[2022-08-19 13:02] teolemon commented on #2807
- related to https://github.com/openfoodfacts/smooth-app/issues/2370

[2022-08-19 15:06] M123-dev commented on #920
Just FYK the mentioned PR is closed (not merged)

[2022-08-19 15:11] monsieurtanuki commented on #920
https://github.com/flutter/flutter/issues/99112. Closing for now

Thank you @M123-dev!
Looks like we need to clean our code first and figure out how to distinguish "edit dialogs with returned values" from "real pages".
First step is reviewing #2799 ;)

[2022-08-19 15:40] monsieurtanuki commented on #2793
@stephanegigandet Please provide a `curl` example, or someone else join on this issue, because `cookie`s, `session`s and `curl`s are not my cup of tea.

[2022-08-19 15:42] #2796 closed, assigned to simonbengtsson

[2022-08-20 12:06] #2802 closed, assigned to AshAman999

[2022-08-20 12:21] M123-dev commented on #2804
I have very limited expierence with iOS so correct me if I'm wrong, if we upload the IPA files to dropbox we can with this tool directly install them without checking from Apple or what is this all about

[2022-08-20 12:30] teolemon commented on #2804
It would seem so, it's something pointed by @g123k the other day, but neither one of us has had the time to investigate yet.
Basically, it would mean saving the signed IPA as a GitHub artefact, since it's a desktop tool

[2022-08-20 12:36] M123-dev commented on #2804
That shouldn't be a problem, that was something I have on my agenda (currently just for apks) but didn't want to implement in into the already large #2777, if ad-hoc is working as expected I'm happy to add this

[2022-08-20 13:11] #2373 closed, assigned to M123-dev

[2022-08-20 13:11] #1580 closed, assigned to teolemon

[2022-08-20 13:11] #2415 closed, assigned to nobody

[2022-08-20 16:14] monsieurtanuki commented on #920
Now I need your opinion guys.

We still have 8 cases where "pages" are pushed and a returned value is expected:
[code]

We need to code those 8 cases differently - as they are now we won't be able to switch to named routes (where no value is returned).
And if you have a look at those 8 cases, it's about a place where the user inputs data (e.g. editing a product or logging in). Which has nothing to

[2022-08-20 17:01] M123-dev commented on #920
AFAIK named routes and Router 2.0 implementations like go_router are completely different and for deeplinking we likely need router 2.0 so we can skip named routes. I just checked and it looks like we can (with what seems like replacing routes) indeed somewhat pop a value

https://stackoverflow.com/questions/71359432/flutter-go-router-how-to-return-result-to-previous-page

---------

https://gorou

[2022-08-20 17:29] monsieurtanuki commented on #920
@M123-dev If you ask me, from what I read I prefer the dynamic named routes solution: it's easier to implement, and it allows deep-linking all the same.
That said, I barged into this issue 4 days ago because I assumed that there was something I could be helpful with, considering that pages returning values were a problem (cf. @g123k and https://github.com/flutter/packages/pull/2416)
If actually th

[2022-08-21 12:18] M123-dev commented on #1882
Heyy @g123k the new modular pipline is up and running so if we create a different flavour / store listing it's just a matter of passing different values to the workflow to create a differnt app.

[2022-08-21 12:19] M123-dev commented on #1888
We should check how much space the packages need not just plain code but after building

[2022-08-21 12:34] M123-dev commented on #1888
https://docs.flutter.dev/perf/app-size

[2022-08-21 15:48] #2767 closed, assigned to g123k

[2022-08-21 18:07] teolemon commented on #2517
### What
#### Minimal integration
- [x] Include it in the Contribute version for everyone
- [ ] We could include it in the next to "Products to be completed" when you are logged in.
#### Contextual integration
- [ ] We could include a link in the search results when you compare to category: https://hunger.openfoodfacts.org/questions?type=category&value_tag=en%3Abeers
- [ ] we could do like in V1:

[2022-08-22 13:06] monsieurtanuki commented on #2741
Camera crash log (smoothie downloaded today from play store on Android 21). The onboarding is fine, but the app crashes when I land on the camera/scan page:
[code]

[2022-08-22 13:28] g123k commented on #2741
Which device was it?

[2022-08-22 13:32] monsieurtanuki commented on #2741
It's my canary device: 2015 Samsung Galaxy Core Prime.
I'm currently running tests on it; I'll keep you posted.

[2022-08-22 13:33] g123k commented on #2741
Ok. Please keep me posted.
Could you test if in debug mode you also have the issue?

[2022-08-22 13:38] monsieurtanuki commented on #2741
That's what I'm doing, after the crash on the release version.
Could be related to memory: on the release version I saw the camera working once, then freeze, then crash. And later, always crash.
On the debug mode more memory is asked, and I've never seen the camera work at least once.
When I say memory, it probably means the scan.
My current test for the next 20 minutes: make the camera work, with

[2022-08-22 14:02] monsieurtanuki commented on #2741
I have to go now.
Not enough data so far to say something relevant.

[2022-08-22 15:37] g123k commented on #2741
Good news: I've finally received the OnePlus phone and I can reproduce the issue.
Bad news: MLKit doesn't scan anything

Testing the example from the Flutter library (google_mlkit_barcode_scanning) doesn't scan.

… But after trying the [Google sample app](https://github.com/googlesamples/mlkit), I'm able to detect barcodes with MLKit.
So it seems the error is on the library we use. I will now try

[2022-08-22 15:56] M123-dev commented on #2741
Maybe we have different ml kit version either a older maybe buggy one or the native app uses the not bundled release

[2022-08-22 15:59] g123k commented on #2741
Unfortunately, that's the same library version on both apps.
'com.google.mlkit:barcode-scanning:17.0.2'

So two options:
- There's a difference on how the library is called
- The input/camera feed is different

[2022-08-22 16:42] M123-dev commented on #2252
Fixed by now

[2022-08-22 16:42] #2252 closed, assigned to M123-dev

[2022-08-22 19:13] M123-dev opened #2829 "Building failing with new splash screen"
https://github.com/openfoodfacts/smooth-app/runs/7956898358?check_suite_focus=true
[code]

@g123k

[2022-08-22 19:14] g123k commented on #2829
I'm checking this

[2022-08-22 20:16] AshAman999 opened #2830 "Platform Specific Loading Indicators"
### Problem
On ios the app feels not like native ios app, some attributes go to the loading indicator as well

### Proposed solution
Do a platform check or adaptive indicator so as to make it feel like a more native feel or so-called ios touch to it

### Screenshot

![image](https://user-images.githubusercontent.com/57723319/186010741-89a4a5e9-43c5-4387-89fe-8c251525c6e4.png)

[2022-08-22 21:33] teolemon commented on #920
https://android-developers.googleblog.com/2022/08/monitor-your-deep-links-in-one-place.html?m=1&s=09

[2022-08-23 08:35] #2829 closed, assigned to g123k

[2022-08-23 08:40] teolemon opened #2833 "The app should refresh sub-knowledge panels after category addition"
### What
- The app should refresh sub-knowledge panels after category addition

### Steps to reproduce the behavior
1. Go to a product without a category (and thus no Nutri-Score nor Eco-Scores)
2. Click on the grey Eco-Score or Nutri-Score to help
3. Click on the Add category button, add category and save
4. Go back to the sub-knowledge panel. It is not reloaded and the score does not appear
5. G

[2022-08-23 09:19] #2830 closed, assigned to nobody

[2022-08-23 09:43] teolemon commented on #2805
Screenshot by Gala on her phone:
<img src="https://user-images.githubusercontent.com/1689815/186126920-556fddd0-4a55-4208-9cf3-f708913668c1.png" height="400px">

[2022-08-23 10:08] g123k commented on #2741
I didn't have time this morning to take a better look at the problem. But I think our current implementation is broken, by having 2 native plugins, as it forces us to continuously send messages between the Dart code and the native one.

If I sum, here is the current flow:
![Diag1](https://user-images.githubusercontent.com/246838/186131198-1162a890-3aff-4c1c-b8dd-a5fca20ce03b.png)

I was wondering,

[2022-08-23 11:44] g123k commented on #2805
@teolemon Contributors is already vertical. Am I wrong?
+ The same goes for sign-in

[2022-08-23 13:51] teolemon commented on #2805
So it seems

[2022-08-24 09:30] teolemon opened #2834 "Automate the re-sign for Smoothie iOS app"
Automate the re-sign for Smoothie iOS app
- [ ] Smoothie's certificate will expire on 2022/09/22

[2022-08-24 14:09] g123k opened #2836 "Scan issues? Please try this APK"
Hi everyone,

Following the issue with #2741, I have compiled the sample app from Google for MLKit.
It seems like the current Flutter plugin we use doesn't behave as well as this demo app.

https://drive.google.com/file/d/1Pjuxo5_qQNWjC5cCCQqcYe6pWsra8xcz/view?usp=sharing
(Select Kotlin -> Live Preview)

In this case where you decoding issues, please try it and let me know if it's better or not.

[2022-08-24 17:38] monsieurtanuki commented on #2836
I tried java, live preview activity and barcode scanning, and it did work (FPS about 4).
[edit: added] Same results with kotlin, live preview activity and barcode scanning: it works and FPS about 4.

[2022-08-24 19:56] M123-dev commented on #2741
@g123k this plan makes complete sense, doing it like that would also save use the hassle with the isolate as native code by default runs on another thread. The only thing which only you can give answer to is if it justifies the time needed to get this to work.

[2022-08-24 20:31] monsieurtanuki commented on #2741
@g123k The main question is: are you fortunate enough to have a device on which the camera/scan currently crashes?
This is such an important feature - on my smartphone it's even beyond important as the app crashes on home page.
I'm not at all against a heavy refactoring if things work better (and I would strongly prefer the refactoring to be coded in flutter). If we're talking more specifically ab

[2022-08-25 16:06] teolemon commented on #2731
fixed

[2022-08-25 16:06] #2731 closed, assigned to nobody

[2022-08-25 16:43] teolemon commented on #2139
- Moving the discussion to #2806 #2807 and #2484 and #1538 for the cropping issues
- #2433 for the asynchronous image upload

[2022-08-25 16:47] #2139 closed, assigned to nobody

[2022-08-25 16:47] monsieurtanuki commented on #1538
ping

[2022-08-25 16:48] #2157 closed, assigned to nobody

[2022-08-25 16:48] teolemon commented on #2381
Recent developments in the Flutter team mean that it's probably moving in the right direction. To be continued

[2022-08-25 16:54] teolemon commented on #920
FYI: https://github.com/flutter/packages/pull/2416, they want to change stuff before they merge, so it's going to take a little more time

[2022-08-25 16:57] teolemon commented on #1313
- Let's continue discussing in #920, too many duplicate issues ;-)

[2022-08-25 16:57] #1313 closed, assigned to g123k

[2022-08-25 16:58] teolemon commented on #2742
- Let's continue on #2761

[2022-08-25 16:58] #2742 closed, assigned to nobody

[2022-08-25 16:59] teolemon commented on #2012
Fixed.

[2022-08-25 16:59] #2012 closed, assigned to g123k

[2022-08-25 17:04] teolemon commented on #2595
@monsieurtanuki would you take this one ?

[2022-08-25 17:06] teolemon commented on #2678
closing @M123-dev

[2022-08-25 17:06] #2678 closed, assigned to nobody

[2022-08-25 17:06] monsieurtanuki commented on #2595
@teolemon I thought I just did: duplicate with #2833, right?

[2022-08-25 17:06] teolemon commented on #2732
Fixed by @g123k

[2022-08-25 17:06] #2732 closed, assigned to nobody

[2022-08-25 19:23] teolemon opened #2841 "Nutrition edit and Basic details are requesting login from new product addition"
### What
- Nutrition edit and Basic details are requesting login from new product addition
- They shouldn't. People can add all the data they want from new product addition. We should check whether they are invoked from new product addition

[2022-08-25 19:41] teolemon commented on #2595
Nice catch

[2022-08-25 19:41] #2595 closed, assigned to nobody

[2022-08-25 19:51] M123-dev commented on #1538
Looks good to me, it's no gorgeous UI (as before), it has no extraordinary features (like before), it stays the same with simpler UX so I like it

[2022-08-25 20:05] teolemon commented on #2841
![image](https://user-images.githubusercontent.com/1689815/186758363-a386e9c9-8ca8-40c7-8b19-ffa557d1832c.png)
![image](https://user-images.githubusercontent.com/1689815/186758401-f919a2f6-973e-4a32-8b1a-413a31feabe3.png)

[2022-08-25 20:06] teolemon opened #2843 "(GH) Only the last miniature is displayed in product addition"
### What
- Only the last miniature is displayed in product addition
![image](https://user-images.githubusercontent.com/1689815/186758485-92a759fe-64a7-44ce-8210-1f6255d4b6ef.png)

[2022-08-26 06:26] monsieurtanuki commented on #2841
The method that checks if the user is logged in is `ProductRefresher.checkIfLoggedIn`.
It's called in many occasions:

[2022-08-26 06:52] monsieurtanuki commented on #2841
The method that checks is the user is logged in is `ProductRefresher.checkIfLoggedIn`.

It's called in several occasions:
1. `AddCategoryButton`
2. `AddIngredientsButton`
3. `AddNutritionButton`
4. the very central method `saveAndRefresh` (that has a `bool isLoggedInMandatory` parameter, which is always `true`)
5. `EditProductPage`, before opening each item (like "Nutrition facts" or "Packaging")

[2022-08-26 12:06] teolemon commented on #2841
rather than adding more checks, I would like to have a freepass on product addition. We can obviously add more checks, but they should include a provision to let anonymous users add new products

[2022-08-26 12:12] monsieurtanuki commented on #2841
If I sum up, set `isLoggedInMandatory: false` during the product addition only.

[2022-08-26 12:17] teolemon commented on #2841
yes

[2022-08-26 13:25] teolemon opened #2845 "Nokia 1 - text clipped in the new app onboarding screen"
### What
Nokia 1 - text clipped in the new app onboarding screen

### Screenshot
![nokia-1-text-clipped-new-app-onboarding](https://user-images.githubusercontent.com/1689815/186913786-20f243af-2f8c-49a3-b2c0-f03e3e8c2940.png)

### Part of
- #561

[2022-08-26 13:59] monsieurtanuki commented on #2845
Strange: does that mean that there's a problem with `Flexible`? Or with the "Next" button as `Positioned`? Or with the `AutoSizeText` with `\n` in the `String`?
Looks like `AutoSizeText` is not bullet proof with bold texts: https://github.com/leisim/auto_size_text/issues/104 https://github.com/leisim/auto_size_text/issues/119

[2022-08-26 14:28] teolemon opened #2846 "Layout issue in edit mode for Save and Cancel buttons"
### What
- Layout issue in edit mode for Save and Cancel buttons

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/186926941-703f72b5-459b-46ec-9906-7cc602f39db2.png)

[2022-08-26 14:45] #2841 closed, assigned to monsieurtanuki

[2022-08-26 17:43] monsieurtanuki commented on #1538
Still working on it, but close to the end.
Probably pushed by Sunday evening.
Unfortunately the initial package ([crop_image](https://pub.dev/packages/crop_image)) did not provide the rotation: I had to code it and will push my code here and suggest it to [crop_image](https://pub.dev/packages/crop_image).

[2022-08-26 18:46] pratyaksh1610 commented on #2846
**UPDATE - Found the issue.**

@teolemon
I am unable to reproduce the issue.
It appears to be fine on the emulator.

![@11](https://user-images.githubusercontent.com/76740999/186970835-e77d4ecd-57d7-433d-8d0b-9421196708bb.png)

[2022-08-27 07:58] M123-dev commented on #2846
Maybe this just happenes on smaller devices

[2022-08-27 12:38] teolemon opened #2849 "The app does not work on Monsieur Tanuki's test phone"
"Then the camera froze, then switched to "always black" mode.
I tried to restart the app, but now it crashes systematically (I just have the splash screen).
But that's another story."

_Originally posted by @monsieurtanuki in https://github.com/openfoodfacts/smooth-app/issues/2810#issuecomment-1222176891_

[2022-08-27 12:55] teolemon commented on #2849
@monsieurtanuki what's the model and os version of your test device ?

[2022-08-27 12:55] teolemon commented on #2849
Also, does the APK in #2836 work for you ?

[2022-08-27 13:00] monsieurtanuki commented on #2849
[Samsung Galaxy Core Prime](https://www.samsung.com/fr/smartphones/others/galaxy-core-prime-g361f-sm-g361fhaaxef/) with Android 5.0.2.
The APK in #2836 did work for me.

[2022-08-27 13:03] teolemon commented on #2199
I'm not completely sure it's a good idea, given the confusion around black screens.

[2022-08-27 13:04] teolemon commented on #2849
How does the latest PlayStore version work ? Released yesterday

[2022-08-27 13:11] monsieurtanuki commented on #2849
I've just downloaded the app, but it looks like it's 3.5.2+706.
The camera doesn't work but doesn't crash.
The splash screen is still ugly.

[2022-08-27 13:50] M123-dev commented on #2255
No it happend again

[2022-08-28 02:38] AshAman999 opened #2851 "Better experience in offline browsing"
### Problem
When I'm not connected to the internet and I browse the app, I get an experience something like this
![image](https://user-images.githubusercontent.com/57723319/187055127-c4fba85a-a366-4deb-8366-44f58e81a24c.png)

### Proposed solution
A placeholder there would be better, something similar to what we have on carousal screen

### Mockups
Something like this might work out here  ?

![ima

[2022-08-28 06:36] monsieurtanuki commented on #2255
Looks similar to https://github.com/flutter/flutter/issues/81684
My hunch: perhaps it's because we "open" the history page without showing it (as it's not the main tab).

[2022-08-28 12:55] teolemon opened #2852 "Log whenever people encounter an unknown product using Matomo"
### What
- Log whenever people encounter an unknown product using Matomo
### Why
- Comments like these: `Disaster, out of five products, two recognized and lack of information. The competition does better. The old version worked better.`
- I suspect it's a scan issue, but not 100% sure. It would allow to rule out lack of products
- It would also allow to get a ratio of people who actually decide t

[2022-08-28 12:57] monsieurtanuki commented on #2852
@teolemon Regarding "unknown products", it may come from the country and language filters.

[2022-08-28 13:18] teolemon commented on #2851
- Did you set India as your country for the 1st screenshot ?
- How about the jar placeholder all the time ?
  - I understand that the offline cloud allows to differentiate between: we know there's no picture (even if we're offline) / we're just offline.
  - Nevertheless, the cloud breaks consistency. We could have for instance the jar plus a small offline cloud badge, or just don't differentiate (

[2022-08-28 13:23] teolemon commented on #2852
I mean in the scan screen. Encounter the Unknown product card, in the context of the scan screen.

[2022-08-28 13:25] AshAman999 commented on #2851
YES

Totally agree, Jar icon would look more consistent  👍

[2022-08-28 13:53] monsieurtanuki commented on #2852
I guess we filter country and language in the scan screen too. Shouldn't we?
Or the point here is just to send a message to Sentry when we _scan_ an unknown product, and that's it.

[2022-08-28 14:27] teolemon commented on #2852
just to send a message to Sentry when we scan an unknown product

[2022-08-28 15:53] AshAman999 commented on #2843
@teolemon
Since we delete the cropped image from the cache when it's done uploading, the flutter engine doesn't find any file at that location to render that image, and also the cache file needs to be deleted explicitly when done uploading ,

Possible solutions:
- Don't show the miniature pictures at all, rather use a green tick ✅ to show that it's done.

[2022-08-28 16:00] monsieurtanuki commented on #2849
I've just downloaded the app: 3.8.1+722.

The camera doesn't work (or just the first second then goes black) but doesn't crash.
The splash screen is fixed.
Honestly, I find the app easy to use, and rather smooth.

But the home screen is a bit cropped:
![Screenshot_2022-08-28-17-39-17](https://user-images.githubusercontent.com/11576431/187082529-7553acc7-45e2-4d6f-8d14-5dc39b6caa34.png)

But the ca

[2022-08-28 16:03] teolemon opened #2855 "Matomo (Tracker)"
Additional things to track using Matomo
### What

### Tasks
- [ ] https://github.com/openfoodfacts/smooth-app/issues/3775
- [x] Add Matomo event for Completed sign-up - ensure the signup form is working well
- [x] Add Matomo event for "Share product"
- [ ] Add Matomo event for "Share Open Food Facts with friends" (settings)
- [ ] Instrument all sections of settings
- [ ] App settings - Extended Nu

[2022-08-28 16:08] teolemon opened #2856 "Scans are not sent to Matomo anymore"
### What
- it seems that scans are not sent to Matomo anymore
### Part of
- #2855

[2022-08-28 16:09] teolemon commented on #2852
Oh shit, I meant Matomo :-(

[2022-08-28 17:47] monsieurtanuki commented on #2852
https://www.youtube.com/watch?v=dPOyOM7wxlE&t=140s

[2022-08-28 17:56] monsieurtanuki commented on #1538
For the record I've just remarked that the crop tool is significantly different in Android and iOS - which makes sense as we're talking about different native packages.
I cannot reproduce the issue neither in Android nor in iOS, though I must say the interface is confusing on both systems (both different and both confusing).
From my personal experience with flutter and image manipulations, we shou

[2022-08-29 08:58] monsieurtanuki commented on #2849
Tried again the app this morning: systematic crash just after the splash screen.

[2022-08-29 13:07] #2851 closed, assigned to AshAman999

[2022-08-29 13:55] #2852 closed, assigned to monsieurtanuki

[2022-08-29 13:59] monsieurtanuki commented on #2855
@g123k @M123-dev Not sure which one of you guys coded around Matomo - probably both of you.
The thing is that so far each time we wanted an extra Matomo call we coded a new method (like what I did in #2854) - we should probably work differently given the number of events we're supposed to track in the current issue, shouldn't we?

[2022-08-29 17:52] AshAman999 commented on #2846
Edit:  Well, this issues is present in even more screens ,
- In categories screen
- `lib\pages\product\simple_input_page.dart`
![image](https://user-images.githubusercontent.com/57723319/187267909-caa836d6-792e-4dbc-8fb0-411e8e1af504.png)

- Found a one line fix in page `lib\pages\product\nutrition_page_loaded.dart` line 143
![image](https://user-images.githubusercontent.com/57723319/187266182-707

[2022-08-29 17:56] abughalib commented on #2846
Should create a PR for this?

[2022-08-29 18:03] AshAman999 commented on #2846
Sure, go ahead, just double check if this issue is present on more screens?

[2022-08-29 20:06] M123-dev opened #2859 "Logs back in Sentry"
![grafik](https://user-images.githubusercontent.com/39344769/187288652-8c63c1f5-c15f-4f0c-bea1-e8773bed395c.png)

@g123k any idea

[2022-08-29 20:09] M123-dev opened #2860 "More credits in thank you section (README)"
### What
@teolemon what about also mentioning Google.org and the org behind cli1005 not just Mozilla

[2022-08-29 23:04] g123k commented on #2859
Correct me if I'm wrong, but all of those seem to be on older versions, isn't-it? (3.5.1, whereas the latest one is 3.8.x)

[2022-08-30 06:59] g123k commented on #2849
Could you provide the crash in question, please?
`adb logcat` to get it.

[2022-08-30 07:02] g123k commented on #2748
An open discussion on `flutter_secure_storage`:
- On Android, when the app is uninstalled, all data stored with this plugin is removed
- On iOS, the content is persisted https://medium.com/@isuru.nan/beware-of-fluttersecurestorage-on-ios-542e4c9d6a3

Shouldn't we use another plugin?

[2022-08-30 07:14] g123k opened #2862 "Pubspec's version not in sync with the real version"
Hi everyone,

We use GitHub Actions to change to build number.
However, the version in the `pubspec.yaml` file is incorrect:

`version: 0.0.0+600`

Is-it somehow possible to use GA to update this line also?

[2022-08-30 07:21] g123k opened #2863 "Onboarding: misplaced overlay"
Hi everyone,

The onboarding has a problem on small devices, including the iPod Touch.
All overlays are misplaced. What's the right way to fix it? Hide the overlays completely?

![IMG_0022 2](https://user-images.githubusercontent.com/246838/187374784-a69350c9-48a3-4b92-be92-8f5cb768cb3c.PNG)

[2022-08-30 09:21] teolemon commented on #2805
- @monsieurtanuki fixes one in #2861

[2022-08-30 11:18] monsieurtanuki commented on #1538
Actually #2858 was just a first step.

[2022-08-30 13:07] M123-dev commented on #2859
Yes you are right

[2022-08-30 13:07] #2859 closed, assigned to nobody

[2022-08-30 13:10] sentry[bot] opened #2866 "CameraException: CameraException(setFlashModeFailed, Could not set flash mode.)"
Sentry Issue: [SMOOTHIE-155](https://sentry.io/organizations/openfoodfacts/issues/3408767525/?referrer=github_integration)

[code]

[2022-08-30 13:11] sentry[bot] opened #2867 "CameraException: CameraException(setExposurePointFailed, Could not set exposure point.)"
Sentry Issue: [SMOOTHIE-15F](https://sentry.io/organizations/openfoodfacts/issues/3410672005/?referrer=github_integration)

[code]

[2022-08-30 13:11] sentry[bot] opened #2868 "CameraException: CameraException(setFlashModeFailed, Device does not have flash capabilities)"
Sentry Issue: [SMOOTHIE-15T](https://sentry.io/organizations/openfoodfacts/issues/3412531078/?referrer=github_integration)

[code]

[2022-08-30 13:11] sentry[bot] opened #2869 "CameraException: CameraException(error, Attempt to invoke virtual method 'void android.hardware.camera2.CaptureReq..."
Sentry Issue: [SMOOTHIE-15H](https://sentry.io/organizations/openfoodfacts/issues/3410806801/?referrer=github_integration)

[code]

[2022-08-30 13:14] M123-dev commented on #2748
If you have a good alternative

[2022-08-30 13:22] monsieurtanuki commented on #2849
@g123k I will next time it crashes (fun fact: it does not always crash) (it just never works).

[2022-08-30 14:45] g123k commented on #2199
Ok, let's close the issue for now.
But the idea to pause the feed is to show a paused screenshot, not a black screen.

[2022-08-30 14:45] #2199 closed, assigned to g123k

[2022-08-30 20:51] M123-dev opened #2882 "CI Failing analyzer"
### What
[code]

[2022-08-31 06:37] g123k commented on #2866
This is an issue on an older version.
Closing the issue.

[2022-08-31 06:37] g123k commented on #2867
This is an issue on an older version.
Closing the issue.

[2022-08-31 06:37] #2867 closed, assigned to nobody

[2022-08-31 06:37] g123k commented on #2868
This is an issue on an older version.
Closing the issue.

[2022-08-31 06:37] #2868 closed, assigned to nobody

[2022-08-31 06:38] g123k commented on #2869
This is an issue on an older version.
Closing the issue.

[2022-08-31 06:38] #2869 closed, assigned to nobody

[2022-08-31 09:33] monsieurtanuki commented on #2863
You mean only the "tooltip", right?

Not a big fan of that tooltip anyway: if you click on "Next" the first time it does not work as it closes the tooltip instead.
A dialog instead of the tooltip? That would solve the issue.

[2022-08-31 09:39] monsieurtanuki commented on #2845
Could not reproduce it (I don't have a Nokia 1).

[2022-08-31 10:05] monsieurtanuki commented on #2849
Fun fact: I can take picture with my smartphone (so far so good), but then, if I use Smoothie (where the camera does not work), I cannot take picture anymore with my smartphone (same "Echec appareil photo" screen).
😞

[2022-08-31 11:14] monsieurtanuki commented on #2807
The step is not useless: we need it to select the photo we want to change (front, ...).

That said, we could merge step 2 and 3: being able to select the image type and to edit it.
Something like that:

[code]

Or change step 2 and make it "more fun", like the title and then the picture, for all types, with a vertical scroll, and click on an item opens step 3 (I know, my notion of "more fun" is so

[2022-08-31 11:16] monsieurtanuki commented on #2787
Solved by @simonbengtsson's #2810.

[2022-08-31 11:16] #2787 closed, assigned to nobody

[2022-08-31 12:22] monsieurtanuki commented on #2849
@g123k This is the logcat filtered on Errors, starting with a `flutter run`:
* onboarding
* home page - the camera works for 2 seconds, then black camera screen
* I find a product and try to add a photo with the camera: "Echec appareil photo" screen.
* Then I stop the app (from the app manager)
* I restart the app, which crashes just after (or during) the splash screen

I hope you'll find relevant

[2022-08-31 12:40] g123k commented on #2863
Yes, it's about the black tooltip

[2022-08-31 12:47] monsieurtanuki commented on #2863
I guess we could position the tooltip's bottom to the page bottom minus half the bottom bar height: the tooltip would be visible, the rest of the screen would be visible, and the user would not be tempted to tap unsuccessfully on the "next" button.
________________________________
De : Edouard Marquez ***@***.***>
Envoyé : mercredi 31 août 2022 14:41
À : openfoodfacts/smooth-app ***@***.***>
Cc :

[2022-08-31 13:40] M123-dev commented on #920
Heyy just one little detail I've seen in the [Medium article for flutter 3.3](https://medium.com/flutter/whats-new-in-flutter-3-3-893c7b9af1ff) go_router now supports async push.

Can't say if that allows to pop values but still interesting to know

[2022-08-31 13:45] M123-dev opened #2885 "ci: Add bugs to project is broken"
### What

[2022-08-31 13:48] M123-dev commented on #2885
https://github.com/openfoodfacts/smooth-app/actions/runs/2964322465

[2022-08-31 18:31] M123-dev commented on #1103
Thats solved as wo now just load the codes not the whole products

[2022-08-31 18:31] #1103 closed, assigned to nobody

[2022-08-31 18:33] M123-dev commented on #1156
What things here are still missing

[2022-08-31 20:37] M123-dev opened #2887 "It seems that we have memory leaks in the latest release 3.8.1 (722)"
### What
- ![grafik](https://user-images.githubusercontent.com/39344769/187776622-83487d5b-e000-4211-9d87-612bc3e4f42c.png)
- [The new issues](https://sentry.io/organizations/openfoodfacts/issues/?project=5376745&query=firstRelease%3Aorg.openfoodfacts.scanner%403.8.1%2B722&sort=freq)

[2022-09-01 06:59] monsieurtanuki commented on #2887
Hi @M123-dev!
Can you also display the total: we don't know how bug the 100% is.
Just this morning I saw a memory leak just after the onboarding; might be interesting:
[code]

[2022-09-01 08:44] monsieurtanuki commented on #2863
Actually the text doesn't match the UX: "you can tap on any item" - no, you can't, first you have to click anywhere in order to dismiss the tooltip, and then you can tap on any item.
But that's another story.

[2022-09-01 10:14] #2333 closed, assigned to g123k

[2022-09-01 10:15] #1593 closed, assigned to AshAman999

[2022-09-01 10:15] #2192 closed, assigned to AshAman999

[2022-09-01 10:15] #2455 closed, assigned to AshAman999

[2022-09-01 10:15] #2456 closed, assigned to AshAman999

[2022-09-01 10:15] #2459 closed, assigned to AshAman999

[2022-09-01 11:30] teolemon opened #2890 "Bug in develop"
### What
Run flutter analyze --fatal-infos --fatal-warnings .
Analyzing smooth-app...

   info • The import of 'dart:typed_data' is unnecessary because all of the used elements are also provided by the import of 'package:flutter/foundation.dart' • packages/smooth_app/lib/cache/files/file_cache_manager_impl.dart:2:8 • unnecessary_import
   info • 'primary' is deprecated and shouldn't be used. Use b

[2022-09-01 11:31] teolemon opened #2891 "Cannot find an installed Xcode satisfying '~> 13.3.1'"
### What
- [10:40:13]: Cannot find an installed Xcode satisfying '~> 13.3.1'

[2022-09-01 11:44] monsieurtanuki commented on #2890
I don't see that. Are you in flutter 3.3?
My `flutter doctor`:
[code]

[2022-09-01 11:53] monsieurtanuki commented on #2891
I don't know if it's related to flutter 3.3, but if it is we could probably play it cool and just keep using the stable 3.0.5.
I mean, we're not here to debug flutter 3.3, there are no new features really worth it, and no user complained about the flutter version we use.
Looks similar to the new tasks where all packages are automatically upgraded (even to breaking change versions): it looks like w

[2022-09-01 12:03] monsieurtanuki commented on #2793
@stephanegigandet That would be great!

[2022-09-01 15:03] M123-dev commented on #2887
Heyy @monsieurtanuki, what do you mean by "we don't know how bug the 100% is"

[2022-09-01 15:05] M123-dev commented on #2890
Should get fixed by https://github.com/openfoodfacts/smooth-app/pull/2884

[2022-09-01 15:41] M123-dev commented on #2890
CI updated automatically as the cache only stays there for a few days and after that we use "latest" as version

[2022-09-01 16:16] sentry[bot] opened #2895 "UnsupportedError: Unsupported operation: Cannot add to a fixed-length list"
Sentry Issue: [SMOOTHIE-1BV](https://sentry.io/organizations/openfoodfacts/issues/3550136783/?referrer=github_integration)

[code]

[2022-09-01 16:29] #2891 closed, assigned to nobody

[2022-09-01 16:36] #2882 closed, assigned to nobody

[2022-09-01 16:36] #2890 closed, assigned to nobody

[2022-09-01 16:41] teolemon commented on #920
"It reduces the amount of code needed", dixit Edouard

[2022-09-01 16:44] teolemon commented on #1393
Fixed by @AshAman999

[2022-09-01 16:45] monsieurtanuki commented on #2887
@M123-dev It's a typo: "we don't know how BIG the 100% is".
What I mean is that when they say 99.44% crash-free, they say 119 crashes. From that we can compute what 100% means.
From "100% crash-free with 0 crash", we cannot know if we're talking about 1, 1K or 1M crash-free transactions.

[2022-09-01 16:46] teolemon opened #2896 "The iOS build is failing because of MLKIT and Pod"
Analyzing dependencies
[!] CocoaPods could not find compatible versions for pod "GoogleMLKit/BarcodeScanning":
  In snapshot (Podfile.lock):
    GoogleMLKit/BarcodeScanning (= 2.6.0, ~> 2.6.0)

  In Podfile:
    google_mlkit_barcode_scanning (from `.symlinks/plugins/google_mlkit_barcode_scanning/ios`) was resolved to 0.4.0, which depends on
      GoogleMLKit/BarcodeScanning (~> 3.1.0)

You have ei

[2022-09-01 16:52] teolemon commented on #579
The scoring system was rewritten, so I believe we can close @slava-sh @stephanegigandet

[2022-09-01 16:52] #579 closed, assigned to stephanegigandet

[2022-09-01 17:03] g123k opened #2897 "Settings: remove camera-related settings"
A fix for barcode scanning issues, is to have an alternative mode for the scanning process.
To not confuse our users, we will remove two of the current settings (high performance + focus) and replace it by a simple "Enable alternative mode"

[2022-09-02 06:45] #2897 closed, assigned to g123k

[2022-09-02 06:46] #2896 closed, assigned to nobody

[2022-09-02 06:46] g123k commented on #2741
For scan issues, after spending hours trying to understand the root cause of the issue, I have to surrender… 😔

- On some devices (OnePlus for example), something is wrong with the image binary.
Unfortunately, I'm unable to find what exactly.

This is the cause of MLKit being unable to decode any barcode

- However, if the image is stored on a File and this file is passed to MLKit, it can decode b

[2022-09-02 08:51] teolemon commented on #2741
Just happened on my Pixel 6. I Can't scan anymore
https://photos.app.goo.gl/WRowi487cFo6SJru9

[2022-09-02 09:59] #2856 closed, assigned to nobody

[2022-09-02 10:00] teolemon commented on #2805
<img src="https://user-images.githubusercontent.com/1689815/188115367-24f39138-e367-4ad7-8b73-6a203ad74c09.png" height="400px">

[2022-09-02 10:10] teolemon opened #2905 "Test runner included in production APK - Error flagged by the PlayStore pre-launch report"
### What
- Error flagged by the PlayStore pre-launch report
- Possibly related to https://stackoverflow.com/questions/72999960/please-interpret-the-google-play-pre-launch-crashes-and-anrs-report-details

### Device specs
<img width="885" alt="image" src="https://user-images.githubusercontent.com/1689815/188117001-83b31321-4078-4a07-861f-a0631068c713.png">

### Summary
java.lang.RuntimeException: U

[2022-09-02 10:18] g123k commented on #2905
@teolemon Is this a release based on Flutter 3.0 or 3.3?

[2022-09-02 10:40] g123k commented on #2905
This issue is actually worrying, why do we include in the prod version the test runner? (android.test.runner.jar)

Is-this really a release variant?

[2022-09-02 10:55] teolemon commented on #2905
This is the internal build, dunno whether Google is injecting anything

[2022-09-02 10:56] g123k commented on #2905
No no "android.test.mock.jar" cannot be injected by Google.
I'm pretty sure this is a debug build

[2022-09-02 11:33] teolemon commented on #2741
@g123k reverting to stable fixes the issue for me

[2022-09-02 11:35] g123k commented on #2741
I’m pretty sure your issue is related to https://github.com/openfoodfacts/smooth-app/issues/2905

but let’s try to revert

[2022-09-03 07:25] monsieurtanuki commented on #2807
Would probably be solved by @VaiTon's #2801.

[2022-09-03 10:23] teolemon opened #2910 "Make the Road to Scores more explicit on product addition"
### Problem
- People still complain that the database is empty
- The onboarding does not mention the collaborative nature of the database, nor the promise you can get Nutri-Score or Eco-Score in a few minutes

### Proposed solution
- Implement the mockup below which shows the Grey Scores

### Mockups
<img width="326" alt="image" src="https://user-images.githubusercontent.com/1689815/188266318-e612

[2022-09-03 13:10] teolemon commented on #2805
A screenshot of the edit product one
![image](https://user-images.githubusercontent.com/1689815/188271912-d3a68b98-a97f-4cd2-801b-27497852609a.png)

[2022-09-03 13:12] teolemon opened #2911 "Editing tag fields offline does not work"
### What
- Editing tag fields offline does not work

### Part of

- #3149
### Video
https://user-images.githubusercontent.com/1689815/188271980-ee195420-97fa-4822-b10f-f1776e42cf10.mp4

[2022-09-03 15:11] teolemon commented on #2805
- Also fixed in #2861

[2022-09-03 15:46] monsieurtanuki commented on #2910
[Who are those guys?](https://www.youtube.com/watch?v=-kbTbg00AJU) If they are tourists in a foreign country (which is a decent use-case), they are probably right as we filter on their origin country.
Should we design an [_ad hoc_](https://www.youtube.com/watch?v=j64SctPKmqk) app "Find the best foreign food when you're abroad!"?
Should we use the country filter only in rare cases?

Computing the n

[2022-09-03 16:05] teolemon commented on #2190
@galnaf is that still happening ?

[2022-09-04 08:26] teolemon opened #2915 "Search seems to crash in some conditions"
### What
- Search seems to crash in some conditions
- A user says: "I don't know what the developers have done to what used to be a stable app, now I open it, click on search and it crashes. Uninstalled."
- Another user says:
- <img src="https://user-images.githubusercontent.com/1689815/188304569-ba8218dc-6634-43dc-a5d9-e1f0b4acb933.png" height="400px">

[2022-09-04 11:08] monsieurtanuki commented on #2915
Regarding the last case, I've just downloaded the latest version from the Play Store (3.8.1+722) and typed in "sardines". I found many "sardines", as a fr-FR and in the world too.

That said, then I switched to TEST env instead of PROD, and this is what I got when I refreshed my PROD sardines (now from TEST):
![Screenshot_2022-09-04-13-01-25](https://user-images.githubusercontent.com/11576431/1883

[2022-09-04 11:12] teolemon commented on #2915
I can't reproduce in prod either, I have asked the user for a copy paste of the exact error

[2022-09-04 11:34] teolemon commented on #2915
Duplicate of #2793
<img src="https://user-images.githubusercontent.com/1689815/188311179-741b01fa-5d33-47e6-a4fc-d7000a399c64.png" height="400px">

[2022-09-04 11:35] teolemon commented on #2793
- #2915 is a dupe

[2022-09-04 12:16] monsieurtanuki commented on #2741
On the latest downloaded version from the Play Store (3.8.1+722) I still have the crash when I land on the home/camera page:
[code]
and
[code]

<details>

<summary>Full logcat</summary>

[code]

</details>

[2022-09-04 12:17] monsieurtanuki commented on #2915
@teolemon Is that your own "sardines"? Were you logged in?

[2022-09-04 12:19] g123k commented on #2741
In your case, it’s coming from the camera driver developed by Samsung.
So it’s only for your device.
I’m not sure it’s worth the case to support only one device.

instead we should focus on global scan issues

[2022-09-04 12:22] g123k commented on #2741
Could you also create issues per device instead of using this thread, please?
This is very difficult for me to follow the issue on Slack, Meet, GitHub…

[2022-09-04 12:31] teolemon commented on #2915
Nope, the user answered my followup

[2022-09-04 12:31] teolemon commented on #2915
Doesn't happen to me because my user id is teolemon, I guess

[2022-09-04 12:37] teolemon opened #2916 "List of brands or models being affected by the scan issue"
### What
- [ ] Oppo ([Oppo A53](https://play.google.com/console/u/0/developers/4712693179220384697/app/4972942602078310258/user-feedback/review-details?reviewId=fe7da1a8-40bc-47c1-9d9d-b7bd18ab3964&corpus=PUBLIC_REVIEWS),[Oppo CPH2223](https://play.google.com/console/u/0/developers/4712693179220384697/app/4972942602078310258/user-feedback/reviews#),  [Oppo A53](https://play.google.com/console/u/0/

[2022-09-04 12:38] monsieurtanuki opened #2917 "Camera crashes the app (Samsung)"
### What
- I can see the camera working for a couple of seconds after onboarding.
- But then, the camera turns into a black widget, and never works again.
- If I quit the app and start it again, I can only see the splash screen then the camera page for microseconds then the app crashes.

### Steps to reproduce the behavior
1. Onboarding
2. Then home page - stay there for 5 seconds
3. The camera do

[2022-09-04 12:38] teolemon opened #2918 "Pixel 6 can't scan with the newest version of google_mlkit"
Just happened on my Pixel 6. I Can't scan anymore
https://photos.app.goo.gl/WRowi487cFo6SJru9

_Originally posted by @teolemon in https://github.com/openfoodfacts/smooth-app/issues/2741#issuecomment-1235243246_

[2022-09-04 12:38] monsieurtanuki commented on #2741
Fair enough @g123k: #2917

[2022-09-04 12:38] teolemon commented on #2918
Fixed by reverting to an older version of the lib

[2022-09-04 12:44] monsieurtanuki commented on #2916
I do think apps with camera can work on Samsung. If they can't I guess we can write an article, become fabulously rich and famous and move to the Silicon Valley, yippee! In short I don't buy this "Samsung driver won't fix".

[2022-09-04 13:01] monsieurtanuki commented on #2915
Then you can try with the test user for PROD, cf. https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/test/test_constants.dart

[2022-09-04 17:33] #2807 closed, assigned to nobody

[2022-09-04 18:59] g123k opened #2919 "⛔️ DO NOT release any version based on Flutter 3.3"
On the official Flutter GitHub, many issues are reported about regressions with Flutter 3.3.
Please DO not release any public version until a fix is released.

Here are the issues, that I'm able to reproduce:
- Text rendering issues: https://github.com/flutter/flutter/issues/110738
- Scrolling is not as smooth as before: https://www.youtube.com/watch?v=N66MdEDHh2Q

[2022-09-04 19:01] g123k commented on #2918
Pixel 6 or Pixel 6 Pro?

[2022-09-04 20:08] M123-dev commented on #2919
Just checked the last releases, v3.8.1 is the last one before 3.3.0 @teolemon

[2022-09-04 21:42] monsieurtanuki commented on #2919
I suggest that we downgrade to 3.0.5 (actually I did not upgrade), specifically for a version that does not bring interesting features, as @g123k explained.
We also had a similar problem this week with an upgrade of `mlkit`.
In general, as I mentioned earlier, we could avoid jumping on every new version of the 50+ packages we use. If needed, that may mean strict version numbers in `pubspec.yaml` (

[2022-09-04 22:02] g123k commented on #2919
I strongly agree with this change, but will Dependabot still work with strict versions?
Being notified of new releases (like bug fixes) would still be interesting.

[2022-09-05 07:26] teolemon commented on #2918
It's the Pixel 6 issue from the other day.

[2022-09-05 09:38] monsieurtanuki commented on #2919
I'm ready to downgrade the code and "fix" the `pubspec.yaml`.
But that means that flutter 3.0.5 needs to be used by the CI bots - if not the code would be rejected. @M123-dev @teolemon?

Indeed we need to find a process. But it's not like we currently used 50+ packages full of bugs: most of them are 100% functional. We can do the upgrade smoothly (and manually), with a focus on specific packages.

[2022-09-05 10:21] g123k opened #2921 "Search issue with iOS and autocorrect feature"
Hi everyone,

It seems we have a kind of issue with the iOS keyboard and the French language.
On Android, the apostrophe is with this character `'`, whereas on iOS, the keyboard will autocorrect it with `’` (called the French apostrophe).

Unfortunately, with the iOS apostrophe, we have no results for searches.

What would be the best way to fix this?
Always replace the iOS's apostrophe?

[2022-09-05 10:32] monsieurtanuki commented on #2921
Assuming that there are no "French apostrophe" in the server database, I would let the French iOS user type whatever, and replace the French apostrophe with a standard quote at search time only.
This probably also concerns other characters that wise guys at Apple find hype to "correct" (like double-quotes or hyphens).

For the record, I've just searched for [`d'armor` (98 results)](https://fr.open

[2022-09-05 13:57] #2846 closed, assigned to abughalib

[2022-09-05 15:05] g123k commented on #2921
What would be the better place to implement this fix?

Here pour directly in the SDK?

[2022-09-05 16:39] M123-dev commented on #2919
CI isn't a problem should be one parameter per workflow don't worry about that

[2022-09-05 18:18] chk1 opened #2927 "App does not read barcode from camera on Sony Xperia 10 IV"
### What
The barcode from a product that I hold into the camera is never detected and read.

### Steps to reproduce the behavior
1. Open App
2. Switch to find/scan view
3. Hold product barcode into rectangle on screen
4. Code is never read and search is never triggered

### Expected behavior
App should detect the barcode after a short time and trigger a search

### Part of
- #2741

### Smartphone

[2022-09-05 18:35] chk1 commented on #2836
On my Sony phone (#2927) this app works and it detects barcodes which the OFF app would not (same lighting and distance from camera)

[2022-09-05 18:37] monsieurtanuki commented on #2921
For the record, looking for the film "Dédée d'Anvers" on imdb.com (playing tonight on French TV): both queries seem to return the same result
https://www.imdb.com/find?q=dédée+d%27anvers&ref_=nv_sr_sm
https://www.imdb.com/find?q=dédée+d’anvers&ref_=nv_sr_sm

I would say it should be fixed on the server side.

[Edit: added] Safari did not change my quote into a French apostrophe.

The fastest parti

[2022-09-05 18:50] Jean-BaptisteC opened #2928 "Fix color on Navigation Bar"
### What
Navigation Bar doesn't follow themes color (Background Color)

### Expected behavior
Add new item navigationBarColor on each themes with Background Color
More information [here](https://medium.com/androiddevelopers/translucent-systembars-the-right-way-across-api-levels-and-themes-6d7ddda21396)

### Screenshot/Mockup/Before-After
<img src="https://user-images.githubusercontent.com/87148630

[2022-09-05 20:57] g123k commented on #2921
Any thoughts on this @stephanegigandet?

[2022-09-06 06:42] g123k commented on #2927
Hello @chk1 and thanks for your report.
Since the release of the new app (the Flutter's one), did the scan ever work on your device or never?

Also, could you try this APK: https://drive.google.com/file/d/1F6S0pGpf8OQHhqKSw1opWQPRxpcmYdDV/view?usp=sharing (app name: ML Kit in Flutter) and go to Barcode Scanning (first item) and tell me if you're able to scan barcodes.

Thanks

[2022-09-06 06:58] g123k commented on #2741
You can have two kinds of issues:
- Camera not being visible (eg: black screen)
- Scanner not detected barcodes

If you are in the second case, please download this APK: [drive.google.com/file/d/1F6S0pGpf8OQHhqKSw1opWQPRxpcmYdDV/view?usp=sharing](https://drive.google.com/file/d/1F6S0pGpf8OQHhqKSw1opWQPRxpcmYdDV/view?usp=sharing) (app name: ML Kit in Flutter) and go to Barcode Scanning (first item)

[2022-09-06 07:01] g123k opened #2929 "[Android] Identified issue: after a certain period of time, the scanner doesn't work"
Hello,

On several devices, I've noticed that after playing a little bit with the app, when going back to the scanner, it doesn't work anymore. The camera is OK, but it doesn't scan any barcode.

~~I haven't yet found a way to reproduce it, but I'm working on it.~~
~~You are welcome to add any comment if it helps to determine the reproduction steps.~~

Edit: The way to reproduce it:
1. Scan a barc

[2022-09-06 07:14] g123k commented on #2836
Ok, it confirms MLKit works on your device.
On the other issue, I've linked another APK. Could you try it please?

[2022-09-06 07:56] chk1 commented on #2927
I have only tried this version (3.8.1+722) of the new Flutter app. First installed yesterday and never got scanning to work.

(I do have two other phones where it works, so I can compare how the app is supposed to work I guess. Redmi 4X on custom ROMs Android 9 and 11)

I tested it and it doesn't detect barcodes in the camera view. I've seen green texts and lines flash up and quickly disappear (wi

[2022-09-06 08:11] g123k commented on #2836
I close this issue, as I prefer one issue per device.
Thanks in advance.

[2022-09-06 08:11] #2836 closed, assigned to nobody

[2022-09-06 08:19] #2929 closed, assigned to nobody

[2022-09-06 08:27] g123k commented on #2927
Thanks a lot for your report @chk1.
A new "alternative" mode will be released soon and should fix your issue.

[2022-09-06 08:34] g123k opened #2934 "The code doesn't compile anymore on develop"
I'm investing it, but here is the error:

[code]

[2022-09-06 08:38] g123k commented on #2934
My fault, the solution is to downgrade to Flutter 3.0.5

[2022-09-06 08:38] #2934 closed, assigned to nobody

[2022-09-06 08:42] stephanegigandet commented on #2921
@monsieurtanuki @g123k Agreed, we will fix it server side.

I filed https://github.com/openfoodfacts/openfoodfacts-server/issues/7301

It's very simple to fix, so I will keep it for the participants of open source day on Sept 16th.

[2022-09-06 10:54] teolemon opened #2944 "Product Addition - The image upload snackbar is blocking the finish button while it's visible"
### What
- The image upload snackbar is blocking the finish button while it's visible

### Screenshot/Mockup/Before-After
<img src="https://user-images.githubusercontent.com/1689815/188617271-0fcc55aa-b426-47f3-9e2d-69b4baa2e205.png" height="400px">
<img src="https://user-images.githubusercontent.com/1689815/188617316-bb1ecd69-90f9-4cf4-8652-78f98d368e7a.png" height="400px">

### Part of
- #1379

[2022-09-06 11:08] monsieurtanuki commented on #2944
Two suggestions:
* move the "finish" button "a bit higher"
* instead of the "finish" button, use an extended `FloatingActionButton` (icon + text) - those guys know how to manage `SnackBar`s

[2022-09-06 13:04] teolemon opened #2946 "Product addition - Layout issue on some iPhones in French"
### What
- Product addition - Layout issue on some iPhones in French (here, @galnaf's iPhone 5S)

### Screenshot/Mockup/Before-After
<img src="https://user-images.githubusercontent.com/1689815/188642411-0bd6f3ca-4f8f-4e90-89cd-e0f4b028a7b4.png" height="400px">

[2022-09-06 13:22] monsieurtanuki commented on #2946
Comments:
* the `!` shouldn't be on his own: in French there's an unbreakable space before a `!`
* currently we're using `Text` in `SmoothProductCardNotFound`; `AutoSizeText` (with a decent number of lines?) would make more sense, in combination with `Flex`
* we should probably test problematic screens with very long texts, to see if they fit.
* anytime we're dealing with text in a limited area, w

[2022-09-06 13:23] #2863 closed, assigned to monsieurtanuki

[2022-09-06 22:03] teolemon opened #2954 "Robotoff questions does not work"
### What
- Answering an Hunger Games questions, and then logging in to Open Food Facts, stalls the “Answer being recorded” spinner modal Raphaël can reproduce.
<img src="https://user-images.githubusercontent.com/1689815/188748378-5d8f4da2-cb64-46d0-a464-cb175758ffb5.jpg" height="400px">

### Additional problem

<img src="https://user-images.githubusercontent.com/1689815/188748454-0590d01e-e557-4cb

[2022-09-06 22:06] g123k commented on #2927
It's now implemented @chk1.
Please follow the PR #2953

[2022-09-07 07:00] AshAman999 opened #2956 "Product Addition - 'Finish' button overlays with 'Add basic details' button"
### What
- When I am adding a new product, there seems to be overlaid on the last part of the buttons
- It's inhibiting my ability to edit the basic product details when I scanned a new product
- Problem arises when I add more additional photos

### Expected behavior
The finish button should be at the bottom irrespective of the no of additional photos added

### Why
- It's annoying to come back to

[2022-09-07 09:09] g123k opened #2958 "Onboarding: create a dedicated screen to authorize the camera access"
### What
- Following issues with the camera / scanner, we have to create a dedicated page explaining why we need the camera access.

Here is a draft of the UI:
[untitled.webm](https://user-images.githubusercontent.com/246838/188839149-2ace4180-f971-449a-8b27-28cc5be386db.webm)

Please tell me what do you think of it

[2022-09-07 09:53] teolemon commented on #2958
👍

[2022-09-07 09:57] teolemon opened #2959 "Product Addition: miniature of ingredients blocks the text"
### What
- The image of ingredients blocks the view to the text.
- It should be stretched down to be square, like the others.
- Bonus: If that's not the case, we should be able to tap to extend

### Part of
- #1379

### Screenshot/Mockup/Before-After
<img width="340" alt="image" src="https://user-images.githubusercontent.com/1689815/188849742-fcc45f59-a8e7-4e1a-a60e-908e4691a4be.png">

[2022-09-07 10:02] teolemon opened #2960 "Image Gallery - Higher resolution of image should be loaded on tap to expand"
### What
- In the Image Gallery , Higher resolution of image should be loaded on tap to expand, especially for the all photos

<img src="https://user-images.githubusercontent.com/1689815/188851311-01ac369c-5e41-43b2-9e4d-1817701fc137.png" height="400px">

### Steps to reproduce the behavior
1. Go to Edit mode
2. Click on Images
3. Tap on an image
4. See low resolution image

[2022-09-07 10:05] teolemon opened #2961 "Image Gallery - The gallery is not refreshed on new image upload"
### What
- The gallery of server photos is not refreshed on new image upload
### Part of
- #503

[2022-09-07 11:41] monsieurtanuki commented on #2956
cf. #2944: we would be better off with a `FloatingActionButton`.

[2022-09-07 16:22] M123-dev commented on #2916
FYK I on Samsung S21 can scan in 3.13.3+731

[2022-09-07 16:23] M123-dev commented on #2915
I'm able to search logged in and not logged in

[2022-09-07 16:35] M123-dev commented on #2959
Lets crop all of them to the same format (and maybe allow to click them after that for a extended view)

[2022-09-07 16:36] M123-dev commented on #2956
Dublicate #2944

[2022-09-07 16:36] #2956 closed, assigned to nobody

[2022-09-07 16:43] M123-dev commented on #2928
Heyy, thanks for filing @Jean-BaptisteC 💯

cc: @g123k

[2022-09-07 16:45] g123k commented on #2928
@Jean-BaptisteC Have you tested also on iOS? Because, generally the theme is inverted between the two platforms

[2022-09-07 16:50] Jean-BaptisteC commented on #2928
No, i don't have IOS devices to test but i think it's different because we don't have native navigation bar like Android.

[2022-09-07 16:54] M123-dev opened #2963 "Develope broken by camera fork"
### What
[code]

[2022-09-07 16:55] g123k commented on #2963
Yes I know, but the easiest way would be to review this PR in priority.

[2022-09-07 16:57] M123-dev commented on #2963
#2953 or which one

[2022-09-07 17:09] M123-dev commented on #2550
@teolemon just wanted to finally implement it, but it's already done, you can add it to your matomo dashboard under

dashboard  (on top) -> behaviour - events -> Actions: Event Actions

[2022-09-07 17:09] #2550 closed, assigned to M123-dev

[2022-09-07 17:10] M123-dev commented on #2550
Also the daily register amounts are at least for my understanding really really good 🥳

[2022-09-07 17:47] AshAman999 commented on #2956
I don't think so that it's duplicate, #2944 is about the snack bar blocking the view, but this issues was more of a layout overlay problem not of snack bar

[2022-09-07 17:49] #1538 closed, assigned to monsieurtanuki

[2022-09-07 17:51] #2833 closed, assigned to monsieurtanuki

[2022-09-07 17:54] monsieurtanuki commented on #2956
@AshAman999 You may be right but my `FloatingActionButton` solution would solve both.
Feel free to reopen if needed.

[2022-09-07 18:29] g123k commented on #2919
The new version of Flutter (3.3.1) doesn’t fix any issues related to the text rendering. We continue with 3.0.

[2022-09-07 18:43] g123k commented on #2963
Yes it was #2953

[2022-09-07 18:43] #2963 closed, assigned to g123k

[2022-09-07 21:13] teolemon opened #2968 "Reload the product on upload/edit task success"
### Why
- I added a category from a sub-knowledge panel, it queued the edit and piped it through offline edit
- I had to reload manually
### What
- Reload the product on upload/edit task success

[2022-09-08 06:05] monsieurtanuki commented on #2958
Done in #2962

[2022-09-08 06:05] #2958 closed, assigned to nobody

[2022-09-08 06:48] g123k commented on #217
Mmm why I am assigned to this issue?

[2022-09-08 07:10] monsieurtanuki commented on #2968
@teolemon The result should be instant, regardless of the task being executed (if I understood correctly the offline mode).
That's why we need to refactor the "offline edit/task queue/local refresh/server refresh" process, so that ANY edit will follow the same process.

[2022-09-08 07:36] teolemon commented on #2905
As you mentionned worrying, I'm putting a P1 @g123k

[2022-09-08 07:38] teolemon commented on #2915
Closing as a dupe of #2793, which users are still complaining about

[2022-09-08 07:38] #2915 closed, assigned to nobody

[2022-09-08 07:40] teolemon commented on #2532
- Potentially closed by https://github.com/openfoodfacts/smooth-app/pull/2937 ? @g123k

[2022-09-08 07:45] g123k commented on #2532
No, an implementation of the "alternative" may improve things.
But recently, I have lowered the number of frames consumed by the app.
We should monitor if it has any impact.

[2022-09-08 07:48] teolemon opened #2969 "Integrate Alex's reporting system as an experimental feature"
### What
- We now have a way to flag bad images in the server side gallery, just like in Hunger Games https://github.com/openfoodfacts/hunger-games/pull/172/files
### Part of
- Contribution

[2022-09-08 07:52] teolemon commented on #2745
closing

[2022-09-08 07:52] #2745 closed, assigned to teolemon

[2022-09-08 08:33] teolemon commented on #217
unsure, fixing this

[2022-09-08 10:14] monsieurtanuki commented on #2968
@AshAman999 If that's OK with you, I'll do the refactoring first.

[2022-09-08 10:52] #1393 closed, assigned to AshAman999

[2022-09-08 13:01] AshAman999 commented on #2968
@monsieurtanuki
Yeah sure no problem in that, i can look for it once ur refactoring is done ☑️

[2022-09-08 13:22] nimr77 commented on #2919
totally agree, this version doesn't have any interesting features and it has bugs while rendering.

[2022-09-08 13:41] VaiTon commented on #2944
What about a button on the AppBar?

![immagine](https://user-images.githubusercontent.com/12072630/189137441-8be88ebe-f440-4309-af94-6b608ecf757e.png)

Something like this

[2022-09-08 16:34] #2169 closed, assigned to nobody

[2022-09-08 16:41] teolemon opened #2973 "Add contribution counts"
### What

- [ ] Implement the visual part of https://github.com/openfoodfacts/openfoodfacts-dart/issues/552

### Part of
- #503

[2022-09-08 16:53] teolemon commented on #1702
Duplicate

[2022-09-08 16:53] #1702 closed, assigned to nobody

[2022-09-08 16:57] teolemon opened #2974 "The product addition check shouldn't look like a radio button"
### What
-The product addition check shouldn't look like a radio button. Probably something more explicit (colored emoji ?)

<img src="https://user-images.githubusercontent.com/1689815/189181493-83664776-6e07-43d5-8961-ec6e648191e3.png" height="400px">

### Part of
- #1379

[2022-09-08 16:58] #2410 closed, assigned to nobody

[2022-09-08 16:59] teolemon opened #2975 "Add a checkmark if nutrition facts have been entered"
### What

- [ ] Add a checkmark if nutrition facts have been entered
<img src="https://user-images.githubusercontent.com/1689815/189181957-7e0908d0-f46e-4aa3-8f88-f5e92bba4731.png" height="400px">

### Part of
- #1379

[2022-09-08 17:00] teolemon opened #2976 "Add a checkmark if basic details have been entered"
### What
Add a checkmark if basic details have been entered
![image](https://user-images.githubusercontent.com/1689815/189181957-7e0908d0-f46e-4aa3-8f88-f5e92bba4731.png)

[2022-09-08 17:03] teolemon opened #2977 "(Product Addition) A button to open ingredient extraction should appear after upload of the ingredients photo"
### What

- [ ] A button to open ingredient extraction should appear after upload of the ingredients photo

### Part of
- #1379

[2022-09-08 17:04] teolemon opened #2978 "(Product Addition) A button to open nutrition extraction should appear after upload of the nutrition photo (and not immediately like currently)"
### What

- [ ] A button to open nutrition extraction should appear after upload of the nutrition photo (and not immediately like currently)

### Part of
- #1379

[2022-09-08 17:05] teolemon commented on #2843
Looks good to me, let's propose that as part of the Grace Hopper hackathon :-)

[2022-09-08 17:07] #2946 closed, assigned to g123k

[2022-09-08 17:10] monsieurtanuki commented on #2974
@teolemon For the record those are not radio buttons, but checkboxes:
![Capture d’écran 2022-09-08 à 19 09 10](https://user-images.githubusercontent.com/11576431/189183586-af4e1a82-d2ae-427b-978f-8f82fea4cbe4.png)

Those are radio buttons:
![Capture d’écran 2022-09-08 à 19 09 32](https://user-images.githubusercontent.com/11576431/189183641-5f051ab5-ceee-4b0f-9c87-57a984e97267.png)

[2022-09-08 17:15] teolemon opened #2979 "Add a big nasty button in home for people still using org.openfoodfact.app"
### What
- Add a big nasty button in home for people still using org.openfoodfact.app by checking on the package name
- Put it in home, on top of the tagline

[2022-09-08 17:40] teolemon commented on #1724
Fixed, closing.

[2022-09-08 17:40] #1724 closed, assigned to nobody

[2022-09-09 06:22] g123k commented on #2954
@teolemon  I'm trying to reproduce, but there is no Robotoff card on this product anymore.
Is-there a way to reset it? Or easily find products with that issue?

[2022-09-09 08:43] M123-dev commented on #2954
I've seen a lot under

profile -> all to be completed products

@g123k

[2022-09-09 13:19] M123-dev commented on #147
Server side autocomplete is about to be deployed to staging, perfect opportunity to test it in the dev mode, https://github.com/openfoodfacts/openfoodfacts-server/issues/5006

What P does this have @teolemon

[2022-09-09 14:19] M123-dev opened #2984 "GH - The image extraction screen is white without image"
### What

The image extraction screen is white without image, we should instead show for example a alert asking to submit a image

<details>
  <summary>Image</summary>

![Screenshot_20220907-223137_OpenFoodFacts](https://user-images.githubusercontent.com/39344769/189371401-3769358d-3d01-4ab7-a2d8-b0fbb488b9b6.jpg)
</details>

[2022-09-09 14:24] M123-dev opened #2985 "Discussion: The delete gestures are not equal"
### What

In some pages we use swipe to the left (for products) but to remove lists we have to long click and for all products we have to use the 3 dot menu.

My suggestion would be to always use the long click way of doing it. Feels more natural to me a android user and we have the long click to select for products in lists anyways, this would allow to bulk delete multiple items without clearing

[2022-09-09 14:28] M123-dev opened #2986 "GH - You can't escape the select products in list screen with back gesture"
### What

<details>
  <summary>Image</summary>

![Screenshot_20220907-223427_OpenFoodFacts](https://user-images.githubusercontent.com/39344769/189372932-024d24e5-9c1c-400e-8194-284a7a0dc849.jpg)

</details>

If you there use the back gesture you get poped back to the latest tab you were on but the selection mode is still on.

It should be possible to quit this mode using the back gesture using [Wi

[2022-09-09 14:29] M123-dev opened #2987 "Discussion: The section header are smaller and not as color flashy as the titles of the individual settings."
### What

<img src="https://user-images.githubusercontent.com/39344769/189373574-2a142f15-2b29-4791-871c-14d79b2ba432.jpg" height="400px">

The section header are smaller and not as color flashy as the titles of the individual settings. I find the whole settings tab hard to navigate, but thats a bigger problem

[2022-09-09 14:31] M123-dev opened #2988 "Discussion: The secondary button is hard to differentiate from text"
### What

<details>
  <summary>Image</summary>

![Screenshot_20220909-104145_OpenFoodFacts](https://user-images.githubusercontent.com/39344769/189374013-3edc6fc1-ffdb-4c32-af55-10222368db63.jpg)
</details>

It should be highlighted in some way, maybe @g123k has a suggestion for that

[2022-09-09 14:33] M123-dev opened #2989 "Some action columns could be rows"
### What

<details>
  <summary>Image</summary>

![Screenshot_20220909-104230_OpenFoodFacts](https://user-images.githubusercontent.com/39344769/189374280-48e5ccfe-903d-4b96-8d94-848361f3c10e.jpg)

</details>

`Yes` and `no` would easily fit into a row, but maybe not on every language a automatic align mode would be perfect

[2022-09-09 23:45] #2959 closed, assigned to M123-dev

[2022-09-10 08:17] teolemon commented on #2954
@g123k does #2991 fix both issues or just the first one ?

[2022-09-10 08:19] g123k commented on #2954
The first one for sure, the second one was OK during my tests.
So maybe my fix did the change also? (not sure)

[2022-09-10 08:22] g123k commented on #2741
Since the alternative mode is now available in the app, what's the plan to check if it fixes the issue?

[2022-09-10 10:26] #881 closed, assigned to nobody

[2022-09-10 10:27] teolemon commented on #64
I'm bumping this one to P2

[2022-09-10 10:29] #839 closed, assigned to nobody

[2022-09-10 10:32] teolemon commented on #1080
Just added a mockup already shared on Slack

[2022-09-10 11:11] teolemon commented on #2954
Application still does not seem to work, the other issue is indeed fixed

[2022-09-10 11:12] g123k commented on #2954
Could you provide a video of the issue to be sure I’m reproduce the right problem?

[2022-09-10 13:11] benbenben2 commented on #2514
Using the mobile app (iOS), when I scan products from famous brands (coca-cola, nestle, haribo, nutella, etc.) that are already known in the database but are not yet included in my country, I have to go under "Edit product", "country" and add my country, if I want to see such product later when I go on the website for my country.

Did you ever consider adding a notification, something like "Would

[2022-09-10 14:21] teolemon commented on #2954
https://user-images.githubusercontent.com/1689815/189487627-4808fbfa-4592-4a2e-a52f-5d55987c1010.mp4

[2022-09-10 14:22] teolemon commented on #2954
https://user-images.githubusercontent.com/1689815/189487635-a16caa53-fe86-45b2-b283-9c5b94d75693.mp4

[2022-09-10 15:51] monsieurtanuki commented on #2968
@AshAman999 Now that I've refactored and understood better the background tasks, I think that in order to fix the current issue we should not only update the `LocalDatabase`, but also the `UpToDateProductProvider`. How can we do that with a call to `callbackDispatcher`?

[2022-09-10 15:59] monsieurtanuki commented on #2928
Looks ok on iOS emulator:
![Capture d’écran 2022-09-10 à 17 59 17](https://user-images.githubusercontent.com/11576431/189491608-80e22e9b-f074-4e91-9840-8aa38d83c4df.png)

[2022-09-10 17:37] g123k commented on #2954
I think it's a server-side issue.
The request is well sent.

<img width="581" alt="Screenshot 2022-09-10 at 19 36 20" src="https://user-images.githubusercontent.com/246838/189495236-9c36fe86-264e-4a15-9e7e-21874aada30f.png">

<img width="343" alt="Screenshot 2022-09-10 at 19 36 51" src="https://user-images.githubusercontent.com/246838/189495239-82eea11d-d33b-4c9a-8829-2aab7ba15d4b.png">

[2022-09-10 17:41] g123k opened #2995 "Could not load any cached file ([assets/cache/fairtrade-international.77x90.svg])"
Hi everyone,

In our assets, we have a file called `fairtrade-international.77x90.png`. However, the app needs the SVG file instead.

What should we do?
- Add the file in its SVG format?
- Or have a mechanism that checks if another format is available?

[2022-09-10 17:53] monsieurtanuki commented on #2995
I guess that once we needed that png file.
If now we need `fairtrade-international.77x90.svg`, we need to put it in `assets/cache`, regardless of the past.
I remember wasting a lot of time trying to code something smart with assets, and eventually I created two folders: `assets/cache` and `assets/cacheTintable`. That's simple.

[2022-09-10 18:59] AshAman999 commented on #2968
Hello @monsieurtanuki
The current place from `main.dart` seems like the only place where it seems to work perfectly,
If we could move that code somewhere else then it would work the way u suggesting it would be easy to just pass the provider, but it doesn't work if I call `callbackDispatcher`from somewhere else;

Another workaround could be using `Consumer2<UpToDateProductProvider,localdatabase>`

[2022-09-11 08:54] teolemon commented on #2954
- [ ] We need to check if we send auth properly, otherwise, it will be sent as a vote (3 votes needed to perform the edit)
- [ ] We should also differentiate the messages on a vote (just sending a UUID) and on a direct annotation (when logged in, sending user id and possibly uuid)

[2022-09-11 12:42] teolemon opened #2998 "Add pull to refresh in the photo manager in edit mode"
### What
- Add pull to refresh in the photo manager in edit mode

### Why
- It's not refreshed automatically when the image upload is complete, leading the user to believe it did not work.

### Related to
- #2646

### Part of
- #503

[2022-09-11 12:58] #2995 closed, assigned to nobody

[2022-09-11 13:27] monsieurtanuki commented on #2968
Hi @AshAman999!
Not convinced in a first approach by neither `Consumer2` nor selectors.
I think we would be better off if we merged `UpToDateProductProvider`'s features into `LocalDatabase`: it would be accessible from anywhere, even from `callbackDispatcher`. And functionally that would be relevant: an advanced product cache in the local database, in addition to sqflite.

[2022-09-11 16:23] Puja-Kumari-909 commented on #2984
I would like to work on this as a part of Grace Hopper Celebration contributor. Can you please guide me where the file is located as I am new to this project.

[2022-09-11 17:42] M123-dev commented on #2984
Heyy @Puja-Kumari-909 thats great to hear!

The page you are looking for is the `EditOcrPage` which can be found under `./packages/smooth_app/lib/pages/product/edit_ingredients_page.dart`.

[2022-09-11 18:07] M123-dev opened #2999 "Unnecessary Consumer<UpToDateProductProvider>"
### What
I'm no expert with Provider but AFAIK every route which is pushed on top of a Consumer is also rebuild if the state changes, if thats true, we don't need a consumers in:

- edit_ingredients_page.dart
- edit_product_page.dart
- knowledge_panel_page.dart

as they all can only be accessed on top of the product page which has it's own up to date consumer.

https://github.com/openfoodfacts/smo

[2022-09-12 06:14] monsieurtanuki commented on #2999
@M123-dev I wouldn't say I'm an expert in providers, but I think you're wrong.

Let's say that page A (product) opens page B (edit product) that opens page C (edit product categories).
When you edit product categories in page C, you update the "up to date" data and notify the listeners.
If you don't put a consumer in page B it won't be refreshed. OK page B was open from page A, but flutter does no

[2022-09-12 07:09] M123-dev commented on #2999
I haven't checked the documentation from Provider but my idea came from the way we switch Themes.

The magic happens in main.dart above the MaterialApp:

    `final ThemeProvider themeProvider = context.watch<ThemeProvider>();`

after that the theme changes in the whole app without listening to it everywhere. It could be due to some magic in the MaterialApp but it's worth a try in terms of code si

[2022-09-12 07:19] monsieurtanuki commented on #2999
@M123-dev The thing is that when you change the theme it's like a nuclear button: the `MaterialApp` itself needs to be rebuilt afterwards. It's not just a random page refresh.

[2022-09-12 07:45] monsieurtanuki opened #3002 "Nudging users to get the latest release of the app"
### Problem
This morning in the Sentry weekly report I received again tons of `unexpected: unknown product for` errors (second most "popular" error).
This error disappeared many releases ago, but obviously a significant number of users did not upgrade the app.
That makes the Sentry reports confusing and a bit irrelevant. And all the efforts we put in the code seem a bit useless.

### Proposed solu

[2022-09-12 08:04] teolemon commented on #2342
The issues mentioned above are mostly fixed and some were broken into individual issues. Closing

[2022-09-12 08:04] #2342 closed, assigned to nobody

[2022-09-12 09:07] M123-dev commented on #3002
In parts related to https://github.com/openfoodfacts/smooth-app/issues/2979

[2022-09-12 13:31] anshpathania7 commented on #2989
I noticed there's no border in 'No' Button. Can we add border to make both buttons look similar, in terms of UI?

[2022-09-12 13:39] monsieurtanuki commented on #2989
@anshpathania7 Possibly linked to #2988.

I guess the idea would be to have similar displays for negative and positive action, except that background for positive is full, and background for negative is empty but with a border (same color as positive full background).

That would make negative buttons more explicit, especially when the context is a bit confusing.

[2022-09-12 13:59] anshpathania7 commented on #2989
Okay, I checked the code. Structure of buttons are decided on the basis of screen size currently, it can be turned into row if screen is large or if Axis is provided explicitly. So, for this issue, in automatic align mode should we also consider, string length of languages?

[2022-09-12 14:24] teolemon opened #3004 "Check we are not sending credentials in the wrong conditions"
### What

- [ ] Check we are not sending credentials in the wrong conditions
  - [ ] is provoking https://github.com/openfoodfacts/smooth-app/issues/2793
  - [ ] is a privacy issue
- [ ] Check we're sending the right kind of authentication (eg Robotoff does not need the regular auth)
  - [ ] Probably provoking #2954 where Robotoff considers the query a vote, meaning it did not recognize the user

[2022-09-12 14:32] anshpathania7 commented on #3004
how can I recreate this issue?

[2022-09-12 15:01] M123-dev commented on #3004
@teolemon is there a list of queries which need auth and which not

[2022-09-12 16:14] monsieurtanuki commented on #2989
String length wouldn't be enough:
* IIIIIIIIII
* OOOOOOOOOO

Actual display size should be computed instead. How do they do in `AutoSizeText` to check the display length and decide to use a smaller font?

[2022-09-12 17:12] teolemon commented on #2354
![image](https://user-images.githubusercontent.com/1689815/189715432-c1eb0038-43f1-479f-8d36-15677ae3a849.png)

[2022-09-12 17:15] M123-dev commented on #2354
17 likes thats a lot

[2022-09-12 17:22] monsieurtanuki commented on #2354
The good news is that is very easy to implement, it's just a cross-multiplication on the client side.

[2022-09-12 18:15] teolemon opened #3006 "Something is going wrong with nutrition edit"
### What
- Something is going wrong with nutrition edit
- Could it be async upload ? Something else ?
![image](https://user-images.githubusercontent.com/1689815/189726454-0ee87bbc-0a31-48b7-ab0a-4834fd04af9e.png)

[2022-09-13 05:49] monsieurtanuki commented on #3006
* Could be the async upload
* Could be that the user has an old version of the app
* Could be the fact that for some products ("wasa fibres" if I remember) the nutrition edit didn't work, like it was locked as already provided officially by the producer
* Could be a problem with the switch between "100g" and "portion"
* Now that we switched to "offline mode" it's harder to check if the changes are

[2022-09-13 07:34] g123k opened #3009 "Alternative mode hint on homepage"
Hi everyone,

As discussed with @teolemon, we will change the content of the first carousel card, to hint the user to the alternative mode.
Here are the conditions:
- The alternative mode must never be set before
- The content will be shown 20 seconds after the screen is visible
- Obviously, no barcode has been scanned in the last 20 seconds

[2022-09-13 09:42] lsaudon commented on #2919
The patches have been made but no version yet.
Surely the next version will have them.

[2022-09-13 12:56] M123-dev commented on #2860
Fixed

[2022-09-13 12:56] #2860 closed, assigned to nobody

[2022-09-13 12:58] M123-dev commented on #2438
We now have fixed versions in the pubspec so this should be fine now

[2022-09-13 12:58] #2438 closed, assigned to nobody

[2022-09-13 12:58] #2184 closed, assigned to nobody

[2022-09-13 20:11] sentry[bot] opened #3013 "please download https://static.openfoodfacts.org/images/lang/en/labels/utz-certified.90x90.svg an..."
Sentry Issue: [SMOOTHIE-15P](https://sentry.io/organizations/openfoodfacts/issues/3411656325/?referrer=github_integration)

[code]

[2022-09-14 07:40] chk1 commented on #2927
I just updated to 3.17.0, I can confirm that the alternative scan mode works now. Thank you!

[2022-09-14 17:07] M123-dev commented on #2999
I did some further testing and it seems you are right @monsieurtanuki 👍🏼

[2022-09-14 17:07] #2999 closed, assigned to nobody

[2022-09-15 03:11] purgeyao commented on #2919
https://github.com/flutter/flutter/issues/105014  It doesn't seem to have been fixed

[2022-09-15 06:06] monsieurtanuki commented on #2968
Working on it...

[2022-09-15 06:07] #3013 closed, assigned to monsieurtanuki

[2022-09-15 07:14] AshAman999 commented on #2998
@teolemon  @M123-dev
I was working on this workaround, for a while

- We change the placeholder images there immediately with the ones from file images that we have, till we delete them after the background process finishes,
- Use UptodateProductProvider to rebuild the whole product widget/gallery once the image upload task is done, I think Mr. Monsieurtanuki is working on that for now,
- Added be

[2022-09-15 07:19] AshAman999 commented on #3006
I am not sure about this, but if we could use sentry to record the failed tasks, or at least log it if users are kind enough to share, we could know if there was a problem with the offline mode data syncing.

[2022-09-15 08:03] Puja-Kumari-909 commented on #2984
![no image page](https://user-images.githubusercontent.com/71400981/190348513-a8fc9316-0715-4528-ae45-e5268b67a713.jpeg)

Does this seem fine to you? @M123-dev

[2022-09-15 09:58] monsieurtanuki commented on #2968
I think I've figured it out.

The problem we're trying to solve here is: "on all pages that display data about a product, we want a refresh with the latest locally updated data".

How do data get updated locally?
* either directly by the end user when she changes for instance a category
  * we immediately change the data locally
  * we upload the changes in a background process, then download the

[2022-09-15 13:25] M123-dev commented on #2998
Sounds good to me @AshAman999 but we should still add a pull to refresh gesture just that it's the same behaviour on all edit pages

[2022-09-15 13:26] M123-dev commented on #2984
Looks good @Puja-Kumari-909 but you could change "No image" to something like "Upload a image to automatically extract the provided information."

[2022-09-15 14:12] g123k commented on #2919
It's now OK to migrate back to 3.3.x, as 3.3.2 fixes the text's issue

[2022-09-15 14:22] anshpathania7 opened #3017 "Search Bar showing "empty list" for items not found."
### What
- Whenever you search an item and if it's not available it shows "empty list (country name)" in the search bar

### Steps to reproduce the behavior
1. search a word  such that it has no items

### Expected behavior

To add a more descriptive keyword instead of just "empty list (country name)"

### Screenshot

![Screenshot_2022-09-12-20-04-07-854_org.openfoodfacts.scanner.jpg](https://user

[2022-09-15 15:22] monsieurtanuki opened #3018 "Background + offline incoherences on multiple offline edits"
### What
Assuming that I use the app offline and that I change a product 5 times in a row (changes A, B, C, D and E), there are 5 background processes pending, all on the same product.

When I go online, I may have problems.

- Problem 1: if each process is executed atomically in a queue, after I run processes about A and B, I'll get the server product with changes A and B, but not yet C, D and E.

[2022-09-15 15:24] anshpathania7 commented on #2986
Implemented the fix of this. Do we need to reset the state of select products after back button press? or keep the selected products as it is?

[2022-09-15 15:25] anshpathania7 commented on #2986
Implemented the fix of this. Do we need to reset the state of select products after back button press? or keep the selected products as it is? @M123-dev

[2022-09-15 15:42] anshpathania7 commented on #3018
This sounds similar to performing commits on git.

what if we handle this like priority queue?

All local changes are prioritized over server retrieval.
if new  change is submitted during execution of local changes, it will be added for execution before server retrieval.

if server retrieval is in execution, local changes will be executed afterwards and server will be re-fetched? (not sure about t

[2022-09-15 16:04] M123-dev commented on #2986
For me it's more natualy if the state is reset but that isn't a big priority @anshpathania7

[2022-09-15 16:08] M123-dev commented on #2919
We decided to upgrade to not have to upgrade multiple versions in the future. But not a high priority

[2022-09-15 16:10] anshpathania7 commented on #2986
okay, so I added the reset as well because it seems more practical.

[2022-09-15 16:11] monsieurtanuki commented on #3018
Maybe, I don't understand that much about git - and I don't intend to.

All local changes are prioritized over server retrieval.

Sounds correct, except that we need a decent UX for that - like the "cannot refresh product while there are local changes pending" message I was mentioning before.

How do you do that? For the moment, the background process execution is first the "upload changes" (`asyn

[2022-09-15 16:16] monsieurtanuki commented on #2919
@M123-dev Unfortunately the upgrade has an impact on the code.
So, which version should we upgrade to, and when? Possible answer: we'll think about it again on [specify a date].
For the record I'm part of the 25% of developers that do not rush when there's a new version, according to a recent poll :)

[2022-09-15 16:27] monsieurtanuki commented on #3006
@AshAman999 Failed tasks are indeed a problem, as we update the data locally while not being able to update the server accordingly.

Bouncing on #3018: that would mean that we should be able to apply to local data what a background task is supposed to change for a product.

Instead of saying:
- I apply that change locally, and I plan to apply the same change to the server whenever possible.

Maybe

[2022-09-15 16:27] AshAman999 commented on #3018
@monsieurtanuki
Thanks for raising the concern, what you propose looks good to me

There was something similar like sol 1 in my mind to do

I believe that a mix of sol 1 and sol 3 would work the best,
- we check for the list of pending background processes, we merge the changes for a product, (would be better to have less API calls), and show an error snack bar too, if background task fails.
-  So

[2022-09-15 16:31] anshpathania7 commented on #3018
_upload changes => download product_

- when new local change is added, it's pushed to execute before 'download product'

_upload changes => new_local_changes => download product_

if download is in progress, we can either stop it and perform upload of new_local_changes first

or we can wait for download to complete then perform the flow of upload and download again?

[2022-09-15 16:35] g123k commented on #1630
That's fixed with the current implementation where we filter only barcodes on top of the app.
But in the case, where we have multiples barcodes, it's supported

[2022-09-15 16:35] #1630 closed, assigned to nobody

[2022-09-15 16:36] AshAman999 commented on #3006
@monsieurtanuki
 think this is something similar to what Instagram or LinkedIn does, I think we could do a try catch there, if a task fails in catch statement we could do a fresh call to server and put that product in the localdatabae

[2022-09-15 16:39] monsieurtanuki commented on #3006
And forget about this task? And in case the server is down, you dismiss all the tasks?

[2022-09-15 16:41] #1824 closed, assigned to nobody

[2022-09-15 16:50] abughalib commented on #1286
Can I work on this?

[2022-09-15 16:56] AshAman999 commented on #3006
We do retry it like 5 times , first after 30 seconds, then after 5 mins, then 30 mins, then an hour, then 3 increasing exponentially

[2022-09-15 16:56] monsieurtanuki commented on #3018
We need to update the local changes instantly. Then queue a background process that uploads, then downloads, then stores locally.
Therefore I'm not sure what you suggest (upload _then_ local changes) would work.

I don't think we can stop an `async`, can we?

Sharing views on that issue, I think we should just ignore whatever user data refresh (pull-to-refresh, search) from the server while there

[2022-09-15 16:57] monsieurtanuki commented on #3018
I just want a solution that works - possibly bullet proof. Solution 1 so far looks like a "nice to have" and won't solve the main issue. Which means we can forget it. When all the major bugs are solved, then we can think about it again.

We won't show an error snack bar from a background process. Or with difficulties.

I don't think we need a provider, we just need a notifier. Like `LocalDatabase`

[2022-09-15 17:02] monsieurtanuki commented on #3006
Then my suggestion of preventing the user refresh while there are pending tasks is not compatible, right?

Btw I'm not convinced with the "only 5 times": when number 5 failed, what happens with the local data?
I'm not convinced either with the 3h delay: potential source of data collision.
Not easy indeed.

[2022-09-15 17:09] anshpathania7 commented on #3018
If somehow upload fails, then we'll need to revert back local changes?

yeah, this can be used [CancelableOperation](https://pub.dev/documentation/async/latest/async/CancelableOperation-class.html)

Yeah, can add an indicator on top to let user know that they can't refresh due to background tasks

[2022-09-15 17:28] monsieurtanuki commented on #3006
cc @anshpathania7

[2022-09-15 17:31] monsieurtanuki commented on #3018
That's a good point: I have no idea what we are supposed to do if upload fails.

Yes and no: the server will still process the data, it's just that the returned value on flutter will be irrelevant, right?

Not that easy, as the retry process of background tasks [sometimes waits 3 hours before launching again](https://github.com/openfoodfacts/smooth-app/issues/3006#issuecomment-1248367080).

[2022-09-15 17:46] monsieurtanuki commented on #3018
@teolemon @AshAman999 @anshpathania7 So if I had to sum up today's brainstorming, we are currently stuck with this question:

<< What are we supposed to do when a background "update product" process fails? >>
* retry 5 times, first after 30 seconds, then after 5 mins, then 30 mins, then an hour, then 3 (current implementation)
=> that only delays the answer to the point when it failed 5 times (pos

[2022-09-15 17:48] anshpathania7 commented on #3018
@monsieurtanuki

Yes, it will only cancel async tasks on flutter side, irrespective of Api.
Instead of cancelling we can just let it execute, also are we storing state of these operations every second?
So in case of forced shut down of application we can refer the state saved locally?

This might also be helpful in knowing which tasks were failed so we can revert local changes for it

if 5 retry m

[2022-09-15 18:07] monsieurtanuki commented on #3018
We cannot use slots: we want the data to be uploaded to the server as soon as internet is available.
So that beyond the actual user changes, everyone (including the user) benefits from the impact of the changes (e.g. "ecoscore" computed on the server side after the user added a category to a product and uploaded the change) (and then downloaded its change + the new ecoscore).

[2022-09-15 18:13] anshpathania7 commented on #3018
what if slots are only used for failed upload tasks? (which were failed even after 5 retries)

[2022-09-16 06:56] monsieurtanuki commented on #3018
In those cases I always ask myself: how do other apps do?

It looks like Evernote does it that way:
1. automatic upload of the note if online
2. explicit "not uploaded yet" icon
3. "sync" button
4. manual conflict management in some helpless cases

Which inspires me several things:
* whatever we should do should be on the product level (for instance not a queue for all individual changes, but a qu

[2022-09-16 08:07] teolemon opened #3024 "Adding last edit date for power contributors"
### Problem

- [ ] Adding last edit date for power contributors

<img width="552" alt="image" src="https://user-images.githubusercontent.com/1689815/190589270-f5e8f7e7-2dd7-45e0-8ff9-7f65586d602f.png">

[2022-09-16 09:55] #2998 closed, assigned to AshAman999

[2022-09-16 11:40] anshpathania7 commented on #3018
Sounds good to me, so in queue of changed products, each product will have all changes to that specific product?

(Like queue of Product Object, where Object holds all changes to that product) ?

Yes, adding this globally would be better, like showing it on top of every screen

Or we can explicitly mention to sync local changes first then refresh

[2022-09-16 11:57] anshpathania7 commented on #3024
where to add this in App?

[2022-09-16 11:58] monsieurtanuki commented on #3024
I suggest you put it in edit product page, just under the barcode. That's a good starting point.

[2022-09-16 13:04] monsieurtanuki commented on #2354
So far this is what I managed to code. @teolemon Any strong disapproval about the UI or I can push like that?
| new widgets (bottom) | click on "compute" |
| -- | -- |
| ![Capture d’écran 2022-09-16 à 15 02 17](https://user-images.githubusercontent.com/11576431/190645009-a4d21c61-6cdb-496d-80ba-3c5ea35838df.png) | ![Capture d’écran 2022-09-16 à 15 02 34](https://user-images.githubusercontent.c

[2022-09-16 13:55] teolemon commented on #2354
woooh nice, some little tweaks:
- "Nutrition facts for $quantity"
- replace "g" by "g or L"
- Adding a title and icon with the same structure as the table, with "Nutrition per portion"
- https://fonts.google.com/icons?icon.query=scale
- Add helper text:
  - "Compute nutrition facts for a specific quantity"

[2022-09-16 17:37] monsieurtanuki commented on #3018
@anshpathania7 I'm not sure exactly if we can do that currently, so let's check first!

@AshAman999 @g123k If I've understood well, for the moment there's a queue of background tasks, handled by the task manager. That sounds cool, we just add tasks and let the manager manage.
Unfortunately it looks like we need to be a bit intrusive with the task manager data, as we need to know _from outside of t

[2022-09-16 18:39] AshAman999 commented on #853
I think it was fixed in #3023
Can you have a look here @M123-dev

[2022-09-16 18:40] #1286 closed, assigned to abughalib

[2022-09-16 20:11] g123k commented on #2979
Here is an example of UI
![Image](https://user-images.githubusercontent.com/246838/190725097-e24c2fd5-00c4-46a8-97f3-5a3910b99ff0.png)

[2022-09-17 05:51] M123-dev commented on #853
I guess the whole Gallery was a step in the right direction and I have to say I don't like the looks of a button on every image, but let's ask @teolemon what do you think is the Gallery when clicking on a image easy enouph

[2022-09-17 05:53] #2986 closed, assigned to anshpathania7

[2022-09-17 08:53] teolemon commented on #853
We can close it. I'm still annoyed by the usability of this carousel though, but we have more important topics

[2022-09-17 08:58] #853 closed, assigned to nobody

[2022-09-17 10:58] #2984 closed, assigned to nobody

[2022-09-17 11:02] anshpathania7 commented on #3024
@monsieurtanuki I have implemented this but in case of Null. Should we show the Text as "Not modified yet" or something like this to let user know ?

And should the Text "Last edited at" be Localized?

[2022-09-17 11:04] teolemon commented on #3024
We could add the entry date if that's the case you're in ?

[2022-09-17 11:07] monsieurtanuki commented on #3024
@anshpathania7 Just don't show the `Text` if the timestamp is null (personal opinion).
Of course "last edited" should be localized. So should the dateTime itself, I guess.
@teolemon I think we only have one timestamp in `Product`: `DateTime? lastModified`

[2022-09-17 11:08] anshpathania7 commented on #3024
@teolemon So will it be an extra field named `createdAt` or existing `lastModified` field will have the value of created at?

[2022-09-17 11:10] anshpathania7 commented on #3024
@monsieurtanuki if we don't show `Text` in case of Null, it will be confusing for user, as they won't know if such Text exists or not.

[2022-09-17 11:14] monsieurtanuki commented on #3024
@anshpathania7 It's just my personal opinion: as a user I would prefer to see nothing that a `Text` saying "Last modified: I don't know".
That said, you'd be better off asking @teolemon, who has the experience of the legacy apps.

[2022-09-17 14:47] monsieurtanuki commented on #3018
I think I've found a solution in order to merge all the tasks related to a product.

Today, when we add a task we say something like "for barcode 0123, change category to XXX".
Which means there's a new entry in the task queue, with a key like `0123_CATEGORY` and a value like `category: XXX`.
If later the category is changed again, it will use the same task key `0123_CATEGORY`. Or something like t

[2022-09-17 15:18] M123-dev commented on #3024
I agree the best solution would be to if null change it to "Created at" but until now we can make it not show

[2022-09-17 15:39] teolemon commented on #3024
It's indeed a nice to have, so showing nothing at all is no big deal.
We have creation date ("Product created on XX/XX/XXXX") , and last edit date("Product created on XX/XX/XXXX and last edited on XX/XX/XXX"), so we should have 0 product where we can't show anything, excepted newly created products, when you are offline, and it hasn't been uploaded yet to Open Food Facts (we could show: "This prod

[2022-09-17 15:46] M123-dev commented on #3024
I guess it will always be on off if we are able to enter the edit page. We don't show something like that on the addition page.

But I guess we don't have the creation date in off-dart, do we?

[2022-09-17 16:01] teolemon commented on #3024
- https://github.com/openfoodfacts/openfoodfacts-dart/issues/557 filed

[2022-09-17 16:15] #2354 closed, assigned to monsieurtanuki

[2022-09-17 17:44] AshAman999 commented on #3018
Hello @monsieurtanuki,

The solution you are suggesting does looks promising,
About other things here, like what could be easily done, with the task_manager package
Ahh about the things related to the package task_manager,

We can request details about what was given to the Task object when we scheduled the task,
So at any instant, if a task is not running I can get a list of those tasks from the

[2022-09-17 17:46] AshAman999 commented on #3017
Any suggestions on this @anshpathania7,
What instead would we show here, if you have anything in mind, like maybe a mockup?

[2022-09-17 18:45] monsieurtanuki commented on #3018
@AshAman999 I guess your algorithm makes sense.

That said, the added value of the task manager is to queue tasks and run them when the internet connection is OK. It's supposed to be a black box that does that very well. As we have functional needs that go beyond the standard use of the task manager, we should keep the functional features in smoothie (including the task merge) and the task queuing

[2022-09-17 18:54] teolemon opened #3032 "Permission screen appears on update"
### What
- Permission screen appears on update
- Probably related to the changes in https://github.com/openfoodfacts/smooth-app/pull/2962

[2022-09-18 06:50] AshAman999 commented on #3018
I have done none for now, first I guess if we could refresh views after the background task is done, would be a good start

Then we could do about the consideration of merging changes into one.

[2022-09-18 09:23] monsieurtanuki commented on #3018
@AshAman999 OK, I go on with my changes then. I'll keep you posted.

[2022-09-18 10:03] anshpathania7 commented on #3017
@AshAman999 I think that searchbar should be removed because it's redundant as we're already showing `No products found` in center.

[2022-09-18 15:36] AshAman999 commented on #2294
Fixed in #2971

[2022-09-18 15:36] #2294 closed, assigned to AshAman999

[2022-09-18 15:46] teolemon commented on #2739
@M123-dev I believe we can close

[2022-09-18 15:54] teolemon commented on #2708
I had never assigned you in the end @prathamsoni11

[2022-09-18 16:04] #2739 closed, assigned to nobody

[2022-09-18 16:12] teolemon commented on #2910
Those guys: people in countries with not that many products, and that find the app by chance on the App/Play Stores

[2022-09-18 18:09] anshpathania7 commented on #3018
@monsieurtanuki How is this preventing notifying the app? Like what's the expected behaviour?

[2022-09-18 18:15] monsieurtanuki commented on #3018
@anshpathania7 In short, from the background tasks we have access only to `LocalDatabase`, and we need to notify somehow when a task is finished.

[2022-09-18 18:21] anshpathania7 commented on #3018
@monsieurtanuki This can be easily fixed with a global context I believe, as both LocalDatabase and UptoDateProduct Providers are defined on top level.

[2022-09-18 18:27] monsieurtanuki commented on #3018
@anshpathania7 You may be right, but it's not at all the root of our problems. The whole thing is being rethought, with or without `UpToDateProductProvider`.

[2022-09-19 11:03] teolemon opened #3037 "Make the nutrient search header sticky in the modal"
### What
Make the nutrient search header sticky in the modal
![image](https://user-images.githubusercontent.com/1689815/191003766-606ec79a-f3c1-4c07-aaa3-62f28f17b3f9.png)

[2022-09-19 11:06] teolemon opened #3038 "Issue with the portion calculator in darkmode on my device"
### What
Issue with the portion calculator in darkmode on my device
<img src="https://user-images.githubusercontent.com/1689815/191003916-c506ec5d-8485-4cd4-bbc2-b329364ff0ca.png" height="400px">
Link for a scannable barcode: barcode-3276558083858

[2022-09-19 13:41] #3038 closed, assigned to monsieurtanuki

[2022-09-19 14:01] g123k commented on #2741
The feedback we have seem to indicate that the issue is now fixed with the alternative mode.
I will work on a PR to enable the alternative mode by default and make the current one available in the settings.

[2022-09-19 18:20] #3037 closed, assigned to AshAman999

[2022-09-20 09:54] teolemon opened #3042 "On a French device, with French and France as settings, product_name is saved as product_name_en"
### What
- https://world.openfoodfacts.net/product/3019081238643/net-sardines-with-a-delicious-api-slice-%F0%9F%8D%95
- On a French device, with FRench and France as settings, product_name is saved as product_name_en while product_name_fr already existed
- https://world-fr.openfoodfacts.net/produit/3019081238643/sardines-a-l-huile-d-olive-with-a-delicious-api-slice-%F0%9F%8D%95

[2022-09-20 10:05] teolemon opened #3043 "Infinite loop while uploading packaging image for new product"
### What
- Infinite loop while uploading packaging image for new product

### Steps to reproduce
- Add new product
- Add packaging photo
- Click confirm
- See snackbar
- Wait for snackbar to disappear and unblock confirm button
- Click confirm again
- Loop forever

### Screenshot
<img src="https://user-images.githubusercontent.com/1689815/191228511-9f429355-32b0-4045-99d6-702c4575ec45.png" height=

[2022-09-20 10:24] teolemon opened #3044 "test"
test

[2022-09-20 10:24] github-actions[bot] opened #3045 "👍 Top Issues Dashboard"
A simple dashboard that lists the top issues/bugs/features and pull requests.

## Top issues <a href="#top-issues" id="top-issues"/>

1. #7241 :+1:`2`
2. #6550 :+1:`2`
3. #5628 :+1:`2`
4. #1392 :+1:`2`
5. #7473 :+1:`1`
6. #7437 :+1:`1`
7. #7349 :+1:`1`
8. #7232 :+1:`1`
9. #7221 :+1:`1`
10. #6566 :+1:`1`
11. #6544 :+1:`1`
12. #6531 :+1:`1`
13. #6530 :+1:`1`
14. #6142 :+1:`1`
15. #5007 :+1:`1`
16. #

[2022-09-20 10:26] teolemon commented on #3045
@M123-dev @stephanegigandet @monsieurtanuki @AshAman999 fyi, a little test

[2022-09-20 10:44] monsieurtanuki commented on #3042
I guess it's because we don't put the language and country when we save the "minimalist" product in `AddBasicDetailsPage`:
[code]

Or maybe we should populate `product.productNameInLanguages` instead.

[2022-09-20 10:45] teolemon commented on #3006
@stephanegigandet says "spotted an issue with the nutrition edit, maybe a known bug : if i switch to serving, it removes all values, except the energy in kcal"

[2022-09-20 10:50] teolemon commented on #3042
The second option would start our journey towards multilingual edition #2514

[2022-09-20 10:51] #3044 closed, assigned to nobody

[2022-09-20 10:56] teolemon opened #3046 "Nutrition edit - If i switch to serving, it removes all values, except the energy in kcal"
@stephanegigandet says "spotted an issue with the nutrition edit, maybe a known bug : if i switch to serving, it removes all values, except the energy in kcal"
He adds: "in fact on another product, switching changed all values to the serving values (i guess there was a serving size), but not the kcal one"

[2022-09-20 11:17] teolemon opened #3047 "Harmonize the search modals"
### What
- Harmonize/Factor the search modals

### Screenshots
<img src="https://user-images.githubusercontent.com/1689815/191244009-a797aa27-b62b-4314-aad0-09207f7abd58.png" height="400px">
<img src="https://user-images.githubusercontent.com/1689815/191244035-b6dd7dd2-f501-4186-9d51-207991274a95.png" height="400px">
<img src="https://user-images.githubusercontent.com/1689815/191244151-d13106eb-47

[2022-09-20 11:47] monsieurtanuki commented on #3046
In fact there seems to be confusion with the server data and the way we use it in off-dart.

Let's have a look at https://fr.openfoodfacts.org/produit/3175680011480/sesame-gerble
![Capture d’écran 2022-09-20 à 13 33 58](https://user-images.githubusercontent.com/11576431/191247295-a7e59dbf-9972-496b-986f-e505437b0925.png)

And what about the "raw" data (https://fr.openfoodfacts.org/api/v2/product

[2022-09-20 12:30] teolemon opened #3048 "Newly Product is not added to the carousel or history"
### What
- Newly Product is not added to the carousel or history
- Is that related to the way we send the product through WorkManager ?

### Steps to reproduce the behavior
1. Add a product
2. Click on Validate
3. Nothing happens

[2022-09-20 15:33] AshAman999 commented on #2977
The Extract button isn't here when there is no picture,

![image](https://user-images.githubusercontent.com/57723319/191300866-72c855d7-533f-486d-8af5-8203099436be.png)

@teolemon  I think it got fixed in #3026 ,
Perhaps it could be closed now

[2022-09-20 15:52] M123-dev commented on #3047
@AshAman999 what we talked about, feel free to unassign if you are interested

[2022-09-20 15:53] M123-dev commented on #2977
I think he meant on the product addition page, or when you first send a picture via the photo manager  then we should directly ask to verify the generated data

[2022-09-20 16:24] AshAman999 commented on #2977
This makes sense and could be added by just checking if the URL for the ingredient image is null.
Perhaps I  could do it, should I go for this approach?

[2022-09-20 16:28] AshAman999 commented on #3017
Any suggestion on this one @M123-dev, @teolemon  ??

[2022-09-20 16:46] M123-dev commented on #2977
Sure go ahead @AshAman999

[2022-09-20 16:46] M123-dev commented on #3017
I think you mean the "Empty list" card, if so I agree

[2022-09-20 19:33] #1963 closed, assigned to M123-dev

[2022-09-21 05:54] xmha97 opened #3053 "F-Droid"
Please add this app to the F-Droid.

[2022-09-21 06:13] xmha97 opened #3054 "AppShortcuts"
Please add AppShortcuts.

![Screenshot_2022-09-21-10-42-10-168_com.miui.home.jpg](https://user-images.githubusercontent.com/23485114/191427853-07dd5c14-ab20-4c6c-a371-b1d7e78d3ab8.jpg)

[2022-09-21 08:54] M123-dev commented on #3053
Thanks for this issue @xmha97 we are working in it. This is tracked in https://github.com/openfoodfacts/smooth-app/issues/1882

[2022-09-21 08:55] #3053 closed, assigned to nobody

[2022-09-21 13:32] teolemon commented on #3054
- @xmha97 @M123-dev It's probably #921

[2022-09-21 18:29] anshpathania7 commented on #3017
Yes, I think this can come under a good first issue too right?

[2022-09-21 18:38] M123-dev commented on #3017
Sounds good @anshpathania7 👍🏼

[2022-09-21 18:49] #2977 closed, assigned to nobody

[2022-09-21 20:51] VaiTon commented on #3054
Yes it is. Closing in favour of that one.

[2022-09-21 20:51] #3054 closed, assigned to nobody

[2022-09-21 22:27] xmha97 opened #3058 "Support landscape mode"
### What
- Support landscape mode

[code]

### Part of
- #1171
- #2063

[2022-09-22 03:25] AshAman999 commented on #3043
Click confirm again

Weird is that it should go back to the previous screen, not stay on the same page when u first did press the confirm button,
Can't seem to recreate the bug, can you plz just screen record it, if it's reproducible

[2022-09-22 03:27] AshAman999 commented on #3046
So it's an off-package bug, we might create an issue there for this.

[2022-09-22 07:13] M123-dev commented on #3043
@AshAman999 there is a video in #mobile-app in slack

[2022-09-22 09:00] teolemon commented on #3058
Can you clarify where you'd like landscape mode and why ? Are you talking about a computer, a tablet, a phone ?

[2022-09-22 11:02] AshAman999 commented on #3043
Are you talking about the one sent by thomas , I can't find the video for this loop issues, if you could mention me over there?!

[2022-09-22 16:19] teolemon opened #3060 "Check that the password is still correct on app startup"
### Why
- Some users change their passwords on the website
- There's currently no way to change password from the app when logged in
### What
- Check that the password is still correct on app startup
- Otherwise, edits are going to be silently refused by the server
- Ensure that this features does not create scary messages when the server is down

[2022-09-22 18:46] monsieurtanuki commented on #3046
@AshAman999 Indeed. That may have a side-effect on Smoothie, as we currently rely on the tags to populate/copy the nutrient fields.
We probably need some kind of `copyWith` or `merge` method. But definitely, we should fix the tag in off-dart first.

[2022-09-23 07:54] alexgarel commented on #3063
@teolemon, not sure if it's about this project or mobile application ?

[2022-09-23 08:09] M123-dev commented on #3063
Don't we have this already

[2022-09-23 08:21] monsieurtanuki commented on #3046
That's not that easy as the data is not consistent - for another barcode I don't have the `energy-kcal_serving` item:
https://fr.openfoodfacts.org/api/v2/product/7300400481588
[code]

@stephanegigandet Are there reliable data for nutrient serving values? Should we only consider "100g", and cross-multiply with the serving size in grams?

[2022-09-23 08:27] monsieurtanuki commented on #1307
The problem is that we don't have enough space for 4 columns (3 columns is the apparent limit):
1. nutrient name
2. value per 100g
3. value per serving
4. comparison

I guess we could easily add a switch (serving / comparison) on top of the table.

The display would then either be:
1. nutrient name
2. value per 100g
3. value per serving

or
1. nutrient name
2. value per 100g
4. comparison

[2022-09-23 08:30] monsieurtanuki commented on #3063
I think we do; at least, several "simple inputs" are on the same page.

[2022-09-23 08:53] teolemon opened #3064 "Add a simple link to Hunger Games in the Contribute section"
### What
- Add a simple link to Hunger Games in the Contribute section
  - "Answer questions, help food transparency progress"
  - https://hunger.openfoodfacts.org

[2022-09-23 12:00] monsieurtanuki commented on #2646
@teolemon As mentioned in #3059, we could add a visual badge stating that the product recent local changes haven't been uploaded yet.
Automagically, the badge will disappear when the data is upload/downloaded/stored locally.

[2022-09-23 14:32] AshAman999 commented on #3064
Let's add the Hacktoberfest tag too,
And add the description and mockup for the same
To let a beginner contribute to this one

[2022-09-24 15:26] raphael0202 opened #3065 "On Robotoff question, display the image that triggered insight creation"
### Steps to reproduce the behavior
1. Go to this product 3335880004990
2. Click on Robotoff question link
3. The displayed image (weight insight) is not the one from which the insight was created from. It makes it difficult to know whether the insight is true or not.

### Expected behavior
We should display (as first image at least) the image where the information comes from. This data is availab

[2022-09-24 15:45] monsieurtanuki commented on #3065
Hi @raphael0202!
I'm not familiar with Robotoff, but that is what we get as a robotoff question:
[code]

What you suggest is to display `imageUrl` first in the image list if it is not null, am I right?
Or even to display _only_ `imageUrl`, or all the images if null?

For the moment we don't use `imageUrl` and always display the same "image carousel" (cf. `QuestionPage`):
[code]

[2022-09-26 13:30] stephanegigandet commented on #3046
@monsieurtanuki : here is how it works:

- users can specify data either for 100g/100ml, or per serving (but not both). This is recorded in this field: nutrition_data_per: "100g" (or "serving")
- Depending on this nutrition_data_per, the values are stored in fields like energy-kcal_100g  or energy-kcal_serving
- IF we also have a serving_quantity field (itself derived from serving_size), then we c

[2022-09-26 13:32] stephanegigandet commented on #3046
in addition: we can also store data for the "prepared" product (e.g. chocolate powder + milk). If that's the case, there are extra fields that contain "_prepared". (e.g. https://world.openfoodfacts.org/product/3033710065967/nesquik-cacao-nestle )

[2022-09-26 16:22] M123-dev opened #3066 "Sentry is failing in Post-submit CI (transaction.addMeasurements)"
### What
https://github.com/openfoodfacts/smooth-app/actions/runs/3127256707/jobs/5073681642#step:9:437

[code]

[2022-09-27 11:12] prathamsoni-devcode commented on #3064
@teolemon @AshAman999 can I work on this issue

[2022-09-27 12:20] prathamsoni-devcode commented on #2708
@g123k
@teolemon
adding padding to nutriscore panel is possible. But after that it is not possible to add padding to each and individual item in that list. It will affect other items.

Adding padding to back button is done.

[2022-09-27 12:22] prathamsoni-devcode commented on #2708
Sorry due to exams I was not available but now exams are completed 😀.

[2022-09-27 14:00] M123-dev commented on #3064
Perfect @prathamsoni11, I assigned you

[2022-09-27 14:07] prathamsoni-devcode commented on #3064
@M123-dev is that ok should I commit this

![Screenshot_2022-09-27-19-36-08-129_org.openfoodfacts.scanner.jpg](https://user-images.githubusercontent.com/75238158/192548964-1e0b4e0f-8032-4751-a3ed-0b5aba700be0.jpg)

[2022-09-27 14:15] AshAman999 commented on #3064
@prathamsoni11
You can raise a pr, but I don't want to mess up with Mr monsieurtanuki ' s existing pr #3059,
 I would prefer to merge it after that, or maybe if it is not to cause any merge conflicts

[2022-09-27 14:33] M123-dev commented on #3064
Looks good to me @prathamsoni11

[2022-09-27 14:35] prathamsoni-devcode commented on #3064
Thank you sir @M123-dev

[2022-09-27 14:45] abughalib commented on #1239
Can I be assigned, I'm already working on it.

[2022-09-27 14:47] AshAman999 commented on #1239
Sure go ahead !!!

[2022-09-28 09:43] teolemon opened #3074 "Internal release on every commit is failing"
### What
- Internal release on every commit is failing

![image](https://user-images.githubusercontent.com/1689815/192746661-d1c33b00-6881-40f0-973b-2f3417ec601c.png)

[2022-09-28 11:11] teolemon opened #3075 "United kingdom is missing a capital K"
### What
United kingdom is missing a capital K
![image](https://user-images.githubusercontent.com/1689815/192764786-25ff3de5-7447-477e-8c1c-71f638e13402.png)

[2022-09-28 12:24] AshAman999 commented on #3075
Can be fixed by correcting the

- [ ]  app localizations (translations )

- [ ] maybe just capitalizing the first letter for every word

What should be it?

[2022-09-28 15:38] M123-dev opened #3076 "Show high quality image version even for non selected images in gallery"
### What

We got a review:

I (with help of a translator) guess that he things that the app is uploading these pixelated images.

We should definitely show the high res images when opening the full view of any image

[2022-09-28 15:38] M123-dev commented on #3076
@VaiTon can you help with that

[2022-09-28 15:40] M123-dev commented on #3076
Dublicate of #2960

[2022-09-28 15:40] #3076 closed, assigned to nobody

[2022-09-28 15:40] M123-dev commented on #2960
So here @VaiTon could you help with that?

[2022-09-29 07:55] monsieurtanuki commented on #3075
I suggest a simple "replace 'kingdom' with 'Kingdom'".

We have no control over the translations, which are provided by `Locale` on Android (https://github.com/anoop4real/flutter_iso_countries/blob/master/android/src/main/kotlin/com/anoop4real/iso_countries/IsoCountriesPlugin.kt#L95-L99) and `CountryDataStore` on iOS (https://github.com/anoop4real/flutter_iso_countries/blob/master/ios/Classes/Swif

[2022-09-29 09:08] monsieurtanuki commented on #3046
Thank you @stephanegigandet!

So if I sum up, input-wise:
* in most cases, there's only one input column (nutrient values), for the "product as sold", with a boolean "per 100g" / "per serving", that will populate directly fields like `energy-kcal_100g` or `energy-kcal_serving`
* in exceptional cases, there's another input column (nutrient values), for the "product as prepared", with a boolean "per

[2022-09-29 09:54] monsieurtanuki commented on #3046
@teolemon That means in a first approach that the current UI is slightly wrong (let's assume that there's no "as prepared" data first):
* when on the nutrient screen we switch from "100g" to "serving", nothing should happen (no value should disappear)
* when we click on the "save" button, only the "100g" (OR the "serving") data should be saved (the rest should be `null`ed)

For the "as prepared" d

[2022-09-29 09:57] monsieurtanuki commented on #3064
Done by @prathamsoni11's #3068.

[2022-09-29 09:57] #3064 closed, assigned to prathamsoni-devcode

[2022-09-29 10:24] mbaimuratov commented on #2631
Hello! Let me try this one :)

[2022-09-29 10:55] monsieurtanuki commented on #2631
@mbaimuratov Sure, you can start to work on it!
But before you actually code anything, how do you plan to deal with the potential problems I've mentioned?

[2022-09-29 14:57] stephanegigandet commented on #3046
Hi @monsieurtanuki , your summary and additional investigations are correct.

I saw that, wonderful. Thank you!

[2022-09-29 20:05] M123-dev commented on #2651
A few days ago I read an article about the first (?) testing framework for flutter. Seems promising: https://patrol.leancode.co/

I won't have time to work on it for some time though if anyone is interested feel free to try it out and maybe even start imlepemeting, maybe @abughalib or @AshAman999 if you are interested

[2022-09-30 15:58] abughalib commented on #2651
I would definitly look into it, but for now, @AshAman999 and I have university examinations going on.
We should be free by 20 Oct.

[2022-09-30 19:50] WildOrangutan commented on #3017
Hey, I would like to work on this. Can you assign it to me please?

[2022-09-30 20:04] WildOrangutan commented on #2976
I can work on this.

I guess instead of `✔️ basic details added successfully`, it should be `basic details added successfully ✅`, right?

[2022-10-01 03:49] AshAman999 commented on #2976
Yeah , would work fine

[2022-10-01 12:05] #3060 closed, assigned to AshAman999

[2022-10-01 14:07] prathamsoni-devcode commented on #2979
Can I work on this issue? @g123k @teolemon

[2022-10-01 15:17] WildOrangutan commented on #2974
I can work on this. How should icon look like? I'm scratching my head, what kind of icon to replace it with? Did you had something in mind?

Maybe any of following?

![image](https://user-images.githubusercontent.com/5972966/193416168-2bd9dc07-a843-4881-ab53-4771eeaa9dec.png)
![image](https://user-images.githubusercontent.com/5972966/193416195-7ddd0055-37b7-4cc3-a38e-1d0622164a5e.png)
![image](htt

[2022-10-01 15:38] WildOrangutan commented on #2604
Doesn't seem to be an issue anymore?

![image](https://user-images.githubusercontent.com/5972966/193417019-f2e79d0e-7b55-42f2-9ad1-452acf063d6b.png)

[2022-10-01 15:44] WildOrangutan commented on #770
I can work on this

[2022-10-01 16:51] WildOrangutan opened #3082 "Product search shows no results after swipe-refresh"
### What

On search product screen, swipe-refresh shows no results, when results are found.

### Steps to reproduce the behavior

1. Search a product -> shows list of products
2. Swipe-refresh -> shows no results

[untitled.webm](https://user-images.githubusercontent.com/5972966/193419601-9dcd26b7-0707-4569-8533-c949165b854b.webm)

### Smartphone model
 - Device: Emulator
 - OS: API 29
 - App Vers

[2022-10-01 16:51] WildOrangutan commented on #3082
Feel free to assign me to fix this

[2022-10-01 18:00] WildOrangutan commented on #2989
Seems like this was already addressed?

![image](https://user-images.githubusercontent.com/5972966/193422242-afb84e13-449b-437d-a4c3-50080208638a.png)

[2022-10-01 18:38] M123-dev commented on #2979
@prathamsoni11 I think @juliethangeldeveloper is already working on it in #3030 but I don't know the current status of it

[2022-10-01 18:39] M123-dev commented on #2974
I prefer the middle one "Check" maybe even in green @WildOrangutan

[2022-10-01 18:41] M123-dev commented on #2604
It probably depends on the screen size, when you run the project locally @WildOrangutan you should be able to emulate different sizes with a button on the bottom left. @teolemon do you remember on which device the problem occured

[2022-10-01 18:41] M123-dev commented on #770
Great @WildOrangutan

[2022-10-01 20:52] WildOrangutan commented on #2960
Can assign this issue to me please? :)

[2022-10-02 07:35] M123-dev commented on #2960
Sure @WildOrangutan 👍🏻

[2022-10-02 11:25] #3075 closed, assigned to AshAman999

[2022-10-02 12:34] g123k opened #3084 "[Planning] Modularization of the codebase"
Hi everyone,

To allow us to have non-MLKit versions, or the ability to deploy outside the Google Play on Android, we need to change how the codebase is currently designed.

- [x] The current `smooth_app` folder which refers to the app, will now be a module #3101
- [x] A new folder `app` will contain several entrypoints explaining which version we want to use (eg: MLKit + Google Play, Zxing + FDro

[2022-10-02 12:36] g123k commented on #3084
Since step 1 will basically require changing most of the files, we should "freeze" the codebase during this migration and refuse all PRs.

What's the best moment to do this? (on my side, I'm unavailable until this Thursday)

[2022-10-02 13:14] VaiTon commented on #2960
This should be the method that downloads the images:
https://github.com/openfoodfacts/smooth-app/blob/602b659f86bcc78fe7281423774d000b9b2a0325/packages/smooth_app/lib/pages/product/product_image_gallery_view.dart#L229

[2022-10-02 13:16] monsieurtanuki commented on #3084
Hi @g123k!

We discussed this yesterday and I believe we could be rather relaxed about step 1, as the impact would be on code lines we rarely change.

Just checking: for the following code, would it be as easy as adding `package: 'smooth_app'`?
[code]

If so, we have no reason to delay your PR about step 1.
If the impact is a bit larger, please reply with a sample of how you would change the code

[2022-10-02 18:38] WildOrangutan commented on #770
Scratching my head how to address this. This falls into category of auto-correct. In this case it was a missing space after comma, but it may as well be mistyped brand name.

I could take "bob is your uncle" approach, and simply add space after comma, when user inputs text. But that seems hacky to me, since comma is not universal between languages.

Am I overthinking this?

[2022-10-03 08:23] monsieurtanuki commented on #770
I would just make sure that each comma is followed by one and only one space, at display time.

[2022-10-03 16:12] #1239 closed, assigned to abughalib

[2022-10-03 16:14] #2974 closed, assigned to nobody

[2022-10-03 16:14] #2975 closed, assigned to nobody

[2022-10-03 16:14] #2976 closed, assigned to WildOrangutan

[2022-10-03 16:17] #3017 closed, assigned to WildOrangutan

[2022-10-03 16:48] #2979 closed, assigned to nobody

[2022-10-03 17:54] VaiTon commented on #770
Yeah exactly. @WildOrangutan you could try to split at ','; trim every string and then join to a string with ', '. If we fail we just display the original value.

[2022-10-04 05:40] prathamsoni-devcode commented on #2989
Should this be used to be designed like this?

[2022-10-04 07:11] M123-dev commented on #2989
It's interesting that this doesn't happen on your devices. I still have this problem in 3.20.0+740 (lastest merged pr from yesterday), probably again something which is depending on the screen size

[2022-10-04 07:15] #3047 closed, assigned to AshAman999

[2022-10-04 11:30] AshAman999 commented on #921
@teolemon  , @M123-dev
Found a package by the flutter team, should I try this one here ?
https://pub.dev/packages/quick_actions

[2022-10-04 11:33] M123-dev commented on #921
Sure @AshAman999 but I don't know how far we can go with it without navigator 2.0

[2022-10-04 14:23] M123-dev commented on #2351
https://github.com/openfoodfacts/smooth-app/pull/2801

[2022-10-04 15:25] Jagrutiti opened #3096 "Android app give no option to extract nutrition/ingredients from image when nutrition/ingredients image is uploaded"
### Describe the bug

- I was adding this product in the Android app: https://world.openfoodfacts.org/product/8904052566069/vanilla-ice-cream-dinshaw
- I uploaded the `nutrition` image. But it did not give me an option to extract nutrition data from the image. I only had the option to add it manually. As far as I remember, earlier, there was an option to extract nutrition data from the image itsel