[2021-04-09 10:55] monsieurtanuki opened #310 "UI bug? SmoothProductImage with different sizes"
In https://github.com/openfoodfacts/smooth-app/commit/8d6f045cc0d8a6c8b491af43dca6f438c33af863 (about "responsive design") some code changed: `width` and `height` were replaced with `maxWidth` and `maxHeight` in `SmoothProductImage`.
I don't know if it was the original goal, but now the products don't share the same dimensions.
Given that we have no control on the product pictures, it means we can

[2021-04-09 11:06] M123-dev commented on #310
Ohh did not noticed that, I dont like it so either, but providing a fixed size will probably cause issues on different screen sizes. Ill try to fix it

[2021-04-09 11:07] monsieurtanuki commented on #310
I'm not talking about a fixed size. I'm talking about the same size for all displayed items.

[2021-04-09 11:10] M123-dev commented on #310
Just width or also height

[2021-04-09 11:14] monsieurtanuki commented on #309
My own opinion:
* if I can avoid google, I avoid google
* given the current state of the UX and the current number of users, I wouldn't say that bug capture or UX statistics is a priority

[2021-04-09 11:26] teolemon commented on #310
The human brain puts a premium on regularity.
We should
- [ ]  take the whole width of the screen for the suggestions
- [ ] create a grid (vertical line for all the text, which start at the same point) to create regularity
- [ ] Center the images on the left column

[2021-04-09 11:28] teolemon commented on #310
it should be the same size (width and height) for all the cells containing the images ?

[2021-04-09 12:09] M123-dev commented on #310
@teolemon/ @monsieurtanuki, this is my first attempt. I am not cinvinced by the blur effect behind the images but I cant think of a better alternative,

![Screenshot_1617970079](https://user-images.githubusercontent.com/39344769/114177703-01f7bd80-993d-11eb-8657-786a016f536d.png)

[2021-04-09 12:12] M123-dev commented on #309
Avoiding google in flutter is going to be hard 😉

[2021-04-09 12:35] M123-dev opened #312 "Food category error"
When browsing through them I often get this error displayed instead of showing the items in the specific categories.

[2021-04-09 13:15] monsieurtanuki commented on #312
@M123-dev Please be more specific: which categories?

[2021-04-09 13:31] M123-dev commented on #312
In a few, for example in the whole `Fisch, meat and eggs` section but the Beverages work

[2021-04-09 19:46] monsieurtanuki commented on #310
For the record, what @M123-dev implemented is very similar to the behavior of google search (which can be considered as a reference, can't it?): not full screen width, and hovering over the rest of the screen.
I also assume that the width of the suggestions depends on (and cannot be greater than) the width of the text field.

The initial expressed requirement ("text field with automatic suggestion

[2021-04-09 21:30] M123-dev commented on #310
The UI can of course still be fine-tuned, what I wonder, @stephanegigandet , are the suggestions only for the search suggestions or also for the photos in the cards. There the images still have different heights.

As @monsieurtanuki correctly assummed, the size of the suggestion popup depends on the size of the text field. To get the size to full width we would have to remove all padding and a sma

[2021-04-10 12:33] M123-dev commented on #216
I also think that the buttons are a bit hard to understand.

1: What does the `Grocery` button do?

2: `Copy` copies all products in the list or did I misunderstand. Wouldn't it be smarter to be able to select individual products with a long press like in messengers or in the android file explorer and then delete/copy/move them?

3: Clear is not so important in my opinion. We already have delete l

[2021-04-10 12:34] M123-dev commented on #216
![Screenshot_20210410-143334_My Files.jpg](https://user-images.githubusercontent.com/39344769/114269928-ce369980-9a09-11eb-9acd-c1b23ac5103b.jpg)

[2021-04-10 16:54] monsieurtanuki commented on #297
Fixed by #301 and #313.

[2021-04-10 16:54] #297 closed

[2021-04-10 17:16] monsieurtanuki commented on #216
"Grocery" was a try to "export" a list of products as a list of short one-product-per-line items, e.g. a shopping list.
It was just a kind of POC, it can be removed or upgraded to something more elaborated.

I don't share your views on "clear": it's not the same as "delete" because after you need to create a new list, put the same name, put the same icon, put the same color. I agree that it may no

[2021-04-10 20:40] M123-dev commented on #216
@monsieurtanuki I understand your your thoughts, but I am still not completely convinced.

As a reference Samsung has a clipboard which saves everything. Copied texts, screenshots...

I don't use this feature and neither does anyone I know. A clipboard is as the name implies only a storage for a short time also
I have not seen anything like that in other apps.

To copy/move products between lists

[2021-04-10 21:25] yarons opened #317 "Use intl package for plural forms"
https://github.com/openfoodfacts/smooth-app/blob/c535037ea373d40e5fa3f3acf9b64bcd62f082c3/packages/smooth_app/lib/pages/product/common/product_query_page_helper.dart#L53

These kind of cases are not so easy to manage and translate plus some languages need the parameter, can you please take a look here?
https://api.flutter.dev/flutter/intl/Intl/plural.html

Thanks.

[2021-04-10 22:02] M123-dev commented on #317
Thanks for your issue @yarons,

I suppose you mean that in some languages it is not possible to write the time in front and it would be better to put it as a variable in the translation. Am I right?

[2021-04-10 22:27] M123-dev commented on #310
I finetuned a bit in #311

I left the corners and the blur, the rounded corners because everything in the app has rounded corners, and without the blur the images would have different sizes again (when we dont want to crop them)

<details>

![Screenshot_1618092853](https://user-images.githubusercontent.com/39344769/114285957-54c79700-9a5b-11eb-9fb9-ff657c2c4015.png)

</details>

[2021-04-11 07:25] yarons commented on #317
There are many challenges, In Hebrew we have singular, dual and plural, Arabic and Polish has 6 potential plural forms, in Ukrainian there's a special singular form that applies for 1, 11, 21 etc. (not just 1 like in most language).

[2021-04-11 07:31] monsieurtanuki commented on #310
@M123-dev Looks good to me!
It fixes the issue (product image size and ratio) and answers an additional requirement by @teolemon about width.

[2021-04-11 08:04] monsieurtanuki commented on #216
Hey @M123-dev, you're cheating, and for two reasons! ;)
We were mainly talking about lists, not about the product page: in your screenshots there's a list of products, that we can select/unselect. And we were not talking about the scan part either.
Of course from the product page it can be a bit different, the "after the scan" question is interesting too, but we would still have the pantry problem

[2021-04-11 09:25] monsieurtanuki commented on #317
Btw I'm not sure we actively support RTL languages for the moment - at least I can't remember reading anything related in the code.

[2021-04-11 10:36] M123-dev commented on #317
@monsieurtanuki, yes you're right, we have not done anything about this. But I think I read that flutter automatically support such usecases.

I found a possible solution in a publicly shared flutter document [here](https://docs.google.com/document/d/10e0saTfAv32OZLRmONy866vnaw0I2jwL8zukykpgWBc/edit#) but cant finde anything about this in the documentation.

[code]

[code]

---------------

In the

[2021-04-11 10:57] M123-dev commented on #216
@monsieurtanuki, yeah, that's what I meant.

[2021-04-11 10:59] M123-dev commented on #310
I think we are ready to close this. The main problem of this issue the difference of the picture size in the searchbar and most the other mentioned things are now updated in #311

[2021-04-11 10:59] #310 closed

[2021-04-11 13:53] monsieurtanuki commented on #216
A long click on a product in a pantry would display a new specific multi-select/action screen looking a bit like https://pub.dev/packages/multi_select_item:
![](https://i.imgur.com/y0L5eSi.gif)

[2021-04-11 15:41] M123-dev commented on #216
Looks great UI/UX, I only wonder, the package does not support null-safety and only supports Android and ios although it should be only dart.

We can probably build something like this ourselves.

A selectedCardIndex List

Gesturedetector onLongPress -> select

Gesturedetector onTap select or open ProductPage depending on the list.lenght

The ListTile widget can even be set to selected. But I don'

[2021-04-11 17:17] monsieurtanuki commented on #216
@M123-dev Oh it was just a visual example, there's no reason to use specifically that library, or to use a library at all.
My answers:
* onTap should always open product page
* onLongPress should open a new page with a fat-free version of the list of products (cf. the suggestions), with the clicked-on product pre-selected
* I don't know either what a selected ListTile means. Anyway, as we use ligh

[2021-04-11 18:11] M123-dev commented on #317
Ok it tested a bit. The first method is working but turns out flutter_localizations uses dart-lang/intl under the hood which only allows

zero, one, two, many, few, other. But I am not able get many and few

[2021-04-12 05:53] yarons commented on #317
This way or are you using a different syntax?
{count,plural, =0{no wombats} one{a single wombat} many{wow! look at all these wombats} other{{count} wombats}}

[2021-04-12 07:30] M123-dev commented on #317
Exactly, its 1 not one and many is not in use, but yeah. Have a look at #319.
Is it that what you expected?

[2021-04-12 07:46] yarons commented on #317
That's wonderful but you can keep the static part out instead of repeating it, so this:
`"plural_ago_minutes": "{count,plural, =0{Cached results from: less then a minute ago} =1{Cached results from: one minute ago} =2(Cached results from: two minutes ago} other{Cached results from: {count} minutes ago}}",`

(Also notice the right after =2 there are parentheses instead of curly brackets and then=>t

[2021-04-12 08:05] M123-dev commented on #317
@yarons the way you suggested it unfortunately does not work, the `Cached results from:` part will be skipped.

We could also put this String together in the code (from multiple translations), but I think the method we have at the time will make it easier for the translator.

[2021-04-12 08:42] yarons commented on #317
Seriously? The `ago` part as well? OK then, I'm guessing this approach is good enough, weird though…

[2021-04-12 10:15] monsieurtanuki commented on #216
@M123-dev Is that OK with you if I start to code or have you already started something?

[2021-04-12 10:23] M123-dev commented on #216
@monsieurtanuki feel free to start. Looking forward to your pr

[2021-04-12 10:43] #317 closed

[2021-04-12 10:44] M123-dev commented on #312
Working again, probably a serverside error

[2021-04-12 10:44] #312 closed

[2021-04-12 10:48] #229 closed

[2021-04-12 12:22] monsieurtanuki commented on #216
So far so good:
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-12 at 14 21 55](https://user-images.githubusercontent.com/11576431/114393568-711e1d80-9b9a-11eb-904f-ec1581de61a7.png)

[2021-04-12 17:04] monsieurtanuki commented on #216
And the next screen - when you tap on "copy":
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-12 at 19 02 24](https://user-images.githubusercontent.com/11576431/114433030-9f632380-9bc1-11eb-885a-9995797e85e6.png)

[2021-04-14 14:44] M123-dev opened #322 "Create pantry/shopping list error"
When you create a pantry or a shopping list, you get redirected to the corresponding page and get this error. After going back and opening the page by hand it works.

[code]

[2021-04-14 17:01] monsieurtanuki commented on #322
@M123-dev Thanks, I've managed to reproduce the bug.
I'll have a look at it.

[2021-04-14 17:15] monsieurtanuki commented on #322
Fixed by #323. It seems to work - feel free to reopen if needed.

[2021-04-14 17:15] #322 closed

[2021-04-14 17:18] monsieurtanuki commented on #277
@teolemon As far as I can test, it looks OK now, doesn't it?

[2021-04-14 17:22] monsieurtanuki commented on #216
@teolemon We don't use bottom navigation bars for product lists anymore.
Please feel free to play with the less visible but more standard (with long press) way to multi select products, copy them and delete them.

[2021-04-14 17:23] monsieurtanuki commented on #215
Closed: this long press menu has been removed.

[2021-04-14 17:23] #215 closed

[2021-04-16 11:25] monsieurtanuki commented on #216
And now with more flexibility - we can create a product list to copy products to, at copy time:
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-16 at 13 23 43](https://user-images.githubusercontent.com/11576431/115017538-f8c79d00-9eb6-11eb-9ba1-2b6b8dafb7de.png)

[2021-04-16 16:15] monsieurtanuki opened #326 "Simplified list display in home screen"
The home screen starts with a food search form.

Then, there are 3 blocks, each related to a kind of list: product lists, pantries and shopping lists.
The problem is that it takes a lot of space, and without any added value because it's not that easy to understand the difference between those 3 concepts.
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-16 at 17 56 06](https://user-images.githubus

[2021-04-16 16:32] stephanegigandet commented on #326
I agree that the 3 blocks take a lot of space, so one block would be good. But then it could get very crowded, if I make lots of lists.

I think a good way to solve that would be to use tabs : "Favorites | Pantry | Shopping lists". Then we display only the lists for the selected tab. (and we keep track of the last selected tab so that we always go back to Pantry for instance unless  we select anot

[2021-04-16 16:51] monsieurtanuki commented on #326
That may mean that even with tabulations, it can be crowded - assuming that you create only lists of the same kind.
In addition to that I'm not a big fan of tabulations, that would add a horizontal navigation to a vertically scrolled screen. A bit like in the categories/subcategories section (I hate this horizontal scroll!).

A solution might to let the end-user pin their favorite lists to the hom

[2021-04-16 17:17] monsieurtanuki commented on #326
In addition to that, other lists than user-defined lists can be crowded:
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-16 at 19 15 26](https://user-images.githubusercontent.com/11576431/115060403-1c570b80-9ee8-11eb-9dd7-3bf19dea8052.png)

[2021-04-16 19:04] monsieurtanuki commented on #326
Possible source of inspiration about distinct lists - https://www.arte.tv/fr/
That could mean a "See all" button, a "(>)" button or a "See more" button.
![Capture d’écran 2021-04-16 à 20 59 25](https://user-images.githubusercontent.com/11576431/115071515-a27a4e80-9ef6-11eb-84c2-87163ae48cb0.png)

[2021-04-16 22:01] M123-dev commented on #326
Interesting ideas. One thing I would like to add is a dynamic homepage structure. See video

Here we can offer a separate "homepage widget" for each list type and one for the favorite lists.

[2021-04-17 06:18] monsieurtanuki commented on #326
Nice video @M123-dev! I like the idea of moving paragraphs; it could be part of another issue.

[2021-04-17 06:25] monsieurtanuki commented on #326
When using systematically horizontal list views:
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-17 at 08 23 59](https://user-images.githubusercontent.com/11576431/115104037-434c2680-9f56-11eb-8fbc-a71551fb2068.png)

[2021-04-17 06:55] M123-dev commented on #326
When using this Design it would be probably better to removed the description of of the "add a List" button, when there is more than 0 lists. So that there is only the button with the + icon.

But does it really save that much space

[2021-04-17 07:12] monsieurtanuki commented on #326
I understand your point, though the topic of this issue is more about how to show many many items, regardless of the last one being an "add" button.
But simplifying the "add" button when there's no ambiguity would indeed save space. Something like that:
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-17 at 09 11 04](https://user-images.githubusercontent.com/11576431/115105071-d8521e00-9f5c-11eb-

[2021-04-17 08:38] monsieurtanuki commented on #326
Concept replicated to food ranking parameters (here, empty):
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-17 at 10 37 16](https://user-images.githubusercontent.com/11576431/115107066-e27a1980-9f68-11eb-96ce-e30a33b17c7e.png)

[2021-04-17 10:14] M123-dev commented on #326
I definitely prefer the ranking parameters to be round, but the button is a great idea.

Back to the main point of the issue, we could start by implementing a kind of pin system, that the user can pin his favorite lists to the homepage.

Not that only them gets displayed, but that the pinned lists are the first in the widgets and after them maybe the latest edited ones.

And then at first we provi

[2021-04-17 10:54] monsieurtanuki commented on #326
I'm going to PR what I developed in my latest screenshot:
* lists are displayed in a single row, as horizontal listviews
* if the list is not empty, it's ended with a simple "+" button
* if the list is empty, a full "add" button is displayed instead

That's what this issue is about: how to display numerous items of distinct lists.

If we go beyond this issue (which should be part of another issue)

[2021-04-17 14:47] M123-dev opened #328 "being able to reorder lists"
#326

[2021-04-17 14:49] M123-dev opened #329 "pin lists to the home_page"
#326

[2021-04-17 14:50] M123-dev opened #330 "being able to reorder the home_page"
#326

[2021-04-17 17:11] monsieurtanuki commented on #140
@stephanegigandet I think we're done with this one, aren't we?

[2021-04-17 17:14] monsieurtanuki commented on #23
As far as I've understood the issue, fixed by #183.

[2021-04-17 17:14] #23 closed

[2021-04-17 17:18] teolemon opened #331 "Allow to show/hide cards on the home screen"
- [ ] Allow to hide cards on the home screen
- [ ] Add a section in settings to show them again (or a new screen to add cards)

[2021-04-17 17:40] monsieurtanuki commented on #331
@teolemon I have a similar idea, but perhaps less confusing:
* in the home screen, we currently have different cards in a fixed order
* recent issues #328, #329 and #330 add flexibility
* if we had a "dismissible/swipe" effect, we could automatically put a card at the end of the card list
* that would look like "OK I don't care about this card for the moment, put it away", while still making it ob

[2021-04-17 17:54] M123-dev commented on #331
I can build a prototype for that and #330, then we can have a closer look on how good it feels

[2021-04-17 18:53] monsieurtanuki commented on #331
@M123-dev For the moment in the app we can only reorder products inside a pantry: on each product there's a drag handle (top right corner) that makes you move each product.
If you manage to make something similar to Samsung Health (of course with a focus only on the UX, not on the UI), the idea would be to apply that new reordering system to other screens (including pantry). We cannot have each sc

[2021-04-18 07:45] monsieurtanuki commented on #211
What about that?
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-18 at 09 44 35](https://user-images.githubusercontent.com/11576431/115138141-b0c98700-a02a-11eb-8f2d-5ecba7a33044.png)

[2021-04-18 17:13] #211 closed

[2021-04-19 11:52] monsieurtanuki commented on #326
Done by #327.

[2021-04-19 11:52] #326 closed

[2021-04-19 11:53] monsieurtanuki commented on #210
Should not happen again as we removed the concept of "paste".
Feel free to reopen the issue if needed.

[2021-04-19 11:53] #210 closed

[2021-04-19 16:17] monsieurtanuki commented on #290
That would look like that on home screen:
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-19 at 18 17 06](https://user-images.githubusercontent.com/11576431/115269298-74398080-a13b-11eb-8d04-82adf4236521.png)

[2021-04-19 20:55] M123-dev commented on #331
@monsieurtanuki, @teolemon, I now have a fairly stable prototype, found in the branch: [home_page_reorder](https://github.com/openfoodfacts/smooth-app/tree/home_page_reorder).

I don't think we need to change anything in the pantry list with this design. Luckily nothing changed, except for the fact that reordering happens on another, similar page (not on the home_page itself)

https://user-images.

[2021-04-20 11:53] monsieurtanuki commented on #331
Thank you @M123-dev for this prototype!
I cannot see the purpose of the "manage" button, redundant and not looking nicer than the +/- icon solution.
Not sure about the "save" button either; going to the previous page should be enough.
Not convinced by the fact that the hidden cards virtually stay at the same place, like the text search card in your example: is that the way it works in Samsung Heal

[2021-04-20 12:00] monsieurtanuki commented on #290
@M123-dev The whole point of this issue is the assumption that we need a "find/add a product" block, with instant access. Maybe this assumption is wrong, I give you that.
Scanning is indeed a key feature and is not hidden in the search bar, at least in my screenshot.
Regarding your legitimate concern about the block being hidden or scrolled out, the solution would be to include it in a [`SliverApp

[2021-04-20 16:00] M123-dev commented on #331
Thanks @monsieurtanuki, the changes you mentioned, are just a few lines of code, this should be no problem. I think for now we dont need a add button, but probably in the future. Should the add button replace the +/- method?

[2021-04-20 16:07] monsieurtanuki commented on #331
Actually the "add" button would change the whole philosophy:
1. with the +/- method, you assume that we've got cards (e.g. 10), and that we can hide or show those cards in a user-defined order
2. with the "add" button method, you can have the same cards, but in addition to that you can add cards that depend on the user data - e.g. "my Fridge" latest 5 foods. You' re not limited to a predefined set

[2021-04-20 18:12] M123-dev commented on #331
@monsieurtanuki okay, yes we can do that, but I would delaiy it until we have a few more widgets. The biggest problem that remains is how to save the settings.

[2021-04-20 18:20] monsieurtanuki commented on #331
Oh, we already have the widgets. Like "Recently viewed", but for end-user product lists.
When you say saving the settings, you mean that particular case I guess: how to say "item number 4 is the latest 5 products of the user-defined fridge list", don't you?
Maybe #329 should be dealt with before, then.

[2021-04-20 18:34] M123-dev commented on #331
Ecaxtly, which "widget" is at what index, what has the pinned lists to do with that?
I imagined that in the list related widgets these "pinned" lists would be displayed first (after the last edited ones). What we can consider is a kind of widget settings, where we can choose for each list widget individually the displayed lists.

[2021-04-20 18:39] M123-dev commented on #290
If by "instant access" you mean a widget on the homepage, I disagree with you and the button on the screenshot is not hidden but still built into the search widget. I think that is not good on the homepage, because as I said before it is not well accessible.
This kind of button I can imagine well in a modal bottom sheet after the "+" FAB on the listpages.

[2021-04-21 07:21] monsieurtanuki commented on #331
But you already saved the settings, didn't you? Or in your prototype it's only saved in local variables? Saving the order of widgets in preferences could be as easy as saving a `List<String>`, or a json as a `String`.
In my mind the pinned lists would be displayed in the home screen too. There's no reason not to reorder them, too, with the same mechanism.

[2021-04-21 08:15] M123-dev commented on #331
@monsieurtanuki currently just in a local variable. The stringlist is probably the easiest way to go. Displaying the pinned lists as a own widget is a great idea, but I think its better to implement it after the reorder mechanism.

[2021-04-21 17:39] stephanegigandet commented on #331
I fear that this kind of features is going in a direction that will make the app be targeted to power users, and not to the general public. Reordering cards or widgets, swiping to hide them, having some way to show them again etc. is not something that most users will do or expect. It's not something that can be found in general public apps like Google Maps or Spotify. Our big challenge is to buil

[2021-04-21 18:57] M123-dev commented on #331
@stephanegigandet I don't think this feature will necessarily scare off "new" users but I understand your thoughts behind it.
I still believe a navigation bar is a a good when not the best was to go. The "Choose" section as you described it still looks a bit empty but that shurly will come over time. I even think the old one is still in the Smooth UI library.

[2021-04-22 07:50] monsieurtanuki commented on #331
If we go back to the core of this issue, a simple collapse/expand or show/hide button would do the trick: simple, easy to understand, no reordering, no hidden cards. A bit like in [the guardian](https://www.theguardian.com/international) website.
<details>
<summary>The Guardian</summary>

![image](https://user-images.githubusercontent.com/11576431/115675059-8b9c8780-a34e-11eb-8920-63337dc63236.png

[2021-04-22 08:08] stephanegigandet commented on #331
@monsieurtanuki : I 100% agree. Let's make (and release :) ) a really cool Choose mode, with only the features that are truly relevant to it. Then we can add Organize after.

@M123-dev : well "a bit empty" can be a good thing: that means it's easier to come up with a simple navigation that gets the job done.
And for "Choose", the job can be:
1. I'm in a store, I want to know if a product is good f

[2021-04-22 09:59] monsieurtanuki opened #334 ""Choose" mode"
cf. @stephanegigandet in #331

Goals:
- [ ] I can set my food preferences
- [ ] I have a search box to search food products that match my preferences
- [ ] I can see my "Favorite" lists of foods (kind of "playlists")
- [ ] I could have other features over time (e.g. "people who like banana yogurt also like those products")
- [ ] I can see my recently scanned products
- [ ] I can scan products, and

[2021-04-22 10:37] stephanegigandet commented on #334
A simple "Favorites" list with a simple heart button is something that everyone will understand, so it's definitely a great place to start.

Then maybe when people add favorites / view their favorites, they could be prompted "Organize your favorites" with an option to "Create a favorite list". --> but we could do that later, it's not a must have.

The same system would work well for pantries or sh

[2021-04-23 13:55] rolandgeider commented on #217
Judging from the issues in the repo, it seems the package is not maintained anymore, which is a pity

[2021-04-23 15:01] M123-dev commented on #217
@rolandgeider oh that's a shame, have you found an alternative for your project?

[2021-04-23 15:15] M123-dev commented on #217
@rolandgeider I have not yet dealt with the topic much more either, if I find a solution I will let you know.

[2021-04-24 09:32] monsieurtanuki commented on #334
I really like this concept of "food competition" - there's clearly a use-case! Could even be an app of its own. Could even be preloaded with data (e.g. all the breakfast cereals you can find in a French monoprix shop).

[2021-04-24 12:05] rolandgeider commented on #217
FYI, I have found this which looks promising, using only the flutter driver: https://medium.com/flutter-community/testing-flutter-ui-with-flutter-driver-c1583681e337

however it seems flutter_driver and flutter_launcher_icons have dependency incompatibilities 🙄 so I couldn't test it

[2021-04-24 13:44] monsieurtanuki opened #335 "New feature: food competition / food olympics"
That was the initial idea in #334.

The process for the end-user could be something like that:
* the end-user is in a supermarket
* looking for breakfast cereals
* and tons of breakfast cereals can be found, obviously
* click on a "start a food competition!" button
* an obvious "scan the first product" call to action
* when the first product is scanned, a suggestion: "would you like all the simila

[2021-04-24 18:30] stephanegigandet commented on #335
The way I imagine it is more transparent / integrated to the scan feature.

I scan a first product, I get a product card. Then I am prompted "Scan more products to compare them". And then whenever I want, I can click on a button (I think we have the cup icon now) to see the list of those products ranked according to my preferences.

It's this "Scan and compare products" at the bottom of the propos

[2021-04-24 18:53] monsieurtanuki commented on #335
The download of similar products is already implemented: last card on the product page. I understand the problem with filtering out foreign food or other shops' food, but it's not the most important feature and at least it can be helpful to download some items without having to scan everything. We can give the end-user the possibility to remove from the list the products they deem irrelevant.

Reg

[2021-04-26 07:15] monsieurtanuki commented on #335
I'll work on that issue. Anyway that won't be wasted; for instance the possibility to scan products and to automatically put them in a specific list can be reused elsewhere.

[2021-04-26 12:20] monsieurtanuki opened #336 "Fine-tuning of food ranking buttons UI (AttributeButton)"
The current display of `AttributeButton` is:
* always same color as app title
* according to its importance, there's a filled star, a half-filled star or an empty star icon, or no icon at all if not important
* no display of the attribute icon
* the order of the `AttributeButton` display is the descending order of attribute importance

There were tests with
* different shades of the same color for

[2021-04-26 12:40] monsieurtanuki commented on #336
Early test - I'm not convinced by
* the button background + the attribute icon background
* the attribute importance icon + the attribute icon

@stephanegigandet Any suggestion?

![Simulator Screen Shot - iPhone 8 Plus - 2021-04-26 at 14 37 58](https://user-images.githubusercontent.com/11576431/116083553-004c2a80-a69d-11eb-9f21-12c15f6a2905.png)

[2021-04-26 16:35] monsieurtanuki commented on #336
Regarding "the button background + the attribute icon background" problem, a solution might be for the button to have a white background and a colored border. The distinction of colors between importances would therefore be limited to the border.

Regarding "the attribute importance icon + the attribute icon" problem, a solution could be to put the star icon as a notification badge, like in https:

[2021-04-27 07:01] teolemon commented on #37
The current display on the website is not always user friendly (eg: Jar Ratio 1 - Glass Score 0,85).

- We could theoretically bind it from the API, but I feel it's a lot of complication for little value.
- A very easy solution we use in the classic apps is the environment html field I described in https://docs.google.com/document/d/1_5AeofpXbaKY9Rd3eeWmHIrhJE8GiPQ-Mfx1SCvpzME/edit?usp=sharing
- h

[2021-04-27 07:03] teolemon commented on #235
@monsieurtanuki @M123-dev I see we now use openfoodfacts: ^1.0.1-beta
is it solved ? now it's null safety within the app itself ?

[2021-04-27 07:06] M123-dev commented on #235
@teolemon currently we are in a transition mode, alle dependencies including off-dart and smooth_ui_library use/support null-safety but the app itself not yet.

[2021-04-27 07:09] teolemon commented on #334
It would be great if you could both draw your proposals on papers with a black sharpie, and take a photo of them.

I'm a rather visual person, and I can't picture for sure what you both have in mind.
Please make it specific to this screen.

[2021-04-27 07:17] teolemon commented on #331
My point with this issue is that I find the home cluttered with things that don't resonate emotionally with me (and possibly with other people).
I wanted a way to hide some (or all) of the irrelevant sections.

[2021-04-27 07:19] teolemon commented on #309
We have a self-hosted Matomo instance.
https://pub.dev/packages?q=matomo

[2021-04-27 07:24] teolemon commented on #216
@monsieurtanuki that's great.

- [ ] If a gesture is not intuitive and that there is no other way to do it, we should put an onboarding tooltip.
- [ ] Otherwise, we should add an explicit way to do it.
- [ ] The first icon is not standard/intuitive. I have no idea what it does (unlike icon 2 and 3). What is it supposed to do ? I'll try to find one that's more explicit

[2021-04-27 08:01] M123-dev commented on #217
@rolandgeider I don't think we have a real alternative to the screenshot package.

Currently only a not merged fork supports null-safety. Its not future proof but its probably the best way to go for now.

[2021-04-27 09:01] teolemon opened #338 "The offline first approach is breaking usability in search"
While saving resources is laudable in general, it comes at the expense of usability.
99% of the time, when I click the search icon on the keyboard after typing a query, I expect fresh and complete results.
In this case, I'm confronted with offline results, that lead me to believe that Open Food Facts has partial to no results?

https://user-images.githubusercontent.com/1689815/116215227-c3893d80-a

[2021-04-27 09:09] teolemon opened #339 "Turn the "Powered by Open Food Facts" text white"
Turn the "Powered by Open Food Facts" text white, like the line, so that it's visible in all conditions.
![image](https://user-images.githubusercontent.com/1689815/116216456-eec05c80-a748-11eb-92bd-d6f287a477e1.png)

[2021-04-27 09:10] teolemon opened #340 "Scan card overflow with long texts"
Is the solution ellipsis ?
![image](https://user-images.githubusercontent.com/1689815/116216644-1f07fb00-a749-11eb-9620-8adc88b05e13.png)

[2021-04-27 09:23] teolemon opened #341 "The icon for "Palm oil unknown" is not explicit"
![image](https://user-images.githubusercontent.com/1689815/116218587-f5e86a00-a74a-11eb-98a6-d22c187c8b1d.png)

[2021-04-27 09:25] teolemon opened #342 "The scan cards are sometimes showing Palm oil unknown, sometimes Eco-Score unknown"
The scan cards are sometimes showing Palm oil unknown, sometimes Eco-Score unknown. A possible explanation would be scanning and then changing preferences ? Is that right ?

![image](https://user-images.githubusercontent.com/1689815/116218784-292af900-a74b-11eb-9711-001f15453e19.png)

[2021-04-27 09:40] teolemon opened #343 "The default font in unlegible"
The default font in unlegible: make it thicker and darker
![image](https://user-images.githubusercontent.com/1689815/116220645-28936200-a74d-11eb-9e54-b2b2d2a8c4bd.png)
![image](https://user-images.githubusercontent.com/1689815/116220712-377a1480-a74d-11eb-885b-97a5ba6d7b6b.png)
![image](https://user-images.githubusercontent.com/1689815/116220781-4791f400-a74d-11eb-946e-a5e466065167.png)

[2021-04-27 10:03] teolemon opened #344 "Question: has the old layout of preferences been kept somewhere ?"
Question: has the old layout of preferences been kept somewhere ?
While the old layout had issues, the new layout is more messy and less intuitive.
Here's a proposed revamp of the old layout to make it more understandable and scalable to many settings with the introduction of a search bar:
![image](https://user-images.githubusercontent.com/1689815/116223918-51692680-a750-11eb-81fa-127209ddad23.png

[2021-04-27 10:15] teolemon opened #345 "The cards are not homogeneous throughout the app"
The cards are not homogeneous throughout the app. Please use the radius and the shadow from home, which are less obnoxious.
![image](https://user-images.githubusercontent.com/1689815/116225470-2da6e000-a752-11eb-9063-23af72594383.png)

[2021-04-27 10:16] teolemon opened #346 "Buttons are too small to be clickable"
Buttons are too small to be clickable. Make them bigger.
![image](https://user-images.githubusercontent.com/1689815/116225669-68a91380-a752-11eb-9ea5-22c7a640a970.png)

[2021-04-27 10:27] teolemon opened #347 "Make personal ranking the default setting"
### What

- [ ] Make personal ranking more explicit.
- [ ] Add text to the icon.
- [ ] Make ranked results the default choice
- [ ] Add a way to go to unranked results (and back to ranked results)

### Part of
- #437

### Mockup
![image](https://user-images.githubusercontent.com/1689815/116226864-ca1db200-a753-11eb-8f81-3b1c855c5071.png)

### Mockup with navigation bar
Here's a version which takes

[2021-04-27 10:33] teolemon commented on #347
Here's a version which takes into account the navigation bar, which should always be visible (to navigate to another intent at any time)
![image](https://user-images.githubusercontent.com/1689815/116227676-b292f900-a754-11eb-9ed0-cc6d1039ba1b.png)

[2021-04-27 10:36] teolemon commented on #347
And here is a variant that makes personal search settings visible
![image](https://user-images.githubusercontent.com/1689815/116228155-34832200-a755-11eb-9e79-5a7381ab3e78.png)

[2021-04-27 10:46] teolemon opened #348 "Improve the usability of ranked results"
### What
Improve the usability of ranked results

- Button to remove personal ranking
- Quick access to personal search settings
- Compatible with navigation bar
- More explicit sections with texts and a tab system

### Screenshot

![image](https://user-images.githubusercontent.com/1689815/116229088-60eb6e00-a756-11eb-8cca-04790b0a22e8.png)

[2021-04-27 11:06] teolemon opened #349 "Revamp of the recently seen products screen"
- Same usability improvements as for personal search
- Add timestamps (in days if days<7, with the date in natural language if day>7)

![image](https://user-images.githubusercontent.com/1689815/116231462-351db780-a759-11eb-8194-e7bdc685c988.png)

[2021-04-27 11:33] teolemon opened #350 "Proposal for inline preferences"
**Frankly, I would eliminate preferences from home, and create a proper onboarding.**
However, I've made a proposal for inline preferences to improve on the current situation.
![image](https://user-images.githubusercontent.com/1689815/116234514-fc7fdd00-a75c-11eb-92bf-74484098a403.png)

[2021-04-27 11:49] monsieurtanuki commented on #345
@teolemon Indeed they are not homogenous.
The idea behind that was to use different shapes for different purposes, in that case product lists, shopping lists and pantries. Maybe it was not a good idea :)

[2021-04-27 11:55] teolemon commented on #345
I'm talking here about the white cards, not the buttons.
But as you mention it, and to be honest, the different shapes for the buttons are just a cognitive overload that does not bring value (there's already a section title for `product lists, shopping lists and pantries`)

[2021-04-27 11:57] teolemon opened #351 "Trying to edge closer to Stéphane's mockup"
Trying to edge closer to Stéphane's mockup. Here's a realistic mockup of quick wins to make it look a bit more what @stephanegigandet proposed.
![image](https://user-images.githubusercontent.com/1689815/116237322-5c2bb780-a760-11eb-81f3-8e4c1336b13c.png)

[2021-04-27 11:58] teolemon commented on #351
@stephanegigandet can you put a SVG of your bear here ?

[2021-04-27 12:00] monsieurtanuki commented on #345
OK, understood.
IMHO even the product lists, shopping lists and pantries lead to cognitive overload; that's why I suggested to focus on the "Choose mode" (cf. #334) where there are no shopping lists nor pantries. For the moment.

[2021-04-27 12:11] monsieurtanuki commented on #344
@teolemon The previous version was `user_preferences_view.dart`, but in the renaming process into `user_preferences_page.dart` the history has been hidden. With my low understanding of github, I cannot say how easily you can get the latest version, but the idea is to find a not-so-old commit/PR and check the file, like here: https://github.com/openfoodfacts/smooth-app/blob/4325aa0241459bd6617701dd

[2021-04-27 12:20] monsieurtanuki commented on #347
I'm not a big fan of using such an important space on top of pages, for actions that once understood, don't deserve so much attention nor space. As opposed to more active buttons like "Bitcoin at $45K for the next 5 minutes" or "the 5 latest scanned products".
I'll implement your first suggestion though (FAB with label), as a visual test.

[2021-04-27 12:21] teolemon commented on #351
The 3 bears in SVG: https://drive.google.com/drive/folders/1a39q-wd4hwTMuWXEFok4j6OBbV2iNIIw?usp=sharing

[2021-04-27 12:27] teolemon commented on #351
![image](https://user-images.githubusercontent.com/1689815/116240910-ab73e700-a764-11eb-9056-e67b7808aa1f.png)
Also made a few variants to see how far it was strecheable

[2021-04-27 12:29] monsieurtanuki commented on #347
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-27 at 14 27 43](https://user-images.githubusercontent.com/11576431/116240971-bc245d00-a764-11eb-8e4b-c74e9296ec5e.png)

[2021-04-27 12:32] monsieurtanuki commented on #338
@teolemon The thing is that we don't have a partial search API on the server side, do we? That would help!

That being said, we could also be more verbose and state that those are only local results and that you need to click on the search button in order to use the server.

[2021-04-27 12:50] monsieurtanuki commented on #334
@teolemon Regarding the home page, it's basically the current one without shopping lists and pantries, and with a "favorite list" (with a red heart) rather than "product lists".

But I'm currently more focused on #335. I do think that what we need now is a purpose for smoothie. For the moment we just add or subtract features and change colors.

[2021-04-27 14:23] teolemon opened #354 "We need to build with the iOS 14 SDK or later, included in Xcode 12 or later"
Dear Developer,

We identified one or more issues with a recent submission for TestFlight review for your app, "Open Food Facts +" 0.0.1 (8). Please correct the following issues, then upload again.

ITMS-90725: SDK Version Issue - This app was built with the iOS 13.7 SDK. All iOS apps submitted to the App Store must be built with the iOS 14 SDK or later, included in Xcode 12 or later.

Best regard

[2021-04-27 14:54] stephanegigandet commented on #344
I like the Search box for preferences much better than the collapsed/expanded modes we had earlier.

This proposal looks very good to me: it solves the issue of having to click to show/hide preferences, and we can still see the logos (that's very useful in my opinion) + the full name of the attribute (e.g. "Gluten free").

[2021-04-27 15:01] monsieurtanuki commented on #344
What about this?
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-27 at 16 57 18](https://user-images.githubusercontent.com/11576431/116263400-a1101800-a779-11eb-9150-ca2c1128a16f.png)

![Simulator Screen Shot - iPhone 8 Plus - 2021-04-27 at 16 59 23](https://user-images.githubusercontent.com/11576431/116263755-ecc2c180-a779-11eb-9c39-ca275699a7a4.png)

[2021-04-27 15:02] stephanegigandet commented on #347
Why don't we make the personal ranking the default choice? That would be much simpler, and it's the whole point of the app.

We can do exactly as on the web:

![image](https://user-images.githubusercontent.com/8158668/116264022-3a3f2e80-a77a-11eb-978d-1b399bb753a6.png)

We explicitly say on top that the results are ranked with the user preferences, there's a button to update those preferences, and

[2021-04-27 15:08] stephanegigandet commented on #351
Here is the source SVG of the design I proposed, in case you want to play with it, move boxes, buttons etc.:
https://wiki.openfoodfacts.org/images/8/8e/Unnamed-food-app-design-proposal.svg

[2021-04-27 15:18] monsieurtanuki commented on #347
I agree with ranking as the default choice.
I would not keep the sentence on top - rather a once in a lifetime "got it!" dialog. A FAB would lead to the non-filtered list. And a settings button on the app bar.

[2021-04-27 15:27] stephanegigandet commented on #351
A small evolution to make the Scan button more central and not lost in the navigation bar. I think it's good to make it very explicit what the scan button does: it is for comparing products. (e.g. the "food competition").

On another Tab (like Pantries / Organize, or Track), the Scan button would have a different text, e.g. : "Scan to add products to your pantry" when you get back from shopping.

[2021-04-27 15:29] stephanegigandet commented on #350
I think it's much simpler if the app always show personalized ranking, and says it. When you see a list of product, it is ranked according to your preferences. And there you have a button to change them. Just like one the web site, we make the feature obvious:

![image](https://user-images.githubusercontent.com/8158668/116269039-25fd3080-a77e-11eb-93d1-1bd6c7e862f5.png)

[2021-04-27 15:32] stephanegigandet commented on #350
We should have a button on the home page to change preferences, but I don't think it's useful to list the selected preferences on the home page. Most people will set them once and never change them.

I agree it makes a lot of sense to explain the preferences concept in the onboarding, and offer to select them then.

[2021-04-27 15:34] stephanegigandet commented on #348
I like the tabs a lot :)

Remove personal ranking: why? That would be very confusing, and what would be the order? Most scanned products?

[2021-04-27 15:36] stephanegigandet commented on #349
I like the Today etc. icons and timestamps.

We could have very similar ones when we have the feature that lists soon to be expired products.

[2021-04-27 15:39] stephanegigandet commented on #338
I agree with @teolemon, if we have network, then we should issue a live query. We can show local results first if we have some, but we should issue the query and update the results when get them back.

[2021-04-27 17:25] teolemon commented on #341
@stephanegigandet is that a server side issue ?

[2021-04-27 17:33] monsieurtanuki commented on #341
@teolemon We already had this issue. It was because it was written `palm_oil` and `palm-oil` on the attribute repository and on the product data. It was supposed to be fixed (on the server side), but I cannot find the PR.

[2021-04-27 17:38] monsieurtanuki commented on #338
@stephanegigandet Like the current search? I've just tested a server search on `'ab'`: the result is slow (8 seconds), is limited to 500 items, and no systematic match with `'ab'`.
I've tested `'abr'` and found only one result. In French. Anything with "abricot" should match.
In short, the current server search is either not well set up (smoothie side or server side), and is perhaps not adapted an

[2021-04-27 17:47] monsieurtanuki commented on #343
@M123-dev The easiest fix is in `SmoothTheme`:
[code]

[2021-04-27 17:55] monsieurtanuki commented on #340
@teolemon The solution is not ellipsis if we have too many attributes anyway.
Should we use bigger cards? How can we be consistent with product cards within the carousel?

[2021-04-27 18:47] M123-dev commented on #309
@teolemon, what is our siteId, and do we need to treat it confidential or can we just expose it like the sentry key?

[2021-04-27 19:00] teolemon commented on #309
I've just created a separate smooth app id: 2
otherwise it's : https://analytics.openfoodfacts.org/

[2021-04-27 19:06] M123-dev opened #355 "Meeting"
Lately there has been a lot UX discussion and changes, for me some make sense some rather less, but that's just my opinion. We should probably sit together to create a plan how we proceed further, to avoid unnecessary work and do not create irregularities.

The "weekly meeting" tomorrow could be suitable for this

CC: @teolemon @stephanegigandet @monsieurtanuki

[2021-04-28 06:47] teolemon commented on #355
yes, it would be great.normally, it's at 5PM, Paris time.

[2021-04-28 06:51] monsieurtanuki commented on #351
Something like that?
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-28 at 08 50 24](https://user-images.githubusercontent.com/11576431/116359171-c72bcb80-a7fe-11eb-8d26-109c47cff00a.png)

[2021-04-28 08:24] M123-dev commented on #309
@teolemon, could you check if the data arrived, also should we ask for the usere consent or just let him know and provide the ability to opt out?

[2021-04-28 12:28] M123-dev commented on #309
Todo: Ask for the users consent

[2021-04-28 12:30] #346 closed

[2021-04-28 12:30] #343 closed

[2021-04-28 12:46] monsieurtanuki commented on #340
Thinking again about this issue, I think the problem is the carousel itself. Do we need that feature here? We cannot know for sure if the products will take the same height, though all cards should probably have the same height in the carousel. How tall? And during the scanning process the label seems much more important than the 2nd or 3rd line of attributes.
Possible solution: we don't display t

[2021-04-28 14:20] teolemon commented on #355
@monsieurtanuki @M123-dev @stephanegigandet here's the link for the meeting as a reminder: https://play.workadventu.re/@/open-food-facts/open-food-facts/open-food-facts-office

[2021-04-28 14:22] teolemon commented on #355
Actually, their link seems down. Here's a Google Meet for 5PM instead:  https://meet.google.com/mxe-tfnu-nod

[2021-04-28 15:03] teolemon commented on #355
@monsieurtanuki starting right now @ https://meet.google.com/mxe-tfnu-nod

[2021-04-28 16:35] #350 closed

[2021-04-28 16:35] #355 closed

[2021-04-28 16:36] #334 closed

[2021-04-28 16:36] #335 closed

[2021-04-28 16:38] #29 closed

[2021-04-28 17:02] monsieurtanuki commented on #355
As far as I’m concerned I don’t believe in meetings, but I hope you guys had a good one and found new ideas and solutions.

[2021-04-29 12:18] teolemon opened #364 "Tests fail on unused elements"
[code]

[2021-04-29 12:45] teolemon commented on #354
https://github.com/openfoodfacts/smooth-app/blob/master/packages/smooth_app/ios/fastlane/Fastfile#L5

[2021-04-29 12:52] teolemon commented on #354
I've pushed a tentative fix: https://github.com/openfoodfacts/smooth-app/commit/07922750d91970fe68c41a93e0021acadf81ad59
It's building right now

[2021-04-29 17:10] monsieurtanuki commented on #204
For the record a product page looks like that today:
![Simulator Screen Shot - iPhone 8 Plus - 2021-04-29 at 19 06 08](https://user-images.githubusercontent.com/11576431/116590377-f553fd00-a91d-11eb-90a2-5540b96537be.png)

The bottom actions are:
* ranking preferences
* copy the product to a product list
* go to the website
* refresh the product data from the server
* share the product with friend

[2021-04-30 08:58] M123-dev commented on #354
The workflow failed, because of the version code. I rerun the workflow.

Hopefully it was just that the old version code from the api was not up to date. Otherwise we would have to manually update it once, because the old version with the wrong sdk was uploaded but not pubished, so that we cant upload it again and we dont get the version from it.

[2021-04-30 09:43] teolemon commented on #355
@monsieurtanuki I moved some discussions to https://github.com/openfoodfacts/smooth-app/discussions
that way, we can refine and discuss designs before implementation

[2021-04-30 09:58] M123-dev commented on #354
@teolemon, #366 worked, but we also already uploaded version code 10, can you check were we are at right now

[2021-04-30 10:07] teolemon commented on #354
11

[2021-04-30 10:08] teolemon commented on #354
so send 12

[2021-05-01 22:01] M123-dev commented on #364
Fixed by #365

[2021-05-01 22:01] #364 closed

[2021-05-02 12:32] monsieurtanuki commented on #338
What I can do is link the suggestions to the server instead of a local search: we'll see if it's satisfactory.

In a next step, the idea would be to combine local search and server search results. I don't know if the suggestion tools offer that dual provider mechanism.

[2021-05-02 12:45] monsieurtanuki commented on #339
Fixed by #368

[2021-05-02 12:45] #339 closed

[2021-05-02 13:08] monsieurtanuki commented on #338
I've tried to put the server search instead of the local search for suggestions:
* nothing happens in the first seconds, because there it takes time to get the results and there's no progress indicator in the meantime
* there are tons of results (e.g. "lentilles" in French) that cannot be sorted anyway, you have to scroll again and again - it's not user-friendly at all

Perhaps a solution would be

[2021-05-02 13:34] monsieurtanuki commented on #349
Actually for the moment we don't store the "latest scan timestamp" data in the local database, we just keep the scan order.

I suggest the creation of "priority" labels in github: there are currently several issues that require time-consuming work, and sometimes those issues goes in different directions.

[2021-05-06 10:46] monsieurtanuki commented on #338
Hence the question: is there an API that provides a list of suggestion Strings from an input String?
For instance it would suggest `nutella` from `nutel`, or `orange juice` and `orange cake` from `oran`?

I've just tried on the website, but there are only limited and curious suggestions and I don't know where they come from: only 3 suggestions `babybel`, `biorogg` and `bolognaise veggie` for `b`,

[2021-05-08 16:23] teolemon opened #372 "Slight margin issue on the left"
![Screenshot_20210508-181925.png](https://user-images.githubusercontent.com/1689815/117546389-713efb00-b02a-11eb-9f38-7d5638891203.png)

[2021-05-09 07:44] teolemon commented on #204
Here's a proposal.

- I only kept: **Ranking preferences, Share, Lists** and I moved them inside the product page, with a slightly different color.
- I made the name and the brand bigger

![image](https://user-images.githubusercontent.com/1689815/117564101-94a98a80-b0aa-11eb-8e8d-ca63dab5a57b.png)

- I believe you can get the URL from the share action, so not very important
- Drag to refresh shoul

[2021-05-16 10:01] teolemon commented on #41
I believe this issue is fixed @monsieurtanuki ?

[2021-05-16 10:04] #249 closed

[2021-05-16 10:06] #164 closed

[2021-05-16 10:10] #90 closed

[2021-05-16 10:11] teolemon commented on #304
closing

[2021-05-16 10:11] #304 closed

[2021-05-16 10:27] monsieurtanuki commented on #41
@teolemon Not 100% fixed:
* we do have a version of the metadata stored in assets (in English), that we use at init time
* at init time, we also async'ly (without `await`) download the latest version for the current language, and this version is used when the download is done

But if there's no internet at all or a slow connection, the end-user will see the English version at init time, even if la

[2021-05-16 10:35] teolemon commented on #41
No, I'm just looking at all bugs on a regular basis, and updating them. I'm usually explicit about prioritization. Questions are usually true questions coming from me. I will explicitely say "top priority" usually.
In this case, it's mostly working already.

[2021-05-16 10:36] teolemon commented on #372
@monsieurtanuki here's one I'd like fixed ;-)

[2021-05-16 10:37] teolemon commented on #348
Yes, most scanned products. Basically, going back to the initial search result.

[2021-05-16 10:39] teolemon commented on #340
I think personalized scan is very powerful. Removing the personalization on the scan card result would reduce the value.
How about making the card grow in height with attributes ?
If the person is wild enough to select 20 attributes, let's make the card extra high

[2021-05-16 10:42] monsieurtanuki commented on #372
@teolemon I guess it can easily be fixed in first approach - e.g. with `Padding`.
I'm worried about the translation process though: imagine the same sentence in German or in French - there would probably be issues with the space taken by a more verbose text.

In short, I'll fix it now but in a lazy mode. That would deserve more thinking regarding the header layout.

[2021-05-16 10:45] teolemon opened #379 "Road to Scores (tracker)"
### What

### Tasks

### Part of
- #503

[2021-05-16 10:46] monsieurtanuki commented on #340
That would probably mean removing the carousel, for more card height flexibility. Would that be OK, UX-wise?

[2021-05-16 10:48] teolemon commented on #340
I don't see why it would mean carousel removal.
The attributes should all be there, in all cards, either in color, or in gray. So same height for all products ? So no issue with the carousel ?

[2021-05-16 11:06] monsieurtanuki commented on #340
Maybe you're right - I haven't read the carousel code in a long time.
But my guess is that the height of the carousel is currently predefined - that would explain why some attributes are displayed beyond the product white card.
In the rest of the app, the product card height is not computed: we just ask flutter to put all the attributes, and the height _automatically_ grows. But precomputing ourse

[2021-05-16 11:13] teolemon commented on #340
I think the only real issue here is the product name and brand, which are unpredictable

[2021-05-16 12:21] monsieurtanuki commented on #336
Fixed by #370.
Feel free to open a new issue if needed: it's an incremental process ;)

[2021-05-16 12:21] #336 closed

[2021-05-16 12:25] monsieurtanuki commented on #372
Fixed by #381.

[2021-05-16 12:25] #372 closed

[2021-05-17 14:02] monsieurtanuki commented on #340
From what I read in [`CarouselSlider`](https://github.com/serenader2014/flutter_carousel_slider/blob/master/lib/carousel_slider.dart#L319-L321), the carousel items height must be fixed: either computed with parameters `height` (no default) or `aspectRatio`(`16/9` is the default):
[code]

Beyond that, even if we were able to compute a correct height, with too many attributes that maybe wouldn't fit

[2021-05-23 12:10] monsieurtanuki opened #384 "Alternate compact view of attribute scores on product page"
On the current product page, each attribute score is displayed on one verbose row (cf. #383):![](https://user-images.githubusercontent.com/11576431/119253280-c34a5980-bbb0-11eb-94a1-3c1226efed6d.png)

If your preferences brand numerous attributes as at least important, you won't be able to see immediately all the attribute scores on the product page, you'll have to scroll down to see all of them,

[2021-05-23 12:46] monsieurtanuki commented on #204
Probably fixed by #383.
@teolemon Feel free to close the issue.

[2021-05-23 13:33] monsieurtanuki commented on #384
That would look roughly like this:
![Simulator Screen Shot - iPhone 8 Plus - 2021-05-23 at 15 31 01](https://user-images.githubusercontent.com/11576431/119262527-e2aaac00-bbdb-11eb-8c14-3ae98641c44c.png)

![Simulator Screen Shot - iPhone 8 Plus - 2021-05-23 at 15 31 32](https://user-images.githubusercontent.com/11576431/119262558-f524e580-bbdb-11eb-9167-0c829a7b221f.png)

[2021-05-23 14:02] monsieurtanuki commented on #384
The row colors could be extended to the other parts of the screen (beyond the score card):
![Simulator Screen Shot - iPhone 8 Plus - 2021-05-23 at 16 02 24](https://user-images.githubusercontent.com/11576431/119263657-4505ab80-bbe0-11eb-90bc-87ca61ca3898.png)

[2021-05-23 15:04] teolemon commented on #204
thank you @monsieurtanuki

[2021-05-23 15:04] #204 closed

[2021-05-23 15:34] M123-dev commented on #384
I like the idea of the compact attribute scores, but not the extended proposal. Square boxes/listtiles in round cards does not fit so well

[2021-05-23 15:41] M123-dev commented on #127
@monsieurtanuki, is still something missing here or can we close this issue?

[2021-05-23 15:47] monsieurtanuki commented on #384
Thank you @M123-dev for your feedback.

I think one problem is that I decided that all attribute icons should have the same height (vs. width), therefore they don't have the same width anymore. And the attribute titles are not aligned anymore. Wouldn't be such a problem if I put the attribute icons as `trailing` instead of `leading` icons, what do you think of that?

Some padding and colored round

[2021-05-23 15:56] M123-dev commented on #384
We could test to put it as trailing and yeah, padding and rounded corners would definitly fit better

[2021-05-23 16:34] monsieurtanuki commented on #384
Something like that?
![Simulator Screen Shot - iPhone 8 Plus - 2021-05-23 at 18 32 44](https://user-images.githubusercontent.com/11576431/119268895-45f50800-bbf5-11eb-9b18-680fdb03a8be.png)

[2021-05-23 16:52] M123-dev commented on #384
@monsieurtanuki, looks way better like this, only the text should be Aligned vertically if there is no subtitle.

[2021-05-23 16:59] monsieurtanuki commented on #127
@M123-dev I wouldn't say it's over but there's no strong reason to keep it open.

[2021-05-23 16:59] #127 closed

[2021-05-23 18:00] monsieurtanuki commented on #384
Closed by #386.

[2021-05-23 18:00] #384 closed, assigned to monsieurtanuki

[2021-05-23 18:02] monsieurtanuki commented on #351
@teolemon Are we close enough now, so that the issue can be closed?

[2021-05-23 18:21] teolemon commented on #351
👍

[2021-05-23 18:21] #351 closed

[2021-05-23 18:38] teolemon opened #387 "The icon of the new attributes is the same as the first attributes when tweaking settings from product page"
The icon of the new attributes is the same as the first attributes when tweaking settings from product page
https://user-images.githubusercontent.com/1689815/119272548-b5272800-bc06-11eb-90d5-4f6f14f46c69.mp4

[2021-05-23 18:44] teolemon opened #388 "The "Add to list or pantry" bottom sheet needs love"
![image](https://user-images.githubusercontent.com/1689815/119272666-5e6e1e00-bc07-11eb-8ed6-0c32ad763f4d.png)

- [ ] Select the destination: >> Add to list or pantry (with more margin, centered, and bigger font)
The shape system is not explicit: separate it in 2 sections
- [ ] Add Lists section
- [ ] Add Pantries section

[2021-05-23 18:45] monsieurtanuki commented on #387
@teolemon Please use the latest version of the code, including #386.

[2021-05-23 19:03] monsieurtanuki commented on #388
Last time I thought about it, I was thinking of something like `ListTile`s:
* one food list per line, with the correct color, the correct icon, and an icon button saying "already in the list=remove" or "not in the list=add"
* and a single ListTile "Add a product list"

Pantries and shopping lists are not relevant here for the moment, as we cannot access them from the home page anymore.

It's just

[2021-05-23 20:22] monsieurtanuki opened #389 "Product page: add direct access from single attribute score to importance settings"
cf. #384

The idea would be to make each attribute score a button: with a click, the specific attribute importance dialog opens, and the attribute importance can be read and changed.

[2021-05-24 07:57] monsieurtanuki commented on #340
@teolemon What if we went directly to the product page after the scan? That makes sense, UX-wise.
With the back button, you go back to the scan page if needed.
And in the scan page, we can add a "scan history" button.

[2021-05-24 08:06] teolemon commented on #340
The first version of Open Food Facts (in 2013) historically had this mechanism forcing you onto the product page, and forcing you to click back to go back to the scan, but I got rid of it in the native apps, in favour of a slideup mechanism.
Whatever the solution, some people don't even realize they can click the card, or slide it up.
In favour of the Scores in Scan screen: I like being able to sc

[2021-05-24 08:39] monsieurtanuki commented on #340
Either you scan a product in order to see a product (1), or you scan a string of products (2).
For use case 1, you'll find it cool to go directly to the product page or not cool to be forced to click on the product card.
For use case 2 that's the other way around.

Let me make another suggestion: just displaying the general score background color (accepted green / rejected red / don't know grey) o

[2021-05-24 09:36] M123-dev commented on #340
I have another suggestion that could also be interesting for #384 in the future. Namely, that we show only the relevant / not good data points per product.
For allergies, for example, if I had many allergies I would not be interested in all the things that are not in the product but more what is inside.

That means that we only show the attribute icons, which we choose in the preferences AND if th

[2021-05-24 19:16] teolemon commented on #388
![image](https://user-images.githubusercontent.com/1689815/119396598-58df0980-bcd5-11eb-9d06-dc59dbc46576.png)

[2021-05-27 05:38] monsieurtanuki commented on #340
@teolemon Feel free to close this issue if fixed by #397.

[2021-05-27 07:38] monsieurtanuki commented on #387
@teolemon ping

[2021-05-29 09:13] teolemon opened #399 "Scan broken on iOS in latest build"
Scan broken on iOS in latest build
[code]

[2021-05-29 15:11] monsieurtanuki commented on #140
I think we're done here.

[2021-05-29 15:11] #140 closed

[2021-05-30 05:05] monsieurtanuki commented on #389
Done in #398.

[2021-05-30 05:05] #389 closed, assigned to monsieurtanuki

[2021-05-30 05:28] monsieurtanuki commented on #158
Ok, assuming it's a rare exception, we can say: "if the current country on the smartphone is not FR, let's not display EcoScore and ForestFootprint anywhere in the app".

In addition to that display change, there's also an impact on the match score: the EcoScore being set to "important" in the default (reset) preferences, we should also say: "whatever importance we gave to EcoScore or ForestFootpr

[2021-06-08 20:13] M123-dev commented on #388
The screenshot was largely reproduced in #390, if there are any further points, feel free to reopen the issue.

[2021-06-08 20:13] #388 closed, assigned to M123-dev

[2021-06-08 20:22] M123-dev commented on #399
Probably fixed by #402, there qr_code_scanner got bumped from ^0.4.0 to ^0.5.1

Changelog for 0.5.0:

The problem described seems to have nothing to do with permissions but may still be fixed. Must be investigated further

[2021-06-08 20:53] M123-dev commented on #354
The TestFlight release is working again, I think https://github.com/openfoodfacts/smooth-app/commit/07922750d91970fe68c41a93e0021acadf81ad59 fixed it.

[2021-06-08 20:53] #354 closed

[2021-06-08 21:05] M123-dev commented on #344
@teolemon, to your question, yeah we can easily get back the code from the old layout and I also prefer your suggestion

[2021-06-09 09:31] M123-dev commented on #217
Someone suggested to transfer the package to the FlutterCommunity, hopefully it gets accepted.

https://github.com/fluttercommunity/community/issues/74

[2021-06-09 10:22] M123-dev opened #403 "Scan card is transparent"
![Screenshot_20210609-110651.jpg](https://user-images.githubusercontent.com/39344769/121338068-7343f480-c91d-11eb-97ae-195a7f8b8f0a.jpg)

[2021-06-09 15:24] monsieurtanuki commented on #403
@M123-dev It seems to happen only in dark mode, am I right?
If so, I don't know what would make sense regarding colors: obviously we cannot display a strong color with 100% opacity on a large rectangle of the screen. I guess some people use the dark mode in order to see less aggressive colors.
A solution would be, in dark mode, not to display the score colors at all, but just the standard card (da

[2021-06-10 10:21] teolemon commented on #399
I found why. Closing and opening another issue

[2021-06-10 10:21] #399 closed, assigned to nobody

[2021-06-10 10:22] teolemon opened #404 "The scanning zone is small, and does not match the visual cue."
The scanning zone is small, and does not match the visual cue. Here's a screenshot of where I had to put the barcode to trigger the scan.
I remember that the issue was raised on the last scanning change, when we ditched MLKit (if I remember well)

![image](https://user-images.githubusercontent.com/1689815/121508843-57f0ec00-c9e6-11eb-99a5-16354213017c.png)

[2021-06-12 11:32] teolemon opened #405 "Crashes on product/photo addition"
Not 100% sure whether it's a crash, but certainly unexpected behaviour. Also happens if the product does not exist at all
Crashes on product/photo addition
https://user-images.githubusercontent.com/1689815/121774370-7e4b8e80-cb82-11eb-8aa4-e67c337ea0e6.mp4

[2021-06-17 16:48] monsieurtanuki commented on #349
The dates were added in #401.
The rest of the issue (personal ranking button on top) should not be dealt with here, as it's a more general question.
cf. #347: is personal ranking supposed to be an option or the default behavior?

[2021-06-17 16:48] #349 closed

[2021-06-17 17:17] monsieurtanuki commented on #338
My suggestion:
1. making it obvious that it's only a local search (with the "local search" subtitle)
2. making more obvious the button for server search (with the "cloud download" icon)

![Simulator Screen Shot - iPhone 8 Plus - 2021-06-17 at 19 15 09](https://user-images.githubusercontent.com/11576431/122443932-56a06000-cfa0-11eb-991c-5756d854fe7f.png)

[2021-06-19 11:29] M123-dev opened #407 "Searchbar refreshes the whole homepage"
When tapping inside (or closing) the searchbar on the homepage all the other widgets on the homepage reload.

[2021-06-25 11:45] teolemon opened #409 "Google Fellowship kickoff"
We’re going to kick off next week the Google Fellowship, where many Googlers are going to help with Flutter and ML during 6 months. It will be on Thursday, and mostly Friday (where it will get technical). Would you be interested in attending ? (it’s of course virtual)
@monsieurtanuki
I can send you the sessions by mail (ping me at pierre@openfoodfacts.org) if you are interested.

[2021-06-26 14:15] M123-dev commented on #17
I think this is mostly fixed by now

[2021-06-26 14:15] #17 closed

[2021-06-26 14:16] #126 closed

[2021-06-26 14:23] #387 closed, assigned to nobody

[2021-06-26 14:27] M123-dev commented on #347
Then let's make personal ranking the default setting, which can be turned off in the settings. To get to the unsorted list we can use the Fab or if it is too present we can use a button in the AppBar.

[2021-06-26 14:28] #216 closed

[2021-06-26 14:31] M123-dev commented on #277
It no longer occurred for me, seems to be fixed

[2021-06-26 14:31] #277 closed

[2021-06-26 14:36] M123-dev commented on #338
This is a good start, but we should definitely switch to a server side search in the long term.

[2021-06-26 14:39] M123-dev commented on #290
The scan button is now directly under the search, so I would say that the issue is resolved. If not feel free to reopen it.

[2021-06-26 14:39] #290 closed

[2021-06-26 14:42] M123-dev commented on #97
+ a proper name

[2021-06-27 10:00] M123-dev commented on #404
Not related to this bug but we moved away from the ml_kit scanner because it was not longer maintained. The scanner we use now uses native scanning libraires under the hood. But because they are also no longer maintained the package we use now is currently switching to ml kit. The [first alpha](https://pub.dev/packages/qr_code_scanner/versions/1.0.0-alpha.1) is already released. Switching to the n

[2021-06-27 17:32] monsieurtanuki opened #413 "Picture cache for slow connectivity / offline"
### What
- Product pictures should be cache-able, in order to deal with the slow connectivity and offline mode.
- Probably it should be in the user settings, something like "Never store pictures on the device", "Keep the pictures until they reach n Mb / until they are m weeks old".

### Part of
- #863

### Screenshots

![Simulator Screen Shot - iPhone 8 Plus - 2021-06-27 at 19 27 31](https://user-

[2021-06-27 18:24] M123-dev commented on #413
Are you planning to add the pictures to the database, otherwise there is a great package for exactly that: https://pub.dev/packages/cached_network_image

[2021-06-27 19:27] monsieurtanuki commented on #413
No plans for the moment, just the initial idea.
But a database is not a good option for storing images like that.

[2021-06-27 19:45] M123-dev commented on #413
Then I can take care of it 👍🏻

[2021-06-27 20:36] monsieurtanuki commented on #413
Yes you can!

I'm a bit dubious about the package you mentioned though:
* in one issue it looks like they're using sqflite, which seems to be overkill (https://github.com/Baseflow/flutter_cached_network_image/issues/607)
* it looks like they're overriding another package (https://pub.dev/packages/flutter_cache_manager) - maybe we'll be better off with the parent package
* remember that we need to

[2021-06-30 16:19] M123-dev opened #419 "Add user management"
### What

Add the functionality to login and register inside Smoothie

- [x] #700
- [x] #702
- [x] #701

Also add the user parameters to contributions

Documentation:
https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/DOCUMENTATION.md#check-login-data
https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/DOCUMENTATION.md#register-a-new-user

### Blocked on

- https://github.

[2021-07-05 12:08] monsieurtanuki commented on #166
Currently on my way to integrate pantries and shopping lists in database and not in shared preferences anymore...

[2021-07-06 05:57] monsieurtanuki commented on #206
Fixed by #383.

[2021-07-06 05:57] #206 closed

[2021-07-06 05:58] monsieurtanuki commented on #235
Done by #416.

[2021-07-06 05:58] #235 closed

[2021-07-06 06:24] monsieurtanuki commented on #37
I guess in first approach we could add a "More..." button next to the ecoscore attribute, that would simply display https://world-fr.openfoodfacts.org/api/v0/product/0634065322366.json?fields=environment_infocard,ecoscore_grade with a flutter html renderer like `flutter_html: ^2.1.0` (or a more limited package like `html: ^0.15.0`)

[2021-07-06 06:36] monsieurtanuki commented on #217
For the record, in another project I developed a shell that can change the language of the iOS simulator and run tests - which include screenshots.
Basically, on a mac book and not 100% automatic but I just have to start the right simulator and run the shell: all the screenshots of all languages will be created for that simulator. Then do it again for the other 2 screen configurations/simulators n

[2021-07-07 14:19] monsieurtanuki commented on #37
Done by #423.
@stephanegigandet Feel free to create a new issue if you want a more refined display.

[2021-07-07 14:19] #37 closed

[2021-07-07 14:24] monsieurtanuki commented on #166
Finished in #422.

[2021-07-07 14:24] #166 closed

[2021-07-07 14:36] monsieurtanuki commented on #158
@teolemon This is what I got today with "your" Koenigsbier: it looks like we could close this issue, couldn't we?
![Capture d’écran 2021-07-07 à 16 33 06](https://user-images.githubusercontent.com/11576431/124778113-03875080-df41-11eb-93fe-05d6c3930d57.png)

[2021-07-10 11:50] monsieurtanuki commented on #338
Fixed in #424.
Given the current server search duration and the open question about "should we display product suggestions, or keyword suggestions like google?", the best we can do now is to avoid possible confusion between server search and local results, and to give users access to both server and local search.

[2021-07-10 11:50] #338 closed

[2021-07-10 13:44] monsieurtanuki commented on #413
@M123-dev I'm going to work on the subject. It's also related to #41.

[2021-07-15 18:26] monsieurtanuki commented on #149
@teolemon I don't think that would make sense, as the purpose of openfoodfacts-dart is to hide API calls (that contain references to https://world.openfoodfacts.org) with classes (e.g. `Product`).
And we definitely cannot use the same Product class for food AND beauty.

In addition to that, the UX may probably be different too.

That said, the main logic is the same (getProducts, saveProduct, uplo

[2021-07-18 10:13] monsieurtanuki opened #427 "Home Page / barcode search: server search button stalls"
1. Home Page
1. type in a barcode (and not a product name)
1. click on the "server search" button
1. the interface stalls with a "searching..." dialog
2. crash logs appear
1. it does not happen when type in names instead of barcode

[Edit]: probably happens only if the product is not in the local database

[2021-07-18 12:15] monsieurtanuki commented on #427
Fixed by #428.

[2021-07-18 12:15] #427 closed, assigned to monsieurtanuki

[2021-07-18 18:19] monsieurtanuki opened #429 "Suggestions from barcode"
Currently, the suggestions try to find the input text in the product names.

The idea of this feature is that if a part of a barcode is typed in (that is, only numbers), we try to find products with a similar barcode (instead of product name search).

I'm about to PR that.

[2021-07-18 18:24] monsieurtanuki commented on #429
Fixed by #430.

[2021-07-18 18:24] #429 closed, assigned to monsieurtanuki

[2021-07-20 14:42] stephanegigandet opened #431 "Database (from an older version of the app) initialization error when starting app"
The app crashes when I try to run the latest version on the develop branch. It's been a while since I last ran the app, so I probably have a very outdated database. Was the database schema supposed to be upgraded at startup?

E/SQLiteLog(10320): (1) table product_extra has no column named extra_int_value
I/flutter (10320): error DatabaseException(table product_extra has no column named extra_int_v

[2021-07-20 15:00] stephanegigandet commented on #431
Seems to be an ordering issue of the upgrade, we never get to DaoProductExtra.onUpgrade :

I/flutter (10320): _onUpgrade - database oldVersion: 4 - newVersion: 8
I/flutter (10320): before avait DaoProduct.onUpgrade
I/flutter (10320): dao_product - onUpgrade - database oldVersion: 4 - newVersion: 8
I/flutter (10320): before avait DaoProductList.onUpgrade
I/flutter (10320): dao_product_list - onUpgr

[2021-07-20 15:26] stephanegigandet opened #433 "Error when scanning / searching: Cannot request translated field without language"
I'm getting a lot of errors "Cannot request translated field without language". (We do set the "lc" field)

This is with the openfoodfacts 1.2.0 package. I'm guessing the new updates to openfoodfacts-dart ( https://github.com/openfoodfacts/openfoodfacts-dart/pull/185 ) will fix that.

[2021-07-20 16:33] stephanegigandet opened #435 "Decide on a style guide for the Smoothie code base"
This is just a tracking bug, please discuss in https://github.com/openfoodfacts/smooth-app/discussions/434

[2021-07-21 12:19] monsieurtanuki commented on #431
@stephanegigandet For the record, there's a database version number in `LocalDatabase.getLocalDatabase()` (currently it's `8`).
The way sqflite works is that `onUpgrade(Database db, int oldVersion, int newVersion)` is automatically called when the version number is upgraded. Or when you start from scratch (as we did not set `onCreate`).
Every time you want to add a column to a table or do somethin

[2021-07-21 13:31] #431 closed, assigned to stephanegigandet

[2021-07-21 15:56] stephanegigandet opened #437 "Decide which issues are release blockers for the public beta of Smoothie"
Summer is here, everyone could use a fresh smoothie!

Thanks to all your hard work, we have a really cool app with personalization features and lists that I haven't seen anywhere else.

Let's remove the really blocking issues (if any), let's not worry too much about small imperfections, and let's release smoothie!

Would everyone be fine with that?

In the hope that you are, we can use GitHub's pr

[2021-07-21 18:20] stephanegigandet commented on #97
I agree with @M123-dev : it would be good to find a proper name. Smoothie is a code name: we wanted to create an app that provides a "smooth" experience. I think Smoothie is a good enough name for the public beta release. We can always change it later, based on the feedback we get, possibly new ideas for features we have etc.

[2021-07-21 19:35] #409 closed, assigned to monsieurtanuki

[2021-07-21 19:37] M123-dev commented on #64
@CharlesNepote anything new here

[2021-07-21 19:43] M123-dev opened #439 "Add new Strings to Crowdin"
### What

One or two month ago I added all missing Strings to the .arb files, since then we paused it so that we don't add temporary Strings to relieve the translators.
We should add all the new ones back in and check if the old ones still exist.

### Part of
- #437

[2021-07-22 07:00] stephanegigandet opened #440 "Test all Smoothie features on Android to find blocker issues for public beta"
Before the release we should make an extensive test of all Smoothie features to make sure there aren't blockers: crashes, features that don't work at all etc.

### Blocked by

- [ ] Nothing Android specific so far

### Blocks
- [x] #494

[2021-07-22 07:00] stephanegigandet opened #441 "Test all Smoothie features on iOS to find blocker issues for public beta"
Before the release we should make an extensive test of all Smoothie features to make sure there aren't blockers: crashes, features that don't work at all etc.

### Blocked by
- [x] #454
- [x] #483
- [x] #190

### Blocks:
- [x] #500

[2021-07-22 07:01] stephanegigandet commented on #441
Who has a Mac and iPhone to do this test? I don't have one unfortunately.

[2021-07-22 07:11] stephanegigandet commented on #309
@M123-dev : I don't know how hard this is to implement, but I'm thinking it could be a "nice to have" feature instead of a must have feature that is absolutely needed for the release of a public beta.

[2021-07-22 07:35] M123-dev commented on #309
@stephanegigandet I totally agree with you, the thing is it is already implemented, but currently we don't ask for the users consent. We definitely should do that before a public release.

https://github.com/openfoodfacts/smooth-app/commit/519d82c91652f84674fb177f20c497b65f2f61a4

[2021-07-22 09:57] stephanegigandet commented on #405
@teolemon I can't replicate this on Android, is this still an issue? If so can you paste the console messages in this bug?

[2021-07-22 11:24] M123-dev commented on #217
Two days ago in the fellowship frontend workgroup sync @gspencergoog mentioned screenshot tests.  That gave me the idea that we might be able to abuse a screenshot testing tool to generate screenshots for fastlane. I couldn't find the one he mentioned but [golden_toolkit](https://pub.dev/packages/golden_toolkit) (by ebay) looks very promising.

A article with some additional information: https://m

[2021-07-22 14:26] monsieurtanuki commented on #441
I have a Mac but no iPhone or iPad, therefore only a simulator and no scan.

Beta versions on iOS can be uploaded in AppStore's TestFlight, where only a limited set of designated testers download the app and test it. That would be a second level of tests, after a first level only with developers.

[2021-07-22 14:31] monsieurtanuki commented on #309
@M123-dev Is it possible for the end-user to say "thank you but no thanks?"

[2021-07-22 14:36] M123-dev commented on #309
@monsieurtanuki currently not, that's the problem.

[2021-07-22 14:53] gspencergoog commented on #217
The one Flutter uses is [Skia Gold](https://skia.org/docs/dev/testing/skiagold/). I don't think we can use their servers directly, unless we want to just use their code and set up our own instance that uses Google Cloud (it is open source, at least). I could ask the Skia team how hard/expensive it is to set up if you like.

[2021-07-22 14:56] monsieurtanuki commented on #217
Anyway we need iOS screenshots (minimum is one in 3 different screen sizes in English), without that it's not possible to have it in the AppStore (maybe OK in TestFlight, though).

[2021-07-22 14:57] monsieurtanuki commented on #309
@M123-dev That's embarrassing :(
Oh, I've just had a look at the code: anyway it's just about calling as early as possible (and only once I guess) the following code
[code]
I guess the yes/no should be stored in the preferences, therefore in the best scenario it's going to be called after the preference init.

My suggestions:
1. put it in the preference screen as an "opt in" (therefore off by defa

[2021-07-22 15:07] M123-dev commented on #309
@monsieurtanuki number one looks good for the beta, but when we have a onboarding process I would suggest putting it in there as well.

I don't know when the beta release is planned, but since I'm on vacation I can’t do it right now.  If you want feel free to do that.

[2021-07-22 15:08] monsieurtanuki commented on #437
My choices...

Very important:
* #97
* #405
* #404
* #217

Important:
* #347
* #419
* #439

Not very important:
* #407
* #403
* #345
* #348
* #344
* #279
* #413
* #419

Probably alright by now
* #342
* #264
* #266
* #341

[2021-07-22 15:14] M123-dev commented on #217
@gspencergoog thanks for the offer, but I think it is easier and more uniform to do the process (at least for generations not for tests) with the goolden_toolkit and github actions.

We only have to think about if plain screenshots are to booring and if so how we edit them.

[2021-07-22 15:16] monsieurtanuki commented on #217
Hey @M123-dev, you're supposed to be on vacation! ;)

[2021-07-22 15:16] monsieurtanuki commented on #309
Ok @M123-dev, I'll do number one. And if it works I'll close the issue and create a more general onboarding issue (if it does not exist already) and include the user content in that issue.

[2021-07-22 16:39] gspencergoog commented on #217
@M123-dev That makes sense.

[2021-07-22 17:24] stephanegigandet commented on #437
Thanks @monsieurtanuki ! Let's move all the Very important + Important issues to the public beta project.

I'm curious about that one. I agree it's very important that we eventually have it so that we can have play + app store screenshots in 200 languages, but for the beta, we could start with manual screenshots in English (and possibly a couple of other languages).

[2021-07-22 17:41] #97 closed

[2021-07-22 17:41] #433 closed, assigned to stephanegigandet

[2021-07-22 18:00] monsieurtanuki commented on #437
I can help with the 3 "initial languages" (en, de, fr) with the shell script I was talking about.
Semi-automatic then.
And while it's running, I cannot use my computer. Therefore, for a start let's limit it to a small number of languages.

[2021-07-22 18:04] stephanegigandet opened #444 "Scan is broken by openfoodfacts 1.3.0, update to 1.3.2"
1.3.1 should be released soon: https://github.com/openfoodfacts/openfoodfacts-dart/pull/205

This contains a fix from @monsieurtanuki  that will hopefully fix the issue with the Smoothie scanner not starting because we try to read back products saved as JSON from the database.

(detail of issue in https://github.com/openfoodfacts/smooth-app/pull/442#issuecomment-884819542 )

[2021-07-22 18:58] M123-dev commented on #437
@monsieurtanuki does the script only work for ios or also for Android virtual machines

[2021-07-23 06:13] monsieurtanuki commented on #437
@M123-dev I haven't tried for Android - I will have to for my own app, though.
The only tricky part is to switch languages: how to do that in shell on an Android simulator.

For the record the principles so far are:
1. write a flutter "test" (do something, take a screenshot, do something else, take another screenshot, ...)
2. write a shell script that loops for all languages: {switch to a language

[2021-07-23 06:38] monsieurtanuki commented on #309
Trying to implement that, I don't think we should rush things and try to put that in the "must do".

There's an "opt out" option: `MatomoTracker().setOptOut(true)`, and that's cool.

What is not cool is that for Matomo to work, we have to change ALL the widgets we want to track (cf. https://pub.dev/packages/matomo):

I find that very intrusive for the dev part; if we want to change trackers we'll

[2021-07-23 07:19] teolemon opened #449 "The icon does not comply to Android icon guidelines"
The icon does not comply to Android icon guidelines
![image](https://user-images.githubusercontent.com/1689815/126749176-f97b102f-b03e-454c-a077-8029a8284936.png)
https://medium.com/@psyanite/how-to-add-app-launcher-icons-in-flutter-bd92b0e0873a

[2021-07-23 07:22] teolemon commented on #449
Here's what it should look like
![image](https://user-images.githubusercontent.com/1689815/126749564-3cdbb564-0782-478d-8ba7-4c0d004d0cfa.png)

[2021-07-23 07:23] monsieurtanuki commented on #449
If I remember well it's a matter of setting in an Android xml a background color and the logo.
The background shouldn't be part of the logo.
This way Google can adapt to the current conventions (circle, RRect, ...).

[2021-07-23 07:26] teolemon commented on #449
![image](https://user-images.githubusercontent.com/1689815/126750007-f3c97cd5-d951-4cde-8362-60caafde1a41.png)

[2021-07-23 07:27] teolemon commented on #449
Here are the SVGs for foreground and background: https://www.figma.com/file/p5Igx2kD1NOqmmE7f9zCPr/Smoothie-icon?node-id=2%3A16

[2021-07-23 07:38] monsieurtanuki commented on #449
This is what I did in another project (full Android for the record):
![Capture d’écran 2021-07-23 à 09 31 39](https://user-images.githubusercontent.com/11576431/126750577-22101c1b-6e8b-4f44-a39c-4e65355bf709.png)

Where
* `ic_launcher` is the folder for RRects
* `ic_launcher_round` is the folder for disks
* png files are what we assume they are

`ic_launcher.xml` and `ic_launcher_round.xml`:
[code

[2021-07-23 10:13] stephanegigandet commented on #449
That's weird. I used flutter_launcher_icons which is supposed to take care of generating all icons in the right sizes etc.

[2021-07-23 10:16] stephanegigandet commented on #449
Note that there's already a transparent icon (SVG and PNG) in https://github.com/openfoodfacts/smooth-app/tree/develop/packages/smooth_app/assets/app

[2021-07-23 10:20] monsieurtanuki commented on #449
Working on it.
The trick is to use an Android project in Android Studio, and to use File / New / Vector Asset and then File / New / Image Asset.

[2021-07-23 10:21] stephanegigandet commented on #449
@monsieurtanuki in fact I think we just need to add those 2 parameters in pubspec.yaml:

adaptive_icon_background: The color (E.g. "#ffffff") or image asset (E.g. "assets/images/christmas-background.png") which will be used to fill out the background of the adaptive icon.

adaptive_icon_foreground: The image asset which will be used for the icon foreground of the adaptive icon

[2021-07-23 10:27] stephanegigandet commented on #449
This seems to do the trick:

[code]

It generates those files:

Modifications qui ne seront pas validées :
  (utilisez "git add <fichier>..." pour mettre à jour ce qui sera validé)
  (utilisez "git restore <fichier>..." pour annuler les modifications dans le répertoire de travail)
	modifié :         android/app/src/main/res/values/colors.xml
	modifié :         pubspec.yaml

Fichiers non suivis:

[2021-07-23 10:35] monsieurtanuki commented on #449
@stephanegigandet Additional thought: you NEED to create ALSO round icons, because it's the standard for the latest Android devices.

[2021-07-23 10:42] monsieurtanuki commented on #449
My smartphone is rather old, so the RRect version is used. I'm going to PR just in case - @stephanegigandet feel free to ignore my PR in case you managed to generate automatically ALL its files.
![Screenshot_2021-07-23-12-39-39](https://user-images.githubusercontent.com/11576431/126771042-901ced15-3ac9-45ce-8a2c-e1fe3a6d1122.png)

[2021-07-23 10:48] stephanegigandet commented on #449
I don't have the latest Android with round icon, that's why I didn't notice there was a problem.

@teolemon can you try this branch to see if you get the expected round icon?

https://github.com/openfoodfacts/smooth-app/pull/450

[2021-07-23 10:51] teolemon commented on #449
It's actually up to the manufacturer. Samsung has rounded squares, Google phones are rounded…
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive

It would be great for branches to build and store test APKs. I've temporarily removed the Flutter SDK from my hard drive.

[2021-07-23 10:59] stephanegigandet commented on #449
If we merge #450 to develop, does that generate an APK for you somewhere?

[2021-07-23 11:01] stephanegigandet commented on #449
Thanks @monsieurtanuki ! Let's see if the flutter_launcher_icons way works, it would be nice to be able to easily update all icons through the command line.

[2021-07-23 11:38] stephanegigandet commented on #444
Even with 1.3.1 I still can't load the JSON that were saved previously (with 1.3.0):

[code]

Line 451 is "result[LanguageHelper.fromJson(key)] = map[key]! as List<String>;" in:

[code]

Any idea @monsieurtanuki ?

[2021-07-23 11:45] stephanegigandet commented on #444
I think 1.3.1 solved the JSONs that contained single values in multiple languages, but not list of values in multiple languages (e.g. list of categories).

[2021-07-23 11:46] monsieurtanuki commented on #444
@stephanegigandet Create a (failing) test, and I'll fix it.

[2021-07-23 13:19] stephanegigandet commented on #444
@monsieurtanuki Thank you! Here is a failing test, with a product that is currently in my Smoothie database which cannot be read back:

https://github.com/openfoodfacts/openfoodfacts-dart/pull/207

[2021-07-23 14:21] teolemon opened #452 "Missing dep blocks internal release"
Per https://github.com/openfoodfacts/smooth-app/runs/3143585203

* What went wrong:

Execution failed for task ':app:mergeReleaseAssets'.

     Required by:
         project :app > project :image_cropper

[2021-07-23 15:08] stephanegigandet commented on #452
It's just a temporary timeout. Solved with the almighty "Re-run jobs" button. :)

[2021-07-23 15:08] #452 closed, assigned to nobody

[2021-07-23 16:37] teolemon opened #454 "iOS deployment failing"
### What
[code]
### Blocking:

- [x] #441

[2021-07-23 16:39] teolemon commented on #454
I've tried bumping in release/0.0.1 'IPHONEOS_DEPLOYMENT_TARGET' to 9.0 🤞

[2021-07-23 16:46] teolemon commented on #449
![image](https://user-images.githubusercontent.com/1689815/126814887-3a13c48b-6d50-46d4-b1bc-66102cc8de03.png)

[2021-07-23 17:10] stephanegigandet commented on #444
Should be fixed by https://github.com/openfoodfacts/openfoodfacts-dart/pull/207

[2021-07-23 18:26] stephanegigandet commented on #449
Almost perfect. :)

It looks like Android adaptive icons reserve a ton of space for "visual effects", that's why it's so much zoomed in:
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive

I'll adjust the size.

[2021-07-23 19:06] stephanegigandet opened #456 "New CI Post-Submit tests fail to find ci/pub_upgrade.sh"
On this PR (just adding an icon):

https://github.com/openfoodfacts/smooth-app/pull/455

@github-actions
SmoothApp Post-Submit Tests / build (push) Failing after 1m — build

https://github.com/openfoodfacts/smooth-app/pull/455/checks?check_run_id=3146481565

[code]

[2021-07-23 19:09] stephanegigandet commented on #449
Looking good now :)
![image](https://user-images.githubusercontent.com/8158668/126829960-a2938a6e-78e9-4643-b758-17be63b3eaa1.png)

[2021-07-23 19:30] M123-dev commented on #309
@monsieurtanuki I agree, let's opt out completely and handle the tracking when we have time for that

[2021-07-23 19:33] M123-dev commented on #456
@gspencergoog

I think it can't find that script because we set a working directory

https://github.com/openfoodfacts/smooth-app/blob/develop/.github/workflows/postsubmit.yml#L10

[2021-07-23 19:50] monsieurtanuki commented on #449
I guess we can close this issue, and remove my #451, can't we?

[2021-07-23 20:30] gspencergoog commented on #456
Yes, that's why.  I'll fix it.

[2021-07-23 20:36] stephanegigandet commented on #449
If @teolemon confirms he has a nice round icon, yes.

[2021-07-23 20:45] #456 closed, assigned to gspencergoog

[2021-07-23 20:51] M123-dev commented on #437
@monsieurtanuki
Probably this could to the trick for android

https://stackoverflow.com/a/41654317/13313941

Regarding the scanner, in the android virtual device camera you get thrown into a 3D world where you can walk around and you can even insert custom images on some points, like the wall or on top of the table. But I doubt that this is possible via script.

I only found a workaround where you

[2021-07-25 12:52] teolemon commented on #449
![Screenshot_20210723-184352](https://user-images.githubusercontent.com/1689815/126899632-43f99331-0601-4c27-a757-5174d4930f07.png)

[2021-07-25 16:05] stephanegigandet commented on #449
@teolemon wait a bit or deinstall and reinstall the app maybe, on my device at least the icon was not updated immediately after the install of the new version.

[2021-07-25 16:45] monsieurtanuki commented on #449
I've just tried with an Android Emulator - in my opinion the logo is still a bit too big, but that's decent:
![Capture d’écran 2021-07-25 à 18 44 03](https://user-images.githubusercontent.com/11576431/126906719-bf6ae2b2-9a42-4174-a13d-f244ed3f9029.png)

[2021-07-26 08:48] stephanegigandet commented on #437
Adding user management is very important I think:
- https://github.com/openfoodfacts/smooth-app/issues/419

Is someone interested in working on it?

If there are missing APIs etc. on the server side, I can help on that. But I certainly won't be the fastest to implement the Flutter part in Smoothie.

[2021-07-26 09:16] monsieurtanuki commented on #419
@stephanegigandet What is the scope of this issue:
1. what happens if the end-user does not register? read-only access with the default user?
2. what happens if the end-user does register? all read/write accesses with the registered user only, or are there still actions with the default user?
3. the log in should probably be part of the onboarding, shouldn't it?

[2021-07-26 09:40] stephanegigandet opened #461 "Question: when is the list of products in "Scan and compare products" reinitialized?"
I cannot find a way to clear the list of products in my "Scan and compare products" list, or to remove items from it. Is it possible somewhere?

Maybe we could:

1. add a way to start a new comparison (a "Clear list" button on the left of the "My personal ranking" button in the scanning page?)

2. in the "My personal ranking" list, be able to swipe to remove entries?

What do you think?

[2021-07-26 09:44] #444 closed, assigned to nobody

[2021-07-26 10:22] monsieurtanuki commented on #461
You're supposed to be able to delete items either by swiping them (one by one) or with a long press.
Maybe this doesn't work in that specific list - could you have a go?

[2021-07-26 10:24] stephanegigandet commented on #461
Long press and swiping work in other lists, but not this one.

[2021-07-26 10:26] stephanegigandet commented on #461
In fact a 3rd button:

3. Save to list (on both the scanning page, and on the "my personal ranking" list)

would be useful too I think.

[2021-07-26 14:17] slava-sh opened #463 "Product search does not work"
**Describe the bug**
When I try searching for a product, I see a page full of debugging information and no search results.

I also see the following message in the console:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Open the app (I use `flutter run` to launch it on my iPhone)
2. Type a search query (e.g., "apple")
3. Press the arrow button inside the search field (pressing the "

[2021-07-26 14:24] stephanegigandet commented on #441
Someone reported problems on an iOS device:

- it's not possible to scan a barcode on (but QR codes work)
- the search button brings back some JSON

Trying to get more details of those issues.

[2021-07-26 14:25] slava-sh opened #464 "The app has no icon and name on iOS"
**Describe the bug**
The app has a default Flutter icon and splash screen. The app name is "smooth_app".

**To Reproduce**
Install with `flutter run`.

**Expected behavior**
The app should have a human-readable name and a custom icon.

**Screenshots**
![screenshot](https://user-images.githubusercontent.com/470136/127004925-988b19a9-b3c1-409b-accf-6a7cfb05ed7b.jpg)

**Smartphone:**

- iPhone 12 Pro

[2021-07-26 14:54] stephanegigandet commented on #464
Thanks @slava-sh I added an icon and a splash screen a few days ago, can you check that you are using the latest version of the code?

It was in this PR: https://github.com/openfoodfacts/smooth-app/pull/438

[2021-07-26 15:06] stephanegigandet commented on #449
Got a confirmation from @teolemon that he now has the right round icon. :)
Closing.

[2021-07-26 15:06] #449 closed, assigned to monsieurtanuki

[2021-07-26 15:35] teolemon commented on #449
![Screenshot_20210726-152329.png](https://user-images.githubusercontent.com/1689815/127016956-13606e8f-43a7-41d0-b766-db5bbd91d1cd.png)

[2021-07-26 16:26] monsieurtanuki commented on #463
Hi @slava-sh!
I think I fixed that bug on top of #431. I coded that bug too :(
If you get the latest version of the code it's probably fixed.
Which version of the app are you using?

[2021-07-26 16:47] slava-sh commented on #464
Turns out I was using an outdated checkout. The icon and name look fine in the latest version. There is still the default Flutter splash screen that we might want to update.

[2021-07-26 16:55] slava-sh commented on #463
Turns out I was using an old checkout. This works much better in the latest version.

[2021-07-26 16:55] #463 closed, assigned to nobody

[2021-07-26 17:07] monsieurtanuki commented on #461
Just had a look at it:
* for the moment, the scanned product list is displayed either in carousel or in personal ranking
* nothing prevents us from displaying the scanned product list as a "normal" list, with access to swipe and long click
* in personal ranking lists, we could easily implement swipe and long press
* in carousel lists, we could easily implement long press. Swipe would be a bit stra

[2021-07-26 18:50] M123-dev commented on #461
Just long pressing is probably confusing, it should at least open a pop-up menu, but with just one child...
We have to check if a swipe down gesture feels good or if it interrupts the scrolling. If it does the ways in the list page should be enough.

-----------

Another thing the list is currently being saved. This probably caused this issue. I don't know if it's the same for you but for me this

[2021-07-27 06:23] monsieurtanuki commented on #461
We have to check if a swipe down gesture feels good or if it interrupts the scrolling. If it does the ways in the list page should be enough.

When you scan a product, it's a natural thought to click on it (short click) to go to the detailed product page.
A long click wouldn't delete the product anyway: it would have the same behavior as for "normal" lists, where the whole list is displayed with p

[2021-07-27 08:16] #404 closed, assigned to nobody

[2021-07-27 08:32] stephanegigandet commented on #464
That's strange, we use https://pub.dev/packages/flutter_native_splash and you should have a splash screen with a big version of the smoothie icon.

[2021-07-27 08:37] stephanegigandet commented on #464
The ios splash screens have already been created, that's weird.

They can be created like this:

~/smooth-app/packages/smooth_app$ flutter pub run flutter_native_splash:create
[Android] Creating splash images
[Android] Creating dark mode splash images
[Android] Updating android/app/src/main/res/drawable/launch_background.xml with splash image path
[Android] Updating android/app/src/main/res/drawab

[2021-07-27 08:45] stephanegigandet commented on #461
I don't think we should add features like this is the carousel view. We want a clean experience, not features that are difficult to discover or that could be triggered unexpectedly. So removing an item with swiping should be in the list view, and I think we should avoid long press anywhere.

But we should be able to clear the list / start a new list in the carousel view.

That's what I meant by:

[2021-07-27 09:30] monsieurtanuki commented on #464
I do have a smoothie splash screen in ios Simulator:
![Simulator Screen Shot - iPhone 8 Plus - 2021-07-27 at 11 29 33](https://user-images.githubusercontent.com/11576431/127131111-3a5fbb90-22af-46ab-ac1d-b921ef3d7cf9.png)

[2021-07-27 10:08] monsieurtanuki commented on #461
@stephanegigandet @M123-dev Do we agree on that: add to personal ranking lists the swipe and long press features, similar to what happens in "normal" lists?

Regarding the scan page, there's confusion between my whole history of scanned products (which I think is still interesting - "hey, I think I scanned this product last week, let's have a look") and my current "product battle" ("today I want t

[2021-07-27 10:08] slava-sh commented on #464
I thought I was seeing a Flutter splash screen followed by a Smoothie splash screen, but I just checked again and I'm only seeing the Smoothie splash screen. Sorry about the confusion.

[2021-07-27 10:11] slava-sh commented on #464
The only place where I'm still seeing the default Flutter icon is the app switcher:
![Simulator Screen Shot - iPhone 8 - 2021-07-27 at 11 07 31](https://user-images.githubusercontent.com/470136/127137002-a6a56998-73c8-4a6e-a4ce-8249e26665b6.png)

[2021-07-27 10:32] stephanegigandet commented on #461
Yes.

[2021-07-27 10:42] stephanegigandet commented on #461
Instead of giving access to it on the scan page, it may be better to give access to it on the home page (in the same way as the "My recently seen products").

Agreed. Right now we don't really have a good contribution mode, so let's hide it. We can always add a contribution mode later (and an organize mode etc.).

Perfect.

Perfect.

I think it's better to have text + icon, or even just text, rath

[2021-07-27 11:15] stephanegigandet commented on #461
Now that the scan zone is centered, and if we remove the choose / contribute toggle, we have a lot of space on top. I think we could use it to explain what the scan does, and also to add the button to change one's preferences.

Below the cards, we can put the button to start a new current list, and to see one's ranking. Something we could add as well is an indication of the number of products that

[2021-07-27 12:45] stephanegigandet commented on #464
I'm guessing it's in a temporary cache somewhere and that it will be replaced by the new icon at some point.

[2021-07-27 15:17] monsieurtanuki commented on #464
uninstall then install?

[2021-07-27 15:26] M123-dev commented on #461
One idea for that, what about adding another (continuous) scan page with only the purpose of adding products to a list. To open maybe from a FAB on the list page. But this should be discussed in another issue.

-------

@stephanegigandet I understand and also think that it's better to label (at least the important) buttons but adding as much Text as in your mockup makes the scanner more caotic  as

[2021-07-27 15:50] monsieurtanuki commented on #461
I don't believe in text, I prefer big fat icons instead, possibly with a "got it" message when you click on it.
With text you're polluting forever the space of the page. With icons the end-user is limited to few choices with limited risks, and once they understood the purpose they don't need the explanation to be printed forever.

Anyway, we'll see with mockups.

Another thing, my 2015 smartphone

[2021-07-27 15:55] stephanegigandet commented on #461
@M123-dev : we could have a button for that at the bottom of the scan page:

![image](https://user-images.githubusercontent.com/8158668/127186538-a57073a6-cff6-4742-97ff-571495d067a8.png)

[2021-07-27 16:05] stephanegigandet commented on #461
Well if you search "icons versus text" you will see that almost everyone says that icons should not be used without text labels....

e.g. https://www.smashingmagazine.com/2016/10/icons-as-part-of-a-great-user-experience/#use-labels-to-clarify-abstract-or-unfamiliar-icons

![image](https://user-images.githubusercontent.com/8158668/127187952-f6318280-21b7-4174-8acb-371fd31a81b6.png)

So I would real

[2021-07-27 16:07] stephanegigandet commented on #461
Can we all agree to remove the "Powered by Open Food Facts" text? :)

[2021-07-27 16:19] monsieurtanuki commented on #461
@stephanegigandet Fair enough for titles, but you suggested something more verbose like "Scan product barcodes to see which ones better match your food preferences" (that could replace "Powered by OFF")

Anyway, this is more or less what I had in mind - and yes @stephanegigandet, without "Powered by Open Food Facts" ;)
![Screenshot_2021-07-27-18-15-46](https://user-images.githubusercontent.com/115

[2021-07-27 16:21] stephanegigandet commented on #461
@monsieurtanuki : maybe a solution:

![image](https://user-images.githubusercontent.com/8158668/127189930-377c93bc-ccc1-4cc7-90dd-0bb4ca5cbda7.png)

1. On my phone I don't have as much padding as you have on the product card, maybe we could reduce it so that the product card is just tall enough for the product image on the left.
2. Removing "Powered by Open Food Facts" allows us to move the produc

[2021-07-27 16:33] stephanegigandet commented on #461
@monsieurtanuki : I think it's important to give context to users. e.g. if we show a "Preferences" button, it's really unclear what it is. It could be preferences like app options like dark mode. In fact a lot of people probably will never go into those preferences.

We can shorten it: "See which products match your preferences.". That's enough context. Now the user knows that the "My preferences"

[2021-07-27 16:35] M123-dev commented on #461
@stephanegigandet I meant more of a dedicated page which adds every scanned item into a list. Especially for pantries this could be interesting.

Labels are great (and sometimes tooltips) but a whole explanation on top seems too much. As @monsieurtanuki said, when the user understood the concept we don't have to explain it again.

I have no problem with that.

---------

@monsieurtanuki I understa

[2021-07-27 16:38] stephanegigandet commented on #461
OK, how about this: we keep the blue card with my short description "See which products match your preferences" with the "My preferences" button on top, BUT we add a X icon in the top right corner so that users can close the card and never see it again. Would that be fine with you?

[2021-07-27 16:38] stephanegigandet commented on #461
Make that a "X" icon with a "Close" label of course ;)

[2021-07-27 16:41] stephanegigandet commented on #461
I think it makes sense to keep the "Clear" and "My ranking" buttons below the scanned product cards, as it conveys that those buttons will have an action on those scanned products. If we move the buttons (or the scanned products) on top, then we lose that connection.

[2021-07-27 16:43] monsieurtanuki commented on #461
@stephanegigandet I don't think buttons can be much smaller - it's a Material requirement that they are at least 54 dpi large. They just look smaller on your bigger screen :)

Regarding displaying the buttons this way, I'm almost certain that it won't fit my screen (let alone labels in German or Malagasy). I'll try that though.

I tend to agree with @M123-dev about the preferences: it's not in the

[2021-07-27 16:48] stephanegigandet commented on #461
We could have a "no labels on buttons" mode when the screen size is too small I guess.

Great! :)

[2021-07-27 16:49] monsieurtanuki commented on #461
I've tried: not enough space for 3 buttons with labels:
![Screenshot_2021-07-27-18-46-19](https://user-images.githubusercontent.com/11576431/127194786-515f5f51-66dc-4746-9916-a0c18b3bc6bc.png)

[2021-07-27 17:10] stephanegigandet commented on #461
The "My preferences" button should be shown only on the top card "See which products match your preferences", with a X button to close the card. That way we have only 2 buttons at the bottom: "Clear" and "My ranking".

[2021-07-27 17:16] monsieurtanuki commented on #461
Something like that then:
![Screenshot_2021-07-27-19-15-19](https://user-images.githubusercontent.com/11576431/127198712-16972a50-8e06-42fd-9f35-9ba0eb2d1562.png)

[2021-07-27 17:28] monsieurtanuki commented on #461
The text is misleading though: "See which products match your preferences" would rather make sense for "my ranking".

My final suggestions for today: first, a "got it" message
![Screenshot_2021-07-27-19-23-08](https://user-images.githubusercontent.com/11576431/127199698-9fdb0dc2-e814-42d4-ab6b-90bceb8fb566.png)

Then (after a click on X), a "my preferences" button:
![Screenshot_2021-07-27-19-26-49

[2021-07-27 17:59] M123-dev commented on #461
I think @stephanegigandet meant that the "my preferences" button completely dissapears.

Otherwise the ux looks good.
Just two questions, why is the appBar visible again and do you want to use these buttons or FloatingActionButtons. I personally find that the FABs fit much better in the scanner.

[2021-07-27 18:06] stephanegigandet commented on #461
Right, the "My preferences" button is in the "Got it" message. When the user closes it, both the text and the "My preferences" button go away.

[2021-07-27 18:10] stephanegigandet commented on #461
Well "See which products match your preferences" describes both outputs of scanning:

1. The user sees right away if the product match his preferences: with the icons, and with the green or red background color of the card.
2. + "My ranking".

That's why I want to put it on top, it explains what the user will get.

[2021-07-27 19:01] monsieurtanuki commented on #461
@M123-dev

I had trouble displaying my "got it" message, it looks like one side effect of the transparent app bar is that some other widgets become transparent too. Besides that, there's no good reason why the app bar should be transparent just here in the whole app, and there's enough space on the screen to see the camera input anyway.

I don't think best practices include several FABs on the sam

[2021-07-28 06:26] monsieurtanuki commented on #461
@stephanegigandet @M123-dev Anyway guys we seem to agree on the new scan page.
The most important part is the "temporary/clearable scan session" feature, that I need to add to the the database.
Once it's PR'ed and merged, we'll see if the UX is correct and you'll be able to add your own PR on top to change the size, colors and positions of the buttons.

[2021-07-29 09:29] M123-dev opened #470 "How profound is the DB implementation"
@monsieurtanuki there is the idea of implementing some parts or even the whole app, inside the website.
The question is how deeply is the DB integrated in the code, can we for example allow to show the product page on web and exclude the caching and adding to history lists.
And is it worth the effort?

CC: @zond @stephanegigandet

[2021-07-29 09:55] zond commented on #470
I suspect another use case (perhaps more realistic) would be to run the app as a mobile web app for users that don't want to install it as a native app.

On the web site it's probably not practical to run the whole app, but instead pick the components that make sense, e.g. to provide a common product info view.

[2021-07-29 12:04] monsieurtanuki commented on #470
The database is accessed only through `Dao%` classes, like "give me the product 012345666" or "give me the latest 10 scanned barcodes". I guess we could multiplex Dao in order to support web apps too (where sqlite does not exist).

In my own app I really enjoyed using the code (99%) for Android, iOS and web app.

If the question is: "Should we build a different smaller flutter web app from smoothi

[2021-07-29 12:14] M123-dev commented on #470
Thanks @monsieurtanuki , for me it was more point 1 since a large part of the features are currently dependent on the database, I was unsure whether it would be worth making it web-compatible or if it would be too much effort.

[2021-07-29 15:34] monsieurtanuki commented on #470
@M123-dev Let's say that for the moment the web app is not part of the plan AFAIK, and that we're still trying to figure out what the (Android+iOS) app will be.
Once we have a better view on what we actually need and once we implemented that, we'll be able to say which features are important and how we could possibly implement them without a sqlite database.

For instance, we could easily store al

[2021-07-30 10:56] monsieurtanuki commented on #470
@M123-dev Correction: from what I understood, `SharedPreferences` won't be a good option for storing product data because:
* product data are heavy (like 10K for each product if I remember well)
* in its init `SharedPreferences.getInstance()` EVERYTHING is loaded in memory (and then we're stuck with the same perf issues as in NoSQL sembast)
* right now opening the `SharedPreferences` (that only in

[2021-07-30 11:09] M123-dev commented on #470
@monsieurtanuki , what about [hive](https://pub.dev/packages/hive)? There you split your data into different named boxes. From how the dart code is structured I would think that the data is loaded into memory when the box is opened.

It's very likely not comparable to sqflite, but i think we should focus more on lists and not necessarily on caching in the web.

[2021-07-30 12:43] monsieurtanuki commented on #470
@M123-dev I don't think `hive` is a good solution for us either (cf. https://pub.dev/packages/hive):
* "It is a perfect fit if you need a lightweight datastore for your app." - is that a lightweight solution or a solution for lightweight datastores?
* "Boxes are cached and therefore fast enough to be used directly in the build() method of Flutter widgets." - then all the boxes will be loaded and c

[2021-08-03 09:57] monsieurtanuki commented on #461
Solved with an obvious "Clear" button on scan page and the added swipe and long press features in ranking page.

[2021-08-03 09:57] #461 closed, assigned to monsieurtanuki

[2021-08-03 16:19] slava-sh opened #473 "Hot reloading does not work"
**Steps to reproduce the behavior**
1. Run the app with `flutter run`
2. Navigate to a different page
3. Press `r` in the flutter console
4. The navigation state gets reset

**Expected behavior**
The navigation state should be preserved on hot reload

[2021-08-03 16:24] monsieurtanuki commented on #473
@slava-sh The good news is that it only impacts developers, not end-users.
I wasn't aware that the expected behavior was to stay in the same screen.
Don't hesitate to create a PR.

[2021-08-04 17:07] slava-sh opened #475 "Error when launching the app for the first time"
I am seeing the following error when launching the app for the first time on my Android device:
[code]

[2021-08-04 17:18] teolemon commented on #475
It's similar to
https://github.com/openfoodfacts/smooth-app/issues/431 I believe

[2021-08-04 18:55] #475 closed, assigned to nobody

[2021-08-05 11:43] #473 closed, assigned to nobody

[2021-08-06 09:13] monsieurtanuki opened #478 "Clean "initial fatal error" management"
If there's a fatal error in the init phase, like no access to database or preferences (in both cases highly unlikely), we should stop the app and not give the impression that something bad happened but it's still OK.

Not a really important feature, but I've got the idea yesterday while reviewing #474 and it's a quick fix.

[2021-08-06 12:01] slava-sh opened #480 "Migrate to sentry_flutter"
Smoothie is using the [`sentry`](1) package right now, but `sentry_flutter` is recommended for Flutter apps. It's builds on top of `sentry` and provides some benefits. See https://pub.dev/packages/sentry.

Context: https://github.com/openfoodfacts/smooth-app/pull/474#discussion_r683601603

[1]: https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/main.dart#L20

[2021-08-09 15:09] #478 closed, assigned to monsieurtanuki

[2021-08-13 19:03] laulowen opened #482 "Improved Core Journeys: Home and Navigation"
### Who for

- App users

### What
TBC
- [x] #487
- [x] #488
  - [x] #531
  - [x] #532

### Why
TBC

### Blocked on
- [x] #487
- [x] #488

### Blocks
- [x] #495

[2021-08-16 15:28] slava-sh opened #483 "QRView disposal causes random delays on iOS"
**Describe the bug**
When the leaving "Search" page on my iOS device, I sometimes experience a UI freeze for roughly 10 seconds. I could not reproduce the same on my Android device.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the app
2. Tap on the "History" button
3. Tap on the "Search" button
4. Repeat steps 2-3 until observing a UI freeze

**Expected behavior**
There should be no

[2021-08-17 10:45] gcalsmith opened #485 "Write a PRD"

[2021-08-17 10:45] #485 closed, assigned to nobody

[2021-08-17 10:46] laulowen opened #486 "Approved plan to improve app Home Screen and Navigation"

[2021-08-17 10:50] laulowen opened #487 "Approved plan to improve app Home Screen and Navigation"
# What
* A PRD
* The UX
* Approved by the right stakeholders, Pierre and Stéphane in particular

[2021-08-17 10:54] laulowen opened #488 "Implemented new Home Screen and Navigation"
### What
Home screen and navigation

Fully functional home screen and navigation implemented into the smooth app and replacing the current home screen and navigation

- [x] New navigation bar
  - [x] https://github.com/openfoodfacts/smooth-app/pull/481
- [x] Inversion of screen
  - [x] https://github.com/openfoodfacts/smooth-app/pull/484
- [ ] Replace the categories by something else (history)

##

[2021-08-17 10:56] #486 closed, assigned to nobody

[2021-08-17 11:43] laulowen opened #489 "UX spec for Home Screen and Navigation"
# What and why

As an OFF team member I want a specification of the UX to know what Home Screen and Navigation we are aiming for

# Acceptance criteria
* A set of docs and images describing the UX
* Eng, product and UX approved

# How are we going to demo
* A walkthrough

# Note
* We are aiming to do user testing on the ux and may need to make changes that will be modelled as separate issues

[2021-08-18 10:16] monsieurtanuki commented on #470
@M123-dev Reading further about `hive` and the concept of "lazy" boxes...

That probably means that:
* not all the boxes are opened at init time as I assumed at first - the init being just a "we're talking about this file" step
* we may put each product in a different box, to be lazily opened only if needed - we load each needed product into memory, and forget about it as soon as we don't need it.

[2021-08-18 14:30] slava-sh commented on #464
That worked

[2021-08-18 14:30] #464 closed, assigned to nobody

[2021-08-19 10:25] teolemon opened #493 "Launch"
### Who for
Users

### What
Launch the first version of the app, with the new Overall navigation

### Why
- To get initial feedback from users
- To hone the release process

[2021-08-19 10:26] teolemon opened #494 "Fix product breaking bugs"
Please add as dependancies any release-blocking bug.
### Part of
- [x] #500
### Blocked on
- [x] #440
- [x] #441

[2021-08-19 11:56] teolemon opened #495 "Improve the app's core journeys to help the world to make better food choices"
### Who for
- Users

### What
#### P0
- [x] #499
- [x] #500
#### P1
- [x] #482
- [ ] #991
- [ ] Increase downloads

#### P2
- [ ] #506

#### P3
- [ ] #503

#### P4
- [ ] Compare

#### P5
- [x] #521

### Why

- It's part of [Open Food Facts's mission](https://world.openfoodfacts.org/open-food-facts-vision-mission-values-and-programs) 🙃

### Part of
- https://github.com/openfoodfacts/offf/issues/20

[2021-08-19 11:56] teolemon opened #496 "Approved plan to improve the Product Page Information Architecture in the app"
### Who for
- Smoothie developers

### What

- [x] Approved plan to improve the Product Page Information Architecture in the app (@gcalsmith + Tim)
- [x] Share it as part of #498

### Why
- To ensure we can code in a coherent way

### Part of

- [x] #498
- [ ] #499

[2021-08-19 11:57] teolemon opened #497 "Approved plan for modules in new Product Page (including Eco-Score)"
### What
- Server-side part
  - [x] [Knowledge panel API document](https://docs.google.com/document/d/1vJ9gatmv8pCXxyOERmYD16jOKRWJpz1RaQQ5MEcTxms/edit) (under discussion)
  - [x] https://github.com/openfoodfacts/openfoodfacts-server/issues/5493
- [ ] List of [all potential Knowledge panels](https://docs.google.com/spreadsheets/u/1/d/1RHfzsc_ws9LiWPYL-8Xjtzv1_-UiS86ADymrQsrHBAE/edit#gid=236424165)

[2021-08-19 11:59] teolemon opened #498 "Implement improved Product Page and essential modules"
### Who for

- As an user, I want to have the feeling of learning something new when viewing the product page (eg something I couldn't have guessed easily)

### What

- [x] #542
- [x] Implement the decided list of knowledge modules
  - [x] KP1
  - [x] KP2
  - [x] …
- [x] Ensure the framework is future-proof and scalable for the next modules

### Blocked on
- [x] #496

[2021-08-19 12:03] teolemon opened #499 "📖 Knowledge panels (Tracker)"
### Who for
- As a user, I'd like to have a clearly organized, helpful product page, that's customized to my interests.

### What
- [x] openfoodfacts/smooth-app#527

#### Done
- [x] openfoodfacts/smooth-app#1043
- [x] openfoodfacts/smooth-app#1029
- [x] openfoodfacts/smooth-app#1026
- [x] openfoodfacts/smooth-app#1025
- [x] openfoodfacts/openfoodfacts-server#6585
- [x] openfoodfacts/smooth-app#784

[2021-08-19 12:06] teolemon opened #500 "Launch Smoothie (tracker bug)"
### Who for
- Users

### What
Launch the first version of the app, with the new Overall navigation
- [x] #501
- [x] #502
#### Done
- [x] https://github.com/openfoodfacts/smooth-app/issues/551
- [x] #553
- [x] #440
- [x] #441
- [x] #437
- [x] #494
### Why
- To get initial feedback from users
- To hone the release process

### Part of
- #495

[2021-08-19 12:23] teolemon opened #501 "Set up product usage logging for core features"
### What
This implies:
- [x] #309
- [x] #480
- [x] UI work for logging consent
- [x] #1158
  - [x] We should also ensure we can enable/disable it at any time
  ![image](https://user-images.githubusercontent.com/1689815/149326412-b7f04527-e749-471f-a530-52a8a60dcb2e.png)
- [x] Implementation of logging events
- [ ] defining a list of what we want to log
  - [x] Knowledge Panel taps, views and exten

[2021-08-19 12:24] teolemon opened #502 "Launch improved app as an update on AppStore and Playstore (Tracker)"
### IMPORTANT
PLEASE refer to :  https://github.com/orgs/openfoodfacts/projects/7/views/6

### Old what

- [ ] Marketing images for at least French and English
- [ ] Marketing text for at least French and English
- [ ] Ensure there's a proper Allergen Alert that is as visible and as clear as v1
- [x] #1234
- [x] #1233
- [ ] Extra/Non essential
  - [ ] #18 (for iOS feature parity)
  - [ ] #766 (for

[2021-08-19 12:50] teolemon opened #503 "Contribute (Tracker)"
### What
- please see subtasks
### Related
- [ ] #20

### Part of
- [x] #495

[2021-08-19 12:51] teolemon opened #504 "Approved plan to improve Contribution flow in app"
### What
[Design document](https://docs.google.com/document/d/11tonHzTULR1U6Uw9g4nrB0lZPHUVJCAOdBER1rvombk/edit)
### Part of
- #503

[2021-08-19 12:51] teolemon opened #505 "Implement improved contribution flow in app"
### Who for

End-users

### What
#### Initial solution
- [] #509 (Dropped)
#### Individual native widgets
- [ ] #903
- [x] #511
  - [x] We have a translated/ordered nutrient list available from the DART package
  - [x] Initial implementation done by @monsieurtanuki
  - [ ] It needs to be added to #881 as well
- [x] #512
  - [x] A PR has been started by @justinmc #707
  - [ ] It needs to be added t

[2021-08-19 13:21] teolemon opened #506 "Food preferences (Tracker issue)"
### Who for

- As a user, I'd like to see the information that matters most for me quickly, and first on the product page.
- As a user, I'd like to see the products that match my choices first in search
- As a user, I'd like to see the products that better match my choices if I scan an incompatible product

### What

### Tasklist
- [ ] Finalize revamp plan [Current mockups](https://www.figma.com/f

[2021-08-19 13:22] teolemon opened #507 "Approved plan to improve Personal Preferences settings in app"
### Who for

### What
- On-going discussion in #492

### Why

### Part of
- https://github.com/openfoodfacts/smooth-app/issues/506

[2021-08-19 13:23] teolemon opened #508 "Implement improved Personal Preferences in app"
### Who for

- As a user, I'd like to be aware that I can personalize the app
- As a user, I don't want to be overwhelmed by personalization

### What

- [x] On-going discussion in #492
- [x] https://github.com/openfoodfacts/smooth-app/pull/492

### Why

- Personalization is a strong differentiator, and very useful to several personas/usecases (Vegan, Gluten…)

### Part of
- #506

[2021-08-19 16:25] teolemon commented on #480
@slava-sh is it fixed ? are we logging anything ?

[2021-08-19 16:39] monsieurtanuki commented on #464
Recommended by _OSS 117_ in "[From Africa with love](https://www.imdb.com/title/tt7972012/)" :)

[2021-08-19 18:25] #504 closed, assigned to nobody

[2021-08-19 18:27] teolemon opened #509 "Webview based product addition and edition"
### Who for

- As a user, I want to have a minimum way to get to the scores or correct a mistake.
- As a developer, I want to ensure positive or at least neutral App Reviews until we get the Native Edition working.

### What

[Webview based product addition and edition](https://docs.google.com/document/d/1me-6DkRnhaLZcGMbCixLrCpwZnq8IAiXN11In-mesG8/edit?usp=sharing)

### Why

### Blocked on
- http

[2021-08-19 18:27] teolemon opened #510 "Mobile - Product addition - Nutrition input"

[2021-08-19 18:29] teolemon opened #511 "Nutrition input (Tracker)"
### Who for

### What

### Tasks
- [ ] Add a server controlled nutrition-table input
  - [x] It should return the default translated, ordered and filtered list of nutrients based on the language code and the country code, as well as a complete list of known nutrients (translated)
  - [ ] This list is also adapted based on the known category of the product (eg: waters, baby milks, alcoholic drinks)

[2021-08-19 18:29] teolemon opened #512 "Implement Ingredients input"
### Who for
- [ ] Users who care about ingredients (Vegan, Allergies, Additives, Food processing…)

### What
- [Design doc](https://docs.google.com/document/d/1cccig-OIwrA4NaSpLCkk7roFQnFOM4x-eJ7fPcNWMGs/edit)
- Ingredient input, augmented by OCR, and easy to correct (possibly by highlighting and tokenizing unrecognized ingredients)
- [x] #107

### Why

- We don't have all the ingredient lists in

[2021-08-19 18:30] teolemon opened #513 "Photo upload (tracker)"
### Who for

- As a contributor, I want to be able to upload photos of specific part of the packaging, as well as any additional photos I'd like
- As Robotoff, I'd like to get as many legible photos as I can to predict as much information as possible about the product

### What
- Photo upload is already implemented
- What can we do to make it better ?

### Tasks

- [ ] https://github.com/openfoodf

[2021-08-19 18:30] teolemon opened #514 "Taxonomized field edition"
### Who for

### What
Fields like:

- [ ] Make the Tag picker work for the Packaging #515
- [ ] Make the Tag picker work for the Labels #524
- [ ] Make the Tag picker work for the Traceability codes field
- [ ] Make the Tag picker work for the Countries field
- [ ] Make the Tag picker work for the Substances or products causing allergies or intolerances
- [ ] Make the Tag picker work for the Trace

[2021-08-19 18:30] teolemon opened #515 "Implement guided packaging input (wizard-like)"
### Who for

- As a user who cares about the Eco-Score, I would like to be able to input packaging easily, possibly with help from Open Food Facts

### What
#### Packaging input wizard (important and urgent)

#### Dart side
- [x] Add openfoodfacts-dart support for reading and writing the new packaging structure
  - [x] curl -X POST https://off:off@world.openfoodfacts.dev/api/v3/product/12345678 -H

[2021-08-19 18:30] teolemon opened #516 "Create a category picker for product editing"
### Who for
- Users
### What
- A hierarchical category picker
[Design doc](https://docs.google.com/document/d/18gugRQL0yGRuGa6WQcBgekxcWl3tRt0rtSnU-CP6M3E/edit)
- [x] #651
- [x] #944
### Why
- As a user who wants to get the Eco-Score or the Nutri-Score, I want to be able to input category without knowing the open food facts category system by heart.

### Mockup
#### Integration with the product pa

[2021-08-19 18:30] teolemon opened #517 "Implement full/guided ingredients origins input (tracker)"
### Who for
- Contributors
### What

- Implement ingredients origins input

### Tasklist
  - [ ] Note: This will require a server upgrade with a structure very similar to the one @stephanegigandet is creating for packaging input
#### Foundations
- [ ] Add support for autocomplete on the origins taxonomy
- [ ] Use the partial taxonomy API to get origins (https://github.com/openfoodfacts/openfoodfac

[2021-08-19 18:31] #510 closed, assigned to nobody

[2021-08-19 18:54] teolemon opened #518 "Add an Eco-Score completion pipeline"
### Who for
- People who have scanned an incomplete product
### Why
- As an app user, I'd like to be able to get the Eco-Score on any product in the world, even if it does not exist in Open Food Facts, or it's not complete enough.
- As a power user, I'd like to help make Eco-Score computation more accurate on products which already have an Eco-Score

### What
- A button on the Environment card dir

[2021-08-19 18:54] teolemon opened #519 "Add a Nutri-Score completion pipeline"
### Who for
- People who have scanned an incomplete product
### What
- A button on the Health card directing to (ideally) a refined edit mode, with specific instructions on what to do

[code]

### Blocked on
- [x] https://github.com/openfoodfacts/openfoodfacts-dart/issues/193
- [ ] #511
- [x] #516

### Why
### Part of
- #505

[2021-08-19 18:55] teolemon opened #520 "Ingredients analysis completion pipeline"
### Who for
- People who have scanned an incomplete product
- As a gluten-intolerant user or a vegan user, I'd like to get a way to have info about the Gluten/Vegan status, even if the ingredients are not extracted from the photo, or even the photo is missing.
### What
[Design doc](https://docs.google.com/document/d/1avnxJr8_m6OjRBt0vgwBzlzaZB7Q6z14t0taMKIrkp0/edit)
### Blocked on
- [x] #512

###

[2021-08-19 19:07] teolemon opened #521 "Stretch goals (tracker)"
(Stretch goals tracker bug for the OFFF fellowship)

### What
- [ ] #991
  - [ ] Approved plan to improve Search experience in app
  - [ ] Implement improved Search experience in app
- [ ] #561
  - [ ] Approved plan for app first-run experience
  - [ ] Implement improved first-run experience
- [ ] Approved plan to improve low prio app flows: History, Donation, etc
   - [ ] #64
   - [ ] #654 / #878

[2021-08-20 09:34] teolemon opened #522 "Add support for edition of multilingual and/or free-text fields"
### Who for
- App users who encounter a product without name
- App users who are adding a new product

### Why
- The name and quantity of the product have no immediate purpose for the user, yet they are essential for:
  - Search
  - ML detection of the category
  - They will clutter the addition UI and are error prone.
- Common name can be omitted from mobile and serving size can be grouped in the

[2021-08-20 11:13] teolemon commented on #493
Moved to #500

[2021-08-20 11:13] #493 closed, assigned to nobody

[2021-08-20 12:16] teolemon opened #523 "Track mode (Tracker issue)"
### Who for

- Users who'd like to track the impact on food on their health
- Users who'd like to track the impact on food on their environment
- Users who'd like to track the food they have

### What

- [ ] https://github.com/openfoodfacts/smooth-app/issues/2483
- [ ] Receipt tracking efforts
  - [ ] https://github.com/openreceipts/openreceipts-server (A 2 day effort including @teolemon, during a

[2021-08-20 14:42] teolemon opened #524 "Eco-Score labels input"
### Who for
- Users
### What
- [ ] [Design document](https://docs.google.com/document/d/1hucmRIAQHdlmr7tFP70-6Z5mHJoADi40exzQWbbeqnk/edit#)
- It's faster to ask users to tick all the labels present, so that we can be sure we have all the labels (as opposed to detecting them over time, or praying they inputed all the labels)

### Why

- Labels are taken into account as bonus and maluses for Eco-Sco

[2021-08-23 08:49] teolemon opened #525 "🎯 What can I work on ? (mobile app)"
### Next release planning

[We plan the next big release here](https://github.com/openfoodfacts/smooth-app/issues/6882)

### 🌟 Main current areas of focus 🌟
- [ ] https://github.com/openfoodfacts/smooth-app/issues/4795
- [ ] https://github.com/openfoodfacts/smooth-app/issues/2483
- [ ] https://github.com/openfoodfacts/smooth-app/issues/4023
- [ ] https://github.com/openfoodfacts/smooth-app/issues/

[2021-08-23 15:21] teolemon commented on #158
yes, we can

[2021-08-23 15:21] #158 closed

[2021-08-23 15:45] teolemon opened #526 "🤳🥫 Scanning (tracker)"
### What

### Offline barcode scan
  - [ ] #18

### Scanning system
- [x] Scan does not seem to work well on Redmi devices
- [ ] #18
- [ ] https://github.com/openfoodfacts/smooth-app/issues/3562
- [x] https://github.com/openfoodfacts/smooth-app/issues/4459

### Scanning card
- [ ] #3877

### Part of
- #525

[2021-08-23 17:30] teolemon opened #527 "Reintroduce the daily intake visualization already in the code as a Knowledge panel"
### What

- [ ] Reintroduce the daily intake visualization already in the code as a Knowledge panel on the product page

### Code pointers
- https://github.com/openfoodfacts/smooth-app/issues/304
- https://github.com/openfoodfacts/smooth-app/commit/194da755efa94f7d43b1b48e7d7dbdeb0df1ea1f

### Screenshot

- The feature as it appeared in Quick view (note: we would move it to the full Product page)

[2021-08-23 17:38] M123-dev commented on #527
@teolemon

[2021-08-24 10:02] jasmeet0817 opened #528 "Smoothie infrastructure improvements"
### Who for

Developers

### What

We can improve a few aspects of Smoothie infrastructure, namely:
- Add a testing infrastructure for integration and screenshot testing.
- Setup a monitoring pipeline to monitor click/visits
- Add an experimentation infrastructure to enable experimenting new features before releasing them.

[2021-08-24 10:20] jasmeet0817 opened #529 "Screenshot testing infrastructure for Smoothie"
Epic: #528

### Description
Add screenshot testing infrastructure and some screenshot tests for the Smoothie app.

### Acceptance criteria
Tests run and find any unaccounted for UI changes.
Tests should run on each pull request.

### What would a demo look like
Create a buggy change and try to pull it into the main repo, the test should catch it.

### Tasks

- [x] Figure out the right tolerance le

[2021-08-24 10:26] jasmeet0817 opened #530 "Eco-Score related Knowledge panels"
### Who for
User

### What

- [ ] Knowledge panels to display various Eco score related data to the user.
- [ ] Make the mechanism generic enough to serve any kind of KP.

### Why
To publish data to the user with a generic mechanism in the background.

[2021-08-24 10:50] jasmeet0817 opened #531 "Combine Search & Scan page (UX)"
Epic: #

### Description
Combine Search & Scan page (UX)

There might be a possibility to add the Categories or search history back onto the page

### Part of
-  #488

[2021-08-24 10:53] jasmeet0817 opened #532 "Combine Search & Scan page (Eng)"
Epic: #

### Description
Move the Search widget from the old smoothie Home screen to the Search and Scan page.

### Acceptance criteria
The moved widget should be searchable and yield search results

### What would a demo look like
* Open the app on the home screen. Show that the widget has been moved
* Search for a product by text and see it pop up in the results
* Scan a bar code and see it pop

[2021-08-24 10:55] jasmeet0817 opened #533 "Improve search results"
### What
- Combine local search and server search results together.
- Recommendation: Do a network search by default but in case of low internet connection use the local cache for finding the search results.

### Acceptance criteria
- Search results should start populating from the server by default.

### What would a demo look like
- Demo the new search behaviour

### Tasks
- TBD

[2021-08-24 11:06] jasmeet0817 opened #534 "Bind a data model for the new generic Knowledge panel's API response"
Epic: #

### Description
Bind a data model to the new generic Knowledge panel's API response

### Acceptance criteria
Data model should correspond directly to the KP's API response.

### What would a demo look like
??

### Tasks
TBD

[2021-08-24 11:09] jasmeet0817 opened #535 "Build a minimal rendering UI for rendering generic KPs"
Epic: #

### Description
Build a minimal rendering UI for rendering generic KPs. No requirements on how it looks, just needs to display some of the Knowledge Panel information

### Demo
* From the app, search for a pre-agreed product
* Click on the result to open it
* See the eco-score displayed in a rough way

[2021-08-24 11:30] slava-sh commented on #480
No, this has not been addressed. We currently [log top-level exceptions][1] using the sentry package.

[1]: https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/main.dart#L32-L39

[2021-08-24 15:39] teolemon opened #536 "Automation of the release process (for marketing assets)"
### Who for
- Maintainers
### What
- [x] #537
- [x] #538
  - [x] https://github.com/openfoodfacts/fastlane-descriptions-smoothie
- [x] #539
- [x] #217

### Why
- Save a lot of time

### Part of
- #525
- #500

[2021-08-24 15:39] teolemon opened #537 "Automate the deployment of App Stores text and descriptions with Fastlane"
### What

- [ ] Automate the deployment of App Stores text and descriptions with Fastlane
  - [ ] https://docs.fastlane.tools/actions/upload_to_app_store/
- [ ] Please see openfoodfacts/fastlane-descriptions-smoothie/issues/5

### Part of
- #536

[2021-08-24 15:39] teolemon opened #538 "Set up translation of App Stores text and descriptions with Crowdin"
### What

- [ ] Set up translation of App Stores text and descriptions with Crowdin
  - [ ] https://github.com/openfoodfacts/fastlane-descriptions-smoothie

### Part of
- #536

[2021-08-24 15:40] teolemon opened #539 "Automate the deployment of manually-taken screenshots with Fastlane"
### What

- [ ] Automate the deployment of manually-taken screenshots with Fastlane to Android Play Store
- [ ] Automate the deployment of manually-taken screenshots with Fastlane to Apple App Store

### How

- https://docs.fastlane.tools/getting-started/ios/screenshots/#upload-screenshots-to-the-app-store
- Work happening at https://github.com/openfoodfacts/fastlane-descriptions-smoothie/issues/5

[2021-08-25 14:48] slava-sh opened #541 "Crash on launch in debug mode on iOS 14+ when debugger is not attached"
### What
- Crash on launch in debug mode on iOS 14+ when debugger is not attached
- See https://github.com/flutter/flutter/issues/60657. This is supposed to be mitigated by. https://github.com/flutter/engine/pull/20980.

I see the following message in the console when the app crashes:

[2021-08-26 15:56] teolemon opened #542 "Implement the decided information architecture"
### What
- The IA of the product page is still under discussion
### Part of
- #498

[2021-08-26 15:59] slava-sh opened #543 "Add a nice screen asking for camera permission"
See https://github.com/juliuscanute/qr_code_scanner/issues/345#issuecomment-894835423

**To Reproduce**
Steps to reproduce the behavior:

1. Open the app in the iOS simulator
2. An uncaught CameraException is thrown

### Part of
- #526

[2021-08-26 16:19] slava-sh commented on #543
As mentioned in the linked issue, we could use something like https://pub.dev/packages/permission_handler to avoid displaying QRView when the permission is not granted. We could show a nice screen explaining how to grant the permission in that case.

[2021-08-29 13:19] monsieurtanuki commented on #524
Anybody able to provide a list of SVG URLs?

[2021-08-29 14:07] teolemon commented on #524
Yes, I added them in the design document @monsieurtanuki

[2021-08-30 10:05] teolemon commented on #524
@monsieurtanuki I've added the missing logo to Product Opener. I have added what the URL will be once it's deployed.

[2021-08-30 11:37] monsieurtanuki commented on #524
@teolemon I've run a simple test on label SVGs, displaying all of them on a blue background:
![Simulator Screen Shot - iPhone 8 Plus - 2021-08-30 at 13 03 23](https://user-images.githubusercontent.com/11576431/131329854-8a50312e-04b2-418e-95e1-5dbf46845627.png)

When I've run the test there was no SVG available in 2 cases:
* https://world.openfoodfacts.org/images/lang/fr/labels/bio-coherence.90x90

[2021-08-30 14:56] teolemon opened #551 "The language of the app is not honored by the attributes system"
### What
The language of the app is not honored by the attributes system. Look at the section in English, and the text from attributes in French.
![image](https://user-images.githubusercontent.com/1689815/131359320-8dc03edd-7c50-4efe-9779-6c92dad962b0.png)

[2021-08-30 16:23] teolemon opened #552 "It's impossible to show the Eco-Score on personalized rankings"
It's impossible to show the Eco-Score on personalized rankings

[2021-08-30 16:52] monsieurtanuki commented on #552
@teolemon I can. What do you mean?
![Screenshot_2021-08-30-18-50-57](https://user-images.githubusercontent.com/11576431/131375446-5d3275bb-a1e7-41b3-ac36-79b1d1a8e3d6.png)

[2021-08-30 19:01] teolemon commented on #552
The app was in English at the time. Could it be related ?

[2021-08-30 19:27] monsieurtanuki commented on #552
As a test I've just switched to en_US. Looked OK.

What's the problem exactly?
1. you cannot set an importance for ecoscore in the settings?
2. when you set an importance for ecoscore in the settings, you don't see the logo for each product?
3. the personalized list does not seem to reflect the ecoscore score?

[2021-08-30 22:13] teolemon commented on #552
2.
I'm going to give it another try.

[2021-08-31 09:48] #534 closed, assigned to nobody

[2021-08-31 11:04] stephanegigandet commented on #551
There's no such thing as the "language of the app", right? (at least I don't see any way to change it in the settings). That's the language of the phone?

[2021-08-31 11:05] stephanegigandet opened #553 "Add/translate untranslated strings"
Some strings are not translated (or not translated to French).

A few I spotted:

- the initial message at the bottom of the scan page when the app is installed (don't remember the wording)
- "clear" button
- "lists" button
- lists: "add this product", "lists", "pantries", "shopping lists"
- "History (temporary button)" --> should be only shown when users activate a debug mode in the preferences I

[2021-08-31 11:05] teolemon commented on #551
yep.

[2021-08-31 11:54] monsieurtanuki commented on #551
@teolemon The thing is that when you get a product from the API, the language parameter is passed. Verbose product data is retrieved and stored locally __in that language__.
If after that you change your device language, the app knows that you changed languages and displays buttons and titles accordingly, but displays the stored data in the previous language.
If you refresh the product data, then

[2021-08-31 15:34] #535 closed, assigned to nobody

[2021-08-31 15:40] jasmeet0817 opened #554 "Knowledge Panels: Implement the first version of the draft UI"
Description
Implement the first version of a rendering UI for generic KPs.

Demo
[On a local environment]

Search for a product
Click on the result to open the product page
Click on the eco-score
See the knowledge panel.

[2021-08-31 15:50] jasmeet0817 opened #555 "First implementation of ecoscore related Knowledge panel UI"
Description

Build a rendering UI for displaying ecoscore knowledge panels

Demo
[On a local machine]:

Search for a product
Click on the result to open product page
Click on the eco-score
See the knowledge panel UI

[2021-08-31 15:51] #531 closed, assigned to nobody

[2021-08-31 15:52] #532 closed, assigned to nobody

[2021-08-31 15:59] slava-sh opened #556 "Add search history to the search panel"
Epic: #

### Description
Add search history to the slider up search panel

### Acceptance criteria
Recent search queries should be displayed when the search panel is open

### What would a demo look like
* Open the app on the home screen
* Tap on the search field
* Search for an item
* Go back to the home screen
* Tap on the search field
* See the earlier search query displayed under the search fi

[2021-09-01 07:56] CharlesNepote opened #2678 "Crash when selecting search result"
A user is reporting: "_The app crashed i iPhone12 when searching product “Rårörda lingon” i get one hit, then click the item. The app crashes. The same happens for my colleague._"

I wasn't able to reproduce the bug on an iphone 10 (with French interface).

[2021-09-01 08:58] teolemon commented on #2678
Thanks for the report. Please make sure to add labels to your reports whenever you can.

[2021-09-01 21:52] gspencergoog commented on #516
@teolemon I think I'd like to take a stab at this one.

Should I add questions to the design doc, or here?

[2021-09-01 21:57] teolemon commented on #516
The design doc is better for fast interactions and reformatting I'd say

[2021-09-02 12:01] teolemon opened #558 "Knowledge panels - Eco-Score - Equivalents widget"
### What
- Client side part of https://github.com/openfoodfacts/openfoodfacts-server/issues/5499

### Part of
- #499

[2021-09-02 17:15] darrenaustin commented on #524
@teolemon, If no one else has started on this, I wouldn't mind taking a stab at it.

[2021-09-02 17:31] monsieurtanuki commented on #524
@darrenaustin So far I've only played with the SVG files on a blue background - cf. my previous comment.
Go ahead!

[2021-09-02 17:53] Piinks commented on #543
@teolemon I'd like to work on this alongside some of the graceful fail states I mentioned today. :)

[2021-09-03 17:40] teolemon opened #561 "🐣 The app should onboard users (Tracker)"
### Who for
- Users
### What
- People skim through the onboarding
- The slick animation in the first one is not here
- The scores look weird
- It's not obvious that you can tap on the cards to deep dive
### Tasklist
- [ ] Add an explanation about the scores and what they mean
- [x] the collaborative nature of the app (it's easy to get a score and transform the food system)
  - [ ] Explanations abo

[2021-09-04 09:47] teolemon opened #562 "Add a credits page"
Add a credits page to credit:
- [ ] contributors
- [ ] opensource package and libraries we use
This should be easily updatable.

[2021-09-04 11:56] M123-dev commented on #562
We already have something similar ("About this app", in the settings) but without the contributors. The licenses are automatically collected by flutter.

[2021-09-05 16:32] monsieurtanuki commented on #470
I've just run tests with `hive` (compared to `sqflite`):
* the tests are a loop of 10 iterations
* open the "database"
* in the case of `hive`, open the "product" box either as a "standard" box or a "lazy" box (separate tests)
* insert 1000 fake products with unique keys ("bulk insert" for sqflite)
* close the database

As I suspected the main problem with `hive` is the time it takes to open the d

[2021-09-05 19:57] M123-dev commented on #470
@monsieurtanuki thanks for the information. I am a fan of caching as such but I think with this performance we might not need caching on the web at all. The benchmarks you gave seemed rather daunting and I don't think it bringt that much of an advantage to the potential web users.

If I'm right, it shouldn't be that much extra work to check the platform in the Dao classes and some smaller things l

[2021-09-06 09:35] monsieurtanuki commented on #470
Hi @M123-dev! I've just tested `SharedPreferences` too, and it's incredibly slower than `hive` (around 200ms per product insert - compared to 1ms!!!)

I do think it could be interesting to switch both SharedPreferences and sqflite to hive, and as already mentioned that could be painless because restricted to `Dao*` classes. And in that case the app and code would be the same for smartphones and we

[2021-09-06 12:16] slava-sh commented on #556
Done in https://github.com/openfoodfacts/smooth-app/pull/560

[2021-09-06 12:16] #556 closed, assigned to slava-sh

[2021-09-06 17:25] teolemon commented on #454
it's a signature issue. I didn't manage to renew the certificate

[2021-09-07 07:14] teolemon commented on #454
[code]

[2021-09-07 07:15] teolemon commented on #454
[code]
Match file changes

[2021-09-07 07:17] teolemon commented on #454
[code]

![image](https://user-images.githubusercontent.com/1689815/132301181-f2b1e767-ba01-42b9-b722-9e32eb7b5f4b.png)

![image](https://user-images.githubusercontent.com/1689815/132301125-03a80de8-3adc-4044-b5bd-210ec182b519.png)
when doing a CertSigningRequest

[2021-09-08 10:18] teolemon opened #566 "dartdoc: ailed: NoSuchMethodError: The getter 'name' was called on null."
Deployment of the docs to GitHub pages is failing: https://github.com/openfoodfacts/smooth-app/runs/3537687710

[code]

[2021-09-08 16:04] #407 closed, assigned to nobody

[2021-09-08 19:48] stephanegigandet commented on #551
It would be great if we could trigger a product refresh everytime that a product page is opened (first we show the cached data, then when we get the response, we update it).

[2021-09-09 07:21] monsieurtanuki commented on #551
@stephanegigandet I think we've already talked about automatic refresh in other issues, without deciding anything in the end.
I'm not a big fan of a constant need of fresh data, for data that is not supposed to be refreshed that often.
Especially given the size of the downloaded verbose data for each single product: if the point of the app is to retrieve the ecoscore and the forest footprint, that

[2021-09-09 13:11] M123-dev commented on #566
It worked again for newer commits

https://github.com/openfoodfacts/smooth-app/runs/3546887126
https://github.com/openfoodfacts/smooth-app/runs/3547272646

[2021-09-09 13:11] #566 closed, assigned to nobody

[2021-09-10 19:31] justinmc commented on #483
I'm able to reproduce this on my iPhone 7 running iOS 14.7 fairly consistently.  I'll try to take a look at what's causing it.

https://user-images.githubusercontent.com/389558/132907350-1aa35d0a-f7a2-4e4f-9876-9708d617efb4.mp4

[2021-09-10 19:35] justinmc commented on #483
There is a frequent error in the logs when switching to the history page.

<details>

<summary>Error</summary>

[code]

</details>

[2021-09-12 11:26] M123-dev opened #573 "Decide for a caching level"
A big question that is in the air right now is how we want to cache products and I think it would be good if we solve this question as early as possible. Especially for https://github.com/openfoodfacts/smooth-app/issues/470#issuecomment-913501458

At the moment we cache the products in sqflite and show a snackbar on the product page with the time since caching and a refresh button.  The only probl

[2021-09-12 11:31] M123-dev commented on #573
Regarding the number of cached products which is interesting for the choice of db for web and probably for the whole app.

Offline scanning (#18) got a bit out of sight but if we implement this feature (with sliced data sets) how many products can we expect?

[2021-09-12 11:48] M123-dev commented on #345
Fixed by https://github.com/openfoodfacts/smooth-app/commit/204747cd2484dfac9a580b25f3f826451d773989

[2021-09-12 11:48] #345 closed

[2021-09-12 13:40] monsieurtanuki commented on #573
@M123-dev That's 100% relevant: if we find out that we would be better off with another database system, it's better to acknowledge that before the app actually goes live.

Not really "at the moment": it's only in non-merged-yet #571, and the snackbar is not systematic - only when the staleness is longer than 5 minutes (which could be set longer or in the end-user preferences).

I already evoked t

[2021-09-12 17:14] M123-dev commented on #573
Yes I know, I had now described the behavior before the PR since it does not change the fundamental behavior that much.

Ohh that would of course be a reason against using the last edit time, but if we decide for such a kind of caching behavior then it probably won't be a problem to find / build an alternative for it.

LRU with maybe an exception for products which are stored in lists should do th

[2021-09-13 07:28] stephanegigandet commented on #573
I really think we should change that so that we always try to refresh the data that we show to users. e.g. when a user scans a product, we refresh it, when an user opens a product page, we refresh it, when an user accesses the history, we refresh it.

The cache is just to show something faster (and then we update it if needed when we get the results back), or to offer a good experience when there

[2021-09-13 09:01] monsieurtanuki commented on #573
@stephanegigandet That would mean that #571 should be dismissed, am I correct? (no problem, just checking)
And the concept of stale or fresh data would not be a priority either, as we should refresh a product each time it's accessed by the end-user, am I correct?

[2021-09-13 11:04] stephanegigandet commented on #573
@monsieurtanuki Right, I think it would make things simpler and provide a much better user experience. It's more like most other apps do things: they always refresh, and in the mean time they display what they had previously (if anything).

[2021-09-13 14:21] stephanegigandet commented on #348
To turn off / turn on personal ranking, we could use a slider like on the web site:

![image](https://user-images.githubusercontent.com/8158668/133100817-81937965-ac06-4168-8941-0806df3bd721.png)

[2021-09-13 15:48] monsieurtanuki commented on #551
Will be solved by systematic refresh from the backend as stated in #573.

[2021-09-13 18:32] justinmc commented on #483
I was able to reproduce the above error using a very simple app that didn't really include much code from Smoothie.  I've filed a bug with Flutter: https://github.com/flutter/flutter/issues/89995

My next step is to confirm whether or not this error is related to the app freezing.

[2021-09-13 18:33] M123-dev commented on #573
Okay that means we have a caching strategy.

For now, I'd say go with the last edited time stack so we have the basic logic in place, but we should definitely switch to a ETag later. @stephane are you taking care of that server side?

-----

Now it's about how much we leave cached.
I would definitely keep the products which are stored in lists (user lists, not history) cached and then maybe up to

[2021-09-13 20:36] #480 closed, assigned to nobody

[2021-09-14 13:22] teolemon opened #575 "Beautify the product addition page"
### What
- [ ] 1st screen
  - [ ] Make the color of the button coherent with the rest of the UI
  - [ ] Tweak the text to be more inspirational possibly with emojis 🤳🥫
- [ ] 2nd screen
  - [ ] Add margin around the edges
  - [ ] Add the possiblity to add at least the product name (we don't have any other way to get it, unlike weight, brand or other things)

### Current screenshots
![image](https:/

[2021-09-14 14:45] stephanegigandet commented on #573
Eventually, yes, but as @monsieurtanuki said, if we always refresh when we show something, then proactively refreshing everything is not really needed. The ETag feature would save a few bytes though as we could just return a 304 or something if the product has not changed when we try to refresh.

I filed an issue on the server to track it: https://github.com/openfoodfacts/openfoodfacts-server/issu

[2021-09-14 15:51] monsieurtanuki commented on #573
Just for the record it's not what we do with [osmdroid](https://github.com/osmdroid/osmdroid) (openstreetmap library on Android): map tiles have an expiry date, and we refresh them only when they are accessed and expired. Typical freshness duration is one week.

But here it's not osmdroid, I know ;)

The ETag solution is elegant, and would save more than a few bytes as a product weights 10Kb.

[2021-09-14 21:19] sentry[bot] opened #576 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-ANDROID-2](https://sentry.io/organizations/openfoodfacts/issues/2648922560/?referrer=github_integration)

[code]

[2021-09-14 21:19] teolemon commented on #576
This is the first Sentry reported error.

[2021-09-15 20:15] justinmc commented on #483
https://github.com/flutter/flutter/issues/89995 has been fixed and the error is gone from Smoothie (when running on Flutter's master channel), however, the freeze still happens, and there is a new error:

[code]

[2021-09-16 12:43] teolemon opened #5242 "Automate the release of Open (Beauty/Pet Food/Products) Facts for (Android/iOS) using Fastlane"
### Who for
- iOS users of Open Beauty Facts, currently stuck on the Cordova version
- New people looking for the app

### What
- In this repo we are able to deploy Open Food Facts to iOS and Android
- The only slight issue is that the Signing key for the Open Beauty Facts Android version is different that the Open Food Facts Android version
- Open Pet Food Facts and Open Products Facts for Androi

[2021-09-17 12:41] slava-sh opened #579 "Client-side attribute matching might be inconsistent with the server"
### What
Looking at the server code for the [nutrient levels], `$match` is `20` and the icon is `nutrient-level-$nid-medium.svg` when `$value` is `$high`:
[code]

However, on the client, `match == 20` is [mapped] to `lowestMatchResult`.

This seems to be inconsistent.

[nutrient levels]: https://github.com/openfoodfacts/openfoodfacts-server/blob/188f84cd4417f0420bb260424db531e03a1a6f71/lib/Product

[2021-09-18 21:58] #551 closed, assigned to nobody

[2021-09-18 22:00] M123-dev commented on #178
Discussed in #573, will be solved

[2021-09-18 22:00] #178 closed

[2021-09-23 10:29] teolemon opened #583 "App Store checklist"
- [ ] iPhone  12
- [ ] iPhone 5,5 pouces.
- [ ] iPad Pro 12,9 pouces (2e génération).
- [ ] iPad Pro 12,9 pouces (3e génération).
- [ ] Confidentiality statement
- [ ] Contact information
- [ ] Copyright information

[2021-09-23 10:44] monsieurtanuki commented on #583
For the record, about the iOS screenshots, the simulators I chose for my own app:
* 6.5" - iPhone 11 Pro Max (1242x2688)
* 5.5" - iPhone 8 Plus (1242x2208)
* ipad Pro (12.9") (4th generation) (2048x2732)

[2021-09-23 16:12] M123-dev opened #584 "Add Github Releases automation"
Create a release on Github Releases for every new version

- [ ] Add release android APK as artifact

cf: [off-dart implementation](https://github.com/openfoodfacts/openfoodfacts-dart/blob/03411d1f2d4f35a71951c331cfa3c7da70c1fcde/.github/workflows/release.yml#L60)

[2021-09-24 23:23] justinmc commented on #483
I've fixed the new error in https://github.com/openfoodfacts/smooth-app/pull/588, but the freezing still happens...

[2021-09-24 23:25] justinmc commented on #483
This is a bug in the [qr_code_scanner](https://pub.dev/packages/qr_code_scanner) package.  I've reproduced it in a very simple app outside of Smoothie.  I filed an issue (https://github.com/juliuscanute/qr_code_scanner/issues/425) on that repo and will follow up with anyone that chimes in there.

In the meantime I'm unassigning myself until we get word on whether it's fixable in that package.

[2021-09-26 14:57] M123-dev opened #591 "Fix SmoothSimpleButton color"
Currently the `SmoothSimpleButton` uses colorScheme.secondary as color, this is currently not in use and does not match the selected app style.

cf:
https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_ui_library/lib/buttons/smooth_simple_button.dart#L21

[2021-09-27 10:55] teolemon opened #592 "Get the actual value instead of the tag for the "Similar foods" button"
### What

- [ ] Get the actual value instead of the tag for the "Alternatives" button

![image](https://user-images.githubusercontent.com/1689815/134895469-684c50a8-f624-4cfd-a4cf-640cd91b33a3.png)

### How

- [ ] a new API (see https://github.com/openfoodfacts/openfoodfacts-server/issues/5770)
- [ ] misusing the autocomplete API

### Part of
- Product Page

[2021-09-27 11:05] teolemon opened #593 "Remove the temporary history button"
- [ ] Remove the temporary history button so that it does not become permanent

![image](https://user-images.githubusercontent.com/1689815/134896801-cc8c08d6-72d6-44d1-bfcb-263feaa44c15.png)

[2021-09-27 11:09] teolemon opened #594 "The text of the scan card is not legible in dark mode"
### What

- [ ] The text of the scan card is not legible in dark mode

### Screenshot

![image](https://user-images.githubusercontent.com/1689815/134897271-bfccdf97-3c05-4905-a0e9-2fe7e79ccb54.png)

[2021-09-28 07:40] stephanegigandet commented on #592
The localized name of the categories is already available in the API call that the app makes to load the product, there is no need for a new API (and we should not make an extra API call) for this specific case.

[2021-09-28 11:24] teolemon opened #602 "iOS release failed due to incorrectly bumped version number"
### What

- iOS release failed due to incorrectly bumped version number

### What we can do

- On the classic apps, we auto-increment the version number.
- It would be nice to coordinate that with release please.
### Logs

[code]

[2021-09-28 13:31] teolemon commented on #602
@M123-dev could you have a look ? It seems that version bumping is not working.
https://github.com/openfoodfacts/smooth-app/blob/develop/.github/workflows/ios-release.yml
I'm not sure it's because we should change the name of the branch, of for some other reason

[2021-09-28 18:08] #593 closed, assigned to monsieurtanuki

[2021-09-29 16:40] #592 closed, assigned to nobody

[2021-10-03 19:00] teolemon opened #607 "Just like in the product page alternatives section, use the translated value for the category name"
### What
Just like in the product page alternatives section, use the translated value for the category name

### Code pointer for the similar issue that's been solved
https://github.com/openfoodfacts/smooth-app/pull/601/files

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/135767695-dbc27ddd-04af-48e8-bd82-a0284ef59bbb.png)

[2021-10-03 19:17] teolemon commented on #419
- @M123-dev I added support for password reset to the issue.
- @monsieurtanuki historically, we allowed anonymous new product addition. We could also allow photo upload without much risk. Finally, we added Anonymous UUID for those cases in the classic apps.
- If the user is logged in, all WRITE actions with the user (edit / img upload…). READ action do not need to be authed.
- On the classic apps,

[2021-10-03 19:31] teolemon opened #608 "Allow Smoothie to handle openfoodfacts.org links"
### Who for
- Potential users
- Current users

### What
- [ ] Allow Smoothie to handle openfoodfacts.org links
  - [Design doc with links to implementations in the classic apps](https://docs.google.com/document/d/1oBiEyQmMtQMkZpQxIcoTdh33iNuBfISnO1gVmfWA2qU/edit#)

### Why
- Convenient for existing users
- Chrome might propose app install as a result after a few visits.
- Google Search might propo

[2021-10-03 20:13] M123-dev commented on #608
From my limited knowledge, I believe that we would have to change our entire navigation for this (it shouldn't be such a big problem)

-  cf: #260

[2021-10-08 12:14] slava-sh opened #613 "Build failing due to the duplicate definition of _buildSmoothCard()"
`flutter run` fails with the following error due to the duplicate definition of `_buildSmoothCard()` in [new_product_page.dart](https://github.com/openfoodfacts/smooth-app/blob/ba37f1e62d31021328b05803b277c39d5422beda/packages/smooth_app/lib/pages/product/new_product_page.dart#L424-L456):
[code]

We should introduce presumit checks to avoid merging changes that break the build.

[2021-10-08 13:57] teolemon commented on #602
fixed for now

[2021-10-08 14:04] M123-dev commented on #602
Thats good @teolemon, I've lost track of it a bit, as I'm currently more focused on connecting the release with release please right now

[2021-10-08 15:50] teolemon opened #616 "Layout issue in the scan card due to the French translation"
### What
- [ ] Layout issue in the scan card due to the French translation

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/136586535-f4b8ae0a-841e-4910-afa6-3e4dd6e13ace.png)

### Part of
- #526

[2021-10-13 06:27] teolemon commented on #537
Work going on at https://github.com/openfoodfacts/fastlane-descriptions-smoothie

[2021-10-13 19:05] #594 closed, assigned to nobody

[2021-10-15 06:48] monsieurtanuki commented on #19
As far as I've understood the issue, fixed by #183.

[2021-10-15 06:48] #19 closed

[2021-10-15 11:27] teolemon opened #625 "Grey card where the Knowledge panels should be"
- [ ] Grey card where the Knowledge panels should be
- [ ] Potentially related to the langcode my phone is sending (potentially fr_rFR?)
- [ ] We should fail graciously in those cases (the intl version, and if even that fails, a message, with a white background)

![image](https://user-images.githubusercontent.com/1689815/137479856-92d35a11-d988-41ef-a299-6bc776efa3fb.png)

cc @stephanegigandet @ja

[2021-10-15 11:57] teolemon opened #626 "Refresh Fastlane"
# fastlane 2.196.0 is available. You are on 2.192.0.
# You should use the latest version.
# Please update using `bundle update fastlane`.

[2021-10-15 12:52] M123-dev commented on #626
Already in progress in #611

[2021-10-16 07:48] #562 closed, assigned to nobody

[2021-10-18 11:27] #591 closed, assigned to Piinks

[2021-10-18 17:58] teolemon commented on #626
thanks, closing

[2021-10-18 17:58] #626 closed, assigned to nobody

[2021-10-20 09:06] jasmeet0817 commented on #625
This is because the API response doesn't yet fully match how the client expects it, once the API is complete, Stephane will let me know and I'll ensure the client and server are in sync.

[2021-10-21 09:38] monsieurtanuki opened #628 "Fragile interface when scan API call throws exception"
(it happened this morning: does it show on Sentry?)

**Describe the bug**
A couple of bugs this morning:
1. Scanning a barcode => trying to find the given barcode in the API => endless progress loop, while there were `CERTIFICATE_VERIFY_FAILED` messages in the logs
2. Keyword search ("nutella") => almost immediate screen error about `CERTIFICATE_VERIFY_FAILED`

**To Reproduce**
Steps to reproduce

[2021-10-21 09:44] stephanegigandet commented on #628
@monsieurtanuki It doesn't happen for me, does it still happen for you?

If it does, maybe your phone is affected by this: https://github.com/openfoodfacts/openfoodfacts-infrastructure/issues/65

[2021-10-21 10:03] monsieurtanuki commented on #628
@stephanegigandet Good point: I tested with my old smartphone.
Now I've just tested with an Android emulator, and everything is fine on the emulator.

That said, the current issue, beyond the alarming CERTIFICATE_VERIFY_FAILED message, was also about "what do we do when something ugly happens with the API?".
For instance, I still think an error message should be displayed immediately instead of an

[2021-10-21 11:10] #607 closed, assigned to monsieurtanuki

[2021-10-23 16:43] #584 closed, assigned to M123-dev

[2021-10-26 07:21] #628 closed, assigned to nobody

[2021-10-26 07:56] monsieurtanuki opened #633 "Refactoring: library versions in both packages"
I'm not a big fan of a separate package called `smooth_ui_library`, but it does exist in addition to `smooth_app`, fair enough.

Something annoying is that in their `pubspec.yaml`s we reference sometimes the same libraries, but not always the same version number.
This currently affects two libraries:
[code]

I suggest that we use each library only in one package, in order to avoid confusion.

[2021-10-26 10:30] #616 closed, assigned to monsieurtanuki

[2021-10-26 11:47] jasmeet0817 opened #635 "Product Carousel overflow issues"
![image](https://user-images.githubusercontent.com/7541730/138871416-c08dc651-4f8b-4081-b689-c840545b74a6.png)

[2021-10-26 11:47] jasmeet0817 commented on #635
Slava can you take this?

[2021-10-26 11:48] jasmeet0817 commented on #635
Also I think the icon sizes are too big and not uniform (Nova icon smaller than others), and not sure how this works on smaller devices.

[2021-10-26 12:00] monsieurtanuki commented on #635
Related to #340 and #397.

[2021-10-26 12:29] jasmeet0817 commented on #635
Another issue I found (probably can be a separate issue) but just documenting here,

if a product is already scanned, and scanned again, the carousel should automagically scroll to that product tile, currently there is no indication to the user the the scan was succesfull

[2021-10-26 12:34] monsieurtanuki commented on #635
That is probably relatively recent.

When I was working on the subject
* the carousel was like a stack
* with the latest scans on top (in our case to the right)
* and unique products (when scanned, a product previously scanned "disappears" from the history and goes to the top of the stack)
* you could not scan twice in a row the same product

[2021-10-27 06:27] renefloor commented on #413
@monsieurtanuki I just noticed this ticket due to the mention. I can comment on your points.

I thought it was a good idea at first, but for Windows and Linux I implemented a json file which is completely loaded into memory, so it's way faster. However, for the other platforms I still need to switch the default and make sure the existing data is migrated.
Note that sqflite is not used to store the

[2021-10-27 08:31] monsieurtanuki commented on #413
Thank you @renefloor for your answers!
Today caching is not a top priority for this project.

But beyond that the two aspects that would potentially bother me are
* the use of sqflite (and I do understand how painful tap-dancing with migrated-unmigrated-migrating data and code can be) (perhaps creating a "CacheRepository" interface implemented by both the JSON and the sqflite code, coding a sqflit

[2021-10-27 08:56] renefloor commented on #413
Yes indeed, we already have the [interface](https://github.com/Baseflow/flutter_cache_manager/blob/develop/flutter_cache_manager/lib/src/storage/cache_info_repositories/cache_info_repository.dart), [the sqflite implementation](https://github.com/Baseflow/flutter_cache_manager/blob/develop/flutter_cache_manager/lib/src/storage/cache_info_repositories/cache_object_provider.dart), [the json implement

[2021-10-27 09:09] monsieurtanuki commented on #413
The tricky part is "make sure this is _somehow_ executed _by default_", right?
My suggestion: don't do it "somehow" and "by default", make the choice and the migration explicit for developers, that will either ignore that and keep using the old sqflite version, or have an interest in migrating to JSON.

[2021-10-27 09:12] renefloor commented on #413
Yeah true. But I also kind of want to get rid of the sqflite implementation in the code and move it to a separate package, so I want to make it as easy and clear as possible. But that is indeed the tricky part.

[2021-10-29 00:10] pedr0luiz commented on #264
Hi, where this button should be placed?

[2021-10-29 14:40] jasmeet0817 opened #640 "Smoothie keeps the camera on even on screens that don't use the camera"

[2021-10-29 14:50] jasmeet0817 opened #642 "Improvements to Product Image carousel"
### What
We got feedback on the image carousel on top of the product page:

1. It was hard for the user to figure out how to add a new image.
2. I personally find the carousel not that intuitive, it's not always obvious that you can scroll right to see/add more pictures

- [x] #853

### Part of

- [ ] Photo carousel
- #525

[2021-10-29 14:50] M123-dev commented on #640
Can't reproduce it on the version from the 18th october

[2021-10-29 15:05] stephanegigandet commented on #642
For 2. the carousel_slider plugin allows to display indicators, like this one:

![image](https://user-images.githubusercontent.com/8158668/139457899-be8da658-ad26-4fa4-a4db-a1d3d19439e5.png)

That could be an option to let users know there are more photos.

For 1. maybe we could display a "Add photo" button. That would open a modal to let users pick the type of photo they want to add (ingredients,

[2021-10-29 15:07] jasmeet0817 commented on #642
Hmm those are some great ideas

[2021-10-29 15:08] jasmeet0817 commented on #640
Ah ok, was there a specific fix for this? Do you know a PR? I'm noticing this on the latest apk I installed directly with the latest code using adb

[2021-10-30 13:46] M123-dev commented on #264
@pedr0luiz maybe a floatingActionButton or a normal Button in the center, but for this issue we need to implement a new scanning page which directly adds the products to the lists.

[2021-10-30 14:08] monsieurtanuki commented on #264
@M123-dev Let me go even further and suggest this: a list of products would be seen as
* a listview of products (like  now), with a FAB that goes to the scan version (and in option an additional central text button for empty lists)
* a carousel of products with scanner (like the current scan page), with a FAB that goes to the listview version of this product list

The current scanning page would b

[2021-10-30 14:59] M123-dev commented on #264
That sounds great @monsieurtanuki , I haven't thought about showing the previous list items in the scanner. I'm just worried about how to make sure the end-user knows that the cards in the list scanner are different from those in the main scanner.

[2021-10-30 15:05] monsieurtanuki commented on #264
@M123-dev The only difference for the end-user would be the title of the page: "Scan history" (or "Default food list") and "My breakfast cereals".

[2021-11-02 10:22] jasmeet0817 opened #644 ""ABC-abc-1234" barcode drives the app in a loop"
### What
- non-stop loading spinner after scanning a product that doens't exist in DB
### Part of
### Screenshot
![image](https://user-images.githubusercontent.com/7541730/139829076-db968f02-b9e5-4d2e-80c2-972967799b07.png)

[2021-11-02 15:17] monsieurtanuki commented on #644
- Hi @jasmeet0817! Supposed to be fixed by https://github.com/openfoodfacts/smooth-app/pull/630

[2021-11-02 15:30] jasmeet0817 commented on #644
Ah perfect, thank you

[2021-11-02 17:00] greentoff commented on #642
+1 and +1, fully support both those ideas!

[2021-11-03 12:15] greentoff commented on #642
<img width="621" alt="Screen Shot 2021-11-03 at 12 13 45" src="https://user-images.githubusercontent.com/89075303/140058098-f3978c13-e61e-4d0b-87bd-50cc0adc6cbc.png">

Adding photo could be done either as a permanent button or just as the last space on the right of the carousel (eg. it's less prominent when there already are multiple photos and it's not needed to take more)

[2021-11-05 20:28] justinmc commented on #512
Played around a little bit with this today following [these mocks](https://www.figma.com/file/WXBmNSPweKqXpoSNRSQWDc/Product-Addition---Nutrition?node-id=0%3A1).  I have a bunch of questions but I'll open a WIP PR and ask them on there once the code is more complete.

<img width="446" alt="Screen Shot 2021-11-05 at 1 26 01 PM" src="https://user-images.githubusercontent.com/389558/140574259-9097c3e

[2021-11-09 18:10] monsieurtanuki commented on #644
- @jasmeet0817 If your tests with #630 are OK, would you please close this issue?

[2021-11-09 18:11] jasmeet0817 commented on #644
Hey, update on this one, it works for all devices except smaller ones (and perhaps might not work for some languages) so I'm trying another approach but it's really difficult to get this one right, I'm currently working with Greg from the flutter team for it

[2021-11-09 18:25] monsieurtanuki opened #652 "Refresh the cached vegetarian icons"
cf. https://github.com/openfoodfacts/openfoodfacts-server/pull/6061
* `assets/cache/maybe-vegetarian.svg` from https://github.com/openfoodfacts/openfoodfacts-server/tree/main/html/images/attributes/src/maybe-vegetarian.svg
* `assets/cache/non-vegetarian.svg` from https://github.com/openfoodfacts/openfoodfacts-server/tree/main/html/images/attributes/src/non-vegetarian.svg
* `assets/cache/vegetarian

[2021-11-10 07:18] monsieurtanuki commented on #652
Same thing with palm oil:
* `assets/cache/contains-palm-oil.svg` from https://github.com/openfoodfacts/openfoodfacts-server/tree/main/html/images/attributes/src/contains-palm-oil.svg
* `assets/cache/may-contain-palm-oil.svg` from https://github.com/openfoodfacts/openfoodfacts-server/tree/main/html/images/attributes/src/may-contain-palm-oil.svg
* `assets/cache/palm-oil-content-unknown.svg` from htt

[2021-11-10 08:48] monsieurtanuki commented on #644
Let's be more precise:
1. you actually scanned a barcode (you did not type in a string)
1. and this barcode was not found on the server database
2. and you saw an endless spinner

Is that correct?

[2021-11-10 09:20] monsieurtanuki commented on #652
Fixed by #653.

[2021-11-10 09:20] #652 closed, assigned to monsieurtanuki

[2021-11-11 11:11] monsieurtanuki commented on #105
- Related to https://github.com/openfoodfacts/openfoodfacts-dart/pull/289: when it's in prod, we can get the freshness of images (in seconds).

[2021-11-12 13:15] jasmeet0817 opened #655 "Launch Blocking (and nice to have) Smoothie features"
### What
- The following features are needed for smoothie launch, if you are interested in helping out, reach out to the mentioned owner or add yourself as the owner if there is none.
- If there isn't an owner, it's open and can be picked up by the community.
- If you have any questions reach out to me on slack: https://app.slack.com/client/T02KVRT1Q/D0273JQMZD0
- UX mocks -> https://www.figma.com

[2021-11-14 15:14] monsieurtanuki opened #657 "Sort attributes inside a group based on how important the attribute is for the user."

[2021-11-15 10:08] jasmeet0817 commented on #642
@greentoff sounds good.

Just a side note for the community, please ignore the widgets in the above pictures after the carousel, that was just experimental. The image carousel will change on the product page (product_page.dart and new_product_page.dart)

[2021-11-15 14:49] jasmeet0817 opened #660 "Replace the third tab on the bottom panel with a Product History tab."

[2021-11-15 14:51] #660 closed, assigned to nobody

[2021-11-15 16:05] teolemon opened #661 "Dark mode issue in scan card"
- [ ] Dark mode issue in scan card
![image](https://user-images.githubusercontent.com/1689815/141814306-2724a401-20df-46c2-89da-1dfd28f0f9ed.png)

[2021-11-15 17:05] M123-dev commented on #661
This is already fixed by https://github.com/openfoodfacts/smooth-app/pull/643 but its not yet pushed to the stores

[2021-11-18 08:01] #635 closed, assigned to jasmeet0817

[2021-11-18 08:01] jasmeet0817 commented on #635
Fixed

[2021-11-18 09:32] jasmeet0817 opened #669 "Add an onboarding flow to help new users understand navigation in the app."
### What

- Add an onboarding flow to help new users understand navigation in the app.
- Explanation of the [UX mocks](https://www.figma.com/file/lhRhMulB4Ek9NYDWl3FxAo/Fellowship-Jam-file?node-id=1273%3A6024)

### First screen - Country selection
<img src="https://user-images.githubusercontent.com/7541730/142389393-4c95dbb1-c765-4912-a43d-3543c227bc56.png" width="100">

User can select their coun

[2021-11-18 09:58] jasmeet0817 opened #670 "Update summary card to say "New product found" if the barcode is not in the database."
### What
- Update summary card to say "New product found" if the barcode is not in the database.

### Part of
- #505
### Mocks
Mocks are [here](https://www.figma.com/file/lhRhMulB4Ek9NYDWl3FxAo/Fellowship-Jam-file?node-id=155%3A1991)

![image](https://user-images.githubusercontent.com/7541730/142393479-1d856842-26bd-4b42-a630-2dd4c68f3d6c.png)

[2021-11-18 11:56] monsieurtanuki opened #671 "Reduce the number of possible preference options from 4 to 3. "Mandatory", "Important", "Don't care"."

[2021-11-18 11:59] jasmeet0817 commented on #671
Thanks @monsieurtanuki

I had a chat with Stephane, the plan here would be to collapse "Important" and "Very Important" into Important. No change in dart package. From the UI's standoint, we can keep the current behavior (show a selector with the three prefs and the user selects one of them).

[2021-11-18 13:02] monsieurtanuki commented on #671
That means we can remove #492, can't we?

[2021-11-18 13:04] jasmeet0817 commented on #671
yeah, that PR can rest in peace

[2021-11-18 13:19] stephanegigandet commented on #642
It's what we have today in fact (a button in the last space of the carousel), but most people don't see it. We do want to encourage users to take new photos as products often change. So the permanent button is better I think.

[2021-11-18 17:36] monsieurtanuki commented on #671
Closed with #672.

[2021-11-18 17:36] #671 closed, assigned to monsieurtanuki

[2021-11-18 18:09] monsieurtanuki opened #674 "Provide a deep link to the website at the bottom of the Product page for editing the product."
### What

- [ ] Provide a deep link to the website at the bottom of the Product page for editing the product

![image](https://user-images.githubusercontent.com/1689815/149304989-8e34e2ad-a34e-4ee3-9e62-13fb2a3119c7.png)

### Part of
- #503

[2021-11-18 18:12] monsieurtanuki commented on #674
@jasmeet0817 There's already a way to go to the website from the product page: a menu item called "website" or something like that.
The only difference is that you want instead a button or a text, at the bottom of the product page, that goes there, is that correct?

[2021-11-19 09:35] jasmeet0817 commented on #674
Hey, actually the button itself might already be good enough, I'll ask around. The only thing is that the button (or text) should be titled something like "Edit Product details", and the link should lead directly to the contribution page on the web.

[2021-11-19 11:15] monsieurtanuki commented on #674
For the moment the "Web" menu item launches the following URL: `https://openfoodfacts.org/product/${_product.barcode}/`

If we want a direct access to the edit page, we should use instead something like `https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=3017620422003&lc=pt&cc=br`, and that should probably be coded in openfoodfacts-dart, not in smoothie.

If you go directly to this page

[2021-11-19 13:17] M123-dev commented on #674
When I remember correctly the badge on the bottom of the screen was supposed to be only be shown when the user is logged in in Smoothie and that the credentials get passed to the website so that you are already logged in. When doing it like this we would have to wait until login is implemented.

[2021-11-19 13:29] M123-dev commented on #661
Now the fix got pushed

[2021-11-19 13:29] #661 closed, assigned to nobody

[2021-11-19 13:56] #602 closed, assigned to nobody

[2021-11-19 14:06] M123-dev commented on #403
We switched to a new card

[2021-11-19 14:06] #403 closed, assigned to nobody

[2021-11-19 14:09] M123-dev commented on #344
Yes, it has been kept, here it is if we need it in the future, but since we agreed on another design anyway it is probably irrelevant

[code]

[2021-11-19 14:09] #344 closed

[2021-11-19 14:10] M123-dev commented on #454
Working again

[2021-11-19 14:10] #454 closed, assigned to nobody

[2021-11-19 14:11] M123-dev commented on #190
Is this still a thing, can anyone test

[2021-11-19 19:22] monsieurtanuki commented on #674
@M123-dev In that case it does look like we have to wait until login is implemented.

[2021-11-21 10:16] M123-dev commented on #561
- Mocks in #669

[2021-11-22 08:49] monsieurtanuki commented on #657
Done in #658 and #665.

[2021-11-22 08:49] #657 closed, assigned to monsieurtanuki

[2021-11-22 12:16] jasmeet0817 commented on #674
Hello sorry for late reply (I'm OOO this week),

So we discussed these concerns already. This was what I remember

1. First of all this is a stop gap solution, ideal case would be to have login implemented and even contribution via the app itself, but since we don't have contribution we want to at least give a chance to the users to update the product, even if it's a cumbersome (and annoying) one.

[2021-11-22 14:13] monsieurtanuki commented on #674
@jasmeet0817 I guess it will be less cumbersome to land on the OFF read-only web product page (that has an obvious "Edit" button) than to land on a login page that has no obvious relationship with the product (except the barcode written somewhere), no access to the read-only page and no way (for the moment) to pass the login/pwd from smoothie to the web browser.

The best we can do now is to move

[2021-11-22 14:27] monsieurtanuki opened #678 "Make bottom navigation bar sticky (it should be available on every page)."

[2021-11-22 14:30] monsieurtanuki commented on #678
For the moment there are 3 bottom tabs in the home page: preferences, scan and history. Only one is selected at a given time.
There's no such bottom navigation bar for a product page. But in that case which tab should appear selected? The latest one? None of them?

[2021-11-22 15:53] jasmeet0817 commented on #678
Oh btw, in case you didn't start working on this, I already have a solution. But if you did, then go for it

[2021-11-22 15:56] monsieurtanuki commented on #678
I've already PR'ed (#679). But anyway it took me about one hour - if eventually your solution is to be used instead that wouldn't be such a problem.

[2021-11-22 16:20] jasmeet0817 commented on #678
Will have a look tomorrow 👌🏽

[2021-11-25 08:53] monsieurtanuki opened #681 "Make tabs stateful. I.e., if you navigate away from a tab and come back you should come back to the state in which you left the tab. Clicking on the tab again should reset the tab state."
cf. https://github.com/openfoodfacts/smooth-app/pull/679#discussion_r756649430 by @jasmeet0817:

* Navigation bar becomes sticky
* If the user goes into a tab and clicks around (example: opens the product page from history tab), he is still in that tab, just browsing
* Tabs are sticky, so lets say a user is on the "Product page" from the "History tab", he clicks on "Preferences tab", then clicks b

[2021-11-25 08:56] monsieurtanuki commented on #678
Done in #679.

[2021-11-25 08:56] #678 closed, assigned to monsieurtanuki

[2021-11-25 09:30] monsieurtanuki opened #682 "Add a "Clear all" button in the Product history page."

[2021-11-25 10:47] teolemon opened #684 "Dark mode (Tracker issue)"
### Who for
- Users in dark mode
### What
- [x] #2489
- [x] #2474

### Solved
- [x] #1826
- [x] #1214
- [x] #919
- [x] Unlegible summary card in dark mode https://user-images.githubusercontent.com/1689815/143427603-aa13d96d-94c9-4f52-8335-356016a19499.png (Fixed by @monsieurtanuki  in #684)
- [x] #1218
- [x] #1040
- [x] #1043
- [x] #1257
- [x] #1215
- [x] #875
- [x] #1386
- [x] #1387
### Part of
-

[2021-11-25 10:51] teolemon opened #685 "History instantly crashing on iOS and Android"
### What
History instantly crashing on iOS and Android (video in a sec)
### Video
https://user-images.githubusercontent.com/1689815/143428486-5e036ab0-f581-4cc6-9287-d8f7f898d7fe.mp4

[2021-11-25 10:57] monsieurtanuki commented on #685
@teolemon Any log, possibly via Sentry?

[2021-11-25 11:00] sentry[bot] opened #686 "_CastError: Null check operator used on a null value"
Sentry Issue: [SMOOTHIE-ANDROID-JQ](https://sentry.io/organizations/openfoodfacts/issues/2791647986/?referrer=github_integration)
### What
[code]

### Part of
- [ ] Photo carousel

[2021-11-25 11:01] sentry[bot] opened #687 "_Exception: Exception: no product for barcode 9135720000775320488"
Sentry Issue: [SMOOTHIE-ANDROID-1R](https://sentry.io/organizations/openfoodfacts/issues/2674638526/?referrer=github_integration)

[code]

[2021-11-25 11:05] teolemon commented on #685
I've opened two new issues from Sentry. Possibly this one: https://github.com/openfoodfacts/smooth-app/issues/687

[2021-11-25 11:56] monsieurtanuki commented on #687
@teolemon Could not reproduce it. Is that systematic? And where the hell does `9135720000775320488` come from: is that a product you created?

Perhaps a "bad luck" bug, as in product list there are 3 fields...
* `List<String> barcodes`
* `Map<String, Product> products`
* `Map<String, ProductExtra> productExtras`

... and maybe at the moment you go to the page, while loading the product list and be

[2021-11-25 13:28] monsieurtanuki commented on #686
For what it's worth, there's a potential fix for the crash in `SmoothProductCarousel`:
[code]

With that, no crash.
Will the animation take place eventually: I don't know.
Unfortunately I cannot really test that because 1. my smartphone is too old to use https queries (at least with smoothie) and 2. with the emulators I haven't tested how to scan (and anyway my computer is already slow enough).

[2021-11-25 17:12] monsieurtanuki commented on #687
Automatically closed...
I've just reopened it, as I'm not sure my fix (which was a safer code anyway) was good enough.
It's merged now (#689): please @teolemon @M123-dev try to reproduce the crash with that new code.

[2021-11-25 17:17] monsieurtanuki opened #691 "Fix golden tests, or understand why/how they fail"
cf. #679 #683 #689

[2021-11-25 17:20] #682 closed, assigned to monsieurtanuki

[2021-11-25 17:40] monsieurtanuki commented on #691
The problem comes from #679, where I've explicitly added the bottom navigation bar in some pages, e.g. in `UserPreferencesPage`.
And the golden screenshots were created from the old version of `UserPreferencesPage`, without bottom navigation bar (the home page displayed `UserPreferencesPage` plus the bottom bar).
I'm about to PR.

[2021-11-25 17:58] #691 closed, assigned to monsieurtanuki

[2021-11-25 22:34] teolemon commented on #687
Still crashing here. Going to look into additional traces.

[2021-11-26 07:21] monsieurtanuki commented on #687
@teolemon I still find that barcode `9135720000775320488` fishy. Do you know where it comes from?

[2021-11-27 09:23] teolemon commented on #687
No idea, It's something that I scanned, somehow (like those special logistic barcodes)
Exactly the same trace as before.

[2021-11-27 09:24] teolemon opened #694 ""Support" link does not work in settings (None of the links actually)"
- [ ] "Support" link does not work in settings. Tapping on it does not do anything.
- [ ] "Start translating"
- [ ] "GitHub" "Slack"
- [ ] "Products to be completed"
- [ ]

### Part of
- [ ] Settings

[2021-11-27 09:26] teolemon commented on #684
I'm reopening, it's meant to track issues over time

[2021-11-27 11:28] monsieurtanuki commented on #687
@teolemon I think I understand what's going on.
One day you scanned your blablabla barcode. That obviously did not match a product. But still, you did scan that barcode.
In the database we store the fact that you scanned that barcode at that moment. But we cannot store a corresponding product.
And in the product list, we want a list of actual products, not a list of potentially failed attempts to

[2021-11-27 13:31] monsieurtanuki commented on #687
Automatically closed again...
I reopen it: @teolemon would you please test again, with #696 being merged? There might be useful logs printed - and no more crash.

[2021-11-27 13:37] teolemon opened #697 "Folksonomy Engine in the mobile app (Tracker issue)"
### What

### Tasks

- [ ] #5861
- [ ] #5854
- [x] #6019
- [ ] #6023
- [ ] Allow to explore the Folksonomy properties and values
- [ ] Make values that are URLs clickable in the Folksonomy Engine (we should eventually have a server side check to avoid spam, or harmful links)

### Screenshot
<img src="https://github.com/user-attachments/assets/cfd2d134-e365-431b-963e-19faa886eff3" height="400px"> <

[2021-11-27 14:05] #694 closed, assigned to M123-dev

[2021-11-27 14:24] teolemon commented on #685
fixed @monsieurtanuki

[2021-11-27 14:24] teolemon commented on #687
fixed @monsieurtanuki

[2021-11-27 14:43] monsieurtanuki commented on #687
That's good news @teolemon!

There are maybe some fine-tunings to code later as we are in a grey zone with the carousel
1. initially loaded with scanned barcodes _with_ products (that's the #696 fix)
2. but with additional scanned barcodes potentially with no matching products

While we're in a session, the carousel will (probably) display the barcodes with no products (as "not found"), but when w

[2021-11-27 15:21] teolemon opened #699 "Smoothie tries to copy paste from clipboard on launch"
### What
- Android now notifies you when an app is attempting to copy paste from clipboard.
- I did receive after update, on launch, that Smoothie tries to copy paste from clipboard on launch.
- This is probably not needed, and is needlessly spooking users on privacy.

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/151044185-f32ac13c-717d-452f-83b0-da5f67a04372.png)

###

[2021-11-27 15:36] monsieurtanuki commented on #685
Fixed by #696.

[2021-11-27 15:36] #685 closed, assigned to nobody

[2021-11-27 16:08] teolemon opened #700 "Let users log into Smoothie"
### What
Let users log into Smoothie
https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/DOCUMENTATION.md#check-login-data

### Part of
- #419

[2021-11-27 16:09] teolemon opened #701 "Implement password reset inside Smoothie"
### What
Implement password reset inside Smoothie

### Part of
- #419

[2021-11-27 16:09] teolemon opened #702 "Implement Open Food Facts contribution signup inside Smoothie"
### What

- [ ] Implement user registration inside Smoothie
  - [ ] Leverage the support in openfoodfacts-dart
    - [ ] https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/DOCUMENTATION.md#register-a-new-user
    - [ ] https://github.com/openfoodfacts/openfoodfacts-dart/blob/f7b254e80a339c37ce85a1ad7d9f8bc9978be9d8/lib/openfoodfacts.dart#L713
- [ ] Here's the visual/code reference the

[2021-11-29 17:24] M123-dev commented on #640
I found out what you mean, I just checked the other pages on the bottomNavigationBar, but yes when on search or the product page the camera stays on

[2021-12-02 23:20] Piinks commented on #529
Screenshot testing was added in #557, and it runs on every PR. I am not sure if every desired screen has an image associated with it, enumerating them here would allow us to account for each one.

[2021-12-06 08:28] monsieurtanuki commented on #700
I suppose we'll have to store the password locally.
How do you guys do that in the 100% Android app? I mean, storing it in clear in the preferences wouldn't be 100% safe. Unless we assume that we can survive if an OFF account gets hacked.
@stephanegigandet @teolemon ?

[2021-12-06 12:30] M123-dev commented on #700
@monsieurtanuki , that's a further reason why I'd recommend Hive (doesn't matter if for all or only for preferences and this). It has some basic encryption at it's core but it also has secured Boxes where you can provide some further encryption. But we'll have to check how it really works

[2021-12-06 12:49] monsieurtanuki commented on #700
@M123-dev We did share views about databases in general and `hive` more specifically in #470. The issue is on the shelf as it did not draw that much interest, unfortunately. Which is a pity _before_ Smoothie actually goes live, because changing DBs on a live app is quite a challenge!
That being said, we're talking about open source code: the cyphering algorithm can be read by everybody. And I don'

[2021-12-06 13:00] M123-dev commented on #700
Yes I know @monsieurtanuki we should probably reactivate the discussion...

On Android, we can decide where to store the data

- public: In the open file system
- private: Only accessible by the app itself and the user
- secured: Even hidden from the user

(They are named differently and this doesn't apply for rooted devices)

The DB is very likely in private and the preferences in secured so I do